{%- style -%}

  .section-{{ section.id }} {}
  .section-{{ section.id }}-padding {
    max-width: {{section.settings.section-width}}rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding: 0 5rem;
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  p {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  
  .feature-logo-row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }
  
  .feature-logo-row-block {
      background-color: white;
      flex: 1;
      max-width: 500px;
      min-width: 450px;
      margin: 10px;
      display: flex;
      border: solid 1px #efefef;
      height: auto;
      padding: 20px;
      text-align: left;
      transition: 0.2s;
      border-radius: 4px;
      position: relative;
      align-items: center;
      color: white;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  }
  
  .feature-logo-row-icon {
      margin-right: 30px;
      height: {{section.settings.icon-size}}px;
    }
  
  .feature-logo-row-header {
      margin: 15px 0px 5px 0px;
      font-size: {{section.settings.block-title-size}}px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-style: normal;
      font-weight: 600;
      line-height: 1.2;
      color: {{section.settings.block-title-color}};
  }
  
  .feature-logo-row-subtext {
      font-size: {{section.settings.block-subtitle-size}}px;
      color: black;
      line-height: 1.4;
      margin: 5px 0px;
  }
  
  @media (max-width: 680px) {
      .feature-logo-row-block {
          flex-direction: column;
          justify-content: center;
          padding: 20px;
          min-width: 100%;
          text-align: center;
      }
      .feature-logo-row-icon {
          margin-right: 0px;
      }
      .feature-logo-row-header {
          text-align: center;
      }
      .feature-logo-row-subtext {
          text-align: center;
          margin-bottom: 5px;
      }
  }

{%- endstyle -%}

<div style="background-color:{{section.settings.background-color}};">
  <div class="section-{{ section.id }}-padding">
      <h1 style="text-align: center; padding: 20px"> {{ section.settings.heading }} </h1>
      <div class="feature-logo-row">
        {% for block in section.blocks %}
          <div class="feature-logo-row-block">
            <img class="feature-logo-row-icon" src="{{block.settings.icon | img_url }}" alt="{{ block.settings.icon.alt }}">
            <div class="feature-logo-row-text">
              <p class="feature-logo-row-header"> {{block.settings.header}}</p>
              <div class="feature-logo-row-subtext"> {{ block.settings.subtext }}</div>
            </div>
          </div> 
        {% endfor %}
      </div>
  </div> 
</div>

{% schema %}
{
  "name": "SG-Feature #6",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "heading"
    },
    {
      "type": "range",
      "id": "icon-size",
      "min": 40,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Icon size",
      "default": 60
    },
    {
      "type": "range",
      "id": "block-title-size",
      "min": 12,
      "max": 24,
      "step": 2,
      "unit": "px",
      "label": "Block title size",
      "default": 18
    },
    {
      "type": "range",
      "id": "block-subtitle-size",
      "min": 10,
      "max": 18,
      "step": 1,
      "unit": "px",
      "label": "Block subtitle size",
      "default": 15
    },
    {
      "type": "color",
      "label": "Block title color",
      "id": "block-title-color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Background color"
    },
    {
      "type": "color",
      "label": "Section background color",
      "id": "background-color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "Section content width"
    },
    {
      "type": "range",
      "id": "section-width",
      "min": 80,
      "max": 200,
      "step": 5,
      "unit": "rem",
      "label": "Section width",
      "default": 120
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "label": "Icon",
          "id": "icon"
        },
        {
          "type": "text",
          "label": "Heading",
          "id": "header",
          "default": "Feature text"
        },
        {
          "type": "richtext",
          "label": "Sub text",
          "id": "subtext",
          "default": "<p>Explain why your product or service is amazing. What are the benefits. Sell the hole in the wall not the drill.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Default",
      "category": "Custom"
    },
    {
      "name": "SG-Feature #6"
    }
  ]
}
{% endschema %}
{% style %}
{% endstyle %}
{% javascript %}
{% endjavascript %}