{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign icons_gap = section.settings.icons_gap
  assign icons_gap_mobile = section.settings.icons_gap_mobile
  assign icons_align = section.settings.icons_align
  assign icons_align_mobile = section.settings.icons_align_mobile

  assign icons_justify_align_mobile = ""
  if icons_align_mobile == "left"
    assign icons_justify_align_mobile = "start"
  elsif icons_align_mobile == "center"
    assign icons_justify_align_mobile = "center"
  else
    assign icons_justify_align_mobile = "end"
  endif

   assign icons_justify_align = ""
  if icons_align == "left"
    assign icons_justify_align = "start"
  elsif icons_align == "center"
    assign icons_justify_align = "center"
  else
    assign icons_justify_align = "end"
  endif

  assign icon_width = section.settings.icon_width
  assign icon_width_mobile = section.settings.icon_width_mobile
  assign icon_padding_horizontal = section.settings.icon_padding_horizontal
  assign icon_padding_horizontal_mobile = section.settings.icon_padding_horizontal_mobile
  assign icon_padding_vertical = section.settings.icon_padding_vertical
  assign icon_padding_vertical_mobile = section.settings.icon_padding_vertical_mobile
  assign icon_radius = section.settings.icon_radius
  assign icon_border_thickness = section.settings.icon_border_thickness
  assign icon_border_color = section.settings.icon_border_color
  assign icon_shadow = section.settings.icon_shadow
  
-%}

{%- style -%}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .payment-icons-{{ section.id }} {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: {{ icons_justify_align_mobile }};
    gap: {{ icons_gap_mobile }}px;
  }

  .payment-icons-{{ section.id }} .payment-icon {
    padding: {{ icon_padding_vertical_mobile }}px {{ icon_padding_horizontal_mobile }}px;
    border: {{ icon_border_thickness }}px solid {{ icon_border_color }};
    border-radius: {{ icon_radius }}px;
    overflow: hidden;
    height: 100%;
  }

  .payment-icons-{{ section.id }} .payment-icon img {
    display: block;
    width: {{ icon_width_mobile }}px;
    height: 100%;
    object-fit: contain;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .payment-icons-{{ section.id }} {
      gap: {{ icons_gap }}px;
      justify-content: {{ icons_justify_align }};
    }

    .payment-icons-{{ section.id }} .payment-icon {
      padding: {{ icon_padding_vertical }}px {{ icon_padding_horizontal }}px;
    }

    .payment-icons-{{ section.id }} .payment-icon img {
      width: {{ icon_width }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if icon_shadow %}
  <style>
    .payment-icons-{{ section.id }} .payment-icon {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  </style>
{% endif %}

<div class="section-{{ section.id }} payment-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="payment-icons-{{ section.id }}">
        {% for block in section.blocks %}
          {% render block %}
        {% endfor %}
      </div>
    </div>
</div>

{% schema %}
{
  "name": "SG-sg-Payment icons(blocks)",
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Icons"
    },
    {
      "type": "range",
      "id": "icons_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 12
    },
    {
      "type": "range",
      "id": "icons_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 12
    },
    {
      "type": "text_alignment",
      "id": "icons_align",
      "label": "Align",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "icons_align_mobile",
      "label": "Align - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Icon"
    },
    {
      "type": "range",
      "id": "icon_width",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Width",
      "default": 72
    },
    {
      "type": "range",
      "id": "icon_width_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Width - mobile",
      "default": 50
    },
    {
      "type": "range",
      "id": "icon_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 32
    },
    {
      "type": "range",
      "id": "icon_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 32
    },
    {
      "type": "range",
      "id": "icon_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 8
    },
    {
      "type": "range",
      "id": "icon_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 8
    },
    {
      "type": "range",
      "id": "icon_radius",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 16
    },
    {
      "type": "range",
      "id": "icon_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 1
    },
    {
      "type": "checkbox",
      "id": "icon_shadow",
      "label": "Use shadow"
    },
    {
      "type": "header",
      "content": "Icon colors"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "icon_border_color",
      "default": "#F0F0F0"
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient",
      "info": "Remove gradient to replace with solid colors"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Margin sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Margin sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 800,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "label": "Section content width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "SG-sg-Payment icons(blocks)"
    }
  ]
}
{% endschema %}