{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign heading = section.settings.heading
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_height = section.settings.heading_height
  assign heading_color = section.settings.heading_color
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign collections = section.settings.collections

  assign cards_row = section.settings.cards_row
  assign cards_row_mobile = section.settings.cards_row_mobile
  assign cards_gap = section.settings.cards_gap
  assign cards_gap_mobile = section.settings.cards_gap_mobile
  assign cards_mt = section.settings.cards_mt
  assign cards_mt_mobile = section.settings.cards_mt_mobile

  assign image_ratio = section.settings.image_ratio
  assign image_ratio_mobile = section.settings.image_ratio_mobile
  assign image_radius = section.settings.image_radius
  assign image_border_thickness = section.settings.image_border_thickness
  assign image_border_color = section.settings.image_border_color

  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_height = section.settings.title_height
  assign title_bg_color = section.settings.title_bg_color
  assign title_bg_hover_color = section.settings.title_bg_hover_color
  assign title_bg_active_color = section.settings.title_bg_active_color
  assign title_color = section.settings.title_color
  assign title_hover = section.settings.title_hover
  assign title_hover_color = section.settings.title_hover_color
  assign title_active_color = section.settings.title_active_color
  assign title_shadow_color = section.settings.title_shadow_color
  assign title_padding_horizontal = section.settings.title_padding_horizontal
  assign title_padding_horizontal_mobile = section.settings.title_padding_horizontal_mobile
  assign title_padding_vertical = section.settings.title_padding_vertical
  assign title_padding_vertical_mobile = section.settings.title_padding_vertical_mobile
  assign title_radius = section.settings.title_radius
  assign title_border_thickness = section.settings.title_border_thickness
  assign title_border_color = section.settings.title_border_color
  assign title_border_hover_color = section.settings.title_border_hover_color
  assign title_border_active_color = section.settings.title_border_active_color
-%}

{%- style -%}
  {{ heading_font | font_face: font_display: 'swap' }}
  {{ title_font | font_face: font_display: 'swap' }}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .collection-heading-{{ section.id }} {
    text-align: {{ heading_align_mobile }};
  }

  .collection-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
    text-decoration: none;
  }

  .collection-cards-{{ section.id }} {
    display: grid;    
    grid-template-columns: repeat({{ cards_row_mobile }}, 1fr);
    gap: {{ cards_gap_mobile }}px;
    margin-top: {{ cards_mt_mobile }}px
  }

  .collection-card-{{ section.id }} {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
  }

  .collection-card-image-{{ section.id }} {
    width: 100%;
    text-decoration: none;
    overflow: hidden;
    border-radius: {{ image_radius }}px;
    border: {{ image_border_thickness }}px solid {{ image_border_color }};
  }

  .collection-card-image-{{ section.id }} img,
  .collection-card-image-{{ section.id }} svg {
    display: block;     
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .collection-card-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .collection-card-title-{{ section.id }} {
    max-width: 90%;
    width: 100%;
    margin: 0px;
    padding: {{ title_padding_vertical_mobile }}px {{ title_padding_horizontal_mobile }}px;
    background-color: {{ title_bg_color }};
    border-radius: {{ title_radius }}px;
    border: {{ title_border_thickness }}px solid {{ title_border_color }};
    text-align: center;
    font-size: {{ title_size_mobile }}px;
    color: {{ title_color }};
    line-height: {{ title_height }}%;
    text-transform: unset;
    word-break: break-word;
    text-decoration: none;
    transition: all 0.25s ease 0s;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    transform: translateY(-65%);
  }

  .collection-card-{{ section.id }}.active .collection-card-title-{{ section.id }} {
    background-color: {{ title_bg_active_color }};
    border-color: {{ title_border_active_color }};
    color: {{ title_active_color }};
  }

  @media(min-width: 768px) {
    .collection-cards-{{ section.id }} { 
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .collection-heading-{{ section.id }} {
      text-align: {{ heading_align }};
    }
  
    .collection-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .collection-cards-{{ section.id }} {
      grid-template-columns: repeat({{ cards_row }}, 1fr);
      gap: {{ cards_gap }}px;
      margin-top: {{ cards_mt }}px
    }

    .collection-card-title-{{ section.id }} {
      padding: {{ title_padding_vertical }}px {{ title_padding_horizontal }}px;
      font-size: {{ title_size }}px;
    }

    .collection-card-{{ section.id }}:hover .collection-card-title-{{ section.id }} {
      border: {{ title_border_thickness }}px solid {{ title_border_hover_color }};
      color: {{ title_hover_color }};
      background-color: {{ title_bg_hover_color }};
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if heading_custom %}
  <style>
    .collection-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if title_custom %}
  <style>
    .collection-card-title-{{ section.id }} {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if title_hover %}
  <style>
    @media(min-width: 1024px) {
      .collection-card-{{ section.id }}:hover .collection-card-title-{{ section.id }} {
        -webkit-box-shadow: -6px 5px 0px 1px {{ title_shadow_color }};
        -moz-box-shadow: -6px 5px 0px 1px {{ title_shadow_color }};
        box-shadow: -6px 5px 0px 1px {{ title_shadow_color }};
      }
    }
  </style>
{% endif %}

{% if image_ratio_mobile == "portrait" %}
  <style>
    .collection-card-image-{{ section.id }} {
      aspect-ratio: 9.6/12;
    }
  </style>
{% elsif image_ratio_mobile == "landscape" %}
  <style>
  .collection-card-image-{{ section.id }} {
    aspect-ratio: 12/8;
  }
  </style>
{% elsif image_ratio_mobile == "square" %}
  <style>
    .collection-card-image-{{ section.id }} {
      aspect-ratio: 12/12;
    }
  </style>
{% else %}
  <style>
    .collection-card-image-{{ section.id }} {
      aspect-ratio: auto;
    }
  </style>
{% endif %}

{% if image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
      .collection-card-image-{{ section.id }} {
        aspect-ratio: 9.6/12;
      }
    }
    
  </style>
{% elsif image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .collection-card-image-{{ section.id }} {
        aspect-ratio: 12/8;
      }
    }  
  </style>
{% elsif image_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .collection-card-image-{{ section.id }} {
        aspect-ratio: 12/12;
      }
    }    
  </style>
{% else %}
  <style>
     @media(min-width: 1024px) {
      .collection-card-image-{{ section.id }} {
        aspect-ratio: auto;
      }
    }
  </style>
{% endif %}

<div class="section-{{ section.id }} collection-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      {% if heading != blank %}
        <div class="collection-heading-{{ section.id }}">
          {{ heading }}
        </div>  
      {% endif %}
      <div class="collection-cards-{{ section.id }}">
        {% if collections != blank %}
          {% for collection in collections %}
            <a href="{{ collection.url }}" class="collection-card-{{ section.id }}">
              <div class="collection-card-image-{{ section.id }}">
                {% if collection.featured_image != blank %}
                  <img src="{{ collection.featured_image | image_url }}" alt="{{ collection.featured_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>      
                {% else %}
                  {{ 'image' | placeholder_svg_tag }}
                {% endif %} 
              </div>
              <p class="collection-card-title-{{ section.id }}">{{ collection.title }}</p>         
            </a>
          {% endfor %} 
        {% else %}  
          {% for block in section.blocks %}
            <a href="{{ block.settings.collection.url }}" class="collection-card-{{ section.id }} {% if block.settings.active %}active{% endif %}">
              <div class="collection-card-image-{{ section.id }}">
                {% if block.settings.image != blank %}
                  <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                {% elsif block.settings.collection.featured_image != blank %}
                  <img src="{{ block.settings.collection.featured_image | image_url }}" alt="{{ block.settings.collection.featured_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                {% else %}
                  {{ 'image' | placeholder_svg_tag }}
                {% endif %}
              </div>
              <p class="collection-card-title-{{ section.id }}">
                {% if block.settings.title != blank %}
                  {{ block.settings.title }}
                {% else %}
                  {{ block.settings.collection.title }}
                {% endif %}
              </p>       
            </a>
          {% endfor %} 
        {% endif %}      
      </div>
    </div>
</div>

{% schema %}
{
  "name": "SG-Collection #9",
  "settings": [
    {
      "type": "header",
      "content": "Heading settings"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Text",
      "default": "<h2>Collection #9</h2>"
    },
    {
      "type": "checkbox",
      "id": "heading_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 52
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 32
    },
    {
      "type": "range",
      "id": "heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "text_alignment",
      "id": "heading_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "heading_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Layout settings"
    },
    {
      "type": "collection_list",
      "id": "collections",
      "label": "Collections",
      "info": "Leave is blank to show collections from section blocks"
    },
    {
      "type": "range",
      "id": "cards_row",
      "min": 2,
      "max": 5,
      "step": 1,
      "label": "Collections per row",
      "default": 4
    },
    {
      "type": "select",
      "id": "cards_row_mobile",
      "label": "Collections per row - mobile",
      "default": "1",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        }
      ]
    },
    {
      "type": "range",
      "id": "cards_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 32
    },
    {
      "type": "range",
      "id": "cards_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "cards_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 40
    },
    {
      "type": "range",
      "id": "cards_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 32
    },
    {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Aspect ratio",
      "default": "portrait",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_ratio_mobile",
      "label": "Aspect ratio - mobile",
      "default": "portrait",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "range",
      "id": "image_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 12
    },
    {
      "type": "range",
      "id": "image_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 1
    },
    {
      "type": "header",
      "content": "Collection title settings"
    },
    {
      "type": "checkbox",
      "id": "title_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "title_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "title_size",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 20
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "title_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "range",
      "id": "title_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 12
    },
    {
      "type": "range",
      "id": "title_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "title_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 12
    },
    {
      "type": "range",
      "id": "title_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "title_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 100
    },
    {
      "type": "range",
      "id": "title_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 1
    },
    {
      "type": "checkbox",
      "id": "title_hover",
      "label": "Use hover shadow effect",
      "default": true
    },
    {
      "type": "header",
      "content": "Collection colors"
    },
    {
      "type": "color",
      "label": "Title",
      "id": "title_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Title hover",
      "id": "title_hover_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Title active",
      "id": "title_active_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Title background",
      "id": "title_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Title background hover",
      "id": "title_bg_hover_color",
      "default": "#A9E291"
    },
    {
      "type": "color",
      "label": "Title background active",
      "id": "title_bg_active_color",
      "default": "#A9E291"
    },
    {
      "type": "color",
      "label": "Title border",
      "id": "title_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Title border hover",
      "id": "title_border_hover_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Title border active",
      "id": "title_border_active_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Title shadow",
      "id": "title_shadow_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Image border",
      "id": "image_border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "color",
      "label": "Heading",
      "id": "heading_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient",
      "info": "Remove gradient to replace with solid colors"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Margin sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Margin sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 800,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "label": "Section content width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Leave is blank to show collection image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Collection",
          "info": "Leave is blank to show collection title"
        },
        {
          "type": "checkbox",
          "id": "active",
          "label": "Active"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Collection #9",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection",
          "settings": {
            "active": true
          }
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}