<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_color = section.settings.heading_color
  assign heading_padding_horizontal = section.settings.heading_padding_horizontal
  assign heading_padding_horizontal_mobile = section.settings.heading_padding_horizontal_mobile
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign columns_view = section.settings.columns_view
  assign columns_mt = section.settings.columns_mt
  assign columns_mt_mobile = section.settings.columns_mt_mobile
  assign use_slider_desktop = section.settings.use_slider_desktop

  assign column_padding_horizontal = section.settings.column_padding_horizontal
  assign column_padding_horizontal_mobile = section.settings.column_padding_horizontal_mobile
  assign column_padding_vertical = section.settings.column_padding_vertical
  assign column_padding_vertical_mobile = section.settings.column_padding_vertical_mobile
  assign column_border_thickness = section.settings.column_border_thickness
  assign column_border_color = section.settings.column_border_color

  assign column_align = section.settings.column_align
  assign column_align_mobile = section.settings.column_align_mobile

  assign column_horizontal_align = ""
  if column_align == "center"
    assign column_horizontal_align = "center"
  elsif column_align == "right"
    assign column_horizontal_align = "end"
  else
    assign column_horizontal_align = "start"
  endif

  assign column_horizontal_align_mobile = ""
  if column_align_mobile == "center"
    assign column_horizontal_align_mobile = "center"
  elsif column_align_mobile == "right"
    assign column_horizontal_align_mobile = "end"
  else
    assign column_horizontal_align_mobile = "start"
  endif
  
  assign progress_align = section.settings.progress_align
  assign progress_align_mobile = section.settings.progress_align_mobile

  assign progress_horizontal_align = ""
  if progress_align == "center"
    assign progress_horizontal_align = "center"
  elsif progress_align == "right"
    assign progress_horizontal_align = "end"
  else
    assign progress_horizontal_align = "start"
  endif

  assign progress_horizontal_align_mobile = ""
  if progress_align_mobile == "center"
    assign progress_horizontal_align_mobile = "center"
  elsif progress_align_mobile == "right"
    assign progress_horizontal_align_mobile = "end"
  else
    assign progress_horizontal_align_mobile = "start"
  endif
  
  assign info_align = section.settings.info_align
  assign info_align_mobile = section.settings.info_align_mobile

  assign info_horizontal_align = ""
  if info_align == "center"
    assign info_horizontal_align = "center"
  elsif info_align == "right"
    assign info_horizontal_align = "end"
  else
    assign info_horizontal_align = "start"
  endif

  assign info_horizontal_align_mobile = ""
  if info_align_mobile == "center"
    assign info_horizontal_align_mobile = "center"
  elsif info_align_mobile == "right"
    assign info_horizontal_align_mobile = "end"
  else
    assign info_horizontal_align_mobile = "start"
  endif

  assign image_radius = section.settings.image_radius
  assign image_border_thickness = section.settings.image_border_thickness
  assign image_border_color = section.settings.image_border_color
  assign image_ratio = section.settings.image_ratio
  assign image_ratio_mobile = section.settings.image_ratio_mobile
  assign image_width = section.settings.image_width
  assign image_width_mobile = section.settings.image_width_mobile

  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_height = section.settings.title_height
  assign title_color = section.settings.title_color
  assign title_mt = section.settings.title_mt
  assign title_mt_mobile = section.settings.title_mt_mobile

  assign details_custom = section.settings.details_custom
  assign details_font = section.settings.details_font
  assign details_size = section.settings.details_size
  assign details_size_mobile = section.settings.details_size_mobile
  assign details_height = section.settings.details_height
  assign details_color = section.settings.details_color
  assign details_mt = section.settings.details_mt
  assign details_mt_mobile = section.settings.details_mt_mobile

  assign price_custom = section.settings.price_custom
  assign price_font = section.settings.price_font
  assign price_size = section.settings.price_size
  assign price_size_mobile = section.settings.price_size_mobile
  assign price_height = section.settings.price_height
  assign price_color = section.settings.price_color    
  assign price_original_color = section.settings.price_original_color
  assign price_mt = section.settings.price_mt
  assign price_mt_mobile = section.settings.price_mt_mobile
  assign price_compare = section.settings.price_compare

  assign button_size = section.settings.button_size
  assign button_size_mobile = section.settings.button_size_mobile
  assign button_color = section.settings.button_color
  assign button_hover_color = section.settings.button_hover_color
  assign button_custom = section.settings.button_custom
  assign button_font = section.settings.button_font
  assign button_height = section.settings.button_height
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_padding_vertical_mobile = section.settings.button_padding_vertical_mobile
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_padding_horizontal_mobile = section.settings.button_padding_horizontal_mobile
  assign button_radius = section.settings.button_radius
  assign button_border_thickness = section.settings.button_border_thickness
  assign button_border_color = section.settings.button_border_color
  assign button_border_hover_color = section.settings.button_border_hover_color
  assign button_bg_color = section.settings.button_bg_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color
  assign button_style = section.settings.button_style
  assign button_mt = section.settings.button_mt
  assign button_mt_mobile = section.settings.button_mt_mobile

  assign progress_mt = section.settings.progress_mt
  assign progress_mt_mobile = section.settings.progress_mt_mobile
  assign progress_height = section.settings.progress_height
  assign progress_border_thickness = section.settings.progress_border_thickness
  assign progress_border_color = section.settings.progress_border_color
  assign progress_radius = section.settings.progress_radius
  assign progress_bg_color = section.settings.progress_bg_color
  assign progress_active_bg_color = section.settings.progress_active_bg_color

  assign progress_title_custom = section.settings.progress_title_custom
  assign progress_title_font = section.settings.progress_title_font
  assign progress_title_size = section.settings.progress_title_size
  assign progress_title_size_mobile = section.settings.progress_title_size_mobile
  assign progress_title_height = section.settings.progress_title_height
  assign progress_title_color = section.settings.progress_title_color  
  assign progress_title_mt = section.settings.progress_title_mt
  assign progress_title_mt_mobile = section.settings.progress_title_mt_mobile

  assign first_progress_title = section.settings.first_progress_title
  assign second_progress_title = section.settings.second_progress_title
  assign third_progress_title = section.settings.third_progress_title
  assign fourth_progress_title = section.settings.fourth_progress_title
  assign fifth_progress_title = section.settings.fifth_progress_title

  assign bottom_title_custom = section.settings.bottom_title_custom
  assign bottom_title_font = section.settings.bottom_title_font
  assign bottom_title_size = section.settings.bottom_title_size
  assign bottom_title_size_mobile = section.settings.bottom_title_size_mobile
  assign bottom_title_height = section.settings.bottom_title_height
  assign bottom_title_color = section.settings.bottom_title_color
  assign bottom_title_mt = section.settings.bottom_title_mt
  assign bottom_title_mt_mobile = section.settings.bottom_title_mt_mobile

  assign bottom_text_custom = section.settings.bottom_text_custom
  assign bottom_text_font = section.settings.bottom_text_font
  assign bottom_text_size = section.settings.bottom_text_size
  assign bottom_text_size_mobile = section.settings.bottom_text_size_mobile
  assign bottom_text_height = section.settings.bottom_text_height
  assign bottom_text_color = section.settings.bottom_text_color
  assign bottom_text_mt = section.settings.bottom_text_mt
  assign bottom_text_mt_mobile = section.settings.bottom_text_mt_mobile

  assign arrow_size = section.settings.arrow_size
  assign arrow_icon_size = section.settings.arrow_icon_size
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color
  assign arrow_bg_color = section.settings.arrow_bg_color
  assign arrow_bg_hover_color = section.settings.arrow_bg_hover_color
  assign arrow_radius = section.settings.arrow_radius
  assign arrow_border_thickness = section.settings.arrow_border_thickness
  assign arrow_border_color = section.settings.arrow_border_color
  assign arrow_border_hover_color = section.settings.arrow_border_hover_color
  assign arrow_show_mobile = section.settings.arrow_show_mobile
  assign arrow_show_desktop = section.settings.arrow_show_desktop
  assign arrow_hover_effect = section.settings.arrow_hover_effect

  assign dots_size = section.settings.dots_size
  assign dots_size_mobile = section.settings.dots_size_mobile
  assign dots_show_desktop = section.settings.dots_show_desktop
  assign dots_show_mobile = section.settings.dots_show_mobile
  assign dots_color = section.settings.dots_color
  assign dots_mt = section.settings.dots_mt
  assign dots_mt_mobile = section.settings.dots_mt_mobile
-%}

{%- style -%}
  {{ heading_font | font_face: font_display: 'swap' }}
  {{ title_font | font_face: font_display: 'swap' }}
  {{ details_font | font_face: font_display: 'swap' }}
  {{ price_font | font_face: font_display: 'swap' }}
  {{ button_font | font_face: font_display: 'swap' }}
  {{ progress_title_font | font_face: font_display: 'swap' }}
  {{ bottom_title_font | font_face: font_display: 'swap' }}
  {{ bottom_text_font | font_face: font_display: 'swap' }}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .comparison-heading-{{ section.id }} {
    text-align: {{ heading_align_mobile }};
    padding: 0 {{ heading_padding_horizontal_mobile }}px;
  }
  
  .comparison-heading-{{ section.id }} * {
    margin: 0px;
    font-size: {{ heading_size_mobile }}px;
    line-height: {{ heading_height }}%;
    color: {{ heading_color }};
    text-transform: unset;
    word-break: break-word;
    font-weight: 700;
  }

  .comparison-slider-{{ section.id }} {
    position: relative;
    min-width: 0;
    width: 100%;
    display: block;     
    margin-top: {{ columns_mt_mobile }}px; 
  }

  .comparison-item-{{ section.id }} {
    position: relative !important;
    display: flex !important;
    flex-direction: column;
    box-sizing: border-box !important;
    align-items: {{ column_horizontal_align_mobile }};
    padding: {{ column_padding_vertical_mobile }}px {{ column_padding_horizontal_mobile }}px !important;
  }

  .comparison-image-{{ section.id }} {
    border: {{ image_border_thickness }}px solid {{ image_border_color }};
    border-radius: {{ image_radius }}px;
    width: {{ image_width_mobile }}px;
    overflow: hidden;
  }

  .comparison-image-{{ section.id }} img,
  .comparison-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .comparison-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .comparison-product-title-{{ section.id }} {
    margin: 0;   
    text-align: {{ column_align_mobile }};
    margin-top: {{ title_mt_mobile }}px;
    font-size: {{ title_size_mobile }}px;
    color: {{ title_color }};
    line-height: {{ title_height }}%;
    text-transform: unset;
    word-break: break-word;
    font-weight: 700;
  }    
  
  .comparison-product-details-{{ section.id }} {
    text-align: {{ column_align_mobile }};
    margin-top: {{ details_mt_mobile }}px;    
  }

  .comparison-product-details-{{ section.id }} * {
    margin: 0;    
    font-size: {{ details_size_mobile }}px;
    line-height: {{ details_height }}%;
    color: {{ details_color }};  
    text-transform: unset;  
    word-break: break-word;
  }

  .comparison-price-{{ section.id }} {
    margin-top: {{ price_mt_mobile }}px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: {{ column_horizontal_align_mobile }};
    gap: 5px;
  }

  .comparison-price-{{ section.id }} * {
    margin: 0;
    font-size: {{ price_size_mobile }}px;
    color: {{ price_color }};
    line-height: {{ price_height }}%;
    text-transform: unset;
    word-break: break-word;
  }

  .comparison-compare-price-{{ section.id }} {
    color: {{ price_original_color }} !important;
    text-decoration: line-through !important;
  }

  .comparison-button-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 0;
    margin-top: {{ button_mt_mobile }}px;
    font-size: {{ button_size_mobile }}px;
    color: {{ button_color }};
    line-height: {{ button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical_mobile }}px {{ button_padding_horizontal_mobile }}px;
    border-radius: {{ button_radius }}px;
    transition: all 0.25s ease 0s;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-weight: 700;
    min-width: max-content;
  }

  .comparison-button-inner-{{ section.id }} {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .comparison-button-{{ section.id }}:hover {
    color: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .comparison-button-{{ section.id }} svg {
    width: 14px;
    height: 14px;
  }

  .comparison-button-{{ section.id }} svg path {
    fill: {{ button_color }};
    transition: all 0.25s ease 0s;
  }

  .comparison-button-{{ section.id }}:hover svg path {
    fill: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .comparison-progresg-body-{{ section.id }} {
    width: 100%;
    margin-top: {{ progress_mt_mobile }}px;
  }

  .comparison-progresg-title-{{ section.id }} {
    margin: 0;   
    font-size: {{ progress_title_size_mobile }}px;
    color: {{ progress_title_color }};
    line-height: {{ progress_title_height }}%;
    text-transform: unset;
    word-break: break-word;
    text-align: {{ progress_align_mobile }};
  }   

  .comparison-progresg-wrapper-{{ section.id }}:not(:first-child) .comparison-progresg-title-{{ section.id }} {
    margin-top: {{ progress_title_mt_mobile }}px;
  }

  .comparison-progresg-{{ section.id }} {
    display: block !important;
    width: 100%;
    margin-top: 4px;
    height: {{ progress_height }}px;
    border: {{ progress_border_thickness }}px solid {{ progress_border_color }};
    border-radius: {{ progress_radius }}px;
    background-color: {{ progress_bg_color }};
    position: relative;
    overflow: hidden;
  }

  .comparison-progresg-{{ section.id }}:after {
    content: '';
    position: absolute;
    top: 0;
    width: calc(100% / 6);
    height: 100%;
    border-radius: {{ progress_radius }}px;
    background-color: {{ progress_active_bg_color }};
  }

  .comparison-bottom-title-{{ section.id }} {
    margin: 0; 
    width: 100%;
    text-align: {{ info_align_mobile }};   
    font-size: {{ bottom_title_size_mobile }}px;
    color: {{ bottom_title_color }};
    line-height: {{ bottom_title_height }}%;
    margin-top: {{ bottom_title_mt_mobile }}px;
    text-transform: unset;
    word-break: break-word;
  }  
  
  .comparison-bottom-text-{{ section.id }} {
    margin-top: {{ bottom_text_mt_mobile }}px;
    text-align: {{ info_align_mobile }};   
    width: 100%;
  }

  .comparison-bottom-text-{{ section.id }} * {
    margin: 0;  
    font-size: {{ bottom_text_size_mobile }}px;
    color: {{ bottom_text_color }};
    line-height: {{ bottom_text_height }}%; 
    text-transform: unset;
    word-break: break-word;
  }   

  .comparison-btn-prev-{{ section.id }},
  .comparison-btn-next-{{ section.id }} {
    position: absolute;
    top: 10%;
    display: flex;
    z-index: 2;
    width: {{ arrow_size }}px;
    height: {{ arrow_size }}px;
    border: 0px;
    border: {{ arrow_border_thickness }}px solid {{ arrow_border_color }};
    border-radius: {{ arrow_radius }}px;
    background: transparent;
    background: {{ arrow_bg_color }};
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,.15); */
  }

  .comparison-btn-prev-{{ section.id }} {
    left: 5px;
  }

  .comparison-btn-next-{{ section.id }} {
    right: 5px;
  }

  .comparison-btn-prev-{{ section.id }} .animate-icon,
  .comparison-btn-next-{{ section.id }} .animate-icon {
    pointer-events: none;
    place-items: center;
    display: grid;
  }

  .comparison-btn-prev-{{ section.id }} .animate-icon:before,
  .comparison-btn-next-{{ section.id }} .animate-icon:before {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size }}px;
    height: {{ arrow_icon_size }}px;
    transform: rotate(calc(1 * 45deg));
    box-sizing: border-box;
    border-style: solid;
    border: 0px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    position: relative;
    left: -1px;
  }

  .comparison-btn-prev-{{ section.id }} .animate-icon:before {
    left: unset;
    right: -1px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid currentColor;
    border-left: 2px solid currentColor;
  }

  .comparison-btn-prev-{{ section.id }} .animate-icon:after,
  .comparison-btn-next-{{ section.id }} .animate-icon:after {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size | minus: 0.3 }}px;
    height: 1.6px;
    transform-origin: center;
    opacity: 0;
    background: currentColor;
    transform: scaleX(.5);
  }

  .comparison-btn-prev-{{ section.id }} span,
  .comparison-btn-next-{{ section.id }} span {
    color: {{ arrow_color }};
  }

  .comparison-btn-prev-{{ section.id }}.swiper-button-disabled,
  .comparison-btn-next-{{ section.id }}.swiper-button-disabled {
    opacity: 0.5;
  }
  
  .comparison-pagination-{{ section.id }} {
    display: block !important;  
    margin: 0px auto !important;
    position: relative;
    margin-top: {{ dots_mt_mobile }}px !important;
    width: 100% !important;
    justify-content: center;
    align-items: center;
  }

  .comparison-pagination-{{ section.id }} .swiper-pagination-bullet {
    width: {{ dots_size_mobile }}px !important;
    height: {{ dots_size_mobile }}px !important;
    border: 0px !important;
    background-color: {{ dots_color }} !important;
    opacity: 0.4 !important;
    transition: all 0.25s ease 0s;
  }

  .comparison-pagination-{{ section.id }} .swiper-pagination-bullet.swiper-pagination-bullet-active {
    transform: scale(1.3) !important;
    opacity: 1 !important;
    transition: all 0.25s ease 0s;
  }

  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .comparison-heading-{{ section.id }} {
      text-align: {{ heading_align }};
      padding: 0 {{ heading_padding_horizontal }}px;
    }
    
    .comparison-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .comparison-desktop-{{ section.id }} {
      margin-top: {{ columns_mt }}px;
      align-items: stretch;
    }

    .comparison-item-{{ section.id }} {
      padding: {{ column_padding_vertical }}px {{ column_padding_horizontal }}px !important;
    }

    .comparison-desktop-{{ section.id }} .comparison-item-{{ section.id }} {
      flex: 1;
      align-items: {{ column_horizontal_align }};
    }

    .comparison-item-{{ section.id }}:not(:last-child) {
      border-right: {{ column_border_thickness }}px solid {{ column_border_color }};
    }

    .comparison-image-{{ section.id }} {
      width: {{ image_width }}px;
    }

    .comparison-product-title-{{ section.id }} {
      text-align: {{ column_align }};
      margin-top: {{ title_mt }}px;
      font-size: {{ title_size }}px;
    }    

    .comparison-product-details-{{ section.id }} {
      text-align: {{ column_align }};
      margin-top: {{ details_mt }}px;    
    }

    .comparison-product-details-{{ section.id }} * {
      font-size: {{ details_size }}px;
    }
    
    .comparison-price-{{ section.id }} {
      margin-top: {{ price_mt }}px;
      justify-content: {{ column_horizontal_align }};
    }

    .comparison-price-{{ section.id }} * {
      margin: 0;
      font-size: {{ price_size }}px;
      color: {{ price_color }};
      line-height: {{ price_height }}%;
      text-transform: unset;
      word-break: break-word;
    }

    .comparison-button-{{ section.id }} {
      margin-top: {{ button_mt }}px;
      font-size: {{ button_size }}px;
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
    }

    .comparison-progresg-body-{{ section.id }} {
      width: 100%;
      margin-top: {{ progress_mt }}px;
    }

    .comparison-progresg-title-{{ section.id }} {
      font-size: {{ progress_title_size }}px;
      text-align: {{ progress_align }};
      
    }   

    .comparison-progresg-wrapper-{{ section.id }}:not(:first-child) .comparison-progresg-title-{{ section.id }} {
      margin-top: {{ progress_title_mt }}px;
    }
    
    .comparison-bottom-title-{{ section.id }} {
      text-align: {{ info_align }};   
      font-size: {{ bottom_title_size }}px;
      margin-top: {{ bottom_title_mt }}px;
      width: 100%;
    }  

    .comparison-bottom-text-{{ section.id }} {
      margin-top: {{ bottom_text_mt }}px;
      text-align: {{ info_align }}; 
      width: 100%;
    }

    .comparison-bottom-text-{{ section.id }} * {
      font-size: {{ bottom_text_size }}px;
    }

    .comparison-pagination-{{ section.id }} {
      margin-top: {{ dots_mt }}px !important;
    }

    .comparison-pagination-{{ section.id }} .swiper-pagination-bullet {
      width: {{ dots_size }}px !important;
      height: {{ dots_size }}px !important;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if heading_custom %}
  <style>
    .comparison-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if title_custom %}
  <style>
    .comparison-product-title-{{ section.id }} {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if details_custom %}
  <style>
    .comparison-product-details-{{ section.id }} * {
      font-family: {{ details_font.family }}, {{ details_font.fallback_families }};
      font-weight: {{ details_font.weight }};
      font-style: {{ details_font.style }};
    }
  </style>
{% endif %}

{% if price_custom %}
  <style>
    .comparison-price-{{ section.id }} * {
      font-family: {{ price_font.family }}, {{ price_font.fallback_families }};
      font-weight: {{ price_font.weight }};
      font-style: {{ price_font.style }};
    }
  </style>
{% endif %}

{% if button_custom %}
  <style>
    .comparison-button-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}

{% if progress_title_custom %}
  <style>
    .comparison-progresg-title-{{ section.id }} {
      font-family: {{ progress_title_font.family }}, {{ progress_title_font.fallback_families }};
      font-weight: {{ progress_title_font.weight }};
      font-style: {{ progress_title_font.style }};
    }
  </style>
{% endif %}

{% if bottom_title_custom %}
  <style>
    .comparison-bottom-title-{{ section.id }} {
      font-family: {{ bottom_title_font.family }}, {{ bottom_title_font.fallback_families }};
      font-weight: {{ bottom_title_font.weight }};
      font-style: {{ bottom_title_font.style }};
    }
  </style>
{% endif %}

{% if bottom_text_custom %}
  <style>
    .comparison-bottom-text-{{ section.id }} * {
      font-family: {{ bottom_text_font.family }}, {{ bottom_text_font.fallback_families }};
      font-weight: {{ bottom_text_font.weight }};
      font-style: {{ bottom_text_font.style }};
    }
  </style>
{% endif %}

{% if image_ratio_mobile == "portrait" %}
  <style>
    .comparison-image-{{ section.id }} {
      aspect-ratio: 9.6/13;
    }
  </style>
{% elsif image_ratio_mobile == "landscape" %}
  <style>
  .comparison-image-{{ section.id }} {
    aspect-ratio: 12/8;
  }
  </style>
{% elsif image_ratio_mobile == "square" %}
  <style>
    .comparison-image-{{ section.id }} {
      aspect-ratio: 12/12;
    }
  </style>
{% else %}
  <style>
    .comparison-image-{{ section.id }} {
      aspect-ratio: auto;
    }
  </style>
{% endif %}

{% if image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
      .comparison-image-{{ section.id }} {
        aspect-ratio: 9.6/13;
      }
    }
    
  </style>
{% elsif image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .comparison-image-{{ section.id }} {
        aspect-ratio: 12/8;
      }
    }  
  </style>
{% elsif image_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .comparison-image-{{ section.id }} {
        aspect-ratio: 12/12;
      }
    }    
  </style>
{% else %}
  <style>
     @media(min-width: 1024px) {
      .comparison-image-{{ section.id }} {
        aspect-ratio: auto;
      }
    }
  </style>
{% endif %}

{% if use_slider_desktop %}
  <style>
    .comparison-mobile-{{ section.id }} {
      display: grid;
    }
    
    .comparison-desktop-{{ section.id }} {
      display: none;
    }
    
    @media(min-width: 1024px) {
      .comparison-mobile-{{ section.id }} {
        display: grid;
      }

      .comparison-desktop-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% else %}
<style>
  .comparison-mobile-{{ section.id }} {
    display: grid;
  }
  
  .comparison-desktop-{{ section.id }} {
    display: none;
  }

  @media(min-width: 1024px) {
    .comparison-mobile-{{ section.id }} {
      display: none;
    }

    .comparison-desktop-{{ section.id }} {
      display: flex;
    }
  }
</style>
{% endif %}

{% if button_style == "non_outline" or button_style == "non_outline_arrow" %}
  <style>
    .comparison-button-{{ section.id }} {
      background-color: {{ button_bg_color }};
    }

    .comparison-button-{{ section.id }}:hover {
      background-color: {{ button_bg_hover_color }};
    }
  </style>
{% elsif button_style == "outline" or button_style == "outline_arrow" %}
  <style>
    .comparison-button-{{ section.id }} {
      background-color: {{ button_bg_color }};
      border: {{ button_border_thickness }}px solid {{ button_border_color }};
    }

    .comparison-button-{{ section.id }}:hover {
      background-color: {{ button_bg_hover_color }};
      border: {{ button_border_thickness }}px solid {{ button_border_hover_color }};
    }
  </style>
{% elsif button_style == "link" %}
  <style>
    .comparison-button-{{ section.id }} {
      padding: 0px !important;
    }
  </style>
{% endif %}

{% if arrow_hover_effect == "color" %}
  <style>
    .comparison-btn-prev-{{ section.id }}:hover,
    .comparison-btn-next-{{ section.id }}:hover {
      transition: all 0.3s ease 0s;
      border: {{ arrow_border_thickness }}px solid {{ arrow_border_hover_color }};
      background: {{ arrow_bg_hover_color }};
    }
  
    .comparison-btn-prev-{{ section.id }}:hover .animate-icon,
    .comparison-btn-next-{{ section.id }}:hover .animate-icon {
      color: {{ arrow_hover_color }};
    }
  </style>
{% elsif arrow_hover_effect == "scale" %}
  <style>
    .comparison-btn-prev-{{ section.id }}:hover,
    .comparison-btn-next-{{ section.id }}:hover {
      transform: scale(0.9);
    }

    @media(min-width: 1024px) {
      .comparison-btn-prev-{{ section.id }}:hover,
      .comparison-btn-next-{{ section.id }}:hover {
        transform: scale(0.9);
      }
    }
  </style>
{% elsif arrow_hover_effect == "arrow" %}
  <style>
    .comparison-btn-next-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
  
    .comparison-btn-prev-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(-1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
    
    .comparison-btn-prev-{{ section.id }}:hover .animate-icon:after,
    .comparison-btn-next-{{ section.id }}:hover .animate-icon:after {
      opacity: 1;
      transform: scaleX(1);
    }
  </style>
{% endif %}

{% if arrow_show_mobile %}
  <style>
    .comparison-btn-prev-{{ section.id }},
    .comparison-btn-next-{{ section.id }} {
      display: flex;
    }
  </style>
{% else %}
  <style>
    .comparison-btn-prev-{{ section.id }},
    .comparison-btn-next-{{ section.id }} {
      display: none;
    }
  </style>
{% endif %}

{% if arrow_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .comparison-btn-prev-{{ section.id }},
      .comparison-btn-next-{{ section.id }} {
        display: flex;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .comparison-btn-prev-{{ section.id }},
      .comparison-btn-next-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if dots_show_mobile %}
  <style>
    .comparison-pagination-{{ section.id }} {
      display: flex !important;
    }
  </style>
{% else %}
  <style>
    .comparison-pagination-{{ section.id }} {
      display: none !important;
    }
  </style>
{% endif %}

{% if dots_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .comparison-pagination-{{ section.id }} {
        display: flex !important;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .comparison-pagination-{{ section.id }} {
        display: none !important;
      }
    }
  </style>
{% endif %}

{% for block in section.blocks %}
  <style>
    .comparison-first-progresg-{{ block.id }}:after {
      left: {{ block.settings.first_progress }}%;
      transform: translateX(-{{ block.settings.first_progress }}%);
    }

    .comparison-second-progresg-{{ block.id }}:after {
      left: {{ block.settings.second_progress }}%;
      transform: translateX(-{{ block.settings.second_progress }}%);
    }

    .comparison-third-progresg-{{ block.id }}:after {
      left: {{ block.settings.third_progress }}%;
      transform: translateX(-{{ block.settings.third_progress }}%);
    }

    .comparison-fourth-progresg-{{ block.id }}:after {
      left: {{ block.settings.fourth_progress }}%;
      transform: translateX(-{{ block.settings.fourth_progress }}%);
    }

    .comparison-fifth-progresg-{{ block.id }}:after {
      left: {{ block.settings.fifth_progress }}%;
      transform: translateX(-{{ block.settings.fifth_progress }}%);
    }
  </style>
{% endfor %}

<div class="section-{{ section.id }} comparison-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">      
      {% if heading != blank %}
        <div class="comparison-heading-{{ section.id }}">{{ heading }}</div>
      {% endif %}
      <div class="comparison-desktop-{{ section.id }}">
        {% for block in section.blocks %}
          <div class="comparison-item-{{ section.id }}">
            <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% elsif block.settings.product != blank %}a href="{{ block.settings.product.url }}"{% else %}div{% endif %} class="comparison-image-{{ section.id }}">
              {% if block.settings.custom_image != blank %}
                <img src="{{ block.settings.custom_image | img_url: "500x500" }}" alt="{{ block.settings.custom_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>            
              {% elsif block.settings.product.featured_image != blank %}
                <img src="{{ block.settings.product.featured_image | img_url: "500x500" }}" alt="{{ block.settings.product.featured_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>            
              {% else %}
                {{ 'image' | placeholder_svg_tag }}
              {% endif %}
            </{% if block.settings.url != blank or block.settings.product != blank %}a{% else %}div{% endif %}>   

            {% if block.settings.custom_title != blank %}
              <p class="comparison-product-title-{{ section.id }}">{{ block.settings.custom_title }}</p>
            {% elsif block.settings.product != blank %}  
              <p class="comparison-product-title-{{ section.id }}">{{ block.settings.product.title }}</p>
            {% endif %} 

            {% if block.settings.details != blank %}
              <div class="comparison-product-details-{{ section.id }}">{{ block.settings.details }}</div>                     
            {% elsif block.settings.product.metafields.custom.specs.value != blank %}
              <div class="comparison-product-details-{{ section.id }}"><p>{{ block.settings.product.metafields.custom.specs.value }}</p></div> 
            {% endif %}  

            {% if block.settings.product != blank %}
              <div class="comparison-price-{{ section.id }}">
                <p class="comparison-regular-price-{{ section.id }}">{% if block.settings.product != blank %}{{ block.settings.product.price | money }}{% else %}$19.99{% endif %}</p>
                {% if block.settings.product.compare_at_price != blank and price_compare %}
                  <strong>-</strong> <p class="comparison-compare-price-{{ section.id }}">{{ block.settings.product.compare_at_price | money }}</p>
                {% endif %}
              </div>
            {% endif %}    

            {% if block.settings.button_text != blank %}
              <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% elsif block.settings.product != blank %}a href="{{ block.settings.product.url }}"{% else %}div{% endif %} class="comparison-button-{{ section.id }} comparison-button-desktop-{{ section.id }}">
                <p class="comparison-button-inner-{{ section.id }}">
                {{ block.settings.button_text }}
                {% if button_style == "non_outline_arrow" or button_style == "outline_arrow" %}
                    <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                      <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                    </svg>
                  {% endif %}
                </p>
              </{% if block.settings.url != blank or block.settings.product != blank %}a{% else %}div{% endif %}>
            {% endif %}

            <div class="comparison-progresg-body-{{ section.id }}">                
              {% if first_progress_title != blank or block.settings.first_progress == 0 %}
                <div class="comparison-progresg-wrapper-{{ section.id }}">
                  {% if first_progress_title != blank %}
                    <h3 class="comparison-progresg-title-{{ section.id }}">{{ first_progress_title }}</h3>
                  {% endif %}
                  <div class="comparison-progresg-{{ section.id }} comparison-first-progresg-{{ block.id }}"></div>
                </div>
              {% endif %}

              {% if second_progress_title != blank or block.settings.second_progress == 0 %}
                <div class="comparison-progresg-wrapper-{{ section.id }}">
                  {% if second_progress_title != blank %}
                    <h3 class="comparison-progresg-title-{{ section.id }}">{{ second_progress_title }}</h3>
                  {% endif %}
                  <div class="comparison-progresg-{{ section.id }} comparison-second-progresg-{{ block.id }}"></div>
                </div>
              {% endif %}

              {% if third_progress_title != blank or block.settings.third_progress == 0 %}
                <div class="comparison-progresg-wrapper-{{ section.id }}">
                  {% if third_progress_title != blank %}
                    <h3 class="comparison-progresg-title-{{ section.id }}">{{ third_progress_title }}</h3>
                  {% endif %}
                  <div class="comparison-progresg-{{ section.id }} comparison-third-progresg-{{ block.id }}"></div>
                </div>
              {% endif %}

              {% if fourth_progress_title != blank or block.settings.fourth_progress == 0 %}
                <div class="comparison-progresg-wrapper-{{ section.id }}">
                  {% if fourth_progress_title != blank %}
                    <h3 class="comparison-progresg-title-{{ section.id }}">{{ fourth_progress_title }}</h3>
                  {% endif %}
                  <div class="comparison-progresg-{{ section.id }} comparison-fourth-progresg-{{ block.id }}"></div>
                </div>
              {% endif %}

              {% if fifth_progress_title != blank or block.settings.fifth_progress == 0 %}
                <div class="comparison-progresg-wrapper-{{ section.id }}">
                  {% if fifth_progress_title != blank %}
                    <h3 class="comparison-progresg-title-{{ section.id }}">{{ fifth_progress_title }}</h3>
                  {% endif %}
                  <div class="comparison-progresg-{{ section.id }} comparison-fifth-progresg-{{ block.id }}"></div>
                </div>
              {% endif %}
            </div>

            {% if block.settings.bottom_title != blank %}
              <h3 class="comparison-bottom-title-{{ section.id }}">{{ block.settings.bottom_title }}</h3>
            {% endif %}

            {% if block.settings.bottom_text != blank %}
              <div class="comparison-bottom-text-{{ section.id }}">{{ block.settings.bottom_text }}</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class="comparison-mobile-{{ section.id }}">
        <div class="comparison-slider-{{ section.id }} swiper">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="comparison-item-{{ section.id }} swiper-slide">
                <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% elsif block.settings.product != blank %}a href="{{ block.settings.product.url }}"{% else %}div{% endif %} class="comparison-image-{{ section.id }}">
                  {% if block.settings.custom_image != blank %}
                    <img src="{{ block.settings.custom_image | img_url: "500x500" }}" alt="{{ block.settings.custom_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>            
                  {% elsif block.settings.product.featured_image != blank %}
                    <img src="{{ block.settings.product.featured_image | img_url: "500x500" }}" alt="{{ block.settings.product.featured_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>            
                  {% else %}
                    {{ 'image' | placeholder_svg_tag }}
                  {% endif %}
                </{% if block.settings.url != blank or block.settings.product != blank %}a{% else %}div{% endif %}>        
    
                {% if block.settings.custom_title != blank %}
                  <p class="comparison-product-title-{{ section.id }}">{{ block.settings.custom_title }}</p>
                {% elsif block.settings.product != blank %}  
                  <p class="comparison-product-title-{{ section.id }}">{{ block.settings.product.title }}</p>
                {% endif %} 
    
                {% if block.settings.details != blank %}
                  <div class="comparison-product-details-{{ section.id }}">{{ block.settings.details }}</div>                     
                {% elsif block.settings.product.metafields.custom.specs.value != blank %}
                  <div class="comparison-product-details-{{ section.id }}"><p>{{ block.settings.product.metafields.custom.specs.value }}</p></div> 
                {% endif %}  
    
                {% if block.settings.product != blank %}
                  <div class="comparison-price-{{ section.id }}">
                    <p class="comparison-regular-price-{{ section.id }}">{% if block.settings.product != blank %}{{ block.settings.product.price | money }}{% else %}$19.99{% endif %}</p>
                    {% if block.settings.product.compare_at_price != blank and price_compare %}
                      <strong>-</strong> <p class="comparison-compare-price-{{ section.id }}">{{ block.settings.product.compare_at_price | money }}</p>
                    {% endif %}
                  </div>
                {% endif %}    
    
                {% if block.settings.button_text != blank %}
                  <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% elsif block.settings.product != blank %}a href="{{ block.settings.product.url }}"{% else %}div{% endif %} class="comparison-button-{{ section.id }} comparison-button-desktop-{{ section.id }}">
                    <p class="comparison-button-inner-{{ section.id }}">
                    {{ block.settings.button_text }}
                    {% if button_style == "non_outline_arrow" or button_style == "outline_arrow" %}
                        <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                          <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                        </svg>
                      {% endif %}
                    </p>
                  </{% if block.settings.url != blank or block.settings.product != blank %}a{% else %}div{% endif %}>
                {% endif %}
    
                <div class="comparison-progresg-body-{{ section.id }}">                
                  {% if first_progress_title != blank or block.settings.first_progress == 0 %}
                    <div class="comparison-progresg-wrapper-{{ section.id }}">
                      {% if first_progress_title != blank %}
                        <h3 class="comparison-progresg-title-{{ section.id }}">{{ first_progress_title }}</h3>
                      {% endif %}
                      <div class="comparison-progresg-{{ section.id }} comparison-first-progresg-{{ block.id }}"></div>
                    </div>
                  {% endif %}
    
                  {% if second_progress_title != blank or block.settings.second_progress == 0 %}
                    <div class="comparison-progresg-wrapper-{{ section.id }}">
                      {% if second_progress_title != blank %}
                        <h3 class="comparison-progresg-title-{{ section.id }}">{{ second_progress_title }}</h3>
                      {% endif %}
                      <div class="comparison-progresg-{{ section.id }} comparison-second-progresg-{{ block.id }}"></div>
                    </div>
                  {% endif %}
    
                  {% if third_progress_title != blank or block.settings.third_progress == 0 %}
                    <div class="comparison-progresg-wrapper-{{ section.id }}">
                      {% if third_progress_title != blank %}
                        <h3 class="comparison-progresg-title-{{ section.id }}">{{ third_progress_title }}</h3>
                      {% endif %}
                      <div class="comparison-progresg-{{ section.id }} comparison-third-progresg-{{ block.id }}"></div>
                    </div>
                  {% endif %}
    
                  {% if fourth_progress_title != blank or block.settings.fourth_progress == 0 %}
                    <div class="comparison-progresg-wrapper-{{ section.id }}">
                      {% if fourth_progress_title != blank %}
                        <h3 class="comparison-progresg-title-{{ section.id }}">{{ fourth_progress_title }}</h3>
                      {% endif %}
                      <div class="comparison-progresg-{{ section.id }} comparison-fourth-progresg-{{ block.id }}"></div>
                    </div>
                  {% endif %}
    
                  {% if fifth_progress_title != blank or block.settings.fifth_progress == 0 %}
                    <div class="comparison-progresg-wrapper-{{ section.id }}">
                      {% if fifth_progress_title != blank %}
                        <h3 class="comparison-progresg-title-{{ section.id }}">{{ fifth_progress_title }}</h3>
                      {% endif %}
                      <div class="comparison-progresg-{{ section.id }} comparison-fifth-progresg-{{ block.id }}"></div>
                    </div>
                  {% endif %}
                </div>
    
                {% if block.settings.bottom_title != blank %}
                  <h3 class="comparison-bottom-title-{{ section.id }}">{{ block.settings.bottom_title }}</h3>
                {% endif %}
    
                {% if block.settings.bottom_text != blank %}
                  <div class="comparison-bottom-text-{{ section.id }}">{{ block.settings.bottom_text }}</div>
                {% endif %}
              </div>
            {% endfor %}
          </div>      
          <button class="comparison-btn-prev-{{ section.id }}">
            <span class="animate-icon"></span>
          </button>
          <button class="comparison-btn-next-{{ section.id }}">
            <span class="animate-icon"></span>
          </button>  
        </div>
        <div class="comparison-pagination-{{ section.id }} swiper-pagination"></div>
      </div>     
    </div>
</div>

<script>
  function loadSwiper(callback) {
    if (window.Swiper) {
      callback();
    } else {
      const script = document.createElement('script');
      script.src = "https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js";
      script.onload = callback;
      document.head.appendChild(script);
    }
  }

  function initComparisonTable18(sectionId) {
    const slider = new Swiper(`.comparison-slider-${sectionId}`, {
      speed: 300,
      loop: true,
      pagination: {
        el: '.comparison-pagination-{{ section.id }}',
        type: "bullets",
        clickable: true
      },
      breakpoints: {
        320: {
          slidesPerView: 1,
        },
        768: {
          slidesPerView: 1,
        },
        1024: {
          slidesPerView: {{ columns_view }},
        }
      },
 
      navigation: {
        nextEl: `.comparison-btn-next-${sectionId}`,
        prevEl: `.comparison-btn-prev-${sectionId}`,
      },     
    });
  }

  function initializeAllComparisonTable18Sections() {
    const sections = document.querySelectorAll('[id^="shopify-section-"]');
    sections.forEach(section => {
      if (section.querySelector('.comparison-{{ section.id }}')) {
        const sectionId = section.id.replace('shopify-section-', '');
        loadSwiper(() => initComparisonTable18(sectionId));
      }
    });
  }

  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', initializeAllComparisonTable18Sections);
  } else {
    initializeAllComparisonTable18Sections();
  }

  if (Shopify.designMode) {
    document.addEventListener('shopify:section:load', (event) => {
      const sectionId = event.detail.sectionId;
      if (event.target.querySelector('.comparison-{{ section.id }}')) {
        loadSwiper(() => initComparisonTable18(sectionId));
      }
    });
  }
</script>



{% schema %}
{
  "name": "SG-Comparison table #18",
  "settings": [
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Text",
      "default": "<h2>Comparison table #18</h2>"
    },
    {
      "type": "checkbox",
      "id": "heading_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 34
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 26
    },
    {
      "type": "range",
      "id": "heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "range",
      "id": "heading_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding sides",
      "default": 50
    },
    {
      "type": "range",
      "id": "heading_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding sides - mobile",
      "default": 12
    },
    {
      "type": "text_alignment",
      "id": "heading_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "heading_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Columns"
    },
    {
      "type": "range",
      "id": "columns_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 60
    },
    {
      "type": "range",
      "id": "columns_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "use_slider_desktop",
      "label": "Use slider - desktop"
    },
    {
      "type": "range",
      "id": "columns_view",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Slider columns per view",
      "default": 3
    },
    {
      "type": "header",
      "content": "Column"
    },
    {
      "type": "range",
      "id": "column_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 50
    },
    {
      "type": "range",
      "id": "column_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "column_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 12
    },
    {
      "type": "range",
      "id": "column_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "column_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 1
    },
    {
      "type": "text_alignment",
      "id": "column_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "column_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "range",
      "id": "image_width",
      "min": 100,
      "max": 250,
      "step": 5,
      "unit": "px",
      "label": "Width",
      "default": 120
    },
    {
      "type": "range",
      "id": "image_width_mobile",
      "min": 100,
      "max": 250,
      "step": 5,
      "unit": "px",
      "label": "Width - mobile",
      "default": 120
    },
    {
      "type": "range",
      "id": "image_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 0
    },
    {
      "type": "range",
      "id": "image_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Aspect ratio",
      "default": "square",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_ratio_mobile",
      "label": "Aspect ratio - mobile",
      "default": "square",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product title"
    },
    {
      "type": "checkbox",
      "id": "title_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "title_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "title_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 32
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 22
    },
    {
      "type": "range",
      "id": "title_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "range",
      "id": "title_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 20
    },
    {
      "type": "range",
      "id": "title_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 20
    },
    {
      "type": "header",
      "content": "Details"
    },
    {
      "type": "checkbox",
      "id": "details_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "details_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "details_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 15
    },
    {
      "type": "range",
      "id": "details_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 13
    },
    {
      "type": "range",
      "id": "details_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "range",
      "id": "details_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 4
    },
    {
      "type": "range",
      "id": "details_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 4
    },
    {
      "type": "header",
      "content": "Price"
    },
    {
      "type": "checkbox",
      "id": "price_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "price_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "price_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 15
    },
    {
      "type": "range",
      "id": "price_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 13
    },
    {
      "type": "range",
      "id": "price_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "range",
      "id": "price_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 10
    },
    {
      "type": "range",
      "id": "price_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "price_compare",
      "label": "Show compare-at price",
      "default": true
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "checkbox",
      "id": "button_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "button_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "button_size",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 12
    },
    {
      "type": "range",
      "id": "button_size_mobile",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "button_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 100
    },
    {
      "type": "range",
      "id": "button_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 20
    },
    {
      "type": "range",
      "id": "button_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "button_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 14
    },
    {
      "type": "range",
      "id": "button_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "button_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 100
    },
    {
      "type": "range",
      "id": "button_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "button_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 40
    },
    {
      "type": "range",
      "id": "button_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 20
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "default": "non_outline",
      "options": [
        {
          "label": "Link",
          "value": "link"
        },
        {
          "label": "Non-outline",
          "value": "non_outline"
        },
        {
          "label": "Non-outline & arrow",
          "value": "non_outline_arrow"
        },
        {
          "label": "Outline",
          "value": "outline"
        },
        {
          "label": "Outline & arrow",
          "value": "outline_arrow"
        }
      ]
    },
    {
      "type": "header",
      "content": "Progress bars"
    },
    {
      "type": "range",
      "id": "progress_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 50
    },
    {
      "type": "range",
      "id": "progress_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 24
    },
    {
      "type": "text",
      "id": "first_progress_title",
      "label": "First progress bar title",
      "default": "FIRST PROGRESS"
    },
    {
      "type": "text",
      "id": "second_progress_title",
      "label": "Second progress bar title",
      "default": "SECOND PROGRESS"
    },
    {
      "type": "text",
      "id": "third_progress_title",
      "label": "Third progress bar title",
      "default": "THIRD PROGRESS"
    },
    {
      "type": "text",
      "id": "fourth_progress_title",
      "label": "Foutrh progress bar title",
      "default": "FOURTH PROGRESS"
    },
    {
      "type": "text",
      "id": "fifth_progress_title",
      "label": "Fifth progress bar title",
      "default": "FIFTH PROGRESS"
    },
    {
      "type": "header",
      "content": "Progress title"
    },
    {
      "type": "checkbox",
      "id": "progress_title_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "progress_title_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "progress_title_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 12
    },
    {
      "type": "range",
      "id": "progress_title_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "progress_title_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "range",
      "id": "progress_title_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 20
    },
    {
      "type": "range",
      "id": "progress_title_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 16
    },
    {
      "type": "text_alignment",
      "id": "progress_align",
      "label": "Alignment",
      "default": "left"
    },
    {
      "type": "text_alignment",
      "id": "progress_align_mobile",
      "label": "Alignment - mobile",
      "default": "left"
    },
    {
      "type": "header",
      "content": "Progress"
    },
    {
      "type": "range",
      "id": "progress_height",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Height",
      "default": 10
    },
    {
      "type": "range",
      "id": "progress_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 0
    },
    {
      "type": "range",
      "id": "progress_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 1
    },
    {
      "type": "header",
      "content": "Additional information"
    },
    {
      "type": "text_alignment",
      "id": "info_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "info_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Title"
    },
    {
      "type": "checkbox",
      "id": "bottom_title_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "bottom_title_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "bottom_title_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 13
    },
    {
      "type": "range",
      "id": "bottom_title_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 13
    },
    {
      "type": "range",
      "id": "bottom_title_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "range",
      "id": "bottom_title_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_title_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 24
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "checkbox",
      "id": "bottom_text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "bottom_text_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "bottom_text_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 12
    },
    {
      "type": "range",
      "id": "bottom_text_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "bottom_text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "range",
      "id": "bottom_text_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 20
    },
    {
      "type": "range",
      "id": "bottom_text_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 4
    },
    {
      "type": "header",
      "content": "Arrows"
    },
    {
      "type": "range",
      "id": "arrow_size",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Size",
      "default": 48
    },
    {
      "type": "range",
      "id": "arrow_icon_size",
      "min": 5,
      "max": 15,
      "step": 1,
      "unit": "px",
      "label": "Icon size",
      "default": 10
    },
    {
      "type": "range",
      "id": "arrow_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "arrow_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 100
    },
    {
      "type": "select",
      "id": "arrow_hover_effect",
      "label": "Hover effect",
      "default": "none",
      "options": [
        {
          "label": "Change color",
          "value": "color"
        },
        {
          "label": "Change size",
          "value": "scale"
        },
        {
          "label": "Change arrow",
          "value": "arrow"
        },
        {
          "label": "None",
          "value": "none"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "arrow_show_desktop",
      "label": "Show on desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "arrow_show_mobile",
      "label": "Show on mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "Dots settings"
    },
    {
      "type": "range",
      "id": "dots_size",
      "min": 5,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 6
    },
    {
      "type": "range",
      "id": "dots_size_mobile",
      "min": 5,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Size - mobile",
      "default": 6
    },
    {
      "type": "range",
      "id": "dots_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 40
    },
    {
      "type": "range",
      "id": "dots_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 24
    },
    {
      "type": "checkbox",
      "id": "dots_show_desktop",
      "label": "Show on desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots_show_mobile",
      "label": "Show on mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "Product colors"
    },
    {
      "type": "color",
      "label": "Title",
      "id": "title_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Details",
      "id": "details_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Price",
      "id": "price_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Compare-at price",
      "id": "price_original_color",
      "default": "#C7C7C7"
    },
    {
      "type": "color",
      "label": "Image border",
      "id": "image_border_color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Progress bars colors"
    },
    {
      "type": "color",
      "label": "Title",
      "id": "progress_title_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Default background",
      "id": "progress_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Active background",
      "id": "progress_active_bg_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "progress_border_color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Additional information colors"
    },
    {
      "type": "color",
      "label": "Title",
      "id": "bottom_title_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "bottom_text_color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Button colors"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "button_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Hover text",
      "id": "button_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "button_bg_color",
      "default": "#0928d6"
    },
    {
      "type": "color",
      "label": "Background hover",
      "id": "button_bg_hover_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Button border",
      "id": "button_border_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Border hover",
      "id": "button_border_hover_color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Arrow colors"
    },
    {
      "type": "color",
      "label": "Icon",
      "id": "arrow_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Icon hover",
      "id": "arrow_hover_color",
      "default": "#C7C7C7"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "arrow_bg_color"
    },
    {
      "type": "color",
      "label": "Background hover",
      "id": "arrow_bg_hover_color"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "arrow_border_color",
      "default": "#C7C7C7"
    },
    {
      "type": "color",
      "label": "Border hover",
      "id": "arrow_border_hover_color",
      "default": "#C7C7C7"
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "color",
      "label": "Heading",
      "id": "heading_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Table border",
      "id": "column_border_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Dots",
      "id": "dots_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient",
      "info": "Remove gradient to replace with solid colors"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Margin sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Margin sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 800,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "label": "Section content width",
      "default": 1300
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Image",
          "info": "Leave blank to use the product's default image."
        },
        {
          "type": "text",
          "id": "custom_title",
          "label": "Title",
          "default": "Product title",
          "info": "Leave blank to display the product's title."
        },
        {
          "type": "richtext",
          "id": "details",
          "label": "Details",
          "default": "<p>Product details</p>",
          "info": "Leave blank to use the custom.specs metafield for product details. For best results, keep the word count similar across all products."
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button label",
          "default": "SHOP NOW",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "url",
          "id": "url",
          "label": "Custom link",
          "info": "Leave blank to use the product's default link."
        },
        {
          "type": "header",
          "content": "Progress bars"
        },
        {
          "type": "range",
          "id": "first_progress",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "First progress",
          "default": 90
        },
        {
          "type": "range",
          "id": "second_progress",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Second progress",
          "default": 60
        },
        {
          "type": "range",
          "id": "third_progress",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Third progress",
          "default": 60
        },
        {
          "type": "range",
          "id": "fourth_progress",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Fourth progress",
          "default": 70
        },
        {
          "type": "range",
          "id": "fifth_progress",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Fifth progress",
          "default": 30
        },
        {
          "type": "header",
          "content": "Additional information"
        },
        {
          "type": "text",
          "id": "bottom_title",
          "label": "Title",
          "default": "ADDITIONAL INFORMATION"
        },
        {
          "type": "richtext",
          "id": "bottom_text",
          "label": "Text",
          "default": "<p>Use this text to share information about your product with your customers.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Comparison table #18",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}