{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_color = section.settings.heading_color
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign current_size = section.settings.current_size
  assign current_size_mobile = section.settings.current_size_mobile
  assign current_color = section.settings.current_color
  assign current_custom = section.settings.current_custom
  assign current_font = section.settings.current_font
  assign current_height = section.settings.current_height

  assign table_width_mobile = section.settings.table_width_mobile
  assign table_width = section.settings.table_width
  assign table_mt = section.settings.table_mt
  assign table_border_thickness = section.settings.table_border_thickness
  assign table_border_color = section.settings.table_border_color

  assign months = section.settings.months
  assign monthsArray = months | split: ','
  assign days = section.settings.days
  assign daysArray = days | split: ','
  assign short_days = section.settings.short_days
  assign short_daysArray = short_days | split: ','

  assign head_padding_vertical = section.settings.head_padding_vertical
  assign head_padding_horizontal = section.settings.head_padding_horizontal
  assign head_bg_color = section.settings.head_bg_color

  assign days_size = section.settings.days_size
  assign days_size_mobile = section.settings.days_size_mobile
  assign days_color = section.settings.days_color
  assign days_custom = section.settings.days_custom
  assign days_font = section.settings.days_font
  assign days_height = section.settings.days_height
  assign days_align = section.settings.days_align

  assign body_empty_bg_color = section.settings.body_empty_bg_color
  assign body_bg_color = section.settings.body_bg_color
  assign body_height_mobile = section.settings.body_height_mobile
  assign body_height = section.settings.body_height
  assign body_vertical_align = section.settings.body_vertical_align

  assign number_size = section.settings.number_size
  assign number_size_mobile = section.settings.number_size_mobile
  assign number_color = section.settings.number_color
  assign number_custom = section.settings.number_custom
  assign number_font = section.settings.number_font
  assign number_height = section.settings.number_height
  assign number_align = section.settings.number_align

  assign event_date_size = section.settings.event_date_size
  assign event_date_size_mobile = section.settings.event_date_size_mobile
  assign event_date_color = section.settings.event_date_color
  assign event_date_custom = section.settings.event_date_custom
  assign event_date_font = section.settings.event_date_font
  assign event_date_height = section.settings.event_date_height
  assign event_date_align = section.settings.event_date_align
  assign event_date_mt = section.settings.event_date_mt

  assign event_title_size = section.settings.event_title_size
  assign event_title_size_mobile = section.settings.event_title_size_mobile
  assign event_title_color = section.settings.event_title_color
  assign event_title_custom = section.settings.event_title_custom
  assign event_title_font = section.settings.event_title_font
  assign event_title_height = section.settings.event_title_height
  assign event_title_align = section.settings.event_title_align
  assign event_title_mt = section.settings.event_title_mt

  assign tooltip_padding_vertical = section.settings.tooltip_padding_vertical
  assign tooltip_padding_horizontal = section.settings.tooltip_padding_horizontal
  assign tooltip_bg_color = section.settings.tooltip_bg_color
  assign tooltip_border_color = section.settings.tooltip_border_color
  assign tooltip_border_thickness = section.settings.tooltip_border_thickness
  assign tooltip_radius = section.settings.tooltip_radius

  assign event_mark_color = section.settings.event_mark_color

  assign event_content_title_size = section.settings.event_content_title_size
  assign event_content_title_size_mobile = section.settings.event_content_title_size_mobile
  assign event_content_title_color = section.settings.event_content_title_color
  assign event_content_title_custom = section.settings.event_content_title_custom
  assign event_content_title_font = section.settings.event_content_title_font
  assign event_content_title_height = section.settings.event_content_title_height
  assign event_content_title_mt = section.settings.event_content_title_mt

  assign event_text_size = section.settings.event_text_size
  assign event_text_size_mobile = section.settings.event_text_size_mobile
  assign event_text_color = section.settings.event_text_color
  assign event_text_custom = section.settings.event_text_custom
  assign event_text_font = section.settings.event_text_font
  assign event_text_height = section.settings.event_text_height
  assign event_text_align = section.settings.event_text_align
  assign event_text_mt = section.settings.event_text_mt

  assign modal_padding_horizontal = section.settings.modal_padding_horizontal
  assign modal_padding_vertical = section.settings.modal_padding_vertical
  assign modal_radius = section.settings.modal_radius
  assign modal_border_thickness = section.settings.modal_border_thickness
  assign modal_width = section.settings.modal_width
  assign modal_width_mobile = section.settings.modal_width_mobile
  assign modal_overlay = section.settings.modal_overlay
  assign modal_border_color = section.settings.modal_border_color
  assign modal_bg_color = section.settings.modal_bg_color
  assign modal_close_bg_color = section.settings.modal_close_bg_color
  assign modal_close_icon_color = section.settings.modal_close_icon_color

  assign image_width = section.settings.image_width
  assign image_width_mobile = section.settings.image_width_mobile
  assign image_radius = section.settings.image_radius
  assign image_border_thickness = section.settings.image_border_thickness
  assign image_border_color = section.settings.image_border_color
-%}

{%- style -%}

  {{  heading_font | font_face: font_display: 'swap' }}
  {{  current_font | font_face: font_display: 'swap' }}
  {{  days_font | font_face: font_display: 'swap' }}
  {{  number_font | font_face: font_display: 'swap' }}
  {{  event_date_font | font_face: font_display: 'swap' }}
  {{  event_title_font | font_face: font_display: 'swap' }}
  {{  event_content_title_font | font_face: font_display: 'swap' }}
  {{  event_text_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .calendar-heading-{{ section.id }} {
    text-align: {{ heading_align_mobile }};
  }

  .calendar-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
  }

  .calendar-pagination-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .calendar-pagination-{{ section.id }} a {
    cursor: pointer;
  }

  .calendar-current-{{ section.id }} {
    margin: 0;
    font-size: {{ current_size_mobile }}px;
    color: {{ current_color }};
    line-height: {{ current_height }}%;
    text-transform: unset;
  }

  .calendar-table-{{ section.id }} {
    margin-top: {{ table_mt | times: 0.75 | round: 0 }}px;
    width: 100%;
    max-width: {{ table_width_mobile }}%;
    margin-left: auto;
    margin-right: auto;
  }

  .calendar-table-{{ section.id }} table {
    width: 100%;
  }

  .calendar-table-{{ section.id }} table,
  .calendar-table-{{ section.id }} th,
  .calendar-table-{{ section.id }} td {
    box-shadow: none !important;
    border: {{ table_border_thickness }}px solid {{ table_border_color }} !important;
  }

  .calendar-table-{{ section.id }} table th:not(:last-child) {
    border-right: 0px !important;
  }

  .calendar-table-{{ section.id }} table th:not(:first-child) {
    border-left: 0px !important;
  }

  .calendar-table-{{ section.id }} thead th {
    padding: {{ head_padding_vertical | times: 0.75 | round: 0 }}px {{ head_padding_horizontal | times: 0.75 | round: 0 }}px;
    background-color: {{ head_bg_color }};
    font-size: {{ days_size_mobile }}px;
    color: {{ days_color }};
    line-height: {{ days_height }}%;
    text-transform: unset;
    text-align: {{ days_align }};
    font-weight: 400;
    overflow: hidden;
    word-wrap: break-word;
  }

  .calendar-table-{{ section.id }} tbody td {
    height: {{ body_height_mobile }}px;
    background-color: {{ body_bg_color }};
    font-size: {{ number_size_mobile }}px;
    color: {{ number_color }};
    line-height: {{ number_height }}%;
    text-transform: unset;
    text-align: {{ number_align }};
    font-weight: 700;
    font-style: italic;
    vertical-align: {{ body_vertical_align }};
    position: relative;
  }

  .calendar-table-{{ section.id }} tbody td:empty {
    background-color: {{ body_empty_bg_color }};
  }

  .calendar-event-{{ section.id }} {
    cursor: pointer;
  }

  .calendar-event-mark-{{ section.id }} {
    margin: 0px;
    display: block !important;
    color: {{ event_mark_color }};
    pointer-events: none;
    line-height: 100%;
    font-style: normal;
  }

  .calendar-event-date-{{ section.id }} {
    display: none;
    margin-top: {{ event_date_mt | times: 0.75 | round: 0 }}px;
    margin: 0px;
    font-size: {{ event_date_size_mobile }}px;
    color: {{ event_date_color }};
    line-height: {{ event_date_height }}%;
    text-transform: unset;
    text-align: {{ event_date_align }};
    font-weight: 400;
  }

  .calendar-event-title-{{ section.id }} {
    display: none;
    margin-top: {{ event_title_mt | times: 0.75 | round: 0 }}px;
    margin: 0px;
    font-size: {{ event_title_size_mobile }}px;
    color: {{ event_title_color }};
    line-height: {{ event_title_height }}%;
    text-transform: unset;
    text-align: {{ event_title_align }};
  }

  .calendar-event-content-{{ section.id }} {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 350px;
    max-height: 400px;
    overflow-y: scroll;
    padding: {{ tooltip_padding_vertical | times: 0.75 | round: 0 }}px {{ tooltip_padding_horizontal | times: 0.75 | round: 0 }}px;
    background-color: {{ tooltip_bg_color }};
    border-radius: {{ tooltip_radius }}px;
    border: {{ tooltip_border_thickness }}px solid {{ tooltip_border_color }};
    box-shadow: 0 0 14px rgba(0,0,0,.3);
    text-align: {{ event_text_align }};
    transition: all 0.25s ease 0s;
  }

  .calendar-toggle-{{ section.id }}.active .calendar-event-content-{{ section.id }}{
    transition: all 0.25s ease 0s;
    opacity: 1;
    pointer-events: all;
    z-index: 2;
  }

  .calendar-event-image-{{ section.id }} {
    width: 100%;
    margin: 0px auto !important;
    max-width: {{ image_width_mobile }}%;
    border: {{ image_border_thickness }}px solid {{ image_border_color }};
    border-radius: {{ image_radius }}px;
  }

  .calendar-event-image-{{ section.id }} img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: {{ image_radius }}px;
    margin-bottom: {{section.settings.image_margin_bottom}}px;
  }

  .calendar-event-content-{{ section.id }} *,
  .calendar-modal-content-{{ section.id }} * {
    margin: 0px;
    font-size: {{ event_text_size_mobile }}px;
    color: {{ event_text_color }};
    line-height: {{ event_text_height }}%;
    text-transform: unset;
    font-weight: 400;
    word-break: break-word;
  }

  .calendar-event-content-title-{{ section.id }} {
    margin: 0px;
    margin-top: {{ event_content_title_mt | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ event_text_mt | times: 0.75 | round: 0 }}px;
    font-size: {{ event_content_title_size_mobile }}px;
    color: {{ event_content_title_color }};
    line-height: {{ event_content_title_height }}%;
    text-transform: unset;
    font-weight: 700;
  }

  .calendar-modal-{{ section.id }} {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    overflow-y: scroll;
    pointer-events: none;
    background: rgba(0, 0, 0, {{ modal_overlay | times: 0.01 }});
    padding: 20px;
  }

  .calendar-modal-{{ section.id }}.active {
    opacity: 1;
    z-index: 100;
    pointer-events: all;
    transition: all 250ms ease-in 0s;
  }

  .calendar-modal-inner-{{ section.id }} {
    position: relative;
    width: 100%;
    max-width: {{ modal_width_mobile }}%;
    padding: {{ modal_padding_vertical | times: 0.75 | round: 0 }}px {{ modal_padding_horizontal | times: 0.75 | round: 0 }}px;
    border: {{ modal_border_thickness }}px solid {{ modal_border_color }};
    background-color: {{ modal_bg_color }};
    border-radius: {{ modal_radius }}px;
  }

  .calendar-video-close-wrapper-{{ section.id }} {
    position: absolute;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    top: -11px;
    right: -11px;
  }

  .calendar-video-close-{{ section.id }} {
    box-shadow: 0 2px 4px #0003;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: pointer;
    transform-origin: 50%;
    background: {{ modal_close_bg_color }};
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
  }

  .calendar-video-close-{{ section.id }} svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
  }

  .calendar-video-close-{{ section.id }} svg path {
    fill: {{ modal_close_icon_color }};
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .calendar-heading-{{ section.id }} {
      text-align: {{ heading_align }};
    }

    .calendar-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .calendar-current-{{ section.id }} {
      font-size: {{ current_size }}px;
    }

    .calendar-table-{{ section.id }} {
      margin-top: {{ table_mt }}px;
      max-width: {{ table_width }}%;
    }

    .calendar-table-{{ section.id }} thead th {
      padding: {{ head_padding_vertical }}px {{ head_padding_horizontal }}px;
      font-size: {{ days_size }}px;
    }

    .calendar-table-{{ section.id }} tbody td {
      height: {{ body_height }}px;
      font-size: {{ number_size }}px;
    }
    
    .calendar-event-mark-{{ section.id }} {
      display: none !important;
    }

    .calendar-event-date-{{ section.id }} {
      display: block;
      margin-top: {{ event_date_mt }}px;
      font-size: {{ event_date_size }}px;
    }

    .calendar-event-title-{{ section.id }} {
      display: block;
      margin-top: {{ event_title_mt }}px;
      font-size: {{ event_title_size }}px;
    }

    .calendar-event-content-{{ section.id }} {
      padding: {{ tooltip_padding_vertical }}px {{ tooltip_padding_horizontal }}px;
      position: absolute;
      top: 110%;
      left: 50%;
      transform: translate(-50%, 0); 
    }

    .calendar-table-{{ section.id }} td:first-child .calendar-event-content-{{ section.id }} {
      left: 0;
      transform: translateX(0);
    }
  
    .calendar-table-{{ section.id }} td:last-child .calendar-event-content-{{ section.id }} {
      left: unset;
      right: 0;
      transform: translateX(0);
    }

    .calendar-event-{{ section.id }}:hover .calendar-event-content-{{ section.id }}{
      transition: all 0.25s ease 0s;
      opacity: 1;
      pointer-events: all;
      z-index: 2;
    }

    .calendar-event-content-{{ section.id }} *,
    .calendar-modal-content-{{ section.id }} * {
      font-size: {{ event_text_size }}px;
    }

    .calendar-event-content-title-{{ section.id }} {
      margin-top: {{ event_content_title_mt }}px;
      margin-bottom: {{ event_text_mt }}px;
      font-size: {{ event_content_title_size}}px;
    }

    .calendar-modal-{{ section.id }} {
      padding: 100px;
    }

    .calendar-modal-inner-{{ section.id }} {
      max-width: {{ modal_width }}%;
    }

    .calendar-event-image-{{ section.id }} {
      max-width: {{ image_width }}%;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if heading_custom %}
  <style>
    .calendar-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if current_custom %}
  <style>
    .calendar-current-{{ section.id }} {
      font-family: {{ current_font.family }}, {{ current_font.fallback_families }};
      font-weight: {{ current_font.weight }};
      font-style: {{ current_font.style }};
    }
  </style>
{% endif %}

{% if days_custom %}
  <style>
    .calendar-table-{{ section.id }} thead th {
      font-family: {{ days_font.family }}, {{ days_font.fallback_families }};
      font-weight: {{ days_font.weight }};
      font-style: {{ days_font.style }};
    }
  </style>
{% endif %}

{% if number_custom %}
  <style>
    .calendar-table-{{ section.id }} tbody td {
      font-family: {{ number_font.family }}, {{ number_font.fallback_families }};
      font-weight: {{ number_font.weight }};
      font-style: {{ number_font.style }};
    }
  </style>
{% endif %}

{% if event_date_custom %}
  <style>
    .calendar-event-date-{{ section.id }} {
      font-family: {{ event_date_font.family }}, {{ event_date_font.fallback_families }};
      font-weight: {{ event_date_font.weight }};
      font-style: {{ event_date_font.style }};
    }
  </style>
{% endif %}

{% if event_title_custom %}
  <style>
    .calendar-event-title-{{ section.id }} {
      font-family: {{ event_title_font.family }}, {{ event_title_font.fallback_families }};
      font-weight: {{ event_title_font.weight }};
      font-style: {{ event_title_font.style }};
    }
  </style>
{% endif %}

{% if event_text_custom %}
  <style>
    .calendar-event-content-{{ section.id }} *:not(.calendar-event-content-title-{{ section.id }}),
    .calendar-modal-content-{{ section.id }} *:not(.calendar-event-content-title-{{ section.id }}) {
      font-family: {{ event_text_font.family }}, {{ event_text_font.fallback_families }};
      font-weight: {{ event_text_font.weight }};
      font-style: {{ event_text_font.style }};
    }
  </style>
{% endif %}

{% if event_content_title_custom %}
  <style>
    .calendar-event-content-title-{{ section.id }} {
      font-family: {{ event_content_title_font.family }}, {{ event_content_title_font.fallback_families }};
      font-weight: {{ event_content_title_font.weight }};
      font-style: {{ event_content_title_font.style }};
    }
  </style>
{% endif %}

<div class="section-{{ section.id }} calendar-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">

      {% if heading != blank %}
        <div class="calendar-heading-{{ section.id }}">{{ heading }}</div>
      {% endif %}
      
      <div class="calendar-pagination-{{ section.id }}">
        <a class="previous-month-btn-{{ section.id }}" >←</a>
        
        <h4 class="calendar-current-{{ section.id }}" id="current-month-{{ section.id }}">December 2023</h4>
        
        <a class="next-month-btn-{{ section.id }}">→</a>
      </div>
      
      <div class="calendar-table-{{ section.id }}" id="calendar-container-{{ section.id }}"></div>
    </div>
</div>

{% for block in section.blocks %}
  <div class="calendar-modal-{{ section.id }}" data-id="{{ block.id }}">
    <div class="calendar-modal-inner-{{ section.id }}">
      <div class="calendar-video-close-wrapper-{{ section.id }}">
        <div class="calendar-video-close-{{ section.id }}">
          <svg style="width: 10px !important; height: 10px !important;" width="11" height="10" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.0547 12.5938C12.8203 12.8281 12.3906 12.8281 12.1562 12.5938L7 7.39844L1.80469 12.5938C1.57031 12.8281 1.14062 12.8281 0.90625 12.5938C0.671875 12.3594 0.671875 11.9297 0.90625 11.6953L6.10156 6.5L0.90625 1.34375C0.671875 1.10938 0.671875 0.679688 0.90625 0.445312C1.14062 0.210938 1.57031 0.210938 1.80469 0.445312L7 5.64062L12.1562 0.445312C12.3906 0.210938 12.8203 0.210938 13.0547 0.445312C13.2891 0.679688 13.2891 1.10938 13.0547 1.34375L7.85938 6.5L13.0547 11.6953C13.2891 11.9297 13.2891 12.3594 13.0547 12.5938Z" fill="white"></path>
          </svg>
        </div>
      </div>
      <div class="calendar-modal-content-{{ section.id }}">
        {% if block.settings.image != blank %}
          <div class="calendar-event-image-{{ section.id }}">
            <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.alt }}" {% if lazy %}loading="lazy"{% endif %}>
          </div>
        {% endif %}
        <p class="calendar-event-content-title-{{ section.id }}">{{ block.settings.title }}</p>
        {{ block.settings.text }}
      </div>
    </div>
  </div>
{% endfor %}

<script>
  function initCalendar() {
    var currentMonth = new Date().getMonth() + 1; // Get current month (1-12)
    var currentYear = new Date().getFullYear(); // Get current year

    var months = [
      {% for value in monthsArray %}
        "{{ value }}"{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ];

    function isLeapYear(year) {
      return (year % 4 === 0 && year % 100 !== 0) || (year % 400 === 0);
    }

    function updateCurrentMonthHeader() {
      document.getElementById('current-month-{{ section.id }}').textContent = months[currentMonth - 1] + ' ' + currentYear;
    }

    function calculateDaysInMonth(month, year) {
      return new Date(year, month, 0).getDate(); // Calculate number of days in the month
    }

    function calculateFirstDayOfMonth(month, year) {
      var firstDay = new Date(year, month - 1, 1).getDay(); // Get the first day of the month
      return (firstDay === 0) ? 6 : firstDay - 1; // Adjust for Monday as the start of the week
    }

    function createDayHeaders(screenWidth) {
      var daysOfWeek;
      if (screenWidth > 1023) {
        daysOfWeek = [
          {% for value in daysArray %}
            "{{ value }}"{% unless forloop.last %},{% endunless %}
          {% endfor %}
        ];
      } else {
        daysOfWeek = [
          {% for value in short_daysArray %}
            "{{ value }}"{% unless forloop.last %},{% endunless %}
          {% endfor %}
        ];
      }

      var thead = document.createElement('thead');
      var tr = document.createElement('tr');

      for (var j = 0; j < daysOfWeek.length; j++) {
        var th = document.createElement('th');
        th.textContent = daysOfWeek[j];
        tr.appendChild(th);
      }

      thead.appendChild(tr);
      return thead;
    }

    function showTab(month, year) {
      console.log("Tab clicked - month:", month, "year:", year);

      // Check if the table for the selected month already exists
      var table = document.getElementById('tab-' + month + '-' + year);

      if (!table) {
        console.error('Table for month', month, 'year', year, 'not found');
        return;
      }

      // Hide all tables
      document.querySelectorAll('table').forEach(function(table) {
        table.style.display = 'none';
      });

      // Show the relevant month
      table.style.display = 'table';

      // Update the calendar with the correct dates and events
      var daysInMonth = calculateDaysInMonth(month, year);
      var firstDay = calculateFirstDayOfMonth(month, year);
      
      var tbody = table.querySelector('tbody');

      // Check if tbody exists, if not, create it
      if (!tbody) {
        tbody = document.createElement('tbody');
        table.appendChild(tbody);
      }
      
      tbody.innerHTML = ""; // Clear previous days

      var tr = document.createElement('tr');
      for (var k = 0; k < firstDay; k++) {
        var emptyTd = document.createElement('td');
        tr.appendChild(emptyTd);
      }

      for (var day = 1; day <= daysInMonth; day++) {
        var td = document.createElement('td');
        td.textContent = day;

        {% for block in section.blocks %}
          let eventDay{{ forloop.index }} = "{{ block.settings.day }}";
          let eventMonth{{ forloop.index }} = "{{ block.settings.month }}";
          let eventTitle{{ forloop.index }} = "{{ block.settings.title }}";
          let eventDate{{ forloop.index }} = "{{ block.settings.date }}";
          {% if block.settings.image != blank %}
            let eventImage{{ forloop.index }} = "{{ block.settings.image | image_url }}";
          {% endif %}
          let eventContent{{ forloop.index }} = `{{ block.settings.text }}`;
          if (eventDay{{ forloop.index }} == day && months[month - 1] == eventMonth{{ forloop.index }}) {
            var eventDiv = document.createElement('div');
            eventDiv.classList.add('calendar-event-{{ section.id }}');
            eventDiv.id = "{{ block.id }}";
            var evenDateElement = document.createElement('p');
            evenDateElement.classList.add('calendar-event-date-{{ section.id }}');
            evenDateElement.textContent = eventDate{{ forloop.index }};
            eventDiv.appendChild(evenDateElement);
            var evenTitleElement = document.createElement('h4');
            evenTitleElement.classList.add('calendar-event-title-{{ section.id }}');
            evenTitleElement.textContent = eventTitle{{ forloop.index }};
            eventDiv.appendChild(evenTitleElement);
            var evenContenElement = document.createElement('div');
            evenContenElement.classList.add('calendar-event-content-{{ section.id }}');
            {% if block.settings.image != blank %}
              var evenImageWrapper = document.createElement('div');
              evenImageWrapper.classList.add('calendar-event-image-{{ section.id }}');
              var evenImageElement = document.createElement('img');
              evenImageElement.src = eventImage{{ forloop.index }};
              evenImageWrapper.appendChild(evenImageElement);
              evenContenElement.appendChild(evenImageWrapper);
            {% endif %}
            var evenContentTitle = document.createElement('p');
            evenContentTitle.classList.add('calendar-event-content-title-{{ section.id }}');
            evenContentTitle.textContent = eventTitle{{ forloop.index }};
            evenContenElement.appendChild(evenContentTitle);
            evenContenElement.innerHTML += `{{ block.settings.text }}`;
            eventDiv.appendChild(evenContenElement);
            var evenEventMark = document.createElement('p');
            evenEventMark.classList.add('calendar-event-mark-{{ section.id }}');
            evenEventMark.textContent = "●";
            td.appendChild(evenEventMark);
            td.appendChild(eventDiv);
            if (td.querySelector('.calendar-event-{{ section.id }}')) {
              td.classList.add('calendar-toggle-{{ section.id }}');
              td.id = "{{ block.id }}";
            }
          }
        {% endfor %}
        tr.appendChild(td);

        if ((day + firstDay) % 7 === 0 || day === daysInMonth) {
          tbody.appendChild(tr);
          if (day !== daysInMonth) {
            tr = document.createElement('tr');
          }
        }
      }

      var remainingDays = 7 - tr.children.length;
      for (var m = 0; m < remainingDays; m++) {
        var emptyTd = document.createElement('td');
        tr.appendChild(emptyTd);
      }
      tbody.appendChild(tr);

      if(window.innerWidth < 1024) {
        setTimeout(() => {
          let toggles = document.querySelectorAll('.calendar-toggle-{{ section.id }}');
          if(toggles) {
              toggles.forEach(el => {
                console.log(el);
                el.addEventListener('click', () => {
                  el.classList.add('active');
                });
      
                window.addEventListener('click', (e) => {
                  if(e.target != el) {
                    el.classList.remove('active');
                  }
                })
              })
            } 
        }, 300)
      }
    }

    document.querySelector('.previous-month-btn-{{ section.id }}').addEventListener('click', () => {
      currentMonth--;
      if (currentMonth < 1) {
        currentMonth = 12;
        currentYear--;
      }
      console.log("Previous Arrow clicked", currentMonth, currentYear);
      updateCurrentMonthHeader();
      showTab(currentMonth, currentYear);
    });

    document.querySelector('.next-month-btn-{{ section.id }}').addEventListener('click', () => {
      currentMonth++;
      if (currentMonth > 12) {
        currentMonth = 1;
        currentYear++;
      }
      console.log("Next Arrow clicked", currentMonth, currentYear);
      updateCurrentMonthHeader();
      showTab(currentMonth, currentYear);
    });

    var calendarContainer = document.getElementById('calendar-container-{{ section.id }}');
    for (var y = currentYear - 1; y <= currentYear + 1; y++) {
      for (var i = 0; i < months.length; i++) {
        var table = document.createElement('table');
        table.setAttribute('id', 'tab-' + (i + 1) + '-' + y);
        table.style.display = (i + 1 === currentMonth && y === currentYear) ? 'table' : 'none';

        var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        table.appendChild(createDayHeaders(screenWidth));

        calendarContainer.appendChild(table);
      }
    }

    updateCurrentMonthHeader();
    showTab(currentMonth, currentYear);
  }

  document.addEventListener('DOMContentLoaded', initCalendar);

  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initCalendar);
     document.addEventListener('shopify:section:load', initCalendar);
  }
</script>




{% schema %}
{
  "name": "SG-Calendar",
  "settings": [
    {
      "type": "header",
      "content": "Save settings to see section"
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<h2>Upcoming Events</h2>"
    },
    {
      "type": "checkbox",
      "id": "heading_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Heading Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Heading Size",
      "default": 48
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Heading Size - Mobile",
      "default": 32
    },
    {
      "type": "range",
      "id": "heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Heading Line Height",
      "default": 150
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "Heading Text Align",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_align_mobile",
      "label": "Heading Text Align - Mobile",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Current Month Settings"
    },
    {
      "type": "checkbox",
      "id": "current_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "current_font",
      "label": "Current Month Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "current_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Current Month Size",
      "default": 36
    },
    {
      "type": "range",
      "id": "current_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Current Month Size - Mobile",
      "default": 28
    },
    {
      "type": "range",
      "id": "current_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Current Month Line Height",
      "default": 100
    },
    {
      "type": "header",
      "content": "Table Settings"
    },
    {
      "type": "range",
      "id": "table_width",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Table Width",
      "default": 100
    },
    {
      "type": "range",
      "id": "table_width_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Table Width - Mobile",
      "default": 100
    },
    {
      "type": "range",
      "id": "table_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Table Margin Top",
      "default": 16
    },
    {
      "type": "range",
      "id": "table_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Table Border Thickness",
      "default": 1
    },
    {
      "type": "text",
      "id": "months",
      "label": "Months",
      "info": "Enter the names of the months separated by commas",
      "default": "January,February,March,April,May,June,July,August,September,October,November,December"
    },
    {
      "type": "text",
      "id": "days",
      "label": "Days",
      "info": "Enter the names of the days separated by commas",
      "default": "Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday"
    },
    {
      "type": "text",
      "id": "short_days",
      "label": "Short Days",
      "info": "Enter the short names of the days separated by commas",
      "default": "Mon,Tue,Wed,Thu,Fri,Sat,Sun"
    },
    {
      "type": "header",
      "content": "Table Header Settings"
    },
    {
      "type": "range",
      "id": "head_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Header Item Padding Vertical",
      "default": 6
    },
    {
      "type": "range",
      "id": "head_padding_horizontal",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Header Item Padding Horizontal",
      "default": 6
    },
    {
      "type": "header",
      "content": "Header Days Settings"
    },
    {
      "type": "checkbox",
      "id": "days_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "days_font",
      "label": "Days Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "days_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Days Size",
      "default": 14
    },
    {
      "type": "range",
      "id": "days_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Days Size - Mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "days_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Days Line Height",
      "default": 100
    },
    {
      "type": "select",
      "id": "days_align",
      "label": "Days Text Align",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Table Body Settings"
    },
    {
      "type": "range",
      "id": "body_height",
      "min": 30,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Table Body Item Height",
      "default": 84
    },
    {
      "type": "range",
      "id": "body_height_mobile",
      "min": 30,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Table Body Item Height - Mobile",
      "default": 40
    },
    {
      "type": "select",
      "id": "body_vertical_align",
      "label": "Body Vertical Align",
      "default": "top",
      "options": [
        {
          "label": "Top",
          "value": "top"
        },
        {
          "label": "Middle",
          "value": "middle"
        },
        {
          "label": "Bottom",
          "value": "bottom"
        }
      ]
    },
    {
      "type": "header",
      "content": "Body Number Settings"
    },
    {
      "type": "checkbox",
      "id": "number_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "number_font",
      "label": "Number Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "number_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Number Size",
      "default": 12
    },
    {
      "type": "range",
      "id": "number_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Number Size - Mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "number_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Number Line Height",
      "default": 100
    },
    {
      "type": "select",
      "id": "number_align",
      "label": "Number Text Align",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Event Date Settings"
    },
    {
      "type": "checkbox",
      "id": "event_date_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "event_date_font",
      "label": "Event Date Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "event_date_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Event Date Size",
      "default": 12
    },
    {
      "type": "range",
      "id": "event_date_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Event Date Size - Mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "event_date_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Event Date Line Height",
      "default": 100
    },
    {
      "type": "select",
      "id": "event_date_align",
      "label": "Event Date Text Align",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "range",
      "id": "event_date_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Event Date Margin Top",
      "default": 8
    },
    {
      "type": "header",
      "content": "Event Title Settings"
    },
    {
      "type": "checkbox",
      "id": "event_title_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "event_title_font",
      "label": "Event Title Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "event_title_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Event Title Size",
      "default": 14
    },
    {
      "type": "range",
      "id": "event_title_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Event Title Size - Mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "event_title_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Event Title Line Height",
      "default": 110
    },
    {
      "type": "select",
      "id": "event_title_align",
      "label": "Event Title Text Align",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "range",
      "id": "event_title_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Event Title Margin Top",
      "default": 4
    },
    {
      "type": "header",
      "content": "Event Tooltip Settings"
    },
    {
      "type": "range",
      "id": "tooltip_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Tooltip Padding Vertical",
      "default": 10
    },
    {
      "type": "range",
      "id": "tooltip_padding_horizontal",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Tooltip Padding Horizontal",
      "default": 10
    },
    {
      "type": "range",
      "id": "tooltip_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Tooltip Border Radius",
      "default": 8
    },
    {
      "type": "range",
      "id": "tooltip_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Tooltip Border Thickness",
      "default": 0
    },
    {
      "type": "header",
      "content": "Event Content Image Settings"
    },
    {
      "type": "range",
      "id": "image_width",
      "min": 10,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Event Content Image Width",
      "default": 80
    },
    {
      "type": "range",
      "id": "image_width_mobile",
      "min": 10,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Event Content Image Width - Mobile",
      "default": 90
    },
    {
      "type": "range",
      "id": "image_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Event Content Image Border Radius",
      "default": 8
    },
    {
      "type": "range",
      "id": "image_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Event Content Image Border Thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "image_margin_bottom",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Event Content Image Margin Bottom",
      "default": 10
    },
    {
      "type": "header",
      "content": "Event Content Title Settings"
    },
    {
      "type": "checkbox",
      "id": "event_content_title_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "event_content_title_font",
      "label": "Event Title Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "event_content_title_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Event Title Size",
      "default": 16
    },
    {
      "type": "range",
      "id": "event_content_title_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Event Title Size - Mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "event_content_title_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Event Title Line Height",
      "default": 110
    },
    {
      "type": "range",
      "id": "event_content_title_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Event Title Margin Top",
      "default": 0
    },
    {
      "type": "header",
      "content": "Event Content Text Settings"
    },
    {
      "type": "checkbox",
      "id": "event_text_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "event_text_font",
      "label": "Event Content Text Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "event_text_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Event Content Text Size",
      "default": 14
    },
    {
      "type": "range",
      "id": "event_text_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Event Content Text Size - Mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "event_text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Event Content Text Line Height",
      "default": 120
    },
    {
      "type": "select",
      "id": "event_text_align",
      "label": "Event Content Text Align",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "range",
      "id": "event_text_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Event Content Text Margin Top",
      "default": 4
    },
    {
      "type": "header",
      "content": "Modal Settings"
    },
    {
      "type": "range",
      "id": "modal_width",
      "min": 10,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Modal Width",
      "default": 30
    },
    {
      "type": "range",
      "id": "modal_width_mobile",
      "min": 10,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Modal Width - Mobile",
      "default": 90
    },
    {
      "type": "range",
      "id": "modal_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Modal Padding Vertical",
      "default": 16
    },
    {
      "type": "range",
      "id": "modal_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Modal Padding Horizontal",
      "default": 16
    },
    {
      "type": "range",
      "id": "modal_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Modal Border Radius",
      "default": 16
    },
    {
      "type": "range",
      "id": "modal_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Modal Border Thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "modal_overlay",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Modal Overlay",
      "default": 50
    },
    {
      "type": "header",
      "content": "Modal Colors"
    },
    {
      "type": "color",
      "label": "Modal Background Color",
      "id": "modal_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Modal Border Color",
      "id": "modal_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Modal Close Background Color",
      "id": "modal_close_bg_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Modal Close Icon Color",
      "id": "modal_close_icon_color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Table Colors"
    },
    {
      "type": "color",
      "label": "Table Border Color",
      "id": "table_border_color",
      "default": "#e9ecef"
    },
    {
      "type": "color",
      "label": "Table Header Item Background Color",
      "id": "head_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Header Days Color",
      "id": "days_color",
      "default": "#495057"
    },
    {
      "type": "color",
      "label": "Table Body Item Background Color",
      "id": "body_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Table Body Item Empty Background Color",
      "id": "body_empty_bg_color",
      "default": "#F7F0CE"
    },
    {
      "type": "color",
      "label": "Table Body Number Color",
      "id": "number_color",
      "default": "#adb5bd"
    },
    {
      "type": "header",
      "content": "Event Colors"
    },
    {
      "type": "color",
      "label": "Event Date Color",
      "id": "event_date_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Event Title Color",
      "id": "event_title_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Event Mark Color",
      "id": "event_mark_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Event Content Image Border Color",
      "id": "image_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Event Content Title Color",
      "id": "event_content_title_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Event Content Text Color",
      "id": "event_text_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Tooltip Background Color",
      "id": "tooltip_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Tooltip Border Color",
      "id": "tooltip_border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "label": "Heading Color",
      "id": "heading_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Current Month Color",
      "id": "current_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#F3E8B4"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width",
      "default": false
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "rem",
      "label": "Section content width",
      "default": 120
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "event",
      "name": "Event",
      "settings": [
        {
          "type": "text",
          "id": "month",
          "label": "Month",
          "default": "December"
        },
        {
          "type": "text",
          "id": "day",
          "label": "Day",
          "default": "1"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "date",
          "label": "Date",
          "default": "6:00 PM"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Content Image"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Content",
          "default": "<p>Content</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Calendar",
      "blocks": [
        {
          "type": "event",
          "settings": {
            "title": "GOLDSPRINTS™️"
          }
        },
        {
          "type": "event",
          "settings": {
            "title": "Last Sundays: Winter Training Ride",
            "date": "10:00 PM",
            "day": "25"
          }
        }
      ]
    }
  ]
}
{% endschema %}