{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign layout = section.settings.layout
  assign layout_mobile = section.settings.layout_mobile
  assign layout_gap = section.settings.layout_gap
  assign layout_gap_mobile = section.settings.layout_gap_mobile  
  assign table_width = section.settings.table_width

  assign content_align = section.settings.content_align
  assign content_align_mobile = section.settings.content_align_mobile
  assign content_vertical_align = section.settings.content_vertical_align

  assign content_horizontal_align = ""
  if content_align == "center"
    assign content_horizontal_align = "center"
  elsif content_align == "right"
    assign content_horizontal_align = "end"
  else
    assign content_horizontal_align = "start"
  endif

  assign content_horizontal_align_mobile = ""
  if content_align_mobile == "center"
    assign content_horizontal_align_mobile = "center"
  elsif content_align_mobile == "right"
    assign content_horizontal_align_mobile = "end"
  else
    assign content_horizontal_align_mobile = "start"
  endif

  assign table_radius = section.settings.table_radius
  assign table_border_thickness = section.settings.table_border_thickness
  assign table_border_color = section.settings.table_border_color
  assign table_bg_color = section.settings.table_bg_color

  assign column_width_mobile = section.settings.column_width_mobile

  assign column_heading_size = section.settings.column_heading_size
  assign column_heading_size_mobile = section.settings.column_heading_size_mobile
  assign column_heading_color = section.settings.column_heading_color
  assign column_heading_active_color = section.settings.column_heading_active_color
  assign column_heading_custom = section.settings.column_heading_custom
  assign column_heading_font = section.settings.column_heading_font
  assign column_heading_height = section.settings.column_heading_height
  assign column_heading_align = section.settings.column_heading_align
  assign column_heading_align_mobile = section.settings.column_heading_align_mobile

  assign row_height = section.settings.row_height
  assign row_height_mobile = section.settings.row_height_mobile

  assign first_row_heading = section.settings.first_row_heading
  assign second_row_heading = section.settings.second_row_heading
  assign third_row_heading = section.settings.third_row_heading
  assign fourth_row_heading = section.settings.fourth_row_heading
  assign fifth_row_heading = section.settings.fifth_row_heading

  assign row_heading_size = section.settings.row_heading_size
  assign row_heading_size_mobile = section.settings.row_heading_size_mobile
  assign row_heading_color = section.settings.row_heading_color
  assign row_heading_custom = section.settings.row_heading_custom
  assign row_heading_font = section.settings.row_heading_font
  assign row_heading_height = section.settings.row_heading_height
  assign row_heading_align = section.settings.row_heading_align
  assign row_heading_align_mobile = section.settings.row_heading_align_mobile

  assign row_text_size = section.settings.row_text_size
  assign row_text_size_mobile = section.settings.row_text_size_mobile
  assign row_text_color = section.settings.row_text_color
  assign row_active_text_color = section.settings.row_active_text_color
  assign row_text_custom = section.settings.row_text_custom
  assign row_text_font = section.settings.row_text_font
  assign row_text_height = section.settings.row_text_height
  assign row_text_align = section.settings.row_text_align
  assign row_text_align_mobile = section.settings.row_text_align_mobile

  assign value_icon_size = section.settings.value_icon_size
  assign value_icon_size_mobile = section.settings.value_icon_size_mobile
  assign value_cross_color = section.settings.value_cross_color
  assign value_cross_active_color = section.settings.value_cross_active_color
  assign value_check_color = section.settings.value_check_color
  assign value_check_active_color = section.settings.value_check_active_color
  
-%}

{%- style -%}
  
  {{ column_heading_font | font_face: font_display: 'swap' }}
  {{ row_heading_font | font_face: font_display: 'swap' }}
  {{ row_text_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    position: relative;
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
    position: relative;
    z-index: 1;
  }

  .comparison-body-{{ section.id }} {
    display: grid;
    gap: {{ layout_gap_mobile | plus: 20 }}px;
    grid-template-columns: 1fr;
  }

  .comparison-content-{{ section.id }} {
    display: flex;
    flex-direction: column;
    justify-content: {{ content_vertical_align }};
    align-items: {{ content_horizontal_align_mobile }};
    grid-area: content;
  }

  .comparison-table-wrapper-{{ section.id }} {
    grid-area: table;
    overflow-x: scroll;
    scrollbar-width: none;
    margin-left: -{{ padding_horizontal_mobile }}rem;
    margin-right: -{{ padding_horizontal_mobile }}rem;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
    padding-top: calc(25px - {{ table_border_thickness }}px);
    padding-bottom: calc(25px - {{ table_border_thickness }}px);
  }

  .comparison-table-{{ section.id }} { 
    display: flex;
    max-width: fit-content;
    margin: 0 auto;
    flex-wrap: nowrap;  
  }

  .comparison-column-{{ section.id }}:not(:first-child) {
    position: relative;
  }

  .comparison-column-{{ section.id }} {
    width: {{ column_width_mobile }}px;
    flex-shrink: 0;
  }

  .comparison-column-bg-{{ section.id }} {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .comparison-column-bg-{{ section.id }} img,
  .comparison-column-bg-{{ section.id }} video,
  .comparison-column-bg-{{ section.id }} iframe {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0px;
    box-shadow: none;
  }

  .comparison-column-heading-text-{{ section.id }} {
    margin: 0;
    font-size: {{ column_heading_size_mobile }}px;
    color: {{ column_heading_color }};
    line-height: {{ column_heading_height }}%;
    text-transform: unset;
    text-align: {{ column_heading_align_mobile }};
    display: block;
    width: 100%;
    font-weight: 700;
    word-break: break-word;
  }

  .comparison-column-heading-image-{{ section.id }} img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .comparison-column-{{ section.id }}.active .comparison-column-heading-text-{{ section.id }} {
     color: {{ column_heading_active_color }};
  }

  .comparison-row-{{ section.id }} {
    height: {{ row_height_mobile }}px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding: 8px;
  }

  .comparison-column-{{ section.id }}:first-child .comparison-row-{{ section.id }}:not(:first-child) {
    border-left: {{ table_border_thickness }}px solid {{ table_border_color }};
    background-color: {{ table_bg_color }};
  }

  .comparison-column-bg-color-{{ section.id }} .comparison-row-{{ section.id }} {
    background-color: {{ table_bg_color }};
  }

  .comparison-column-{{ section.id }}:not(:first-child) .comparison-row-{{ section.id }} {
    border-left: {{ table_border_thickness }}px solid {{ table_border_color }};
  }

  .comparison-row-{{ section.id }} {
    border-top: {{ table_border_thickness }}px solid {{ table_border_color }};
  }

  .comparison-column-{{ section.id }}:first-child .comparison-row-{{ section.id }}:first-child {
    border: 0px;
  }

  .comparison-row-{{ section.id }}:last-child {
    border-bottom: {{ table_border_thickness }}px solid {{ table_border_color }};
  }

  .comparison-column-{{ section.id }}:first-child .comparison-row-{{ section.id }}:nth-child(2) {
    border-top-left-radius: {{ table_radius }}px;
  }

  .comparison-column-{{ section.id }}:first-child .comparison-row-{{ section.id }}:last-child {
    border-bottom-left-radius: {{ table_radius }}px;
  }

  .comparison-column-{{ section.id }}:not(.active):nth-child(2) .comparison-row-{{ section.id }}.comparison-column-heading-{{ section.id }}{
    border-top-left-radius: {{ table_radius }}px;
  }

  .comparison-column-{{ section.id }}.active {
    border-radius: {{ table_radius }}px;
    overflow: hidden;
    margin-top: -20px;
    margin-bottom: -20px;
    padding-top: calc(20px - {{ table_border_thickness }}px);
    padding-bottom: calc(20px - {{ table_border_thickness }}px);
    border: {{ table_border_thickness }}px solid {{ table_border_color }};
    background-color: {{ table_bg_color }};
  }

  .comparison-column-{{ section.id }}.active .comparison-row-{{ section.id }} {
    border: 0px;
  }

  .comparison-column-{{ section.id }}.active + .comparison-column-{{ section.id }} .comparison-row-{{ section.id }} {
    border-left: 0px;
  }

  .comparison-column-{{ section.id }}:not(.active):last-child .comparison-row-{{ section.id }} {
    border-right: {{ table_border_thickness }}px solid {{ table_border_color }};
  }

  .comparison-column-{{ section.id }}:not(.active):last-child .comparison-row-{{ section.id }}.comparison-column-heading-{{ section.id }} {
    border-top-right-radius: {{ table_radius }}px;
  }

  .comparison-column-{{ section.id }}:not(.active):last-child .comparison-row-{{ section.id }}:last-child {
    border-bottom-right-radius: {{ table_radius }}px;
  }

  .comparison-row-heading-{{ section.id }} {
    margin: 0;
    font-size: {{ row_heading_size_mobile }}px;
    color: {{ row_heading_color }};
    line-height: {{ row_heading_height }}%;
    text-transform: unset;
    text-align: {{ row_heading_align_mobile }};
    font-weight: 700;
    width: 100%;
    word-break: break-word;
  }

  .comparison-value-{{ section.id }} {
    margin: 0;
    font-size: {{ row_text_size_mobile }}px;
    color: {{ row_text_color }};
    line-height: {{ row_text_height }}%;
    text-transform: unset;
    text-align: {{ row_text_align_mobile }};
    display: block;
    width: 100%;
    font-weight: 700;
    word-break: break-word;
  }

  .comparison-column-{{ section.id }}.active .comparison-value-{{ section.id }} {
    color: {{ row_active_text_color }};
  }

  .comparison-value-icon-{{ section.id }} svg {
    width: {{ value_icon_size_mobile }}px !important;
    height: {{ value_icon_size_mobile }}px !important;    
  }

  .comparison-value-icon-{{ section.id }} img,
  .comparison-value-icon-{{ section.id }} svg {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .comparison-value-check-{{ section.id }} path {
    stroke: {{ value_check_color }};
  }

  .comparison-column-{{ section.id }}.active .comparison-value-check-{{ section.id }} path {
    stroke: {{ value_check_active_color }};
  }

  .comparison-value-crosg-{{ section.id }} path {
    stroke: {{ value_cross_color }};
  }

  .comparison-column-{{ section.id }}.active .comparison-value-crosg-{{ section.id }} path {
    stroke: {{ value_cross_active_color }};
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .comparison-body-{{ section.id }} {
      gap: {{ layout_gap }}px;    
    }

    .comparison-table-wrapper-{{ section.id }} {
      overflow-x: visible;
      margin-left: 0rem;
      margin-right: 0rem;
      padding-left: 0rem;
      padding-right: 0rem;
    }

    .comparison-table-{{ section.id }} { 
      max-width: 100%;
      margin: 0;
    }

    .comparison-content-{{ section.id }} {
      justify-content: {{ content_vertical_align }};
      align-items: {{ content_horizontal_align }};
    }  

    .comparison-column-{{ section.id }} {
      width: auto;
    }

    .comparison-column-{{ section.id }}:first-child {
      width: 20%;
      flex-shrink: 0;
    }

    .comparison-column-{{ section.id }}:not(:first-child) {
      flex: 1 0;
    }

    .comparison-column-{{ section.id }}:last-child {
      padding-right: 0px;
    }

    .comparison-column-heading-text-{{ section.id }} {
      font-size: {{ column_heading_size }}px;
      text-align: {{ column_heading_align }};
    }

    .comparison-row-{{ section.id }} {
      height: {{ row_height }}px;
      padding: 15px;
    }

    .comparison-row-heading-{{ section.id }} {
      font-size: {{ row_heading_size }}px;
      text-align: {{ row_heading_align }};
    }

    .comparison-value-{{ section.id }} {
      font-size: {{ row_text_size }}px;
      text-align: {{ row_text_align }};
    }

    .comparison-value-icon-{{ section.id }} svg {
      width: {{ value_icon_size }}px !important;
      height: {{ value_icon_size }}px !important;    
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if column_heading_custom %}
  <style>
    .comparison-column-heading-text-{{ section.id }} {
      font-family: {{ column_heading_font.family }}, {{ column_heading_font.fallback_families }};
      font-weight: {{ column_heading_font.weight }};
      font-style: {{ column_heading_font.style }};
    }
  </style>
{% endif %}

{% if row_heading_custom %}
  <style>
    .comparison-row-heading-{{ section.id }} {
      font-family: {{ row_heading_font.family }}, {{ row_heading_font.fallback_families }};
      font-weight: {{ row_heading_font.weight }};
      font-style: {{ row_heading_font.style }};
    }
  </style>
{% endif %}

{% if row_text_custom %}
  <style>
    .comparison-value-{{ section.id }} {
      font-family: {{ row_text_font.family }}, {{ row_text_font.fallback_families }};
      font-weight: {{ row_text_font.weight }};
      font-style: {{ row_text_font.style }};
    }
  </style>
{% endif %}

{% if layout_mobile == "table_content" %}
  <style>
    .comparison-body-{{ section.id }} {
      grid-template-areas: 
        "table" 
        "content"; 
    }
  </style>
{% else %} 
  {% if layout_mobile == "content_table" %}
    <style>
      .comparison-body-{{ section.id }} {
        grid-template-areas: 
          "content" 
          "table";    
      }
    </style>
  {% endif %}  
{% endif %}

{% if layout == "table_content" %}
  <style>
    @media (min-width: 1024px) {
      .comparison-body-{{ section.id }} {
        grid-template-areas: "table content";
        grid-template-columns: {{ table_width }}% 1fr;
      }
    }
  </style>
{% else %}  
  {% if layout == "content_table" %}
    <style>
      @media (min-width: 1024px) {
        .comparison-body-{{ section.id }} {
          grid-template-areas: "content table";
          grid-template-columns: 1fr {{ table_width }}%;
        }
      }
    </style>
  {% endif %}  
{% endif %}

{% if column_width_mobile > 80 %}
  <style>
    .comparison-column-{{ section.id }}:last-child {
      padding-right: 10px;
    }
  </style>
{% endif %}

{% for block in section.blocks %}
  {% case block.type %}
    {% when 'review' %}
      <style>
        {{  block.settings.review_font | font_face: font_display: 'swap' }}

        .comparison-review-{{ block.id }} {
          display: flex;
          align-items: center;
          gap: 10px;
          background-color: {{ block.settings.review_bg_color |  hex_to_rgba: block.settings.review_bg_opacity }};
          padding: {{ block.settings.review_padding_vertical_mobile }}px {{ block.settings.review_padding_horizontal_mobile }}px;
          border-radius: {{ block.settings.review_radius }}px;
          margin-top: {{ block.settings.review_mt_mobile }}px;
        }

        .comparison-review-text-{{ block.id }} * {
          word-wrap: break-word;
          margin: 0;
          font-size: {{ block.settings.review_size_mobile }}px;
          color: {{ block.settings.review_color }};
          line-height: {{ block.settings.review_height }}%;
          text-align: center;
          text-transform: unset;
        }

        .comparison-stars-{{ block.id }} {
          display: flex;
          align-items: center;
          gap: 1px;
          max-width: fit-content;
        }

        .comparison-stars-{{ block.id }} svg,
        .comparison-stars-{{ block.id }} img {
          display: block;
          width: {{ block.settings.stars_size_mobile }}px;
          height: {{ block.settings.stars_size_mobile }}px;
          object-fit: cover;
        }

        @media (min-width: 1024px) {
          .comparison-review-{{ block.id }} {
            margin-top: {{ block.settings.review_mt }}px;
            padding: {{ block.settings.review_padding_vertical }}px {{ block.settings.review_padding_horizontal }}px;
          }

          .comparison-review-text-{{ block.id }} * {
            font-size: {{ block.settings.review_size }}px;
          }

          .comparison-stars-{{ block.id }} svg,
          .comparison-stars-{{ block.id }} img {
            width: {{ block.settings.stars_size }}px;
            height: {{ block.settings.stars_size }}px;
          }
        }
      </style>

      {% if block.settings.review_custom %}
        <style>
          .comparison-review-text-{{ block.id }} {
            font-family: {{ block.settings.review_font.family }}, {{ block.settings.review_font.fallback_families }};
            font-weight: {{ block.settings.review_font.weight }};
            font-style: {{ block.settings.review_font.style }};
          }
        </style>
      {% endif %}  

    {% when 'heading' %}  
      <style>
        {{  block.settings.heading_font | font_face: font_display: 'swap' }}

        .comparison-heading-{{ block.id }} {
          margin-top: {{ block.settings.heading_mt_mobile }}px;
          text-align: {{ content_align_mobile }};
          position: relative;
          z-index: 2;
        }
      
        .comparison-heading-{{ block.id }} * {
          margin: 0;
          font-size: {{ block.settings.heading_size_mobile }}px;
          color: {{ block.settings.heading_color }};
          line-height: {{ block.settings.heading_height }}%;
          text-transform: unset;
        }

        @media(min-width: 1024px) {
          
          .comparison-heading-{{ block.id }} {
            margin-top: {{ block.settings.heading_mt }}px;
            text-align: {{ content_align }};
          }
        
          .comparison-heading-{{ block.id }} * {
            font-size: {{ block.settings.heading_size }}px;
          }
        }          
      </style>
        
      {% if block.settings.heading_custom %}
        <style>
          .comparison-heading-{{ block.id }} * {
            font-family: {{ block.settings.heading_font.family }}, {{ block.settings.heading_font.fallback_families }};
            font-weight: {{ block.settings.heading_font.weight }};
            font-style: {{ block.settings.heading_font.style }};
          }
        </style>
      {% endif %}
    


    {% when 'text' %}
      <style>
        {{  block.settings.text_font | font_face: font_display: 'swap' }}
        .comparison-text-{{ block.id }} {
          margin-top: {{ block.settings.text_mt_mobile }}px;
          text-align: {{ content_align_mobile }};
        }

        .comparison-text-{{ block.id }} * {
          margin: 0;          
          font-size: {{ block.settings.text_size_mobile }}px;
          color: {{ block.settings.text_color }};
          line-height: {{ block.settings.text_height }}%;
          text-transform: unset;
        }

        @media(min-width: 1024px) {
          
          .comparison-text-{{ block.id }} {
            margin-top: {{ block.settings.text_mt }}px;
            text-align: {{  content_align }};
          }         
          
          .comparison-text-{{ block.id }} * {       
            font-size: {{ block.settings.text_size }}px;
          }
        }
      </style>

      {% if block.settings.text_custom %}
        <style>
          .comparison-text-{{ block.id }} * {
            font-family: {{ block.settings.text_font.family }}, {{ block.settings.text_font.fallback_families }};
            font-weight: {{ block.settings.text_font.weight }};
            font-style: {{ block.settings.text_font.style }};
          }
        </style>          
      {% endif %}  
    {% when 'button' %}
      <style>
        {{  block.settings.button_font | font_face: font_display: 'swap' }}

        .comparison-button-{{ block.id }} {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: fit-content;
          gap: 10px;
          width: 100%;
          margin: 0;
          margin-top: {{ block.settings.button_mt_mobile }}px;
          font-size: {{ block.settings.button_size_mobile }}px;
          color: {{ block.settings.button_color }};
          line-height: {{ block.settings.button_height }}%;
          text-align: center;
          text-transform: unset;
          text-decoration: none;
          padding: {{ block.settings.button_padding_vertical_mobile }}px {{ block.settings.button_padding_horizontal_mobile }}px;
          border-radius: {{ block.settings.button_radius }}px;
          transition: all 0.3s ease 0s;
          background-color: transparent;
          border: 0px;
          cursor: pointer;
          font-weight: 700;
        }

        .comparison-button-inner-{{ block.id }} {
          margin: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          text-decoration: none;
        }

        .comparison-button-{{ block.id }}:hover {
          color: {{ block.settings.button_hover_color }};
          transition: all 0.25s ease 0s;
        }

        .comparison-button-{{ block.id }} svg {
          width: 14px;
          height: 14px;
        }

        .comparison-button-{{ block.id }} svg path {
          fill: {{ block.settings.button_color }};
          transition: all 0.25s ease 0s;
        }

        .comparison-button-{{ block.id }}:hover svg path {
          fill: {{ block.settings.button_hover_color }};
          transition: all 0.25s ease 0s;
        }

        @media (min-width: 1024px) {
          .comparison-button-{{ block.id }} {
            margin-top: {{ block.settings.button_mt }}px;
            padding: {{ block.settings.button_padding_vertical }}px {{ block.settings.button_padding_horizontal }}px;
            font-size: {{ block.settings.button_size }}px;
          }
        }
      </style>

      {% if block.settings.button_custom %}
        <style>
          .comparison-button-{{ block.id }} {
            font-family: {{ block.settings.button_font.family }}, {{ block.settings.button_font.fallback_families }};
            font-weight: {{ block.settings.button_font.weight }};
            font-style: {{ block.settings.button_font.style }};
          }
        </style>
      {% endif %}

      {% if block.settings.button_style == "non_outline" or block.settings.button_style == "non_outline_arrow" %}
        <style>
          .comparison-button-{{ block.id }} {
            transition: all 0.3s ease 0s;
            background-color: {{  block.settings.button_bg_color }};
          }
      
          .comparison-button-{{ block.id }}:hover {
            transition: all 0.3s ease 0s;
            background-color: {{  block.settings.button_bg_hover_color }};
          }
        </style>
      {% elsif block.settings.button_style == "outline" or block.settings.button_style == "outline_arrow" %}
        <style>          
          .comparison-button-{{ block.id }} {
            transition: all 0.3s ease 0s;
            background-color: {{  block.settings.button_bg_color }};
            border: {{  block.settings.button_border_thickness }}px solid {{  block.settings.button_border_color }};
          }
      
          .comparison-button-{{ block.id }}:hover {
            transition: all 0.3s ease 0s;
            background-color: {{  block.settings.button_bg_hover_color }};
            border: {{  block.settings.button_border_thickness }}px solid {{ block.settings.button_border_hover_color }};
          }
        </style>
      {% elsif block.settings.button_style == "link" %}
        <style>
          .comparison-button-{{ block.id }} {
            padding: 0px !important;
            -webkit-box-shadow: none !important;
            -moz-box-shadow: none !important;
            box-shadow: none !important;
          }
        </style>
      {% endif %}

  {% when 'column' %}

    <style>
      .comparison-column-{{ block.id }}.active:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0, {{ block.settings.bg_overlay }});
        z-index: 1;
      }
    </style>
  {% endcase %}
{% endfor %}


<div class="section-{{ section.id }} comparison-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="comparison-body-{{ section.id }}">
        <div class="comparison-content-{{ section.id }}">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'review' %}
                <div class="comparison-review-{{ block.id }}">
                  {% if block.settings.stars_count != 0 %}                 
                    <div class="comparison-stars-{{ section.id }} comparison-stars-{{ block.id }}">
                      {% if block.settings.stars_icon != blank %}
                        {% assign stars_count_round = block.settings.stars_count | round: 0 %}
                        {% for item in (1..stars_count_round) %}
                          <img src="{{ block.settings.stars_icon | image_url }}" alt="{{ block.settings.stars_icon.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                        {% endfor %}
                      {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                          {% if block.settings.stars_count > 0 and block.settings.stars_count < 1  %}
                            <defs>
                              <linearGradient id="grad{{ section.id }}6">
                                <stop offset="0%" stop-color="{{ block.settings.stars_color }}" />
                                <stop offset="50%" stop-color="{{ block.settings.stars_color }}" />
                                <stop offset="50%" stop-color="transparent" />
                                <stop offset="100%" stop-color="transparent" />
                              </linearGradient>
                            </defs>
                          {% endif %}
                          <path {% if block.settings.stars_count > 0 and block.settings.stars_count < 1 %}stroke="{{ block.settings.stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 0 and block.settings.stars_count < 1 %}url(#grad{{ section.id }}6){% elsif block.settings.stars_count > 0.5 %}{{ block.settings.stars_color }}{% endif %}"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                          {% if block.settings.stars_count > 1 and block.settings.stars_count < 2  %}
                            <defs>
                              <linearGradient id="grad{{ section.id }}7">
                                <stop offset="0%" stop-color="{{ block.settings.stars_color }}" />
                                <stop offset="50%" stop-color="{{ block.settings.stars_color }}" />
                                <stop offset="50%" stop-color="transparent" />
                                <stop offset="100%" stop-color="transparent" />
                              </linearGradient>
                            </defs>
                          {% endif %}
                          <path {% if block.settings.stars_count > 1 and block.settings.stars_count < 2 %}stroke="{{ block.settings.stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 1 and block.settings.stars_count < 2 %}url(#grad{{ section.id }}7){% elsif block.settings.stars_count > 1.5 %}{{ block.settings.stars_color }}{% endif %}"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                          {% if block.settings.stars_count > 2 and block.settings.stars_count < 3  %}
                            <defs>
                              <linearGradient id="grad{{ section.id }}8">
                                <stop offset="0%" stop-color="{{ block.settings.stars_color }}" />
                                <stop offset="50%" stop-color="{{ block.settings.stars_color }}" />
                                <stop offset="50%" stop-color="transparent" />
                                <stop offset="100%" stop-color="transparent" />
                              </linearGradient>
                            </defs>
                          {% endif %}
                          <path {% if block.settings.stars_count > 2 and block.settings.stars_count < 3 %}stroke="{{ block.settings.stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 2 and block.settings.stars_count < 3 %}url(#grad{{ section.id }}8){% elsif block.settings.stars_count > 2.5 %}{{ block.settings.stars_color }}{% endif %}"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                          {% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}
                            <defs>
                              <linearGradient id="grad{{ section.id }}9">
                                <stop offset="0%" stop-color="{{ block.settings.stars_color }}" />
                                <stop offset="50%" stop-color="{{ block.settings.stars_color }}" />
                                <stop offset="50%" stop-color="transparent" />
                                <stop offset="100%" stop-color="transparent" />
                              </linearGradient>
                            </defs>
                          {% endif %}
                          <path {% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}stroke="{{ block.settings.stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}url(#grad{{ section.id }}9){% elsif block.settings.stars_count > 3.5 %}{{ block.settings.stars_color }}{% endif %}"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                          {% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}
                            <defs>
                              <linearGradient id="grad{{ section.id }}10">
                                <stop offset="0%" stop-color="{{ block.settings.stars_color }}" />
                                <stop offset="50%" stop-color="{{ block.settings.stars_color }}" />
                                <stop offset="50%" stop-color="transparent" />
                                <stop offset="100%" stop-color="transparent" />
                              </linearGradient>
                            </defs>
                          {% endif %}
                          <path {% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}stroke="{{ block.settings.stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}url(#grad{{ section.id }}10){% elsif block.settings.stars_count > 4.5 %}{{ block.settings.stars_color }}{% endif %}"></path>
                        </svg>
                      {% endif %}
                    </div>                   
                  {% endif %}
                  {% if block.settings.review != blank %}
                    <div class="comparison-review-text-{{ block.id }}">{{ block.settings.review }}</div>
                  {% endif %}
                </div>
              {% when 'heading' %}  
                {% if block.settings.heading != blank %}
                  <div class="comparison-heading-{{ block.id }}">
                    {{ block.settings.heading }}
                  </div>
                {% endif %}
  
              {% when 'text' %}  
                {% if block.settings.text != blank %}
                  <div class="comparison-text-{{ block.id }}">
                    {{ block.settings.text }}
                  </div>
                {% endif %}  
  
              {% when 'button' %}  
                {% if block.settings.button != blank %}   
                  <{% if block.settings.url != blank %}a href="{% if block.settings.url != blank %}{{ block.settings.url }}{% endif %}"{% else %}div{% endif %} class="comparison-button-{{ block.id }}">
                    <p class="comparison-button-inner-{{ block.id }}">
                      {{ block.settings.button }}
                      {% if block.settings.button_style == "non_outline_arrow" or block.settings.button_style == "outline_arrow" %}
                        <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                          <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                        </svg>
                      {% endif %}
                    </p>
                  </{% if block.settings.url != blank %}a{% else %}div{% endif %}>    
                {% endif %} 
              
            {% endcase %}
          {% endfor %}
        </div>
        <div class="comparison-table-wrapper-{{ section.id }}">
          <div class="comparison-table-{{ section.id }}">
            <div class="comparison-column-{{ section.id }}">
              <div class="comparison-row-{{ section.id }}"></div>
              {% if first_row_heading != blank %}
                <div class="comparison-row-{{ section.id }}">
                  <p class="comparison-row-heading-{{ section.id }}">{{ first_row_heading }}</p>
                </div>
              {% endif %}
              {% if second_row_heading != blank %}
                <div class="comparison-row-{{ section.id }}">
                  <p class="comparison-row-heading-{{ section.id }}">{{ second_row_heading }}</p>
                </div>
              {% endif %}
              {% if third_row_heading != blank %}
                <div class="comparison-row-{{ section.id }}">
                  <p class="comparison-row-heading-{{ section.id }}">{{ third_row_heading }}</p>
                </div>
              {% endif %}
              {% if fourth_row_heading != blank %}
                <div class="comparison-row-{{ section.id }}">
                  <p class="comparison-row-heading-{{ section.id }}">{{ fourth_row_heading }}</p>
                </div>
              {% endif %}
              {% if fifth_row_heading != blank %}
                <div class="comparison-row-{{ section.id }}">
                  <p class="comparison-row-heading-{{ section.id }}">{{ fifth_row_heading }}</p>
                </div>
              {% endif %}
            </div>
            {% for block in section.blocks %}
              {% if block.type == "column" %}
                <div class="comparison-column-{{ section.id }} comparison-column-{{ block.id }} {% if block.settings.bg_type == "color" %}comparison-column-bg-color-{{ section.id }}{% else %}active{% endif %}">
                  {% if block.settings.bg_type == "image" or block.settings.bg_type == "video" %}
                    <div class="comparison-column-bg-{{ section.id }}">
                      {% if block.settings.bg_type == "image" %}
                        {% if block.settings.image != blank %}
                          <img src="{{ block.settings.image | img_url: "1500x1500" }}" alt="{{ block.settings.image.alt }}" {% if lazy %}lazy="loading"{% endif %}>
                        {% else %}
                          {{ 'image' | placeholder_svg_tag }}
                        {% endif %}
                      {% elsif block.settings.bg_type == "video" %}
                        {% assign video_id = block.settings.video_url.id %}
                        {% assign loop = '&loop=1&playlist=' | append: video_id %}
                        {%- if block.settings.video_url != null -%}
                          {%- if block.settings.video_url.type == 'youtube' -%}
                          <iframe
                              data-src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&mute=1&autoplay=1&controls=0&showinfo=0{{ loop }}"        
                              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                              allowfullscreen
                              class="lazy"
                          ></iframe>
                          {%- else -%}
                          <iframe
                              data-src="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=1&controls=0&showinfo=0{{ loop }}"
                              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                              allowfullscreen
                              class="lazy"
                          ></iframe>
                          {% endif %}
                        {% else %}
                          {% assign placeholder_video = 'https://cdn.shopify.com/videos/c/o/v/fbb140fd46e3429eba459e1549dbbe38.mp4' %}
                          <video data-src="{% if block.settings.video != blank %}{{ block.settings.video.sources[1].url }}{% else %}{{ placeholder_video }}{% endif %}" autoplay muted playsinline preload="none" loop class="lazy"></video>
                        {% endif %} 
                      {% endif %}
                    </div>
                  {% endif %}
                  <div class="comparison-column-heading-{{ section.id }} comparison-row-{{ section.id }}">
                    {% if block.settings.column_heading_image != blank %}
                      <div class="comparison-column-heading-image-{{ section.id }}">
                        <img src="{{ block.settings.column_heading_image | img_url: "300x300" }}" alt="{{ block.settings.column_heading_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                      </div>
                    {% endif %}
                    {% if block.settings.column_heading != blank %}
                      <p class="comparison-column-heading-text-{{ section.id }}">{{ block.settings.column_heading }}</p>
                    {% endif %}
                  </div>
                  {% if first_row_heading != blank %}
                    <div class="comparison-row-{{ section.id }}">            
                      {% if block.settings.first_row_image != blank or block.settings.first_row_icon != "none" %}
                        <div class="comparison-value-icon-{{ section.id }} {% if block.settings.first_row_image != blank %}comparison-item-image-{{ section.id }}{% endif %}">
                          {% if block.settings.first_row_image != blank %}
                            <img src="{{ block.settings.first_row_image | image_url }}" alt="{{ block.settings.first_row_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                          {% else %}
                            {% if block.settings.first_row_icon == "check" %}
                              <svg class="comparison-value-check-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                                <path d="M3 17.8571L9.66667 25L28.3333 5" stroke="#00ff00" stroke-width="2" stroke-linecap="round"></path>
                              </svg>
                            {% elsif block.settings.first_row_icon == "cross" %}
                              <svg class="comparison-value-crosg-{{ section.id }}" width="24" height="24" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M36.5 12.5L12.5 36.5" stroke="#ff0000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M12.5 12.5L36.5 36.5" stroke="#ff0000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg>
                            {% endif %}
                          {% endif %}
                        </div>
                      {% endif %}
                      {% if block.settings.first_row != blank %}
                        <p class="comparison-value-{{ section.id }}">{{ block.settings.first_row }}</p>
                      {% endif %}
                    </div>
                  {% endif %}
                  {% if second_row_heading != blank %}
                    <div class="comparison-row-{{ section.id }}">
                      {% if block.settings.second_row_image != blank or block.settings.second_row_icon != "none" %}
                        <div class="comparison-value-icon-{{ section.id }} {% if block.settings.second_row_image != blank %}comparison-item-image-{{ section.id }}{% endif %}">
                          {% if block.settings.second_row_image != blank %}
                            <img src="{{ block.settings.second_row_image | image_url }}" alt="{{ block.settings.second_row_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                          {% else %}
                            {% if block.settings.second_row_icon == "check" %}
                              <svg class="comparison-value-check-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                                <path d="M3 17.8571L9.66667 25L28.3333 5" stroke="#00ff00" stroke-width="2" stroke-linecap="round"></path>
                              </svg>
                            {% elsif block.settings.second_row_icon == "cross" %}
                              <svg class="comparison-value-crosg-{{ section.id }}" width="24" height="24" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M36.5 12.5L12.5 36.5" stroke="#ff0000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M12.5 12.5L36.5 36.5" stroke="#ff0000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg>
                            {% endif %}
                          {% endif %}
                        </div>
                      {% endif %}
                      {% if block.settings.second_row != blank %}
                        <p class="comparison-value-{{ section.id }}">{{ block.settings.second_row }}</p>
                      {% endif %}
                    </div>
                  {% endif %}
                  {% if third_row_heading != blank %}
                    <div class="comparison-row-{{ section.id }}">
                      {% if block.settings.third_row_image != blank or block.settings.third_row_icon != "none" %}
                        <div class="comparison-value-icon-{{ section.id }} {% if block.settings.third_row_image != blank %}comparison-item-image-{{ section.id }}{% endif %}">
                          {% if block.settings.third_row_image != blank %}
                            <img src="{{ block.settings.third_row_image | image_url }}" alt="{{ block.settings.third_row_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                          {% else %}
                            {% if block.settings.third_row_icon == "check" %}
                              <svg class="comparison-value-check-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                                <path d="M3 17.8571L9.66667 25L28.3333 5" stroke="#00ff00" stroke-width="2" stroke-linecap="round"></path>
                              </svg>
                            {% elsif block.settings.third_row_icon == "cross" %}
                              <svg class="comparison-value-crosg-{{ section.id }}" width="24" height="24" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M36.5 12.5L12.5 36.5" stroke="#ff0000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M12.5 12.5L36.5 36.5" stroke="#ff0000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg>
                            {% endif %}
                          {% endif %}
                        </div>
                      {% endif %}
                      {% if block.settings.third_row != blank %}
                        <p class="comparison-value-{{ section.id }}">{{ block.settings.third_row }}</p>
                      {% endif %}
                    </div>
                  {% endif %}
                  {% if fourth_row_heading != blank %}
                    <div class="comparison-row-{{ section.id }}">
                      {% if block.settings.fourth_row_image != blank or block.settings.fourth_row_icon != "none" %}
                        <div class="comparison-value-icon-{{ section.id }} {% if block.settings.fourth_row_image != blank %}comparison-item-image-{{ section.id }}{% endif %}">
                          {% if block.settings.fourth_row_image != blank %}
                            <img src="{{ block.settings.fourth_row_image | image_url }}" alt="{{ block.settings.fourth_row_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                          {% else %}
                            {% if block.settings.fourth_row_icon == "check" %}
                              <svg class="comparison-value-check-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                          <path d="M3 17.8571L9.66667 25L28.3333 5" stroke="#00ff00" stroke-width="2" stroke-linecap="round"></path>
                        </svg>
                            {% elsif block.settings.fourth_row_icon == "cross" %}
                              <svg class="comparison-value-crosg-{{ section.id }}" width="24" height="24" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M36.5 12.5L12.5 36.5" stroke="#ff0000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M12.5 12.5L36.5 36.5" stroke="#ff0000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg>
                            {% endif %}
                          {% endif %}
                        </div>
                      {% endif %}
                      {% if block.settings.fourth_row != blank %}
                        <p class="comparison-value-{{ section.id }}">{{ block.settings.fourth_row }}</p>
                      {% endif %}
                    </div>
                  {% endif %}
                  {% if fifth_row_heading != blank %}
                    <div class="comparison-row-{{ section.id }}">
                      {% if block.settings.fifth_row_image != blank or block.settings.fifth_row_icon != "none" %}
                        <div class="comparison-value-icon-{{ section.id }} {% if block.settings.fifth_row_image != blank %}comparison-item-image-{{ section.id }}{% endif %}">
                          {% if block.settings.fifth_row_image != blank %}
                            <img src="{{ block.settings.fifth_row_image | image_url }}" alt="{{ block.settings.fifth_row_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                          {% else %}
                            {% if block.settings.fifth_row_icon == "check" %}
                              <svg class="comparison-value-check-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                          <path d="M3 17.8571L9.66667 25L28.3333 5" stroke="#00ff00" stroke-width="2" stroke-linecap="round"></path>
                        </svg>
                            {% elsif block.settings.fifth_row_icon == "cross" %}
                              <svg class="comparison-value-crosg-{{ section.id }}" width="24" height="24" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M36.5 12.5L12.5 36.5" stroke="#ff0000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M12.5 12.5L36.5 36.5" stroke="#ff0000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg>
                            {% endif %}
                          {% endif %}
                        </div>
                      {% endif %}
                      {% if block.settings.fifth_row != blank %}
                        <p class="comparison-value-{{ section.id }}">{{ block.settings.fifth_row }}</p>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>       
      </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@19.1.3/dist/lazyload.min.js"></script>

<script>
  function initComparisonTable17() {
    let lazyLoadInstance = new LazyLoad();

    window.addEventListener(
      "LazyLoad::Initialized",
      function (event) {
        window.lazyLoadInstance = event.detail.instance;
      },
      false
    );
  }

  document.addEventListener('DOMContentLoaded', initComparisonTable17);

  if (Shopify.designMode) {
    document.addEventListener('shopify:section:unload', initComparisonTable17);
    document.addEventListener('shopify:section:load', initComparisonTable17);
  }
</script>

{% schema %}
{
  "name": "SG-Comparison table #17",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Table placement",
      "default": "content_table",
      "options": [
        {
          "label": "Align table right",
          "value": "content_table"
        },
        {
          "label": "Align table left",
          "value": "table_content"
        }
      ]
    },
    {
      "type": "select",
      "id": "layout_mobile",
      "label": "Table placement - mobile",
      "default": "content_table",
      "options": [
        {
          "label": "Table on top ",
          "value": "table_content"
        },
        {
          "label": "Table on bottom",
          "value": "content_table"
        }
      ]
    },
    {
      "type": "range",
      "id": "table_width",
      "min": 35,
      "max": 65,
      "step": 1,
      "unit": "%",
      "label": "Table width",
      "default": 60
    },
    {
      "type": "range",
      "id": "layout_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 36
    },
    {
      "type": "range",
      "id": "layout_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 24
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text_alignment",
      "id": "content_align",
      "label": "Horizontal alignment",
      "default": "left"
    },
    {
      "type": "text_alignment",
      "id": "content_align_mobile",
      "label": "Horizontal alignment - mobile",
      "default": "center"
    },
    {
      "type": "select",
      "id": "content_vertical_align",
      "label": "Vertical alignment - desktop",
      "default": "center",
      "options": [
        {
          "label": "Top",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Bottom",
          "value": "end"
        }
      ]
    },
    {
      "type": "header",
      "content": "Table"
    },
    {
      "type": "range",
      "id": "table_radius",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Roundness",
      "default": 16
    },
    {
      "type": "range",
      "id": "table_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 2
    },
    {
      "type": "header",
      "content": "Column"
    },
    {
      "type": "range",
      "id": "column_width_mobile",
      "min": 20,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Width - mobile",
      "default": 115
    },
    {
      "type": "header",
      "content": "Table column heading"
    },
    {
      "type": "checkbox",
      "id": "column_heading_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "column_heading_font",
      "label": "Font family",
      "default": "assistant_n4"
    },
    {
      "type": "range",
      "id": "column_heading_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 20
    },
    {
      "type": "range",
      "id": "column_heading_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "column_heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "text_alignment",
      "id": "column_heading_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "column_heading_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Table row"
    },
    {
      "type": "range",
      "id": "row_height",
      "min": 30,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Height",
      "default": 80
    },
    {
      "type": "range",
      "id": "row_height_mobile",
      "min": 20,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Height - mobile",
      "default": 60
    },
    {
      "type": "header",
      "content": "Table row heading"
    },
    {
      "type": "text",
      "id": "first_row_heading",
      "label": "First row heading",
      "default": "Row heading"
    },
    {
      "type": "text",
      "id": "second_row_heading",
      "label": "Second row heading",
      "default": "Row heading"
    },
    {
      "type": "text",
      "id": "third_row_heading",
      "label": "Third row heading",
      "default": "Row heading"
    },
    {
      "type": "text",
      "id": "fourth_row_heading",
      "label": "Fourth row heading",
      "default": "Row heading"
    },
    {
      "type": "text",
      "id": "fifth_row_heading",
      "label": "Fifth row heading",
      "default": "Row heading"
    },
    {
      "type": "checkbox",
      "id": "row_heading_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "row_heading_font",
      "label": "Font family",
      "default": "assistant_n4"
    },
    {
      "type": "range",
      "id": "row_heading_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 15
    },
    {
      "type": "range",
      "id": "row_heading_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 13
    },
    {
      "type": "range",
      "id": "row_heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "text_alignment",
      "id": "row_heading_align",
      "label": "Alignment"
    },
    {
      "type": "text_alignment",
      "id": "row_heading_align_mobile",
      "label": "Alignment - mobile"
    },
    {
      "type": "header",
      "content": "Row text"
    },
    {
      "type": "checkbox",
      "id": "row_text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "row_text_font",
      "label": "Font family",
      "default": "assistant_n4"
    },
    {
      "type": "range",
      "id": "row_text_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "row_text_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "row_text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "text_alignment",
      "id": "row_text_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "row_text_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Row icon"
    },
    {
      "type": "range",
      "id": "value_icon_size",
      "min": 20,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Size",
      "default": 28
    },
    {
      "type": "range",
      "id": "value_icon_size_mobile",
      "min": 20,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Size - mobile",
      "default": 24
    },
    {
      "type": "header",
      "content": "Table colors"
    },
    {
      "type": "color",
      "label": "Column heading",
      "id": "column_heading_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Column heading active",
      "id": "column_heading_active_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Row heading",
      "id": "row_heading_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Row text",
      "id": "row_text_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Row text active",
      "id": "row_active_text_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Cross icon",
      "id": "value_cross_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Cross icon active",
      "id": "value_cross_active_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Check icon",
      "id": "value_check_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Check icon active",
      "id": "value_check_active_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "table_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "table_border_color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient",
      "info": "Remove gradient to replace with solid colors"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Margin sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Margin sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 800,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "label": "Section content width",
      "default": 1400
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "review",
      "limit": 1,
      "name": "Review",
      "settings": [
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "range",
          "id": "review_bg_opacity",
          "min": 0,
          "max": 1,
          "step": 0.1,
          "label": "Background opacity",
          "default": 0
        },
        {
          "type": "range",
          "id": "review_padding_horizontal",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding horizontal",
          "default": 0
        },
        {
          "type": "range",
          "id": "review_padding_horizontal_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding horizontal - mobile",
          "default": 0
        },
        {
          "type": "range",
          "id": "review_padding_vertical",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding vertical",
          "default": 0
        },
        {
          "type": "range",
          "id": "review_padding_vertical_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding vertical - mobile",
          "default": 0
        },
        {
          "type": "range",
          "id": "review_radius",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Roundness",
          "default": 0
        },
        {
          "type": "range",
          "id": "review_mt",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Margin top",
          "default": 16
        },
        {
          "type": "range",
          "id": "review_mt_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Margin top - mobile",
          "default": 12
        },
        {
          "type": "header",
          "content": "Stars"
        },
        {
          "type": "range",
          "id": "stars_count",
          "min": 0,
          "max": 5,
          "step": 0.5,
          "label": "Stars count",
          "default": 5
        },
        {
          "type": "image_picker",
          "label": "Stars icon",
          "id": "stars_icon",
          "info": "Replaces the default stars icon"
        },
        {
          "type": "range",
          "id": "stars_size",
          "min": 10,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Size",
          "default": 18
        },
        {
          "type": "range",
          "id": "stars_size_mobile",
          "min": 10,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Size - mobile",
          "default": 16
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "richtext",
          "id": "review",
          "label": "Text",
          "default": "<p>4.9 3850 Reviews</p>"
        },
        {
          "type": "checkbox",
          "id": "review_custom",
          "label": "Use custom font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "review_font",
          "label": "Font family",
          "default": "josefin_sans_n4"
        },
        {
          "type": "range",
          "id": "review_size",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 13
        },
        {
          "type": "range",
          "id": "review_size_mobile",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Font size - mobile",
          "default": 13
        },
        {
          "type": "range",
          "id": "review_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Line height",
          "default": 130
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "label": "Text",
          "id": "review_color",
          "default": "#121212"
        },
        {
          "type": "color",
          "label": "Default stars",
          "id": "stars_color",
          "default": "#121212"
        },
        {
          "type": "color",
          "label": "Background",
          "id": "review_bg_color",
          "default": "#FFFFFF"
        }
      ]
    },
    {
      "type": "heading",
      "limit": 1,
      "name": "Heading",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading",
          "default": "<h2>Section heading</h2>"
        },
        {
          "type": "checkbox",
          "id": "heading_custom",
          "label": "Use custom font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "heading_font",
          "label": "Font family",
          "default": "josefin_sans_n4"
        },
        {
          "type": "range",
          "id": "heading_size",
          "min": 0,
          "max": 72,
          "step": 2,
          "unit": "px",
          "label": "Font size",
          "default": 72
        },
        {
          "type": "range",
          "id": "heading_size_mobile",
          "min": 0,
          "max": 72,
          "step": 2,
          "unit": "px",
          "label": "Font size - mobile",
          "default": 36
        },
        {
          "type": "range",
          "id": "heading_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Line height",
          "default": 110
        },
        {
          "type": "range",
          "id": "heading_mt",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Margin top",
          "default": 0
        },
        {
          "type": "range",
          "id": "heading_mt_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Margin top - mobile",
          "default": 0
        },
        {
          "type": "color",
          "label": "Color",
          "id": "heading_color",
          "default": "#121212"
        }
      ]
    },
    {
      "type": "text",
      "limit": 1,
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Add text content about your brand that makes a statement.</p>"
        },
        {
          "type": "checkbox",
          "id": "text_custom",
          "label": "Use custom font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "text_font",
          "label": "Font family",
          "default": "josefin_sans_n4"
        },
        {
          "type": "range",
          "id": "text_size",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 16
        },
        {
          "type": "range",
          "id": "text_size_mobile",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Font size - mobile",
          "default": 14
        },
        {
          "type": "range",
          "id": "text_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Line height",
          "default": 150
        },
        {
          "type": "range",
          "id": "text_mt",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Margin top",
          "default": 16
        },
        {
          "type": "range",
          "id": "text_mt_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Margin top - mobile",
          "default": 10
        },
        {
          "type": "color",
          "label": "Color",
          "id": "text_color",
          "default": "#121212"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button",
          "label": "Button label",
          "default": "SHOP NOW"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "id": "button_custom",
          "label": "Use custom font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "button_font",
          "label": "Font family",
          "default": "josefin_sans_n4"
        },
        {
          "type": "range",
          "id": "button_size",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 16
        },
        {
          "type": "range",
          "id": "button_size_mobile",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Font size - mobile",
          "default": 15
        },
        {
          "type": "range",
          "id": "button_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Line height",
          "default": 100
        },
        {
          "type": "range",
          "id": "button_padding_horizontal",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding horizontal",
          "default": 32
        },
        {
          "type": "range",
          "id": "button_padding_horizontal_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding horizontal - mobile",
          "default": 32
        },
        {
          "type": "range",
          "id": "button_padding_vertical",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding vertical",
          "default": 16
        },
        {
          "type": "range",
          "id": "button_padding_vertical_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding vertical - mobile",
          "default": 16
        },
        {
          "type": "range",
          "id": "button_radius",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Roundness",
          "default": 100
        },
        {
          "type": "range",
          "id": "button_border_thickness",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "px",
          "label": "Border thickness",
          "default": 2
        },
        {
          "type": "range",
          "id": "button_mt",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Margin top",
          "default": 24
        },
        {
          "type": "range",
          "id": "button_mt_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Margin top - mobile",
          "default": 16
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "default": "outline",
          "options": [
            {
              "label": "Link",
              "value": "link"
            },
            {
              "label": "Non-outline",
              "value": "non_outline"
            },
            {
              "label": "Non-outline & arrow",
              "value": "non_outline_arrow"
            },
            {
              "label": "Outline",
              "value": "outline"
            },
            {
              "label": "Outline & arrow",
              "value": "outline_arrow"
            }
          ]
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "label": "Text",
          "id": "button_color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "label": "Hover text",
          "id": "button_hover_color",
          "default": "#121212"
        },
        {
          "type": "color",
          "label": "Background",
          "id": "button_bg_color",
          "default": "#121212"
        },
        {
          "type": "color",
          "label": "Background hover",
          "id": "button_bg_hover_color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "label": "Button border",
          "id": "button_border_color",
          "default": "#121212"
        },
        {
          "type": "color",
          "label": "Border hover",
          "id": "button_border_hover_color",
          "default": "#121212"
        }
      ]
    },
    {
      "type": "column",
      "name": "Column",
      "limit": 4,
      "settings": [
        {
          "type": "header",
          "content": "Background"
        },
        {
          "type": "select",
          "id": "bg_type",
          "label": "Type",
          "default": "color",
          "options": [
            {
              "label": "Image",
              "value": "image"
            },
            {
              "label": "Video",
              "value": "video"
            },
            {
              "label": "Color",
              "value": "color"
            }
          ]
        },
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video from Shopify"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Video embed from URL",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "info": "Youtube or Vimeo. Shows when no Shopify-hosted video is selected."
        },
        {
          "type": "range",
          "id": "bg_overlay",
          "min": 0,
          "max": 1,
          "step": 0.1,
          "label": "Overlay",
          "default": 0.2
        },
        {
          "type": "header",
          "content": "Column content"
        },
        {
          "type": "text",
          "id": "column_heading",
          "label": "Column heading",
          "default": "COLUMN HEADING"
        },
        {
          "type": "image_picker",
          "id": "column_heading_image",
          "label": "Column heading image"
        },
        {
          "type": "text",
          "id": "first_row",
          "label": "First row value",
          "default": "Value 1"
        },
        {
          "type": "image_picker",
          "id": "first_row_image",
          "label": "First row image",
          "info": "Custom images replace icons"
        },
        {
          "type": "select",
          "id": "first_row_icon",
          "label": "First row icon",
          "default": "none",
          "options": [
            {
              "label": "Check",
              "value": "check"
            },
            {
              "label": "Cross",
              "value": "cross"
            },
            {
              "label": "None",
              "value": "none"
            }
          ]
        },
        {
          "type": "text",
          "id": "second_row",
          "label": "Second row value",
          "default": "Value 2"
        },
        {
          "type": "image_picker",
          "id": "second_row_image",
          "label": "Second row image"
        },
        {
          "type": "select",
          "id": "second_row_icon",
          "label": "Second row icon",
          "default": "none",
          "options": [
            {
              "label": "Check",
              "value": "check"
            },
            {
              "label": "Cross",
              "value": "cross"
            },
            {
              "label": "None",
              "value": "none"
            }
          ]
        },
        {
          "type": "text",
          "id": "third_row",
          "label": "Third row value",
          "default": "Value 3"
        },
        {
          "type": "image_picker",
          "id": "third_row_image",
          "label": "Third row image"
        },
        {
          "type": "select",
          "id": "third_row_icon",
          "label": "Third row icon",
          "default": "none",
          "options": [
            {
              "label": "Check",
              "value": "check"
            },
            {
              "label": "Cross",
              "value": "cross"
            },
            {
              "label": "None",
              "value": "none"
            }
          ]
        },
        {
          "type": "text",
          "id": "fourth_row",
          "label": "Fourth row value",
          "default": "Value 4"
        },
        {
          "type": "image_picker",
          "id": "fourth_row_image",
          "label": "Fourth row image"
        },
        {
          "type": "select",
          "id": "fourth_row_icon",
          "label": "Fourth row icon",
          "default": "none",
          "options": [
            {
              "label": "Check",
              "value": "check"
            },
            {
              "label": "Cross",
              "value": "cross"
            },
            {
              "label": "None",
              "value": "none"
            }
          ]
        },
        {
          "type": "text",
          "id": "fifth_row",
          "label": "Fifth row value",
          "default": "Value 5"
        },
        {
          "type": "image_picker",
          "id": "fifth_row_image",
          "label": "Fifth row image"
        },
        {
          "type": "select",
          "id": "fifth_row_icon",
          "label": "Fifth row icon",
          "default": "none",
          "options": [
            {
              "label": "Check",
              "value": "check"
            },
            {
              "label": "Cross",
              "value": "cross"
            },
            {
              "label": "None",
              "value": "none"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Comparison table #17",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "button"
        },
        {
          "type": "review"
        },
        {
          "type": "column",
          "settings": {
            "bg_type": "video",
            "fifth_row_icon": "check",
            "fifth_row": ""
          }
        },
        {
          "type": "column",
          "settings": {
            "fifth_row_icon": "cross",
            "fifth_row": ""
          }
        }
      ]
    }
  ]
}
{% endschema %}