<style>
  .countdown-banner-{{ section.id }}-wrapper {
    padding-top: var(--pt);
    padding-bottom: var(--pb);
  }
  @media screen and (min-width: 750px) {
    .countdown-banner-{{ section.id }}-wrapper {
      padding-top: var(--pt-desktop);
      padding-bottom: var(--pb-desktop);
    }
  }
  .countdown-banner-{{ section.id }} {
    position: relative;
    height: var(--section-height-mobile);
    overflow: hidden;
  }
  @media screen and (min-width: 750px) {
    .countdown-banner-{{ section.id }} {
      height: var(--section-height);
    }
  }
  .countdown-banner-{{ section.id }} .countdown-banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .countdown-banner-{{ section.id }} .countdown-banner-image--desktop {
    display: none;
  }
  @media screen and (min-width: 750px) {
    .countdown-banner-{{ section.id }} .countdown-banner-image--desktop {
      display: block;
    }
    .countdown-banner-{{ section.id }} .countdown-banner-image--mobile {
      display: none;
    }
  }
</style>
<div
  class="countdown-banner-{{ section.id }}-wrapper"
  style="
    --pt: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    --pt-desktop: {{ section.settings.padding_top }}px;
    --pb: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    --pb-desktop: {{ section.settings.padding_bottom }}px;
    background-color:{{ section.settings.background-color }};
  "
>
  <div
    class="
      countdown-banner-{{ section.id }}
      {% unless section.settings.full_width %} page-width {% endunless %}
    "
    style="
      --section-height: {{ section.settings.height }};
      --section-height-mobile: {{ section.settings.height_mobile }};
    "
  >
    <div
      style="
        height: 100%; width: 100%; position: relative; overflow: hidden;
        {% unless section.settings.full_width %} border-radius: {{ section.settings.border_radius }}px; {% endunless %}
      "
    >
      {% comment %} Image: {% endcomment %}
      {% assign image = section.settings.image %}
      {% if image == blank %}
        {% comment %} {{ 'image' | placeholder_svg_tag: 'countdown-banner-image' }} {% endcomment %}
        <div
          class="countdown-banner-image"
          style="background-color: {{ section.settings.no_image_bg_color }}; display: block;"
        ></div>
      {% else %}
        <img
          class="
            countdown-banner-image
            {% if section.settings.image_mobile != blank %}
              countdown-banner-image--desktop
            {% endif %}
          "
          src="{{ image | img_url: '500x' }}"
          srcset="
            {{ image | img_url: '500x' }} 500w,
            {{ image | img_url: '800x' }} 800w,
            {{ image | img_url: '1200x' }} 1200w,
            {{ image | img_url: '1600x' }} 1600w,
            {{ image | img_url: '2000x' }} 2000w,
            {{ image | img_url: 'master' }} 2400w
          "
          alt="{{ image.alt }}"
          {% if section.settings.lazy_load %}
            loading="lazy"
          {% endif %}
          {% if section.settings.blur %}
            style="filter: blur(4px);"
          {% endif %}
        >
        {% if section.settings.image_mobile != blank %}
          {% assign image = section.settings.image_mobile %}
          <img
            class="countdown-banner-image countdown-banner-image--mobile"
            src="{{ image | img_url: '500x' }}"
            srcset="
              {{ image | img_url: '500x' }} 500w,
              {{ image | img_url: '800x' }} 800w,
              {{ image | img_url: '1200x' }} 1200w,
              {{ image | img_url: '1600x' }} 1600w,
              {{ image | img_url: '2000x' }} 2000w,
              {{ image | img_url: 'master' }} 2400w
            "
            alt="{{ image.alt }}"
            {% if section.settings.lazy_load %}
              loading="lazy"
            {% endif %}
            {% if section.settings.blur %}
              style="filter: blur(4px);"
            {% endif %}
          >
        {% endif %}
      {% endif %}

      {% comment %} Content: {% endcomment %}
      <style>
        .countdown-banner-content-{{ section.id }} {
          position: relative;
          z-index: 1;
          overflow: hidden;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          text-align: center;
          line-height: 1.1;
        }
      </style>
      <div
        class="countdown-banner-content-{{ section.id }}"
      >
        {% comment %} Overlay: {% endcomment %}
        <div
          style="
            opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
            background-color: {{ section.settings.overlay_color }};
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            display: block;
          "
        ></div>
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'text' %}
              {% if block.settings.heading != blank %}
                <style>
                  .countdown-banner-heading-{{ section.id }}-{{ block.id }} {
                  }
                  .countdown-banner-heading-{{ section.id }}-{{ block.id }} p {
                    margin:0 10px;
                  }
                </style>
                <div
                  class="countdown-banner-heading-{{ section.id }}-{{ block.id }}"
                  style="
                    font-size: {{ block.settings.font_size }}px;
                    color: {{ block.settings.color }};
                  "
                >
                  {{ block.settings.heading }}
                </div>
              {% endif %}
              {% if block.settings.richtext != blank %}
                <style>
                  .countdown-banner-richtext-{{ section.id }}-{{ block.id }} {
                  }
                </style>
                <div
                  class="countdown-banner-richtext-{{ section.id }}-{{ block.id }}"
                  style="
                    font-size: {{ block.settings.richtext_font_size }}px;
                    color: {{ block.settings.richtext_color }};
                    line-height:1.3;
                    padding:0 15px;
                  "
                >
                  {{ block.settings.richtext }}
                </div>
              {% endif %}
            {% when 'button' %}
              <style>
                .countdown-banner-button-{{ section.id }}-{{ block.id }} {
                  padding: 9px 25px;
                  text-decoration: none;
                }
                @media screen and (min-width: 750px) {
                  .countdown-banner-button-{{ section.id }}-{{ block.id }} {
                    padding: 11px 25px;
                  }
                }
              </style>
              <a
                href="{{ block.settings.button_link }}"
                class="countdown-banner-button-{{ section.id }}-{{ block.id }}"
                style="
                  color: {{ block.settings.color }};
                  background-color: {{ block.settings.background_color }};
                  border-radius: {{ block.settings.border_radius }}px;
                  font-size: {{ block.settings.font_size }}px;
                  border: {{block.settings.button_border_thickness}}px {{block.settings.button_border_color}} solid;
                  margin: 5px 10px;
                "
              >
                {{ block.settings.button_text }}
              </a>
            {% when 'timer' %}
              <style>
                .countdown-timer-{{ section.id }}-{{ block.id }} {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 5px;
                  margin: 5px 10px;
                }
                @media (min-width: 750px) {
                  .countdown-timer-{{ section.id }}-{{ block.id }} {
                     gap: 20px;
                  }
                }
                .countdown-timer-{{ section.id }}-{{ block.id }} .time-block {
                  position: relative;
                  border-radius: 12px;
                  /*padding: 20px;*/
                  padding: 0 1rem;
                }
                .countdown-timer-{{ section.id }}-{{ block.id }} .time-block__num,
                .countdown-timer-{{ section.id }}-{{ block.id }} .time-block__unit {
                  display: block;
                  text-align: center;
                }
                .countdown-timer-{{ section.id }}-{{ block.id }} .time-block__num {
                  font-size: 25px;
                  line-height: 1;
                }
                .countdown-timer-{{ section.id }}-{{ block.id }} .time-block__unit {
                  text-transform: uppercase;
                  margin-top: 6px;
                  font-size: 10px;
                }
                @media (min-width: 750px) {
                  .countdown-timer-{{ section.id }}-{{ block.id }} .time-block__unit {
                    font-size: 12px;
                  }
                }
                .countdown-timer-{{ section.id }}-{{ block.id }} .time-divier {
                  position: relative;
                  width: 1px;
                  height: 40px;
                  background-color: var(--color);
                }
              </style>

              <div
                class="countdown-timer-{{ section.id }}-{{ block.id }}"
                {{ block.shopify_attributes }}
                style="
                  color: {{ block.settings.color }};
                  --color: {{ block.settings.color }};
                "
              >
                <div class="time-block">
                  <span class="time-block__num js-timer-days">00</span>
                  <span class="time-block__unit">{{ block.settings.days_text }}</span>
                </div>
                {% comment %} <span class="time-colon">:</span> {% endcomment %}
                <span class="time-divier"></span>
                <div class="time-block">
                  <span class="time-block__num js-timer-hours">00</span>
                  <span class="time-block__unit">{{ block.settings.hours_text }}</span>
                </div>
                {% comment %} <span class="time-colon">:</span> {% endcomment %}
                <span class="time-divier"></span>
                <div class="time-block">
                  <span class="time-block__num js-timer-minutes">00</span>
                  <span class="time-block__unit">{{ block.settings.minutes_text }}</span>
                </div>
                {% comment %} <span class="time-colon">:</span> {% endcomment %}
                <span class="time-divier"></span>
                <div class="time-block">
                  <span class="time-block__num js-timer-seconds">00</span>
                  <span class="time-block__unit">{{ block.settings.seconds_text }}</span>
                </div>
              </div>

              <style>
                .countdown-timer-completed-text-{{ section.id }}-{{ block.id }} {
                  display: none;
                }
              </style>
              <div
                class="countdown-timer-completed-text-{{ section.id }}-{{ block.id }}"
              >
                {{ block.settings.timer_completed_text }}
              </div>

              <script type="text/javascript">
                (function () {
                  function startTimer() {
                    const second = 1000,
                      minute = second * 60,
                      hour = minute * 60,
                      day = hour * 24,
                      wrapper = document.querySelector(
                        '.countdown-timer-{{ section.id }}-{{ block.id }}'
                      );
                
                    // Create UTC date string in a Safari-friendly format
                    const dateString = `{{ block.settings.year }}/{{ block.settings.month }}/{{ block.settings.day }} {{ block.settings.hour }}:{{ block.settings.minute }}:00 UTC`;
                    const countDown = Date.parse(dateString);
                
                    console.log('start timer, end date:', dateString);
                
                    const interval = setInterval(function () {
                      let now = Date.now(); // Используем Date.now() вместо new Date().getTime()
                      let distance = countDown - now;
                
                      // Handle case when distance is negative or invalid
                      if (distance < 0 || isNaN(distance)) {
                        wrapper.querySelector('.js-timer-days').innerText = '00';
                        wrapper.querySelector('.js-timer-hours').innerText = '00';
                        wrapper.querySelector('.js-timer-minutes').innerText = '00';
                        wrapper.querySelector('.js-timer-seconds').innerText = '00';
                        {% if block.settings.hide_timer_on_completed %}
                          wrapper.style.display = 'none';
                        {% endif %}
                        document.querySelector(
                          '.countdown-timer-completed-text-{{ section.id }}-{{ block.id }}'
                        ).style.display = 'block';
                
                        clearInterval(interval);
                        return;
                      }
                
                      // Calculate time units
                      const days = Math.floor(distance / day);
                      const hours = Math.floor((distance % day) / hour);
                      const minutes = Math.floor((distance % hour) / minute);
                      const seconds = Math.floor((distance % minute) / second);
                
                      // Format numbers to always show two digits
                      const formatNumber = (num) => (num < 10 ? '0' + num : num);
                
                      // Update DOM
                      wrapper.querySelector('.js-timer-days').innerText = formatNumber(days);
                      wrapper.querySelector('.js-timer-hours').innerText = formatNumber(hours);
                      wrapper.querySelector('.js-timer-minutes').innerText = formatNumber(minutes);
                      wrapper.querySelector('.js-timer-seconds').innerText = formatNumber(seconds);
                
                    }, second);
                
                    // Clean up interval on section unload
                    document.addEventListener('shopify:section:unload', function (event) {
                      if (event.detail.sectionId === '{{ section.id }}') clearInterval(interval);
                    });
                  }
                
                  // Start timer initially
                  startTimer();
                
                  // Reinitialize timer when section is reloaded in theme editor
                  if (window.Shopify && Shopify.designMode) {
                    document.addEventListener('shopify:section:load', function (event) {
                      if (event.detail.sectionId === '{{ section.id }}') {
                        startTimer();
                      }
                    });
                  }
                })();
              </script>
            {% else %}

          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "SG-Countdown timer 1",
  "presets": [
    {
      "category": "Custom",
      "name": "SG-countdown timer 1",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "button"
        },
        {
          "type": "timer"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Section full width",
      "default": false
    },
    {
      "type": "text",
      "id": "height",
      "label": "Section height",
      "default": "600px"
    },
    {
      "type": "text",
      "id": "height_mobile",
      "label": "Section height (Mobile)",
      "default": "500px"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "no_image_bg_color",
      "label": "Background color",
      "info": "When no image",
      "default": "#FFFFFF"
    },
    {
      "type": "checkbox",
      "id": "blur",
      "label": "Blur the image",
      "default": true
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Overlay opacity",
      "default": 30
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#000000"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile Image (optional)"
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 250,
      "step": 5,
      "unit": "px",
      "label": "Border radius",
      "default": 15
    },
    {
      "type": "checkbox",
      "id": "lazy_load",
      "label": "Lazy load image",
      "default": true,
      "info": "Lazy loading should be enabled if section appear below fold. It will improve page load speed."
    },
    {
      "type": "header",
      "content": "Background color"
    },
    {
      "type": "color",
      "label": "Section background color",
      "id": "background-color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "View Discounted Items"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Button color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Button background color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "label": "Button border color",
          "id": "button_border_color",
          "default": "#FFFFFF"
        },
        {
          "type": "range",
          "id": "border_radius",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Button border radius",
          "default": 50
        },
        {
          "type": "range",
          "id": "font_size",
          "min": 12,
          "max": 80,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 18
        },
        {
          "type": "range",
          "id": "button_border_thickness",
          "min": 0,
          "max": 5,
          "step": 1,
          "unit": "px",
          "label": "Button border thickness",
          "default": 0
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading",
          "default": "<p>50% off spring collection</p>"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#ffffff"
        },
        {
          "type": "range",
          "id": "font_size",
          "min": 12,
          "max": 80,
          "step": 1,
          "unit": "px",
          "label": "Heading font size",
          "default": 30
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": "Richtext"
        },
        {
          "type": "color",
          "id": "richtext_color",
          "label": "Richtext Color",
          "default": "#ffffff"
        },
        {
          "type": "range",
          "id": "richtext_font_size",
          "min": 10,
          "max": 80,
          "step": 1,
          "unit": "px",
          "label": "Richtext font size",
          "default": 14
        }
      ]
    },
    {
      "type": "timer",
      "name": "Timer",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Timer settings:",
          "info": "Please use UTC time zone"
        },
        {
          "type": "select",
          "id": "year",
          "label": "Year",
          "default": "2024",
          "options": [
            {
              "value": "2022",
              "label": "2022"
            },
            {
              "value": "2023",
              "label": "2023"
            },
            {
              "value": "2024",
              "label": "2024"
            },
            {
              "value": "2025",
              "label": "2025"
            },
            {
              "value": "2026",
              "label": "2026"
            },
            {
              "value": "2027",
              "label": "2027"
            },
            {
              "value": "2028",
              "label": "2028"
            },
            {
              "value": "2029",
              "label": "2029"
            },
            {
              "value": "2030",
              "label": "2030"
            },
            {
              "value": "2031",
              "label": "2031"
            },
            {
              "value": "2032",
              "label": "2032"
            },
            {
              "value": "2033",
              "label": "2033"
            },
            {
              "value": "2034",
              "label": "2034"
            },
            {
              "value": "2035",
              "label": "2035"
            },
            {
              "value": "2036",
              "label": "2036"
            },
            {
              "value": "2037",
              "label": "2037"
            },
            {
              "value": "2038",
              "label": "2038"
            },
            {
              "value": "2039",
              "label": "2039"
            },
            {
              "value": "2040",
              "label": "2040"
            },
            {
              "value": "2041",
              "label": "2041"
            },
            {
              "value": "2042",
              "label": "2042"
            },
            {
              "value": "2043",
              "label": "2043"
            },
            {
              "value": "2044",
              "label": "2044"
            },
            {
              "value": "2045",
              "label": "2045"
            },
            {
              "value": "2046",
              "label": "2046"
            },
            {
              "value": "2047",
              "label": "2047"
            },
            {
              "value": "2048",
              "label": "2048"
            },
            {
              "value": "2049",
              "label": "2049"
            },
            {
              "value": "2050",
              "label": "2050"
            }
          ]
        },
        {
          "type": "select",
          "id": "month",
          "label": "month",
          "default": "01",
          "options": [
            {
              "value": "01",
              "label": "January"
            },
            {
              "value": "02",
              "label": "February"
            },
            {
              "value": "03",
              "label": "March"
            },
            {
              "value": "04",
              "label": "April"
            },
            {
              "value": "05",
              "label": "May"
            },
            {
              "value": "06",
              "label": "June"
            },
            {
              "value": "07",
              "label": "July"
            },
            {
              "value": "08",
              "label": "August"
            },
            {
              "value": "09",
              "label": "September"
            },
            {
              "value": "10",
              "label": "October"
            },
            {
              "value": "11",
              "label": "November"
            },
            {
              "value": "12",
              "label": "December"
            }
          ]
        },
        {
          "type": "select",
          "id": "day",
          "label": "day",
          "default": "01",
          "options": [
            {
              "value": "01",
              "label": "01"
            },
            {
              "value": "02",
              "label": "02"
            },
            {
              "value": "03",
              "label": "03"
            },
            {
              "value": "04",
              "label": "04"
            },
            {
              "value": "05",
              "label": "05"
            },
            {
              "value": "06",
              "label": "06"
            },
            {
              "value": "07",
              "label": "07"
            },
            {
              "value": "08",
              "label": "08"
            },
            {
              "value": "09",
              "label": "09"
            },
            {
              "value": "10",
              "label": "10"
            },
            {
              "value": "11",
              "label": "11"
            },
            {
              "value": "12",
              "label": "12"
            },
            {
              "value": "13",
              "label": "13"
            },
            {
              "value": "14",
              "label": "14"
            },
            {
              "value": "15",
              "label": "15"
            },
            {
              "value": "16",
              "label": "16"
            },
            {
              "value": "17",
              "label": "17"
            },
            {
              "value": "18",
              "label": "18"
            },
            {
              "value": "19",
              "label": "19"
            },
            {
              "value": "20",
              "label": "20"
            },
            {
              "value": "21",
              "label": "21"
            },
            {
              "value": "22",
              "label": "22"
            },
            {
              "value": "23",
              "label": "23"
            },
            {
              "value": "24",
              "label": "24"
            },
            {
              "value": "25",
              "label": "25"
            },
            {
              "value": "26",
              "label": "26"
            },
            {
              "value": "27",
              "label": "27"
            },
            {
              "value": "28",
              "label": "28"
            },
            {
              "value": "29",
              "label": "29"
            },
            {
              "value": "30",
              "label": "30"
            },
            {
              "value": "31",
              "label": "31"
            }
          ]
        },
        {
          "type": "select",
          "id": "hour",
          "label": "Hour",
          "default": "00",
          "options": [
            {
              "value": "00",
              "label": "12 AM"
            },
            {
              "value": "01",
              "label": "01 AM"
            },
            {
              "value": "02",
              "label": "02 AM"
            },
            {
              "value": "03",
              "label": "03 AM"
            },
            {
              "value": "04",
              "label": "04 AM"
            },
            {
              "value": "05",
              "label": "05 AM"
            },
            {
              "value": "06",
              "label": "06 AM"
            },
            {
              "value": "07",
              "label": "07 AM"
            },
            {
              "value": "08",
              "label": "08 AM"
            },
            {
              "value": "09",
              "label": "09 AM"
            },
            {
              "value": "10",
              "label": "10 AM"
            },
            {
              "value": "11",
              "label": "11 AM"
            },
            {
              "value": "12",
              "label": "12 PM"
            },
            {
              "value": "13",
              "label": "01 PM"
            },
            {
              "value": "14",
              "label": "02 PM"
            },
            {
              "value": "15",
              "label": "03 PM"
            },
            {
              "value": "16",
              "label": "04 PM"
            },
            {
              "value": "17",
              "label": "05 PM"
            },
            {
              "value": "18",
              "label": "06 PM"
            },
            {
              "value": "19",
              "label": "07 PM"
            },
            {
              "value": "20",
              "label": "08 PM"
            },
            {
              "value": "21",
              "label": "09 PM"
            },
            {
              "value": "22",
              "label": "10 PM"
            },
            {
              "value": "23",
              "label": "11 PM"
            }
          ]
        },
        {
          "type": "select",
          "id": "minute",
          "label": "Minute",
          "default": "00",
          "options": [
            {
              "value": "00",
              "label": "00"
            },
            {
              "value": "01",
              "label": "01"
            },
            {
              "value": "02",
              "label": "02"
            },
            {
              "value": "03",
              "label": "03"
            },
            {
              "value": "04",
              "label": "04"
            },
            {
              "value": "05",
              "label": "05"
            },
            {
              "value": "06",
              "label": "06"
            },
            {
              "value": "07",
              "label": "07"
            },
            {
              "value": "08",
              "label": "08"
            },
            {
              "value": "09",
              "label": "09"
            },
            {
              "value": "10",
              "label": "10"
            },
            {
              "value": "11",
              "label": "11"
            },
            {
              "value": "12",
              "label": "12"
            },
            {
              "value": "13",
              "label": "13"
            },
            {
              "value": "14",
              "label": "14"
            },
            {
              "value": "15",
              "label": "15"
            },
            {
              "value": "16",
              "label": "16"
            },
            {
              "value": "17",
              "label": "17"
            },
            {
              "value": "18",
              "label": "18"
            },
            {
              "value": "19",
              "label": "19"
            },
            {
              "value": "20",
              "label": "20"
            },
            {
              "value": "21",
              "label": "21"
            },
            {
              "value": "22",
              "label": "22"
            },
            {
              "value": "23",
              "label": "23"
            },
            {
              "value": "24",
              "label": "24"
            },
            {
              "value": "25",
              "label": "25"
            },
            {
              "value": "26",
              "label": "26"
            },
            {
              "value": "27",
              "label": "27"
            },
            {
              "value": "28",
              "label": "28"
            },
            {
              "value": "29",
              "label": "29"
            },
            {
              "value": "30",
              "label": "30"
            },
            {
              "value": "31",
              "label": "31"
            },
            {
              "value": "32",
              "label": "32"
            },
            {
              "value": "33",
              "label": "33"
            },
            {
              "value": "34",
              "label": "34"
            },
            {
              "value": "35",
              "label": "35"
            },
            {
              "value": "36",
              "label": "36"
            },
            {
              "value": "37",
              "label": "37"
            },
            {
              "value": "38",
              "label": "38"
            },
            {
              "value": "39",
              "label": "39"
            },
            {
              "value": "40",
              "label": "40"
            },
            {
              "value": "41",
              "label": "41"
            },
            {
              "value": "42",
              "label": "42"
            },
            {
              "value": "43",
              "label": "43"
            },
            {
              "value": "44",
              "label": "44"
            },
            {
              "value": "45",
              "label": "45"
            },
            {
              "value": "46",
              "label": "46"
            },
            {
              "value": "47",
              "label": "47"
            },
            {
              "value": "48",
              "label": "48"
            },
            {
              "value": "49",
              "label": "49"
            },
            {
              "value": "50",
              "label": "50"
            },
            {
              "value": "51",
              "label": "51"
            },
            {
              "value": "52",
              "label": "52"
            },
            {
              "value": "53",
              "label": "53"
            },
            {
              "value": "54",
              "label": "54"
            },
            {
              "value": "55",
              "label": "55"
            },
            {
              "value": "56",
              "label": "56"
            },
            {
              "value": "57",
              "label": "57"
            },
            {
              "value": "58",
              "label": "58"
            },
            {
              "value": "59",
              "label": "59"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "hide_timer_on_completed",
          "label": "Hide timer on completed",
          "default": false
        },
        {
          "type": "richtext",
          "id": "timer_completed_text",
          "label": "Timer completed text"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#FFFFFF"
        },
        {
          "type": "header",
          "content": "Translate timer"
        },
        {
          "type": "text",
          "id": "days_text",
          "label": "Days",
          "default": "Days"
        },
        {
          "type": "text",
          "id": "hours_text",
          "label": "Hours",
          "default": "Hours"
        },
        {
          "type": "text",
          "id": "minutes_text",
          "label": "Minutes",
          "default": "Minutes"
        },
        {
          "type": "text",
          "id": "seconds_text",
          "label": "Seconds",
          "default": "Seconds"
        }
      ]
    }
  ]
}
{% endschema %}