{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign section_radius = section.settings.section_radius

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_color = section.settings.heading_color
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_align_mobile = section.settings.heading_align_mobile
  assign heading_align = section.settings.heading_align

  assign table_mt = section.settings.table_mt
  assign table_mt_mobile = section.settings.table_mt_mobile

  assign row_gap_mobile = section.settings.row_gap_mobile
  assign row_gap = section.settings.row_gap
  assign row_padding_vertical = section.settings.row_padding_vertical
  assign row_padding_vertical_mobile = section.settings.row_padding_vertical_mobile
  assign row_border_thickness = section.settings.row_border_thickness
  assign row_border_color = section.settings.row_border_color

  assign product_title_size = section.settings.product_title_size
  assign product_title_size_mobile = section.settings.product_title_size_mobile
  assign product_title_color = section.settings.product_title_color
  assign product_title_hover_color = section.settings.product_title_hover_color
  assign product_title_custom = section.settings.product_title_custom
  assign product_title_font = section.settings.product_title_font
  assign product_title_height = section.settings.product_title_height
  assign product_title_sktiketrought = section.settings.product_title_sktiketrought

  assign product_text_size = section.settings.product_text_size
  assign product_text_size_mobile = section.settings.product_text_size_mobile
  assign product_text_mt = section.settings.product_text_mt
  assign product_text_mt_mobile = section.settings.product_text_mt_mobile
  assign product_text_color = section.settings.product_text_color
  assign product_text_custom = section.settings.product_text_custom
  assign product_text_font = section.settings.product_text_font
  assign product_text_height = section.settings.product_text_height

  assign value_size = section.settings.value_size
  assign value_size_mobile = section.settings.value_size_mobile
  assign value_color = section.settings.value_color
  assign value_custom = section.settings.value_custom
  assign value_font = section.settings.value_font
  assign value_height = section.settings.value_height

  assign value_heading_custom = section.settings.value_heading_custom
  assign value_heading_font = section.settings.value_heading_font
  assign value_heading_size = section.settings.value_heading_size
  assign value_heading_size_mobile = section.settings.value_heading_size_mobile
  assign value_heading_color = section.settings.value_heading_color
  assign value_heading_height = section.settings.value_heading_height

  assign true_icon = section.settings.true_icon
  assign false_icon = section.settings.false_icon
  assign icon_size = section.settings.icon_size
  assign icon_size_mobile = section.settings.icon_size_mobile
-%}

{%- style -%}
  {{  heading_font | font_face: font_display: 'swap' }}
  {{  value_font | font_face: font_display: 'swap' }}
  {{  value_heading_font | font_face: font_display: 'swap' }}  
  {{  product_title_font | font_face: font_display: 'swap' }}
  {{  product_text_font | font_face: font_display: 'swap' }}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .comparison-heading-{{ section.id }} {
    text-align: {{ heading_align_mobile }};
  }

  .comparison-heading-{{ section.id }} * {
    margin: 0px;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
  }

  .comparison-table-{{ section.id }} {
    margin-top: {{ table_mt_mobile }}px;
  }

  .comparison-row-{{ section.id }} {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: {{ row_gap_mobile }}px;
    padding: {{ row_padding_vertical_mobile }}px 0px;
  }

  .comparison-row-products-{{ section.id }} {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 30px;
  }

  .comparison-row-products-{{ section.id }} > * {
    flex: 0 1 300px;
  }

  .comparison-row-products-{{ section.id }} .comparison-item-{{ section.id }}:nth-child(2) {
    display: none !important;
  }

  .comparison-row-{{ section.id }}:not(:first-child) {
    border-bottom: {{ row_border_thickness }}px solid {{ row_border_color }};
  }

  .comparison-item-{{ section.id }} {
    display: block !important;
    text-align: center;
  }

  .comparison-item-{{ section.id }}.comparison-body-item-{{ section.id }} {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .comparison-item-product-title-{{ section.id }} {
    display: inline-block;
    width: 100%;
    margin: 0px;
    font-size: {{ product_title_size_mobile }}px;
    color: {{ product_title_color }};
    line-height: {{ product_title_height }}%;
    text-transform: unset;
    transition: all 0.25s ease 0s;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  } 

  .comparison-item-product-title-{{ section.id }}:hover {
    transition: all 0.25s ease 0s;
    color: {{ product_title_hover_color }};
  }
  

  .comparison-item-product-text-{{ section.id }} {
    margin: 0px;
    margin-top: {{ product_text_mt_mobile }}px;
    font-size: {{ product_text_size_mobile }}px;
    color: {{ product_text_color }};
    line-height: {{ product_text_height }}%;
    text-transform: unset;
    text-align: center;
    text-decoration: none;
  }

  .comparison-value-icon-{{ section.id }} {
    width: {{ icon_size_mobile }}px;
    height: {{ icon_size_mobile }}px;
  }

  .comparison-value-icon-{{ section.id }} svg,
  .comparison-value-icon-{{ section.id }} img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .comparison-value-{{ section.id }} {
    margin: 0px;
    font-size: {{ value_size_mobile }}px;
    color: {{ value_color }};
    line-height: {{ value_height }}%;
    text-transform: unset;
    transition: all 0.25s ease 0s;
    text-align: center;
  }

  .comparison-value-heading-{{ section.id }} {
    margin: 0px;
    font-size: {{ value_heading_size_mobile }}px;
    color: {{ value_heading_color }};
    line-height: {{ value_heading_height }}%;
    text-transform: unset;
    transition: all 0.25s ease 0s;
    text-align: center;
    font-weight: 700;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .comparison-heading-{{ section.id }} {
      text-align: {{ heading_align }};
    }
  
    .comparison-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .comparison-table-{{ section.id }} {
      margin-top: {{ table_mt }}px;
    }

    .comparison-row-{{ section.id }} {
      gap: {{ row_gap }}px;
      padding: {{ row_padding_vertical }}px 0px;
    }

    .comparison-row-products-{{ section.id }} {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .comparison-row-products-{{ section.id }} .comparison-item-{{ section.id }}:nth-child(2) {
      display: block !important;
    }

    .comparison-value-icon-{{ section.id }} {
      width: {{ icon_size }}px;
      height: {{ icon_size }}px;
    }

    
    .comparison-value-{{ section.id }} {
      font-size: {{ value_size }}px;
    }

    .comparison-value-heading-{{ section.id }} {
      font-size: {{ value_heading_size }}px;
    }

    .comparison-item-product-title-{{ section.id }} {
      font-size: {{ product_title_size }}px;
    }

    .comparison-item-product-text-{{ section.id }} {
      margin-top: {{ product_text_mt }}px;
      font-size: {{ product_text_size }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if heading_custom %}
  <style>
    .comparison-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if product_title_custom %}
  <style>
    .comparison-item-product-title-{{ section.id }} {
      font-family: {{ product_title_font.family }}, {{ product_title_font.fallback_families }};
      font-weight: {{ product_title_font.weight }};
      font-style: {{ product_title_font.style }};
    }
  </style>
{% endif %}

{% if product_text_custom %}
  <style>
    .comparison-item-product-text-{{ section.id }} {
      font-family: {{ product_text_font.family }}, {{ product_text_font.fallback_families }};
      font-weight: {{ product_text_font.weight }};
      font-style: {{ product_text_font.style }};
    }
  </style>
{% endif %}

{% if value_custom %}
  <style>
    .comparison-value-{{ section.id }} {
      font-family: {{ value_font.family }}, {{ value_font.fallback_families }};
      font-weight: {{ value_font.weight }};
      font-style: {{ value_font.style }};
    }
  </style>
{% endif %}


{% if value_heading_custom %}
  <style>
    .comparison-value-heading-{{ section.id }} {
      font-family: {{ value_heading_font.family }}, {{ value_heading_font.fallback_families }};
      font-weight: {{ value_heading_font.weight }};
      font-style: {{ value_heading_font.style }};
    }
  </style>
{% endif %}

{% if product_title_sktiketrought %}
  <style>
    .comparison-item-{{ section.id }}:nth-child(3) .comparison-item-product-title-{{ section.id }} {
      text-decoration: line-through;
    }
  </style>
{% endif %}

<div class="section-{{ section.id }} comparison-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      {% if heading != blank %}
        <div class="comparison-heading-{{ section.id }}">
          {{ heading }}
        </div>
      {% endif %}
      <div class="comparison-table-{{ section.id }}">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'products' %}
              <div class="comparison-row-{{ section.id }} comparison-row-products-{{ section.id }}">
                <div class="comparison-item-{{ section.id }}">
                  <{% if block.settings.first_product != blank %}a href="{{ block.settings.first_product.url }}"{% else %}p{% endif %} class="comparison-item-product-title-{{ section.id }}">
                    {% if block.settings.first_product.title != blank %}
                      {{ block.settings.first_product.title }}
                    {% elsif block.settings.first_heading %}
                      {{ block.settings.first_heading }}
                    {% endif %}
                  </{% if block.settings.first_product != blank %}a{% else %}p{% endif %}>
                  <p class="comparison-item-product-text-{{ section.id }}">
                    {% if block.settings.first_text != blank %}
                      {{ block.settings.first_text }}
                    {% endif %}
                  </p>
                </div>
                <div class="comparison-item-{{ section.id }}"></div>
                <div class="comparison-item-{{ section.id }}">
                  <{% if block.settings.second_product != blank %}a href="{{ block.settings.second_product.url }}"{% else %}p{% endif %} class="comparison-item-product-title-{{ section.id }}">
                    {% if block.settings.second_product.title != blank %}
                      {{ block.settings.second_product.title }}
                    {% elsif block.settings.second_heading %}
                      {{ block.settings.second_heading }}
                    {% endif %}
                  </{% if block.settings.second_product != blank %}a{% else %}p{% endif %}>
                  <p class="comparison-item-product-text-{{ section.id }}">
                    {% if block.settings.second_text != blank %}
                      {{ block.settings.second_text }}
                    {% endif %}
                  </p>
                </div>
              </div>
            
            {%  when 'values' %}
              <div class="comparison-row-{{ section.id }} comparison-row-body-{{ section.id }} {% if block.settings.hidden %}hidden-{{ section.id }}{% endif %}">
                <div class="comparison-item-{{ section.id }} comparison-body-item-{{ section.id }}">
                  {% if block.settings.first_icon != "none" %}
                    <div class="comparison-value-icon-{{ section.id }}">
                      {% if block.settings.first_icon == "yes" %}
                        {% if true_icon != blank %}
                          <img src="{{ true_icon | image_url }}" alt="{{ true_icon.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                        {% else %}
                          <svg class="comparison-icon-yes-{{ section.id }}" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.33227 11.1114C3.91807 11.1125 3.51265 11.2309 3.16293 11.4529C2.81321 11.6748 2.53348 11.9913 2.3561 12.3656C2.17872 12.7399 2.11094 13.1568 2.1606 13.568C2.21026 13.9792 2.37533 14.368 2.63672 14.6893L8.20887 21.5152C8.40755 21.7619 8.66222 21.9576 8.95173 22.0861C9.24124 22.2146 9.55723 22.2722 9.87346 22.2541C10.5498 22.2177 11.1604 21.8559 11.5497 21.2611L23.1245 2.61989C23.1264 2.61679 23.1284 2.6137 23.1304 2.61065C23.239 2.4439 23.2038 2.11344 22.9796 1.90584C22.918 1.84883 22.8454 1.80503 22.7663 1.77714C22.6872 1.74925 22.6031 1.73785 22.5194 1.74366C22.4357 1.74947 22.3541 1.77235 22.2795 1.8109C22.205 1.84946 22.1391 1.90286 22.086 1.96782C22.0818 1.97293 22.0776 1.97796 22.0732 1.98292L10.3998 15.172C10.3554 15.2222 10.3015 15.2631 10.2411 15.2922C10.1808 15.3214 10.1153 15.3383 10.0483 15.3419C9.9814 15.3455 9.91442 15.3358 9.85129 15.3133C9.78815 15.2908 9.73011 15.256 9.68054 15.2109L5.80638 11.6854C5.40402 11.3166 4.87812 11.1118 4.33227 11.1114Z" fill="#52C41A"/>
                          </svg>
                        {% endif %}
                      {% elsif block.settings.first_icon == "no" %}
                        {% if false_icon != blank %}
                          <img src="{{ false_icon | image_url }}" alt="{{ false_icon.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                        {% else %}
                          <svg class="comparison-icon-no-{{ section.id }}" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_620_3545)">
                              <path d="M12.3332 23.5205C5.98115 23.5205 0.813232 18.3525 0.813232 12.0005C0.813232 5.64839 5.98115 0.480469 12.3332 0.480469C18.6853 0.480469 23.8532 5.64839 23.8532 12.0005C23.8532 18.3525 18.6853 23.5205 12.3332 23.5205ZM12.3332 1.92047C6.77507 1.92047 2.25323 6.44231 2.25323 12.0005C2.25323 17.5586 6.77507 22.0805 12.3332 22.0805C17.8914 22.0805 22.4132 17.5586 22.4132 12.0005C22.4132 6.44231 17.8914 1.92047 12.3332 1.92047ZM17.6953 16.9646C18.051 16.7868 18.1952 16.3543 18.0174 15.9986C17.9502 15.8645 16.3324 12.7205 12.3332 12.7205C8.33411 12.7205 6.71627 15.8645 6.64907 15.9984C6.47195 16.3529 6.61523 16.7825 6.96875 16.9613C7.32323 17.1396 7.75475 16.9982 7.93547 16.6457C7.98755 16.5441 9.24443 14.1605 12.3332 14.1605C15.422 14.1605 16.6789 16.5441 16.7291 16.6425C16.8553 16.895 17.1095 17.0409 17.374 17.0405C17.482 17.0405 17.5919 17.0162 17.6953 16.9646ZM15.9332 10.5605C15.1391 10.5605 14.4932 9.91463 14.4932 9.12047C14.4932 8.32631 15.1391 7.68047 15.9332 7.68047C16.7274 7.68047 17.3732 8.32631 17.3732 9.12047C17.3732 9.91463 16.7274 10.5605 15.9332 10.5605ZM8.73323 10.5605C7.93907 10.5605 7.29323 9.91463 7.29323 9.12047C7.29323 8.32631 7.93907 7.68047 8.73323 7.68047C9.52739 7.68047 10.1732 8.32631 10.1732 9.12047C10.1732 9.91463 9.52739 10.5605 8.73323 10.5605Z" fill="#575757"/>
                            </g>
                            <defs>
                              <clipPath id="clip0_620_3545">
                                <rect width="24" height="24" fill="white" transform="translate(0.333252)"/>
                              </clipPath>
                            </defs>
                          </svg>
                        {% endif %}
                      {% endif %}
                    </div>
                  {% endif %}
                  {% if block.settings.first_value != blank %}
                    <p class="comparison-value-{{ section.id }}">{{ block.settings.first_value }}</p>
                  {% endif %}
                </div>    
                <div class="comparison-item-{{ section.id }} comparison-body-item-{{ section.id }}">
                  <p class="comparison-value-heading-{{ section.id }}">{{ block.settings.heading }}</p>
                </div>    
                <div class="comparison-item-{{ section.id }} comparison-body-item-{{ section.id }}">
                  {% if block.settings.second_icon != "none" %}
                    <div class="comparison-value-icon-{{ section.id }}">
                       {% if block.settings.second_icon == "yes" %}
                        {% if true_icon != blank %}
                          <img src="{{ true_icon | image_url }}" alt="{{ true_icon.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                        {% else %}
                          <svg class="comparison-icon-yes-{{ section.id }}" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.33227 11.1114C3.91807 11.1125 3.51265 11.2309 3.16293 11.4529C2.81321 11.6748 2.53348 11.9913 2.3561 12.3656C2.17872 12.7399 2.11094 13.1568 2.1606 13.568C2.21026 13.9792 2.37533 14.368 2.63672 14.6893L8.20887 21.5152C8.40755 21.7619 8.66222 21.9576 8.95173 22.0861C9.24124 22.2146 9.55723 22.2722 9.87346 22.2541C10.5498 22.2177 11.1604 21.8559 11.5497 21.2611L23.1245 2.61989C23.1264 2.61679 23.1284 2.6137 23.1304 2.61065C23.239 2.4439 23.2038 2.11344 22.9796 1.90584C22.918 1.84883 22.8454 1.80503 22.7663 1.77714C22.6872 1.74925 22.6031 1.73785 22.5194 1.74366C22.4357 1.74947 22.3541 1.77235 22.2795 1.8109C22.205 1.84946 22.1391 1.90286 22.086 1.96782C22.0818 1.97293 22.0776 1.97796 22.0732 1.98292L10.3998 15.172C10.3554 15.2222 10.3015 15.2631 10.2411 15.2922C10.1808 15.3214 10.1153 15.3383 10.0483 15.3419C9.9814 15.3455 9.91442 15.3358 9.85129 15.3133C9.78815 15.2908 9.73011 15.256 9.68054 15.2109L5.80638 11.6854C5.40402 11.3166 4.87812 11.1118 4.33227 11.1114Z" fill="#52C41A"/>
                          </svg>
                        {% endif %}
                      {% elsif block.settings.second_icon == "no" %}
                        {% if false_icon != blank %}
                          <img src="{{ false_icon | image_url }}" alt="{{ false_icon.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                        {% else %}
                          <svg class="comparison-icon-no-{{ section.id }}" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_620_3545)">
                              <path d="M12.3332 23.5205C5.98115 23.5205 0.813232 18.3525 0.813232 12.0005C0.813232 5.64839 5.98115 0.480469 12.3332 0.480469C18.6853 0.480469 23.8532 5.64839 23.8532 12.0005C23.8532 18.3525 18.6853 23.5205 12.3332 23.5205ZM12.3332 1.92047C6.77507 1.92047 2.25323 6.44231 2.25323 12.0005C2.25323 17.5586 6.77507 22.0805 12.3332 22.0805C17.8914 22.0805 22.4132 17.5586 22.4132 12.0005C22.4132 6.44231 17.8914 1.92047 12.3332 1.92047ZM17.6953 16.9646C18.051 16.7868 18.1952 16.3543 18.0174 15.9986C17.9502 15.8645 16.3324 12.7205 12.3332 12.7205C8.33411 12.7205 6.71627 15.8645 6.64907 15.9984C6.47195 16.3529 6.61523 16.7825 6.96875 16.9613C7.32323 17.1396 7.75475 16.9982 7.93547 16.6457C7.98755 16.5441 9.24443 14.1605 12.3332 14.1605C15.422 14.1605 16.6789 16.5441 16.7291 16.6425C16.8553 16.895 17.1095 17.0409 17.374 17.0405C17.482 17.0405 17.5919 17.0162 17.6953 16.9646ZM15.9332 10.5605C15.1391 10.5605 14.4932 9.91463 14.4932 9.12047C14.4932 8.32631 15.1391 7.68047 15.9332 7.68047C16.7274 7.68047 17.3732 8.32631 17.3732 9.12047C17.3732 9.91463 16.7274 10.5605 15.9332 10.5605ZM8.73323 10.5605C7.93907 10.5605 7.29323 9.91463 7.29323 9.12047C7.29323 8.32631 7.93907 7.68047 8.73323 7.68047C9.52739 7.68047 10.1732 8.32631 10.1732 9.12047C10.1732 9.91463 9.52739 10.5605 8.73323 10.5605Z" fill="#575757"/>
                            </g>
                            <defs>
                              <clipPath id="clip0_620_3545">
                                <rect width="24" height="24" fill="white" transform="translate(0.333252)"/>
                              </clipPath>
                            </defs>
                          </svg>
                        {% endif %}
                      {% endif %}
                    </div>
                  {% endif %}
                  {% if block.settings.second_value != blank %}
                    <p class="comparison-value-{{ section.id }}">{{ block.settings.second_value }}</p>
                  {% endif %}
                </div>
              </div>

          {% endcase %}
        {% endfor %}        
      </div>
    </div>
</div>

{% schema %}
  {
    "name": "SG- Comparison table #9",
    "settings": [
      {
        "type": "header",
        "content": "Heading settings"
      },
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "checkbox",
        "id": "heading_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "heading_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Font size",
        "default": 48
      },
      {
        "type": "range",
        "id": "heading_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 24
      },
      {
        "type": "range",
        "id": "heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      },
      {
        "type": "text_alignment",
        "id": "heading_align",
        "label": "Alignment",
        "default": "center"
      },
      {
        "type": "text_alignment",
        "id": "heading_align_mobile",
        "label": "Alignment - mobile",
        "default": "center"
      },
      {
        "type": "header",
        "content": "Table settings"
      },
      {
        "type": "range",
        "id": "table_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 24
      },
      {
        "type": "range",
        "id": "table_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 8
      },
      {
        "type": "header",
        "content": "Row settings"
      },
      {
        "type": "range",
        "id": "row_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 16
      },
      {
        "type": "range",
        "id": "row_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 16
      },
      {
        "type": "range",
        "id": "row_gap",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Gap",
        "default": 30
      },
      {
        "type": "range",
        "id": "row_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap - mobile",
        "default": 30
      },
      {
        "type": "range",
        "id": "row_border_thickness",
        "min": 0,
        "max": 10,
        "step": 0.5,
        "unit": "px",
        "label": "Border thickness",
        "default": 1
      },      
      {
        "type": "header",
        "content": "Product title settings"
      },
      {
        "type": "checkbox",
        "id": "product_title_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "product_title_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "product_title_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Font size",
        "default": 52
      },
      {
        "type": "range",
        "id": "product_title_size_mobile",
        "min": 0,
        "max": 32,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 18
      },
      {
        "type": "range",
        "id": "product_title_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 110
      },
      {
        "type": "checkbox",
        "id": "product_title_sktiketrought",
        "label": "Use strikethrough right title",
        "default": true
      },
      {
        "type": "header",
        "content": "Product text settings"
      },
      {
        "type": "checkbox",
        "id": "product_text_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "product_text_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "product_text_size",
        "min": 0,
        "max": 32,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
      },
      {
        "type": "range",
        "id": "product_text_size_mobile",
        "min": 0,
        "max": 32,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 14
      },
      {
        "type": "range",
        "id": "product_text_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      },
      {
        "type": "range",
        "id": "product_text_mt",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Margin top",
        "default": 16
      },
      {
        "type": "range",
        "id": "product_text_mt_mobile",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 8
      },
      {
        "type": "header",
        "content": "Value icon settings"
      },
      {
        "type": "image_picker",
        "id": "true_icon",
        "label": "True icon"
      },
      {
        "type": "image_picker",
        "id": "false_icon",
        "label": "False icon"
      },
      {
        "type": "range",
        "id": "icon_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size",
        "default": 24
      },
      {
        "type": "range",
        "id": "icon_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size - mobile",
        "default": 24
      }, 
      {
        "type": "header",
        "content": "Value settings"
      },
      {
        "type": "checkbox",
        "id": "value_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "value_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "value_size",
        "min": 0,
        "max": 32,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
      },
      {
        "type": "range",
        "id": "value_size_mobile",
        "min": 0,
        "max": 32,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 14
      },
      {
        "type": "range",
        "id": "value_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      },
      {
        "type": "header",
        "content": "Row heading settings"
      },
      {
        "type": "checkbox",
        "id": "value_heading_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "value_heading_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "value_heading_size",
        "min": 0,
        "max": 32,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
      },
      {
        "type": "range",
        "id": "value_heading_size_mobile",
        "min": 0,
        "max": 32,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 14
      },
      {
        "type": "range",
        "id": "value_heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      },
      {
        "type": "header",
        "content": "Product colors"
      },
      {
        "type": "color",
        "label": "Title",
        "id": "product_title_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Title hover",
        "id": "product_title_hover_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Text",
        "id": "product_text_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Row colors"
      },
      {
        "type": "color",
        "label": "Heading",
        "id": "value_heading_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Value",
        "id": "value_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "row_border_color",
        "default": "#C7C7C7"
      },
      {
        "type": "header",
        "content": "Section colors"
      },
      {
        "type": "color",
        "label": "Heading",
        "id": "heading_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Margin sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Margin sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 36
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 1
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 1.5
      },
      {
        "type": "header",
        "content": "Section settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": false
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 800,
        "max": 2000,
        "step": 100,
        "unit": "px",
        "label": "Section content width",
        "default": 1000
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Section roundness",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "products",
        "name": "SG-Products",
        "settings": [
          {
            "type": "product",
            "id": "first_product",
            "label": "First product"
          },
          {
            "type": "text",
            "id": "first_heading",
            "label": "First heading",
            "default": "First heading"
          },
          {
            "type": "text",
            "id": "first_text",
            "label": "First text",
            "default": "First text"
          },
          {
            "type": "product",
            "id": "second_product",
            "label": "Second product"
          },
          {
            "type": "text",
            "id": "second_heading",
            "label": "Second heading",
            "default": "Second heading"
          },
          {
            "type": "text",
            "id": "second_text",
            "label": "Second text",
            "default": "Second text"
          },
        ]
      },
      {
        "type": "values",
        "name": "SG-Values",
        "settings": [
          {
            "type": "select",
            "id": "first_icon",
            "label": "First value icon",
            "default": "yes",
            "options": [
              {
                "label": "Yes",
                "value": "yes"
              },
              {
                "label": "No",
                "value": "no"
              },
              {
                "label": "None",
                "value": "none"
              }
            ]
          },
          {
            "type": "text",
            "id": "first_value",
            "label": "First value"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Row heading"
          },
          {
            "type": "select",
            "id": "second_icon",
            "label": "Second value icon",
            "default": "no",
            "options": [
              {
                "label": "Yes",
                "value": "yes"
              },
              {
                "label": "No",
                "value": "no"
              },
              {
                "label": "None",
                "value": "none"
              }
            ]
          },
          {
            "type": "text",
            "id": "second_value",
            "label": "Second value"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SG- Comparison table #9",
        "blocks": [
          {
            "type": "products"
          },
          {
            "type": "values",
            "settings": {
              "heading": "Value 1"
            }
          },
          {
            "type": "values",
            "settings": {
              "heading": "Value 2"
            }
          },
          {
            "type": "values",
            "settings": {
              "heading": "Value 3"
            }
          },
        ]
      }
    ]
  }
{% endschema %}