{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  .section-{{ section.id }} {
    --faq-header-font-size: {{ section.settings.header-font-size }}px;
    --faq-question-font-size: {{ section.settings.question-font-size }}px;
    --faq-answer-font-size: {{ section.settings.answer-font-size }}px;
    --faq-more-questions-font-size: {{ section.settings.more-questions-font-size }}px;
    --faq-background-color: {{ section.settings.background-color }};
    --faq-header-color: {{ section.settings.header_color }};
    --faq-content-color: {{ section.settings.content_color }};
    --faq-link-color: {{ section.settings.link_color }};
    --faq-line-color: {{ section.settings.line-color }};
  }

  /* General style to remove arrows */
    details > summary {
      list-style: none;
    }
    
    /* Remove default arrow icon from Chrome, Safari and Opera */
    details > summary::-webkit-details-marker {
      display: none;
    }
    
    /* Remove default arrow icon from Firefox */
    details > summary {
      /* Your custom styles for the summary element */
    }
    
    details > summary::-moz-list-bullet {
      display: none;
    }

  .sg-faq-details {
    transition: all 0.2s;
    padding: 10px 2px;
  }
  
  .sg-faq-question {
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s;
    font-weight: {{section.settings.font_weight}};
    color: var(--faq-content-color);
    font-size: var(--faq-question-font-size);
  }
  
  .sg-faq-question::after {
    content: '\{{section.settings.open_close_sign}}';
    font-size:calc({{ section.settings.question-font-size }}px + 4px);
    transition: all 0.2s ease;
  }

    details[open] .sg-faq-question::after {
          transform: rotate(90deg);
    }

  .sg-accordion {
    border-bottom: {{ section.settings.line-seperator-size }}px var(--faq-line-color) solid;
  }

  .sg-accordion-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }

  .sg-faq-content p {
    font-size: var(--faq-answer-font-size);
    padding-left:2px;
    margin: 5px 0;
    color: var(--faq-content-color);
  }

  .sg-faq-header {
    text-align:center;
    font-size: var(--faq-header-font-size);
    font-weight: {{section.settings.font_weight}};
    color: var(--faq-header-color);
    margin: 16px 0;
    line-height: calc(1 + .3/max(1,var(--font-heading-scale)));
  }

  .sg-extra-text {
    font-size: var(--faq-more-questions-font-size);
  }
  
  .sg-extra-text a {
    font-weight: {{section.settings.font_weight}};
    color: var(--faq-link-color);
    font-size: var(--faq-more-questions-font-size);
  }

  @media screen and (max-width: 750px) {
    .sg-faq-header {
       font-size:calc({{ section.settings.header-font-size }}px * 0.8);
    }
  }
  
{%- endstyle -%}

<div style="background-color:{{section.settings.background-color}};" class="section-{{ section.id }}">
  <div class="page-width section-{{ section.id }}-padding">
    <div class="sg_faq_wrapper">
      <p class="sg-faq-header">{{ section.settings.heading }}</p>
      <div class="sg-accordion-wrapper">
      {%for block in section.blocks %}
        <div class="sg-accordion">
          <details class="sg-faq-details" {% if section.settings.open_first_collapsible_row and forloop.first %} open{% endif %}>
            <summary class="sg-faq-question">
              {{ block.settings.question }}
            </summary>
            <div class="sg-faq-content">
              {{ block.settings.answer }}
            </div>
          </details>
        </div>
      {% endfor %}
      </div>
      {% if section.settings.hide_more_questions_text %}
        <p class="sg-extra-text"style="text-align: center;">{{ section.settings.more_questions }} <a href="{{ section.settings.full_faq_url }}">{{ section.settings.full_faq }}</a></p>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "SG-FAQ",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Background color"
    },
    {
      "type": "color",
      "label": "Section background color",
      "id": "background-color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "label": "Heading",
      "id": "heading",
      "default": "Frequently Asked Questions"
    },
    {
      "type": "select",
      "id": "font_weight",
      "label": "Font thickness",
      "options": [
        {
          "value": "700",
          "label": "Thick"
        },
        {
          "value": "300",
          "label": "Normal"
        }
      ],
      "default": "300"
    },
    {
      "type": "select",
      "id": "open_close_sign",
      "label": "Expand/collapse sign ",
      "options": [
        {
          "value": "203A",
          "label": "Bracket"
        },
        {
          "value": "FE62",
          "label": "Plus"
        },
        {
          "value": "1F449",
          "label": "Emoji hand"
        },
        {
          "value": "27AA",
          "label": "Right arrow"
        }
      ],
      "default": "FE62"
    },
    {
      "type": "checkbox",
      "id": "open_first_collapsible_row",
      "default": false,
      "label": "Open first collapsible row"
    },
    {
      "type": "header",
      "content": "Font colors"
    },
    {
      "type": "color",
      "label": "Header color",
      "id": "header_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Question/answer color",
      "id": "content_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Link color",
      "id": "link_color",
      "default": "#000"
    },
    {
      "type": "color",
      "label": "Line seperator color",
      "id": "line-color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Font sizes"
    },
    {
      "type": "range",
      "id": "header-font-size",
      "label": "Header font size",
      "default": 32,
      "min": 12,
      "max": 60,
      "step": 2
    },
    {
      "type": "range",
      "id": "question-font-size",
      "label": "Question font size",
      "default": 16,
      "min": 12,
      "max": 60,
      "step": 2
    },
    {
      "type": "range",
      "id": "answer-font-size",
      "label": "Answer font size",
      "default": 16,
      "min": 10,
      "max": 60,
      "step": 2
    },
    {
      "type": "range",
      "id": "more-questions-font-size",
      "label": "More questions font size",
      "default": 16,
      "min": 10,
      "max": 60,
      "step": 2
    },
    {
      "type": "range",
      "id": "line-seperator-size",
      "label": "Line seperator size",
      "default": 1,
      "min": 0,
      "max": 5,
      "step": 1
    },
    {
      "type": "header",
      "content": "Optional text below"
    },
    {
      "type": "text",
      "label": "More questions text",
      "id": "more_questions",
      "default": "More questions?"
    },
    {
      "type": "text",
      "label": "See our full FAQ text",
      "id": "full_faq",
      "default": "See our full FAQ"
    },
    {
      "type": "url",
      "label": "Url for see full faq text",
      "id": "full_faq_url"
    },
    {
      "type": "checkbox",
      "id": "hide_more_questions_text",
      "default": true,
      "label": "Show 'More Questions' text"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Questions/Answer",
      "settings": [
        {
          "type": "text",
          "label": "Question",
          "id": "question",
          "default": "FAQ question"
        },
        {
          "type": "richtext",
          "label": "Answer",
          "id": "answer",
          "default": "<p>Answer richtext</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-FAQ #2",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}