{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign layout = section.settings.layout
  assign layout_mobile = section.settings.layout_mobile
  assign layout_radius = section.settings.layout_radius
  assign layout_border_thickness = section.settings.layout_border_thickness
  assign layout_border_color = section.settings.layout_border_color

  assign top_content_padding_horizontal = section.settings.top_content_padding_horizontal
  assign top_content_padding_horizontal_mobile = section.settings.top_content_padding_horizontal_mobile
  assign top_content_padding_vertical = section.settings.top_content_padding_vertical
  assign top_content_padding_vertical_mobile = section.settings.top_content_padding_vertical_mobile
  assign top_content_gap = section.settings.top_content_gap
  assign top_content_gap_mobile = section.settings.top_content_gap_mobile
  assign top_content_align = section.settings.top_content_align
  assign top_content_align_mobile = section.settings.top_content_align_mobile

  assign top_content_horizontal_align_mobile = ""
  if top_content_align_mobile == "center"
    assign top_content_horizontal_align_mobile = "center"
  elsif top_content_align_mobile == "right"
    assign top_content_horizontal_align_mobile = "end"
  else
    assign top_content_horizontal_align_mobile = "start"
  endif

  assign toggle_custom = section.settings.toggle_custom
  assign toggle_font = section.settings.toggle_font
  assign toggle_size = section.settings.toggle_size
  assign toggle_size_mobile = section.settings.toggle_size_mobile
  assign toggle_height = section.settings.toggle_height
  assign toggle_color = section.settings.toggle_color
  assign toggle_hover_color = section.settings.toggle_hover_color
  assign toggle_active_color = section.settings.toggle_active_color

  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_height = section.settings.text_height
  assign text_color = section.settings.text_color

  assign button = section.settings.button
  assign button_url = section.settings.button_url
  assign button_size = section.settings.button_size
  assign button_size_mobile = section.settings.button_size_mobile
  assign button_color = section.settings.button_color
  assign button_hover_color = section.settings.button_hover_color
  assign button_custom = section.settings.button_custom
  assign button_font = section.settings.button_font
  assign button_height = section.settings.button_height
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_padding_vertical_mobile = section.settings.button_padding_vertical_mobile
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_padding_horizontal_mobile = section.settings.button_padding_horizontal_mobile
  assign button_border_thickness = section.settings.button_border_thickness
  assign button_border_color = section.settings.button_border_color
  assign button_border_hover_color = section.settings.button_border_hover_color
  assign button_bg_color = section.settings.button_bg_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color
  assign button_style = section.settings.button_style

  assign scrolling_velocity = section.settings.scrolling_velocity
  assign scrolling_velocity_mobile = section.settings.scrolling_velocity_mobile
  assign scrolling_mt = section.settings.scrolling_mt
  assign scrolling_gap = section.settings.scrolling_gap
  assign scrolling_gap_mobile = section.settings.scrolling_gap_mobile
  assign reverse_direction = section.settings.reverse_direction

  assign scrolling_text_custom = section.settings.scrolling_text_custom
  assign scrolling_text_font = section.settings.scrolling_text_font
  assign scrolling_text_size = section.settings.scrolling_text_size
  assign scrolling_text_size_mobile = section.settings.scrolling_text_size_mobile
  assign scrolling_text_height = section.settings.scrolling_text_height
  assign scrolling_text_color = section.settings.scrolling_text_color
  assign scrolling_padding_vertical = section.settings.scrolling_padding_vertical
  assign scrolling_padding_vertical_mobile = section.settings.scrolling_padding_vertical_mobile

  assign image_ratio_mobile = section.settings.image_ratio_mobile
-%}

{%- style -%}
  {{  button_font | font_face: font_display: 'swap' }}
  {{ toggle_font | font_face: font_display: 'swap' }}
  {{ text_font | font_face: font_display: 'swap' }}
  {{ scrolling_text_font | font_face: font_display: 'swap' }}  

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
    overflow: hidden;
  }

  .feature-body-{{ section.id }} {
    display: grid;
    border-radius: {{ layout_radius }}px;
    border: {{ layout_border_thickness }}px solid {{ layout_border_color }};
    overflow: hidden;
  }

  .feature-content-{{ section.id }} {
    grid-area: content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .feature-top-content-{{ section.id }} {
    display: flex;
    align-items: {{ top_content_horizontal_align_mobile }};
    justify-content: space-between;
    flex-direction: column;
    gap: {{ top_content_gap_mobile }}px;
    padding: {{ top_content_padding_vertical_mobile }}px {{ top_content_padding_horizontal_mobile }}px;
  }

  .featured-toggles-{{ section.id }} {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .feature-toggle-{{ section.id }} {
    text-align: {{ top_content_align_mobile }};
    margin: 0;
    font-size: {{ toggle_size_mobile }}px;
    color: {{ toggle_color }};
    line-height: {{ toggle_height }}%;
    text-transform: unset;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }

  .feature-toggle-{{ section.id }}:hover {
    color: {{ toggle_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .feature-toggle-{{ section.id }}.active {
    color: {{ toggle_active_color }};
    transition: all 0.25s ease 0s;
  }

  .feature-text-wrapper-{{ section.id }} {
    max-width: 100%;
  }

  .feature-text-{{ section.id }} {
    display: none;
  }

  .feature-text-{{ section.id }} {
    text-align: {{ top_content_align_mobile }};
  }

  .feature-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ text_size_mobile }}px;
    color: {{ text_color }};
    line-height: {{ text_height }}%;
    text-transform: unset;
    text-decoration: none;
    transition: all 0.25s ease 0s;
  }

  .feature-text-{{ section.id }}.active {
    display: block;
    animation: opacity{{ section.id | replace: '-', '' }} 1s ease-out forwards; 
  }

  .feature-button-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
    width: 100%;
    margin: 0;
    font-size: {{ button_size_mobile }}px;
    color: {{ button_color }};
    line-height: {{ button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical_mobile }}px {{ button_padding_horizontal_mobile }}px;
    transition: all 0.25s ease 0s;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    overflow: hidden;
    font-weight: 700;
  }

  .feature-button-inner-{{ section.id }} {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    gap: 10px;
  }

  .feature-button-{{ section.id }}:hover {
    color: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .feature-button-{{ section.id }} svg {
    width: 14px;
    height: 14px;
  }

  .feature-button-{{ section.id }} svg path {
    fill: {{ button_color }};
    transition: all 0.25s ease 0s;
  }

  .feature-button-{{ section.id }}:hover svg path {
    fill: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .feature-scrolling-text-wrapper-{{ section.id }} {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    z-index: 0;
    left: -10%;
    background-attachment: scroll !important;       
    padding: {{ scrolling_padding_vertical_mobile }}px 0px;
  }

  .feature-scrolling-text-wrapper-{{ section.id }}.active {
    display: flex;
    animation: opacity{{ section.id | replace: '-', '' }} 1s ease-out forwards; 
  }
  
  @keyframes opacity{{ section.id | replace: '-', '' }} {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .feature-scrolling-text-list-{{ section.id }} {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    background-attachment: scroll !important;
    -webkit-animation: ticker{{ section.id | replace: '-', '' }} {{ scrolling_velocity_mobile }}s infinite linear;
    animation: ticker{{ section.id | replace: '-', '' }} {{ scrolling_velocity_mobile }}s infinite linear;       
    flex-shrink: 0;
  }

  .feature-scrolling-text-{{ section.id }} {
    margin: 0;    
    font-weight: 700;
    font-size: {{ scrolling_text_size_mobile }}px;
    color: {{ scrolling_text_color }};
    line-height: {{ scrolling_text_height }}%;
    margin-right: {{ scrolling_gap_mobile }}px;
    text-transform: unset;
    word-wrap: break-word;
    background-attachment: scroll !important;
    position: relative;
    flex-shrink: 0;
  }  
  
  .feature-images-{{ section.id }} {   
    grid-area: images;
    overflow: hidden;
    border-bottom: {{ layout_border_thickness }}px solid {{ layout_border_color }}; 
    border-left: 0px;
    position: relative;
    overflow: hidden;
  }
  
  .feature-image-{{ section.id }} {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
    transition: all 0.5s ease-out;
    will-change: transform;
  }

  .feature-image-{{ section.id }}:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    transition: all 0.25s ease 0s;
    z-index: 0;
    opacity: 0;
  }

  .feature-image-{{ section.id }}.active {
    z-index: 2;
    animation: slideIn{{ section.id | replace: '-', '' }} 0.7s linear forwards; 
  }

  .feature-image-{{ section.id }}.overlay:before {
    opacity: 1;
    transition: all 0.25s ease 0s;
  }

  .feature-image-{{ section.id }}.current {
    z-index: 1;
  }

  .feature-image-{{ section.id }} img,
  .feature-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .feature-image-{{ section.id }} svg,
  .feature-image-{{ section.id }} img {
    background-color: {{ background_color }};
  }

  @keyframes slideIn{{ section.id | replace: '-', '' }} {
    0% {
      transform: translateX(130%);
    }
    100% {
      transform: translateX(0);
    }
  }


  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .feature-top-content-{{ section.id }} {
      flex-direction: row;
      align-items: start;
      gap: {{ top_content_gap }}px;
      padding: {{ top_content_padding_vertical }}px {{ top_content_padding_horizontal }}px;
    }
    
    .feature-toggle-{{ section.id }} {
      text-align: {{ top_content_align }};
      font-size: {{ toggle_size }}px;
    }

    .feature-text-wrapper-{{ section.id }} {
      max-width: 60%;
    }

    .feature-text-{{ section.id }} {
      text-align: {{ top_content_align }};
    }

    .feature-text-{{ section.id }} * {
      font-size: {{ text_size }}px;
    }

    .feature-button-{{ section.id }} {
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
      font-size: {{ button_size }}px;
    }

    .feature-scrolling-text-wrapper-{{ section.id }} {
      margin-top: {{ scrolling_mt }}px;     
      padding: {{ scrolling_padding_vertical }}px 0px;
    }

    .feature-scrolling-text-list-{{ section.id }} {
      -webkit-animation: ticker{{ section.id | replace: '-', '' }} {{ scrolling_velocity }}s infinite linear;
      animation: ticker{{ section.id | replace: '-', '' }} {{ scrolling_velocity }}s infinite linear;        
    }

    .feature-scrolling-text-{{ section.id }} {
      font-size: {{ scrolling_text_size }}px;
      margin-right: {{ scrolling_gap }}px;
    }  

    .feature-images-{{ section.id }}  {
      aspect-ratio: auto !important;
      border-left: {{ layout_border_thickness }}px solid {{ layout_border_color }}; 
      border-bottom: 0px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if toggle_custom %}
  <style>
    .feature-toggle-{{ section.id }} {
      font-family: {{ toggle_font.family }}, {{ toggle_font.fallback_families }};
      font-weight: {{ toggle_font.weight }};
      font-style: {{ toggle_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .feature-text-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if button_custom %}
  <style>
    .feature-button-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}

{% if scrolling_text_custom %}
  <style>
    .feature-scrolling-text-{{ section.id }} {
      font-family: {{ scrolling_text_font.family }}, {{ scrolling_text_font.fallback_families }};
      font-weight: {{ scrolling_text_font.weight }};
      font-style: {{ scrolling_text_font.style }};
    }
  </style>
{% endif %}

{% if layout_mobile == 'images_content'%}
  <style>
    .feature-body-{{ section.id }} {
      grid-template-areas: 
        "images"
        "content";     
    }
  </style>
{% elsif layout_mobile == 'content_images' %}
  <style>
    .feature-body-{{ section.id }} {
      grid-template-areas: 
        "content"
        "images";     
    }

    .feature-images-{{ section.id }} {
      border-top: {{ layout_border_thickness }}px solid {{ layout_border_color }}; 
      border-bottom: 0px;
    }
  </style>
{% endif %}

{% if layout == 'images_content'%}
  <style>
    @media(min-width: 1024px) {
      .feature-body-{{ section.id }} {
        grid-template-areas: "images content";
        grid-template-columns: 0.8fr 1fr;
      }

      .feature-images-{{ section.id }} {
        border-right: {{ layout_border_thickness }}px solid {{ layout_border_color }}; 
        border-left: 0px;
      }
    }    
  </style>
{% elsif layout == 'content_images' %}
  <style>
    @media(min-width: 1024px) {
      .feature-body-{{ section.id }} {
        grid-template-areas: "content images";
        grid-template-columns: 1fr 0.8fr;
      }      
    }   
  </style>
{% endif %}

{% if button_style == "non_outline" or button_style == "non_outline_arrow" %}
  <style>
    .feature-button-{{ section.id }} {
      background-color: {{ button_bg_color }};
    }

    .feature-button-{{ section.id }}:hover {
      background-color: {{ button_bg_hover_color }};
    }
  </style>
{% elsif button_style == "outline" or button_style == "outline_arrow" %}
  <style>
    .feature-button-{{ section.id }} {
      background-color: {{ button_bg_color }};
      border-top: {{ button_border_thickness }}px solid {{ button_border_color }};
      border-bottom: {{ button_border_thickness }}px solid {{ button_border_color }};
    }

    .feature-button-{{ section.id }}:hover {
      background-color: {{ button_bg_hover_color }};
      border-top: {{ button_border_thickness }}px solid {{ button_border_hover_color }};
      border-bottom: {{ button_border_thickness }}px solid {{ button_border_hover_color }};
    }
  </style>
{% elsif button_style == "vertical_hover" %}  
  <style>    
    .feature-button-{{ section.id }} {
      background-color: {{ button_bg_color }};
      border-top: {{ button_border_thickness }}px solid {{ button_border_color }};
      border-bottom: {{ button_border_thickness }}px solid {{ button_border_color }};
    }

    .feature-button-{{ section.id }}::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: {{ button_bg_hover_color }};
      transform: translateY(100%);
      transition: all 0.25s ease 0s;
    }

    @media(min-width: 1024px) {      
      .feature-button-{{ section.id }}:hover::after {
        transform: translateY(0%);
        transition: all 0.25s ease 0s;
      }

    }
  </style>
{% elsif button_style == "link" %}
  <style>
    .feature-button-{{ section.id }} {
      padding: 0px !important;
    }
  </style>
{% endif %}

{% if reverse_direction %}
  <style>
    @keyframes ticker{{ section.id | replace: '-', '' }} {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  </style>
{% else %}
  <style>
    @keyframes ticker{{ section.id | replace: '-', '' }} {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  </style>
{% endif %}

{% if image_ratio_mobile == "portrait" %}
  <style>
    .feature-images-{{ section.id }} {
     aspect-ratio: 9.6/13; 
    }
  </style>
{% elsif image_ratio_mobile == "landscape" %}
  <style>
    .feature-images-{{ section.id }}{
     aspect-ratio: 12/9; 
    }
  </style>
{% elsif image_ratio_mobile == "square" %}
  <style>
    .feature-images-{{ section.id }} {
     aspect-ratio: 12/12; 
    }
  </style>
{% endif %}

<div class="section-{{ section.id }} products-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="feature-body-{{ section.id }}">
        <div class="feature-content-{{ section.id }}">
          <div class="feature-top-content-{{ section.id }}">
            <div class="feature-toggles-{{ section.id }}">
              {% for block in section.blocks %}
                {% if block.settings.toggle != blank %}
                  <h3 class="feature-toggle-{{ section.id }} {% if forloop.first %}active{% endif %}" id="{{ block.id }}">{{ block.settings.toggle }}</h3>
                {% endif %}            
              {% endfor %}
            </div>
            <div class="feature-text-wrapper-{{ section.id }}">
              {% for block in section.blocks %}
                {% if block.settings.text != blank %}
                  <div class="feature-text-{{ section.id }} {% if forloop.first %}active{% endif %}" data-id="{{ block.id }}">{{ block.settings.text }}</div>
                {% endif %}             
              {% endfor %}
            </div>
          </div>           
          {% if button != blank %}
            <{% if button_url != blank %}a href="{{ button_url }}"{% else %}div{% endif %} class="feature-button-{{ section.id }}">
              <p class="feature-button-inner-{{ section.id }}">
              {{ button }}
               {% if button_style == "non_outline_arrow" or button_style == "outline_arrow" %}
                  <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                    <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                  </svg>
                {% endif %}
              </p>
            </{% if button_url != blank %}a{% else %}div{% endif %}>
          {% endif %}    
          {% for block in section.blocks %}
            <div class="feature-scrolling-text-wrapper-{{ section.id }} {% if forloop.first %}active{% endif %}" data-id="{{ block.id }}">        
              <div class="feature-scrolling-text-list-{{ section.id }}">
                {% for item in (1..10) %}                           
                  <p class="feature-scrolling-text-{{ section.id }}">{{ block.settings.toggle }}</p>                    	
                {% endfor %}					
              </div>
              <div class="feature-scrolling-text-list-{{ section.id }}">
                {% for item in (1..10) %}
                  <p class="feature-scrolling-text-{{ section.id }}">{{ block.settings.toggle }}</p>              	
                {% endfor %}					
              </div>        
            </div>
          {% endfor %}               
        </div>
        <div class="feature-images-{{ section.id }}">
          {% for block in section.blocks %}
            <div class="feature-image-{{ section.id }} {% if forloop.first %}active{% endif %}" data-id="{{ block.id }}">
              {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>   
              {% else %}  
                {{ 'image' | placeholder_svg_tag }}
              {% endif %}            
            </div>
          {% endfor %}          
        </div>        
      </div>
    </div>
</div>


<script>
function initFeature28() {
  const toggles = document.querySelectorAll('.feature-toggle-{{ section.id }}');
  const featuresText = document.querySelectorAll('.feature-text-{{ section.id }}');
  const images = document.querySelectorAll('.feature-image-{{ section.id }}');
  const scrollItems = document.querySelectorAll('.feature-scrolling-text-wrapper-{{ section.id }}');

  toggles.forEach(toggle => {
    toggle.addEventListener('click', () => {
      toggles.forEach(anotherToggle => {
        anotherToggle.classList.remove('active');
      });
      featuresText.forEach(anotherText => {
        anotherText.classList.remove('active');
      });
      scrollItems.forEach(item => {
        item.classList.remove('active');
      })

      featuresText.forEach(text => {
        if (toggle.id == text.getAttribute('data-id')) {
          toggle.classList.add('active');
          text.classList.add('active');
        }
      });

      images.forEach(image => {

        if(image.classList.contains('active')) {
          image.classList.add('current');

          setTimeout(()=> {
            image.classList.remove('current');
          },800)
        }
        
        if (toggle.id == image.getAttribute('data-id')) {
          toggle.classList.add('active');
          image.classList.add('active');
          image.classList.remove('overlay');
        } else {
          image.classList.add('overlay');
          image.classList.remove('active');
        }
      });

      scrollItems.forEach(item => {
        if (toggle.id == item.getAttribute('data-id')) {
          toggle.classList.add('active');
          item.classList.add('active');
        }
      });
    });
  });
}



  document.addEventListener('DOMContentLoaded', initFeature28);

  if (Shopify.designMode) {
     document.addEventListener('shopify:section:load', initFeature28);
  }
</script>


{% schema %}
{
  "name": "SG-Feature #28",
  "settings": [
    {
      "type": "header",
      "content": "Layout settings"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Image placement",
      "default": "content_images",
      "options": [
        {
          "label": "Align image left",
          "value": "images_content"
        },
        {
          "label": "Align image right",
          "value": "content_images"
        }
      ]
    },
    {
      "type": "select",
      "id": "layout_mobile",
      "label": "Image placement - mobile",
      "default": "images_content",
      "options": [
        {
          "label": "Image on top",
          "value": "images_content"
        },
        {
          "label": "Text on top",
          "value": "content_images"
        }
      ]
    },
    {
      "type": "range",
      "id": "layout_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 0
    },
    {
      "type": "range",
      "id": "layout_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 1
    },
    {
      "type": "header",
      "content": "Top content settings"
    },
    {
      "type": "range",
      "id": "top_content_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 40
    },
    {
      "type": "range",
      "id": "top_content_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "top_content_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 50
    },
    {
      "type": "range",
      "id": "top_content_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 36
    },
    {
      "type": "range",
      "id": "top_content_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 32
    },
    {
      "type": "range",
      "id": "top_content_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 24
    },
    {
      "type": "text_alignment",
      "id": "top_content_align",
      "label": "Alignment"
    },
    {
      "type": "text_alignment",
      "id": "top_content_align_mobile",
      "label": "Alignment - mobile"
    },
    {
      "type": "header",
      "content": "Toggle settings"
    },
    {
      "type": "checkbox",
      "id": "toggle_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "toggle_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "toggle_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 40
    },
    {
      "type": "range",
      "id": "toggle_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 40
    },
    {
      "type": "range",
      "id": "toggle_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "header",
      "content": "Text settings"
    },
    {
      "type": "checkbox",
      "id": "text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "text_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "text_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 13
    },
    {
      "type": "range",
      "id": "text_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 13
    },
    {
      "type": "range",
      "id": "text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "header",
      "content": "Button settings"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button label",
      "default": "LEARN MORE",
      "info": "Leave the label blank to hide the button."
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "URL"
    },
    {
      "type": "checkbox",
      "id": "button_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "button_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "button_size",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 13
    },
    {
      "type": "range",
      "id": "button_size_mobile",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 13
    },
    {
      "type": "range",
      "id": "button_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 100
    },
    {
      "type": "range",
      "id": "button_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 18
    },
    {
      "type": "range",
      "id": "button_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 18
    },
    {
      "type": "range",
      "id": "button_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 24
    },
    {
      "type": "range",
      "id": "button_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 24
    },
    {
      "type": "range",
      "id": "button_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 1
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "default": "vertical_hover",
      "options": [
        {
          "label": "Link",
          "value": "link"
        },
        {
          "label": "Non-outline",
          "value": "non_outline"
        },
        {
          "label": "Non-outline & arrow",
          "value": "non_outline_arrow"
        },
        {
          "label": "Outline",
          "value": "outline"
        },
        {
          "label": "Outline & arrow",
          "value": "outline_arrow"
        },
        {
          "label": "Vertical hover",
          "value": "vertical_hover"
        }
      ]
    },
    {
      "type": "header",
      "content": "Scrolling settings",
      "info": "The theme editor may display incorrect scrolling speed; please verify on the live site."
    },
    {
      "type": "range",
      "id": "scrolling_velocity",
      "min": 5,
      "max": 100,
      "step": 1,
      "label": "Speed",
      "info": "⚡ <----------------> 🐌",
      "default": 80
    },
    {
      "type": "range",
      "id": "scrolling_velocity_mobile",
      "min": 5,
      "max": 100,
      "step": 1,
      "label": "Speed mobile",
      "info": "⚡ <----------------> 🐌",
      "default": 80
    },
    {
      "type": "range",
      "id": "scrolling_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 20
    },
    {
      "type": "range",
      "id": "scrolling_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "scrolling_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 60
    },
    {
      "type": "range",
      "id": "scrolling_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 30
    },
    {
      "type": "checkbox",
      "id": "reverse_direction",
      "label": "Reverse scrolling direction"
    },
    {
      "type": "header",
      "content": "Scrolling text settings"
    },
    {
      "type": "checkbox",
      "id": "scrolling_text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "scrolling_text_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "scrolling_text_size",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Font size",
      "default": 160
    },
    {
      "type": "range",
      "id": "scrolling_text_size_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 72
    },
    {
      "type": "range",
      "id": "scrolling_text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "select",
      "id": "image_ratio_mobile",
      "label": "Aspect ratio - mobile",
      "default": "square",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        }
      ]
    },
    {
      "type": "header",
      "content": "Layout colors"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "layout_border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Toggle body colors"
    },
    {
      "type": "color",
      "label": "Toggle",
      "id": "toggle_color",
      "default": "#EAEAEA"
    },
    {
      "type": "color",
      "label": "Toggle hover",
      "id": "toggle_hover_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Toggle active",
      "id": "toggle_active_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "text_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Button colors"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "button_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Hover text",
      "id": "button_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "button_bg_color"
    },
    {
      "type": "color",
      "label": "Background hover",
      "id": "button_bg_hover_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Button border",
      "id": "button_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Border hover",
      "id": "button_border_hover_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "color",
      "label": "Scrolling text",
      "id": "scrolling_text_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient",
      "info": "Remove gradient to replace with solid colors"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Margin sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Margin sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 800,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "label": "Section content width",
      "default": 1600
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "toggle",
      "name": "Toggle",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "toggle",
          "label": "Toggle",
          "default": "Toggle"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Feature #28",
      "blocks": [
        {
          "type": "toggle",
          "settings": {
            "toggle": "First"
          }
        },
        {
          "type": "toggle",
          "settings": {
            "toggle": "Second"
          }
        },
        {
          "type": "toggle",
          "settings": {
            "toggle": "Third"
          }
        }
      ]
    }
  ]
}
{% endschema %}