<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius
  assign background_style = section.settings.background_style

  assign cards_per_row = section.settings.cards_per_row
  assign cards_per_row_mobile = section.settings.cards_per_row_mobile
  assign cards_gap = section.settings.cards_gap
  assign cards_gap_mobile = section.settings.cards_gap_mobile

  assign card_border_thickness = section.settings.card_border_thickness
  assign card_border_color = section.settings.card_border_color
  assign card_radius = section.settings.card_radius
  assign card_shadow = section.settings.card_shadow
  assign card_shadow_color = section.settings.card_shadow_color

  assign image_ratio = section.settings.image_ratio
  assign image_ratio_mobile = section.settings.image_ratio_mobile
  assign image_overlay_color = section.settings.image_overlay_color
  assign image_overlay = section.settings.image_overlay

  assign card_content_bg_back_color = section.settings.card_content_bg_back_color
  assign card_content_align = section.settings.card_content_align
  assign card_content_align_mobile = section.settings.card_content_align_mobile
  assign card_back_content_align = section.settings.card_back_content_align
  assign card_back_content_align_mobile = section.settings.card_back_content_align_mobile

  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_height = section.settings.title_height
  assign title_color = section.settings.title_color
  assign title_back_color = section.settings.title_back_color

  assign icon_size = section.settings.icon_size
  assign icon_size_mobile = section.settings.icon_size_mobile
  assign icon_color = section.settings.icon_color
  assign icon_hover_color = section.settings.icon_hover_color
  assign icon_bg_color = section.settings.icon_bg_color
  assign icon_bg_hover_color = section.settings.icon_bg_hover_color
  assign icon_border_thickness = section.settings.icon_border_thickness
  assign icon_border_color = section.settings.icon_border_color

  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_height = section.settings.text_height
  assign text_color = section.settings.text_color
  assign text_mt = section.settings.text_mt
  assign text_mt_mobile = section.settings.text_mt_mobile  
  assign link_color = section.settings.link_color
  assign link_hover_color = section.settings.link_hover_color

  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_height = section.settings.heading_height
  assign heading_color = section.settings.heading_color
  assign heading_align_mobile = section.settings.heading_align_mobile
  assign heading_align = section.settings.heading_align
  assign heading_vertical_align = section.settings.heading_vertical_align
  assign heading_vertical_align_mobile = section.settings.heading_vertical_align_mobile

  assign icon_size = section.settings.icon_size
  assign icon_size_mobile = section.settings.icon_size_mobile
  assign close_icon_size = section.settings.close_icon_size
  assign close_icon_size_mobile = section.settings.close_icon_size_mobile
  assign close_icon_bg_color = section.settings.close_icon_bg_color
  assign close_icon_color = section.settings.close_icon_color
  assign close_icon_bg_hover_color = section.settings.close_icon_bg_hover_color
  assign close_icon_hover_color = section.settings.close_icon_hover_color
  assign close_border_thickness = section.settings.close_border_thickness
  assign close_border_color = section.settings.close_border_color
  assign close_border_hover_color = section.settings.close_border_hover_color
-%}

{%- style -%}
  {{  heading_font | font_face: font_display: 'swap' }}
  {{  title_font | font_face: font_display: 'swap' }}
  {{  text_font | font_face: font_display: 'swap' }}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  } 
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
    height: 100%;
  }

  .flip-slider-{{ section.id }} {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -{{ padding_horizontal_mobile }}rem !important;
    margin-right: -{{ padding_horizontal_mobile }}rem !important;
    padding-left: {{ padding_horizontal_mobile }}rem !important;
    padding-right: {{ padding_horizontal_mobile }}rem !important;
  }

  .flip-body-{{ section.id }} {
    display: grid;
    grid-template-columns: repeat({{ cards_per_row_mobile }}, 1fr);
    gap: {{ cards_gap_mobile }}px;
    height: 100%;
  }

  .flip-image-{{ section.id }} {
    position: relative;
    overflow: hidden;
  }

  .flip-image-{{ section.id }}:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: {{ image_overlay_color | hex_to_rgba: image_overlay }};
  }

  .flip-image-{{ section.id }} img,
  .flip-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.25s ease;
  }

  .flip-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .flip-card-wrapper-{{ section.id }} {
    position: relative;
    transform-style: preserve-3d;
    transition-duration: .8s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    height: 100%;
    will-change: transform;
  }

  .flip-card-wrapper-{{ section.id }}.fliped {
    transform: rotateY(180deg) !important;
  }

  .flip-card-{{ section.id }} {
    perspective: 1000px;
    transition-duration: .8s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    height: 100%;
  }

  .flip-card-front-{{ section.id }} {
    cursor: pointer !important;
    backface-visibility: hidden !important;
    position: relative !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
     -moz-backface-visibility: hidden !important; 
  }
  
  .flip-card-back-{{ section.id }} {
    display: flex !important;
    flex-direction: column !important;
    cursor: pointer !important;
    backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important; 
    position: absolute !important;
    padding: 0 30px !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    -webkit-transform: rotateY(180deg) !important;
    transform: rotateY(180deg) !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    z-index: 1 !important;
    overflow-y: scroll !important;
    scrollbar-width: none;
  }

  .flip-card-front-{{ section.id }},
  .flip-card-back-{{ section.id }} {
    border: {{ card_border_thickness }}px solid {{ card_border_color }};
    border-radius: {{ card_radius }}px;
    overflow: hidden;
  }

  .flip-card-front-{{ section.id}} {
    background-color: {{ card_content_bg_back_color }};
  }  

  .flip-card-back-{{ section.id}} {
    background-color: {{ card_content_bg_back_color }};
  }
  
  .flip-card-back-{{ section.id }} {
    padding: 30px !important;
  }

  .flip-card-content-{{ section.id }} {       
    position: absolute;
    top: 50%;
    left: 50%;
    height: 45%;
    transform: translate(-50%);    
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }

  .flip-title-{{ section.id }} {
    margin: 0px;  
    text-align: {{ card_content_align_mobile }};
    font-size: {{ title_size_mobile }}px;
    line-height: {{ title_height }}%;
    color: {{ title_color }};
    text-transform: unset;
    word-break: break-word;
    font-weight: 700;
  }

  .flip-card-front-{{ section.id }} .flip-title-{{ section.id }} {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 30px !important;
    width: 100% !important;
  }

  .flip-title-back-{{ section.id }} {
    color: {{ title_back_color }};
  }

  .flip-icon-{{ section.id }} {   
    padding: {{ icon_size_mobile | times: 0.6 }}px;
    background-color: {{ icon_bg_color }};
    border: {{ icon_border_thickness }}px solid {{ icon_border_color }};
    transition: all 0.25s ease 0s;
    border-radius: 50%;
    flex-shrink: 0;
  }

  .flip-icon-{{ section.id }} svg {
    display: block;
    background: transparent !important;
    width: {{ icon_size_mobile }}px;
    height: {{ icon_size_mobile }}px;
    object-fit: cover;
  }

  .flip-icon-{{ section.id }} svg path {
    fill: {{ icon_color }};
  }

  .flip-icon-{{ section.id }}:hover {
    background-color: {{ icon_bg_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .flip-icon-{{ section.id }}:hover svg path {
    fill: {{ icon_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .flip-text-{{ section.id }} {
    margin-top: {{ text_mt_mobile }}px;
    text-align: {{ card_back_content_align_mobile }};
  }

  .flip-text-{{ section.id }} * {
    margin: 0px; 
    font-size: {{ text_size_mobile }}px;
    line-height: {{ text_height }}%;
    color: {{ text_color }};
    text-transform: unset;
    word-break: break-word;
    font-weight: 400;
  }

  .flip-text-{{ section.id }} a {
    color: {{ link_color }};
    text-decoration: underline;
    transition: all 0.25s ease 0s;
  }

  .flip-text-{{ section.id }} a:hover {
    color: {{ link_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .flip-card-heading-wrap-{{ section.id }} {
    display: flex;
    flex-direction: column;
    justify-content: {{ heading_vertical_align_mobile }};
  }

  .flip-card-heading-{{ section.id }} {
    margin: 0px; 
    text-align: {{ heading_align_mobile }};
    font-size: {{ heading_size_mobile }}px;
    line-height: {{ heading_height }}%;
    color: {{ heading_color }};
    text-transform: unset;
    word-break: break-word;
    font-weight: 400;
    width: 100%;
  }

  
  .flip-modal-{{ section.id }} {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    display: flex;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(15px);
    background-color: #00000029;   
    transition: all 0.25s ease 0s;
  }
  
  .flip-modal-{{ section.id }}.active {
    opacity: 1;
    z-index: 9999;
    pointer-events: all;
    transition: all 0.25s ease 0s;
  }

  .flip-modal-inner-{{ section.id }} {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.25s ease 0s;
    padding: 20px;
  }

  .flip-modal-content-{{ section.id }} {
    max-width: fit-content;
    position: relative;
    display: none;
    background-color: {{ card_content_bg_back_color }};     
    border: {{ card_border_thickness }}px solid {{ card_border_color }};
    border-radius: {{ card_radius }}px;
    padding: 30px;   
    padding-bottom: {{ icon_size_mobile | plus: 40 }}px important;
    max-width: 400px;
    width: 100%;
  }

  .flip-modal-content-{{ section.id }}.active {
    display: block;
  }

  .flip-modal-inner-{{ section.id }}.active {
    transition: all 0.25s ease 0s;
    opacity: 1;
  }

  .flip-close-modal-{{ section.id }} {
    padding: 0;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: none;
    border: 0px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
    padding: {{ close_icon_size_mobile | times: 0.6 }}px;
    background-color: {{ close_icon_bg_color }};
    border: {{ close_border_thickness }}px solid {{ close_border_color }};
    overflow: hidden;
    transition: all 0.25s ease 0s;
  }


  .flip-close-modal-{{ section.id }}:hover {
    border: {{ close_border_thickness }}px solid {{ close_border_hover_color }};
    background-color: {{ close_icon_bg_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .flip-close-modal-{{ section.id }} svg {
    position: relative;
    z-index: 2;
    display: block;
    width: {{ close_icon_size_mobile }}px;
    height: {{ close_icon_size_mobile }}px;
    transition: all 0.25s ease 0s;
  }

  .flip-close-modal-{{ section.id }} svg path {
    fill: {{ close_icon_color }};   
    transition: all 0.25s ease 0s;
  }

  .flip-close-modal-{{ section.id }}:hover svg path {
    fill: {{ close_icon_hover_color }}; 
    transition: all 0.25s ease 0s;
  }

  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .flip-body-{{ section.id }} { 
      grid-template-columns: repeat({{ cards_per_row }}, 1fr);     
      gap: {{ cards_gap }}px;
    }

    .flip-title-{{ section.id }} {     
      text-align: {{ card_content_align }};
      font-size: {{ title_size }}px;     
    }

    .flip-icon-{{ section.id }} {  
      padding: {{ icon_size | times: 0.6 }}px;
    }
    
    .flip-icon-{{ section.id }} svg {      
      width: {{ icon_size }}px;
      height: {{ icon_size }}px;    
    }

    .flip-text-{{ section.id }} {
      margin-top: {{ text_mt }}px;
      text-align: {{ card_back_content_align }};
    }

    .flip-text-{{ section.id }} * {
      font-size: {{ text_size }}px;    
    }

    .flip-card-heading-wrap-{{ section.id }} {
      justify-content: {{ heading_vertical_align }};
    }

    .flip-card-heading-{{ section.id }} {
      text-align: {{ heading_align }};
      font-size: {{ heading_size }}px;   
    }

    .flip-modal-content-{{ section.id }} {   
      padding-bottom: {{ icon_size | plus: 40 }}px !important;
    }
    
    .flip-close-modal-{{ section.id }} {
      padding: {{ close_icon_size | times: 0.6 }}px;
    }

    .flip-close-modal-{{ section.id }} svg {
      width: {{ close_icon_size }}px;
      height: {{ close_icon_size }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if title_custom %}
  <style>
    .flip-title-{{ section.id }} {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .flip-text-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if heading_custom %}
  <style>
    .flip-card-heading-{{ section.id }} {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}


{% if image_ratio_mobile == "portrait" %}
  <style>
    .flip-image-{{ section.id }},
    .flip-modal-content-{{ section.id }} {
      aspect-ratio: 9.6/13;
    }
  </style>
{% elsif image_ratio_mobile == "landscape" %}
  <style>
  .flip-image-{{ section.id }},
  .flip-modal-content-{{ section.id }} {
    aspect-ratio: 12/8;
  }
  </style>
{% elsif image_ratio_mobile == "square" %}
  <style>
    .flip-image-{{ section.id }},
    .flip-modal-content-{{ section.id }} {
      aspect-ratio: 12/12;
    }
  </style>
{% else %}
  <style>
    .flip-image-{{ section.id }},
    .flip-modal-content-{{ section.id }} {
      aspect-ratio: auto;
    }
  </style>
{% endif %}

{% if image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
      .flip-image-{{ section.id }},
      .flip-modal-content-{{ section.id }} {
        aspect-ratio: 9.6/13;
      }
    }
    
  </style>
{% elsif image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .flip-image-{{ section.id }},
      .flip-modal-content-{{ section.id }} {
        aspect-ratio: 12/8;
      }
    }  
  </style>
{% elsif image_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .flip-image-{{ section.id }},
      .flip-modal-content-{{ section.id }} {
        aspect-ratio: 12/12;
      }
    }    
  </style>
{% else %}
  <style>
     @media(min-width: 1024px) {
      .flip-image-{{ section.id }},
      .flip-modal-content-{{ section.id }} {
        aspect-ratio: auto;
      }
    }
  </style>
{% endif %}

{% if card_shadow == "none" %}
  <style>
    .flip-card-front-{{ section.id }},
    .flip-card-back-{{ section.id }} {
      box-shadow: none;
    }
  </style>
{% elsif card_shadow == "first" %}
  <style>
    .flip-card-front-{{ section.id }},
    .flip-card-back-{{ section.id }} {
      box-shadow: {{ card_shadow_color }}26 0px 4px 12px;
    }
  </style>
{% elsif card_shadow == "second" %}
  <style>
    .flip-card-front-{{ section.id }},
    .flip-card-back-{{ section.id }} {
      box-shadow: {{ card_shadow_color }}17 0px 3px 12px;
    }
  </style>
{% elsif card_shadow == "third" %}
  <style>
    .flip-card-front-{{ section.id }},
    .flip-card-back-{{ section.id }} {
      box-shadow: {{ card_shadow_color }}0A 0px 3px 5px;
    }
  </style>
{% elsif card_shadow == "fourth" %}
  <style>
    .flip-card-front-{{ section.id }},
    .flip-card-back-{{ section.id }} {
      box-shadow: {{ card_shadow_color }}1A -4px 9px 25px -6px;
    }
  </style>
{% endif %}

<div class="section-{{ section.id }} flip-{{ section.id }}" {% if background_style == 'solid' %}style="background-color:{{ background_color }};"{% else %} style="background-image: {{ background_gradient }};"{% endif %}>
    <div class="section-{{ section.id }}-settings">      
      <div class="flip-body-{{ section.id }}">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'card' %}             
              <div class="flip-card-{{ section.id }}" id="{{ block.id }}">
                <div class="flip-card-wrapper-{{ section.id }}">
                  <div class="flip-card-front-{{ section.id }}">                  
                    <div class="flip-image-{{ section.id }}">    
                      {% if block.settings.image != blank %}                        
                         {%- capture sizes -%}(min-width: {{ content_width }}px) {{ content_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}
                          {{ block.settings.image | image_url: width: 750 | image_tag:
                            loading: lazy_load_setting,
                            width: block.settings.image.width,
                            height: block.settings.image.height,
                            sizes: sizes,
                            widths: '750, 1070'
                          }}              
                      {% else %}
                        {{ 'image' | placeholder_svg_tag }}
                      {% endif %}                       
                    </div>
                    {% if block.settings.title != blank %}                     
                      <h3 class="flip-title-{{ section.id }}">{{ block.settings.title }}</h3>                      
                    {% endif %}
                    <div class="flip-card-content-{{ section.id }}">                    
                      <div class="flip-icon-{{ section.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.31201 17.062V0.812012H9.56201V17.062H8.31201Z" fill="black"></path>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.812013 8.31201H17.062V9.56201H0.812013V8.31201Z" fill="black"></path>
                        </svg>
                      </div>                                          
                    </div>                    
                  </div>                  
                  <div class="flip-card-back-{{ section.id }}">    
                    {% if block.settings.title != blank %}                     
                      <h3 class="flip-title-{{ section.id }} flip-title-back-{{ section.id }}">{{ block.settings.title }}</h3>                      
                    {% endif %}     
                    {% if block.settings.text != blank %}                     
                      <div class="flip-text-{{ section.id }}">{{ block.settings.text }}</div>                     
                    {% endif %}
                    {% if block.settings.found_text != blank %}
                      <div class="flip-text-{{ section.id }}" style="margin-bottom: 8px !important;">{{ block.settings.found_text }}</div>    
                    {% endif %}
                    {% for product in block.settings.products %}
                      <div class="flip-text-{{ section.id }}" style="margin-top: 0 !important;">
                        <a href="{{ product.url }}">{{ product.title }}</a>  
                      </div>  
                    {% endfor %}
                  </div>  
                </div>                                  
              </div>    
            {% when 'heading' %}
              {% if block.settings.heading != blank %}
                <div class="flip-card-heading-wrap-{{ section.id }}">
                  <p class="flip-card-heading-{{ section.id }}">{{ block.settings.heading }}</p>
                </div>      
              {% endif %}                 
            {% else %}              
          {% endcase %}
        {% endfor %}      
      </div>     
    </div>
</div>

<div class="flip-modal-{{ section.id }}">
  <div class="flip-modal-inner-{{ section.id }}">
    {% for block in section.blocks %}
      {% if block.type == 'card' %}
        <div class="flip-modal-content-{{ section.id }}" data-id="{{ block.id }}">
          {% if block.settings.title != blank %}                     
            <h3 class="flip-title-{{ section.id }} flip-title-back-{{ section.id }}">{{ block.settings.title }}</h3>                      
          {% endif %}     
          {% if block.settings.text != blank %}                     
            <div class="flip-text-{{ section.id }}">{{ block.settings.text }}</div>                     
          {% endif %}
          {% if block.settings.found_text != blank %}
            <div class="flip-text-{{ section.id }}" style="margin-bottom: 8px !important;">{{ block.settings.found_text }}</div>    
          {% endif %}
          {% for product in block.settings.products %}
            <div class="flip-text-{{ section.id }}" style="margin-top: 0 !important;">
              <a href="{{ product.url }}">{{ product.title }}</a>  
            </div>  
          {% endfor %}
          <button class="flip-close-modal-{{ section.id }}">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
              d="M12.0002 10.586L4.70718 3.29297L3.29297 4.70718L10.586 12.0002L3.29297 19.2933L4.70718 20.7075L12.0002 13.4145L19.2933 20.7075L20.7075 19.2933L13.4145 12.0002L20.7075 4.70723L19.2933 3.29302L12.0002 10.586Z"
              fill="white"></path>
            </svg>        
          </button>
        </div>
      {% endif %}
    {% endfor %}   
  </div>
</div>

<script>
  const eventHandlers{{ section.id | replace: '-', '' }} = {};

  function handleCardFlip{{ section.id | replace: '-', '' }}(e) {
    const card = e.currentTarget.querySelector('.flip-card-wrapper-{{ section.id }}');
    card.classList.toggle('fliped');
  }

  function handleCardClick{{ section.id | replace: '-', '' }}(e) {
    const card = e.currentTarget.querySelector('.flip-card-wrapper-{{ section.id }}');
    if (card) {
        card.classList.toggle('fliped');
    }
  }

  function initFlipCards{{ section.id | replace: '-', '' }}() {
    const isMobile = window.matchMedia("(max-width: 1024px)").matches;
    const wrapperCards = document.querySelectorAll('.flip-card-{{ section.id }}');

    wrapperCards.forEach(card => {
        if (!isMobile) {
          card.addEventListener('mouseenter', handleCardFlip{{ section.id | replace: '-', '' }});
          card.addEventListener('mouseleave', handleCardFlip{{ section.id | replace: '-', '' }});
        }
    });

    if (!eventHandlers{{ section.id | replace: '-', '' }}.cards) {
        eventHandlers{{ section.id | replace: '-', '' }}.cards = [];
    }
    eventHandlers{{ section.id | replace: '-', '' }}.cards = Array.from(wrapperCards).map(card => {
        return { 
            element: card, 
            handler: isMobile ? handleCardClick{{ section.id | replace: '-', '' }} : handleCardFlip{{ section.id | replace: '-', '' }},
            eventType: isMobile ? 'click' : 'mouseenter'
        };
    });

    const tabs = document.querySelectorAll('.flip-card-{{ section.id }}');
    const modal = document.querySelector('.flip-modal-{{ section.id }}');
    const modalInner = document.querySelector('.flip-modal-inner-{{ section.id }}');
    const modalText = document.querySelectorAll('.flip-modal-content-{{ section.id }}');
    const closeModal = document.querySelectorAll('.flip-close-modal-{{ section.id }}');

    if(tabs) {
      tabs.forEach(tab => {
        tab.addEventListener('click', () => {              
          if(modalText) {
            document.body.style.overflow = 'hidden';     
            if(modal) {
              modal.classList.add('active');
              setTimeout(() => {
                modalInner.classList.add('active');
              }, 200)
            } else {              
              modalInner.classList.remove('active');             
              setTimeout(() => {
                modal.classList.remove('active');      
              }, 200)        
            }
            modalText.forEach(e => {
              if(tab.id === e.getAttribute('data-id')) {
                e.classList.add('active');
              } else {
                setTimeout(() => {
                  e.classList.remove('active')  
                }, 200)               
              }
            })
          }
        })
      })
    }

    if(closeModal) {
      closeModal.forEach((i) => {
        i.addEventListener("click", () => {
          document.body.style.overflow = '';   
          if(modal) {     
            modalInner.classList.remove('active');             
            setTimeout(() => {
              modal.classList.remove('active');      
            }, 200)            
          }
          modalText.forEach(e => {          
            setTimeout(() => {
              e.classList.remove('active')  
            }, 200)      
          })
        })
      })
      
    }

    document.addEventListener('click', function(e) {
      if (e.target == modal) {
        document.body.style.overflow = '';   
        modalInner.classList.remove('active');             
        setTimeout(() => {
          modal.classList.remove('active');      
        }, 200)
      }
    });
  }

  function destroyFlipCards{{ section.id | replace: '-', '' }}() {
    if (eventHandlers{{ section.id | replace: '-', '' }}.cards) {
        eventHandlers{{ section.id | replace: '-', '' }}.cards.forEach(({ element, handler, eventType }) => {
            if (element && handler) {
                element.removeEventListener(eventType, handler);
                if (eventType === 'mouseenter') {
                    element.removeEventListener('mouseleave', handler);
                }
            }
        });
        eventHandlers{{ section.id | replace: '-', '' }}.cards = [];
    }
  }

  document.addEventListener('DOMContentLoaded', initFlipCards{{ section.id | replace: '-', '' }});
  window.addEventListener('resize', () => {
    destroyFlipCards{{ section.id | replace: '-', '' }}();
    initFlipCards{{ section.id | replace: '-', '' }}();
  });

  if (Shopify.designMode) {
    document.addEventListener('shopify:section:load', initFlipCards{{ section.id | replace: '-', '' }});
    document.addEventListener('shopify:section:unload', destroyFlipCards{{ section.id | replace: '-', '' }});
  }
</script>

{% schema %}
{
  "name": "SG-Flip cards #2",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "cards_per_row",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Cards per row",
      "default": 3
    },
    {
      "type": "select",
      "id": "cards_per_row_mobile",
      "label": "Cards per row - mobile",
      "default": "2",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        }
      ]
    },
    {
      "type": "range",
      "id": "cards_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 60
    },
    {
      "type": "range",
      "id": "cards_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 16
    },
    {
      "type": "header",
      "content": "Card"
    },
    {
      "type": "range",
      "id": "card_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 24
    },
    {
      "type": "range",
      "id": "card_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "select",
      "id": "card_shadow",
      "label": "Card shadow",
      "default": "fourth",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Shadow 1",
          "value": "first"
        },
        {
          "label": "Shadow 2",
          "value": "second"
        },
        {
          "label": "Shadow 3",
          "value": "third"
        },
        {
          "label": "Shadow 4",
          "value": "fourth"
        }
      ]
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "checkbox",
      "id": "heading_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Font family",
      "default": "josefin_sans_n4",
      "visible_if": "{{ section.settings.heading_custom }}"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 100
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 52
    },
    {
      "type": "range",
      "id": "heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "text_alignment",
      "id": "heading_align",
      "label": "Alignment"
    },
    {
      "type": "text_alignment",
      "id": "heading_align_mobile",
      "label": "Alignment - mobile"
    },
    {
      "type": "select",
      "id": "heading_vertical_align",
      "label": "Position",
      "default": "start",
      "options": [
        {
          "label": "Top",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Bottom",
          "value": "end"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_vertical_align_mobile",
      "label": "Position - mobile",
      "default": "start",
      "options": [
        {
          "label": "Top",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Bottom",
          "value": "end"
        }
      ]
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "range",
      "id": "image_overlay",
      "label": "Overlay",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.2
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Aspect ratio",
      "default": "portrait",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_ratio_mobile",
      "label": "Aspect ratio - mobile",
      "default": "portrait",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "header",
      "content": "Title"
    },
    {
      "type": "checkbox",
      "id": "title_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "title_font",
      "label": "Font family",
      "default": "josefin_sans_n4",
      "visible_if": "{{ section.settings.title_custom }}"
    },
    {
      "type": "range",
      "id": "title_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 24
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "title_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "text_alignment",
      "id": "card_content_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "card_content_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "checkbox",
      "id": "text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "text_font",
      "label": "Font family",
      "default": "josefin_sans_n4",
      "visible_if": "{{ section.settings.text_custom }}"
    },
    {
      "type": "range",
      "id": "text_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 14
    },
    {
      "type": "range",
      "id": "text_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "text_alignment",
      "id": "card_back_content_align",
      "label": "Alignment"
    },
    {
      "type": "text_alignment",
      "id": "card_back_content_align_mobile",
      "label": "Alignment - mobile"
    },
    {
      "type": "range",
      "id": "text_mt",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 20
    },
    {
      "type": "range",
      "id": "text_mt_mobile",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 20
    },
    {
      "type": "header",
      "content": "Plus icon"
    },
    {
      "type": "range",
      "id": "icon_size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 20
    },
    {
      "type": "range",
      "id": "icon_size_mobile",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Size - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "icon_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 1
    },
    {
      "type": "header",
      "content": "Close icon"
    },
    {
      "type": "range",
      "id": "close_icon_size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 20
    },
    {
      "type": "range",
      "id": "close_icon_size_mobile",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Size - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "close_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 1
    },
    {
      "type": "header",
      "content": "Heading colors"
    },
    {
      "type": "color",
      "label": "Heading",
      "id": "heading_color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Card colors"
    },
    {
      "type": "color",
      "label": "Title",
      "id": "title_back_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Title (front side)",
      "id": "title_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "text_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Link",
      "id": "link_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Link hover",
      "id": "link_hover_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "card_content_bg_back_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "card_border_color",
      "default": "#121212",
      "visible_if": "{{ section.settings.card_border_thickness >= 1 }}"
    },
    {
      "type": "color",
      "label": "Image overlay",
      "id": "image_overlay_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Card shadow",
      "id": "card_shadow_color",
      "default": "#000000",
      "visible_if": "{{ section.settings.card_shadow != 'none' }}"
    },
    {
      "type": "header",
      "content": "Plus icon colors"
    },
    {
      "type": "color",
      "label": "Icon",
      "id": "icon_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "icon_bg_color",
      "default": "transparent"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "icon_border_color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Close icon colors"
    },
    {
      "type": "color",
      "label": "Icon",
      "id": "close_icon_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Icon hover",
      "id": "close_icon_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "close_icon_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Background hover",
      "id": "close_icon_bg_hover_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "close_border_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Border hover",
      "id": "close_border_hover_color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "select",
      "id": "background_style",
      "label": "Background style",
      "default": "solid",
      "options": [
        {
          "label": "Solid",
          "value": "solid"
        },
        {
          "label": "Gradient",
          "value": "gradient"
        }
      ]
    },
    {
      "type": "color",
      "label": "Background",
      "id": "background_color",
      "default": "#FFFFFF",
      "visible_if": "{{ section.settings.background_style == 'solid' }}"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Gradient",
      "default": "linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%)",
      "visible_if": "{{ section.settings.background_style == 'gradient' }}"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Sides - mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Sides - mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 800,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "label": "Content width",
      "default": 1200,
      "visible_if": "{{ section.settings.full_width == false }}"
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Tell your story</p>"
        },
        {
          "type": "richtext",
          "id": "found_text",
          "label": "Products heading",
          "default": "<p>FOUND IN:</p>"
        },
        {
          "type": "product_list",
          "id": "products",
          "label": "Products"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Index"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Flip cards #2",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "card"
        },
        {
          "type": "card"
        },
        {
          "type": "card"
        },
        {
          "type": "card"
        },
        {
          "type": "card"
        }
      ]
    }
  ]
}
{% endschema %}