<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign heading = section.settings.heading
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_height = section.settings.heading_height
  assign heading_color = section.settings.heading_color
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign arrow_size = section.settings.arrow_size
  assign arrow_size_mobile = section.settings.arrow_size_mobile
  assign arrow_icon_size = section.settings.arrow_icon_size
  assign arrow_icon_size_mobile = section.settings.arrow_icon_size_mobile
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color
  assign arrow_bg_color = section.settings.arrow_bg_color
  assign arrow_bg_hover_color = section.settings.arrow_bg_hover_color
  assign arrow_radius = section.settings.arrow_radius
  assign arrow_border_thickness = section.settings.arrow_border_thickness
  assign arrow_border_color = section.settings.arrow_border_color
  assign arrow_border_hover_color = section.settings.arrow_border_hover_color
  assign arrow_show_desktop = section.settings.arrow_show_desktop
  assign arrow_show_mobile = section.settings.arrow_show_mobile
  assign arrow_hover_effect = section.settings.arrow_hover_effect

  assign slider_view_mobile = section.settings.slider_view_mobile
  assign slider_view = section.settings.slider_view
  assign slider_mt = section.settings.slider_mt
  assign slider_mt_mobile = section.settings.slider_mt_mobile  

  assign collection = section.settings.collection
  assign collection_show = section.settings.collection_show

  assign slide_border_thickness = section.settings.slide_border_thickness
  assign slide_border_color = section.settings.slide_border_color
  assign slide_radius = section.settings.slide_radius
  assign slide_bg_color = section.settings.slide_bg_color
  assign slide_shadow = section.settings.slide_shadow

  assign image_ratio = section.settings.image_ratio
  assign image_ratio_mobile = section.settings.image_ratio_mobile

  assign show_badge = section.settings.show_badge
  assign badge_padding_horizontal = section.settings.badge_padding_horizontal
  assign badge_padding_horizontal_mobile = section.settings.badge_padding_horizontal_mobile
  assign badge_padding_vertical = section.settings.badge_padding_vertical
  assign badge_padding_vertical_mobile = section.settings.badge_padding_vertical_mobile
  assign badge_bg_color = section.settings.badge_bg_color
  assign badge_border_thickness = section.settings.badge_border_thickness
  assign badge_border_color = section.settings.badge_border_color
  assign badge_radius = section.settings.badge_radius
  assign badge_custom = section.settings.badge_custom
  assign badge_font = section.settings.badge_font
  assign badge_size = section.settings.badge_size
  assign badge_size_mobile = section.settings.badge_size_mobile
  assign badge_height = section.settings.badge_height
  assign badge_color = section.settings.badge_color  

  assign content_padding_horizontal = section.settings.content_padding_horizontal
  assign content_padding_horizontal_mobile = section.settings.content_padding_horizontal_mobile
  assign content_padding_vertical = section.settings.content_padding_vertical
  assign content_padding_vertical_mobile = section.settings.content_padding_vertical_mobile
  assign content_align = section.settings.content_align
  assign content_align_mobile = section.settings.content_align_mobile  

  assign content_horizontal_align = ""
  if content_align == "center"
    assign content_horizontal_align = "center"
  elsif content_align == "right"
    assign content_horizontal_align = "end"
  else
    assign content_horizontal_align = "start"
  endif

  assign content_horizontal_align_mobile = ""
  if content_align_mobile == "center"
    assign content_horizontal_align_mobile = "center"
  elsif content_align_mobile == "right"
    assign content_horizontal_align_mobile = "end"
  else
    assign content_horizontal_align_mobile = "start"
  endif

  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_height = section.settings.title_height
  assign title_color = section.settings.title_color    
  assign title_mt = section.settings.title_mt
  assign title_mt_mobile = section.settings.title_mt_mobile

  assign price_size_mobile = section.settings.price_size_mobile
  assign price_size = section.settings.price_size
  assign price_color = section.settings.price_color
  assign price_original_color = section.settings.price_original_color
  assign price_custom = section.settings.price_custom
  assign price_font = section.settings.price_font
  assign price_height = section.settings.price_height
  assign price_compare = section.settings.price_compare
  assign price_mt = section.settings.price_mt
  assign price_mt_mobile = section.settings.price_mt_mobile

  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_height = section.settings.text_height
  assign text_color = section.settings.text_color
  assign text_mt = section.settings.text_mt
  assign text_mt_mobile = section.settings.text_mt_mobile
  assign text_max_length = section.settings.text_max_length

  assign product_button_text = section.settings.product_button_text
  assign product_button_padding_horizontal = section.settings.product_button_padding_horizontal
  assign product_button_padding_horizontal_mobile = section.settings.product_button_padding_horizontal_mobile
  assign product_button_padding_vertical = section.settings.product_button_padding_vertical
  assign product_button_padding_vertical_mobile = section.settings.product_button_padding_vertical_mobile
  assign product_button_radius = section.settings.product_button_radius
  assign product_button_border_thickness = section.settings.product_button_border_thickness
  assign product_button_border_color = section.settings.product_button_border_color
  assign product_button_bg_color = section.settings.product_button_bg_color  
  assign product_button_size = section.settings.product_button_size
  assign product_button_size_mobile = section.settings.product_button_size_mobile
  assign product_button_color = section.settings.product_button_color
  assign product_button_hover_color = section.settings.product_button_hover_color
  assign product_button_custom = section.settings.product_button_custom
  assign product_button_font = section.settings.product_button_font
  assign product_button_height = section.settings.product_button_height
  assign product_button_border_hover_color = section.settings.product_button_border_hover_color
  assign product_button_bg_hover_color = section.settings.product_button_bg_hover_color
  assign product_button_style = section.settings.product_button_style
  assign product_button_mt = section.settings.product_button_mt
  assign product_button_mt_mobile = section.settings.product_button_mt_mobile

  assign button = section.settings.button
  assign button_url = section.settings.button_url
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_padding_horizontal_mobile = section.settings.button_padding_horizontal_mobile
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_padding_vertical_mobile = section.settings.button_padding_vertical_mobile
  assign button_radius = section.settings.button_radius
  assign button_border_thickness = section.settings.button_border_thickness
  assign button_border_color = section.settings.button_border_color
  assign button_bg_color = section.settings.button_bg_color  
  assign button_size = section.settings.button_size
  assign button_size_mobile = section.settings.button_size_mobile
  assign button_color = section.settings.button_color
  assign button_hover_color = section.settings.button_hover_color
  assign button_custom = section.settings.button_custom
  assign button_font = section.settings.button_font
  assign button_height = section.settings.button_height
  assign button_border_hover_color = section.settings.button_border_hover_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color
  assign button_style = section.settings.button_style
  assign button_mt = section.settings.button_mt
  assign button_mt_mobile = section.settings.button_mt_mobile

  assign shipping_text = section.settings.shipping_text
  assign shipping_text_custom = section.settings.shipping_text_custom
  assign shipping_text_font = section.settings.shipping_text_font
  assign shipping_text_size = section.settings.shipping_text_size
  assign shipping_text_size_mobile = section.settings.shipping_text_size_mobile
  assign shipping_text_height = section.settings.shipping_text_height
  assign shipping_text_color = section.settings.shipping_text_color
  assign shipping_text_mt = section.settings.shipping_text_mt
  assign shipping_text_mt_mobile = section.settings.shipping_text_mt_mobile
  assign shipping_text_align = section.settings.shipping_text_align
  assign shipping_text_align_mobile = section.settings.shipping_text_align_mobile
-%}

{%- style -%}
  {{  heading_font | font_face: font_display: 'swap' }}
  {{  badge_font | font_face: font_display: 'swap' }}
  {{  title_font | font_face: font_display: 'swap' }}
  {{  price_font | font_face: font_display: 'swap' }}
  {{  text_font | font_face: font_display: 'swap' }}
  {{  product_button_font | font_face: font_display: 'swap' }}
  {{  shipping_text_font | font_face: font_display: 'swap' }}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .featured-top-{{ section.id }} {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
  }

  .featured-heading-{{ section.id }} {
    width: 100%;
    text-align: {{ heading_align_mobile }};
  }
  
  .featured-heading-{{ section.id }} * {
    margin: 0px;
    font-size: {{ heading_size_mobile }}px;
    line-height: {{ heading_height }}%;
    color: {{ heading_color }};
    text-transform: unset;
    word-break: break-word;
    font-weight: 700;
  }

  .featured-buttons-{{ section.id }} {
    display: flex;    
    align-items: center;
    gap: 10px;
    margin-left: auto;
  }

  .featured-buttons-mobile-{{ section.id }} {
    display: flex;
    justify-content: center;
  }

  .featured-buttons-desktop-{{ section.id }} {
    display: none;
  }

  .featured-btn-prev-{{ section.id }},
  .featured-btn-next-{{ section.id }} {
    display: flex;
    width: {{ arrow_size_mobile }}px;
    height: {{ arrow_size_mobile }}px;
    border: 0px;
    border: {{ arrow_border_thickness }}px solid {{ arrow_border_color }};
    border-radius: {{ arrow_radius }}px;
    background: transparent;
    background: {{ arrow_bg_color }};
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,.15); */
  }

  .featured-btn-prev-{{ section.id }} .animate-icon,
  .featured-btn-next-{{ section.id }} .animate-icon {
    pointer-events: none;
    place-items: center;
    display: grid;
  }

  .featured-btn-prev-{{ section.id }} .animate-icon:before,
  .featured-btn-next-{{ section.id }} .animate-icon:before {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size_mobile }}px;
    height: {{ arrow_icon_size_mobile }}px;
    transform: rotate(calc(1 * 45deg));
    box-sizing: border-box;
    border-style: solid;
    border: 0px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    position: relative;
    left: -1px;
  }

  .featured-btn-prev-{{ section.id }} .animate-icon:before {
    left: unset;
    right: -1px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid currentColor;
    border-left: 2px solid currentColor;
  }

  .featured-btn-prev-{{ section.id }} .animate-icon:after,
  .featured-btn-next-{{ section.id }} .animate-icon:after {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size_mobile | minus: 0.3 }}px;
    height: 1.6px;
    transform-origin: center;
    opacity: 0;
    background: currentColor;
    transform: scaleX(.5);
  }

  .featured-btn-prev-{{ section.id }} span,
  .featured-btn-next-{{ section.id }} span {
    color: {{ arrow_color }};
  }

  .featured-btn-prev-{{ section.id }}.swiper-button-disabled,
  .featured-btn-next-{{ section.id }}.swiper-button-disabled {
    opacity: 0.5;
  }

  .featured-slider-wrapper-{{ section.id }} {
    z-index: 0;
    align-items: stretch !important;    
    pointer-events: none !important;
  }

  .featured-slider-{{ section.id }} {
    position: relative !important;
    padding: 30px 0px !important;
    margin-top: {{ slider_mt_mobile }}px;
    margin-left: -{{ padding_horizontal_mobile }}rem !important;
    margin-right: -{{ padding_horizontal_mobile }}rem !important;
    padding-left: {{ padding_horizontal_mobile }}rem !important;
    padding-right: {{ padding_horizontal_mobile }}rem !important;
    pointer-events: all !important;
  }

  .featured-slide-{{ section.id }} {
    position: relative !important;
    z-index: 3 !important;
    height: auto !important;
    box-sizing: border-box !important;
    border: {{ slide_border_thickness }}px solid {{ slide_border_color }} !important;
    border-radius: {{ slide_radius }}px !important;
    background-color: {{ slide_bg_color }} !important;
    overflow: hidden !important;
    pointer-events: all !important;
  }

  .featured-image-{{ section.id }} {
    width: 100%;
    position: relative;
    display: block;
  }

  .featured-badge-{{ section.id }} {
    margin: 0;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: {{ badge_radius }}px;
    font-size: {{ badge_size_mobile }}px;
    color: {{ badge_color }};
    line-height: {{ badge_height }}%;
    background-color: {{ badge_bg_color }};
    border: {{ badge_border_thickness }}px solid {{ badge_border_color }};
    padding: {{ badge_padding_vertical_mobile }}px {{ badge_padding_horizontal_mobile }}px;
    text-transform: unset;
    word-break: break-word;
  }

  .featured-image-{{ section.id }} img,
  .featured-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .featured-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .featured-content-{{ section.id }} {
    padding: {{ content_padding_vertical_mobile }}px {{ content_padding_horizontal_mobile }}px;
  }
  
  .featured-title-{{ section.id }} {
    margin: 0;    
    text-align: {{ content_align_mobile }};
    text-transform: unset;
    font-size: {{ title_size_mobile }}px;
    line-height: {{ title_height }}%;
    color: {{ title_color }};  
    word-break: break-word;
    text-decoration: none;
    font-weight: 700;
  }

  .featured-price-{{ section.id }} {
    margin-top: {{ price_mt_mobile }}px;
    display: flex;
    align-items: center;
    justify-content: {{ content_horizontal_align_mobile }};
    width: 100%;
    gap: 5px;
  }

  .featured-price-{{ section.id }} * {
    margin: 0;
    font-size: {{ price_size_mobile }}px;
    color: {{ price_color }};
    line-height: {{ price_height }}%;
    text-transform: unset;
    font-style: normal;
  }

  .featured-compare-price-{{ section.id }} {
    opacity: 0.8;
    color: {{ price_original_color }};
    text-decoration: line-through !important;
  }
  
  .featured-details-{{ section.id }} {
    text-align: {{ content_align_mobile }};
    margin-top: {{ text_mt_mobile }}px;    
  }

  .featured-details-{{ section.id }} * {
    margin: 0;    
    text-transform: unset;  
    font-size: {{ text_size_mobile }}px;
    line-height: {{ text_height }}%;
    color: {{ text_color }};  
    word-break: break-word;
    text-decoration: none;
  }

  .featured-product-button-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 0;
    margin-top: {{ product_button_mt_mobile }}px;
    font-size: {{ product_button_size_mobile }}px;
    color: {{ product_button_color }};
    line-height: {{ product_button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ product_button_padding_vertical_mobile }}px {{ product_button_padding_horizontal_mobile }}px;
    border-radius: {{ product_button_radius }}px;
    transition: all 0.25s ease 0s;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-weight: 700;
    min-width: max-content;
  }

  .featured-product-button-inner-{{ section.id }} {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .featured-product-button-{{ section.id }}:hover {
    color: {{ product_button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .featured-product-button-{{ section.id }} svg {
    width: 14px;
    height: 14px;
  }

  .featured-product-button-{{ section.id }} svg path {
    fill: {{ product_button_color }};
    transition: all 0.25s ease 0s;
  }

  .featured-product-button-{{ section.id }}:hover svg path {
    fill: {{ product_button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .featured-shipping-text-{{ section.id }} {
    text-align: {{ shipping_text_align_mobile }};
    margin-top: {{ shipping_text_mt_mobile }}px;    
  }

  .featured-shipping-text-{{ section.id }} * {
    margin: 0;    
    text-transform: unset;  
    font-size: {{ shipping_text_size_mobile }}px;
    line-height: {{ shipping_text_height }}%;
    color: {{ shipping_text_color }};  
    word-break: break-word;
    text-decoration: none;
  }

  .featured-button-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    margin: 0 auto;
    gap: 10px;
    width: 100%;
    margin-top: {{ button_mt_mobile }}px;
    font-size: {{ button_size_mobile }}px;
    color: {{ button_color }};
    line-height: {{ button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical_mobile }}px {{ button_padding_horizontal_mobile }}px;
    border-radius: {{ button_radius }}px;
    transition: all 0.25s ease 0s;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-weight: 700;
    min-width: max-content;
  }

  .featured-button-inner-{{ section.id }} {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .featured-button-{{ section.id }}:hover {
    color: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .featured-button-{{ section.id }} svg {
    width: 14px;
    height: 14px;
  }

  .featured-button-{{ section.id }} svg path {
    fill: {{ button_color }};
    transition: all 0.25s ease 0s;
  }

  .featured-button-{{ section.id }}:hover svg path {
    fill: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .featured-heading-{{ section.id }} {
      text-align: {{ heading_align }};
    }
    
    .featured-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .featured-btn-prev-{{ section.id }},
    .featured-btn-next-{{ section.id }} {
      width: {{ arrow_size }}px;
      height: {{ arrow_size }}px;
    }    

    .featured-btn-prev-{{ section.id }} .animate-icon:before,
    .featured-btn-next-{{ section.id }} .animate-icon:before {
      width: {{ arrow_icon_size }}px;
      height: {{ arrow_icon_size }}px;       
    }

    .featured-btn-prev-{{ section.id }} .animate-icon:after,
    .featured-btn-next-{{ section.id }} .animate-icon:after {
      width: {{ arrow_icon_size | minus: 0.3 }}px;
    }

    .featured-slider-{{ section.id }} {   
      margin-top: {{ slider_mt }}px;
      margin-left: 0rem !important;
      margin-right: 0rem !important;
      padding-left: 0rem !important;
      padding-right: 0rem !important;
    }

    .featured-content-{{ section.id }} {
      padding: {{ content_padding_vertical }}px {{ content_padding_horizontal }}px;
    }

    .featured-badge-{{ section.id }} {
      font-size: {{ badge_size }}px;
      padding: {{ badge_padding_vertical }}px {{ badge_padding_horizontal }}px;
    }

    .featured-title-{{ section.id }} {
      text-align: {{ content_align }};
      font-size: {{ title_size }}px;
    }
    
    .featured-price-{{ section.id }} {
      margin-top: {{ price_mt }}px;
      justify-content: {{ content_horizontal_align }};
    }

    .featured-price-{{ section.id }} * {
      font-size: {{ price_size }}px;
    }

    .featured-details-{{ section.id }} {
      text-align: {{ content_align }};
      margin-top: {{ text_mt }}px;    
    }

    .featured-details-{{ section.id }} * {
      font-size: {{ text_size }}px;
    }
  
    .featured-product-button-{{ section.id }} {
      margin-top: {{ product_button_mt }}px;
      font-size: {{ product_button_size }}px;     
      padding: {{ product_button_padding_vertical }}px {{ product_button_padding_horizontal }}px;
    }

    .featured-shipping-text-{{ section.id }} {
      text-align: {{ shipping_text_align }};
      margin-top: {{ shipping_text_mt }}px;    
    }

    .featured-shipping-text-{{ section.id }} * {
      font-size: {{ shipping_text_size }}px;
    }

    .featured-button-{{ section.id }} {    
      margin-top: {{ button_mt }}px;
      font-size: {{ button_size }}px;     
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if heading_custom %}
  <style>
    .featured-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if badge_custom %}
  <style>
    .featured-badge-{{ section.id }} {
      font-family: {{ badge_font.family }}, {{ badge_font.fallback_families }};
      font-weight: {{ badge_font.weight }};
      font-style: {{ badge_font.style }};
    }
  </style>
{% endif %}

{% if title_custom %}
  <style>
    .featured-title-{{ section.id }} {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if price_custom %}
  <style>
    .featured-price-{{ section.id }} * {
      font-family: {{ price_font.family }}, {{ price_font.fallback_families }};
      font-weight: {{ price_font.weight }};
      font-style: {{ price_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .featured-details-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if product_button_custom %}
  <style>
    .featured-product-button-{{ section.id }} * {
      font-family: {{ product_button_font.family }}, {{ product_button_font.fallback_families }};
      font-weight: {{ product_button_font.weight }};
      font-style: {{ product_button_font.style }};
    }
  </style>
{% endif %}

{% if button_custom %}
  <style>
    .featured-button-{{ section.id }} * {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}

{% if shipping_text_custom %}
  <style>
    .featured-shipping-text-{{ section.id }} * {
      font-family: {{ shipping_text_font.family }}, {{ shipping_text_font.fallback_families }};
      font-weight: {{ shipping_text_font.weight }};
      font-style: {{ shipping_text_font.style }};
    }
  </style>
{% endif %}


{% if image_ratio_mobile == "portrait" %}
  <style>
    .featured-image-{{ section.id }} {
      aspect-ratio: 9.6/13;
    }
  </style>
{% elsif image_ratio_mobile == "landscape" %}
  <style>
  .featured-image-{{ section.id }} {
    aspect-ratio: 12/8;
  }
  </style>
{% elsif image_ratio_mobile == "square" %}
  <style>
    .featured-image-{{ section.id }} {
      aspect-ratio: 12/12;
    }
  </style>
{% else %}
  <style>
    .featured-image-{{ section.id }} {
      aspect-ratio: auto;
    }
  </style>
{% endif %}

{% if image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
      .featured-image-{{ section.id }} {
        aspect-ratio: 9.6/13;
      }
    }
    
  </style>
{% elsif image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .featured-image-{{ section.id }} {
        aspect-ratio: 12/8;
      }
    }  
  </style>
{% elsif image_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .featured-image-{{ section.id }} {
        aspect-ratio: 12/12;
      }
    }    
  </style>
{% else %}
  <style>
     @media(min-width: 1024px) {
      .featured-image-{{ section.id }} {
        aspect-ratio: auto;
      }
    }
  </style>
{% endif %}

{% if show_badge %}
  <style>
    .featured-badge-{{ section.id }} {
      display: block;
    }
  </style>
{% endif %}

{% if slide_shadow %}
  <style>
    .featured-slide-{{ section.id }} {
      box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    }
  </style>
{% endif %}

{% if product_button_style == "non_outline" or product_button_style == "non_outline_arrow" %}
  <style>
    .featured-product-button-{{ section.id }} {
      background-color: {{ product_button_bg_color }};
    }

    .featured-product-button-{{ section.id }}:hover {
      background-color: {{ product_button_bg_hover_color }};
    }
  </style>
{% elsif product_button_style == "outline" or product_button_style == "outline_arrow" %}
  <style>
    .featured-product-button-{{ section.id }} {
      background-color: {{ product_button_bg_color }};
      border: {{ product_button_border_thickness }}px solid {{ product_button_border_color }};
    }

    .featured-product-button-{{ section.id }}:hover {
      background-color: {{ product_button_bg_hover_color }};
      border: {{ product_button_border_thickness }}px solid {{ product_button_border_hover_color }};
    }
  </style>
{% elsif product_button_style == "link" %}
  <style>
    .featured-product-button-{{ section.id }} {
      padding: 0px !important;
    }
  </style>
{% endif %}

{% if button_style == "non_outline" or button_style == "non_outline_arrow" %}
  <style>
    .featured-button-{{ section.id }} {
      background-color: {{ button_bg_color }};
    }

    .featured-button-{{ section.id }}:hover {
      background-color: {{ button_bg_hover_color }};
    }
  </style>
{% elsif button_style == "outline" or button_style == "outline_arrow" %}
  <style>
    .featured-button-{{ section.id }} {
      background-color: {{ button_bg_color }};
      border: {{ button_border_thickness }}px solid {{ button_border_color }};
    }

    .featured-button-{{ section.id }}:hover {
      background-color: {{ button_bg_hover_color }};
      border: {{ button_border_thickness }}px solid {{ button_border_hover_color }};
    }
  </style>
{% elsif button_style == "link" %}
  <style>
    .featured-button-{{ section.id }} {
      padding: 0px !important;
    }
  </style>
{% endif %}

{% if arrow_hover_effect == "color" %}
  <style>
    .featured-btn-prev-{{ section.id }}:hover,
    .featured-btn-next-{{ section.id }}:hover {
      transition: all 0.3s ease 0s;
      border: {{ arrow_border_thickness }}px solid {{ arrow_border_hover_color }};
      background: {{ arrow_bg_hover_color }};
    }
  
    .featured-btn-prev-{{ section.id }}:hover .animate-icon,
    .featured-btn-next-{{ section.id }}:hover .animate-icon {
      color: {{ arrow_hover_color }};
    }
  </style>
{% elsif arrow_hover_effect == "scale" %}
  <style>
    .featured-btn-prev-{{ section.id }}:hover,
    .featured-btn-next-{{ section.id }}:hover {
      transform: scale(0.9);
    }

    @media(min-width: 1024px) {
      .featured-btn-prev-{{ section.id }}:hover,
      .featured-btn-next-{{ section.id }}:hover {
        transform: scale(0.9);
      }
    }
  </style>
{% elsif arrow_hover_effect == "arrow" %}
  <style>
    .featured-btn-next-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
  
    .featured-btn-prev-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(-1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
    
    .featured-btn-prev-{{ section.id }}:hover .animate-icon:after,
    .featured-btn-next-{{ section.id }}:hover .animate-icon:after {
      opacity: 1;
      transform: scaleX(1);
    }
  </style>
{% endif %}

{% if arrow_show_mobile %}
  <style>
    .featured-buttons-{{ section.id }} {
      display: flex;
      margin-top: 10px;
    }
  </style>
{% else %}
  <style>
    .featured-buttons-{{ section.id }} {
      display: none;
    }

    .featured-heading-{{ section.id }} {
      width: 100%;
      text-align: {{ heading_align_mobile }};
    }
  </style>
{% endif %}

{% if arrow_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .featured-heading-{{ section.id }} {
        text-align: left;
      }

      .featured-buttons-{{ section.id }} {
        display: flex;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .featured-heading-{{ section.id }} {
        width: 100%;
        text-align: {{ heading_align }} ;
      }

      .featured-buttons-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}


{% comment %} PREVIEW {% endcomment %}
<style>
  .featured-slider-{{ section.id }}.preview .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }

  .featured-slider-{{ section.id }}.preview .featured-slide-{{ section.id }} {
    width: 100%;
  }

  .featured-slider-{{ section.id }}.preview .featured-slide-{{ section.id }}:not(:first-child) {
    margin-left: 10px;
  } 

  @media(min-width: 1024px) {
    .featured-slider-{{ section.id }}.preview .featured-slide-{{ section.id }}:not(:first-child) {
      margin-left: 10px;
    } 

    .featured-slider-{{ section.id }}.preview .featured-slide-{{ section.id }} {
      width: calc(100% / {{ slider_view }} - (10px));
    }
  }
</style>

<div class="section-{{ section.id }} featured-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="featured-top-{{ section.id }}">
        {% if heading %}
          <div class="featured-heading-{{ section.id }}">{{ heading }}</div>
        {% endif %}
        <div class="featured-buttons-{{ section.id }}">
          <button class="featured-btn-prev-{{ section.id }}">
            <span class="animate-icon"></span>
          </button>
          <button class="featured-btn-next-{{ section.id }}">
            <span class="animate-icon"></span>
          </button>   
        </div>
      </div>
      <div class="featured-slider-{{ section.id }} preview swiper"     
      data-view="{{ slider_view }}"
      data-view-mobile="{{ slider_view_mobile }}">
        <div class="swiper-wrapper featured-slider-wrapper-{{ section.id }}">
          {% if collection != blank %}
            {% for item in (1..3) %}
              {% for product in collections[collection].products limit: collection_show %}
                <div class="featured-slide-{{ section.id }} swiper-slide">
                  <a href="{{ product.url }}" class="featured-image-{{ section.id }}" style='z-index:10;'>
                    {% if product.metafields.custom.badge.value != blank %}
                      <p class="featured-badge-{{ section.id }}">                    
                        {{ product.metafields.custom.badge.value }}                  
                      </p>     
                    {% endif %}             
                    {% if product.featured_image != blank %}
                      <img src="{{ product.featured_image | image_url }}" alt="{{ product.featured_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>         
                    {% else %}
                      {{ 'image' | placeholder_svg_tag }}
                    {% endif %} 
                  </a>
                  <div class="featured-content-{{ section.id }}">
                    {% if product.title != blank %}
                      <h3 class="featured-title-{{ section.id }}">{{ product.title }}</h3>
                    {% endif %}
                    {% if product != blank %}
                      <div class="featured-price-{{ section.id }}">
                        <p class="featured-regular-price-{{ section.id }}">{% if product != blank %}{{ product.price | money }}{% endif %}</p>
                        {% if product.compare_at_price != blank and price_compare %}
                          <strong>-</strong> <p class="featured-compare-price-{{ section.id }}">{{ product.compare_at_price | money }}</p>
                        {% endif %}
                      </div>
                    {% endif %}                                       
                    {% if product.metafields.custom.specs.value != blank %}
                      <div class="featured-details-{{ section.id }}">
                        <p>
                          {% if text_max_length > 0 and product.metafields.custom.specs.value.size > text_max_length %}
                            {{ product.metafields.custom.specs.value | truncate: text_max_length }}
                          {% else %}
                            {{ product.metafields.custom.specs.value }}
                          {% endif %}
                        </p>
                      </div> 
                    {% endif %}  
                    {% if product_button_text != blank %}
                      <a href={{ product.url }} class="featured-product-button-{{ section.id }}">
                        <p class="featured-product-button-inner-{{ section.id }}">
                        {{ product_button_text }}
                        {% if product_button_style == "non_outline_arrow" or product_button_style == "outline_arrow" %}
                            <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                              <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                            </svg>
                          {% endif %}
                        </p>
                      </a>
                    {% endif %}  
                    {% if shipping_text != blank %}
                      <div class="featured-shipping-text-{{ section.id }}">{{ shipping_text }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            {% endfor %}            
          {% else %}
            {% for item in (1..3) %}
               {% for block in section.blocks %}
                <div class="featured-slide-{{ section.id }} swiper-slide">
                  <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% else %}div{% endif %} class="featured-image-{{ section.id }}">
                    {% if block.settings.badge != blank or block.settings.product.metafields.custom.badge.value != blank %}
                      <p class="featured-badge-{{ section.id }}">
                        {% if block.settings.badge != blank %}
                          {{ block.settings.badge }}
                        {% elsif block.settings.product.metafields.custom.badge.value != blank %}
                          {{ block.settings.product.metafields.custom.badge.value }}
                        {% endif %}
                      </p> 
                    {% endif %}                 
                    {% if block.settings.image != blank %}
                      <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>      
                    {% elsif block.settings.product.featured_image != blank %}
                      <img src="{{ block.settings.product.featured_image | image_url }}" alt="{{ block.settings.product.featured_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>         
                    {% else %}
                      {{ 'image' | placeholder_svg_tag }}
                    {% endif %} 
                  </{% if block.settings.url != blank %}a{% else %}div{% endif %}>
                  <div class="featured-content-{{ section.id }}">
                    {% if block.settings.title != blank %}
                      <h3 class="featured-title-{{ section.id }}">{{ block.settings.title }}</h3>
                    {% elsif block.settings.product.title != blank %}
                      <h3 class="featured-title-{{ section.id }}">{{ block.settings.product.title }}</h3>
                    {% endif %}
                    {% if block.settings.product != blank %}
                      <div class="featured-price-{{ section.id }}">
                        <p class="featured-regular-price-{{ section.id }}">{% if block.settings.product != blank %}{{ block.settings.product.price | money }}{% endif %}</p>
                        {% if block.settings.product.compare_at_price != blank and price_compare %}
                          <strong>-</strong> <p class="featured-compare-price-{{ section.id }}">{{ block.settings.product.compare_at_price | money }}</p>
                        {% endif %}
                      </div>
                    {% endif %}   
                    {% if block.settings.details != blank %}
                      <div class="featured-details-{{ section.id }}">
                        {% if text_max_length > 0 and block.settings.details.size > text_max_length %}
                          {{ block.settings.details | truncate: text_max_length }}
                        {% else %}
                          {{ block.settings.details }}
                        {% endif %}
                      </div>                     
                    {% elsif block.settings.product.metafields.custom.specs.value != blank %}
                      <div class="featured-details-{{ section.id }}">
                        <p>
                          {% if text_max_length > 0 and block.settings.product.metafields.custom.specs.value.size > text_max_length %}
                            {{ block.settings.product.metafields.custom.specs.value | truncate: text_max_length }}
                          {% else %}
                            {{ block.settings.product.metafields.custom.specs.value }}
                          {% endif %}
                        </p>
                      </div> 
                    {% endif %}  
                    {% if product_button_text != blank %}
                      <{% if block.settings.url != blank %}a href={{ block.settings.url }}{% elsif block.settings.product.url != blank %}a href={{ block.settings.product.url }}{% else %}div{% endif %} class="featured-product-button-{{ section.id }}">
                        <p class="featured-product-button-inner-{{ section.id }}">
                        {{ product_button_text }}
                        {% if product_button_style == "non_outline_arrow" or product_button_style == "outline_arrow" %}
                            <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                              <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                            </svg>
                          {% endif %}
                        </p>
                      </{% if block.settings.url != blank or block.settings.product.url != blank %}a{% else %}div{% endif %}>
                    {% endif %}  
                    {% if shipping_text != blank %}
                      <div class="featured-shipping-text-{{ section.id }}">{{ shipping_text }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            {% endfor %}           
          {% endif %}
        </div>
      </div>
      {% if button != blank %}
        <a href="{{ button_url }}" class="featured-button-{{ section.id }}">
          <p class="featured-button-inner-{{ section.id }}">
          {{ button }}
          {% if button_style == "non_outline_arrow" or button_style == "outline_arrow" %}
              <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
              </svg>
            {% endif %}
          </p>
        </a>
      {% endif %}
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<script>
  function initFeaturedCollection17() {
    const slider = new Swiper(".featured-slider-{{ section.id }}", {
      effect: "coverflow",
      centeredSlides: true,
      speed: 300,
      navigation: {
        nextEl: '.featured-btn-next-{{ section.id }}',
        prevEl: '.featured-btn-prev-{{ section.id }}',
      },
      loop: true,    
      breakpoints: {
        320: {
          slidesPerView: parseFloat(document.querySelector(`.featured-slider-{{ section.id }}`).dataset.viewMobile),
          coverflowEffect: {
            rotate: 0,
            stretch: 0,          
            depth: 160,            
            modifier: 1,
            slideShadows: false
          },
        },
        768: {       
          slidesPerView: parseFloat(document.querySelector(`.featured-slider-{{ section.id }}`).dataset.viewMobile),
          coverflowEffect: {
            rotate: 0,
            stretch: 0,          
            depth: 160,            
            modifier: 1,
            slideShadows: false
          },
        },
        1024: {
          coverflowEffect: {
            rotate: 0,
            stretch: 0,
            {% if full_width %}
              {% if slider_view == 3 %}
                depth: 387,
              {% elsif slider_view == 4 %}
                depth: 150,
              {% elsif slider_view == 5 %}
                depth: 160,
              {% endif %}
            {% else %}
              {% if slider_view == 3 %}
                depth: 400,
              {% elsif slider_view == 4 %}
                depth: 300,
              {% elsif slider_view == 5 %}
                depth: 240,
              {% endif %}
            {% endif %}
            modifier: 1,
            slideShadows: false
          },
          slidesPerView: parseFloat(document.querySelector(`.featured-slider-{{ section.id }}`).dataset.view),
        },
        1200: {
          coverflowEffect: {
            rotate: 0,
            stretch: 0,
            {% if full_width %}
              {% if slider_view == 3 %}
                depth: 387,
              {% elsif slider_view == 4 %}
                depth: 150,
              {% elsif slider_view == 5 %}
                depth: 160,
              {% endif %}
            {% else %}
              {% if slider_view == 3 %}
                depth: 400,
              {% elsif slider_view == 4 %}
                depth: 300,
              {% elsif slider_view == 5 %}
                depth: 240,
              {% endif %}
            {% endif %}
            modifier: 1,
            slideShadows: false
          },
          slidesPerView: parseFloat(document.querySelector(`.featured-slider-{{ section.id }}`).dataset.view),
        },
        1500: {
          coverflowEffect: {
            rotate: 0,
            stretch: 0,
            {% if full_width %}
              {% if slider_view == 3 %}
                depth: 387,
              {% elsif slider_view == 4 %}
                depth: 150,
              {% elsif slider_view == 5 %}
                depth: 160,
              {% endif %}
            {% else %}
              {% if slider_view == 3 %}
                depth: 400,
              {% elsif slider_view == 4 %}
                depth: 300,
              {% elsif slider_view == 5 %}
                depth: 240,
              {% endif %}
            {% endif %}
            modifier: 1,
            slideShadows: false
          },
          slidesPerView: parseFloat(document.querySelector(`.featured-slider-{{ section.id }}`).dataset.view),
        }
      },
    });
    document.querySelector('.featured-slider-{{ section.id }}').classList.remove('preview');
  }

  document.addEventListener('DOMContentLoaded', initFeaturedCollection17);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initFeaturedCollection17);
     document.addEventListener('shopify:section:load', initFeaturedCollection17);
  }
</script>



{% schema %}
  {
    "name": "SG-Feat collection #17",
    "settings": [
      {
        "type": "paragraph",
        "content": " Save to display section correctly"
      },
      {
        "type": "header",
        "content": "Heading"
      },
      {
        "type": "richtext",
        "id": "heading",
        "label": "Text",
        "default": "<h2>Featured collection #17</h2>"
      },
      {
        "type": "checkbox",
        "id": "heading_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "heading_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Font size",
        "default": 42
      },
      {
        "type": "range",
        "id": "heading_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 26
      },
      {
        "type": "range",
        "id": "heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      },
      {
        "type": "text_alignment",
        "id": "heading_align",
        "label": "Alignment",
        "info": "If arrows are hidden"
      },
      {
        "type": "text_alignment",
        "id": "heading_align_mobile",
        "label": "Alignment - mobile",
        "info": "If arrows are hidden",
        "default": "center"
      },
      {
        "type": "header",
        "content": "Arrows"
      },
      {
        "type": "range",
        "id": "arrow_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size",
        "default": 48
      },
      {
        "type": "range",
        "id": "arrow_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size - mobile",
        "default": 48
      },
      {
        "type": "range",
        "id": "arrow_icon_size",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Icon size",
        "default": 9
      },
      {
        "type": "range",
        "id": "arrow_icon_size_mobile",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Icon size - mobile",
        "default": 9
      },
      {
        "type": "range",
        "id": "arrow_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 1
      },
      {
        "type": "range",
        "id": "arrow_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 100
      },    
      {
        "type": "select",
        "id": "arrow_hover_effect",
        "label": "Hover effect",
        "default": "color",
        "options": [
          {
            "label": "Change color",
            "value": "color"
          },
          {
            "label": "Change size",
            "value": "scale"
          },
          {
            "label": "Change arrow",
            "value": "arrow"
          },
          {
            "label": "None",
            "value": "none"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "arrow_show_desktop",
        "label": "Show on desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "arrow_show_mobile",
        "label": "Show on mobile",
        "default": false
      },
      {
        "type": "header",
        "content": "Collection"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection",
        "info": "Leave this blank to display products from the blocks."
      },
      {
        "type": "range",
        "id": "collection_show",
        "min": 4,
        "max": 40,
        "step": 1,
        "label": "Products to show",
        "default": 10
      },
      {
        "type": "header",
        "content": "Slider"
      },
      {
        "type": "range",
        "id": "slider_view",
        "min": 3,
        "max": 5,
        "step": 1,
        "label": "Slides to show",
        "default": 3
      },      
      {
        "type": "range",
        "id": "slider_view_mobile",
        "min": 1,
        "max": 1.5,
        "step": 0.1,
        "label": "Slides to show - mobile",
        "default": 1.2
      }, 
      {
        "type": "range",
        "id": "slider_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 24
      },
      {
        "type": "range",
        "id": "slider_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 12
      },
      {
        "type": "header",
        "content": "Product card"
      },  
      {
        "type": "range",
        "id": "slide_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 1
      },  
      {
        "type": "range",
        "id": "slide_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 12
      },
      {
        "type": "checkbox",
        "id": "slide_shadow",
        "label": "Use shadow"
      },
      {
        "type": "header",
        "content": "Product image"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Aspect ratio",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_ratio_mobile",
        "label": "Aspect ratio - mobile",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      }, 
      {
        "type": "header",
        "content": "Badge"
      },
      {
        "type": "checkbox",
        "id": "show_badge",
        "label": "Show badge",
        "default": true,
        "info": "Use metafield custom.bagde to show badge on product from the collection"
      },
      {
        "type": "checkbox",
        "id": "badge_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "badge_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "badge_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 13
      },
      {
        "type": "range",
        "id": "badge_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 10
      },
      {
        "type": "range",
        "id": "badge_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 100
      },     
      {
        "type": "range",
        "id": "badge_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal",
        "default": 12
      },
      {
        "type": "range",
        "id": "badge_padding_horizontal_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal - mobile",
        "default": 12
      },
      {
        "type": "range",
        "id": "badge_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 6
      },
      {
        "type": "range",
        "id": "badge_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 6
      },     
      {
        "type": "range",
        "id": "badge_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 100
      },
      {
        "type": "range",
        "id": "badge_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },    
      {
        "type": "header",
        "content": "Product content"
      }, 
      {
        "type": "range",
        "id": "content_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal",
        "default": 24
      },
      {
        "type": "range",
        "id": "content_padding_horizontal_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal - mobile",
        "default": 24
      },
      {
        "type": "range",
        "id": "content_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 24
      },
      {
        "type": "range",
        "id": "content_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 24
      },
      {
        "type": "text_alignment",
        "id": "content_align",
        "label": "Alignment"
      },
      {
        "type": "text_alignment",
        "id": "content_align_mobile",
        "label": "Alignment - mobile"
      },
      {
        "type": "header",
        "content": "Product title"
      },
      {
        "type": "checkbox",
        "id": "title_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "title_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
      },
      {
        "type": "range",
        "id": "title_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 13
      },
      {
        "type": "range",
        "id": "title_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 150
      },
      {
        "type": "header",
        "content": "Product price"
      },
      {
        "type": "checkbox",
        "id": "price_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "price_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "price_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
      },
      {
        "type": "range",
        "id": "price_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 13
      },
      {
        "type": "range",
        "id": "price_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      },
      {
        "type": "range",
        "id": "price_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 4
      },
      {
        "type": "range",
        "id": "price_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 4
      },
      {
        "type": "checkbox",
        "id": "price_compare",
        "label": "Show compare-at price",
        "default": true
      },
      {
        "type": "header",
        "content": "Product details",
        "info": "Use metafield custom.specs to show additional product details"
      },
      {
        "type": "checkbox",
        "id": "text_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "text_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 13
      },
      {
        "type": "range",
        "id": "text_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 13
      },
      {
        "type": "range",
        "id": "text_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 150
      },
      {
        "type": "range",
        "id": "text_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 6
      },
      {
        "type": "range",
        "id": "text_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 4
      },
      {
        "type": "range",
        "id": "text_max_length",
        "min": 0,
        "max": 300,
        "step": 10,
        "label": "Max description length",
        "default": 0,
        "info": "Set to 0 to show full description"
      },
      {
        "type": "header",
        "content": "Product button"
      },
      {
        "type": "text",
        "id": "product_button_text",
        "label": "Button label",
        "default": "Shop now",
        "info": "Leave the label blank to hide the button."
      },
      {
        "type": "checkbox",
        "id": "product_button_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "product_button_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "product_button_size",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 13
      },
      {
        "type": "range",
        "id": "product_button_size_mobile",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 13
      },
      {
        "type": "range",
        "id": "product_button_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 100
      },
      {
        "type": "range",
        "id": "product_button_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal",
        "default": 36
      },
      {
        "type": "range",
        "id": "product_button_padding_horizontal_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal - mobile",
        "default": 36
      },
      {
        "type": "range",
        "id": "product_button_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 14
      },
      {
        "type": "range",
        "id": "product_button_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 10
      },     
      {
        "type": "range",
        "id": "product_button_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 100
      },
      {
        "type": "range",
        "id": "product_button_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 1
      },
      {
        "type": "range",
        "id": "product_button_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 16
      },
      {
        "type": "range",
        "id": "product_button_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 10
      },
      {
        "type": "select",
        "id": "product_button_style",
        "label": "Button style",
        "default": "outline",
        "options": [
          {
            "label": "Link",
            "value": "link"
          },
          {
            "label": "Non-outline",
            "value": "non_outline"
          },
          {
            "label": "Non-outline & arrow",
            "value": "non_outline_arrow"
          },
          {
            "label": "Outline",
            "value": "outline"
          },
          {
            "label": "Outline & arrow",
            "value": "outline_arrow"
          }
        ]
      },
      {
        "type": "header",
        "content": "Caption"
      },
      {
        "type": "richtext",
        "id": "shipping_text", 
        "label": "Text",
        "default": "<p>Caption</p>", 
      },
      {
        "type": "checkbox",
        "id": "shipping_text_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "shipping_text_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "shipping_text_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 12
      },
      {
        "type": "range",
        "id": "shipping_text_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 9
      },
      {
        "type": "range",
        "id": "shipping_text_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 150
      },
      {
        "type": "range",
        "id": "shipping_text_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 20
      },
      {
        "type": "range",
        "id": "shipping_text_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 14
      },   
      {
        "type": "text_alignment",
        "id": "shipping_text_align",
        "label": "Alignment",
        "default": "center"
      },
      {
        "type": "text_alignment",
        "id": "shipping_text_align_mobile",
        "label": "Alignment - mobile",
        "default": "center"
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "id": "button",
        "label": "Button label",
        "default": "View all",
        "info": "Leave the label blank to hide the button."
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button link"
      },
      {
        "type": "checkbox",
        "id": "button_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "button_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "button_size",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 13
      },
      {
        "type": "range",
        "id": "button_size_mobile",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 13
      },
      {
        "type": "range",
        "id": "button_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 100
      },
      {
        "type": "range",
        "id": "button_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal",
        "default": 32
      },
      {
        "type": "range",
        "id": "button_padding_horizontal_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal - mobile",
        "default": 32
      },
      {
        "type": "range",
        "id": "button_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 14
      },
      {
        "type": "range",
        "id": "button_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 10
      },     
      {
        "type": "range",
        "id": "button_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 100
      },
      {
        "type": "range",
        "id": "button_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 1
      },
      {
        "type": "range",
        "id": "button_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 12
      },
      {
        "type": "range",
        "id": "button_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 8
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "outline",
        "options": [
          {
            "label": "Link",
            "value": "link"
          },
          {
            "label": "Non-outline",
            "value": "non_outline"
          },
          {
            "label": "Non-outline & arrow",
            "value": "non_outline_arrow"
          },
          {
            "label": "Outline",
            "value": "outline"
          },
          {
            "label": "Outline & arrow",
            "value": "outline_arrow"
          }
        ]
      },
      {
        "type": "header",
        "content": "Arrow colors"
      },
      {
        "type": "color",
        "label": "Icon",
        "id": "arrow_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Icon hover",
        "id": "arrow_hover_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "arrow_bg_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background hover",
        "id": "arrow_bg_hover_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "arrow_border_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Border hover",
        "id": "arrow_border_hover_color",
        "default": "#121212"
      },
      {
        "type": "header",
        "content": "Product colors"
      },
      {
        "type": "color",
        "label": "Title",
        "id": "title_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Price",
        "id": "price_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Compare-at price",
        "id": "price_original_color",
        "default": "#AFAFAF"
      },
      {
        "type": "color",
        "label": "Details",
        "id": "text_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Caption",
        "id": "shipping_text_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "slide_bg_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "slide_border_color",
        "default": "#121212"
      },    
      {
        "type": "header",
        "content": "Badge colors"
      },
      {
        "type": "color",
        "label": "Text",
        "id": "badge_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "badge_bg_color",
        "default": "#FFFFFF"
      },     
      {
        "type": "color",
        "label": "Border",
        "id": "badge_border_color",
        "default": "#121212"
      },
      {
        "type": "header",
        "content": "Product button colors"
      },
      {
        "type": "color",
        "label": "Text",
        "id": "product_button_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Hover text",
        "id": "product_button_hover_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "product_button_bg_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background hover",
        "id": "product_button_bg_hover_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Button border",
        "id": "product_button_border_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Border hover",
        "id": "product_button_border_hover_color",
        "default": "#121212"
      },     
      {
        "type": "header",
        "content": "Button colors"
      },
      {
        "type": "color",
        "label": "Text",
        "id": "button_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Hover text",
        "id": "button_hover_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "button_bg_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background hover",
        "id": "button_bg_hover_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Button border",
        "id": "button_border_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Border hover",
        "id": "button_border_hover_color",
        "default": "#121212"
      },       
      {
        "type": "header",
        "content": "Section colors"
      },
      {
        "type": "color",
        "label": "Heading",
        "id": "heading_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient",
        "info": "Remove gradient to replace with solid colors"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#121212"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Margin sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Margin sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 36
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 5
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 1.5
      },
      {
        "type": "header",
        "content": "Section settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": false
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 800,
        "max": 2000,
        "step": 100,
        "unit": "px",
        "label": "Section content width",
        "default": 1200
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Section roundness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "SG-Product",
        "settings": [      
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },   
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Leave blank to use the product's default image."
          },   
          {
            "type": "text",
            "id": "badge",
            "label": "Badge",
            "default": "Badge"
          },
          {
            "type": "text",
            "id": "title", 
            "label": "Product title",
            "default": "Title", 
            "info": "Leave blank to display the product's title."
          },           
          {
            "type": "richtext",
            "id": "details", 
            "label": "Product details",
            "default": "<p>Product details</p>", 
            "info": "Leave blank to use the custom.specs metafield for product details. For best results, keep the word count similar across all products."
          },
          {
            "type": "url",
            "id": "url",
            "label": "Custom link",
            "info": "Leave blank to use the product's default link."
          }                    
        ]
      }
    ],
    "presets": [
      {
        "name": "SG- Featured collection #17",
        "blocks": [
          {
            "type": "product"
          },
          {
            "type": "product"
          },
          {
            "type": "product"            
          },
          {
            "type": "product"
          },
          {
            "type": "product"
          }
        ]
      }
    ]
  }
{% endschema %}