<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign body_gap_mobile = section.settings.body_gap_mobile
  assign body_gap = section.settings.body_gap

  assign content_padding_horizontal = section.settings.content_padding_horizontal
  assign content_padding_horizontal_mobile = section.settings.content_padding_horizontal_mobile
  assign content_padding_vertical = section.settings.content_padding_vertical
  assign content_padding_vertical_mobile = section.settings.content_padding_vertical_mobile
  assign content_bg_color = section.settings.content_bg_color
  assign content_radius = section.settings.content_radius
  assign content_top_gap_mobile = section.settings.content_top_gap_mobile
  assign content_top_gap  = section.settings.content_top_gap 

  assign newsletter_heading = section.settings.newsletter_heading
  assign newsletter_heading_size = section.settings.newsletter_heading_size
  assign newsletter_heading_size_mobile = section.settings.newsletter_heading_size_mobile
  assign newsletter_heading_color = section.settings.newsletter_heading_color
  assign newsletter_heading_custom = section.settings.newsletter_heading_custom
  assign newsletter_heading_font = section.settings.newsletter_heading_font
  assign newsletter_heading_height = section.settings.newsletter_heading_height
  assign newsletter_heading_align_mobile = section.settings.newsletter_heading_align_mobile
  assign newsletter_heading_align = section.settings.newsletter_heading_align

  assign form_radius = section.settings.form_radius
  assign form_border_thickness = section.settings.form_border_thickness
  assign form_border_color = section.settings.form_border_color
  assign form_mt_mobile = section.settings.form_mt_mobile
  assign form_mt = section.settings.form_mt
  assign use_redirect = section.settings.use_redirect
  assign redirect_url = section.settings.redirect_url

  assign input_size = section.settings.input_size
  assign input_size_mobile = section.settings.input_size_mobile
  assign input_color = section.settings.input_color
  assign input_custom = section.settings.input_custom
  assign input_font = section.settings.input_font
  assign input_height = section.settings.input_height
  assign input_bg_color = section.settings.input_bg_color
  assign input_padding_horizontal = section.settings.input_padding_horizontal
  assign input_padding_horizontal_mobile = section.settings.input_padding_horizontal_mobile
  assign input_padding_vertical = section.settings.input_padding_vertical
  assign input_padding_vertical_mobile = section.settings.input_padding_vertical_mobile
  assign input_placeholder = section.settings.input_placeholder
  assign input_placeholder_color = section.settings.input_placeholder_color

  assign submit_width = section.settings.submit_width
  assign submit_width_mobile = section.settings.submit_width_mobile
  assign submit_bg_color = section.settings.submit_bg_color
  assign submit_bg_hover_color = section.settings.submit_bg_hover_color
  assign submit_icon_size = section.settings.submit_icon_size
  assign submit_icon_size_mobile = section.settings.submit_icon_size_mobile
  assign submit_icon_color = section.settings.submit_icon_color
  assign submit_icon_hover_color = section.settings.submit_icon_hover_color

  assign newsletter_text = section.settings.newsletter_text
  assign newsletter_text_size = section.settings.newsletter_text_size
  assign newsletter_text_size_mobile = section.settings.newsletter_text_size_mobile
  assign newsletter_text_color = section.settings.newsletter_text_color
  assign newsletter_text_custom = section.settings.newsletter_text_custom
  assign newsletter_text_font = section.settings.newsletter_text_font
  assign newsletter_text_height = section.settings.newsletter_text_height
  assign newsletter_text_align_mobile = section.settings.newsletter_text_align_mobile
  assign newsletter_text_align = section.settings.newsletter_text_align
  assign newsletter_text_mt_mobile = section.settings.newsletter_text_mt_mobile
  assign newsletter_text_mt = section.settings.newsletter_text_mt

  assign menu = section.settings.menu

  assign list_gap_mobile = section.settings.list_gap_mobile
  assign list_gap = section.settings.list_gap

  assign link_size = section.settings.link_size
  assign link_size_mobile = section.settings.link_size_mobile
  assign link_color = section.settings.link_color
  assign link_hover_color = section.settings.link_hover_color
  assign link_custom = section.settings.link_custom
  assign link_font = section.settings.link_font
  assign link_height = section.settings.link_height

  assign twitter = section.settings.twitter
  assign facebook = section.settings.facebook
  assign linkedin = section.settings.linkedin
  assign instagram = section.settings.instagram
  assign youtube = section.settings.youtube
  assign pinterest = section.settings.pinterest
  assign whatsapp = section.settings.whatsapp
  assign tiktok = section.settings.tiktok

  assign social_list_gap = section.settings.social_list_gap
  assign social_list_gap_mobile = section.settings.social_list_gap_mobile

  assign social_icon_size_mobile = section.settings.social_icon_size_mobile
  assign social_icon_size = section.settings.social_icon_size
  assign social_icon_bg_color = section.settings.social_icon_bg_color
  assign social_icon_bg_hover_color = section.settings.social_icon_bg_hover_color
  assign social_icon_color = section.settings.social_icon_color
  assign social_icon_hover_color = section.settings.social_icon_hover_color

  assign logo = section.settings.logo
  assign logo_width_mobile = section.settings.logo_width_mobile
  assign logo_width = section.settings.logo_width
  assign logo_mt_mobile = section.settings.logo_mt_mobile
  assign logo_mt = section.settings.logo_mt
  assign logo_align = section.settings.logo_align
  assign logo_align_mobile = section.settings.logo_align_mobile

  assign logo_text = section.settings.logo_text
  assign logo_text_size = section.settings.logo_text_size
  assign logo_text_size_mobile = section.settings.logo_text_size_mobile
  assign logo_text_color = section.settings.logo_text_color
  assign logo_text_custom = section.settings.logo_text_custom
  assign logo_text_font = section.settings.logo_text_font
  assign logo_text_height = section.settings.logo_text_height

  assign autoplay_delay = section.settings.autoplay_delay

  assign image_radius = section.settings.image_radius
  assign image_border_thickness = section.settings.image_border_thickness
  assign image_border_color = section.settings.image_border_color

  assign tag_size = section.settings.tag_size
  assign tag_size_mobile = section.settings.tag_size_mobile
  assign tag_color = section.settings.tag_color
  assign tag_custom = section.settings.tag_custom
  assign tag_font = section.settings.tag_font
  assign tag_height = section.settings.tag_height
  assign tag_bg_color = section.settings.tag_bg_color
  assign tag_padding_horizontal = section.settings.tag_padding_horizontal
  assign tag_padding_horizontal_mobile = section.settings.tag_padding_horizontal_mobile
  assign tag_padding_vertical = section.settings.tag_padding_vertical
  assign tag_padding_vertical_mobile = section.settings.tag_padding_vertical_mobile
  assign tag_radius = section.settings.tag_radius

  assign thanks_text = section.settings.thanks_text
  assign thanks_text_size = section.settings.thanks_text_size
  assign thanks_text_size_mobile = section.settings.thanks_text_size_mobile
  assign thanks_text_color = section.settings.thanks_text_color
  assign thanks_text_custom = section.settings.thanks_text_custom
  assign thanks_text_font = section.settings.thanks_text_font
  assign thanks_text_height = section.settings.thanks_text_height
  assign thanks_text_mt = section.settings.thanks_text_mt
  assign thanks_text_mt_mobile = section.settings.thanks_text_mt_mobile
  
-%}

{%- style -%}

  {{ newsletter_heading_font | font_face: font_display: 'swap' }}
  {{ input_font | font_face: font_display: 'swap' }}
  {{ newsletter_text_font | font_face: font_display: 'swap' }}
  {{ link_font | font_face: font_display: 'swap' }}
  {{ logo_text_font | font_face: font_display: 'swap' }}
  {{ tag_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .footer-body-{{ section.id }} {
    display: grid;
    grid-template-columns: 1fr;
    gap: {{ body_gap_mobile }}px;
  }

  .footer-content-{{ section.id }} {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    background-color: {{ content_bg_color }};
    border-radius: {{ content_radius }}px;
    padding: {{ content_padding_vertical_mobile }}px {{ content_padding_horizontal_mobile }}px;
  }

  .footer-content-top-{{ section.id }} {
    display: grid;
    grid-template-columns: 1fr;
    gap: {{ content_top_gap_mobile }}px;
  }

  .footer-newsletter-heading-{{ section.id }} {
    text-align: {{ newsletter_heading_align_mobile }};
  }

  .footer-newsletter-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ newsletter_heading_size_mobile }}px;
    color: {{ newsletter_heading_color }};
    line-height: {{ newsletter_heading_height }}%;
    text-transform: unset;
    text-decoration: none;
    font-weight: 700;
  }

  .footer-newsletter-{{ section.id }} form {
    width: 100%:
  }

  .footer-newsletter-input-wrapper-{{ section.id }} {
    margin-top: {{ form_mt_mobile }}px;
    display: grid;
    grid-template-columns: 1fr {{ submit_width_mobile }}px;
    border-radius: {{ form_radius }}px;
    overflow: hidden;
    border: {{ form_border_thickness }}px solid {{ form_border_color }};
  }

  .footer-newsletter-input-{{ section.id }} {
    margin: 0;
    box-shadow: none;
    border: 0px;
    border-radius: 0px;
    width: 100%;
    font-size: {{ input_size_mobile }}px;
    color: {{ input_color }};
    line-height: {{ input_height }}%;
    text-transform: unset;
    background-color: {{ input_bg_color }};
    padding: {{ input_padding_vertical_mobile }}px {{ input_padding_horizontal_mobile }}px;
  }

  .footer-newsletter-input-{{ section.id }}:focus,
  .footer-newsletter-input-{{ section.id }}:focus-visible {
    box-shadow: none;
    outline: none;
  }

  .footer-newsletter-input-{{ section.id }}::placeholder {
    color: {{ input_placeholder_color }};
  }

  .footer-newsletter-btn-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0px;
    box-shadow: none;
    background-color: {{ submit_bg_color }};
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }

  .footer-newsletter-btn-{{ section.id }}:hover {
    background-color: {{ submit_bg_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .footer-newsletter-btn-{{ section.id }} svg {
    display: block;
    width: {{ submit_icon_size_mobile }}px;
    color: {{ submit_icon_color }};
    transition: all 0.25s ease 0s;
  }

  .footer-newsletter-btn-{{ section.id }}:hover svg {
    color: {{ submit_icon_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .footer-newsletter-text-{{ section.id }} {
    margin-top: {{ newsletter_text_mt_mobile }}px;
    text-align: {{ newsletter_text_align_mobile }};
  }

  .footer-newsletter-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ newsletter_text_size_mobile }}px;
    color: {{ newsletter_text_color }};
    line-height: {{ newsletter_text_height }}%;
    text-transform: unset;
  }

  .footer-content-right-{{ section.id }} {
    display: grid;
    grid-template-columns: 1fr {{ social_icon_size_mobile }}px;
    gap: 20px;
  }

  .footer-menu-list-{{ section.id }} {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: {{ list_gap_mobile }}px;
    list-style: none;
  }

  .footer-menu-item-{{ section.id }} {
    line-height: 100%;
  }

  .footer-menu-link-{{ section.id }} {
    display: block;
    max-width: fit-content;
    position: relative;
    margin: 0;
    font-size: {{ link_size_mobile }}px;
    color: {{ link_color }};
    line-height: {{ link_height }}%;
    text-transform: unset;
    text-decoration: none;
  }

  .footer-menu-link-{{ section.id }}::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: {{ link_hover_color }};
    opacity: 0;
    transition: all 0.25s ease 0s;
  }

  .footer-social-list-{{ section.id }} {
    display: flex;
    flex-direction: column;
    gap: {{ social_list_gap_mobile }}px;
    list-style: none;
    padding: 0px;
  }

  .footer-social-link-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    width: {{ social_icon_size_mobile }}px;
    height: {{ social_icon_size_mobile }}px;
    border-radius: 50%;
    background-color: {{ social_icon_bg_color }};
    transition: all 0.25s ease 0s;
  }

  .footer-social-link-{{ section.id }} svg {
    display: block;
    width: 50%;
    height: 50%;
    object-fit: cover;
  }

  .footer-social-link-{{ section.id }} svg path {
    fill: {{ social_icon_color }};
    transition: all 0.25s ease 0s;
  }

  .footer-logo-{{ section.id }} {
    margin-top: {{ logo_mt_mobile }}px;
  }

  .footer-logo-image-{{ section.id }} {
    width: 100%;
    max-width: {{ logo_width_mobile }}%;
  }

  .footer-logo-image-{{ section.id }} img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer-logo-text-{{ section.id }} {
    text-align: {{ logo_align_mobile }};
  }

  .footer-logo-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ logo_text_size_mobile }}px;
    color: {{ logo_text_color }};
    line-height: {{ logo_text_height }}%;
    text-transform: unset;
  }

  .footer-images-{{ section.id }} {
    order: 1;
    min-width: 0;
  }

  .footer-images-slider-{{ section.id }} {
     height: 100% !important;
   }

  .footer-image-{{ section.id }} {
    display: block;
    border-radius: {{ image_radius }}px;
    border: {{ image_border_thickness }}px solid {{ image_border_color }};
    overflow: hidden;
    box-sizing: border-box !important;
    position: relative;
    z-index: 1;
    text-decoration: none;
  }

  .footer-image-{{ section.id }} img,
  .footer-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .footer-tag-{{ section.id }} {
    position: absolute;
    left: 16px;
    bottom: 16px;
    z-index: 2;
    width: 100%;
    max-width: fit-content;
    margin: 0;
    font-size: {{ tag_size_mobile }}px;
    color: {{ tag_color }};
    line-height: {{ tag_height }}%;
    text-transform: unset;
    background-color: {{ tag_bg_color }};
    border-radius: {{ tag_radius }}px;
    padding: {{ tag_padding_vertical_mobile }}px {{ tag_padding_horizontal_mobile }}px;
    font-weight: 700;
  }
  
  .footer-newsletter-thanks-text-{{ section.id }} {
      display: none;
      margin: 0px;
      margin-top: {{ thanks_text_mt_mobile }}px;
      font-size: {{ thanks_text_size_mobile }}px;
      color: {{ thanks_text_color }};
      line-height: {{ thanks_text_height }}%;
      text-transform: unset;
  }

  .footer-newsletter-thanks-text-{{ section.id }}.active {
    display: block;
  }


  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .footer-body-{{ section.id }} {
      grid-template-columns: 2fr 1fr;
      gap: {{ body_gap }}px;
    }

    .footer-content-{{ section.id }} {
      order: 1;
      padding: {{ content_padding_vertical }}px {{ content_padding_horizontal }}px;
    }

    .footer-content-top-{{ section.id }} {
      grid-template-columns: 3fr 2fr;
      gap: {{ content_top_gap }}px;
    }

    .footer-newsletter-{{ section.id }} form {
      max-width: 80%;
    }

    .footer-newsletter-heading-{{ section.id }} {
      text-align: {{ newsletter_heading_align }};
    }
  
    .footer-newsletter-heading-{{ section.id }} * {
      font-size: {{ newsletter_heading_size }}px;
    }

    .footer-newsletter-input-wrapper-{{ section.id }} {
      margin-top: {{ form_mt }}px;
      grid-template-columns: 1fr {{ submit_width }}px;
    }

    .footer-newsletter-input-{{ section.id }} {
      font-size: {{ input_size }}px;
      padding: {{ input_padding_vertical }}px {{ input_padding_horizontal }}px;
    }

    .footer-newsletter-btn-{{ section.id }} svg {
      width: {{ submit_icon_size }}px;
    }

    .footer-newsletter-text-{{ section.id }} {
      margin-top: {{ newsletter_text_mt }}px;
      text-align: {{ newsletter_text_align }};
    }
  
    .footer-newsletter-text-{{ section.id }} * {
      font-size: {{ newsletter_text_size }}px;
    }

    .footer-content-right-{{ section.id }} {
      grid-template-columns: 1fr {{ social_icon_size }}px;
    }

    .footer-menu-list-{{ section.id }} {
      gap: {{ list_gap }}px;
    }

    .footer-menu-link-{{ section.id }} {
      font-size: {{ link_size }}px;
      transition: all 0.25s ease 0s;
    }

    .footer-menu-link-{{ section.id }}:hover {
      transition: all 0.25s ease 0s;
      color: {{ link_hover_color }};
    }

    .footer-menu-link-{{ section.id }}:hover::after {
      opacity: 1;
      transition: all 0.25s ease 0s;
    }

    .footer-social-list-{{ section.id }} {
      gap: {{ social_list_gap }}px;
    }
    
    .footer-social-link-{{ section.id }} {
      width: {{ social_icon_size }}px;
      height: {{ social_icon_size }}px;
    }

    .footer-social-link-{{ section.id }}:hover {
      background-color: {{ social_icon_bg_hover_color }};
      transition: all 0.25s ease 0s;
    }
    
    .footer-social-link-{{ section.id }}:hover svg path {
      fill: {{ social_icon_hover_color }};
      transition: all 0.25s ease 0s;
    }

    .footer-logo-{{ section.id }} {
      margin-top: {{ logo_mt }}px;
    }

    .footer-logo-image-{{ section.id }} {
      max-width: {{ logo_width }}%;
    }

    .footer-logo-text-{{ section.id }} {
      text-align: {{ logo_align }};
    }

    .footer-logo-text-{{ section.id }} * {
      font-size: {{ logo_text_size }}px;
    }

    .footer-images-{{ section.id }} {
      order: 2;
    }

    .footer-tag-{{ section.id }} {
      font-size: {{ tag_size }}px;
      padding: {{ tag_padding_vertical }}px {{ tag_padding_horizontal }}px;
    }
    
    
    .footer-newsletter-thanks-text-{{ section.id }} {
      margin-top: {{ thanks_text_mt }}px;
      font-size: {{ thanks_text_size }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if newsletter_heading_custom %}
  <style>
    .footer-newsletter-heading-{{ section.id }} * {
      font-family: {{ newsletter_heading_font.family }}, {{ newsletter_heading_font.fallback_families }};
      font-weight: {{ newsletter_heading_font.weight }};
      font-style: {{ newsletter_heading_font.style }};
    }
  </style>
{% endif %}

{% if input_custom %}
  <style>
    .footer-newsletter-input-{{ section.id }} {
      font-family: {{ input_font.family }}, {{ input_font.fallback_families }};
      font-weight: {{ input_font.weight }};
      font-style: {{ input_font.style }};
    }
  </style>
{% endif %}

{% if newsletter_text_custom %}
  <style>
    .footer-newsletter-text-{{ section.id }} * {
      font-family: {{ newsletter_text_font.family }}, {{ newsletter_text_font.fallback_families }};
      font-weight: {{ newsletter_text_font.weight }};
      font-style: {{ newsletter_text_font.style }};
    }
  </style>
{% endif %}

{% if link_custom %}
  <style>
    .footer-menu-link-{{ section.id }} {
      font-family: {{ link_font.family }}, {{ link_font.fallback_families }};
      font-weight: {{ link_font.weight }};
      font-style: {{ link_font.style }};
    }
  </style>
{% endif %}

{% if logo_text_custom %}
  <style>
    .footer-logo-text-{{ section.id }} * {
      font-family: {{ logo_text_font.family }}, {{ logo_text_font.fallback_families }};
      font-weight: {{ logo_text_font.weight }};
      font-style: {{ logo_text_font.style }};
    }
  </style>
{% endif %}


{% if thanks_text_custom %}
  <style>
    .footer-newsletter-thanks-text-{{ section.id }} {
      font-family: {{ thanks_text_font.family }}, {{ thanks_text_font.fallback_families }};
      font-weight: {{ thanks_text_font.weight }};
      font-style: {{ thanks_text_font.style }};
    }
  </style>
{% endif %}

{% if tag_custom %}
  <style>
    .footer-tag-{{ section.id }} {
      font-family: {{ tag_font.family }}, {{ tag_font.fallback_families }};
      font-weight: {{ tag_font.weight }};
      font-style: {{ tag_font.style }};
    }
  </style>
{% endif %}

{% if logo_align_mobile == "center" %}
  <style>
    .footer-logo-image-{{ section.id }} {
      margin-left: auto;
      margin-right: auto;
    }
  </style>
{% elsif logo_align_mobile == "right" %}
  <style>
    .footer-logo-image-{{ section.id }} {
      margin-left: auto;
    }
  </style>
{% endif %}

{% if logo_align == "center" %}
  <style>
    @media(min-width: 1024px) {
      .footer-logo-image-{{ section.id }} {
        margin-left: auto;
        margin-right: auto;
      } 
    }
  </style>
{% elsif logo_align == "right" %}
  <style>
    @media(min-width: 1024px) {
      .footer-logo-image-{{ section.id }} {
        margin-left: auto;
        margin-right: 0px;
      } 
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .footer-logo-image-{{ section.id }} {
        margin-left: 0px;
        margin-right: 0px;
      } 
    }
  </style>
{% endif %}

<div class="section-{{ section.id }} footer-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="footer-body-{{ section.id }}">
        <div class="footer-content-{{ section.id }}">
          <div class="footer-content-top-{{ section.id }}">
            <div class="footer-newsletter-{{ section.id }}">
              {% if newsletter_heading != blank %}
                <div class="footer-newsletter-heading-{{ section.id }}">
                  {{ newsletter_heading }}
                </div>
              {% endif %}

              {% form 'customer', class: 'footer-newsletter-form' %}
                <div class="footer-newsletter-input-wrapper-{{ section.id }}">
                  <input
                    type="email"
                    name="contact[email]"
                    class="footer-newsletter-input-{{ section.id }}"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-succesg--{{ section.id }}"
                    {% endif %}
                    placeholder="{{ input_placeholder }}"
                    required
                  >
                  <button type="submit" class="footer-newsletter-btn-{{ section.id }}" name="commit">
                    <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.21875 8.9873L18.7797 8.9873" stroke="currentColor" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"></path>
                      <path d="M12.9258 2.1665L19.755 8.98702L12.9258 15.8075" stroke="currentColor" stroke-width="1.5" stroke-linecap="square"></path>
                    </svg>
                  </button>
                </div>

                {% if form.posted_successfully? %}
                  <p class="footer-newsletter-thanks-text-{{ section.id }}">{{ thanks_text }}</p>
                {% endif %}
      
                <input type="hidden" name="contact[tags]" value="newsletter">
              {% endform %}

              {% if newsletter_text != blank %}
                <div class="footer-newsletter-text-{{ section.id }}">
                  {{ newsletter_text }}
                </div>
              {% endif %}

           
            </div>

            <div class="footer-content-right-{{ section.id }}">
              <div class="footer-menu-{{ section.id }}">
                {% if menu != blank %}
                  <ul class="footer-menu-list-{{ section.id }}">
                    {% for link in menu.links %}
                      <li class="footer-menu-item-{{ section.id }}">
                        <a href="{{ link.url }}" class="footer-menu-link-{{ section.id }}">{{ link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
              <div class="footer-socials-{{ section.id }}">
                <ul class="footer-social-list-{{ section.id }}">
                  {% if instagram != blank %}
                    <li class="footer-social-item-{{ section.id }}">
                      <a class="footer-social-link-{{ section.id }}" href="{{ instagram }}">
                        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <title>Instagram icon</title><path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z"></path>
                        </svg>
                      </a>
                    </li>
                  {% endif %}
                  {% if facebook != blank %}
                    <li class="footer-social-item-{{ section.id }}">
                      <a class="footer-social-link-{{ section.id }}" href="{{ facebook }}">
                        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 18" fill="none" class="w-16 h-16">
                    		<path d="M5.15 17.14h-3.1v-8.5H0V5.72h2.06V3.99c0-2.4.62-3.85 3.35-3.85h2.27v2.94H6.26c-1.06 0-1.11.4-1.11 1.16v1.47H7.7l-.3 2.93H5.14v8.5Z" fill="currentColor"></path>
                    	</svg>
                      </a>
                    </li>
                  {% endif %}
                  {% if twitter != blank %}
                    <li class="footer-social-item-{{ section.id }}">
                      <a class="footer-social-link-{{ section.id }}" href="{{ twitter }}">
                        <svg alt="" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M19 9.5C19 14.7467 14.7467 19 9.5 19C4.25329 19 0 14.7467 0 9.5C0 4.25329 4.25329 0 9.5 0C14.7467 0 19 4.25329 19 9.5ZM8.18721 10.0675L3.64633 3.99603H7.14609L10.123 7.97639L13.8073 3.99603H14.8358L10.5825 8.59099L15.379 15.0039H11.8792L8.64689 10.6819L4.6462 15.0039H3.61771L8.18721 10.0675ZM6.76655 4.75353H5.15877L12.2586 14.2464H13.8663L6.76655 4.75353Z" fill="{{ footer_border_color }}"></path>
                        </svg>
                      </a>
                    </li>
                  {% endif %}
                  {% if linkedin != blank %}
                    <li class="footer-social-item-{{ section.id }}">
                      <a class="footer-social-link-{{ section.id }}" href="{{ linkedin }}">
                        <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        	<path d="M1.82 0C.82 0 0 .82 0 1.82v12.36C0 15.18.82 16 1.82 16h12.36c1 0 1.82-.82 1.82-1.82V1.82c0-1-.82-1.82-1.82-1.82H1.82Zm0 1.45h12.36c.2 0 .37.16.37.37v12.36c0 .2-.16.37-.37.37H1.82a.36.36 0 0 1-.37-.37V1.82c0-.2.16-.37.37-.37ZM3.95 2.7a1.25 1.25 0 1 0 0 2.5 1.25 1.25 0 0 0 0-2.5Zm6.57 3.32c-1.04 0-1.73.57-2.02 1.12h-.05v-.96H6.41v6.91h2.14V9.7c0-.9.17-1.78 1.3-1.78 1.09 0 1.1 1.02 1.1 1.82v3.36h2.14V9.3c0-1.85-.4-3.27-2.57-3.27Zm-7.61.16v6.91h2.16V6.2H2.9Z" fill="currentColor"></path>
                    	</svg>
                      </a>
                    </li>
                  {% endif %}
                  {% if youtube != blank %}
                    <li class="footer-social-item-{{ section.id }}">
                      <a class="footer-social-link-{{ section.id }}" href="{{ youtube }}">
                        <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                          <title>YouTube icon</title><path d="M23.499 6.203a3.008 3.008 0 00-2.089-2.089c-1.87-.501-9.4-.501-9.4-.501s-7.509-.01-9.399.501a3.008 3.008 0 00-2.088 2.09A31.258 31.26 0 000 12.01a31.258 31.26 0 00.523 5.785 3.008 3.008 0 002.088 2.089c1.869.502 9.4.502 9.4.502s7.508 0 9.399-.502a3.008 3.008 0 002.089-2.09 31.258 31.26 0 00.5-5.784 31.258 31.26 0 00-.5-5.808zm-13.891 9.4V8.407l6.266 3.604z"></path>
                        </svg>
                      </a>
                    </li>
                  {% endif %}
                  {% if pinterest != blank %}
                    <li class="footer-social-item-{{ section.id }}">
                      <a class="footer-social-link-{{ section.id }}" href="{{ pinterest }}">
                        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <title>Pinterest icon</title><path d="M12.017 0C5.396 0 .029 5.367.029 11.987c0 5.079 3.158 9.417 7.618 11.162-.105-.949-.199-2.403.041-3.439.219-.937 1.406-5.957 1.406-5.957s-.359-.72-.359-1.781c0-1.663.967-2.911 2.168-2.911 1.024 0 1.518.769 1.518 1.688 0 1.029-.653 2.567-.992 3.992-.285 1.193.6 2.165 1.775 2.165 2.128 0 3.768-2.245 3.768-5.487 0-2.861-2.063-4.869-5.008-4.869-3.41 0-5.409 2.562-5.409 5.199 0 1.033.394 2.143.889 2.741.099.12.112.225.085.345-.09.375-.293 1.199-.334 1.363-.053.225-.172.271-.401.165-1.495-.69-2.433-2.878-2.433-4.646 0-3.776 2.748-7.252 7.92-7.252 4.158 0 7.392 2.967 7.392 6.923 0 4.135-2.607 7.462-6.233 7.462-1.214 0-2.354-.629-2.758-1.379l-.749 2.848c-.269 1.045-1.004 2.352-1.498 3.146 1.123.345 2.306.535 3.55.535 6.607 0 11.985-5.365 11.985-11.987C23.97 5.39 18.592.026 11.985.026L12.017 0z"></path>
                        </svg>
                      </a>
                    </li>
                  {% endif %}
                  {% if whatsapp != blank %}
                    <li class="footer-social-item-{{ section.id }}">
                      <a class="footer-social-link-{{ section.id }}" href="{{ whatsapp }}">
                        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <title>WhatsApp</title><path d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z"></path>
                        </svg>
                      </a>
                    </li>
                  {% endif %}
                  {% if tiktok != blank %}
                    <li class="footer-social-item-{{ section.id }}">
                      <a class="footer-social-link-{{ section.id }}" href="{{ tiktok }}">
                        <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                          <title>TikTok icon</title><path d="M12.525.02c1.31-.02 2.61-.01 3.91-.02.08 1.53.63 3.09 1.75 4.17 1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97-.57-.26-1.1-.59-1.62-.93-.01 2.92.01 5.84-.02 8.75-.08 1.4-.54 2.79-1.35 3.94-1.31 1.92-3.58 3.17-5.91 3.21-1.43.08-2.86-.31-4.08-1.03-2.02-1.19-3.44-3.37-3.65-5.71-.02-.5-.03-1-.01-1.49.18-1.9 1.12-3.72 2.58-4.96 1.66-1.44 3.98-2.13 6.15-1.72.02 1.48-.04 2.96-.04 4.44-.99-.32-2.15-.23-3.02.37-.63.41-1.11 1.04-1.36 1.75-.21.51-.15 1.07-.14 1.61.24 1.64 1.82 3.02 3.5 2.87 1.12-.01 2.19-.66 2.77-1.61.19-.33.4-.67.41-1.06.1-1.79.06-3.57.07-5.36.01-4.03-.01-8.05.02-12.07z"></path>
                        </svg>
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-content-bottom-{{ section.id }}">
            <div class="footer-logo-{{ section.id }}">
              {% if logo != blank %}
                <div class="footer-logo-image-{{ section.id }}">
                  <img src="{{ logo | image_url }}" alt="{{ logo.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                </div>
              {% else %}
                <div class="footer-logo-text-{{ section.id }}">
                  {% if logo_text != blank %}
                    {{ logo_text }}
                  {% else %}
                    <h2>{{ shop.name }}</h2>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="footer-images-{{ section.id }}">
          <div class="footer-images-slider-{{ section.id }} swiper">
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
                <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% else %}div{% endif %} class="footer-image-{{ section.id }} swiper-slide">
                  {% if block.settings.image != blank %}
                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                  {% else %}
                    {{ 'image' | placeholder_svg_tag }}
                  {% endif %}

                  {% if block.settings.tag != blank %}
                    <p class="footer-tag-{{ section.id }}">{{ block.settings.tag }}</p>
                  {% endif %}
                </{% if block.settings.url != blank %}a{% else %}div{% endif %}>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  function initFooter9() {
    const slider = new Swiper(".footer-images-slider-{{ section.id }}", {
      speed: 300,
      spaceBetween: 20,
      loop: true,
      slidesPerView: 1,
      autoplay: {
        delay: {{ autoplay_delay }}000,
      },
    });

    let thanksText = document.querySelector('.footer-newsletter-thanks-text-{{ section.id }}');

    {% if use_redirect %}
      const redirectUrl = '{{ redirect_url }}';
      const delayInMilliseconds = 2000;
    
      if (thanksText) {
        setTimeout(function() {
          window.location.href = redirectUrl;
        }, delayInMilliseconds);
      }
    {% endif %}
  }

  document.addEventListener('DOMContentLoaded', initFooter9);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initFooter9);
     document.addEventListener('shopify:section:load', initFooter9);
  }
</script>

{% schema %}
{
  "name": "SG-Footer #9",
  "settings": [
    {
      "type": "header",
      "content": "Layout settings"
    },
    {
      "type": "range",
      "id": "body_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 16
    },
    {
      "type": "range",
      "id": "body_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 16
    },
    {
      "type": "header",
      "content": "Content settings"
    },
    {
      "type": "range",
      "id": "content_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 60
    },
    {
      "type": "range",
      "id": "content_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 32
    },
    {
      "type": "range",
      "id": "content_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 70
    },
    {
      "type": "range",
      "id": "content_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 52
    },
    {
      "type": "range",
      "id": "content_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 24
    },
    {
      "type": "range",
      "id": "content_top_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 32
    },
    {
      "type": "range",
      "id": "content_top_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 56
    },
    {
      "type": "header",
      "content": "Newsletter heading settings"
    },
    {
      "type": "richtext",
      "id": "newsletter_heading",
      "label": "Heading",
      "default": "<h2>SIGN UP FOR OUR NEWSLETTER</h2>"
    },
    {
      "type": "checkbox",
      "id": "newsletter_heading_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "newsletter_heading_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "newsletter_heading_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 20
    },
    {
      "type": "range",
      "id": "newsletter_heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "newsletter_heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "text_alignment",
      "id": "newsletter_heading_align",
      "label": "Alignment"
    },
    {
      "type": "text_alignment",
      "id": "newsletter_heading_align_mobile",
      "label": "Alignment - mobile"
    },
    {
      "type": "header",
      "content": "Newsletter form settings"
    },
    {
      "type": "range",
      "id": "form_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 16
    },
    {
      "type": "range",
      "id": "form_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "form_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 16
    },
    {
      "type": "range",
      "id": "form_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 16
    },
    {
      "type": "checkbox",
      "id": "use_redirect",
      "label": "Redirect after submit",
      "default": true
    },
    {
      "type": "url",
      "id": "redirect_url",
      "label": "Redirect URL",
      "visible_if": "{{ section.settings.use_redirect }}"
    },
    {
      "type": "header",
      "content": "Newsletter input settings"
    },
    {
      "type": "text",
      "id": "input_placeholder",
      "label": "Placeholder text",
      "default": "Email"
    },
    {
      "type": "checkbox",
      "id": "input_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "input_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "input_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 18
    },
    {
      "type": "range",
      "id": "input_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "input_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 100
    },
    {
      "type": "range",
      "id": "input_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 20
    },
    {
      "type": "range",
      "id": "input_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "input_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 20
    },
    {
      "type": "range",
      "id": "input_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 16
    },
    {
      "type": "header",
      "content": "Success message settings"
    },
    {
      "type": "text",
      "id": "thanks_text",
      "label": "Text",
      "default": "Thanks for subscribing!"
    },
    {
      "type": "checkbox",
      "id": "thanks_text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "thanks_text_font",
      "label": "Font family",
      "default": "josefin_sans_n4",
      "visible_if": "{{ section.settings.thanks_text_custom }}"
    },
    {
      "type": "range",
      "id": "thanks_text_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 14
    },
    {
      "type": "range",
      "id": "thanks_text_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "thanks_text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "range",
      "id": "thanks_text_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 24
    },
    {
      "type": "range",
      "id": "thanks_text_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 20
    },
    {
      "type": "header",
      "content": "Newsletter submit settings"
    },
    {
      "type": "range",
      "id": "submit_width",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Width",
      "default": 72
    },
    {
      "type": "range",
      "id": "submit_width_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Width - mobile",
      "default": 72
    },
    {
      "type": "range",
      "id": "submit_icon_size",
      "min": 0,
      "max": 22,
      "step": 2,
      "unit": "px",
      "label": "Icon size",
      "default": 20
    },
    {
      "type": "range",
      "id": "submit_icon_size_mobile",
      "min": 0,
      "max": 22,
      "step": 2,
      "unit": "px",
      "label": "Icon size - mobile",
      "default": 20
    },
    {
      "type": "header",
      "content": "Newsletter text settings"
    },
    {
      "type": "richtext",
      "id": "newsletter_text",
      "label": "Text",
      "default": "<p>Need some help? <a href='#'>Get in touch</a>"
    },
    {
      "type": "checkbox",
      "id": "newsletter_text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "newsletter_text_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "newsletter_text_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 20
    },
    {
      "type": "range",
      "id": "newsletter_text_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "newsletter_text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "range",
      "id": "newsletter_text_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 76
    },
    {
      "type": "range",
      "id": "newsletter_text_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 24
    },
    {
      "type": "text_alignment",
      "id": "newsletter_text_align",
      "label": "Alignment"
    },
    {
      "type": "text_alignment",
      "id": "newsletter_text_align_mobile",
      "label": "Alignment - mobile"
    },
    {
      "type": "header",
      "content": "Menu settings"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "footer",
      "info": "Displays only top-level menu items."
    },
    {
      "type": "header",
      "content": "Menu list settings"
    },
    {
      "type": "range",
      "id": "list_gap",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 24
    },
    {
      "type": "range",
      "id": "list_gap_mobile",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 24
    },
    {
      "type": "header",
      "content": "Menu link settings"
    },
    {
      "type": "checkbox",
      "id": "link_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "link_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "link_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 20
    },
    {
      "type": "range",
      "id": "link_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "link_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "header",
      "content": "Socials settings"
    },
    {
      "type": "text",
      "label": "Twitter",
      "id": "twitter"
    },
    {
      "type": "text",
      "label": "Facebook",
      "id": "facebook"
    },
    {
      "type": "text",
      "label": "Linkedin",
      "id": "linkedin"
    },
    {
      "type": "text",
      "label": "Instagram",
      "id": "instagram",
      "default": "#"
    },
    {
      "type": "text",
      "label": "Youtube",
      "id": "youtube"
    },
    {
      "type": "text",
      "label": "Pinterest",
      "id": "pinterest"
    },
    {
      "type": "text",
      "label": "Whatsapp",
      "id": "whatsapp"
    },
    {
      "type": "text",
      "label": "Tiktok",
      "id": "tiktok",
      "default": "#"
    },
    {
      "type": "header",
      "content": "Social list settings"
    },
    {
      "type": "range",
      "id": "social_list_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 12
    },
    {
      "type": "range",
      "id": "social_list_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 12
    },
    {
      "type": "header",
      "content": "Social icon settings"
    },
    {
      "type": "range",
      "id": "social_icon_size",
      "min": 15,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 40
    },
    {
      "type": "range",
      "id": "social_icon_size_mobile",
      "min": 15,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Size - mobile",
      "default": 40
    },
    {
      "type": "header",
      "content": "Logo settings"
    },
    {
      "type": "range",
      "id": "logo_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 68
    },
    {
      "type": "range",
      "id": "logo_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 56
    },
    {
      "type": "text_alignment",
      "id": "logo_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "logo_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Logo image settings"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Width",
      "default": 70
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Width - mobile",
      "default": 70
    },
    {
      "type": "header",
      "content": "Logo text settings"
    },
    {
      "type": "richtext",
      "id": "logo_text",
      "label": "Text",
      "default": "<h2>section.store</h2>"
    },
    {
      "type": "checkbox",
      "id": "logo_text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "logo_text_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "logo_text_size",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 72
    },
    {
      "type": "range",
      "id": "logo_text_size_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 36
    },
    {
      "type": "range",
      "id": "logo_text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 100
    },
    {
      "type": "header",
      "content": "Image slider settings"
    },
    {
      "type": "range",
      "id": "autoplay_delay",
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "s",
      "label": "Autoplay delay",
      "default": 4
    },
    {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "range",
      "id": "image_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 24
    },
    {
      "type": "range",
      "id": "image_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "header",
      "content": "Image tag settings"
    },
    {
      "type": "checkbox",
      "id": "tag_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "tag_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "tag_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 20
    },
    {
      "type": "range",
      "id": "tag_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "tag_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 100
    },
    {
      "type": "range",
      "id": "tag_padding_horizontal",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 12
    },
    {
      "type": "range",
      "id": "tag_padding_horizontal_mobile",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "tag_padding_vertical",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 8
    },
    {
      "type": "range",
      "id": "tag_padding_vertical_mobile",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 8
    },
    {
      "type": "range",
      "id": "tag_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 100
    },
    {
      "type": "header",
      "content": "Content colors"
    },
    {
      "type": "color",
      "id": "content_bg_color",
      "label": "Background",
      "default": "#F2F2F2"
    },
    {
      "type": "header",
      "content": "Newsletter colors"
    },
    {
      "type": "color",
      "label": "Heading",
      "id": "newsletter_heading_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "newsletter_text_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Form border",
      "id": "form_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Thanks text",
      "id": "thanks_text_color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Newsletter input colors"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "input_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Placeholder",
      "id": "input_placeholder_color",
      "default": "#999999"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "input_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Newsletter submit colors"
    },
    {
      "type": "color",
      "label": "Icon",
      "id": "submit_icon_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Icon hover",
      "id": "submit_icon_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "submit_bg_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Background hover",
      "id": "submit_bg_hover_color",
      "default": "#333333"
    },
    {
      "type": "header",
      "content": "Menu link colors"
    },
    {
      "type": "color",
      "label": "Link",
      "id": "link_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Link hover",
      "id": "link_hover_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Social icon colors"
    },
    {
      "type": "color",
      "label": "Icon",
      "id": "social_icon_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Icon hover",
      "id": "social_icon_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Icon background",
      "id": "social_icon_bg_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Icon background hover",
      "id": "social_icon_bg_hover_color",
      "default": "#333333"
    },
    {
      "type": "header",
      "content": "Logo colors"
    },
    {
      "type": "color",
      "id": "logo_text_color",
      "label": "Logo text",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Image colors"
    },
    {
      "type": "color",
      "id": "tag_color",
      "label": "Tag text",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "tag_bg_color",
      "label": "Tag background",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "image_border_color",
      "label": "Image border",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Margin sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Margin sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 1
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 800,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "label": "Section content width",
      "default": 1500
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "tag",
          "label": "Tag",
          "default": "@tag"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Footer #9",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}