<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign section_radius = section.settings.section_radius  
  
  assign heading = section.settings.heading
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_height = section.settings.heading_height
  assign heading_color = section.settings.heading_color
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign slider_view = section.settings.slider_view
  assign slider_view_mobile = section.settings.slider_view_mobile
  assign slider_gap = section.settings.slider_gap
  assign slider_gap_mobile = section.settings.slider_gap_mobile  
  assign slider_mt = section.settings.slider_mt
  assign slider_mt_mobile = section.settings.slider_mt_mobile

  assign slide_radius = section.settings.slide_radius
  assign slide_bg_color = section.settings.slide_bg_color

  assign image_ratio = section.settings.image_ratio
  assign image_ratio_mobile = section.settings.image_ratio_mobile
  assign image_overlay_color = section.settings.image_overlay_color
  assign image_overlay = section.settings.image_overlay

  assign circle_horizontal_align = section.settings.circle_horizontal_align
  assign circle_horizontal_align_mobile = section.settings.circle_horizontal_align_mobile
  assign circle_progress = section.settings.circle_progress
  assign circle_size = section.settings.circle_size
  assign circle_size_mobile = section.settings.circle_size_mobile

  assign percent_size = section.settings.percent_size
  assign percent_size_mobile = section.settings.percent_size_mobile
  assign percent_color = section.settings.percent_color
  assign percent_custom = section.settings.percent_custom
  assign percent_font = section.settings.percent_font
  assign percent_height = section.settings.percent_height

  assign percent_text_custom = section.settings.percent_text_custom
  assign percent_text_font = section.settings.percent_text_font
  assign percent_text_size = section.settings.percent_text_size
  assign percent_text_size_mobile = section.settings.percent_text_size_mobile
  assign percent_text_height = section.settings.percent_text_height
  assign percent_text_color = section.settings.percent_text_color
  assign percent_text_mt = section.settings.percent_text_mt
  assign percent_text_mt_mobile = section.settings.percent_text_mt_mobile
  assign percent_text_align = section.settings.percent_text_align
  assign percent_text_align_mobile = section.settings.percent_text_align_mobile

  assign content_padding_horizontal = section.settings.content_padding_horizontal
  assign content_padding_horizontal_mobile = section.settings.content_padding_horizontal_mobile
  assign content_padding_vertical = section.settings.content_padding_vertical
  assign content_padding_vertical_mobile = section.settings.content_padding_vertical_mobile

  assign title_align = section.settings.title_align
  assign title_align_mobile = section.settings.title_align_mobile
  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_height = section.settings.title_height
  assign title_color = section.settings.title_color

  assign text_align = section.settings.text_align
  assign text_align_mobile = section.settings.text_align_mobile
  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_height = section.settings.text_height
  assign text_color = section.settings.text_color
  assign text_mt = section.settings.text_mt
  assign text_mt_mobile = section.settings.text_mt_mobile

  assign navigation_show_desktop = section.settings.navigation_show_desktop
  assign navigation_show_mobile = section.settings.navigation_show_mobile
  assign navigation_padding_vertical = section.settings.navigation_padding_vertical
  assign navigation_padding_vertical_mobile = section.settings.navigation_padding_vertical_mobile
  assign navigation_padding_horizontal = section.settings.navigation_padding_horizontal
  assign navigation_padding_horizontal_mobile = section.settings.navigation_padding_horizontal_mobile  
  assign navigation_gap = section.settings.navigation_gap  
  assign navigation_gap_mobile = section.settings.navigation_gap_mobile
  assign navigation_bg_color = section.settings.navigation_bg_color
  assign navigation_radius = section.settings.navigation_radius
  assign navigation_mt = section.settings.navigation_mt
  assign navigation_mt_mobile = section.settings.navigation_mt_mobile
  
  assign arrow_size = section.settings.arrow_size
  assign arrow_size_mobile = section.settings.arrow_size_mobile
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color

  assign pagination_custom = section.settings.pagination_custom
  assign pagination_font = section.settings.pagination_font
  assign pagination_size = section.settings.pagination_size
  assign pagination_size_mobile = section.settings.pagination_size_mobile
  assign pagination_height = section.settings.pagination_height
  assign pagination_color = section.settings.pagination_color

  assign button_horizontal_align = section.settings.button_horizontal_align
  assign button_horizontal_align_mobile = section.settings.button_horizontal_align_mobile
  assign button = section.settings.button
  assign button_url = section.settings.button_url
  assign button_size = section.settings.button_size
  assign button_size_mobile = section.settings.button_size_mobile
  assign button_color = section.settings.button_color
  assign button_hover_color = section.settings.button_hover_color
  assign button_custom = section.settings.button_custom
  assign button_font = section.settings.button_font
  assign button_height = section.settings.button_height
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_padding_vertical_mobile = section.settings.button_padding_vertical_mobile
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_padding_horizontal_mobile = section.settings.button_padding_horizontal_mobile
  assign button_radius = section.settings.button_radius
  assign button_border_thickness = section.settings.button_border_thickness
  assign button_border_color = section.settings.button_border_color
  assign button_border_hover_color = section.settings.button_border_hover_color
  assign button_bg_color = section.settings.button_bg_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color
  assign button_style = section.settings.button_style
  assign button_mt = section.settings.button_mt
  assign button_mt_mobile = section.settings.button_mt_mobile
-%}

{%- style -%}
  {{ heading_font | font_face: font_display: 'swap' }}
  {{ percent_font | font_face: font_display: 'swap' }}
  {{ button_font | font_face: font_display: 'swap' }}
  {{ percent_text_font | font_face: font_display: 'swap' }}
  {{ title_font | font_face: font_display: 'swap' }}
  {{ text_font | font_face: font_display: 'swap' }}
  {{ pagination_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .feature-heading-{{ section.id }} {
    text-align: {{ heading_align_mobile }};
  }

  .feature-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
    text-decoration: none;
  }

  .feature-slider-{{ section.id }} {
    margin-top: {{ slider_mt_mobile }}px !important;
    margin-left: -{{ padding_horizontal_mobile }}rem !important;
    padding-left: {{ padding_horizontal_mobile }}rem !important;
    margin-right: -{{ padding_horizontal_mobile }}rem !important;
    padding-right: {{ padding_horizontal_mobile }}rem !important;
  }

  .feature-slide-{{ section.id }} {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: {{ slide_bg_color }};
    border-radius: {{ slide_radius }}px;
  }

  .feature-image-{{ section.id }} {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: {{ slide_radius }}px {{ slide_radius }}px 0px 0px;
  }

  .feature-image-{{ section.id }}::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: {{ image_overlay_color | hex_to_rgba: image_overlay }};
    z-index: 1;
  }

  .feature-image-{{ section.id }} img,
  .feature-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: none;
    border: 0px;
  }

  .feature-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }  

  .feature-percent-content-{{ section.id }} {
    position: absolute;
    bottom: {{ content_padding_vertical_mobile }}px;
    left: {{ content_padding_horizontal_mobile }}px;
    width: calc(100% - {{ content_padding_horizontal_mobile | times: 2 }}px);
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  .feature-circle-container-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: {{ circle_horizontal_align_mobile }};
  } 

  .feature-circle-{{ section.id }} {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .feature-circle-container-{{ section.id }} svg {
    width: {{ circle_size_mobile }}px;
    height: {{ circle_size_mobile }}px;
  }

  .feature-circle-container-{{ section.id }} span {
    font-size: {{ percent_size_mobile }}px;
    color: {{ percent_color }};
    line-height: {{ percent_height }}%;
    position: absolute;
  }

  .feature-percent-text-{{ section.id }} {
    display: block;
    word-wrap: break-word;
    margin-top: {{ percent_text_mt_mobile }}px;
    text-align: {{ percent_text_align_mobile }};
  }

  .feature-percent-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ percent_text_size_mobile }}px;
    color: {{ percent_text_color }};
    line-height: {{ percent_text_height }}%;
    text-transform: unset;
  }

  .feature-slide-content-{{ section.id }} {
    padding: {{ content_padding_vertical_mobile }}px {{ content_padding_horizontal_mobile }}px;
  }

  .feature-title-{{ section.id }} {
    display: block;
    word-wrap: break-word;
    text-align: {{ title_align_mobile }};
  }

  .feature-title-{{ section.id }} * {
    margin: 0;
    font-size: {{ title_size_mobile }}px;
    color: {{ title_color }};
    line-height: {{ title_height }}%;
    text-transform: unset;
  }

  .feature-text-{{ section.id }} {
    display: block;
    word-wrap: break-word;
    text-align: {{ text_align_mobile }};
    margin-top: {{ text_mt_mobile }}px;
  }

  .feature-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ text_size_mobile }}px;
    color: {{ text_color }};
    line-height: {{ text_height }}%;
    text-transform: unset;
  }

  .feature-navigation-container-{{ section.id }} {
    justify-content: center;       
    margin-top: {{ navigation_mt_mobile }}px;
  }

  .feature-navigation-{{ section.id }} {    
    display: flex;
    align-items: center;
    gap: {{ navigation_gap_mobile }}px;    
    background-color: {{ navigation_bg_color }};
    border-radius: {{ navigation_radius }}px;
    padding: {{ navigation_padding_vertical_mobile }}px {{ navigation_padding_horizontal_mobile }}px;
  }  

  .feature-btn-prev-{{ section.id }},
  .feature-btn-next-{{ section.id }}{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: {{ arrow_size_mobile }}px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    flex-shrink: 0;
  }

  .feature-btn-prev-{{ section.id }} {
     transform: rotate(180deg);
  }

  .feature-btn-next-{{ section.id }} svg,
  .feature-btn-prev-{{ section.id }} svg {
    display: block;    
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;  
  }

  .feature-btn-prev-{{ section.id }} path,
  .feature-btn-next-{{ section.id }} path {
    fill: {{ arrow_color }};
    transition: all 0.25s ease 0s;
  }

  .feature-btn-prev-{{ section.id }}:hover path,
  .feature-btn-next-{{ section.id }}:hover path {
    fill: {{ arrow_hover_color }};
  }

  .feature-btn-prev-{{ section.id }}.swiper-button-disabled,
  .feature-btn-next-{{ section.id }}.swiper-button-disabled {
    opacity: 0.5;
  }
 
  .feature-pagination-{{ section.id }} {
    position: static !important;
    display: block;
    word-wrap: break-word;
    white-space: nowrap;
    margin: 0;
    font-size: {{ pagination_size_mobile }}px;
    color: {{ pagination_color }} !important;
    line-height: {{ pagination_height }}%;
    text-transform: unset;
  }

  .feature-btn-container-{{ section.id }} {
    width: 100%;
    display: flex;
    justify-content: {{ button_horizontal_align_mobile }};
  }

  .feature-button-{{ section.id }} {
    display: flex;
    align-items: center;
    max-width: fit-content;
    justify-content: center;
    gap: 10px;
    margin: 0;
    margin-top: {{ button_mt_mobile }}px;
    font-size: {{ button_size_mobile }}px;
    color: {{ button_color }};
    line-height: {{ button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical_mobile }}px {{ button_padding_horizontal_mobile }}px;
    border-radius: {{ button_radius }}px;
    transition: all 0.25s ease 0s;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-weight: 700;
  }
  

  .feature-button-inner-{{ section.id }} {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .feature-button-{{ section.id }}:hover {
    color: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .feature-button-{{ section.id }} svg {
    width: 14px;
    height: 14px;
  }

  .feature-button-{{ section.id }} svg path {
    fill: {{ button_color }};
    transition: all 0.25s ease 0s;
  }

  .feature-button-{{ section.id }}:hover svg path {
    fill: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }    

    .feature-heading-{{ section.id }} {
      text-align: {{ heading_align }};
    }
  
    .feature-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .feature-slider-{{ section.id }} {
      margin-top: {{ slider_mt }}px;
      margin-left: 0rem !important;
      padding-left: 0rem !important;
      margin-right: 0rem !important;
      padding-right: 0rem !important;
    }

    .feature-percent-content-{{ section.id }} {
      bottom: {{ content_padding_vertical }}px;
      left: {{ content_padding_horizontal }}px;
      width: calc(100% - {{ content_padding_horizontal | times: 2 }}px)
    }

    .feature-circle-container-{{ section.id }} {
      justify-content: {{ circle_horizontal_align }};
    } 

    .feature-circle-container-{{ section.id }} svg {
      width: {{ circle_size }}px;
      height: {{ circle_size }}px;
    }

    .feature-circle-container-{{ section.id }} span {
      font-size: {{ percent_size }}px;
    }

    .feature-percent-text-{{ section.id }} {
      margin-top: {{ percent_text_mt }}px;
      text-align: {{ percent_text_align }};
    }

    .feature-percent-text-{{ section.id }} * {      
      font-size: {{ percent_text_size }}px;
    }

    .feature-slide-content-{{ section.id }} {
      padding: {{ content_padding_vertical }}px {{ content_padding_horizontal }}px;
    }

    .feature-title-{{ section.id }} {
      text-align: {{ title_align }};
    }

    .feature-title-{{ section.id }} * {
      font-size: {{ title_size }}px;
    }

    .feature-text-{{ section.id }} {
      text-align: {{ text_align }};
      margin-top: {{ text_mt }}px;
    }

    .feature-text-{{ section.id }} * {
      font-size: {{ text_size }}px;
    }

    .feature-navigation-container-{{ section.id }} {   
      margin-top: {{ navigation_mt }}px;
    }

    .feature-navigation-{{ section.id }} {    
      gap: {{ navigation_gap }}px;    
      padding: {{ navigation_padding_vertical }}px {{ navigation_padding_horizontal }}px;
    }  

    .feature-pagination-{{ section.id }} {
      font-size: {{ pagination_size }}px;
    }

    .feature-btn-next-{{ section.id }},
    .feature-btn-prev-{{ section.id }} {
      width: {{ arrow_size }}px;
    }

    .feature-btn-container-{{ section.id }} {
      width: 100%;
      display: flex;
      justify-content: {{ button_horizontal_align }};
    }

    .feature-button-{{ section.id }} {
      margin-top: {{ button_mt }}px;
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
      font-size: {{ button_size }}px;
    }

  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}


{% if heading_custom %}
  <style>
    .feature-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if pagination_custom %}
  <style>
    .feature-pagination-{{ section.id }} {
      font-family: {{ pagination_font.family }}, {{ pagination_font.fallback_families }};
      font-weight: {{ pagination_font.weight }};
      font-style: {{ pagination_font.style }};
    }
  </style>
{% endif %}

{% if percent_custom %}
  <style>
    .feature-circle-container-{{ section.id }} span {
      font-family: {{ percent_font.family }}, {{ percent_font.fallback_families }};
      font-weight: {{ percent_font.weight }};
      font-style: {{ percent_font.style }};
    }
  </style>
{% endif %}

{% if percent_text_custom %}
  <style>
    .feature-percent-text-{{ section.id }} * {
      font-family: {{ percent_text_font.family }}, {{ percent_text_font.fallback_families }};
      font-weight: {{ percent_text_font.weight }};
      font-style: {{ percent_text_font.style }};
    }
  </style>
{% endif %}

{% if title_custom %}
  <style>
    .feature-title-{{ section.id }} * {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .feature-text-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if button_custom %}
  <style>
    .feature-button-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}

{% if image_ratio_mobile == "portrait" %}
  <style>
    .feature-image-{{ section.id }} {
      aspect-ratio: 9.6/13;
    }
  </style>
{% elsif image_ratio_mobile == "landscape" %}
  <style>
  .feature-image-{{ section.id }} {
    aspect-ratio: 12/8;
  }
  </style>
{% elsif image_ratio_mobile == "square" %}
  <style>
    .feature-image-{{ section.id }} {
      aspect-ratio: 12/12;
    }
  </style>
{% else %}
  <style>
    .feature-image-{{ section.id }} {
    aspect-ratio: auto;
    }
  </style>
{% endif %}

{% if image_ratio == "portrait" %}
  <style>
    @media (min-width: 1024px) {
      .feature-image-{{ section.id }} {
        aspect-ratio: 9.6/13;
      }
    }
  </style>
{% elsif image_ratio == "landscape" %}
  <style>
    @media (min-width: 1024px) {
      .feature-image-{{ section.id }} {
        aspect-ratio: 12/8;
      }
    }
  </style>
{% elsif image_ratio == "square" %}
  <style>
    @media (min-width: 1024px) {
      .feature-image-{{ section.id }} {
        aspect-ratio: 12/12;
      }
    }
  </style>
{% else %}
  <style>
    @media (min-width: 1024px) {
      .feature-image-{{ section.id }} {
        aspect-ratio: auto;
      }
    }
  </style>
{% endif %}

{% if navigation_show_mobile %} 
  <style>
    .feature-navigation-container-{{ section.id }} {
      display: flex;
    }
  </style>  
{% else %}
  <style>
    .feature-navigation-container-{{ section.id }} {
      display: none;
    }
  </style>
{% endif %}

{% if navigation_show_desktop %} 
  <style>
    @media(min-width: 1024px) {
      .feature-navigation-container-{{ section.id }} {
        display: flex;
      }
    }
  </style>  
{% else %}
  <style>
    @media(min-width: 1024px) {
      .feature-navigation-container-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if button_style == "non_outline" or button_style == "non_outline_arrow" %}
  <style>
    .feature-button-{{ section.id }} {
      background-color: {{ button_bg_color }};
    }

    .feature-button-{{ section.id }}:hover {
      background-color: {{ button_bg_hover_color }};
    }
  </style>
{% elsif button_style == "outline" or button_style == "outline_arrow" %}
  <style>
    .feature-button-{{ section.id }} {
      background-color: {{ button_bg_color }};
      border: {{ button_border_thickness }}px solid {{ button_border_color }};
    }

    .feature-button-{{ section.id }}:hover {
      background-color: {{ button_bg_hover_color }};
      border: {{ button_border_thickness }}px solid {{ button_border_hover_color }};
    }
  </style>
{% elsif button_style == "link" %}
  <style>
    .feature-button-{{ section.id }} {
      padding: 0px !important;
    }
  </style>
{% endif %}

{% comment %} PREVIEW {% endcomment %}
<style>
  .feature-slider-{{ section.id }}.preview .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }

  .feature-slider-{{ section.id }}.preview .feature-slide-{{ section.id }} {
    width: calc(100% / {{ slider_view_mobile }});
  }

  .feature-slider-{{ section.id }}.preview .feature-slide-{{ section.id }}:not(:last-child) {
    margin-right: {{ slider_gap_mobile }}px;
  } 

  @media(min-width: 1024px) {
    .feature-slider-{{ section.id }}.preview .feature-slide-{{ section.id }}:not(:last-child) {
      margin-right: {{ slider_gap }}px;
    } 

    .feature-slider-{{ section.id }}.preview .feature-slide-{{ section.id }} {
      width: calc((100% - (20px * {{ slider_view | minus: 1 }}) ) / {{ slider_view }});
    }
  }
</style>


<div class="section-{{ section.id }} feature-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      {% if heading != blank %}
        <div class="feature-heading-{{ section.id }}">
          {{ heading }}
        </div>
      {% endif %}      
      <div class="swiper preview feature-slider-{{ section.id }}">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide feature-slide-{{ section.id }}">
              <div class="feature-image-{{ section.id }}">
                {% if block.settings.image != blank %}
                  <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                {% else %}
                  {{ 'image' | placeholder_svg_tag }}
                {% endif %}
                <div class="feature-percent-content-{{ section.id }}">
                  {% if block.settings.percent > 0 %}
                    <div class="feature-circle-container-{{ section.id }}">
                      <div class="feature-circle-{{ section.id }}" data-percent="{{ block.settings.percent }}"></div>
                    </div>                     
                  {% endif %}
                  {% if block.settings.percent_text != blank %} 
                    <div class="feature-percent-text-{{ section.id }}">
                      {{ block.settings.percent_text }}
                    </div>
                  {% endif %}                  
                </div>                
              </div>               
              <div class="feature-slide-content-{{ section.id }}">
                {% if block.settings.title != blank %}
                  <div class="feature-title-{{ section.id }}">
                    {{ block.settings.title }}
                  </div>
                {% endif %}
                {% if block.settings.text != blank %}
                  <div class="feature-text-{{ section.id }}">
                    {{ block.settings.text }}
                  </div>  
                {% endif %}
                
                
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="feature-navigation-container-{{ section.id }}">
        <div class="feature-navigation-{{ section.id }}">
          <button class="feature-btn-prev-{{ section.id }}">
            <svg id="Layer_1" enable-background="new 0 0 100 100" height="512" viewBox="0 0 100 100" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m81.115 45.133-.997 1.734 3.541 2.035-71.04-.001v2l71.491.001-3.761 2.557 1.125 1.654 7.79-5.297z"/></svg>
          </button>
          <div class="feature-pagination-{{ section.id }} swiper-pagination"></div>
          <button class="feature-btn-next-{{ section.id }}">
            <svg id="Layer_1" enable-background="new 0 0 100 100" height="512" viewBox="0 0 100 100" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m81.115 45.133-.997 1.734 3.541 2.035-71.04-.001v2l71.491.001-3.761 2.557 1.125 1.654 7.79-5.297z"/></svg>
          </button>
        </div> 
      </div>               
      {% if button != blank %}
        <div class="feature-btn-container-{{ section.id }}">
          <a href="{{ button_url }}" class="feature-button-{{ section.id }}">
            <p class="feature-button-inner-{{ section.id }}">
            {{ button }}
            {% if button_style == "non_outline_arrow" or button_style == "outline_arrow" %}
                <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                  <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                </svg>
              {% endif %}
            </p>
          </a>
        </div>          
      {% endif %}   
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  
  function initFeature22() {
  document.querySelector('.feature-slider-{{ section.id }}').classList.remove('preview');
  const slider = new Swiper(".feature-slider-{{ section.id }}", {
    speed: 800,
    spaceBetween: 20,
    navigation: {
      nextEl: ".feature-btn-next-{{ section.id }}",
      prevEl: ".feature-btn-prev-{{ section.id }}",
    },
    pagination: {
      el: '.feature-pagination-{{ section.id }}',
      type: 'fraction',
      clickable: true,

      renderFraction: function (currentClass, totalClass) {
      return '<span class="' + currentClass + '"></span>' + ' <span>of</span> ' + '<span class="' + totalClass + '"></span>'; }
    },
    breakpoints: {
      320: {
        spaceBetween: {{ slider_gap_mobile }},
        slidesPerView: {{ slider_view_mobile }},
      },
      768: {
        spaceBetween: {{ slider_gap_mobile }},
        slidesPerView: {{ slider_view_mobile }},
      },
      1024: {
        spaceBetween: {{ slider_gap }},
        slidesPerView: {{ slider_view }},
      }
    }
  });

  function animateElement(el) {
    var existingSvg = el.querySelector('svg');
    if (!existingSvg) {
      var options = {
        percent: el.getAttribute('data-percent') || 25,
        size: el.getAttribute('data-size') || 100,
        lineWidth: el.getAttribute('data-line') || 2,
        rotate: el.getAttribute('data-rotate') || 0
      };

      var svgNamespace = "http://www.w3.org/2000/svg";
      var svg = document.createElementNS(svgNamespace, "svg");
      svg.setAttribute("width", options.size);
      svg.setAttribute("height", options.size);
      svg.setAttribute("viewBox", "0 0 36 36");
      svg.style.backgroundColor = "transparent";

      var circle = document.createElementNS(svgNamespace, "path");
      circle.setAttribute("d", "M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831");
      circle.setAttribute("fill", "none");
      circle.setAttribute("stroke", "{{ circle_progress }}");
      circle.setAttribute("stroke-width", options.lineWidth);
      circle.setAttribute("stroke-dasharray", "0, 100");

      svg.appendChild(circle);
      el.appendChild(svg);

      var span = document.createElement('span');
      span.textContent = '0%';
      el.appendChild(span);

      var animateCircle = function(currentPercent) {
        var dashArray = `${currentPercent}, 100`;
        circle.setAttribute('stroke-dasharray', dashArray);
        span.textContent = Math.round(currentPercent) + '%';

        if (currentPercent < options.percent) {
          requestAnimationFrame(function() {
            animateCircle(currentPercent + 1);
          });
        }
      };

      animateCircle(0);
    }
  }

  var slides = document.querySelectorAll('.feature-slide-{{ section.id }}');

  var observer = new IntersectionObserver(function(entries, observer) {
    entries.forEach(function(entry) {
      if (entry.isIntersecting) {
        var elements = entry.target.querySelectorAll('.feature-circle-{{ section.id }}');
        elements.forEach(function(el) {
          setTimeout(() => {
            animateElement(el);
          }, 400)
        });
        observer.unobserve(entry.target);
      }
    });
  }, { threshold: 0.1 });

  if (slides) {
    slides.forEach(el => {
      observer.observe(el);
    })
  }
}

  document.addEventListener('DOMContentLoaded', initFeature22);

  if (Shopify.designMode) {
    document.addEventListener('shopify:section:load', initFeature22);
    document.addEventListener('shopify:section:onload', initFeature22);
  }
</script>


{% schema %}
{
  "name": "SG-Feature #22",
  "settings": [
    {
      "type": "paragraph",
      "content": "Save to display section correctly."
    },
    {
      "type": "header",
      "content": "Heading settings"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Text",
      "default": "<h2>Heading</h2>"
    },
    {
      "type": "checkbox",
      "id": "heading_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 36
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 24
    },
    {
      "type": "range",
      "id": "heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "text_alignment",
      "id": "heading_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "heading_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "range",
      "id": "slider_view",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "Slides per view",
      "default": 3
    },
    {
      "type": "range",
      "id": "slider_view_mobile",
      "min": 1,
      "max": 2,
      "step": 0.1,
      "label": "Slides per view - mobile",
      "default": 1.3
    },
    {
      "type": "range",
      "id": "slider_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 20
    },
    {
      "type": "range",
      "id": "slider_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "slider_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 36
    },
    {
      "type": "range",
      "id": "slider_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 28
    },
    {
      "type": "header",
      "content": "Slide settings"
    },
    {
      "type": "range",
      "id": "slide_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 0
    },
    {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Aspect ratio",
      "default": "square",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_ratio_mobile",
      "label": "Aspect ratio - mobile",
      "default": "square",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "range",
      "id": "image_overlay",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Overlay",
      "default": 0
    },
    {
      "type": "header",
      "content": "Percent settings"
    },
    {
      "type": "checkbox",
      "id": "percent_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "percent_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "percent_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 18
    },
    {
      "type": "range",
      "id": "percent_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Size - mobile",
      "default": 18
    },
    {
      "type": "range",
      "id": "percent_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 100
    },
    {
      "type": "range",
      "id": "circle_size",
      "min": 20,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Circle size",
      "default": 80
    },
    {
      "type": "range",
      "id": "circle_size_mobile",
      "min": 20,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Circle size - mobile",
      "default": 80
    },
    {
      "type": "select",
      "id": "circle_horizontal_align",
      "label": "Alignment",
      "default": "start",
      "options": [
        {
          "label": "Left",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "end"
        }
      ]
    },
    {
      "type": "select",
      "id": "circle_horizontal_align_mobile",
      "label": "Alignment - mobile",
      "default": "start",
      "options": [
        {
          "label": "Left",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "end"
        }
      ]
    },
    {
      "type": "header",
      "content": "Subtext settings"
    },
    {
      "type": "checkbox",
      "id": "percent_text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "percent_text_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "percent_text_size",
      "min": 0,
      "max": 72,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "percent_text_size_mobile",
      "min": 0,
      "max": 72,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "percent_text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "range",
      "id": "percent_text_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 10
    },
    {
      "type": "range",
      "id": "percent_text_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 10
    },
    {
      "type": "text_alignment",
      "id": "percent_text_align",
      "label": "Alignment"
    },
    {
      "type": "text_alignment",
      "id": "percent_text_align_mobile",
      "label": "Alignment - mobile"
    },
    {
      "type": "header",
      "content": "Slide content settings"
    },
    {
      "type": "range",
      "id": "content_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 20
    },
    {
      "type": "range",
      "id": "content_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "content_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 20
    },
    {
      "type": "range",
      "id": "content_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 20
    },
    {
      "type": "header",
      "content": "Slide title settings"
    },
    {
      "type": "checkbox",
      "id": "title_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "title_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "title_size",
      "min": 0,
      "max": 72,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "min": 0,
      "max": 72,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "title_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "text_alignment",
      "id": "title_align",
      "label": "Alignment"
    },
    {
      "type": "text_alignment",
      "id": "title_align_mobile",
      "label": "Alignment - mobile"
    },
    {
      "type": "header",
      "content": "Slide text settings"
    },
    {
      "type": "checkbox",
      "id": "text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "text_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "text_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 14
    },
    {
      "type": "range",
      "id": "text_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "range",
      "id": "text_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 12
    },
    {
      "type": "range",
      "id": "text_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 12
    },
    {
      "type": "text_alignment",
      "id": "text_align",
      "label": "Alignment"
    },
    {
      "type": "text_alignment",
      "id": "text_align_mobile",
      "label": "Alignment - mobile"
    },
    {
      "type": "header",
      "content": "Navigation settings"
    },
    {
      "type": "checkbox",
      "id": "navigation_show_desktop",
      "label": "Show on desktop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "navigation_show_mobile",
      "label": "Show on mobile",
      "default": false
    },
    {
      "type": "range",
      "id": "navigation_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 6
    },
    {
      "type": "range",
      "id": "navigation_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 6
    },
    {
      "type": "range",
      "id": "navigation_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 16
    },
    {
      "type": "range",
      "id": "navigation_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "navigation_gap",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 6
    },
    {
      "type": "range",
      "id": "navigation_gap_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 6
    },
    {
      "type": "range",
      "id": "navigation_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 100
    },
    {
      "type": "range",
      "id": "navigation_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 24
    },
    {
      "type": "range",
      "id": "navigation_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 24
    },
    {
      "type": "header",
      "content": "Navigation arrow settings"
    },
    {
      "type": "range",
      "id": "arrow_size",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Arrow size",
      "default": 48
    },
    {
      "type": "range",
      "id": "arrow_size_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Arrow size - mobile",
      "default": 56
    },
    {
      "type": "header",
      "content": "Pagination settings"
    },
    {
      "type": "checkbox",
      "id": "pagination_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "pagination_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "pagination_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 12
    },
    {
      "type": "range",
      "id": "pagination_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "pagination_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "header",
      "content": "Button settings"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button label",
      "default": "LEARN MORE",
      "info": "Leave the label blank to hide the button."
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "checkbox",
      "id": "button_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "button_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "button_size",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 14
    },
    {
      "type": "range",
      "id": "button_size_mobile",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "button_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 100
    },
    {
      "type": "range",
      "id": "button_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 32
    },
    {
      "type": "range",
      "id": "button_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 24
    },
    {
      "type": "range",
      "id": "button_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 100
    },
    {
      "type": "range",
      "id": "button_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 1
    },
    {
      "type": "range",
      "id": "button_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 24
    },
    {
      "type": "range",
      "id": "button_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 16
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "default": "outline",
      "options": [
        {
          "label": "Link",
          "value": "link"
        },
        {
          "label": "Non-outline",
          "value": "non_outline"
        },
        {
          "label": "Non-outline & arrow",
          "value": "non_outline_arrow"
        },
        {
          "label": "Outline",
          "value": "outline"
        },
        {
          "label": "Outline & arrow",
          "value": "outline_arrow"
        }
      ]
    },
    {
      "type": "select",
      "id": "button_horizontal_align",
      "label": "Alignment",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "end"
        }
      ]
    },
    {
      "type": "select",
      "id": "button_horizontal_align_mobile",
      "label": "Alignment - mobile",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "end"
        }
      ]
    },
    {
      "type": "header",
      "content": "Slide colors"
    },
    {
      "type": "color",
      "label": "Progress circle",
      "id": "circle_progress",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Percent number",
      "id": "percent_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Subtext",
      "id": "percent_text_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Title",
      "id": "title_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "text_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "slide_bg_color",
      "default": "#F3F3F3"
    },
    {
      "type": "color",
      "label": "Image overlay",
      "id": "image_overlay_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Navigation colors"
    },
    {
      "type": "color",
      "label": "Pagination",
      "id": "pagination_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Arrows",
      "id": "arrow_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Arrows hover",
      "id": "arrow_hover_color",
      "default": "#ababab"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "navigation_bg_color",
      "default": "#F3F3F3"
    },
    {
      "type": "header",
      "content": "Button colors"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "button_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Hover text",
      "id": "button_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "button_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Background hover",
      "id": "button_bg_hover_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Button border",
      "id": "button_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Border hover",
      "id": "button_border_hover_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "color",
      "label": "Heading",
      "id": "heading_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Margin sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Margin sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 2
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 1000,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "label": "Section content width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "percent",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Percent",
          "default": 90
        },
        {
          "type": "richtext",
          "id": "percent_text",
          "label": "Subtext",
          "default": "<p>Optional subtext</p>"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title",
          "default": "<h3>TELL YOUR STORY</h3>"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Talk about results of your customers and how your product improved their life.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Feature #22",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}