{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign newsletter_heading = section.settings.newsletter_heading
  assign newsletter_heading_size = section.settings.newsletter_heading_size
  assign newsletter_heading_size_mobile = section.settings.newsletter_heading_size_mobile
  assign newsletter_heading_color = section.settings.newsletter_heading_color
  assign newsletter_heading_custom = section.settings.newsletter_heading_custom
  assign newsletter_heading_font = section.settings.newsletter_heading_font
  assign newsletter_heading_height = section.settings.newsletter_heading_height
  assign newsletter_heading_align_mobile = section.settings.newsletter_heading_align_mobile
  assign newsletter_heading_align = section.settings.newsletter_heading_align

  assign input_size = section.settings.input_size
  assign input_size_mobile = section.settings.input_size_mobile
  assign input_color = section.settings.input_color
  assign input_custom = section.settings.input_custom
  assign input_font = section.settings.input_font
  assign input_height = section.settings.input_height
  assign input_border_thickness = section.settings.input_border_thickness
  assign input_border_color = section.settings.input_border_color
  assign input_mt_mobile = section.settings.input_mt_mobile
  assign input_mt = section.settings.input_mt
  
  assign input_placeholder = section.settings.input_placeholder
  assign input_placeholder_color = section.settings.input_placeholder_color

  assign btn_arrow_color = section.settings.btn_arrow_color

  assign logo = section.settings.logo
  assign logo_width_mobile = section.settings.logo_width_mobile
  assign logo_width = section.settings.logo_width
  assign logo_mt_mobile = section.settings.logo_mt_mobile
  assign logo_mt = section.settings.logo_mt
  assign logo_align = section.settings.logo_align
  assign logo_align_mobile = section.settings.logo_align_mobile

  assign logo_text = section.settings.logo_text
  assign logo_text_size = section.settings.logo_text_size
  assign logo_text_size_mobile = section.settings.logo_text_size_mobile
  assign logo_text_color = section.settings.logo_text_color
  assign logo_text_custom = section.settings.logo_text_custom
  assign logo_text_font = section.settings.logo_text_font
  assign logo_text_height = section.settings.logo_text_height

  assign text = section.settings.text
  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_color = section.settings.text_color
  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_height = section.settings.text_height
  assign text_mt = section.settings.text_mt
  assign text_mt_mobile = section.settings.text_mt_mobile
  assign text_align = section.settings.text_align
  assign text_align_mobile = section.settings.text_align_mobile

  assign menus_gap_mobile = section.settings.menus_gap_mobile
  assign menus_gap = section.settings.menus_gap
  assign menus_mt = section.settings.menus_mt
  assign menus_mt_mobile = section.settings.menus_mt_mobile

  assign image_ratio = section.settings.image_ratio
  assign image_ratio_mobile = section.settings.image_ratio_mobile
  assign image_radius = section.settings.image_radius
  assign image_grid_mobile = section.settings.image_grid_mobile

  assign menu_heading_size = section.settings.menu_heading_size
  assign menu_heading_size_mobile = section.settings.menu_heading_size_mobile
  assign menu_heading_color = section.settings.menu_heading_color
  assign menu_heading_custom = section.settings.menu_heading_custom
  assign menu_heading_font = section.settings.menu_heading_font
  assign menu_heading_height = section.settings.menu_heading_height
  assign menu_heading_mt = section.settings.menu_heading_mt
  assign menu_heading_mt_mobile = section.settings.menu_heading_mt_mobile

  assign list_gap_mobile = section.settings.list_gap_mobile
  assign list_gap = section.settings.list_gap
  assign list_mt = section.settings.list_mt
  assign list_mt_mobile = section.settings.list_mt_mobile

  assign link_size = section.settings.link_size
  assign link_size_mobile = section.settings.link_size_mobile
  assign link_color = section.settings.link_color
  assign link_hover_color = section.settings.link_hover_color
  assign link_custom = section.settings.link_custom
  assign link_font = section.settings.link_font
  assign link_height = section.settings.link_height

  assign copy_text = section.settings.copy_text
  assign copy_text_size = section.settings.copy_text_size
  assign copy_text_size_mobile = section.settings.copy_text_size_mobile
  assign copy_text_color = section.settings.copy_text_color
  assign copy_text_custom = section.settings.copy_text_custom
  assign copy_text_font = section.settings.copy_text_font
  assign copy_text_height = section.settings.copy_text_height
  assign copy_text_mt = section.settings.copy_text_mt
  assign copy_text_mt_mobile = section.settings.copy_text_mt_mobile
  assign copy_text_align = section.settings.copy_text_align
  assign copy_text_align_mobile = section.settings.copy_text_align_mobile
  
-%}

{%- style -%}

  {{ newsletter_heading_font | font_face: font_display: 'swap' }}
  {{ input_font | font_face: font_display: 'swap' }}
  {{ logo_text_font | font_face: font_display: 'swap' }}
  {{ text_font | font_face: font_display: 'swap' }}
  {{ menu_heading_font | font_face: font_display: 'swap' }}
  {{ link_font | font_face: font_display: 'swap' }}
  {{ copy_text_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .footer-newsletter-heading-{{ section.id }} {
    text-align: {{ newsletter_heading_align_mobile }};
  }

  .footer-newsletter-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ newsletter_heading_size_mobile }}px;
    color: {{ newsletter_heading_color }};
    line-height: {{ newsletter_heading_height }}%;
    text-transform: unset;
    text-decoration: none;
    font-weight: 700;
  }

  .footer-newsletter-input-wrapper-{{ section.id }} {
    margin-top: {{ input_mt_mobile }}px;
    position: relative;
    z-index: 1;
  }

  .footer-newsletter-input-{{ section.id }} {
    width: 100%;
    margin: 0;
    box-shadow: none;
    border: 0px;
    border-radius: 0px;
    font-size: {{ input_size_mobile }}px;
    color: {{ input_color }};
    line-height: {{ input_height }}%;
    text-transform: unset;
    border-bottom: {{ input_border_thickness }}px solid {{ input_border_color }};
    background-color: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 50px;
  }

  .footer-newsletter-input-{{ section.id }}:focus,
  .footer-newsletter-input-{{ section.id }}:focus-visible {
    box-shadow: none;
    outline: none;
  }

  .footer-newsletter-input-{{ section.id }}::placeholder {
    color: {{ input_placeholder_color }};
  }

  .footer-newsletter-btn-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 5px;
    width: 44px;
    height: 100%;
    border: 0px;
    box-shadow: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
  }

  .footer-newsletter-btn-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer-logo-{{ section.id }} {
    margin-top: {{ logo_mt_mobile }}px;
  }

  .footer-logo-image-{{ section.id }} {
    width: 100%;
    max-width: {{ logo_width_mobile }}%;
  }

  .footer-logo-image-{{ section.id }} img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer-logo-text-{{ section.id }} {
    text-align: {{ logo_align_mobile }};
  }

  .footer-logo-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ logo_text_size_mobile }}px;
    color: {{ logo_text_color }};
    line-height: {{ logo_text_height }}%;
    text-transform: unset;
  }

  .footer-text-{{ section.id }} {
    margin-top: {{ text_mt_mobile }}px;
    text-align: {{ text_align_mobile }};
  }

  .footer-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ text_size_mobile }}px;
    color: {{ text_color }};
    line-height: {{ text_height }}%;
    text-transform: unset;
  }

  .footer-body-{{ section.id }} {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: {{ menus_gap_mobile }}px;
  }

  .footer-images-{{ section.id }} {
    margin-top: {{ menus_mt_mobile }}px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat({{ image_grid_mobile }}, 1fr);
  }

  .footer-image-{{ section.id }} {
    border-radius: {{ image_radius }}px;
    overflow: hidden;
  }

  .footer-image-{{ section.id }} img,
  .footer-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer-image-{{ section.id }} svg {
    background-color: white;
  }

  .footer-image-{{ section.id }} svg path{
    fill: {{ background_color }}; 
  }

  .footer-menu-{{ section.id }} .footer-image-{{ section.id }} {
    display: none;
  }

  .footer-menu-heading-{{ section.id }} {
    margin: 0;
    margin-top: {{ menu_heading_mt_mobile }}px;
    font-size: {{ menu_heading_size_mobile }}px;
    color: {{ menu_heading_color }};
    line-height: {{ menu_heading_height }}%;
    text-transform: unset;
    text-decoration: none;
    font-weight: 700;
  }

  .footer-menu-list-{{ section.id }} {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: {{ list_gap_mobile }}px;
    margin-top: {{ list_mt_mobile }}px;
    list-style: none;
  }

  .footer-menu-item-{{ section.id }} {
    line-height: 100%;
  }

  .footer-menu-link-{{ section.id }} {
    margin: 0;
    font-size: {{ link_size_mobile }}px;
    color: {{ link_color }};
    line-height: {{ link_height }}%;
    text-transform: unset;
    text-decoration: none;
  }

  .footer-copy-text-{{ section.id }} {
    margin-top: {{ copy_text_mt_mobile }}px;
    text-align: {{ copy_text_align_mobile }};
  }

  .footer-copy-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ copy_text_size_mobile }}px;
    color: {{ copy_text_color }};
    line-height: {{ copy_text_height }}%;
    text-transform: unset;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .footer-newsletter-heading-{{ section.id }} {
      text-align: {{ newsletter_heading_align }};
    }
  
    .footer-newsletter-heading-{{ section.id }} * {
      font-size: {{ newsletter_heading_size }}px;
    }

    .footer-newsletter-input-wrapper-{{ section.id }} {
      margin-top: {{ input_mt }}px;
    }

    .footer-newsletter-input-{{ section.id }} {
      font-size: {{ input_size}}px;
    }

    .footer-logo-{{ section.id }} {
      margin-top: {{ logo_mt }}px;
    }

    .footer-logo-image-{{ section.id }} {
      max-width: {{ logo_width }}%;
    }

    .footer-logo-text-{{ section.id }} {
      text-align: {{ logo_align }};
    }

    .footer-logo-text-{{ section.id }} * {
      font-size: {{ logo_text_size }}px;
    }

    .footer-text-{{ section.id }} {
      margin-top: {{ text_mt }}px;
      text-align: {{ text_align }};
    }
  
    .footer-text-{{ section.id }} * {
      font-size: {{ text_size }}px;
    }

    .footer-body-{{ section.id }} {
      display: flex;
      gap: {{ menus_gap }}px;
      margin-top: {{ menus_mt }}px;
      flex-wrap: wrap;
    }

    .footer-menu-{{ section.id }} {
      flex: 1 0;
    }

    .footer-images-{{ section.id }} {
      display: none;
    }

    .footer-menu-{{ section.id }} .footer-image-{{ section.id }} {
      display: block;
    }

    .footer-menu-heading-{{ section.id }} {
      margin-top: {{ menu_heading_mt }}px;
      font-size: {{ menu_heading_size }}px;
    }

    .footer-menu-list-{{ section.id }} {
      gap: {{ list_gap }}px;
      margin-top: {{ list_mt }}px;
    }

    .footer-menu-link-{{ section.id }} {
      font-size: {{ link_size }}px;
      transition: all 0.25s ease 0s;
    }

    .footer-menu-link-{{ section.id }}:hover {
      transition: all 0.25s ease 0s;
      color: {{ link_hover_color }};
    }

    .footer-copy-text-{{ section.id }} {
      margin-top: {{ copy_text_mt }}px;
      text-align: {{ copy_text_align }};
    }
  
    .footer-copy-text-{{ section.id }} * {
      font-size: {{ copy_text_size }}px;
    }

  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if newsletter_heading_custom %}
  <style>
    .footer-newsletter-heading-{{ section.id }} * {
      font-family: {{ newsletter_heading_font.family }}, {{ newsletter_heading_font.fallback_families }};
      font-weight: {{ newsletter_heading_font.weight }};
      font-style: {{ newsletter_heading_font.style }};
    }
  </style>
{% endif %}

{% if input_custom %}
  <style>
    .footer-newsletter-input-{{ section.id }} {
      font-family: {{ input_font.family }}, {{ input_font.fallback_families }};
      font-weight: {{ input_font.weight }};
      font-style: {{ input_font.style }};
    }
  </style>
{% endif %}

{% if logo_text_custom %}
  <style>
    .footer-logo-text-{{ section.id }} * {
      font-family: {{ logo_text_font.family }}, {{ logo_text_font.fallback_families }};
      font-weight: {{ logo_text_font.weight }};
      font-style: {{ logo_text_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .footer-text-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if menu_heading_custom %}
  <style>
    .footer-menu-heading-{{ section.id }} {
      font-family: {{ menu_heading_font.family }}, {{ menu_heading_font.fallback_families }};
      font-weight: {{ menu_heading_font.weight }};
      font-style: {{ menu_heading_font.style }};
    }
  </style>
{% endif %}

{% if link_custom %}
  <style>
    .footer-menu-link-{{ section.id }} {
      font-family: {{ link_font.family }}, {{ link_font.fallback_families }};
      font-weight: {{ link_font.weight }};
      font-style: {{ link_font.style }};
    }
  </style>
{% endif %}

{% if copy_text_custom %}
  <style>
    .footer-copy-text-{{ section.id }} * {
      font-family: {{ copy_text_font.family }}, {{ copy_text_font.fallback_families }};
      font-weight: {{ copy_text_font.weight }};
      font-style: {{ copy_text_font.style }};
    }
  </style>
{% endif %}

{% if logo_align_mobile == "center" %}
  <style>
    .footer-logo-image-{{ section.id }} {
      margin-left: auto;
      margin-right: auto;
    }
  </style>
{% elsif logo_align_mobile == "right" %}
  <style>
    .footer-logo-image-{{ section.id }} {
      margin-left: auto;
    }
  </style>
{% endif %}

{% if logo_align == "center" %}
  <style>
    @media(min-width: 1024px) {
      .footer-logo-image-{{ section.id }} {
        margin-left: auto;
        margin-right: auto;
      } 
    }
  </style>
{% elsif logo_align == "right" %}
  <style>
    @media(min-width: 1024px) {
      .footer-logo-image-{{ section.id }} {
        margin-left: auto;
        margin-right: 0px;
      } 
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .footer-logo-image-{{ section.id }} {
        margin-left: 0px;
        margin-right: 0px;
      } 
    }
  </style>
{% endif %}

{% if image_ratio_mobile == "portrait" %}
	<style>
    .footer-image-{{ section.id }} {
      aspect-ratio: 9.6/14;
    }
	</style>
{% elsif image_ratio_mobile == "landscape" %}
	<style>
    .footer-image-{{ section.id }} {
      aspect-ratio: 12/6;
    }
	</style>
{% elsif image_ratio_mobile == "square" %}
	<style>
    .footer-image-{{ section.id }} {
      aspect-ratio: 12/12;
    }
	</style>
{% else %}
	<style>
    .footer-image-{{ section.id }} {
      aspect-ratio: auto;
    }
	</style>
{% endif %}

{% if image_ratio == "portrait" %}
	<style>
    @media (min-width: 1024px) {
        .footer-image-{{ section.id }} {
          aspect-ratio: 9.6/14;
        }
    }
	</style>
{% elsif image_ratio == "landscape" %}
	<style>
    @media (min-width: 1024px) {
        .footer-image-{{ section.id }} {
          aspect-ratio: 12/6;
        }
    }
	</style>
{% elsif image_ratio == "square" %}
	<style>
    @media (min-width: 1024px) {
        .footer-image-{{ section.id }} {
          aspect-ratio: 12/12;
        }
    }
	</style>
{% else %}
	<style>
    @media (min-width: 1024px) {
        .footer-image-{{ section.id }} {
          aspect-ratio: auto;
        }
    }
	</style>
{% endif %}

<div class="section-{{ section.id }} footer-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="footer-newsletter-{{ section.id }}">
        <div class="footer-newsletter-heading-{{ section.id }}">{{ newsletter_heading }}</div>
        {% form 'customer', class: 'footer-newsletter-form' %}

          <div class="footer-newsletter-input-wrapper-{{ section.id }}">
            <input
              type="email"
              name="contact[email]"
              class="footer-newsletter-input-{{ section.id }}"
              value="{{ form.email }}"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors %}
                autofocus
                aria-invalid="true"
                aria-describedby="Newsletter-error--{{ section.id }}"
              {% elsif form.posted_successfully? %}
                aria-describedby="Newsletter-succesg--{{ section.id }}"
              {% endif %}
              placeholder="{{ input_placeholder }}"
              required
            >
            <button type="submit" class="footer-newsletter-btn-{{ section.id }}" name="commit">
              <svg width="66" height="44" viewBox="0 0 66 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43.4483 41.7695L63 21.7695M63 21.7695L43.4483 1.76953M63 21.7695L7.94781e-07 21.7695" stroke="{{ btn_arrow_color }}" stroke-width="4"></path>
              </svg>
            </button>
          </div>

          <input type="hidden" name="contact[tags]" value="newsletter">
        {% endform %}
      </div>
      
      <div class="footer-logo-{{ section.id }}">
        {% if logo != blank %}
          <div class="footer-logo-image-{{ section.id }}">
            <img src="{{ logo | image_url }}" alt="{{ logo.alt }}" {% if lazy %}loading="lazy"{% endif %}>
          </div>
        {% else %}
          <div class="footer-logo-text-{{ section.id }}">
            {% if logo_text != blank %}
              {{ logo_text }}
            {% else %}
              <h2>{{ shop.name }}</h2>
            {% endif %}
          </div>
        {% endif %}
      </div>

      <div class="footer-text-{{ section.id }}">{{ text }}</div>

      <div class="footer-images-{{ section.id }}">
        {% for block in section.blocks %}
          <div class="footer-image-{{ section.id }}">
            {% if block.settings.image != blank %}
              <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
            {% else %}
              {{ 'image' | placeholder_svg_tag }}
            {% endif %}
          </div>
        {% endfor %}
      </div>

      <div class="footer-body-{{ section.id }}">
        {% for block in section.blocks %}
          <div class="footer-menu-{{ section.id }}">
            <div class="footer-image-{{ section.id }}">
              {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
              {% else %}
                {{ 'image' | placeholder_svg_tag }}
              {% endif %}
            </div>

            <h3 class="footer-menu-heading-{{ section.id }}">{{ block.settings.heading }}</h3>

            {% if block.settings.menu != blank %}
              <ul class="footer-menu-list-{{ section.id }}">
                {% for link in block.settings.menu.links %}
                  <li class="footer-menu-item-{{ section.id }}">
                    <a href="{{ link.url }}" class="footer-menu-link-{{ section.id }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endfor %}
      </div>

      <div class="footer-copy-text-{{ section.id }}">{{ copy_text }}</div>
    </div>
</div>

{% schema %}
{
  "name": "SG-Footer #8",
  "settings": [
    {
      "type": "header",
      "content": "Newsletter heading settings"
    },
    {
      "type": "richtext",
      "id": "newsletter_heading",
      "label": "Heading",
      "default": "<h2>Get the latest scoop!</h2>"
    },
    {
      "type": "checkbox",
      "id": "newsletter_heading_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "newsletter_heading_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "newsletter_heading_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 48
    },
    {
      "type": "range",
      "id": "newsletter_heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 28
    },
    {
      "type": "range",
      "id": "newsletter_heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "text_alignment",
      "id": "newsletter_heading_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "newsletter_heading_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Newsletter input settings"
    },
    {
      "type": "text",
      "id": "input_placeholder",
      "label": "Placeholder text",
      "default": "Email"
    },
    {
      "type": "checkbox",
      "id": "input_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "input_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "input_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 48
    },
    {
      "type": "range",
      "id": "input_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 28
    },
    {
      "type": "range",
      "id": "input_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 100
    },
    {
      "type": "range",
      "id": "input_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 40
    },
    {
      "type": "range",
      "id": "input_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 40
    },
    {
      "type": "range",
      "id": "input_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 2
    },
    {
      "type": "header",
      "content": "Logo settings"
    },
    {
      "type": "range",
      "id": "logo_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 100
    },
    {
      "type": "range",
      "id": "logo_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 64
    },
    {
      "type": "text_alignment",
      "id": "logo_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "logo_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Logo image settings"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Width",
      "default": 70
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Width - mobile",
      "default": 70
    },
    {
      "type": "header",
      "content": "Logo text settings"
    },
    {
      "type": "richtext",
      "id": "logo_text",
      "label": "Text",
      "default": "<h2>section.store</h2>"
    },
    {
      "type": "checkbox",
      "id": "logo_text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "logo_text_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "logo_text_size",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 120
    },
    {
      "type": "range",
      "id": "logo_text_size_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 36
    },
    {
      "type": "range",
      "id": "logo_text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 100
    },
    {
      "type": "header",
      "content": "Subtext settings"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Follow us @section.store —everywhere!</p>"
    },
    {
      "type": "checkbox",
      "id": "text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "text_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "text_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 20
    },
    {
      "type": "range",
      "id": "text_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "range",
      "id": "text_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 64
    },
    {
      "type": "range",
      "id": "text_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 48
    },
    {
      "type": "text_alignment",
      "id": "text_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "text_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Footer menu settings"
    },
    {
      "type": "range",
      "id": "menus_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 20
    },
    {
      "type": "range",
      "id": "menus_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "menus_gap",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 24
    },
    {
      "type": "range",
      "id": "menus_gap_mobile",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "image_grid_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Images per row - mobile",
      "default": 2
    },
    {
      "type": "header",
      "content": "Menu image settings"
    },
    {
      "type": "range",
      "id": "image_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Aspect ratio",
      "default": "square",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_ratio_mobile",
      "label": "Aspect ratio - mobile",
      "default": "square",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "header",
      "content": "Menu heading settings"
    },
    {
      "type": "checkbox",
      "id": "menu_heading_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "menu_heading_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "menu_heading_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 20
    },
    {
      "type": "range",
      "id": "menu_heading_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 18
    },
    {
      "type": "range",
      "id": "menu_heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "range",
      "id": "menu_heading_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 36
    },
    {
      "type": "range",
      "id": "menu_heading_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 32
    },
    {
      "type": "header",
      "content": "Menu list settings"
    },
    {
      "type": "range",
      "id": "list_mt",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 20
    },
    {
      "type": "range",
      "id": "list_mt_mobile",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "list_gap",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 16
    },
    {
      "type": "range",
      "id": "list_gap_mobile",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 16
    },
    {
      "type": "header",
      "content": "Menu link settings"
    },
    {
      "type": "checkbox",
      "id": "link_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "link_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "link_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "link_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 15
    },
    {
      "type": "range",
      "id": "link_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "header",
      "content": "Copyright text settings"
    },
    {
      "type": "richtext",
      "id": "copy_text",
      "label": "Copyright text",
      "default": "<p>© 2024, <a href='#'>Section Store</a></p>"
    },
    {
      "type": "checkbox",
      "id": "copy_text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "copy_text_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "copy_text_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 12
    },
    {
      "type": "range",
      "id": "copy_text_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "copy_text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "range",
      "id": "copy_text_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 90
    },
    {
      "type": "range",
      "id": "copy_text_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 48
    },
    {
      "type": "text_alignment",
      "id": "copy_text_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "copy_text_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Text colors"
    },
    {
      "type": "color",
      "label": "Heading",
      "id": "newsletter_heading_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "logo_text_color",
      "label": "Logo text",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Subtext",
      "id": "text_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Copyright",
      "id": "copy_text_color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Newsletter input colors"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "input_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Placeholder",
      "id": "input_placeholder_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "input_border_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Arrow button",
      "id": "btn_arrow_color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Menu colors"
    },
    {
      "type": "color",
      "label": "Heading",
      "id": "menu_heading_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Link",
      "id": "link_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Link hover",
      "id": "link_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#121212"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Margin sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Margin sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 52
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 2.5
    },
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 1000,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "label": "Section content width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Quick links"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "main-menu",
          "info": "Displays only top-level menu items."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Footer #8",
      "blocks": [
        {
          "type": "menu"
        },
        {
          "type": "menu"
        },
        {
          "type": "menu"
        },
        {
          "type": "menu"
        }
      ]
    }
  ]
}
{% endschema %}