{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_color = section.settings.heading_color
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign body_border_color = section.settings.body_border_color
  assign body_border_thickness = section.settings.body_border_thickness
  assign body_bg_color = section.settings.body_bg_color
  assign body_radius = section.settings.body_radius
  assign body_mt = section.settings.body_mt
  assign body_padding_vertical = section.settings.body_padding_vertical
  assign body_padding_horizontal = section.settings.body_padding_horizontal

  assign close_item = section.settings.close_item

  assign item_border_color = section.settings.item_border_color
  assign item_border_thickness = section.settings.item_border_thickness
  assign item_bg_color = section.settings.item_bg_color

  assign question_size = section.settings.question_size
  assign question_size_mobile = section.settings.question_size_mobile
  assign question_color = section.settings.question_color
  assign question_custom = section.settings.question_custom
  assign question_font = section.settings.question_font
  assign question_height = section.settings.question_height
  assign question_border_color = section.settings.question_border_color
  assign question_border_thickness = section.settings.question_border_thickness
  assign question_padding_bottom = section.settings.question_padding_bottom
  assign question_padding_top = section.settings.question_padding_top
  assign question_padding_sides = section.settings.question_padding_sides

  assign answer_size = section.settings.answer_size
  assign answer_size_mobile = section.settings.answer_size_mobile
  assign answer_color = section.settings.answer_color
  assign answer_link_color = section.settings.answer_link_color
  assign answer_custom = section.settings.answer_custom
  assign answer_font = section.settings.answer_font
  assign answer_height = section.settings.answer_height
  assign answer_padding_bottom = section.settings.answer_padding_bottom
  assign answer_padding_top = section.settings.answer_padding_top
  assign answer_align_mobile = section.settings.answer_align_mobile
  assign answer_align = section.settings.answer_align

  assign link_url = section.settings.link_url
  assign link = section.settings.link
  assign link_size = section.settings.link_size
  assign link_size_mobile = section.settings.link_size_mobile
  assign link_color = section.settings.link_color
  assign link_hover_color = section.settings.link_hover_color
  assign link_custom = section.settings.link_custom
  assign link_font = section.settings.link_font
  assign link_height = section.settings.link_height
  assign link_align_mobile = section.settings.link_align_mobile
  assign link_align = section.settings.link_align
  assign link_mt = section.settings.link_mt
-%}

{%- style -%}

  {{  heading_font | font_face: font_display: 'swap' }}
  {{  question_font | font_face: font_display: 'swap' }}
  {{  answer_font | font_face: font_display: 'swap' }}
  {{  link_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .faq-heading-{{ section.id }} {
    text-align: {{ heading_align_mobile }};
  }

  .faq-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
  }

  .faq-items-{{ section.id }} {
    margin-top: {{ body_mt | times: 0.75 | round: 0 }}px;
    background-color: {{ body_bg_color }};
    border: {{ body_border_thickness }}px solid {{ body_border_color }};
    border-radius: {{ body_radius }}px;
    padding: {{ body_padding_vertical | times: 0.75 | round: 0 }}px {{ body_padding_horizontal | times: 0.75 | round: 0 }}px;
  }

  .faq-item-{{ section.id }} {
    background-color: {{ item_bg_color }};
    border-bottom: {{ item_border_thickness }}px solid {{ item_border_color }};
    padding: 0px {{ question_padding_sides | times: 0.75 | round: 0 }}px;
  }

  .faq-item-{{ section.id }} {
    border-top-left-radius: {{ body_radius }}px;
    border-top-right-radius: {{ body_radius }}px;
  }

  .faq-item-{{ section.id }}:last-child {
     border-bottom: 0px;
     border-bottom-left-radius: {{ body_radius }}px;
     border-bottom-right-radius: {{ body_radius }}px;
  }

  .faq-top-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    transition: all 0.25s ease 0s;
    padding: {{ question_padding_top | times: 0.75 | round: 0 }}px 0px {{ question_padding_bottom | times: 0.75 | round: 0 }}px;
    cursor: pointer;
  }

  .faq-item-{{ section.id }}.active .faq-top-{{ section.id }} {
    transition: all 0.25s ease 0s;
    border-bottom: {{ question_border_thickness }}px solid {{ question_border_color }};
  }

  .faq-top-{{ section.id }} svg {
    display: block;
    flex: 0 0 24px;
    height: 13px;
    transition: all 0.25s ease 0s; 
  }

  .faq-item-{{ section.id }}.active .faq-top-{{ section.id }} svg {
    transition: all 0.25s ease 0s; 
    transform: rotate(180deg);
  }

  .faq-question-{{ section.id }} {
    margin: 0px;
    font-size: {{ question_size_mobile }}px;
    color: {{ question_color }};
    line-height: {{ question_height }}%;
    text-transform: unset;
    font-weight: 700;
  }

  .faq-bottom-{{ section.id }} {
    transition: all 0.25s ease 0s;
    max-height: 0px;
    overflow: hidden;
  }

  .faq-item-{{ section.id }}.active .faq-bottom-{{ section.id }} {
    max-height: max-content;
    transition: all 0.25s ease 0s;
    padding-top: {{ answer_padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ answer_padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .faq-answer-{{ section.id }} {
    text-align: {{ answer_align_mobile }};
  }

  .faq-answer-{{ section.id }} * {
    margin: 0px;
    font-size: {{ answer_size_mobile }}px;
    color: {{ answer_color }};
    line-height: {{ answer_height }}%;
    text-transform: unset;
  }

  .faq-answer-{{ section.id }} p {
    display: block;
    min-height: 16px;
  }

  .faq-answer-{{ section.id }} a {
    color: {{ answer_link_color }};
    text-decoration: underline;
  }

  .faq-link-{{ section.id }} {
    margin-top: {{ link_mt | times: 0.75 | round: 0 }}px;
    display: block;
    width: 100%;
    max-width: fit-content;
    font-size: {{ link_size_mobile }}px;
    color: {{ link_color }};
    line-height: {{ link_height }}%;
    text-transform: unset;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.25s ease 0s;
    position: relative;
  }

  .faq-link-{{ section.id }}:hover {
    transition: all 0.25s ease 0s;
    color: {{ link_hover_color }};
  }

  .faq-link-{{ section.id }}:after {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -2px;
    content: '';
    background-color: {{ link_color }};
    transition: all 0.25s ease 0s;
  }

  .faq-link-{{ section.id }}:hover:after {
    transition: all 0.25s ease 0s;
    background-color: {{ link_hover_color }};
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .faq-heading-{{ section.id }} {
      text-align: {{ heading_align }};
    }

    .faq-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .faq-items-{{ section.id }} {
      margin-top: {{ body_mt }}px;
      padding: {{ body_padding_vertical }}px {{ body_padding_horizontal }}px;
    }

    .faq-item-{{ section.id }} {
      padding: 0px {{ question_padding_sides }}px;
    }

    .faq-top-{{ section.id }} {
      padding: {{ question_padding_top }}px 0px {{ question_padding_bottom }}px;
    }

    .faq-question-{{ section.id }} {
      font-size: {{ question_size }}px;
    }
  
    .faq-item-{{ section.id }}.active .faq-bottom-{{ section.id }} {
      padding-top: {{ answer_padding_top }}px;
      padding-bottom: {{ answer_padding_bottom }}px;
    }

    .faq-answer-{{ section.id }} {
      text-align: {{ answer_align }};
    }

    .faq-answer-{{ section.id }} * {
      font-size: {{ answer_size }}px;
    }

    .faq-link-{{ section.id }} {
      margin-top: {{ link_mt }}px;
      font-size: {{ link_size }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if heading_custom %}
  <style>
    .faq-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if question_custom %}
  <style>
    .faq-question-{{ section.id }} {
      font-family: {{ question_font.family }}, {{ question_font.fallback_families }};
      font-weight: {{ question_font.weight }};
      font-style: {{ question_font.style }};
    }
  </style>
{% endif %}

{% if answer_custom %}
  <style>
    .faq-answer-{{ section.id }} * {
      font-family: {{ answer_font.family }}, {{ answer_font.fallback_families }};
      font-weight: {{ answer_font.weight }};
      font-style: {{ answer_font.style }};
    }
  </style>
{% endif %}

{% if link_custom %}
  <style>
    .faq-link-{{ section.id }} {
      font-family: {{ link_font.family }}, {{ link_font.fallback_families }};
      font-weight: {{ link_font.weight }};
      font-style: {{ link_font.style }};
    }
  </style>
{% endif %}

{% if link_align_mobile == "center" %}
  <style>
   .faq-link-{{ section.id }} {
      margin-left: auto;
      margin-right: auto;
    } 
  </style>
{% elsif link_align_mobile == "right" %}
  <style>
   .faq-link-{{ section.id }} {
      margin-left: auto;
    } 
  </style>
{% endif %}

{% if link_align == "center" %}
  <style>
    @media(min-width: 1024px) {
     .faq-link-{{ section.id }} {
        margin-left: auto;
        margin-right: auto;
      } 
    }
  </style>
{% elsif link_align == "right" %}
  <style>
    @media(min-width: 1024px) {
     .faq-link-{{ section.id }} {
        margin-left: auto;
        margin-right: 0px;
      } 
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
     .faq-link-{{ section.id }} {
        margin-left: 0px;
        margin-right: 0px;
      } 
    }
  </style>
{% endif %}

<div class="section-{{ section.id }} faq-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
        {% if heading != blank %}
          <div class="faq-heading-{{ section.id }}">{{ heading }}</div>
        {% endif %}
      <div class="faq-items-{{ section.id }}">
        {% for block in section.blocks %}
          <div class="faq-item-{{ section.id }}">
            <div class="faq-top-{{ section.id }}">
              <p class="faq-question-{{ section.id }}">{{ block.settings.question }}</p>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="13" viewBox="0 0 24 13"><g><g><path d="M1.32 0C1 0 .633.141.38.384.138.634 0 1 0 1.314c0 .342.139.686.38.91l10.28 10.07a1.32 1.32 0 0 0 1.87 0l10.29-10.07c.241-.224.378-.568.38-.91 0-.314-.141-.684-.39-.93a1.33 1.33 0 0 0-1.87 0L11.6 9 2.27.404C2 .148 1.678 0 1.32 0z"></path></g></g></svg>
            </div>
            <div class="faq-bottom-{{ section.id }}">
              <div class="faq-answer-{{ section.id }}">{{ block.settings.answer }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if link != blank %}
        <a href="{{ link_url }}" class="faq-link-{{ section.id }}">{{ link }}</a>
      {% endif %}
    </div>
</div>

<script>
  function initFAQ5() {
    
    let faqs{{ section.id | replace: '-', '' }} = document.querySelectorAll('.faq-item-{{ section.id }}');

    faqs{{ section.id | replace: '-', '' }}.forEach(el => {
      let toggle = el.querySelector('.faq-top-{{ section.id }}');
    
      toggle.addEventListener('click', (e) => {
        let parent = e.currentTarget.closest('.faq-item-{{ section.id }}');
    
        if (parent) {
          {% if close_item %}
          faqs{{ section.id | replace: '-', '' }}.forEach(element => {
            if (element !== parent) {
              element.classList.remove('active');
            }
          });
          {% endif %}
    
          parent.classList.toggle('active');
        }
      });
    });
  }

  document.addEventListener('DOMContentLoaded', initFAQ5);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initFAQ5);
     document.addEventListener('shopify:section:load', initFAQ5);
  }
</script>

{% schema %}
{
  "name": "SG-FAQ #5",
  "settings": [
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<p>FAQs</p>"
    },
    {
      "type": "checkbox",
      "id": "heading_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Heading Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Heading Size",
      "default": 52
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Heading Size - Mobile",
      "default": 42
    },
    {
      "type": "range",
      "id": "heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Heading Line Height",
      "default": 130
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "Heading Text Align",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_align_mobile",
      "label": "Heading Text Align - Mobile",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Body Settings"
    },
    {
      "type": "range",
      "id": "body_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Body Padding Horizontal",
      "default": 0
    },
    {
      "type": "range",
      "id": "body_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Body Padding Vertical",
      "default": 0
    },
    {
      "type": "range",
      "id": "body_radius",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "label": "Body Border Radius",
      "default": 4
    },
    {
      "type": "range",
      "id": "body_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Body Border Thickness",
      "default": 3
    },
    {
      "type": "range",
      "id": "body_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Body Margin Top",
      "default": 30
    },
    {
      "type": "checkbox",
      "id": "close_item",
      "label": "Close other elements when opening a new element"
    },
    {
      "type": "header",
      "content": "Item Settings"
    },
    {
      "type": "range",
      "id": "question_padding_sides",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Item Padding Sides",
      "default": 32
    },
    {
      "type": "range",
      "id": "item_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Item Bottom Border Thickness",
      "default": 3
    },
    {
      "type": "header",
      "content": "Question Settings"
    },
    {
      "type": "checkbox",
      "id": "question_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "question_font",
      "label": "Question Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "question_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Question Size",
      "default": 16
    },
    {
      "type": "range",
      "id": "question_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Question Size - Mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "question_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Question Line Height",
      "default": 130
    },
    {
      "type": "range",
      "id": "question_padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Question Padding Top",
      "default": 28
    },
    {
      "type": "range",
      "id": "question_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Question Padding Bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "question_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Question Border Bottom Thickness",
      "default": 3
    },
    {
      "type": "header",
      "content": "Answer Settings"
    },
    {
      "type": "checkbox",
      "id": "answer_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "answer_font",
      "label": "Answer Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "answer_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Answer Size",
      "default": 16
    },
    {
      "type": "range",
      "id": "answer_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Answer Size - Mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "answer_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Answer Line Height",
      "default": 150
    },
    {
      "type": "range",
      "id": "answer_padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Answer Padding Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "answer_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Answer Padding Bottom",
      "default": 32
    },
    {
      "type": "select",
      "id": "answer_align",
      "label": "Answer Text Align",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "answer_align_mobile",
      "label": "Answer Text Align - Mobile",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Link Settings"
    },
    {
      "type": "text",
      "id": "link",
      "label": "Link Text",
      "default": "See more"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "checkbox",
      "id": "link_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "link_font",
      "label": "Link Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "link_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Link Size",
      "default": 18
    },
    {
      "type": "range",
      "id": "link_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Link Size - Mobile",
      "default": 18
    },
    {
      "type": "range",
      "id": "link_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Link Line Height",
      "default": 130
    },
    {
      "type": "select",
      "id": "link_align",
      "label": "link Text Align",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "link_align_mobile",
      "label": "link Text Align - Mobile",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "range",
      "id": "link_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Link Margin Top",
      "default": 36
    },
    {
      "type": "header",
      "content": "FAQ Colors"
    },
    {
      "type": "color",
      "label": "Body Background Color",
      "id": "body_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Body Border Color",
      "id": "body_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Item Background Color",
      "id": "item_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Item Border Color",
      "id": "item_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Question Color",
      "id": "question_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Question Border Color",
      "id": "quesiton_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Answer Color",
      "id": "answer_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Answer Link Color",
      "id": "answer_link_color",
      "default": "#5D7FC0"
    },
    {
      "type": "color",
      "label": "Link Color",
      "id": "link_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Link Hover Color",
      "id": "link_hover_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "label": "Heading Color",
      "id": "heading_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#F7F6F7"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width",
      "default": false
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 0,
      "max": 400,
      "step": 5,
      "unit": "rem",
      "label": "Section content width",
      "default": 90
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "FAQ Item",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "default": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Answer</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-FAQ #5",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "question": "What's in Mind Juice?",
            "answer": "<p>Mind Juice contains a magical combination of 12 active ingredients, scientifically designed to improve energy, focus, and mood while decreasing stress — all things that, combined, improve your productivity. </p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "question": "Is it safe? Does it work?",
            "answer": "<p>Mind Juice uses ingredients and dosages that are safe and effective, utilizing the mood-boosting power of things like Turmeric, the long-lasting energy effects of Matcha green tea, as well as other ingredients that you can read more about here:  </p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "question": "What should I expect when consuming Mind Juice?",
            "answer": "<p>Unlike many energy drinks, Mind Juice’s benefits don’t come from excessive amounts of stimulating compounds such as caffeine. Though you'll feel an elevated sense of energy and a sense of calm focus within an hour of consuming Mind Juice, the benefits of some of the ingredients, like Ashwagandha and Cordyceps Mushrooms, can take 5 days to kick in and up to 10 days to reach full effect. </p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "question": "Do I take it alongside coffee or tea?",
            "answer": "<p>Yes. Take alongside or in place of your morning caffeine. :)</p><p></p><p>Mind Juice has minimal amounts of caffeine and is meant to be consumed as a supplement alongside your current morning routine. If you drink 2-3 cups of coffee during the day, Mind Juice will satisfyingly replace 1-2 of those cups by extending the caffeine of your current morning routine. It can also replace your current morning routine entirely if you're trying to reduce your caffeine intake.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "question": "Can I take it on an empty stomach?",
            "answer": "<p>Many people drink Mind Juice on an empty stomach without problem, but Matcha green tea on an empty stomach can be an issue for some. </p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}