<div class="feature__wrapper" id="feature__wrapper">
  <div class="feature__info">
    <p class="feature__info-title"><span>{{ section.settings.header_gradient }}</span> {{ section.settings.header }}</p>
    <p class="feature__info-desc">{{ section.settings.description }}</p>
    <a class="feature__info-link" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
  </div>
  <div class="feature__items">
    {% for block in section.blocks %}
      <div class="feature__item">
        <div class="feature__item-img">
          <img style="max-width: {{block.settings.feature_icon_size}};" src="{{ block.settings.feature_icon | img_url: 'medium' }}" alt="">
        </div>
        <p style="color:{{block.settings.feature_font_color}}; font-size:{{block.settings.feature_font_size}}">{{ block.settings.feature_text }}</p>
      </div>
    {% endfor %}
  </div>
</div>

<style>

  .feature__wrapper {
    max-width: 125rem;
    margin: 0 auto;
    padding: 7rem 5rem;
    display: flex;
    justify-content: space-between;
  }
  .feature__info-title {
    margin-block-start: inherit;
    margin-block-end: inherit;
    font-weight: 600;
    line-height: 1.3;
    font-size: {{section.settings.header_font_size}}px;
    color: {{section.settings.header_color}};
  }
  .feature__info {
    flex: 0 1 85%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
  }
  .feature__info p span {
    background: linear-gradient(to right, {{section.settings.gradient_color_1}} 0%,{{section.settings.gradient_color_2}} 50%, {{section.settings.gradient_color_3}});
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .feature__info-desc {
    font-weight: normal;
    line-height: 2;
    font-size: {{section.settings.description_font_size}}px;
    color: {{section.settings.description_color}};
  }
  .feature__info-link {
    font-weight: 500;
    line-height: 42px;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(to right, {{section.settings.gradient_color_1}} 0%,{{section.settings.gradient_color_2}} 50%, {{section.settings.gradient_color_3}});
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    width: fit-content;
  }
  .feature__items {
    padding-left: 30px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .feature__item {
    background: #FFFFFF;
    box-shadow: 4px 4px 20px {{section.settings.blur_color}};
    border-radius: 15px;
    max-width: 188px;
    max-height: 167px;
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .feature__item p {
      text-align: center;
      padding: 0 7px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  .feature__item-img {
    background: linear-gradient(to right, {{section.settings.gradient_color_1}} 0%,{{section.settings.gradient_color_2}} 50%, {{section.settings.gradient_color_3}});
    margin-bottom: 25px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 1024px) {
    .feature__item p {max-width: 190px;}
    .feature__wrapper {
      padding: 50px 1.5rem;
      flex-direction: column;
    }
    .feature__items {
      justify-content: center;
      margin-top: 40px;
    }
    .feature__item {
      max-width: 360px;
      margin-bottom: 38px;
    }
  }

  @media (max-width: 890px) {
    .feature__items {
      padding-left: 0;
    }
    .feature__item {
      width: 100%;
      flex: auto;
    }
    .feature__info-link {
        margin: 0 auto;
    }
    .feature__info {
      padding-right: 0;
      padding-left: 0;
    }
  }
  @media (max-width: 767px) {
    .feature__info-title { 
      font-size: {{ section.settings.header_mob_font_size}}px;
    }
    .feature__item {
      margin-right: 0px;
    }
  }

</style>

{% schema %}
{
  "name": "SG-Glow - Feature",
  "tag": "section",
  "class": "feature-section",
  "settings": [
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "text",
      "id": "header_gradient",
      "label": "Gradient header part",
      "default": "Facinated"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Without gradient header",
      "default": "By The Intricacies and Mysteries Of Outer-Space?"
    },
    {
      "type": "color",
      "id": "header_color",
      "label": "Header Font color",
      "default": "#0B1128"
    },
    {
      "type": "range",
      "id": "header_font_size",
      "min": 12,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Header Font Size",
      "default": 42
    },
    {
      "type": "header",
      "content": "Description"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description text",
      "default": "Our best-selling space lamps feature meticulous craftsmanship using actual high-resolution NASA satellite imagery to produce device. Pair it with some peaceful music, kick off your shoes, and feel the stress of the day melt away."
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Font color",
      "default": "#0B1128"
    },
    {
      "type": "range",
      "id": "header_mob_font_size",
      "min": 12,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Mobile Header Font Size",
      "default": 28
    },
    {
      "type": "range",
      "id": "description_font_size",
      "min": 12,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Description Font Size",
      "default": 16
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Feature Icon Blur color"
    },
    {
      "type": "color",
      "id": "blur_color",
      "label": "Feature Icon Blur color",
      "default": "#B8B1DC"
    },
    {
      "type": "header",
      "content": "Gradient settings"
    },
    {
      "type": "color",
      "id": "gradient_color_1",
      "label": "Gradient color 1",
      "default": "#4222DE"
    },
    {
      "type": "color",
      "id": "gradient_color_2",
      "label": "Gradient color 2",
      "default": "#659BFF"
    },
    {
      "type": "color",
      "id": "gradient_color_3",
      "label": "Gradient color 3",
      "default": "#7FF6E8"
    }
  ],
  "blocks": [
    {
      "type": "Image",
      "name": "Feature items",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "feature_icon",
          "label": "Feature item icon"
        },
        {
          "type": "text",
          "id": "feature_icon_size",
          "label": "Feature Icon Size",
          "default": "30px"
        },
        {
          "type": "text",
          "id": "feature_text",
          "label": "Feature item text",
          "default": "Feature item text"
        },
        {
          "type": "text",
          "id": "feature_font_size",
          "label": "Feature Font Size",
          "default": "16px"
        },
        {
          "type": "color",
          "id": "feature_font_color",
          "label": "Feature Font color",
          "default": "#0B1128"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Glow - Feature",
      "blocks": [
        {
          "type": "Image"
        },
        {
          "type": "Image"
        },
        {
          "type": "Image"
        },
        {
          "type": "Image"
        }
      ]
    }
  ]
}
{% endschema %}