<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500&display=swap" rel="stylesheet">

<div class="hero_banner">
  <div class="hero_wrapper">
    <div class="hero_content">
      <div class="hero_content-title">
        <span>{{ section.settings.header }}</span>
        <p>{{ section.settings.subheader }}</p>
      </div>
      <div class="hero_img">
        <img src="{{ section.settings.main_image | img_url: 'master' }}" alt="">
      </div>
      <div class="hero_content-bottom">
        <div class="hero_content-btn">
          <a class="hero_content-btn_shop" href="{{ section.settings.button_1_url }}">{{ section.settings.button_1_text }}</a>
          <a class="hero_content-btn_arrow" href="{{ section.settings.button_2_url }}"><span>{{ section.settings.button_2_text }}</span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
</svg></a>
        </div>
        <div class="hero_content-block">
          <div class="hero_block-satisfied">
            <span>{{section.settings.features_left_num}}</span>
            <p>{{section.settings.features_left_text}}</p>
          </div>
          <div class="hero_block-custom">
            <span>{{section.settings.features_right_num}}</span>
            <p>{{section.settings.features_right_text}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
@font-face {
    font-family: "Recoleta-Bold";
    src: url({{ "Recoleta-Bold.woff" | asset_url }}) format("woff"), url({{ "Recoleta-Bold.woff2" | asset_url }}) format("woff2"),
       url({{ "Recoleta-Bold.ttf" | asset_url }}) format("truetype"), url({{ "Recoleta-Bold.svg#svgFontName" | asset_url }}) format("svg");
}
@font-face {
    font-family: "Recoleta-SemiBold";
    src: url({{ "Recoleta-SemiBold.woff" | asset_url }}) format("woff"), url({{ "Recoleta-SemiBold.woff2" | asset_url }}) format("woff2");
}
@font-face {
    font-family: "Recoleta-Medium";
    src: url({{ "Recoleta-Medium.woff" | asset_url }}) format("woff"), url({{ "Recoleta-Medium.woff2" | asset_url }}) format("woff2");
}
.hero-section { padding: 0 {{section.settings.section_padding_desktop}}px }
.hero_content-block {
  display: flex;
  padding-top: 25px;
}
.hero_content-block p {
	text-shadow: 
		-0   -1px 0   #5769EB,
		 0   -1px 0   #5769EB,
		-0    1px 0   #5769EB,
		 0    1px 0   #5769EB,
		-1px -0   0   #5769EB,
		 1px -0   0   #5769EB,
		-1px  0   0   #5769EB,
		 1px  0   0   #5769EB,
		-1px -1px 0   #5769EB,
		 1px -1px 0   #5769EB,
		-1px  1px 0   #5769EB,
		 1px  1px 0   #5769EB,
		-1px -1px 0   #5769EB,
		 1px -1px 0   #5769EB,
		-1px  1px 0   #5769EB,
		 1px  1px 0   #5769EB;
}
.hero_block-satisfied {
  max-width: 188px;
  width: 100%;
  padding: 20px;
  margin-right: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: {{ section.settings.features_color }};
}
.hero_block-satisfied::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-radius: 15px; 
  padding: 2px; 
  background:linear-gradient({{section.settings.global_gradient_color_1}}, {{section.settings.global_gradient_color_3}}, {{section.settings.global_gradient_color_2}});
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}
.hero_block-satisfied span {
  font-weight:600;
  font-family: "Recoleta-Bold";
  font-size: {{ section.settings.features_num_font_size }}px;
}
.hero_block-satisfied p {
  font-weight:600;
  margin: 15px 0 0 0;
  font-size: {{ section.settings.features_font_size }}px;
}
.hero_block-custom {
  max-width: 188px;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: {{ section.settings.features_color }};
}
.hero_block-custom::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-radius: 15px; 
  padding: 2px; 
  background:linear-gradient({{section.settings.global_gradient_color_1}}, {{section.settings.global_gradient_color_3}}, {{section.settings.global_gradient_color_2}});
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}
.hero_block-custom span {
  font-weight: 600;
  font-family: "Recoleta-Bold";
  font-size: {{ section.settings.features_num_font_size }}px;
  line-height: 1.3em;
}
.hero_block-custom p {
  font-weight: 600;
  font-size: {{ section.settings.features_font_size }}px;
  margin: 16px 0 0 0;
}

.hero_content {
  display: flex;
  flex-wrap: wrap;
}
.hero_content-title {
  flex: 0 1 50%;
  padding-bottom: 20px;
  font-weight: 600;
}
.hero_img {
  flex: 0 1 50%;
  height: 10px;
}
.hero_img img {
  margin-top: 50px;
  max-width: 100%;
}
.hero_wrapper {
  max-width: 125rem;
  margin: 0 auto;
  padding: 80px 25px;
  display: flex;
}
.hero_content-title span {
  font-family: "Recoleta-Bold";
  font-weight: bold;
  line-height: 1.1;
  color: {{section.settings.header_color}};
  font-size: {{section.settings.header_font_size}}px;
}
.hero_content-title p {
  font-family: 'Red Hat Text';
  font-weight: normal;
  line-height: 1.5;
  color: #fff;
  font-size: 18px;
}
.hero_content-btn {
  font-family: 'Red Hat Text';
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.hero_content-btn_arrow {
  flex: 0 1 40%;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.hero_content-btn_arrow span {
  font-weight: 500;
  font-size: 16px;
  line-height: 42px;
  color: #FFFFFF;
  padding-right: 10px;
}
.hero_content-btn_shop {
  border-radius: 15px;
  padding: {{section.settings.button_1_font_size}}px;
  flex: 0 1 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, {{section.settings.global_gradient_color_1}} 0%,{{section.settings.global_gradient_color_2}} 50%, {{section.settings.global_gradient_color_3}});
  font-family: 'Red Hat Text';
  font-size: {{ section.settings.button_1_font_size }}px;
  color: {{ section.settings.button_1_color }};
  text-decoration: none;
}


@media (max-width: 1100px) {
  .hero_img img {
    padding: 0;
    max-width: 100%;
  }
  .hero_img {
    height: auto;
    margin: 0 auto;
  }
  .hero_content-btn_arrow span {
    display: block;
  }
}

@media (max-width: 1020px) {
  .hero-section { padding: 0 {{section.settings.section_padding_tab}}px }

  .hero_content {
    flex-direction: column;
  }
  .hero_content-title {
    flex: auto;
  }
  .hero_img {
    flex: auto;
  }
  .hero_content-bottom {
  }
}

@media (max-width: 767px) {

  .hero_content-block {
  padding-top: 0px;
}
  
  .hero_img img {
    margin-top: 0px;
  }
  .hero-section { padding: 0 {{section.settings.section_padding_mob}}px }
  .hero_wrapper {
    padding: 40px 15px;
  }
  .hero_content-btn_arrow {
    flex: auto;
    padding-left: 20px;
  }
  .hero_block-custom {
    max-width: 140px;
  }
  .hero_block-satisfied {
    max-width: 140px;
  }
  .hero_content-title {
    padding-bottom: 0px;
  }
  .hero_content-title span {
    line-height: 1.1em;
    font-size: {{section.settings.header_font_mob_size}}px;
  }
  .hero_block-satisfied span {
    font-weight:600;
    font-size: {{ section.settings.features_num_font_mob_size }}px;
  }
  .hero_block-satisfied p {
    margin: 15px 0 0 0;
    font-size: {{ section.settings.features_font_mob_size }}px;
  }

  .hero_block-custom span {
  font-size: {{ section.settings.features_num_font_mob_size }}px;
  line-height: 1.3em;
    
  }
  .hero_block-custom p {
    font-size: {{ section.settings.features_font_mob_size }}px;
  }
}

@media (max-width: 425px) {
  .hero_content-btn_shop {
  	margin:20px;
    padding: 14px 24px;
  }
  .hero_content-btn{
    flex-flow: column;
  }
  .hero_content-block {
    justify-content: space-around;
  }
  .hero_block-satisfied {
    margin: 0;
  }
  .hero_block-custom {
    margin: 0;
  }
}

.hero_banner {
  background: linear-gradient(119.19deg, {{section.settings.body_gradient_color_1}} -3.63%, {{section.settings.body_gradient_color_2}} -3.62%, {{section.settings.body_gradient_color_3}} 27.59%, {{section.settings.body_gradient_color_4}} 54.32%, {{section.settings.body_gradient_color_5}} 71.73%, #12173D 99.72%);
}



</style>

{% schema %}
{
  "name": "SG-Hero banner",
  "tag": "section",
  "class": "hero-section",
  "settings": [
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Header text",
      "default": "Transform any room into your own Planetarium."
    },
    {
      "type": "color",
      "id": "header_color",
      "label": "Header Font color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "header_font_size",
      "min": 12,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Header Font Size",
      "default": 64
    },
    {
      "type": "range",
      "id": "header_font_mob_size",
      "min": 12,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Mobile Header Font Size",
      "default": 32
    },
    {
      "type": "header",
      "content": "Subheader"
    },
    {
      "type": "textarea",
      "id": "subheader",
      "label": "Subheader text",
      "default": "Bring the Galaxy down to earth with Galaxy Lamp's newest innovation"
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Button 1"
    },
    {
      "type": "color",
      "id": "button_1_color",
      "label": "Button 1 Font color",
      "default": "#FFFFFF"
    },
    {
      "type": "text",
      "id": "button_1_text",
      "label": "Button 1 text",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "button_1_url",
      "label": "Button url",
      "default": "/collections/all"
    },
    {
      "type": "range",
      "min": 12,
      "max": 120,
      "step": 2,
      "unit": "px",
      "id": "button_1_font_size",
      "label": "Button Font Size",
      "default": 16
    },
    {
      "type": "header",
      "content": "Button 2"
    },
    {
      "type": "text",
      "id": "button_2_text",
      "label": "Button 1 text",
      "default": "50% Off Today"
    },
    {
      "type": "url",
      "id": "button_2_url",
      "label": "Button url",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Features"
    },
    {
      "type": "text",
      "id": "features_left_num",
      "label": "Left features number",
      "default": "10k+"
    },
    {
      "type": "text",
      "id": "features_left_text",
      "label": "Left features text",
      "default": "SATISFIED CUSTOMERS"
    },
    {
      "type": "text",
      "id": "features_right_num",
      "label": "Right features number",
      "default": "90+"
    },
    {
      "type": "text",
      "id": "features_right_text",
      "label": "Right features text",
      "default": "CUSTOMIZABLE SETTINGS"
    },
    {
      "type": "color",
      "id": "features_color",
      "label": "Features Font color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "features_num_font_size",
      "min": 12,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Number Features Font Size",
      "default": 32
    },
    {
      "type": "range",
      "id": "features_num_font_mob_size",
      "min": 12,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Mobile Number Features Font Size",
      "default": 22
    },
    {
      "type": "range",
      "id": "features_font_size",
      "min": 12,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Features Font Size",
      "default": 16
    },
    {
      "type": "range",
      "id": "features_font_mob_size",
      "min": 12,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Mobile Features Font Size",
      "default": 14
    },
    {
      "type": "header",
      "content": "Section padding settings"
    },
    {
      "type": "range",
      "id": "section_padding_desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Desktop Section Padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_padding_tab",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Tablet Section Padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_padding_mob",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Mobile Section Padding",
      "default": 0
    },
    {
      "type": "header",
      "content": "Background Gradient settings"
    },
    {
      "type": "color",
      "id": "body_gradient_color_1",
      "label": "Gradient color 1",
      "default": "#0B1128"
    },
    {
      "type": "color",
      "id": "body_gradient_color_2",
      "label": "Gradient color 2",
      "default": "#212560"
    },
    {
      "type": "color",
      "id": "body_gradient_color_3",
      "label": "Gradient color 3",
      "default": "#12183C"
    },
    {
      "type": "color",
      "id": "body_gradient_color_4",
      "label": "Gradient color 4",
      "default": "#0B1128"
    },
    {
      "type": "color",
      "id": "body_gradient_color_5",
      "label": "Gradient color 5",
      "default": "#0B1128"
    },
    {
      "type": "color",
      "id": "body_gradient_color_6",
      "label": "Gradient color 6",
      "default": "#12173D"
    },
    {
      "type": "header",
      "content": "Global Gradient settings"
    },
    {
      "type": "color",
      "id": "global_gradient_color_1",
      "label": "Gradient color 1",
      "default": "#4222DE"
    },
    {
      "type": "color",
      "id": "global_gradient_color_2",
      "label": "Gradient color 2",
      "default": "#659BFF"
    },
    {
      "type": "color",
      "id": "global_gradient_color_3",
      "label": "Gradient color 3",
      "default": "#7FF6E8"
    }
  ],
  "presets": [
    {
      "name": "SG-Glow Hero"
    }
  ]
}
{% endschema %}