{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign body_gap_mobile = section.settings.body_gap_mobile
  assign body_gap = section.settings.body_gap

  assign content_horizontal_align_mobile = section.settings.content_horizontal_align_mobile
  assign content_horizontal_align = section.settings.content_horizontal_align
  assign content_vertical_align = section.settings.content_vertical_align

  assign text_align = ""
  if content_horizontal_align == "start"
    assign text_align = "left"
  elsif content_horizontal_align == "center"
    assign text_align = "center"
  else
    assign text_align = "right"
  endif

  assign text_align_mobile = ""
  if content_horizontal_align_mobile == "start"
    assign text_align_mobile = "left"
  elsif content_horizontal_align_mobile == "center"
    assign text_align_mobile = "center"
  else
    assign text_align_mobile = "right"
  endif

  assign image = section.settings.image
  assign images_position_mobile = section.settings.images_position_mobile
  assign images_position = section.settings.images_position
  assign image_ratio_mobile = section.settings.image_ratio_mobile
  assign image_ratio = section.settings.image_ratio
  assign image_shape = section.settings.image_shape
  assign image_border_color = section.settings.image_border_color
  assign image_border_thickness = section.settings.image_border_thickness
  assign image_radius = section.settings.image_radius

-%}

{%- style -%}
  
    .section-{{ section.id }} {
        border-top: solid {{ border_color }} {{ border_thickness }}px;
        border-bottom: solid {{ border_color }} {{ border_thickness }}px;
        margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
        margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
        margin-left: {{ margin_horizontal_mobile }}rem;
        margin-right: {{ margin_horizontal_mobile }}rem;
        border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    }
  
    .section-{{ section.id }}-settings {
        margin: 0 auto;
        padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
        padding-left: {{ padding_horizontal_mobile }}rem;
        padding-right: {{ padding_horizontal_mobile }}rem;
    }

    .hero-body-{{ section.id }} {
        display: grid;
        grid-template-columns: 1fr;
        gap: {{ body_gap_mobile }}px;
    }

    .hero-content-{{ section.id }} {
        display: flex;
        flex-direction: column;
        align-items: {{ content_horizontal_align_mobile }};
    }

    .hero-image-{{ section.id }} {
        width: 100%;
        overflow: hidden;
    }

    .hero-image-{{ section.id }} img,
    .hero-image-{{ section.id }} svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero-image-{{ section.id }} svg {
        background-color: #AFAFAF;
    }

    .clip-{{ section.id }} {
        width: 100%;
        height: 100%;
        pointer-events: none;
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        background-color: transparent !important;
    }
  
    @media(min-width: 1024px) {

        .section-{{ section.id }} {
            margin-top: {{ margin_top }}px;
            margin-bottom: {{ margin_bottom }}px;
            margin-left: {{ margin_horizontal }}rem;
            margin-right: {{ margin_horizontal }}rem;
            border-radius: {{ section_radius }}px;
        }
        
        .section-{{ section.id }}-settings {
            padding: 0 5rem;
            padding-top: {{ padding_top }}px;
            padding-bottom: {{ padding_bottom }}px;
            padding-left: {{ padding_horizontal }}rem;
            padding-right: {{ padding_horizontal }}rem;
        }

        .hero-body-{{ section.id }} {
            grid-template-columns: 1fr 1fr;
            gap: {{ body_gap }}px;
        }

        .hero-content-{{ section.id }} {
            justify-content: {{ content_vertical_align }};
            align-items: {{ content_horizontal_align }};
        }
    }
  
{%- endstyle -%}

{% unless full_width %}
    <style>
        .section-{{ section.id }}-settings {
            max-width: {{ content_width }}rem;
        }
    </style>
{% endunless %}

{% if images_position_mobile == "top" %}
    <style>
        .hero-image-{{ section.id }} {
            order: 1;
        }

        .hero-content-{{ section.id }} {
            order: 2;
        }
    </style>
{% else %}
    <style>
        .hero-image-{{ section.id }} {
            order: 2;
        }

        .hero-content-{{ section.id }} {
            order: 1;
        }
    </style>
{% endif %}

{% if images_position == "right" %}
    <style>
        @media(min-width: 1024px) {
            .hero-image-{{ section.id }} {
                order: 2;
            }

            .hero-content-{{ section.id }} {
                order: 1;
            }
        }
    </style>
{% else %}
    <style>
        @media(min-width: 1024px) {
            .hero-image-{{ section.id }} {
                order: 1;
            }

            .hero-content-{{ section.id }} {
                order: 2;
            }
        }
    </style>
{% endif %}

{% if image_ratio_mobile == "portrait" %}
    <style>
        .hero-image-{{ section.id }} {
            aspect-ratio: 9.6/12; 
        }
    </style>
{% elsif image_ratio_mobile == "landscape" %}
    <style>
        .hero-image-{{ section.id }}{
            aspect-ratio: 12/10; 
        }
    </style>
{% elsif image_ratio_mobile == "square" %}
    <style>
        .hero-image-{{ section.id }} {
            aspect-ratio: 12/12; 
        }
    </style>
{% else %}
    <style>
        .hero-image-{{ section.id }} {
            aspect-ratio: auto; 
        }
    </style>
{% endif %}

{% if image_ratio == "portrait" %}
    <style>
        @media(min-width: 1024px) {
            .hero-image-{{ section.id }} {
                aspect-ratio: 9.6/12; 
            } 
        }
    </style>
{% elsif image_ratio == "landscape" %}
    <style>
        @media(min-width: 1024px) {
            .hero-image-{{ section.id }} {
                aspect-ratio: 12/10; 
            }
        }
    </style>
{% elsif image_ratio == "square" %}
    <style>
        @media(min-width: 1024px) {
            .hero-image-{{ section.id }} {
                aspect-ratio: 12/12; 
            }
        }
    </style>
{% else %}
    <style>
        @media(min-width: 1024px) {
            .hero-image-{{ section.id }} {
                aspect-ratio: auto; 
            }
        }
    </style>
{% endif %}
  
{% if image_shape == "none" %}
    <style>
        .hero-image-{{ section.id }} {
            border-radius: {{ image_radius }}px;
            border: {{ image_border_thickness }}px solid {{ image_border_color }};
        }
    </style>
{% endif %}

{% for block in section.blocks %}
    {% if block.type == "heading" %}
        <style>
            {{  block.settings.heading_font | font_face: font_display: 'swap' }}
            
            .hero-heading-{{ block.id }} {
                text-align: {{ text_align_mobile }};
                margin-top: {{ block.settings.heading_mt_mobile }}px;
            }

            .hero-heading-{{ block.id }} * {
                margin: 0;
                font-size: {{ block.settings.heading_size_mobile }}px;
                color: {{ block.settings.heading_color }};
                line-height: {{ block.settings.heading_height }}%;
                text-transform: unset;
            }

            @media(min-width: 1024px) {
                
                .hero-heading-{{ block.id }} {
                    text-align: {{ text_align }};
                    margin-top: {{ block.settings.heading_mt }}px;
                }

                .hero-heading-{{ block.id }} * {
                    font-size: {{ block.settings.heading_size }}px;
                }
            }
        </style>

        {% if block.settings.heading_custom %}
            <style>
                .hero-heading-{{ block.id }} * {
                    font-family: {{ block.settings.heading_font.family }}, {{ block.settings.heading_font.fallback_families }};
                    font-weight: {{ block.settings.heading_font.weight }};
                    font-style: {{ block.settings.heading_font.style }};
                }
            </style>
        {% endif %}

    {% elsif block.type == "text" %}
        <style>
            {{ block.settings.text_font | font_face: font_display: 'swap' }}
            
            .hero-text-{{ block.id }} {
                text-align: {{ text_align_mobile }};
                margin-top: {{ block.settings.text_mt_mobile }}px;
            }

            .hero-text-{{ block.id }} * {
                margin: 0;
                font-size: {{ block.settings.text_size_mobile }}px;
                color: {{ block.settings.text_color }};
                line-height: {{ block.settings.text_height }}%;
                text-transform: unset;
            }

            @media(min-width: 1024px) {
                
                .hero-text-{{ block.id }} {
                    text-align: {{ text_align }};
                    margin-top: {{ block.settings.text_mt }}px;
                }

                .hero-text-{{ block.id }} * {
                    font-size: {{ block.settings.text_size }}px;
                }
            }
        </style>

        {% if block.settings.text_custom %}
            <style>
                .hero-text-{{ block.id }} {
                    font-family: {{ block.settings.text_font.family }}, {{ block.settings.text_font.fallback_families }};
                    font-weight: {{ block.settings.text_font.weight }};
                    font-style: {{ block.settings.text_font.style }};
                }
            </style>
        {% endif %}

    {% elsif block.type == "button" %}

        <style>
            .hero-button-{{ block.id }} {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 100%;
            max-width: fit-content;
            margin: 0;
            margin-top: {{ block.settings.button_mt_mobile }}px;
            font-size: {{ block.settings.button_size_mobile }}px;
            color: {{ block.settings.button_color }};
            line-height: {{ block.settings.button_height }}%;
            text-align: center;
            text-transform: unset;
            text-decoration: none;
            padding: {{ block.settings.button_padding_vertical_mobile }}px {{ block.settings.button_padding_horizontal_mobile }}px;
            border-radius: {{ block.settings.button_radius }}px;
            transition: all 0.25s ease 0s;
            position: relative;
            font-weight: 700;
            z-index: 2;
            }

            .hero-button-{{ block.id }}:hover {
            color: {{ block.settings.button_hover_color }};
            transition: all 0.25s ease 0s;
            }

            .hero-button-{{ block.id }} svg {
            width: 14px;
            height: 14px;
            }

            .hero-button-{{ block.id }} svg path {
            fill: {{ block.settings.button_color }};
            transition: all 0.25s ease 0s;
            }

            .hero-button-{{ block.id }}:hover svg path {
            fill: {{ block.settings.button_hover_color }};
            transition: all 0.25s ease 0s;
            }

            @media(min-width: 1024px) {
            .hero-button-{{ block.id }} {
                margin-top: {{ block.settings.button_mt }}px;
                padding: {{ block.settings.button_padding_vertical }}px {{ block.settings.button_padding_horizontal }}px;
                font-size: {{ block.settings.button_size }}px;
            }
            }
        </style>

        {% if block.settings.button_custom %}
            <style>
            .hero-button-{{ block.id }} {
                font-family: {{ block.settings.button_font.family }}, {{ block.settings.button_font.fallback_families }};
                font-weight: {{ block.settings.button_font.weight }};
                font-style: {{ block.settings.button_font.style }};
            }
            </style>
        {% endif %}

        {% if block.settings.button_style == "non_outline" or block.settings.button_style == "non_outline_arrow" %}
            <style>
            .hero-button-{{ block.id }} {
                background-color: {{ block.settings.button_bg_color }};
            }

            .hero-button-{{ block.id }}:hover {
                background-color: {{ block.settings.button_bg_hover_color }};
            }
            </style>
        {% elsif block.settings.button_style == "outline" or block.settings.button_style == "outline_arrow" %}
            <style>
            .hero-button-{{ block.id }} {
                background-color: {{ block.settings.button_bg_color }};
                border: {{ block.settings.button_border_thickness }}px solid {{ block.settings.button_border_color }};
            }

            .hero-button-{{ block.id }}:hover {
                background-color: {{ block.settings.button_bg_hover_color }};
                border: {{ block.settings.button_border_thickness }}px solid {{ block.settings.button_border_hover_color }};
            }
            </style>
        {% elsif block.settings.button_style == "link" %}
            <style>
                .hero-button-{{ block.id }} {
                    max-width: fit-content;
                    padding: 0px;
                }
            </style>
        {% endif %}
        
    {% endif %}

{% endfor %}

<div class="section-{{ section.id }} hero-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
        <div class="hero-body-{{ section.id }}">
            <div class="hero-content-{{ section.id }}">
                {% for block in section.blocks %}

                    {% if block.type == "heading" %}

                        <div class="hero-heading-{{ block.id }}">
                            {{ block.settings.heading }}
                        </div>

                    {% elsif block.type == "text" %}

                        <div class="hero-text-{{ block.id }}">
                            {{ block.settings.text }}
                        </div>

                    {% elsif block.type == "button" %}

                        {% if block.settings.button != blank %}
                            <a href="{{ block.settings.button_url }}" class="hero-button-{{ block.id }}">
                                {{ block.settings.button }}
                                {% if block.settings.button_style == "non_outline_arrow" or block.settings.button_style == "outline_arrow" %}
                                    <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                                    <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                                    </svg>
                                {% endif %}
                            </a>
                        {% endif %}   

                    {% endif %}
                {% endfor %}
            </div>
            <div class="hero-image-{{ section.id }}" style="clip-path: url(#image-shape-{{ section.id }});">
                {% if image != blank %}
                    <img 
                        src="{{ image |  image_url }}" 
                        alt="{{ image.alt }}" 
                        {% if lazy %}
                        loading="lazy"
                        {% endif %}
                    >
                {% else %}
                    {{ 'image' |  placeholder_svg_tag }}
                {% endif %}

                {% if image_shape == "1" %}
                    <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 340 341" fill="none">
                        <defs>
                        <clipPath id="image-shape-{{ section.id }}" clipPathUnits="objectBoundingBox">
                            <path d="M0.018821235294117646,0.01844991202346041c0.013941176470588236,-0.013926686217008797,0.03671764705882353,-0.019114369501466274,0.06908823529411764,-0.018237536656891498c0.026079411764705886,0.0006686217008797655,0.05835882352941176,0.005211143695014663,0.09620882352941176,0.011504398826979472c0.02975588235294118,0.004935483870967742,0.06295882352941176,0.010929618768328445,0.0987764705882353,0.01669208211143695c0.05195294117647059,0.008439882697947215,0.10844117647058822,0.015932551319648092,0.16270588235294117,0.019c0.15209411764705882,0.010281524926686216,0.2913352941176471,-0.026052785923753666,0.4360764705882353,-0.04493548387096774c0.09942352941176472,-0.010859237536656892,0.12714411764705882,0.015445747800586511,0.1160235294117647,0.11571554252199415c-0.017388235294117645,0.13494428152492668,-0.050311764705882354,0.25958651026392965,-0.04640588235294118,0.40186217008797653c0.001526470588235294,0.06467155425219942,0.010129411764705882,0.13229618768328447,0.020279411764705883,0.194683284457478c0.010264705882352941,0.06545747800586511,0.02603529411764706,0.1373900293255132,0.02825294117647059,0.19484457478005862c0.00044117647058823526,0.04636656891495601,-0.007652941176470588,0.0734574780058651,-0.04728235294117647,0.08390029325513196c-0.02185,0.004865102639296188,-0.046173529411764704,0.0037829912023460413,-0.07086764705882352,0.0011994134897360704c-0.03586176470588235,-0.003873900293255132,-0.07362058823529412,-0.010651026392961878,-0.1104529411764706,-0.01696774193548387c-0.1261970588235294,-0.023102639296187683,-0.2653676470588235,-0.03988856304985337,-0.39845588235294116,-0.02160410557184751c-0.0631,0.007193548387096774,-0.13029117647058824,0.01941348973607038,-0.18860294117647058,0.029258064516129032c-0.06272941176470588,0.008299120234604105,-0.16511176470588235,0.034859237536656894,-0.18027941176470588,-0.03571554252199414c-0.007352941176470588,-0.03439882697947214,-0.0013205882352941177,-0.07243988269794722,0.003838235294117647,-0.10909970674486805c0.006635294117647058,-0.04304398826979473,0.015026470588235294,-0.08763343108504398,0.021964705882352942,-0.13141642228739003c0.01301764705882353,-0.0800733137829912,0.02392941176470588,-0.17623753665689149,0.01803529411764706,-0.2650029325513196c-0.004741176470588236,-0.08641348973607038,-0.02171176470588235,-0.17882111436950146,-0.035794117647058823,-0.2607390029325513c-0.007629411764705882,-0.055542521994134904,-0.025688235294117647,-0.1297126099706745,0.006752941176470587,-0.16480351906158358l0.00011470588235294118,-0.00011436950146627567l0.000023529411764705884,-0.00002346041055718475z" fill="#CFF0BF"></path>
                            <path d="M0.018821235294117646,0.01844991202346041c0.013941176470588236,-0.013926686217008797,0.03671764705882353,-0.019114369501466274,0.06908823529411764,-0.018237536656891498c0.026079411764705886,0.0006686217008797655,0.05835882352941176,0.005211143695014663,0.09620882352941176,0.011504398826979472c0.02975588235294118,0.004935483870967742,0.06295882352941176,0.010929618768328445,0.0987764705882353,0.01669208211143695c0.05195294117647059,0.008439882697947215,0.10844117647058822,0.015932551319648092,0.16270588235294117,0.019c0.15209411764705882,0.010281524926686216,0.2913352941176471,-0.026052785923753666,0.4360764705882353,-0.04493548387096774c0.09942352941176472,-0.010859237536656892,0.12714411764705882,0.015445747800586511,0.1160235294117647,0.11571554252199415c-0.017388235294117645,0.13494428152492668,-0.050311764705882354,0.25958651026392965,-0.04640588235294118,0.40186217008797653c0.001526470588235294,0.06467155425219942,0.010129411764705882,0.13229618768328447,0.020279411764705883,0.194683284457478c0.010264705882352941,0.06545747800586511,0.02603529411764706,0.1373900293255132,0.02825294117647059,0.19484457478005862c0.00044117647058823526,0.04636656891495601,-0.007652941176470588,0.0734574780058651,-0.04728235294117647,0.08390029325513196c-0.02185,0.004865102639296188,-0.046173529411764704,0.0037829912023460413,-0.07086764705882352,0.0011994134897360704c-0.03586176470588235,-0.003873900293255132,-0.07362058823529412,-0.010651026392961878,-0.1104529411764706,-0.01696774193548387c-0.1261970588235294,-0.023102639296187683,-0.2653676470588235,-0.03988856304985337,-0.39845588235294116,-0.02160410557184751c-0.0631,0.007193548387096774,-0.13029117647058824,0.01941348973607038,-0.18860294117647058,0.029258064516129032c-0.06272941176470588,0.008299120234604105,-0.16511176470588235,0.034859237536656894,-0.18027941176470588,-0.03571554252199414c-0.007352941176470588,-0.03439882697947214,-0.0013205882352941177,-0.07243988269794722,0.003838235294117647,-0.10909970674486805c0.006635294117647058,-0.04304398826979473,0.015026470588235294,-0.08763343108504398,0.021964705882352942,-0.13141642228739003c0.01301764705882353,-0.0800733137829912,0.02392941176470588,-0.17623753665689149,0.01803529411764706,-0.2650029325513196c-0.004741176470588236,-0.08641348973607038,-0.02171176470588235,-0.17882111436950146,-0.035794117647058823,-0.2607390029325513c-0.007629411764705882,-0.055542521994134904,-0.025688235294117647,-0.1297126099706745,0.006752941176470587,-0.16480351906158358l0.00011470588235294118,-0.00011436950146627567l0.000023529411764705884,-0.00002346041055718475z" fill="url(#pattern0)"></path>
                            <path d="M0.018821235294117646,0.01844991202346041c0.013941176470588236,-0.013926686217008797,0.03671764705882353,-0.019114369501466274,0.06908823529411764,-0.018237536656891498c0.026079411764705886,0.0006686217008797655,0.05835882352941176,0.005211143695014663,0.09620882352941176,0.011504398826979472c0.02975588235294118,0.004935483870967742,0.06295882352941176,0.010929618768328445,0.0987764705882353,0.01669208211143695c0.05195294117647059,0.008439882697947215,0.10844117647058822,0.015932551319648092,0.16270588235294117,0.019c0.15209411764705882,0.010281524926686216,0.2913352941176471,-0.026052785923753666,0.4360764705882353,-0.04493548387096774c0.09942352941176472,-0.010859237536656892,0.12714411764705882,0.015445747800586511,0.1160235294117647,0.11571554252199415c-0.017388235294117645,0.13494428152492668,-0.050311764705882354,0.25958651026392965,-0.04640588235294118,0.40186217008797653c0.001526470588235294,0.06467155425219942,0.010129411764705882,0.13229618768328447,0.020279411764705883,0.194683284457478c0.010264705882352941,0.06545747800586511,0.02603529411764706,0.1373900293255132,0.02825294117647059,0.19484457478005862c0.00044117647058823526,0.04636656891495601,-0.007652941176470588,0.0734574780058651,-0.04728235294117647,0.08390029325513196c-0.02185,0.004865102639296188,-0.046173529411764704,0.0037829912023460413,-0.07086764705882352,0.0011994134897360704c-0.03586176470588235,-0.003873900293255132,-0.07362058823529412,-0.010651026392961878,-0.1104529411764706,-0.01696774193548387c-0.1261970588235294,-0.023102639296187683,-0.2653676470588235,-0.03988856304985337,-0.39845588235294116,-0.02160410557184751c-0.0631,0.007193548387096774,-0.13029117647058824,0.01941348973607038,-0.18860294117647058,0.029258064516129032c-0.06272941176470588,0.008299120234604105,-0.16511176470588235,0.034859237536656894,-0.18027941176470588,-0.03571554252199414c-0.007352941176470588,-0.03439882697947214,-0.0013205882352941177,-0.07243988269794722,0.003838235294117647,-0.10909970674486805c0.006635294117647058,-0.04304398826979473,0.015026470588235294,-0.08763343108504398,0.021964705882352942,-0.13141642228739003c0.01301764705882353,-0.0800733137829912,0.02392941176470588,-0.17623753665689149,0.01803529411764706,-0.2650029325513196c-0.004741176470588236,-0.08641348973607038,-0.02171176470588235,-0.17882111436950146,-0.035794117647058823,-0.2607390029325513c-0.007629411764705882,-0.055542521994134904,-0.025688235294117647,-0.1297126099706745,0.006752941176470587,-0.16480351906158358l0.00011470588235294118,-0.00011436950146627567l0.000023529411764705884,-0.00002346041055718475z" fill="url(#pattern1)"></path>
                        </clipPath>
                        </defs>
                    </svg>
                {% elsif image_shape == "2" %}
                    <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 526 517" fill="none">
                        <defs>
                        <clipPath id="image-shape-{{ section.id }}" clipPathUnits="objectBoundingBox">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.29331368821292775,0c0.08043916349809886,0,0.15331368821292776,0.032941972920696325,0.20630418250950572,0.08629013539651838c0.05299049429657795,-0.053348162475822046,0.12586501901140684,-0.08629013539651838,0.20630418250950572,-0.08629013539651838c0.16199239543726235,0,0.29331368821292775,0.1336073500967118,0.29331368821292775,0.29841972920696325c0,0.0776073500967118,-0.02911787072243346,0.14829400386847197,-0.07684410646387833,0.2013713733075435c0.04772623574144486,0.05307736943907156,0.07684410646387833,0.12376595744680852,0.07684410646387833,0.2013713733075435c0,0.16481237911025146,-0.1313212927756654,0.29841972920696325,-0.29331368821292775,0.29841972920696325c-0.08043916349809886,0,-0.15331368821292776,-0.032941972920696325,-0.20630418250950572,-0.08629013539651838c-0.05299049429657795,0.053348162475822046,-0.12586501901140684,0.08629013539651838,-0.20630418250950572,0.08629013539651838c-0.16199239543726235,0,-0.29331368821292775,-0.1336073500967118,-0.29331368821292775,-0.29841972920696325c0,-0.07760541586073501,0.02911787072243346,-0.14829400386847197,0.07684410646387833,-0.2013713733075435c-0.04772623574144486,-0.05307736943907156,-0.07684410646387833,-0.12376402321083171,-0.07684410646387833,-0.2013713733075435c0,-0.16481237911025146,0.1313212927756654,-0.29841972920696325,0.29331368821292775,-0.29841972920696325z" fill="url(#pattern0)"></path>
                        </clipPath>
                        </defs>
                    </svg>
                {% elsif image_shape == "3" %}
                    <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 340 341" fill="none">
                        <defs>
                        <clipPath id="image-shape-{{ section.id }}" clipPathUnits="objectBoundingBox">
                            <path d="M0,0.3520263929618768c0,-0.19435483870967743,0.15801764705882354,-0.3519061583577713,0.35294117647058826,-0.3519061583577713h0.29411764705882354c0.19492352941176472,0,0.35294117647058826,0.15755131964809385,0.35294117647058826,0.3519061583577713v0.5882352941176471c0,0.032390029325513194,-0.02633529411764706,0.05865102639296188,-0.058823529411764705,0.05865102639296188h-0.8823529411764706c-0.032488235294117644,0,-0.058823529411764705,-0.02626099706744868,-0.058823529411764705,-0.05865102639296188v-0.5882352941176471z" fill="url(#pattern0)"></path>
                            <path d="M0,0.3520263929618768c0,-0.19435483870967743,0.15801764705882354,-0.3519061583577713,0.35294117647058826,-0.3519061583577713h0.29411764705882354c0.19492352941176472,0,0.35294117647058826,0.15755131964809385,0.35294117647058826,0.3519061583577713v0.5882352941176471c0,0.032390029325513194,-0.02633529411764706,0.05865102639296188,-0.058823529411764705,0.05865102639296188h-0.8823529411764706c-0.032488235294117644,0,-0.058823529411764705,-0.02626099706744868,-0.058823529411764705,-0.05865102639296188v-0.5882352941176471z" fill="black" fill-opacity="0.5"></path>
                        </clipPath>
                        </defs>
                        <g id="Rectangle 28"></g>
                    </svg>
                {% elsif image_shape == "4" %}
                    <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 340 341" fill="none">
                        <defs>
                        <clipPath id="image-shape-{{ section.id }}" clipPathUnits="objectBoundingBox">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0,0.18780205278592374c0,-0.10365395894428152,0.0842764705882353,-0.187683284457478,0.18823529411764706,-0.187683284457478h0.6235294117647059c0.10395882352941176,0,0.18823529411764706,0.08402932551319649,0.18823529411764706,0.187683284457478c0,0.06416715542521995,-0.03229411764705883,0.12081231671554253,-0.08156176470588236,0.1546598240469208c0.04931764705882353,0.03447214076246335,0.08156176470588236,0.09157771260997068,0.08156176470588236,0.1561935483870968c0,0.06461290322580646,-0.03224411764705882,0.12171847507331378,-0.08156176470588236,0.15619061583577715c0.049267647058823534,0.0338475073313783,0.08156176470588236,0.09049266862170088,0.08156176470588236,0.1546598240469208c0,0.10365395894428152,-0.0842764705882353,0.187683284457478,-0.18823529411764706,0.187683284457478h-0.6235294117647059c-0.10395882352941176,0,-0.18823529411764706,-0.08402932551319649,-0.18823529411764706,-0.187683284457478c0,-0.06416715542521995,0.03229411764705883,-0.12081231671554253,0.08156470588235294,-0.1546598240469208c-0.049320588235294116,-0.03447214076246335,-0.08156470588235294,-0.09157771260997068,-0.08156470588235294,-0.15619061583577715c0,-0.0646158357771261,0.03224411764705882,-0.12172140762463342,0.08156470588235294,-0.1561935483870968c-0.049270588235294115,-0.0338475073313783,-0.08156470588235294,-0.09049266862170088,-0.08156470588235294,-0.1546598240469208z" fill="#CFF0BF"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0,0.18780205278592374c0,-0.10365395894428152,0.0842764705882353,-0.187683284457478,0.18823529411764706,-0.187683284457478h0.6235294117647059c0.10395882352941176,0,0.18823529411764706,0.08402932551319649,0.18823529411764706,0.187683284457478c0,0.06416715542521995,-0.03229411764705883,0.12081231671554253,-0.08156176470588236,0.1546598240469208c0.04931764705882353,0.03447214076246335,0.08156176470588236,0.09157771260997068,0.08156176470588236,0.1561935483870968c0,0.06461290322580646,-0.03224411764705882,0.12171847507331378,-0.08156176470588236,0.15619061583577715c0.049267647058823534,0.0338475073313783,0.08156176470588236,0.09049266862170088,0.08156176470588236,0.1546598240469208c0,0.10365395894428152,-0.0842764705882353,0.187683284457478,-0.18823529411764706,0.187683284457478h-0.6235294117647059c-0.10395882352941176,0,-0.18823529411764706,-0.08402932551319649,-0.18823529411764706,-0.187683284457478c0,-0.06416715542521995,0.03229411764705883,-0.12081231671554253,0.08156470588235294,-0.1546598240469208c-0.049320588235294116,-0.03447214076246335,-0.08156470588235294,-0.09157771260997068,-0.08156470588235294,-0.15619061583577715c0,-0.0646158357771261,0.03224411764705882,-0.12172140762463342,0.08156470588235294,-0.1561935483870968c-0.049270588235294115,-0.0338475073313783,-0.08156470588235294,-0.09049266862170088,-0.08156470588235294,-0.1546598240469208z" fill="url(#pattern0)"></path>
                        </clipPath>
                        </defs>
                    </svg>
                {% elsif image_shape == "5" %}
                    <svg class="clip-{{ section.id }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0px" height="0px" viewBox="0 0 689 690" fill="none">
                        <defs>
                            <clipPath id="image-shape-{{ section.id }}" clipPathUnits="objectBoundingBox">
                            <path d="M0.9174949201741655,0.6739333333333334c0.0035123367198838895,0.04500579710144927,0.08627285921625544,0.08113768115942029,0.08224528301886792,0.18053913043478262c-0.004129172714078375,0.11206811594202898,-0.1258432510885341,0.17999710144927536,-0.22423947750362846,0.12745217391304348c-0.018014513788098693,-0.009447826086956521,-0.03545718432510885,-0.022892753623188405,-0.04924092888243831,-0.03408840579710145c-0.016590711175616835,-0.012755072463768117,-0.028052249637155295,-0.024831884057971015,-0.04565602322206096,-0.029489855072463766c-0.017133526850507983,-0.0038362318840579708,-0.03174020319303338,0.008081159420289854,-0.0448766328011611,0.018072463768115943c-0.026847605224963718,0.021482608695652175,-0.05316545718432511,0.04466811594202899,-0.08813933236574746,0.05595362318840579c-0.04569956458635704,0.015252173913043477,-0.09787953555878083,0.006582608695652173,-0.13718867924528302,-0.020718840579710143c-0.019,-0.012621739130434783,-0.032901306240928886,-0.02487536231884058,-0.04781567489114659,-0.03655652173913043c-0.012431059506531204,-0.009684057971014494,-0.022658925979680698,-0.016015942028985507,-0.032577648766328016,-0.01723623188405797c-0.02019013062409289,-0.0020869565217391303,-0.036046444121915815,0.014457971014492754,-0.05126995645863571,0.025949275362318842c-0.02271698113207547,0.018395652173913042,-0.04553846153846154,0.03680724637681159,-0.07535413642960813,0.047371014492753626c-0.03913062409288824,0.013871014492753624,-0.08383164005805514,0.011020289855072463,-0.12080406386066762,-0.007904347826086957c-0.0639056603773585,-0.03129710144927536,-0.09673439767779392,-0.1092608695652174,-0.0767489114658926,-0.1771753623188406c0.011108853410740202,-0.04093623188405797,0.03967489114658926,-0.07029420289855072,0.06374455732946299,-0.10195797101449275c0.019544267053701016,-0.025346376811594205,0.015473149492017417,-0.042199999999999994,-0.0058925979680696655,-0.06825217391304347c-0.028522496371552977,-0.03426521739130435,-0.06024818577648767,-0.0745695652173913,-0.06295210449927431,-0.12247101449275362c-0.010168359941944849,-0.11975217391304349,0.11035703918722786,-0.15462028985507248,0.0749288824383164,-0.20838405797101447c-0.03149056603773585,-0.0458,-0.07223947750362845,-0.07997681159420289,-0.07523657474600871,-0.14364347826086957c-0.005921625544267054,-0.08306376811594203,0.05983599419448476,-0.15748550724637683,0.1432278664731495,-0.16099710144927534c0.04476052249637155,-0.0035565217391304352,0.08849056603773585,0.01733768115942029,0.12120174165457184,0.04468260869565217c0.016706821480406385,0.012342028985507247,0.032224963715529756,0.029063768115942027,0.05185631349782293,0.035895652173913044c0.0178388969521045,0.004702898550724638,0.028698113207547168,-0.0031579710144927532,0.046507982583454274,-0.016528985507246376c0.024981132075471698,-0.02002753623188406,0.054943396226415094,-0.0459768115942029,0.08819738751814224,-0.05646811594202899c0.033841799709724237,-0.011284057971014493,0.0715921625544267,-0.010314492753623188,0.10480261248185777,0.0027333333333333333c0.027918722786647317,0.011123188405797102,0.04924092888243831,0.028446376811594204,0.07082728592162554,0.04591739130434783c0.011828737300435415,0.009198550724637681,0.02379100145137881,0.02018840579710145,0.03794194484760523,0.024494202898550723c0.02376052249637155,0.005804347826086956,0.03913062409288824,-0.012210144927536233,0.05868940493468795,-0.026830434782608697c0.0288011611030479,-0.024421739130434782,0.06711030478955007,-0.05016376811594203,0.10722641509433962,-0.05322028985507247c0.053959361393323656,-0.006347826086956522,0.11022496371552974,0.018131884057971014,0.14121480406386067,0.06293188405797101c0.04533381712626996,0.06617971014492754,0.03241654571843251,0.14249855072463768,-0.01728011611030479,0.2010376811594203c-0.01253410740203193,0.01708840579710145,-0.029991291727140785,0.03289855072463768,-0.036193033381712626,0.053279710144927536c-0.003629898403483309,0.017,0.003952104499274311,0.027359420289855073,0.016134978229317854,0.043830434782608695c0.014724238026124818,0.018895652173913043,0.03456168359941945,0.04131739130434783,0.04668505079825834,0.06465217391304348c0.02176197387518142,0.03995072463768116,0.024391872278664732,0.0896,0.006979680696661829,0.13163913043478262c-0.011007256894049347,0.026375362318840582,-0.02758200290275762,0.04703333333333334,-0.043555878084179975,0.06670869565217392c-0.011123367198838897,0.014766666666666668,-0.02669956458635704,0.029518840579710142,-0.027390420899854863,0.04866521739130435v0.00011756168359941946z" fill="url(#pattern0)"></path>
                            </clipPath>
                        </defs>
                        </svg>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "SG-Hero #11",
  "settings": [
    {
      "type": "header",
      "content": "Body Settings"
    },
    {
      "type": "range",
      "id": "body_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Body Gap",
      "default": 48
    },
    {
      "type": "range",
      "id": "body_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Body Gap - Mobile",
      "default": 24
    },
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type": "select",
      "id": "content_vertical_align",
      "label": "Content Vertical Align",
      "default": "center",
      "options": [
        {
          "label": "Top",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Bottom",
          "value": "end"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_horizontal_align",
      "label": "Content Horizontal Align",
      "default": "start",
      "options": [
        {
          "label": "Left",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "end"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_horizontal_align_mobile",
      "label": "Content Horizontal Align - Mobile",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "end"
        }
      ]
    },
    {
      "type": "header",
      "content": "Image Settings"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "images_position",
      "label": "Images Position - Desktop",
      "default": "right",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "images_position_mobile",
      "label": "Images Position - Mobile",
      "default": "top",
      "options": [
        {
          "label": "Top",
          "value": "top"
        },
        {
          "label": "Bottom",
          "value": "bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Image Aspect Ratio",
      "default": "square",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_ratio_mobile",
      "label": "Image Aspect Ratio - Mobile",
      "default": "square",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_shape",
      "label": "Image Shape",
      "default": "5",
      "options": [
        {
          "label": "Shape 1",
          "value": "1"
        },
        {
          "label": "Shape 2",
          "value": "2"
        },
        {
          "label": "Shape 3",
          "value": "3"
        },
        {
          "label": "Shape 4",
          "value": "4"
        },
        {
          "label": "Shape 5",
          "value": "5"
        },
        {
          "label": "None",
          "value": "none"
        }
      ]
    },
    {
      "type": "range",
      "id": "image_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Image Roundness",
      "default": 0
    },
    {
      "type": "range",
      "id": "image_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Image Border Thickness",
      "default": 0,
      "info": "Does not work on shapes"
    },
    {
      "type": "header",
      "content": "Image Colors"
    },
    {
      "type": "color",
      "label": "Image Border Color",
      "id": "image_border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Margin sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Margin sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width",
      "default": false
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "rem",
      "label": "Section content width",
      "default": 160
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section Roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "limit": 1,
      "name": "Heading",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading",
          "default": "<h2>Heading</h2>"
        },
        {
          "type": "checkbox",
          "id": "heading_custom",
          "label": "Use Custom Font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "heading_font",
          "label": "Heading Font Family",
          "default": "josefin_sans_n4"
        },
        {
          "type": "range",
          "id": "heading_size",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Heading Size",
          "default": 76
        },
        {
          "type": "range",
          "id": "heading_size_mobile",
          "min": 0,
          "max": 72,
          "step": 2,
          "unit": "px",
          "label": "Heading Size - Mobile",
          "default": 48
        },
        {
          "type": "range",
          "id": "heading_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Heading Line Height",
          "default": 120
        },
        {
          "type": "range",
          "id": "heading_mt",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Heading Margin Top",
          "default": 0
        },
        {
          "type": "range",
          "id": "heading_mt_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Heading Margin Top - Mobile",
          "default": 0
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading Color",
          "default": "#1B1B1B"
        }
      ]
    },
    {
      "type": "text",
      "limit": 1,
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text</p>"
        },
        {
          "type": "checkbox",
          "id": "text_custom",
          "label": "Use Custom Font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "text_font",
          "label": "Text Font Family",
          "default": "josefin_sans_n4"
        },
        {
          "type": "range",
          "id": "text_size",
          "min": 0,
          "max": 72,
          "step": 2,
          "unit": "px",
          "label": "Text Size",
          "default": 20
        },
        {
          "type": "range",
          "id": "text_size_mobile",
          "min": 0,
          "max": 72,
          "step": 2,
          "unit": "px",
          "label": "Text Size - Mobile",
          "default": 20
        },
        {
          "type": "range",
          "id": "text_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Text Line Height",
          "default": 170
        },
        {
          "type": "range",
          "id": "text_mt",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Text Margin Top",
          "default": 26
        },
        {
          "type": "range",
          "id": "text_mt_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Text Margin Top - Mobile",
          "default": 26
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#757575"
        }
      ]
    },
    {
      "type": "button",
      "limit": 1,
      "name": "Button",
      "settings": [
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button Text",
          "default": "SHOP NOW"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        },
        {
          "type": "checkbox",
          "id": "button_custom",
          "label": "Use Custom Font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "button_font",
          "label": "Button Font Family",
          "default": "josefin_sans_n4"
        },
        {
          "type": "range",
          "id": "button_size",
          "min": 0,
          "max": 30,
          "step": 1,
          "unit": "px",
          "label": "Button Size",
          "default": 16
        },
        {
          "type": "range",
          "id": "button_size_mobile",
          "min": 0,
          "max": 30,
          "step": 1,
          "unit": "px",
          "label": "Button Size - Mobile",
          "default": 16
        },
        {
          "type": "range",
          "id": "button_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Button Line Height",
          "default": 100
        },
        {
          "type": "range",
          "id": "button_mt",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Button Margin Top",
          "default": 32
        },
        {
          "type": "range",
          "id": "button_mt_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Button Margin Top - Mobile",
          "default": 32
        },
        {
          "type": "range",
          "id": "button_padding_vertical",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Button Padding Vertical",
          "default": 16
        },
        {
          "type": "range",
          "id": "button_padding_vertical_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Button Padding Vertical - Mobile",
          "default": 16
        },
        {
          "type": "range",
          "id": "button_padding_horizontal",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Button Padding Horizontal",
          "default": 38
        },
        {
          "type": "range",
          "id": "button_padding_horizontal_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Button Padding Horizontal - Mobile",
          "default": 38
        },
        {
          "type": "range",
          "id": "button_radius",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Button Roundness",
          "default": 100
        },
        {
          "type": "range",
          "id": "button_border_thickness",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "px",
          "label": "Button Border Thickness",
          "default": 0
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button Style",
          "default": "non_outline",
          "options": [
            {
              "label": "Link",
              "value": "link"
            },
            {
              "label": "Non-Outline",
              "value": "non_outline"
            },
            {
              "label": "Non-Outline & Arrow",
              "value": "non_outline_arrow"
            },
            {
              "label": "Outline",
              "value": "outline"
            },
            {
              "label": "Outline & Arrow",
              "value": "outline_arrow"
            }
          ]
        },
        {
          "type": "header",
          "content": "Button Colors"
        },
        {
          "type": "color",
          "label": "Button Text Color",
          "id": "button_color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "label": "Button Hover Text Color",
          "id": "button_hover_color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "label": "Button Background Color",
          "id": "button_bg_color",
          "default": "#121212"
        },
        {
          "type": "color",
          "label": "Button Background Hover Color",
          "id": "button_bg_hover_color",
          "default": "#121212"
        },
        {
          "type": "color",
          "label": "Button Border Color",
          "id": "button_border_color",
          "default": "#121212"
        },
        {
          "type": "color",
          "label": "Button Border Hover Color",
          "id": "button_border_hover_color",
          "default": "#121212"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Hero #11",
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "heading": "<p><strong>Heading</strong></p>"
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "<p>Pair text with an image to give customers insight into your brand. Tell a story, explain a product detail, or describe a new promotion.</p>"
          }
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}