{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy

  assign body_gap = section.settings.body_gap
  assign body_gap_mobile = section.settings.body_gap_mobile
  assign body_mt_mobile = section.settings.body_mt_mobile
  
  assign image = section.settings.image
  assign image_border_thickness = section.settings.image_border_thickness
  assign image_border_color = section.settings.image_border_color
  assign image_radius = section.settings.image_radius
  assign image_ratio = section.settings.image_ratio
  assign image_ratio_mobile = section.settings.image_ratio_mobile
  assign image_shadow = section.settings.image_shadow
  assign image_shadow_color = section.settings.image_shadow_color
  assign image_overlay = section.settings.image_overlay
  assign image_position_mobile = section.settings.image_position_mobile
  assign image_position = section.settings.image_position

  assign circle_size = section.settings.circle_size
  assign circle_size_mobile = section.settings.circle_size_mobile
  assign circle_border_thickness = section.settings.circle_border_thickness
  assign circle_border_color = section.settings.circle_border_color
  assign circle_border_hover_color = section.settings.circle_border_hover_color
  assign circle_border_active_color = section.settings.circle_border_active_color
  assign circle_bg_color = section.settings.circle_bg_color
  assign circle_bg_hover_color = section.settings.circle_bg_hover_color
  assign circle_bg_active_color = section.settings.circle_bg_active_color

  assign hotspot_size = section.settings.hotspot_size
  assign hotspot_size_mobile = section.settings.hotspot_size_mobile
  assign hotspot_color = section.settings.hotspot_color
  assign hotspot_hover_color = section.settings.hotspot_hover_color
  assign hotspot_active_color = section.settings.hotspot_active_color
  assign hotspot_custom = section.settings.hotspot_custom
  assign hotspot_font = section.settings.hotspot_font
  assign hotspot_height = section.settings.hotspot_height

  assign content_maxwidth = section.settings.content_maxwidth

  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_color = section.settings.heading_color
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_color = section.settings.text_color
  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_height = section.settings.text_height
  assign text_align = section.settings.text_align
  assign text_align_mobile = section.settings.text_align_mobile
  assign text_mt = section.settings.text_mt
  assign text_mt_mobile = section.settings.text_mt_mobile

  assign nav_align_mobile = section.settings.nav_align_mobile
  assign nav_align = section.settings.nav_align
  assign nav_mt_mobile = section.settings.nav_mt_mobile
  assign nav_mt = section.settings.nav_mt

  assign info_position_mobile = ''
  assign info_position = ''

  if image_position_mobile == "1"
    assign info_position_mobile = "2"
  else
    assign info_position_mobile = "1"
  endif

  if image_position == "1"
    assign info_position = "2"
  else
    assign info_position = "1"
  endif
  
-%}

{%- style -%}

  {{  hotspot_font | font_face: font_display: 'swap' }}
  {{  heading_font | font_face: font_display: 'swap' }}
  {{  text_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .hotspots-body-{{ section.id }} {
    margin-top: {{ body_mt_mobile }}px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: {{ body_gap_mobile }}px;
    align-items: center; 
  }

  .hotspots-image-{{ section.id }} {
    border-radius: {{ image_radius }}px;
    border: {{ image_border_thickness }}px solid {{ image_border_color }};
    position: relative;
    order: {{ image_position_mobile }};
  }

  .hotspots-image-{{ section.id }} > img,
  .hotspots-image-{{ section.id }} > svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: {{ image_radius }}px;
  }

  .hotspots-image-{{ section.id }} > svg {
    background-color: #DDDDDD;
  }

  .hotspots-image-{{ section.id }}:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, {{ image_overlay }});
    border-radius: {{ image_radius }}px;
    z-index: 1;
  }

  .hotspots-hotspot-{{ section.id }} {
     position: absolute;
     z-index: 2;
   }

  .hotspots-circle-{{ section.id }} {
    width: {{ circle_size_mobile }}px;
    height: {{ circle_size_mobile }}px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: {{ circle_border_thickness }}px solid {{ circle_border_color }};
    background-color: {{ circle_bg_color }};
    cursor: pointer;
    transition: all 0.25s ease 0s;
  }

  .hotspots-circle-{{ section.id }}:hover {
    border: {{ circle_border_thickness }}px solid {{ circle_border_hover_color }};
    background-color: {{ circle_bg_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .hotspots-circle-{{ section.id }}.active {
    border: {{ circle_border_thickness }}px solid {{ circle_border_active_color }};
    background-color: {{ circle_bg_active_color }};
    transition: all 0.25s ease 0s;
  }

  .hotspots-circle-{{ section.id }} span {
    margin: 0;
    font-size: {{ hotspot_size_mobile }}px;
    color: {{ hotspot_color }};
    line-height: {{ hotspot_height }}%;
    text-transform: unset;
    transition: all 0.25s ease 0s;
  }

  .hotspots-circle-{{ section.id }}:hover span {
    color: {{ hotspot_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .hotspots-circle-{{ section.id }}.active span {
    color: {{ hotspot_active_color }};
    transition: all 0.25s ease 0s;
  }

  .hotspots-content-{{ section.id }} {
    order: {{ info_position_mobile }};
  }

  .hotspots-content-inner-{{ section.id }} {
    width: 100%;
    margin: 0px auto;
  }

  .hotspots-desktop-{{ section.id }} {
    display: none;
  }

  .hotspots-heading-{{ section.id }} {
    text-align: {{ heading_align_mobile }};
  }

  .hotspots-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
  }
  
  .hotspots-item-{{ section.id }} {
    display: none;
  }

  .hotspots-item-{{ section.id }}.active {
    display: block;
  }

  .hotspots-text-{{ section.id }} {
    margin-top: {{ text_mt_mobile }}px;
    text-align: {{ text_align_mobile }};
  }

  .hotspots-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ text_size_mobile }}px;
    color: {{ text_color }};
    line-height: {{ text_height }}%;
    text-transform: unset;
  }

  .hotspots-circles-{{ section.id }} {
    margin-top: {{ nav_mt_mobile }}px;
    display: flex;
    align-items: center;
    justify-content: {{ nav_align_mobile }};
    gap: 16px;
    flex-wrap: wrap;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .hotspots-body-{{ section.id }} {
      margin-top: 0px;
      grid-template-columns: repeat(2, 1fr);
      gap: {{ body_gap }}px;
    }

    .hotspots-image-{{ section.id }} {
      order: {{ image_position }};
    }

    .hotspots-circle-{{ section.id }} {
      width: {{ circle_size }}px;
      height: {{ circle_size }}px;
    }

    .hotspots-circle-{{ section.id }} span {
      font-size: {{ hotspot_size }}px;
    }

    .hotspots-content-inner-{{ section.id }} {
      max-width: {{ content_maxwidth }}px;
    }

    .hotspots-content-{{ section.id }} {
      order: {{ info_position }};
    }

    .hotspots-desktop-{{ section.id }} {
      display: block;
    }

    .hotspots-mobile-{{ section.id }} {
      display: none;
    }

    .hotspots-heading-{{ section.id }} {
      text-align: {{ heading_align }};
    }
  
    .hotspots-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }
  
    .hotspots-text-{{ section.id }} {
      margin-top: {{ text_mt }}px;
      text-align: {{ text_align }};
    }
  
    .hotspots-text-{{ section.id }} * {
      font-size: {{ text_size }}px;
    }

    .hotspots-circles-{{ section.id }} {
      margin-top: {{ nav_mt }}px;
      justify-content: {{ nav_align }};
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if hotspot_custom %}
  <style>
    .hotspots-circle-{{ section.id }} span {
      font-family: {{ hotspot_font.family }}, {{ hotspot_font.fallback_families }};
      font-weight: {{ hotspot_font.weight }};
      font-style: {{ hotspot_font.style }};
    }
  </style>
{% endif %}

{% if heading_custom %}
  <style>
    .hotspots-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .hotspots-text-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if image_shadow %}
  <style>
    .hotspots-image-{{ section.id }} {
      box-shadow: 0 2px 12px 4px {{ image_shadow_color | hex_to_rgba: 0.24 }};
    }
  </style>
{% endif %}

{% if image_ratio_mobile == "portrait" %}
  <style>
    .hotspots-image-{{ section.id }} {
     aspect-ratio: 9.6/12; 
    }
  </style>
{% elsif image_ratio_mobile == "landscape" %}
  <style>
    .hotspots-image-{{ section.id }} {
     aspect-ratio: 12/10; 
    }
  </style>
{% elsif image_ratio_mobile == "square" %}
  <style>
    .hotspots-image-{{ section.id }} {
     aspect-ratio: 12/12; 
    }
  </style>
{% endif %}

{% if image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
     .hotspots-image-{{ section.id }} {
       aspect-ratio: 9.6/12; 
      }
    }
  </style>
{% elsif image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .hotspots-image-{{ section.id }} {
       aspect-ratio: 12/10; 
      }
    }
  </style>
{% elsif image_ratio == "square" %}
  <style>
     @media(min-width: 1024px) {
      .hotspots-image-{{ section.id }} {
       aspect-ratio: 12/12; 
      } 
     }
  </style>
{% else %}
  <style>
     @media(min-width: 1024px) {
      .hotspots-image-{{ section.id }} {
       aspect-ratio: auto; 
      }
     }
  </style>
{% endif %}

{% for block in section.blocks %}
  <style>
    .hotspots-hotspot-{{ block.id }} {
      left: {{ block.settings.horizontal_position_mobile }}%;
      top: {{ block.settings.vertical_position_mobile }}%;
      transform: translate(-{{ block.settings.horizontal_position_mobile }}%, -{{ block.settings.vertical_position_mobile}}%);
    }
    @media(min-width: 1024px) {
      .hotspots-hotspot-{{ block.id }} {
        left: {{ block.settings.horizontal_position }}%;
        top: {{ block.settings.vertical_position }}%;
        transform: translate(-{{ block.settings.horizontal_position }}%, -{{ block.settings.vertical_position}}%);
      }
    }
  </style>
{% endfor %}

<div class="section-{{ section.id }} hotspots-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      
      <div class="hotspots-body-{{ section.id }}">
        
        <div class="hotspots-image-{{ section.id }}">
          {% if image != blank %}
            <img src="{{ image | image_url }}" alt="{{ image.alt }}" {% if lazy %}lazy="loading"{% endif %}>
          {% else %}
            {{ 'image' | placeholder_svg_tag }}
          {% endif %}
          {% for block in section.blocks %}
            <div class="hotspots-circle-{{ section.id }} hotspots-hotspot-{{ section.id }} hotspots-hotspot-{{ block.id }} {% if forloop.first %}active{% endif %}" data-id="{{ block.id }}">
              <span>{{ forloop.index }}</span>
            </div>
          {% endfor %}
        </div>
        
        <div class="hotspots-content-{{ section.id }}">
          <div class="hotspots-content-inner-{{ section.id }}">
            
            <div class="hotspots-items-{{ section.id }}">
              {% for block in section.blocks %}
                <div class="hotspots-item-{{ section.id }} {% if forloop.first %}active{% endif %}" id="{{ block.id }}">
                  {% if block.settings.heading != blank %}
                    <div class="hotspots-heading-{{ section.id }}">{{ block.settings.heading }}</div>
                  {% endif %}
                  <div class="hotspots-text-{{ section.id }}">
                    {{ block.settings.text }}
                  </div>
                </div>
              {% endfor %}
            </div>
            
            <div class="hotspots-circles-{{ section.id }}">
              {% for block in section.blocks %}
                <div class="hotspots-circle-{{ section.id }} {% if forloop.first %}active{% endif %}" data-id="{{ block.id }}">
                  <span>{{ forloop.index }}</span>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        
      </div>
    </div>
</div>

<script>
  function initHotspots4() {
    if(document.querySelectorAll('.hotspots-circle-{{ section.id }}')) {
      let circles = document.querySelectorAll('.hotspots-circle-{{ section.id }}');
      let texts = document.querySelectorAll('.hotspots-item-{{ section.id }}');
      
      circles.forEach(el => {
        el.addEventListener('click', () => {
          let dataId = el.getAttribute('data-id');

          circles.forEach(element => {
            let dataElementId = element.getAttribute('data-id');
            
            if(dataId != dataElementId) {
              element.classList.remove('active');
            } else {
              element.classList.add('active');
            }
          })

          if(texts) {
            texts.forEach(element => {
              
              if(element.id != dataId ) {
                element.classList.remove('active');
              } else {
                element.classList.add('active');
              }
              
            })
          }
        })
      })
    }
  }

  document.addEventListener('DOMContentLoaded', initHotspots4);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initHotspots4);
     document.addEventListener('shopify:section:load', initHotspots4);
  }
</script>

{% schema %}
{
  "name": "SG-Hotspots #4",
  "settings": [
    {
      "type": "header",
      "content": "Body Settings"
    },
    {
      "type": "range",
      "id": "body_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Body Gap",
      "default": 30
    },
    {
      "type": "range",
      "id": "body_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Body Gap - Mobile",
      "default": 30
    },
    {
      "type": "range",
      "id": "body_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Body Margin Top  - Mobile",
      "default": 30
    },
    {
      "type": "header",
      "content": "Image Settings"
    },
    {
      "type": "image_picker",
      "label": "First Image",
      "id": "image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image Position",
      "default": "1",
      "options": [
        {
          "label": "Left",
          "value": "1"
        },
        {
          "label": "Right",
          "value": "2"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_position_mobile",
      "label": "Image Position - Mobile",
      "default": "1",
      "options": [
        {
          "label": "Top",
          "value": "1"
        },
        {
          "label": "Bottom",
          "value": "2"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Image Aspect Ratio",
      "default": "landscape",
      "options": [
        {
          "label": "Original",
          "value": "original"
        },
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_ratio_mobile",
      "label": "Image Aspect Ratio - Mobile",
      "default": "landscape",
      "options": [
        {
          "label": "Original",
          "value": "original"
        },
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        }
      ]
    },
    {
      "type": "range",
      "id": "image_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Image Radius",
      "default": 16
    },
    {
      "type": "range",
      "id": "image_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Image Border Thickness",
      "default": 1
    },
    {
      "type": "checkbox",
      "label": "Use Image Shadow",
      "id": "image_shadow",
      "default": false
    },
    {
      "type": "range",
      "id": "image_overlay",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "unit": "px",
      "label": "Image Overlay",
      "default": 0.2
    },
    {
      "type": "header",
      "content": "Hotspot Circle Settings"
    },
    {
      "type": "range",
      "id": "circle_size",
      "min": 20,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Hotspot Circle Size",
      "default": 36
    },
    {
      "type": "range",
      "id": "circle_size_mobile",
      "min": 10,
      "max": 60,
      "step": 2,
      "unit": "px",
      "label": "Hotspot Circle Size - Mobile",
      "default": 32
    },
    {
      "type": "range",
      "id": "circle_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Hotspot Circle Border Thicknes",
      "default": 1
    },
    {
      "type": "header",
      "content": "Hotspot Number Settings"
    },
    {
      "type": "checkbox",
      "id": "hotspot_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "hotspot_font",
      "label": "Hotspot Number Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "hotspot_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Hotspot Number Size",
      "default": 14
    },
    {
      "type": "range",
      "id": "hotspot_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Hotspot Number Size - Mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "hotspot_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Hotspot Number Line Height",
      "default": 100
    },
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type": "range",
      "id": "content_maxwidth",
      "min": 200,
      "max": 700,
      "step": 10,
      "unit": "px",
      "label": "Content Width - Desktop",
      "default": 550
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "checkbox",
      "id": "heading_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Heading Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Heading Size",
      "default": 48
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Heading Size - Mobile",
      "default": 28
    },
    {
      "type": "range",
      "id": "heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Heading Line Height",
      "default": 130
    },
    {
      "type": "text_alignment",
      "id": "heading_align",
      "label": "Heading Text Align",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "heading_align_mobile",
      "label": "Heading Text Align - Mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Hotspots Text"
    },
    {
      "type": "checkbox",
      "id": "text_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "text_font",
      "label": "Hotspots Text Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "text_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Hotspots Text Size",
      "default": 24
    },
    {
      "type": "range",
      "id": "text_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Hotspots Text Size - Mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Hotspots Text Line Height",
      "default": 150
    },
    {
      "type": "range",
      "id": "text_mt",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Hotspots Text Margin Top",
      "default": 14
    },
    {
      "type": "range",
      "id": "text_mt_mobile",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Hotspots Text Margin Top - Mobile",
      "default": 12
    },
    {
      "type": "text_alignment",
      "id": "text_align",
      "label": "Hotspots Text Align",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "text_align_mobile",
      "label": "Hotspots Text Align - Mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Hotspots Navigation Circles"
    },
    {
      "type": "select",
      "id": "nav_align",
      "label": "Hotspots Navigation Align",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "end"
        }
      ]
    },
    {
      "type": "select",
      "id": "nav_align_mobile",
      "label": "Hotspots Navigation Align - Mobile",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "end"
        }
      ]
    },
    {
      "type": "range",
      "id": "nav_mt",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Hotspots Navigation Margin Top",
      "default": 40
    },
    {
      "type": "range",
      "id": "nav_mt_mobile",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Hotspots Navigation Margin Top - Mobile",
      "default": 24
    },
    {
      "type": "header",
      "content": "Image Colors"
    },
    {
      "type": "color",
      "label": "Image Border Color",
      "id": "image_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Image Shadow Color",
      "id": "image_shadow_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Hotspots Colors"
    },
    {
      "type": "color",
      "label": "Hotspots Number Color",
      "id": "hotspot_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Hotspots Number Hover Color",
      "id": "hotspot_hover_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Hotspots Number Active Color",
      "id": "hotspot_active_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Hotspots Circle Background Color",
      "id": "circle_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Hotspots Circle Background Hover Color",
      "id": "circle_bg_hover_color",
      "default": "#ffcf9f"
    },
    {
      "type": "color",
      "label": "Hotspots Circle Background Active Color",
      "id": "circle_bg_active_color",
      "default": "#ffcf9f"
    },
    {
      "type": "color",
      "label": "Hotspots Circle Border Color",
      "id": "circle_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Hotspots Circle Border Hover Color",
      "id": "circle_border_hover_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Hotspots Circle Border Active Color",
      "id": "circle_border_active_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Hotspots Text Color",
      "id": "text_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Content Colors"
    },
    {
      "type": "color",
      "label": "Heading Color",
      "id": "heading_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width",
      "default": false
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "rem",
      "label": "Section content width",
      "default": 120
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "hotspot",
      "name": "Hotspot",
      "settings": [
        {
          "type": "header",
          "content": "Hotspot Position"
        },
        {
          "type": "range",
          "id": "vertical_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Vertical Position - Desktop",
          "default": 50
        },
        {
          "type": "range",
          "id": "vertical_position_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Vertical Position - Mobile",
          "default": 50
        },
        {
          "type": "range",
          "id": "horizontal_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Horizontal Position",
          "default": 50
        },
        {
          "type": "range",
          "id": "horizontal_position_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Horizontal Position - Mobile",
          "default": 50
        },
        {
          "type": "header",
          "content": "Hotspot Content"
        },
        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading",
          "default": "<h2>Patented TUSHY Classic</h2>"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Hotspots #4",
      "blocks": [
        {
          "type": "hotspot",
          "settings": {
            "heading": "<h2>Self-Cleaning Technology</h2>",
            "text": "<p>Incorporates advanced nanotechnology that breaks down dirt and stains when exposed to sunlight, reducing the need for frequent washing.</p>",
            "vertical_position": 45,
            "vertical_position_mobile": 45,
            "horizontal_position": 22,
            "horizontal_position_mobile": 22
          }
        },
        {
          "type": "hotspot",
          "settings": {
            "heading": "<h2>Temperature Regulation</h2>",
            "text": "<p>Embedded with phase change materials that absorb excess heat when the environment is warm and release it when cooler, providing year-round comfort.</p>",
            "vertical_position": 54,
            "vertical_position_mobile": 54,
            "horizontal_position": 32,
            "horizontal_position_mobile": 32
          }
        },
        {
          "type": "hotspot",
          "settings": {
            "heading": "<h2>Sustainable Materials</h2>",
            "text": "<p>Made entirely from bio-based fibers that are not only biodegradable but also actively capture and neutralize airborne pollutants, improving indoor air quality.</p>",
            "vertical_position": 69,
            "vertical_position_mobile": 69,
            "horizontal_position": 52,
            "horizontal_position_mobile": 52
          }
        },
        {
          "type": "hotspot",
          "settings": {
            "heading": "<h2>Interactive Design</h2>",
            "text": "<p>Features smart fabric technology that can change colors or patterns via a mobile app, allowing for customizable aesthetics to match any decor.</p>",
            "vertical_position": 40,
            "vertical_position_mobile": 40,
            "horizontal_position": 70,
            "horizontal_position_mobile": 70
          }
        },
        {
          "type": "hotspot",
          "settings": {
            "heading": "<h2>Health Monitoring</h2>",
            "text": "<p>Woven with conductive fibers that can subtly monitor room conditions and foot traffic, potentially integrating with smart home systems to provide insights into wellness and activity levels.</p>",
            "vertical_position": 21,
            "vertical_position_mobile": 21,
            "horizontal_position": 85,
            "horizontal_position_mobile": 85
          }
        }
      ]
    }
  ]
}
{% endschema %}