<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign content_width = section.settings.content_width
  assign full_width = section.settings.full_width
  assign lazy = section.settings.lazy

  assign bg_image = section.settings.bg_image
  assign bg_image_url = section.settings.bg_image_url
  assign overlay_color = section.settings.overlay_color
  assign overlay_opacity = section.settings.overlay_opacity

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_color = section.settings.heading_color
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_height_mobile = section.settings.heading_height_mobile
  assign heading_align = section.settings.heading_align

  assign sub_heading = section.settings.sub_heading
  assign sub_heading_size = section.settings.sub_heading_size
  assign sub_heading_size_mobile = section.settings.sub_heading_size_mobile
  assign sub_heading_color = section.settings.sub_heading_color
  assign sub_heading_custom = section.settings.sub_heading_custom
  assign sub_heading_font = section.settings.sub_heading_font
  assign sub_heading_height = section.settings.sub_heading_height
  assign sub_heading_align = section.settings.sub_heading_align
  assign sub_heading_mt = section.settings.sub_heading_mt
  assign sub_heading_mt_mobile = section.settings.sub_heading_mt_mobile
  assign sub_heading_hide = section.settings.sub_heading_hide
-%}

{%- style -%}

  {{ heading_font | font_face: font_display: 'swap' }}
  {{ sub_heading_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    overflow-x: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  .section-{{ section.id }}-settings {
    {% unless full_width %}
      max-width: {{ content_width }}rem;
    {% endunless %}
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
    height: 100%;
    position: relative;
    z-index: 2;
  }

  .hero-section-link-{{ section.id }} {
    display: block !important;
    position: absolute;
    inset: 0;
    z-index: 3;
  }

  .hero-section-{{ section.id }} {
    height: 100vh;
    position: relative;
  }

  .hero-section-animate-wrapper-{{ section.id }} {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  .hero-section-animate-{{ section.id }} {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2vw;
    position: relative;
    margin-top: 0px;
    overflow: hidden;
  }

  .hero-section-animate-body-{{ section.id }} {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    row-gap: 2vw;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 0;
    -webkit-perspective: 0;
    will-change: transform;
   
  }

  @keyframes anim {
    0% {
      transform: translate3d(160vw, 0vh, 0px) scale3d(0.4, 0.4, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;
      -webkit-transform: translate3d(160vw, 0vh, 0px) scale3d(0.4, 0.4, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;
      -webkit-transition: all 0.3s ease;
    }
    10% {
      transform: translate3d(160vw, 0vh, 0px) scale3d(0.4, 0.4, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;
      -webkit-transform: translate3d(160vw, 0vh, 0px) scale3d(0.4, 0.4, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;
      -webkit-transition: all 0.3s ease;
    }
    80% {
      transform: translate3d(0vw, 0vh, 0px) scale3d(0.4, 0.4, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;
      -webkit-transform: translate3d(0vw, 0vh, 0px) scale3d(0.4, 0.4, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;
      -webkit-transition: all 0.3s ease;
    }
    100% {
      transform: translate3d(0vw, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;
      -webkit-transform: translate3d(0vw, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;
      -webkit-transition: all 0.3s ease;
    }
  }

  .hero-section-animate-row-{{ section.id }} {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    column-gap: 2vw;
  }

  .hero-section-animate-element-{{ section.id }} {
    width: 100vw;
    height: 100vh;
    background-color: black;
    rounded: 5px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .hero-section-animate-element-{{ section.id }} img,
  .hero-section-animate-element-{{ section.id }} svg {
    width: 100%;
    height: 116%;
    display: inline-block;
    object-fit: cover;
    filter: saturate(116%);
    vertical-align: middle;
  }

  .hero-section-animate-element-{{ section.id }} svg path {
    fill: {{ heading_color }};
  }

  .hero-section-{{ section.id }}::before {
    content: '';
    inset: 0;
    position: absolute;
    background-color: {{ overlay_color }};
    opacity: {{ overlay_opacity }}%;
    z-index: 2;
  }

  .hero-section-body-{{ section.id }} {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 3;
  }

  .hero-section-body-top-{{ section.id }} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    transition: all 0.35s ease 0s;
  }

  .hero-section-body-top-{{ section.id }}.show {
    opacity: 1;
    pointer-events: all;
    transition: all 0.35s ease 0s;
  }

  .hero-section-body-element-{{ section.id }} {
    display: block !important;
  }

  .hero-section-body-element-{{ section.id }}.hero-section-body-bottom-center-element-{{ section.id }} {
    display: flex !important;
    flex-direction: column;
    justify-content: end;
  }

  .hero-section-body-element-bottom-right-{{ section.id }} {
    display: flex !important;
    align-items: end;
    justify-content: end;
  }

  .hero-section-body-left-bottom-element-{{ section.id }} {
    order: 2;
    display: flex !important;
    justify-content: end;
    flex-direction: column;
  }

  .hero-section-body-bottom-{{ section.id }} {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    z-index: 3;
    pointer-events: none;
    transition: all 0.35s ease 0s;
  }

  .hero-section-body-bottom-{{ section.id }}.show {
    opacity: 1;
    pointer-events: all;
    transition: all 0.35s ease 0s;
  }
  
  .hero-section-title-{{ section.id }} {
    display: block;
    width: 100%;
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 3px {{ heading_color }}; 
    text-stroke: 3px {{ heading_color }};
    font-size: {{ heading_size_mobile }}px;
    line-height: {{ heading_height_mobile }}%;
    text-transform: uppercase;
    text-align: {{ heading_align }};
    word-wrap: break-word;
  }

  .hero-section-title-nonanimate-{{ section.id }} {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    letter-spacing: -0.1px;
  }

  .hero-section-title-animate-{{ section.id }} {
    position: relative;
  }

  .hero-section-title-animate-{{ section.id }}.not-show {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }

  .hero-section-title-animate-{{ section.id }} span {
    display: inline-block;
  }

  @keyframes rotate {
    0% {
      transform: rotate3d(1, 0, 0, 0deg);
    }
    100% {
      transform: rotate3d(1, 0, 0, 360deg);
    }
  }

  .hero-section-title-nonanimate-{{ section.id }}.show {
    position: static;
    opacity: 1;
    pointer-events: all;
  }

  .hero-section-subtitle-{{ section.id }} > * {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: {{ sub_heading_mt_mobile }}px;
    color: {{ sub_heading_color }};
    font-size: {{ sub_heading_size_mobile }}px;
    line-height: {{ sub_heading_height }}%;
    text-transform: unset;
    text-align: {{ sub_heading_align }};
    opacity: 0;
    transition: all 0.35s ease 0s;
  }

  .hero-section-subtitle-{{ section.id }}.show > * {
    opacity: 1;
    transition: all 0.35s ease 0s;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .hero-section-title-{{ section.id }} {
      font-size: {{ heading_size }}px;
      line-height: {{ heading_height }}%;
    }

    .hero-section-subtitle-{{ section.id }} > * {
      margin-top: {{ sub_heading_mt }}px;
      font-size: {{ sub_heading_size }}px;
    }

    .hero-section-body-bottom-{{ section.id }} {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
    }

    .hero-section-body-left-bottom-element-{{ section.id }} {
      order: 1;
    }
    .hero-section-body-bottom-center-element-{{ section.id }} {
      order: 2;
    }
    .hero-section-body-element-bottom-right-{{ section.id }}{
      order: 3;
    }
  }
  
{%- endstyle -%}

{% if heading_custom %}
  <style>
    .hero-section-title-{{ section.id }} {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if sub_heading_custom %}
  <style>
    .hero-section-subtitle-{{ section.id }} > * {
      font-family: {{ sub_heading_font.family }}, {{ sub_heading_font.fallback_families }};
      font-weight: {{ sub_heading_font.weight }};
      font-style: {{ sub_heading_font.style }};
    }
  </style>
{% endif %}

{% if sub_heading_hide %}
  <style>
    .hero-section-subtitle-{{ section.id }} > * {
      display: none;
    }
    @media(min-width: 1024px) {
       .hero-section-subtitle-{{ section.id }} > * {
        display: block;
      }
    }
  </style>
{% endif %}

{% for block in section.blocks %}
  {% if block.type == "top" %}
    <style>
      {{ block.settings.center_text_font | font_face: font_display: 'swap' }}
      {{ block.settings.left_title_font | font_face: font_display: 'swap' }}
      {{ block.settings.left_sub_title_font | font_face: font_display: 'swap' }}
      {{ block.settings.right_title_font | font_face: font_display: 'swap' }}
      {{ block.settings.right_sub_title_font | font_face: font_display: 'swap' }}

      .hero-section-center-text-{{ block.id }} > * {
        margin: 0px;
        display: block;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: {{ block.settings.center_text_size_mobile }}px;
        line-height: {{ block.settings.center_text_height }}%;
        color: {{ block.settings.center_text_color }};
      }

      .hero-section-left-title-{{ block.id }} {
        margin: 0px;
        display: block;
        width: 100%;
        text-transform: uppercase;
        text-decoration: none;
        font-size: {{ block.settings.left_title_size_mobile }}px;
        line-height: {{ block.settings.left_title_height }}%;
        color: {{ block.settings.left_title_color }};
        position: relative;
        overflow: hidden;
        height: fit-content;
        width: fit-content;
      }

      .hero-section-left-title-{{ block.id }} span {
        display: block;
      }

      .hero-section-left-title-{{ block.id }} span:last-child {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
      }

      .hero-section-left-title-{{ block.id }}:hover span:first-child {
        transform: translateY(-100%) !important;
        transition: transform 0.3s;
      }

      .hero-section-left-title-{{ block.id }}:hover span:last-child {
        transform: translateY(0);
        transition: transform 0.3s;
      }
  
      .hero-section-left-subtitle-{{ block.id }} {
        margin: 0px;
        display: block;
        width: 100%;
        text-transform: uppercase;
        text-decoration: none;
        font-size: {{ block.settings.left_sub_title_size_mobile }}px;
        line-height: {{ block.settings.left_sub_title_height }}%;
        color: {{ block.settings.left_sub_title_color }};
      }

      .hero-section-right-title-{{ block.id }} {
        margin: 0px;
        margin-left: auto;
        display: block;
        width: 100%;
        text-transform: uppercase;
        text-decoration: none;
        text-align: end;
        font-size: {{ block.settings.right_title_size_mobile }}px;
        line-height: {{ block.settings.right_title_height }}%;
        color: {{ block.settings.right_title_color }};
        position: relative;
        overflow: hidden;
        height: fit-content;
        width: fit-content;
      }

      .hero-section-right-title-{{ block.id }} span {
        display: block;
      }

      .hero-section-right-title-{{ block.id }} span:last-child {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
      }

      .hero-section-right-title-{{ block.id }}:hover span:first-child {
        transform: translateY(-100%) !important;
        transition: transform 0.3s;
      }

      .hero-section-right-title-{{ block.id }}:hover span:last-child {
        transform: translateY(0);
        transition: transform 0.3s;
      }
  
      .hero-section-right-subtitle-{{ block.id }} {
        margin: 0px;
        display: block;
        width: 100%;
        text-transform: uppercase;
        text-decoration: none;
        text-align: end;
        font-size: {{ block.settings.right_sub_title_size_mobile }}px;
        line-height: {{ block.settings.right_sub_title_height }}%;
        color: {{ block.settings.right_sub_title_color }};
      }

    @media(min-width: 1024px) {
      .hero-section-center-text-{{ block.id }} > * {
        font-size: {{ block.settings.center_text_size }}px;
      }

      .hero-section-left-title-{{ block.id }} {
        font-size: {{ block.settings.left_title_size }}px;
      }

      .hero-section-left-subtitle-{{ block.id }} {
        font-size: {{ block.settings.left_sub_title_size }}px;
      }

      .hero-section-right-title-{{ block.id }} {
        font-size: {{ block.settings.right_title_size }}px;
      }

      .hero-section-right-subtitle-{{ block.id }} {
        font-size: {{ block.settings.right_sub_title_size }}px;
      }
    }
    </style>

  {% if block.settings.center_text_custom %}
    <style>
      .hero-section-center-text-{{ block.id }} > * {
        font-family: {{ block.settings.center_text_font.family }}, {{ block.settings.center_text_font.fallback_families }};
        font-weight: {{ block.settings.center_text_font.weight }};
        font-style: {{ block.settings.center_text_font.style }};
      }
    </style>
  {% endif %}

  {% if block.settings.left_title_custom %}
    <style>
      .hero-section-left-title-{{ block.id }} {
        font-family: {{ block.settings.left_title_font.family }}, {{ block.settings.left_title_font.fallback_families }};
        font-weight: {{ block.settings.left_title_font.weight }};
        font-style: {{ block.settings.left_title_font.style }};
      }
    </style>
  {% endif %}

  {% if block.settings.left_sub_title_custom %}
    <style>
      .hero-section-left-subtitle-{{ block.id }} {
        font-family: {{ block.settings.left_sub_title_font.family }}, {{ block.settings.left_sub_title_font.fallback_families }};
        font-weight: {{ block.settings.left_sub_title_font.weight }};
        font-style: {{ block.settings.left_sub_title_font.style }};
      }
    </style>
  {% endif %}

  {% if block.settings.right_title_custom %}
    <style>
      .hero-section-right-title-{{ block.id }} {
        font-family: {{ block.settings.right_title_font.family }}, {{ block.settings.right_title_font.fallback_families }};
        font-weight: {{ block.settings.right_title_font.weight }};
        font-style: {{ block.settings.right_title_font.style }};
      }
    </style>
  {% endif %}

  {% if block.settings.right_sub_title_custom %}
    <style>
      .hero-section-right-subtitle-{{ block.id }} {
        font-family: {{ block.settings.right_sub_title_font.family }}, {{ block.settings.right_sub_title_font.fallback_families }};
        font-weight: {{ block.settings.right_sub_title_font.weight }};
        font-style: {{ block.settings.right_sub_title_font.style }};
      }
    </style>
  {% endif %}

  {% if block.settings.left_sub_title_hide %}
    <style>
      .hero-section-left-subtitle-{{ block.id }} {
        display: none;
      }
      @media(min-width: 1024px) {
        .hero-section-left-subtitle-{{ block.id }} {
          display: block;
        }
      }
    </style>
  {% endif %}

  {% if block.settings.right_sub_title_hide %}
    <style>
      .hero-section-right-subtitle-{{ block.id }} {
        display: none;
      }
      @media(min-width: 1024px) {
        .hero-section-right-subtitle-{{ block.id }} {
          display: block;
        }
      }
    </style>
  {% endif %}

  {% if block.settings.center_text_hide %}
    <style>
      .hero-section-center-text-{{ block.id }} > * {
        display: none;
      }
      @media(min-width: 1024px) {
        .hero-section-center-text-{{ block.id }} > * {
          display: block;
        }
      }
    </style>
  {% endif %}
    
  {% elsif block.type == "bottom" %}
    <style>
      {{ block.settings.center_text_font | font_face: font_display: 'swap' }}
      {{ block.settings.center_title_font | font_face: font_display: 'swap' }}
      {{ block.settings.center_sub_title_font | font_face: font_display: 'swap' }}
      {{ block.settings.left_elipse_font | font_face: font_display: 'swap' }}

      .hero-section-center-text-{{ block.id }} > * {
        margin: 0px;
        display: block;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: {{ block.settings.center_text_size_mobile }}px;
        line-height: {{ block.settings.center_text_height }}%;
        color: {{ block.settings.center_text_color }};
      }

      .hero-section-center-subtitle-{{ block.id }} > * {
        margin: 0px;
        display: block;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: {{ block.settings.center_sub_title_size_mobile }}px;
        line-height: {{ block.settings.center_sub_title_height }}%;
        color: {{ block.settings.center_sub_title_color }};
      }
  
      .hero-section-center-title-{{ block.id }} > * {
        margin: 0px;
        display: block;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: {{ block.settings.center_title_size_mobile }}px;
        line-height: {{ block.settings.center_title_height }}%;
        color: {{ block.settings.center_title_color }};
      }

      .hero-section-right-{{ block.id }} {
        display: block;
        margin-left: auto;
        width: {{ block.settings.right_width_mobile }}%;
        height: {{ block.settings.right_height_mobile }}%;
        position: relative;
        overflow: hidden;
      }

      .hero-section-right-{{ block.id }}::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: {{ block.settings.right_overlay_color }};
        opacity: {{ block.settings.right_overlay_opacity }}%;
        border-radius: {{ block.settings.right_media_radius }}px;
        z-index: 2;
      }

      .hero-section-right-media-{{ block.id }} {
        width: 100%;
        height: 100%;
        border-radius: {{ block.settings.right_media_radius }}px;
        overflow: hidden;
      }

      .hero-section-right-{{ block.id }} video,
      .hero-section-right-{{ block.id }} img,
      .hero-section-right-{{ block.id }} svg {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: {{ block.settings.right_media_radius }}px;
        transition: all 0.5s ease 0s;
      }

      .hero-section-right-{{ block.id }} svg {
        background-color: #F5F5F5;
      }

      .hero-section-right-{{ block.id }}:hover .hero-section-right-media-{{ block.id }} img,
      .hero-section-right-{{ block.id }}:hover .hero-section-right-media-{{ block.id }} video,
      .hero-section-right-{{ block.id }}:hover .hero-section-right-media-{{ block.id }} svg {
        transform: scale(105%);
        transition: all 0.5s ease 0s;
      }

      .hero-section-right-body-{{ block.id }} {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        inset: 0;
        z-index: 3;
        padding: {{ block.settings.right_padding_vertical | times: 0.75 | round: 0 }}px {{ block.settings.right_padding_horizontal | times: 0.75 | round: 0 }}px;
      }

      .hero-section-right-title-{{ block.id }} {
        margin: 0px;
        text-transform: uppercase;
        font-size: {{ block.settings.right_title_size_mobile }}px;
        line-height: {{ block.settings.right_title_height }}%;
        color: {{ block.settings.right_title_color }};
      }

      .hero-section-right-subtitle-{{ block.id }} {
        margin: 0px;
        text-transform: uppercase;
        font-size: {{ block.settings.right_sub_title_size_mobile }}px;
        line-height: {{ block.settings.right_sub_title_height }}%;
        color: {{ block.settings.right_sub_title_color }};
      }

      .hero-section-left-top-{{ block.id }} {
        margin: 0px auto;
        max-width: {{ block.settings.left_width_mobile }}%;
        width: 100%;
        display: none;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
      }

      .hero-section-left-elipse-{{ block.id }} {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        border-radius: {{ block.settings.left_elipse_radius }}%;
        border: 1px solid {{ block.settings.left_elipse_color }};
        font-size: {{ block.settings.left_elipse_size_mobile }}px;
        line-height: {{ block.settings.left_elipse_height }}%;
        color: {{ block.settings.left_elipse_text_color }};
      }

      .hero-section-left-track-{{ block.id }} {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 0 0 7vw;
        height: 3vw;
        overflow: hidden;
      }
      
      .hero-section-left-track-{{ block.id }} svg {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        flex: 0 0 100%;
      }

      .hero-section-left-table-{{ block.id }} {
        max-width: {{ block.settings.left_width_mobile }}%;
        width: 100%;
        margin-top: {{ block.settings.left_table_mt | times: 0.75 | round: 0 }}px;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid {{ block.settings.left_table_color }};
      }

      .hero-section-left-table-top-{{ block.id }} {
        padding: 10px;
        border-bottom: 2px solid {{ block.settings.left_table_color }};
      }

      .hero-section-left-table-top-{{ block.id }} > * {
        margin: 0px;
        font-size: {{ block.settings.left_table_top_size_mobile }}px;
        line-height: {{ block.settings.left_table_top_height }}%;
        color: {{ block.settings.left_table_top_color }};
      }

      .hero-section-left-table-bottom-{{ block.id }} {
        padding: 10px;
      }

      .hero-section-left-table-bottom-{{ block.id }} > * {
        margin: 0px;
        font-size: {{ block.settings.left_table_bottom_size_mobile }}px;
        line-height: {{ block.settings.left_table_bottom_height }}%;
        color: {{ block.settings.left_table_bottom_color }};
      }

      @media(min-width: 1024px) {
        .hero-section-center-text-{{ block.id }} > * {
          font-size: {{ block.settings.center_text_size }}px;
        }
  
        .hero-section-center-subtitle-{{ block.id }} > * {
          font-size: {{ block.settings.center_sub_title_size }}px;
        }
  
        .hero-section-center-title-{{ block.id }} > * {
          font-size: {{ block.settings.center_title_size }}px;
        }

        .hero-section-right-body-{{ block.id }} {
          padding: {{ block.settings.right_padding_vertical }}px {{ block.settings.right_padding_horizontal }}px;
        }

        .hero-section-right-{{ block.id }} {
          width: {{ block.settings.right_width }}%;
          height: {{ block.settings.right_height }}%;
        }

        .hero-section-right-title-{{ block.id }} {
          font-size: {{ block.settings.right_title_size }}px;
        }

        .hero-section-right-subtitle-{{ block.id }} {
          font-size: {{ block.settings.right_sub_title_size }}px;
        }

        .hero-section-left-top-{{ block.id }} {
          display: flex;
          margin: 0px;
          max-width: {{ block.settings.left_width }}%;
        }

        .hero-section-left-elipse-{{ block.id }} {
          font-size: {{ block.settings.left_elipse_size }}px;
        }

        .hero-section-left-table-{{ block.id }} {
          max-width: {{ block.settings.left_width }}%;
          margin-top: {{ block.settings.left_table_mt }}px;
          margin-left: 0px;
          margin-right: 0px;
        }

        .hero-section-left-table-top-{{ block.id }} > * {
          font-size: {{ block.settings.left_table_top_size }}px;
        }

        .hero-section-left-table-bottom-{{ block.id }} > * {
          font-size: {{ block.settings.left_table_bottom_size }}px;
        }
      }
      
    </style>

    {% if block.settings.center_text_custom %}
      <style>
        .hero-section-center-text-{{ block.id }} > * {
          font-family: {{ block.settings.center_text_font.family }}, {{ block.settings.center_text_font.fallback_families }};
          font-weight: {{ block.settings.center_text_font.weight }};
          font-style: {{ block.settings.center_text_font.style }};
        }
      </style>
    {% endif %}
  
    {% if block.settings.center_sub_title_custom %}
      <style>
        .hero-section-center-subtitle-{{ block.id }} > * {
          font-family: {{ block.settings.center_sub_title_font.family }}, {{ block.settings.center_sub_title_font.fallback_families }};
          font-weight: {{ block.settings.center_sub_title_font.weight }};
          font-style: {{ block.settings.center_sub_title_font.style }};
        }
      </style>
    {% endif %}
  
    {% if block.settings.center_title_custom %}
      <style>
        .hero-section-center-title-{{ block.id }} > * {
          font-family: {{ block.settings.center_title_font.family }}, {{ block.settings.center_title_font.fallback_families }};
          font-weight: {{ block.settings.center_title_font.weight }};
          font-style: {{ block.settings.center_title_font.style }};
        }
      </style>
    {% endif %}

    {% if block.settings.center_text_hide %}
      <style>
        .hero-section-center-text-{{ block.id }} > * {
          display: none;
        }
        @media(min-width: 1024px) {
          .hero-section-center-text-{{ block.id }} > * {
            display: block;
          }
        }
      </style>
    {% endif %}

    {% if block.settings.center_title_hide %}
      <style>
        .hero-section-center-title-{{ block.id }} > * {
          display: none;
        }
        @media(min-width: 1024px) {
          .hero-section-center-title-{{ block.id }} > * {
            display: block;
          }
        }
      </style>
    {% endif %}

    {% if block.settings.center_sub_title_hide %}
      <style>
        .hero-section-center-subtitle-{{ block.id }} > * {
          display: none;
        }
        @media(min-width: 1024px) {
          .hero-section-center-subtitle-{{ block.id }} > * {
            display: block;
          }
        }
      </style>
    {% endif %}

    {% if block.settings.right_title_custom %}
      <style>
        .hero-section-right-title-{{ block.id }} {
          font-family: {{ block.settings.right_title_font.family }}, {{ block.settings.right_title_font.fallback_families }};
          font-weight: {{ block.settings.right_title_font.weight }};
          font-style: {{ block.settings.right_title_font.style }};
        }
      </style>
    {% endif %}

    {% if block.settings.right_sub_title_custom %}
      <style>
        .hero-section-right-subtitle-{{ block.id }} {
          font-family: {{ block.settings.right_sub_title_font.family }}, {{ block.settings.right_sub_title_font.fallback_families }};
          font-weight: {{ block.settings.right_sub_title_font.weight }};
          font-style: {{ block.settings.right_sub_title_font.style }};
        }
      </style>
    {% endif %}

    {% if block.settings.right_hide or block.settings.right_hide_mobile %}
      <style>
        .hero-section-right-{{ block.id }} {
         {% if block.settings.right_hide_mobile %}
           display: none;
         {% else %}
           display: block;
         {% endif %}
        }
        @media(min-width: 1024px) {
          .hero-section-right-{{ block.id }} {
            {% if block.settings.right_hide %}
               display: none;
            {% else %}
               display: block;
            {% endif %}
          }
        } 
      </style>
    {% endif %}

    {% if block.settings.left_elipse_custom %}
      <style>
        .hero-section-left-elipse-{{ block.id }} {
          font-family: {{ block.settings.left_elipse_font.family }}, {{ block.settings.left_elipse_font.fallback_families }};
          font-weight: {{ block.settings.left_elipse_font.weight }};
          font-style: {{ block.settings.left_elipse_font.style }};
        }
      </style>
    {% endif %}

    {% if block.settings.left_table_top_custom %}
      <style>
        .hero-section-left-table-top-{{ block.id }} > * {
          font-family: {{ block.settings.left_table_top_font.family }}, {{ block.settings.left_table_top_font.fallback_families }};
          font-weight: {{ block.settings.left_table_top_font.weight }};
          font-style: {{ block.settings.left_table_top_font.style }};
        }
      </style>
    {% endif %}

    {% if block.settings.left_table_bottom_custom %}
      <style>
        .hero-section-left-table-bottom-{{ block.id }} > * {
          font-family: {{ block.settings.left_table_bottom_font.family }}, {{ block.settings.left_table_bottom_font.fallback_families }};
          font-weight: {{ block.settings.left_table_bottom_font.weight }};
          font-style: {{ block.settings.left_table_bottom_font.style }};
        }
      </style>
    {% endif %}

    {% if block.settings.left_hide or block.settings.left_hide_mobile %}
      <style>
        .hero-section-left-table-{{ block.id }} {
           {% if block.settings.left_hide_mobile %}
             display: none;
           {% else %}
             display: block;
           {% endif %}
        }
        @media(min-width: 1024px) {
          .hero-section-left-table-{{ block.id }} {
            {% if block.settings.left_hide %}
               display: none;
            {% else %}
               display: block;
            {% endif %}
          }
        } 
      </style>
    {% endif %}
    
  {% endif %}
{% endfor %}

<div class="section-{{ section.id }} hero-section-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="hero-section-animate-wrapper-{{ section.id }}">
      <div class="hero-section-animate-{{ section.id }}">
        <div class="hero-section-animate-body-{{ section.id }}">
          <div class="hero-section-animate-row-{{ section.id }}">
            {% for item in (1..12) %}
              <div class="hero-section-animate-element-{{ section.id }}">
                {% if bg_image != blank %}
                  <img src="{{ bg_image | image_url }}" alt="bg-img">
                {% else %}
                  {{ 'image' | placeholder_svg_tag }}
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <div class="hero-section-animate-row-{{ section.id }}" style="transform: translateX(-20.85%);">
            {% for item in (1..12) %}
              <div class="hero-section-animate-element-{{ section.id }}">
                  {% if bg_image != blank %}
                    <img src="{{ bg_image | image_url }}" alt="bg-img">
                  {% else %}
                    {{ 'image' | placeholder_svg_tag }}
                  {% endif %}
              </div>
            {% endfor %}
          </div>
          <div class="hero-section-animate-row-{{ section.id }}">
            {% for item in (1..12) %}
              <div class="hero-section-animate-element-{{ section.id }}">
                  {% if bg_image != blank %}
                    <img src="{{ bg_image | image_url }}" alt="bg-img">
                  {% else %}
                    {{ 'image' | placeholder_svg_tag }}
                  {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="section-{{ section.id }}-settings">
      <a href="{{ bg_image_url }}" class="hero-section-link-{{ section.id }}"></a>
      <div class="hero-section-body-{{ section.id }}">
        <a href="{{ bg_image_url }}" class="hero-section-link-{{ section.id }}"></a>
        {% for block in section.blocks %}
          {% if block.type == "top" %}
            <div class="hero-section-body-top-{{ section.id }}">
              <div class="hero-section-body-element-{{ section.id }}">
                {% if block.settings.left_sub_title != blank %}
                  <a href="{{ block.settings.left_sub_title_url }}" class="hero-section-left-subtitle-{{ block.id }}">{{ block.settings.left_sub_title }}</a>
                {% endif %}
                {% if block.settings.left_title != blank %}
                  <a href="{{ block.settings.left_title_url }}" class="hero-section-left-title-{{ block.id }}"><span>{{ block.settings.left_title }}</span><span>{{ block.settings.left_title }}</span></a>
                {% endif %}
              </div>
              <div class="hero-section-body-element-{{ section.id }} hero-section-center-text-{{ block.id }}">
                {% if block.settings.center_text != blank %}
                  {{ block.settings.center_text }}
                {% endif %}
              </div>
              <div class="hero-section-body-element-{{ section.id }}">
                {% if block.settings.right_sub_title != blank %}
                  <a href="{{ block.settings.right_sub_title_url }}" class="hero-section-right-subtitle-{{ block.id }}">{{ block.settings.right_sub_title }}</a>
                {% endif %}
                {% if block.settings.right_title != blank %}
                  <a href="{{ block.settings.right_title_url }}" class="hero-section-right-title-{{ block.id }}"><span>{{ block.settings.right_title }}</span><span>{{ block.settings.right_title }}</span></a>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
        <div class="hero-section-body-center-{{ section.id }}">
          <h1 class="hero-section-title-{{ section.id }} hero-section-title-animate-{{ section.id }}" data-text="{{ heading }}"></h1>
          <h1 class="hero-section-title-{{ section.id }} hero-section-title-nonanimate-{{ section.id }}">
            <span class="hero-section-title-span-{{ section.id }}">{{ heading }}</span>
          </h1>
          {% if sub_heading != blank %}
            <div class="hero-section-subtitle-{{ section.id }}">
              {{ sub_heading }}
            </div>
          {% endif %}
        </div>
        {% for block in section.blocks %}
          {% if block.type == "bottom" %}
            <div class="hero-section-body-bottom-{{ section.id }}">
              <div class="hero-section-body-element-{{ section.id }} hero-section-body-left-bottom-element-{{ section.id }}">
                <div class="hero-section-left-top-{{ block.id }}">
                  <div class="hero-section-left-elipse-{{ block.id }}">{{ block.settings.left_elipse }}</div>
                  <div class="hero-section-left-track-{{ block.id }}">
                    <svg width="97" height="23" viewBox="0 0 97 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <mask id="mask0_571_2246" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="97" height="23">
                      <g clip-path="url(#clip0_571_2246)">
                      <path d="M6.31669 22.9814V0.0111293H3.19745V22.9814H6.31669Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M75.5664 22.9932H77.0963V0.0179006H75.5664V22.9932Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M47.7304 22.9941H49.2568V0.00827684H47.7304V22.9941Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M81.1331 22.9937H82.6618V0.00778856H81.1331V22.9937Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M66.8164 22.9932H68.3463V0.0179006H66.8164V22.9932Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M96.9666 0.00632372H95.4414V22.9922H96.9666V0.00632372Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M23.8691 22.9937H25.399V0.0183888H23.8691V22.9937Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M9.55078 23H11.0678V0.0169637H9.55078V23Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M32.5471 0.00730028H31.0195V22.9932H32.5471V0.00730028Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M38.1816 23H39.6975V0.0176689H38.1816V23Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M52.498 23H54.0139V0.0169637H52.498V23Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M58.7971 0.00874011H57.2754V22.9805H58.7971V0.00874011Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M15.8444 0.00644061H14.3262V22.9888H15.8444V0.00573321V0.00644061Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M33.416 22.9932H34.9424V0.00800526H33.416V22.9932Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M89.8867 22.9976H91.4002V0.0152275H89.8867V22.9976Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M87.4307 0.00874011H85.9102V22.9805H87.4307V0.00874011Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M78.7461 22.9932H79.4813V0.00588521H78.7461V22.9932Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M0.735176 0.00685961H0V22.9941H0.735176V0.00685961Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M84.3145 22.9941H85.0473V0.00685961H84.3145V22.9941Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M69.9961 22.9932H70.7313V0.00588521H69.9961V22.9932Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M64.4317 22.9951H65.1622V0.00783833H64.4317V22.9951Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M93.7897 0.00756702H93.0546V22.9941H93.7897V0.00685961V0.00756702Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M13.4598 0.00756702H12.7246V22.9941H13.4598V0.00685961V0.00756702Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M56.4106 0.00014057H55.6895V22.9839H56.4106V-0.000564677V0.00014057Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M17.5039 22.9937H18.2391V0.00637349H17.5039V22.9937Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M27.775 0.00707874H27.041V22.9937H27.775V0.00637349V0.00707874Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M41.3652 22.9941H42.0992V0.00685961H41.3652V22.9941Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M21.4823 22.9941H22.2151V0.00685961H21.4823V22.9941Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M44.5488 22.9951H45.2805V0.00783833H44.5488V22.9951Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M73.1836 22.9956H73.9118V0.00832661H73.1836V22.9956Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M29.3674 0.00898209H28.6427V22.9941H29.3674V0.00898209Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M19.0994 22.9932H19.8217V0.013658H19.0994V22.9932Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M1.60156 22.9932H2.32273V0.013658H1.60156V22.9932Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M43.6837 6.57834e-05H42.9648V22.9951H43.6837V6.57834e-05Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M72.3138 0.00800769H71.5938V22.9932H72.3138V0.00730028V0.00800769Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M60.3868 6.57834e-05H59.668V22.9951H60.3868V6.57834e-05Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M61.2539 22.9941H61.9844V0.00685961H61.2539V22.9941Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M89.0173 0.00827684H88.2949V22.9941H89.0173V0.00898209V0.00827684Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M50.1191 22.9951H50.8473V0.00783833H50.1191V22.9951Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M7.16992 22.9956H7.8981V0.00832661H7.16992V22.9956Z" fill="{{ block.settings.left_track_color }}"/>
                      <path d="M36.5251 0.00898209H35.8027V22.9941H36.5251V0.00898209Z" fill="{{ block.settings.left_track_color }}"/>
                      </g>
                      </mask>
                      <g mask="url(#mask0_571_2246)">
                      <rect x="-13" y="-9" width="110" height="41" fill="{{ block.settings.left_track_color }}"/>
                      </g>
                      <defs>
                      <clipPath id="clip0_571_2246">
                      <rect width="97" height="23" fill="white" transform="matrix(1 0 0 -1 0 23)"/>
                      </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
                <div class="hero-section-left-table-{{ block.id }}">
                  <div class="hero-section-left-table-top-{{ block.id }}">{{ block.settings.left_table_top }}</div>
                  <div class="hero-section-left-table-bottom-{{ block.id }}">{{ block.settings.left_table_bottom }}</div>
                </div>
              </div>
              <div class="hero-section-body-element-{{ section.id }} hero-section-body-bottom-center-element-{{ section.id }}">
                {% if block.settings.center_sub_title != blank %}
                  <div class="hero-section-center-subtitle-{{ block.id }}">
                      {{ block.settings.center_sub_title }}
                  </div>
                {% endif %}
                {% if block.settings.center_title != blank %}
                  <div class="hero-section-center-title-{{ block.id }}">
                      {{ block.settings.center_title }}
                  </div>
                {% endif %}
                {% if block.settings.center_text != blank %}
                  <div class="hero-section-center-text-{{ block.id }}">
                      {{ block.settings.center_text }}
                  </div>
                {% endif %}
              </div>
              <div class="hero-section-body-element-{{ section.id }} hero-section-body-element-bottom-right-{{ section.id }}">
                <a href="{{ block.settings.right_url }}" class="hero-section-right-{{ block.id }}">
                  <div class="hero-section-right-media-{{ block.id }}">
                    {% if block.settings.right_media == "video" %}
                      <video data-src="{{ block.settings.right_video.sources[1].url }}" loop autoplay muted playsinline preload="none" class="lazy"></video>
                    {% else %}
                      {% if block.settings.right_image != blank %}
                        <img src="{{ block.settings.right_image | image_url }}" alt="{{ block.settings.right_image.alt }}" {% if lazy %}lazy="loading"{% endif %}>
                      {% else %}
                        {{ 'image' | placeholder_svg_tag }}
                      {% endif %}
                    {% endif %}
                  </div>
                  <div class="hero-section-right-body-{{ block.id }}">
                    {% if block.settings.right_title %}
                      <p class="hero-section-right-title-{{ block.id }}">{{ block.settings.right_title }}</p>
                    {% endif %}
                    {% if block.settings.right_sub_title %}
                      <p class="hero-section-right-subtitle-{{ block.id }}">{{ block.settings.right_sub_title }}</p>
                    {% endif %}
                  </div>
                </a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/bennettfeely/ztext/js/ztext.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>                     
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@19.1.3/dist/lazyload.min.js"></script>
                        

<script>
  function initHeroSectionText() {
    
     var ztxt = new Ztextify(".hero-section-title-span-{{ section.id }}", {
       depth: "8px",
       direction: "backwards",
       event: "pointer",
       eventDirection: "reverse",
       eventRotation: "15deg"
    });
    setTimeout(()=> {
      if(document.querySelector('.hero-section-body-top-{{ section.id }}')) {
        document.querySelector('.hero-section-body-top-{{ section.id }}').classList.add('show');
      }
      if(document.querySelector('.hero-section-body-bottom-{{ section.id }}')) {
        document.querySelector('.hero-section-body-bottom-{{ section.id }}').classList.add('show');
      }
      if(document.querySelector('.hero-section-subtitle-{{ section.id }}')) {
        document.querySelector('.hero-section-subtitle-{{ section.id }}').classList.add('show');
      }
    }, 5000);

    function createLetterStructure(letter) {
      var container = document.createElement("span");
      container.style = "display: inline-block; position: relative; perspective: 500px;";
    
      var zText = document.createElement("span");
      zText.className = "z-text";
      zText.style = "display: inline-block; transform-style: preserve-3d;";
    
      var zLayers = document.createElement("span");
      zLayers.className = "z-layers";
      zLayers.style = "display: inline-block; transform-style: preserve-3d; transform: rotateX(8.14193deg) rotateY(0.5deg);";
    
      for (var i = 0; i < 10; i++) {
        var zLayer = document.createElement("span");
        zLayer.className = "z-layer";
        if(i==0) {
          zLayer.style = `display: inline-block; transform: translateZ(${i * -3}px);`;
        } else {
          zLayer.style = `position:absolute; top: 0; left: 0; display: inline-block; transform: translateZ(${i * -3}px);`;
        }
        zLayer.textContent = letter;
        zLayers.appendChild(zLayer);
      }
    
      zText.appendChild(zLayers);
      container.appendChild(zText);
    
      return container;
    }
    
    var headingElement = document.querySelector(".hero-section-title-animate-{{ section.id }}");
    var headingText = headingElement.getAttribute("data-text");
    var spans = [];
    
    for (var i = 0; i < headingText.length; i++) {
      var span = createLetterStructure(headingText[i]); //      
      spans.push(span);
    }
    
    headingElement.textContent = "";
    spans.forEach(function (span) {
      headingElement.appendChild(span);
    });
    
    
    let lazyLoadInstance = new LazyLoad();

    window.addEventListener(
      "LazyLoad::Initialized",
      function (event) {
        window.lazyLoadInstance = event.detail.instance;
      },
      false
    );
  }

  document.addEventListener('DOMContentLoaded', initHeroSectionText);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initHeroSectionText);
     document.addEventListener('shopify:section:load', initHeroSectionText);
  }
  
</script>

{% schema %}
{
  "name": "SG-Hero #2",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "url",
      "id": "bg_image_url",
      "label": "Background Image URL"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Overlay Opacity",
      "default": 45
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "SECTIONS"
    },
    {
      "type": "checkbox",
      "id": "heading_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Heading Font Family",
      "default": "assistant_n4"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Heading Size",
      "default": 150
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Heading Size - Mobile",
      "default": 98
    },
    {
      "type": "range",
      "id": "heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Heading Line Height",
      "default": 130
    },
    {
      "type": "range",
      "id": "heading_height_mobile",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Heading Line Height - Mobile",
      "default": 100
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "Heading Text Align",
      "default": "center",
      "options": [
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Sub-Heading"
    },
    {
      "type": "richtext",
      "id": "sub_heading",
      "label": "Sub-Heading",
      "default": "<h2>digital goods</h2>"
    },
    {
      "type": "checkbox",
      "id": "sub_heading_custom",
      "label": "Use Custom Font",
      "default": true
    },
    {
      "type": "font_picker",
      "id": "sub_heading_font",
      "label": "Sub-Heading Font Family",
      "default": "libelle_n4"
    },
    {
      "type": "range",
      "id": "sub_heading_size",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Sub-Heading Size",
      "default": 100
    },
    {
      "type": "range",
      "id": "sub_heading_size_mobile",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Sub-Heading Size - Mobile",
      "default": 100
    },
    {
      "type": "range",
      "id": "sub_heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Sub-Heading Line Height",
      "default": 130
    },
    {
      "type": "select",
      "id": "sub_heading_align",
      "label": "Sub-Heading Text Align",
      "default": "center",
      "options": [
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "range",
      "id": "sub_heading_mt",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Sub-Heading Margin Top",
      "default": -70
    },
    {
      "type": "range",
      "id": "sub_heading_mt_mobile",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Sub-Heading Margin Top - Mobile",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "sub_heading_hide",
      "label": "Sub-Heading Hide on Mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "label": "Overlay Color",
      "id": "overlay_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Heading",
      "id": "heading_color",
      "default": "#bfea88"
    },
    {
      "type": "color",
      "label": "Sub-Heading",
      "id": "sub_heading_color",
      "default": "#bfea88"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#192928"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width",
      "default": true
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "rem",
      "label": "Section content width",
      "default": 120
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "top",
      "name": "Top Bar",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Left Sub-Title"
        },
        {
          "type": "text",
          "id": "left_sub_title",
          "label": "Left Sub-Title",
          "default": "INSTAGRAM"
        },
        {
          "type": "url",
          "id": "left_sub_title_url",
          "label": "Left Sub-Title URL"
        },
        {
          "type": "checkbox",
          "id": "left_sub_title_custom",
          "label": "Use Custom Font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "left_sub_title_font",
          "label": "Left Sub-Title Font Family",
          "default": "assistant_n4"
        },
        {
          "type": "range",
          "id": "left_sub_title_size",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Left Sub-Title Size",
          "default": 20
        },
        {
          "type": "range",
          "id": "left_sub_title_size_mobile",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Left Sub-Title Size - Mobile",
          "default": 26
        },
        {
          "type": "range",
          "id": "left_sub_title_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Left Sub-Title Line Height",
          "default": 100
        },
        {
          "type": "checkbox",
          "id": "left_sub_title_hide",
          "label": "Left Sub-Title Hide on Mobile",
          "default": true
        },
        {
          "type": "header",
          "content": "Left Title"
        },
        {
          "type": "text",
          "id": "left_title",
          "label": "Left Title",
          "default": "INFO"
        },
        {
          "type": "url",
          "id": "left_title_url",
          "label": "Left Title URL"
        },
        {
          "type": "checkbox",
          "id": "left_title_custom",
          "label": "Use Custom Font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "left_title_font",
          "label": "Left Title Font Family",
          "default": "assistant_n4"
        },
        {
          "type": "range",
          "id": "left_title_size",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Left Title Size",
          "default": 80
        },
        {
          "type": "range",
          "id": "left_title_size_mobile",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Left Title Size - Mobile",
          "default": 26
        },
        {
          "type": "range",
          "id": "left_title_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Left Title Line Height",
          "default": 100
        },
        {
          "type": "header",
          "content": "Center Text"
        },
        {
          "type": "richtext",
          "id": "center_text",
          "label": "Center Text",
          "default": "<p>Next collection dropping soon</p>"
        },
        {
          "type": "checkbox",
          "id": "center_text_custom",
          "label": "Use Custom Font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "center_text_font",
          "label": "Center Text Font Family",
          "default": "assistant_n4"
        },
        {
          "type": "range",
          "id": "center_text_size",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Center Text Size",
          "default": 26
        },
        {
          "type": "range",
          "id": "center_text_size_mobile",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Center Text Size - Mobile",
          "default": 26
        },
        {
          "type": "range",
          "id": "center_text_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Center Text Line Height",
          "default": 130
        },
        {
          "type": "checkbox",
          "id": "center_text_hide",
          "label": "Center Text Hide on Mobile",
          "default": true
        },
        {
          "type": "header",
          "content": "Right Sub-Title"
        },
        {
          "type": "text",
          "id": "right_sub_title",
          "label": "Right Sub-Title",
          "default": "AWWWARDS"
        },
        {
          "type": "url",
          "id": "right_sub_title_url",
          "label": "Right Sub-Title URL"
        },
        {
          "type": "checkbox",
          "id": "right_sub_title_custom",
          "label": "Use Custom Font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "right_sub_title_font",
          "label": "Right Sub-Title Font Family",
          "default": "assistant_n4"
        },
        {
          "type": "range",
          "id": "right_sub_title_size",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Right Sub-Title Size",
          "default": 20
        },
        {
          "type": "range",
          "id": "right_sub_title_size_mobile",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Right Sub-Title Size - Mobile",
          "default": 26
        },
        {
          "type": "range",
          "id": "right_sub_title_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Right Sub-Title Line Height",
          "default": 100
        },
        {
          "type": "checkbox",
          "id": "right_sub_title_hide",
          "label": "Right Sub-Title Hide on Mobile",
          "default": true
        },
        {
          "type": "header",
          "content": "Right Title"
        },
        {
          "type": "text",
          "id": "right_title",
          "label": "Right Title",
          "default": "WORK"
        },
        {
          "type": "url",
          "id": "right_title_url",
          "label": "Right Title URL"
        },
        {
          "type": "checkbox",
          "id": "right_title_custom",
          "label": "Use Custom Font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "right_title_font",
          "label": "right Title Font Family",
          "default": "assistant_n4"
        },
        {
          "type": "range",
          "id": "right_title_size",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Right Title Size",
          "default": 80
        },
        {
          "type": "range",
          "id": "right_title_size_mobile",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Right Title Size - Mobile",
          "default": 26
        },
        {
          "type": "range",
          "id": "right_title_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Right Title Line Height",
          "default": 100
        },
        {
          "type": "header",
          "content": "Block Colors"
        },
        {
          "type": "color",
          "id": "left_sub_title_color",
          "label": "Left Sub-Title Color",
          "default": "#BFEA88"
        },
        {
          "type": "color",
          "id": "left_title_color",
          "label": "Left Title Color",
          "default": "#BFEA88"
        },
        {
          "type": "color",
          "id": "center_text_color",
          "label": "Center Text Color",
          "default": "#BFEA88"
        },
        {
          "type": "color",
          "id": "right_sub_title_color",
          "label": "Right Sub-Title Color",
          "default": "#BFEA88"
        },
        {
          "type": "color",
          "id": "right_title_color",
          "label": "Right Title Color",
          "default": "#BFEA88"
        }
      ]
    },
    {
      "type": "bottom",
      "name": "Bottom Bar",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Left Element"
        },
        {
          "type": "range",
          "id": "Left_width",
          "min": 5,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Left Width",
          "default": 90
        },
        {
          "type": "range",
          "id": "left_width_mobile",
          "min": 5,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Left Width - Mobile",
          "default": 80
        },
        {
          "type": "range",
          "id": "left_height",
          "min": 5,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Left Height",
          "default": 70
        },
        {
          "type": "range",
          "id": "left_height_mobile",
          "min": 5,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Left Height - Mobile",
          "default": 70
        },
        {
          "type": "checkbox",
          "id": "left_hide",
          "label": "Left Hide on Desktop",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "left_hide_mobile",
          "label": "Left Hide on Mobile",
          "default": false
        },
        {
          "type": "header",
          "content": "Left Elipse Text"
        },
        {
          "type": "text",
          "id": "left_elipse",
          "label": "Left Elipse Text",
          "default": "EST.2023"
        },
        {
          "type": "checkbox",
          "id": "left_elipse_custom",
          "label": "Use Custom Font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "left_elipse_font",
          "label": "Left Elipse Text Font Family",
          "default": "assistant_n4"
        },
        {
          "type": "range",
          "id": "left_elipse_size",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Left Elipse Text Size",
          "default": 18
        },
        {
          "type": "range",
          "id": "left_elipse_size_mobile",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Left Elipse Text Size - Mobile",
          "default": 18
        },
        {
          "type": "range",
          "id": "left_elipse_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Left Elipse Text Line Height",
          "default": 130
        },
        {
          "type": "range",
          "id": "left_elipse_radius",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Left Elipse Borde Radius",
          "default": 50
        },
        {
          "type": "header",
          "content": "Left Table"
        },
        {
          "type": "range",
          "id": "left_table_mt",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Left Table Margin Top",
          "default": 26
        },
        {
          "type": "header",
          "content": "Left Table Top"
        },
        {
          "type": "richtext",
          "id": "left_table_top",
          "label": "Left Table Top",
          "default": "<p>SECTION STORE DIGITAL PRODUCTS</p>"
        },
        {
          "type": "checkbox",
          "id": "left_table_top_custom",
          "label": "Use Custom Font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "left_table_top_font",
          "label": "Left Table Top Font Family",
          "default": "assistant_n4"
        },
        {
          "type": "range",
          "id": "left_table_top_size",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Left Table Top Size",
          "default": 16
        },
        {
          "type": "range",
          "id": "left_table_top_size_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Left Table Top Size - Mobile",
          "default": 14
        },
        {
          "type": "range",
          "id": "left_table_top_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Left Table Top Line Height",
          "default": 130
        },
        {
          "type": "header",
          "content": "Left Table Bottom"
        },
        {
          "type": "richtext",
          "id": "left_table_bottom",
          "label": "Left Table Bottom",
          "default": "<p>88-92 Frederiksborggade, Indre By, Copenhagen, Denmark, 1360 K</p>"
        },
        {
          "type": "checkbox",
          "id": "left_table_bottom_custom",
          "label": "Use Custom Font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "left_table_bottom_font",
          "label": "Left Table Bottom Font Family",
          "default": "assistant_n4"
        },
        {
          "type": "range",
          "id": "left_table_bottom_size",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Left Table Bottom Size",
          "default": 16
        },
        {
          "type": "range",
          "id": "left_table_bottom_size_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Left Table Bottom Size - Mobile",
          "default": 14
        },
        {
          "type": "range",
          "id": "left_table_bottom_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Left Table Bottom Line Height",
          "default": 130
        },
        {
          "type": "header",
          "content": "Center Title"
        },
        {
          "type": "richtext",
          "id": "center_title",
          "label": "Center Title",
          "default": "<h2>BRAND DIRECTION DIGITAL</h2>"
        },
        {
          "type": "checkbox",
          "id": "center_title_custom",
          "label": "Use Custom Font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "center_title_font",
          "label": "Center Title Font Family",
          "default": "assistant_n4"
        },
        {
          "type": "range",
          "id": "center_title_size",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Center Title Size",
          "default": 30
        },
        {
          "type": "range",
          "id": "center_title_size_mobile",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Center Title Size",
          "default": 26
        },
        {
          "type": "range",
          "id": "center_title_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Center Title Line Height",
          "default": 200
        },
        {
          "type": "checkbox",
          "id": "center_title_hide",
          "label": "Center Title Hide on Mobile",
          "default": false
        },
        {
          "type": "header",
          "content": "Center Sub-Title"
        },
        {
          "type": "richtext",
          "id": "center_sub_title",
          "label": "Center Sub-Title",
          "default": "<h3>WORKING ON PROJECTS FOR</h3>"
        },
        {
          "type": "checkbox",
          "id": "center_sub_title_custom",
          "label": "Use Custom Font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "center_sub_title_font",
          "label": "Center Sub-Title Font Family",
          "default": "assistant_n4"
        },
        {
          "type": "range",
          "id": "center_sub_title_size",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Center Sub-Title Size",
          "default": 18
        },
        {
          "type": "range",
          "id": "center_sub_title_size_mobile",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Center Sub-Title Size - Mobile",
          "default": 18
        },
        {
          "type": "range",
          "id": "center_sub_title_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Center Sub-Title Line Height",
          "default": 130
        },
        {
          "type": "checkbox",
          "id": "center_sub_title_hide",
          "label": "Center Sub-Title Hide on Mobile",
          "default": true
        },
        {
          "type": "header",
          "content": "Center Text"
        },
        {
          "type": "richtext",
          "id": "center_text",
          "label": "Center Text",
          "default": "<p><strong>COLLABORATING</strong> WITH <strong>AMBITIOUS BRANDS</strong> THAT HAVE <strong>POWERFUL STORIES</strong> TO TELLI WORK <strong>INDEPENDENTLY</strong> AND WITH CREATIVE <strong>FREELANCERS, STUDIOS</strong> AND <strong>AGENCIES</strong></p>"
        },
        {
          "type": "checkbox",
          "id": "center_text_custom",
          "label": "Use Custom Font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "center_text_font",
          "label": "Center Text Font Family",
          "default": "assistant_n4"
        },
        {
          "type": "range",
          "id": "center_text_size",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Center Text Size",
          "default": 14
        },
        {
          "type": "range",
          "id": "center_text_size_mobile",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Center Text Size - Mobile",
          "default": 20
        },
        {
          "type": "range",
          "id": "center_text_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Center Text Line Height",
          "default": 130
        },
        {
          "type": "checkbox",
          "id": "center_text_hide",
          "label": "Center Text Hide on Mobile",
          "default": true
        },
        {
          "type": "header",
          "content": "Right Element"
        },
        {
          "type": "url",
          "id": "right_url",
          "label": "Right URL"
        },
        {
          "type": "range",
          "id": "right_width",
          "min": 5,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Right Width",
          "default": 75
        },
        {
          "type": "range",
          "id": "right_width_mobile",
          "min": 5,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Right Width - Mobile",
          "default": 50
        },
        {
          "type": "range",
          "id": "right_height",
          "min": 5,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Right Height",
          "default": 70
        },
        {
          "type": "range",
          "id": "right_height_mobile",
          "min": 5,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Right Height - Mobile",
          "default": 30
        },
        {
          "type": "range",
          "id": "right_padding_horizontal",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Right Padding Horizontal",
          "default": 10
        },
        {
          "type": "range",
          "id": "right_padding_vertical",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Right Padding Vertical",
          "default": 10
        },
        {
          "type": "checkbox",
          "id": "right_hide",
          "label": "Right Hide on Desktop",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "right_hide_mobile",
          "label": "Right Hide on Mobile",
          "default": true
        },
        {
          "type": "header",
          "content": "Right Element Media"
        },
        {
          "type": "select",
          "id": "right_media",
          "label": "Right Media",
          "default": "image",
          "options": [
            {
              "label": "Video",
              "value": "video"
            },
            {
              "label": "Image",
              "value": "image"
            }
          ]
        },
        {
          "type": "video",
          "id": "right_video",
          "label": "Right Video"
        },
        {
          "type": "image_picker",
          "id": "right_image",
          "label": "Right Image"
        },
        {
          "type": "range",
          "id": "right_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Right Overlay Opacity",
          "default": 20
        },
        {
          "type": "range",
          "id": "right_media_radius",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "Right Border Radius",
          "default": 10
        },
        {
          "type": "header",
          "content": "Right Title"
        },
        {
          "type": "text",
          "id": "right_title",
          "label": "Right Title",
          "default": "DOMINIQUE SIRE"
        },
        {
          "type": "checkbox",
          "id": "right_title_custom",
          "label": "Use Custom Font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "right_title_font",
          "label": "Right Title Font Family",
          "default": "assistant_n4"
        },
        {
          "type": "range",
          "id": "right_title_size",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Right Title Size",
          "default": 26
        },
        {
          "type": "range",
          "id": "right_title_size_mobile",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Right Title Size - Mobile",
          "default": 20
        },
        {
          "type": "range",
          "id": "right_title_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Right Title Line Height",
          "default": 130
        },
        {
          "type": "header",
          "content": "Right Sub-Title"
        },
        {
          "type": "text",
          "id": "right_sub_title",
          "label": "Right Sub-Title",
          "default": "LATEST WORK"
        },
        {
          "type": "checkbox",
          "id": "right_sub_title_custom",
          "label": "Use Custom Font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "right_sub_title_font",
          "label": "Right Sub-Title Font Family",
          "default": "assistant_n4"
        },
        {
          "type": "range",
          "id": "right_sub_title_size",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Right Sub-Title Size",
          "default": 26
        },
        {
          "type": "range",
          "id": "right_sub_title_size_mobile",
          "min": 0,
          "max": 150,
          "step": 2,
          "unit": "px",
          "label": "Right Sub-Title Size - Mobile",
          "default": 26
        },
        {
          "type": "range",
          "id": "right_sub_title_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Right Sub-Title Line Height",
          "default": 130
        },
        {
          "type": "header",
          "content": "Block Colors"
        },
        {
          "type": "color",
          "id": "left_elipse_color",
          "label": "Left Elipse Color",
          "default": "#BFEA88"
        },
        {
          "type": "color",
          "id": "left_elipse_text_color",
          "label": "Left Elipse Text Color",
          "default": "#BFEA88"
        },
        {
          "type": "color",
          "id": "left_track_color",
          "label": "Left Track Color",
          "default": "#BFEA88"
        },
        {
          "type": "color",
          "id": "left_table_color",
          "label": "Left Table Color",
          "default": "#BFEA88"
        },
        {
          "type": "color",
          "id": "left_table_top_color",
          "label": "Left Table Top Color",
          "default": "#BFEA88"
        },
        {
          "type": "color",
          "id": "left_table_bottom_color",
          "label": "Left Table Bottom Color",
          "default": "#BFEA88"
        },
        {
          "type": "color",
          "id": "center_title_color",
          "label": "Center Title Color",
          "default": "#BFEA88"
        },
        {
          "type": "color",
          "id": "center_sub_title_color",
          "label": "Center Sub-Title Color",
          "default": "#BFEA88"
        },
        {
          "type": "color",
          "id": "center_text_color",
          "label": "Center Text Color",
          "default": "#BFEA88"
        },
        {
          "type": "color",
          "id": "right_overlay_color",
          "label": "Right Overlay Color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "right_title_color",
          "label": "Right Title Color",
          "default": "#BFEA88"
        },
        {
          "type": "color",
          "id": "right_sub_title_color",
          "label": "Right Sub-Title Color",
          "default": "#BFEA88"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Hero #2",
      "blocks": [
        {
          "type": "top"
        },
        {
          "type": "bottom"
        }
      ]
    }
  ]
}
{% endschema %}