<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"
/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign width = section.settings.width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius
  assign background_style = section.settings.background_style

  assign carousel_unfolded_desktop = section.settings.carousel_unfolded_desktop

  assign loading_attribute = 'eager'
  if lazy
    assign loading_attribute = 'lazy'
  endif

  assign image = section.settings.image
  assign image_ratio = section.settings.image_ratio
  assign image_ratio_mobile = section.settings.image_ratio_mobile
  assign image_border_thickness = section.settings.image_border_thickness
  assign image_border_color = section.settings.image_border_color
  assign image_radius = section.settings.image_radius

  if image_ratio == "portrait"
    assign aspect_ratio = 9.6 | divided_by: 13
    assign hotspot_calculated_width = 600
    assign hotspot_calculated_height = 600 | divided_by: aspect_ratio | round
  elsif image_ratio == "landscape"
    assign aspect_ratio = 12 | divided_by: 8
    assign hotspot_calculated_width = 600
    assign hotspot_calculated_height = 600 | divided_by: aspect_ratio | round
  elsif image_ratio == "square"
    assign hotspot_calculated_width = 600
    assign hotspot_calculated_height = 600
  else
    # For original ratio, use the actual image dimensions or fall back to a default
    assign hotspot_calculated_width = image.width | default: 600
    assign hotspot_calculated_height = image.height | default: 400
  endif

  capture hotspot_sizes
    echo "(min-width: " | append: content_width | append: "px) " | append: content_width | minus: 100 | divided_by: 2 | append: "px, "
    echo "(min-width: 750px) calc((100vw - 130px) / 2), "
    echo "calc((100vw - 50px) / 2)"
  endcapture

  assign hotspot_size = section.settings.hotspot_size
  assign hotspot_size_mobile = section.settings.hotspot_size_mobile
  assign hotspot_bg_color = section.settings.hotspot_bg_color
  assign hotspot_bg_dot_color = section.settings.hotspot_bg_dot_color
  assign hotspot_bg_dot_active_color = section.settings.hotspot_bg_dot_active_color
  assign hotspot_number_radius = section.settings.hotspot_number_radius
  assign pulse_animation = section.settings.pulse_animation

  assign item_align = section.settings.item_align
  assign item_align_mobile = section.settings.item_align_mobile

  assign item_horizontal_align = ""
  if item_align == "center"
    assign item_horizontal_align = "center"
  elsif item_align == "right"
    assign item_horizontal_align = "end"
  else
    assign item_horizontal_align = "start"
  endif

  assign item_horizontal_align_mobile = ""
  if item_align_mobile == "center"
    assign item_horizontal_align_mobile = "center"
  elsif item_align_mobile == "right"
    assign item_horizontal_align_mobile = "end"
  else
    assign item_horizontal_align_mobile = "start"
  endif

  assign hotspot_border_thickness = section.settings.hotspot_border_thickness
  assign hotspot_border_color = section.settings.hotspot_border_color

  assign product_image_ratio = section.settings.product_image_ratio
  assign product_image_ratio_mobile = section.settings.product_image_ratio_mobile
  assign product_image_border_thickness = section.settings.product_image_border_thickness
  assign product_image_border_color = section.settings.product_image_border_color
  assign product_image_radius = section.settings.product_image_radius

  if product_image_ratio == "portrait"
    assign aspect_ratio = 9.6 | divided_by: 13
    assign calculated_width = 600
    assign calculated_height = 600 | divided_by: aspect_ratio | round
  elsif product_image_ratio == "landscape"
    assign aspect_ratio = 12 | divided_by: 8
    assign calculated_width = 600
    assign calculated_height = 600 | divided_by: aspect_ratio | round
  elsif product_image_ratio == "square"
    assign calculated_width = 600
    assign calculated_height = 600
  else
    # For original ratio, use the actual image dimensions or fall back to a default
    assign calculated_width = 700
    assign calculated_height = 400
  endif

  capture sizes
    echo "(min-width: " | append: content_width | append: "px) " | append: content_width | minus: 100 | divided_by: 2 | append: "px, "
    echo "(min-width: 750px) calc((100vw - 130px) / 2), "
    echo "calc((100vw - 50px) / 2)"
  endcapture

  assign number_size = section.settings.number_size
  assign number_size_mobile = section.settings.number_size_mobile
  assign number_custom = section.settings.number_custom
  assign number_font = section.settings.number_font
  assign number_mt = section.settings.number_mt
  assign number_mt_mobile = section.settings.number_mt_mobile
  assign number_height = section.settings.number_height
  assign number_color = section.settings.number_color

  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_mt = section.settings.title_mt
  assign title_mt_mobile = section.settings.title_mt_mobile
  assign title_height = section.settings.title_height
  assign title_color = section.settings.title_color

  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_mt = section.settings.text_mt
  assign text_mt_mobile = section.settings.text_mt_mobile
  assign text_height = section.settings.text_height
  assign text_color = section.settings.text_color

  assign price_size_mobile = section.settings.price_size_mobile
  assign price_size = section.settings.price_size
  assign price_color = section.settings.price_color
  assign price_original_color = section.settings.price_original_color
  assign price_custom = section.settings.price_custom
  assign price_font = section.settings.price_font
  assign price_height = section.settings.price_height
  assign price_compare = section.settings.price_compare
  assign price_mt = section.settings.price_mt
  assign price_mt_mobile = section.settings.price_mt_mobile

  assign arrow_show_desktop = section.settings.arrow_show_desktop
  assign arrow_show_mobile = section.settings.arrow_show_mobile
  assign arrow_size = section.settings.arrow_size
  assign arrow_size_mobile = section.settings.arrow_size_mobile
  assign arrow_icon_size = section.settings.arrow_icon_size
  assign arrow_icon_size_mobile = section.settings.arrow_icon_size_mobile
  assign arrow_radius = section.settings.arrow_radius
  assign arrow_border_thickness = section.settings.arrow_border_thickness
  assign arrow_hover_effect = section.settings.arrow_hover_effect
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color
  assign arrow_bg_color = section.settings.arrow_bg_color
  assign arrow_bg_hover_color = section.settings.arrow_bg_hover_color
  assign arrow_border_color = section.settings.arrow_border_color
  assign arrow_border_hover_color = section.settings.arrow_border_hover_color

  assign modal_vertical_position = section.settings.modal_vertical_position
  assign modal_horizontal_position = section.settings.modal_horizontal_position
  assign modal_radius = section.settings.modal_radius
  assign modal_border_thickness = section.settings.modal_border_thickness
  assign modal_padding_horizontal = section.settings.modal_padding_horizontal
  assign modal_width = section.settings.modal_width
  assign modal_overlay = section.settings.modal_overlay
  assign modal_border_color = section.settings.modal_border_color
  assign modal_bg_color = section.settings.modal_bg_color
  assign close_color = section.settings.close_color

  assign colors_type = section.settings.colors_type
  assign basic_border_color = section.settings.basic_border_color
  assign accent_color = section.settings.accent_color
  assign secondary_color = section.settings.secondary_color
  assign primary_color = section.settings.primary_color
-%}

{%- style -%}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
    position: relative;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .hotspot-image-wrapper-{{ section.id }} {
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 600px;
    transform: translate(0);
    transition: transform .7s 
    cubic-bezier(0, 0, .09, 1);
  }

  .hotspot-image-{{ section.id }} {
    {% if colors_type == 'basic' %}
      border: {{ image_border_thickness }}px solid {{ basic_border_color }};
    {% else %}
      border: {{ image_border_thickness }}px solid {{ image_border_color }};
    {% endif %}
   
    border-radius: {{ image_radius }}px;
    overflow: hidden;    
  }

  .hotspot-image-{{ section.id }} img,
  .hotspot-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hotspot-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .hotspot-item-dot-{{ section.id }} {
    border-radius: {{ hotspot_number_radius | times: 0.5 }}%;
    {% if colors_type == 'basic' %}
      background-color: #ffffff66;
    {% else %}
      background-color: {{ hotspot_bg_color }};
    {% endif %}
    width: {{ hotspot_size_mobile | times: 2 }}px;
    height: {{ hotspot_size_mobile | times: 2 }}px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hotspot-item-dot-{{ section.id }}:before {
    content: '';
    display: block;
    width: {{ hotspot_size_mobile }}px;
    height: {{ hotspot_size_mobile }}px;
    {% if colors_type == 'basic' %}
      background-color: {{ accent_color }};
    {% else %}
      background-color: {{ hotspot_bg_dot_color }};
    {% endif %}   
    border-radius: {{ hotspot_number_radius | times: 0.5 }}%;
    transition: background-color .1s;
  }

  .hotspot-item-dot-{{ section.id }}.active:before {
    {% if colors_type == 'basic' %}
      background-color: {{ accent_color }};
    {% else %}
      background-color: {{ hotspot_bg_dot_active_color }};
    {% endif %}   
  }

  .hotspot-slider-wrapper-{{ section.id }} {
    display: none;
    overflow: hidden;
    max-width: 0;
    transition: opacity .7s cubic-bezier(0, 0, .09, 1), max-width .7s cubic-bezier(0, 0, .09, 1);
    width: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  .hotspot-product-slide-image-container-{{ section.id }} {
    display: block;
    {% if colors_type == 'basic' %}
      border: {{ product_image_border_thickness }}px solid {{ basic_border_color }};
    {% else %}
      border: {{ product_image_border_thickness }}px solid {{ product_image_border_color }};
    {% endif %}  
    overflow: hidden;    
  }

  .hotspot-product-slide-content-container-{{ section.id }} {
    text-align: {{ item_horizontal_align_mobile }};
    transform: translateY(calc({{ text_size_mobile }}px));
    transition: all 0.25s ease 0s;
  }

  .product-slide-{{ section.id }}.swiper-slide-active .hotspot-product-slide-content-container-{{ section.id }} {
    transform: translateY(0px);
    transition: all 0.25s ease 0s;
  }

  .hotspot-product-slide-image-container-{{ section.id }} img,
  .hotspot-product-slide-image-container-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hotspot-product-slide-image-container-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .hotspot-slider-wrapper-{{ section.id }} .hotspot-slider-{{ section.id }} .swiper-slide {    
    {% if colors_type == 'basic' %}
      border-bottom: {{ hotspot_border_thickness }}px solid {{ basic_border_color }};
    {% else %}
      border-bottom: {{ hotspot_border_thickness }}px solid {{ hotspot_border_color }};
    {% endif %}  
  }

  .hotspot-slider-{{ section.id }} .swiper-slide {
    padding-bottom: 24px;
  }

  .hotspot-product-slide-index-{{ section.id }} {
    margin-top: {{ number_mt_mobile }}px;
    font-size: {{ number_size_mobile }}px;
    line-height: {{ number_height }}%;
    {% if colors_type == 'basic' %}
      color: {{ primary_color }};
    {% else %}
      color: {{ number_color }};
    {% endif %}      
  }

  .hotspot-product-slide-title-{{ section.id }} {
    margin: 0;
    margin-top: {{ title_mt_mobile }}px;
    text-decoration: none;
    font-weight: 700;
    font-size: {{ title_size_mobile }}px;
    line-height: {{ title_height }}%;
    {% if colors_type == 'basic' %}
      color: {{ primary_color }};
    {% else %}
      color: {{ title_color }};
    {% endif %}   
  }

  .hotspot-product-slide-content-{{ section.id }} {
    margin-top: {{ text_mt_mobile }}px;
  }

  .hotspot-product-slide-content-{{ section.id }} * {
    margin: 0;
    font-size: {{ text_size_mobile }}px;
    line-height: {{ text_height }}%;
    {% if colors_type == 'basic' %}
      color: {{ primary_color }};
    {% else %}
      color: {{ text_color }};
    {% endif %}   
    text-decoration: none;
  }

  .hotspot-product-price-{{ section.id }} {
    margin-top: {{ price_mt_mobile }}px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }

  .hotspot-product-price-{{ section.id }} * {
    margin: 0;
    font-size: {{ price_size_mobile }}px;
    {% if colors_type == 'basic' %}
      color: {{ primary_color }};
    {% else %}
      color: {{ price_color }};
    {% endif %}       
    line-height: {{ price_height }}%;
    text-transform: unset;
    font-style: normal;
  }

  .hotspot-compare-price-{{ section.id }} {
    opacity: 0.8;
    {% if colors_type == 'basic' %}
      color: {{ primary_color }};
    {% else %}
      color: {{ price_original_color }};
    {% endif %}
    text-decoration: line-through !important;
  }

  .hotspot-buttons-{{ section.id }} {
    gap: 15px;
    padding-bottom: 15px !important;
  }

  .hotspot-btn-next-{{ section.id }},
  .hotspot-btn-prev-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    transition: all 0.3s ease 0s;
    width: {{ arrow_size_mobile }}px;
    height: {{ arrow_size_mobile }}px;
    border-radius: {{ arrow_radius }}%;
    {% if colors_type == 'basic' %}
      border: {{ arrow_border_thickness }}px solid {{ basic_border_color }};
      background: {{ secondary_color }};
    {% else %}
      border: {{ arrow_border_thickness }}px solid {{ arrow_border_color }};
      background: {{ arrow_bg_color }};
    {% endif %}      
  }

  .hotspot-btn-prev-{{ section.id }} .animate-icon,
  .hotspot-btn-next-{{ section.id }} .animate-icon {
    width: {{ arrow_icon_size_mobile }}px;
    height: {{ arrow_icon_size_mobile }}px;
  }

  .hotspot-btn-prev-{{ section.id }} .animate-icon path,
  .hotspot-btn-next-{{ section.id }} .animate-icon path {
    transition: all 0.3s ease 0s;    
    {% if colors_type == 'basic' %}
      fill: {{ primary_color }};
    {% else %}
      fill: {{ arrow_color }};
    {% endif %}   
  }

  .hotspot-btn-next-{{ section.id }}.swiper-button-disabled,
  .hotspot-btn-prev-{{ section.id }}.swiper-button-disabled {
    opacity: 0;
  }

  .hotspot-modal-popup-{{ section.id }} {
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: {{ modal_horizontal_position }};
    align-items: {{ modal_vertical_position }};
    overflow-y: scroll;
    pointer-events: none;
    background: rgba(0, 0, 0, {{ modal_overlay | times: 0.01 }});
    opacity: 0;
    transition: opacity .4s ease-in-out;
  }

  .hotspot-modal-popup-{{ section.id }}.active {
    pointer-events: all;
    opacity: 1;
    z-index: 100;
  }

  .hotspot-modal-popup-inner-{{ section.id }} {
    position: relative;
    width: 100%;
    height: fit-content;
    max-width: {{ modal_width }}%;
    {% if colors_type == 'basic' %}
      border: {{ modal_border_thickness }}px solid {{ basic_border_color }};
      background-color: {{ secondary_color }};
    {% else %}
      border: {{ modal_border_thickness }}px solid {{ modal_border_color }};
      background-color: {{ modal_bg_color }};
    {% endif %}     
    border-radius: {{ modal_radius }}px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .hotspot-modal-popup-inner-{{ section.id }} .hotspot-product-slide-content-container-{{ section.id }},
  .hotspot-modal-popup-inner-{{ section.id }} .hotspot-buttons-{{ section.id }} {
    padding: 0 {{ modal_padding_horizontal }}px;
  }

  .hotspot-modal-popup-{{ section.id }} .hotspot-slider-{{ section.id }} {
    width: 100%;
  }

  .hotspot-modal-popup-close-{{ section.id }} {
    position: absolute;
    top: 10px;
    right: 8px;
    z-index: 1;
    box-shadow: none;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
  }

  .hotspot-modal-popup-close-{{ section.id }} svg {
    display: block;
    width: 24px;
    height: 24px;
  }

  .hotspot-modal-popup-close-{{ section.id }} svg path {   
    {% if colors_type == 'basic' %}
      fill: {{ primary_color }};
    {% else %}
      fill: {{ close_color }};
    {% endif %}     
  }

  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .hotspot-item-dot-{{ section.id }}:before {
      width: {{ hotspot_size }}px;
      height: {{ hotspot_size }}px;
    }

    .hotspot-item-dot-{{ section.id }} {
      width: {{ hotspot_size | times: 2.75 }}px;
      height: {{ hotspot_size | times: 2.75 }}px;
    }

    .hotspot-product-slide-content-container-{{ section.id }} {
      text-align: {{ item_horizontal_align }};
      transform: translateY(calc({{ text_size }}px));
    }

    .hotspot-item-dot-{{ section.id }}.active-mobile:before {
      background-color: {{ hotspot_bg_dot_color }};
    }

    {% if carousel_unfolded_desktop %}
      .hotspot-image-wrapper-{{ section.id }} .hotspot-item-dot-{{ section.id }}:first-of-type {
        {% if colors_type == 'basic' %}
          background-color: {{ accent_color }};
        {% else %}
          background-color: {{ hotspot_bg_dot_active_color }};
        {% endif %}
      }
    {% endif %}

    .hotspot-slider-wrapper-{{ section.id }} {
      display: block;
    }

    .hotspot-slider-wrapper-{{ section.id }} {
      display: block;
      {% if carousel_unfolded_desktop %}
        max-width: 40%;
        opacity: 1;
      {% endif %}
    }

    .hotspot-slider-wrapper-{{ section.id }}.active {
      max-width: 40%;
      opacity: 1;
    }

    .hotspot-slider-wrapper-{{ section.id }}.active + .hotspot-image-wrapper-{{ section.id }} {
      transform: translate(-40%);
    }

    {% if carousel_unfolded_desktop %}
      .hotspot-slider-wrapper-{{ section.id }} + .hotspot-image-wrapper-{{ section.id }} {
        transform: translate(-40%);
      }
    {% endif %}

    .hotspot-slider-wrapper-{{ section.id }} .hotspot-product-slide-image-container-{{ section.id }} {
      opacity: 0;
      transition: opacity .7s;
    }

    .swiper.hotspot-slider-{{ section.id }} {
      padding-right: 40%;
    }

    .hotspot-slider-wrapper-{{ section.id }} .swiper-slide-active .hotspot-product-slide-image-container-{{ section.id }} {
      opacity: 1;
    }

    .hotspot-product-slide-content-container-{{ section.id }} {
      text-align: {{ item_horizontal_align }}
    }

    .hotspot-product-slide-index-{{ section.id }} {
      margin-top: {{ number_mt }}px;
      font-size: {{ number_size }}px;
    }

    .hotspot-product-slide-image-container-{{ section.id }} {
      border-radius: {{ product_image_radius }}px;
    }

    .hotspot-product-slide-title-{{ section.id }} {
      margin-top: {{ title_mt }}px;
      font-size: {{ title_size }}px;
    }

    .hotspot-product-slide-content-{{ section.id }} {
      margin-top: {{ text_mt }}px;
      max-height: 0;
      overflow: hidden;
      padding-left: 0;
      padding-right: 0;
      transition: max-height .7s;
    }

    .hotspot-product-slide-content-{{ section.id }} * {
      font-size: {{ text_size }}px;
    }

    .hotspot-product-price-{{ section.id }} {
      margin-top: {{ price_mt }}px;
    }

    .hotspot-product-price-{{ section.id }} * {
      font-size: {{ price_size }}px;
    }

    .hotspot-slider-wrapper-{{ section.id }}.active .swiper-slide-active .hotspot-product-slide-content-{{ section.id }} {
      max-height: none;
    }

    .hotspot-slider-{{ section.id }} .swiper-slide {
      height: auto;
    }

    .hotspot-slider-wrapper-{{ section.id }} .hotspot-slider-{{ section.id }} .swiper-slide {
      opacity: 0.5;
    }

    .hotspot-slider-wrapper-{{ section.id }} .hotspot-slider-{{ section.id }} .swiper-slide-active {
      opacity: 1;
    }

    .hotspot-buttons-{{ section.id }} {
      margin-top: 60px;
    }

    .hotspot-btn-next-{{ section.id }},
    .hotspot-btn-prev-{{ section.id }} {
      width: {{ arrow_size }}px;
      height: {{ arrow_size }}px;
    }

    .hotspot-btn-prev-{{ section.id }} .animate-icon,
    .hotspot-btn-next-{{ section.id }} .animate-icon {
      width: {{ arrow_icon_size }}px;
      height: {{ arrow_icon_size }}px;       
    }

    .hotspot-modal-popup-{{ section.id }} .hotspot-product-slide-image-container-{{ section.id }} img,
    .hotspot-modal-popup-{{ section.id }} .hotspot-product-slide-image-container-{{ section.id }} svg {
      max-height: 70vh;
    }
  }
  
{%- endstyle -%}

{% if width == 'custom' %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% elsif width == 'page' %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: clamp(100px, var(--page-content-width, var(--page-width)), 100%);
    }
  </style>
{% endif %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if number_custom %}
  <style>
    {{ number_font | font_face: font_display: 'swap' }}

    .hotspot-product-slide-index-{{ section.id }} {
      font-family: {{ number_font.family }}, {{ number_font.fallback_families }};
      font-weight: {{ number_font.weight }};
      font-style: {{ number_font.style }};
    }
  </style>
{% endif %}

{% if title_custom %}
  <style>
    {{ title_font | font_face: font_display: 'swap' }}
    
    .hotspot-product-slide-title-{{ section.id }} {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    {{ text_font | font_face: font_display: 'swap' }}

    .hotspot-product-slide-content-{{ section.id }} {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if price_custom %}
  <style>
    {{ price_font | font_face: font_display: 'swap' }}

    .hotspot-product-price-{{ section.id }} {
      font-family: {{ price_font.family }}, {{ price_font.fallback_families }};
      font-weight: {{ price_font.weight }};
      font-style: {{ price_font.style }};
    }
  </style>
{% endif %}

{% if image_ratio_mobile == "portrait" %}
  <style>
    .hotspot-image-{{ section.id }} {
      aspect-ratio: 9.6/13;
    }
  </style>
{% elsif image_ratio_mobile == "landscape" %}
  <style>
  .hotspot-image-{{ section.id }} {
    aspect-ratio: 12/8;
  }
  </style>
{% elsif image_ratio_mobile == "square" %}
  <style>
    .hotspot-image-{{ section.id }} {
      aspect-ratio: 12/12;
    }
  </style>
{% else %}
  <style>
    .hotspot-image-{{ section.id }} {
      aspect-ratio: auto;
    }
  </style>
{% endif %}

{% if image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
      .hotspot-image-{{ section.id }} {
        aspect-ratio: 9.6/13;
      }
    }
  </style>
{% elsif image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .hotspot-image-{{ section.id }} {
        aspect-ratio: 12/8;
      }
    }  
  </style>
{% elsif image_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .hotspot-image-{{ section.id }} {
        aspect-ratio: 12/12;
      }
    }    
  </style>
{% else %}
  <style>
      @media(min-width: 1024px) {
      .hotspot-image-{{ section.id }} {
        aspect-ratio: auto;
      }
    }
  </style>
{% endif %}

{% if product_image_ratio_mobile == "portrait" %}
  <style>
    .hotspot-product-slide-image-container-{{ section.id }} {
      aspect-ratio: 9.6/12;
    }
  </style>
{% elsif product_image_ratio_mobile == "landscape" %}
  <style>
    .hotspot-product-slide-image-container-{{ section.id }} {
      aspect-ratio: 12/8;
    }
  </style>
{% elsif product_image_ratio_mobile == "square" %}
  <style>
    .hotspot-product-slide-image-container-{{ section.id }}{
      aspect-ratio: 1/1;
    }
  </style>
{% else %}
  <style>
    .hotspot-product-slide-image-container-{{ section.id }} {
      aspect-ratio: auto;
    }
  </style>
{% endif %}

{% if product_image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
      .hotspot-product-slide-image-container-{{ section.id }} {
        aspect-ratio: 9.6/12;
      }
    }
  </style>
{% elsif product_image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .hotspot-product-slide-image-container-{{ section.id }} {
        aspect-ratio: 12/8;
      }
    }  
  </style>
{% elsif product_image_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .hotspot-product-slide-image-container-{{ section.id }} {
        aspect-ratio: 1/1;
      }
    }    
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .hotspot-product-slide-image-container-{{ section.id }} {
        aspect-ratio: auto;
      }
    }
  </style>
{% endif %}

{% if pulse_animation %}
  <style>
    .hotspot-item-dot-{{ section.id }} {
      animation: out 2s infinite ease;
    }

    @keyframes out {
      25% {
        box-shadow: 0 0 0 #fff6;
      }
      100% {
        box-shadow: 0 0 0 16px #fff0;
      }
    }
  </style>
{% endif %}

{% if modal_vertical_position == 'start' %}
  <style>
    .hotspot-modal-popup-{{ section.id }} .hotspot-modal-popup-inner-{{ section.id }} {
      transform: translateY(-100%);
      transition: transform .4s ease-in;
    }

    .hotspot-modal-popup-{{ section.id }}.active .hotspot-modal-popup-inner-{{ section.id }} {
      transition: all 250ms ease-in 0s;
      transform: translateY(0);
    }
  </style>
{% elsif modal_vertical_position == 'end' %}
  <style>
    .hotspot-modal-popup-{{ section.id }} .hotspot-modal-popup-inner-{{ section.id }} {
      transform: translateY(100%);
      transition: transform .4s ease-in;
    }

    .hotspot-modal-popup-{{ section.id }}.active .hotspot-modal-popup-inner-{{ section.id }} {
      transition: all 250ms ease-in 0s;
      transform: translateY(0);
    }
  </style>
{% endif %}

{% if arrow_hover_effect == "color" %}
  <style>
    .hotspot-btn-next-{{ section.id }}:hover,
    .hotspot-btn-prev-{{ section.id }}:hover {
      transition: all 0.3s ease 0s;
      {% if colors_type == 'basic' %}
        border: {{ arrow_border_thickness }}px solid {{ basic_border_color }};
        background: {{ accent_color }};
      {% else %}
        border: {{ arrow_border_thickness }}px solid {{ arrow_border_hover_color }};
        background: {{ arrow_bg_hover_color }};
      {% endif %}     
    
    }
  
    .hotspot-btn-prev-{{ section.id }}:hover .animate-icon path,
    .hotspot-btn-next-{{ section.id }}:hover .animate-icon path {      
      {% if colors_type == 'basic' %}
        fill: {{ secondary_color }};
      {% else %}
        fill: {{ arrow_hover_color }};
      {% endif %}  
    }
  </style>
{% elsif arrow_hover_effect == "scale" %}
  <style>
    .hotspot-btn-prev-{{ section.id }}:hover,
    .hotspot-btn-next-{{ section.id }}:hover {
      transform: scale(0.9);
    }

    @media(min-width: 1024px) {
      .hotspot-btn-prev-{{ section.id }}:hover,
      .hotspot-btn-next-{{ section.id }}:hover {
        transform: scale(0.9);
      }
    }
  </style>
{% elsif arrow_hover_effect == "arrow" %}
  <style>
    .hotspot-btn-prev-{{ section.id }}:hover .arrow-tip {
      transform: translateX(21%);
    }

    .hotspot-btn-prev-{{ section.id }}:hover .arrow-tail {
      opacity: 0;
    }

    .hotspot-btn-next-{{ section.id }}:hover .arrow-tip {
      transform: translateX(-21%);
    }

    .hotspot-btn-next-{{ section.id }}:hover .arrow-tail {
      opacity: 0;
    }
  </style>
{% endif %}

{% if arrow_show_mobile %}
  <style>
    .hotspot-buttons-{{ section.id }} {
      display: flex;
    }
  </style>
{% else %}
  <style>
    .hotspot-buttons-{{ section.id }} {
      display: none;
    }
  </style>
{% endif %}

{% if arrow_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .hotspot-buttons-{{ section.id }} {
        display: flex;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .hotspot-buttons-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% for block in section.blocks %}
  <style>
    .hotspot-item-dot-{{ block.id }} {
      position: absolute;
      z-index: 2;
      top: {{ block.settings.vertical_position_mobile }}%;
      left: {{ block.settings.horizontal_position_mobile }}%;
      transform: translate(-{{ block.settings.horizontal_position_mobile }}%, -{{ block.settings.vertical_position_mobile }}%)
    }

    @media(min-width: 1024px) {
      .hotspot-item-dot-{{ block.id }} {
        top: {{ block.settings.vertical_position }}%;
        left: {{ block.settings.horizontal_position }}%;
        transform: translate(-{{ block.settings.horizontal_position }}%, -{{ block.settings.vertical_position }}%)
      }
    }
  </style>
{% endfor %}

<section class="section-{{ section.id }} example-{{ section.id }}" {% if background_style == 'solid' %}style="background-color:{{ background_color }};"{% else %} style="background-image: {{ background_gradient }};"{% endif %}>
  <div class="section-{{ section.id }}-settings">
    <div class="hotspot-slider-wrapper-{{ section.id }}">  
      <div class="swiper hotspot-slider-{{ section.id }}">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide product-slide-{{ section.id }}">
              <{% if block.settings.url != blank or block.settings.product != blank %}a href="{% if block.settings.url != blank %}{{ block.settings.url }}{% else %}{{ block.settings.product.url }}{% endif %}"{% else %}div{% endif %} class="hotspot-product-slide-image-container-{{ section.id }}">
                {% if block.settings.product_image != blank %}
                  {{ block.settings.product_image | image_url: width: 750 | image_tag:
                    loading: loading_attribute,
                    sizes: sizes,
                    widths: '165, 360, 535, 750, 1070, 1500',
                    height: calculated_height,
                    width: calculated_width,
                    alt: block.settings.product_image.alt
                  }}
                {% elsif block.settings.product.featured_image != blank %}
                  {% assign img_alt = block.settings.product.featured_image .alt | escape %}
                  {{ block.settings.product.featured_image | image_url: width: 750 | image_tag:
                    loading: loading_attribute,
                    sizes: sizes,
                    widths: '165, 360, 535, 750, 1070, 1500',
                    width: block.settings.product.featured_image .width,
                    height: block.settings.product.featured_image .height,
                    alt: img_alt
                  }}
                {% else %}
                  {{ 'image' | placeholder_svg_tag }}
                {% endif %}
              </{% if block.settings.url != blank or block.settings.product != blank %}a{% else %}div{% endif %}>
              <div class="hotspot-product-slide-content-container-{{ section.id }}">
                <div class="hotspot-product-slide-index-{{ section.id }}">{{ forloop.index }}</div>
                {% if block.settings.title != blank %}
                  <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% else %}h3{% endif %} class="hotspot-product-slide-title-{{ section.id }}">                    
                    {{ block.settings.title }}              
                  </{% if block.settings.url != blank %}a{% else %}h3{% endif %}>
                {% elsif block.settings.product.title != blank %}
                  <{% if block.settings.product.url != blank %}a href="{{ block.settings.product.url }}"{% else %}h3{% endif %} class="hotspot-product-slide-title-{{ section.id }}">
                    {{ block.settings.product.title }}
                  </{% if block.settings.product.url != blank %}a{% else %}h3{% endif %}>
                {% endif %}
                {% if block.settings.description != blank %}
                  <div class="hotspot-product-slide-content-{{ section.id }}">
                    {{ block.settings.description }}
                  </div>
                {% endif %}
                {% if block.settings.product != blank %}
                  <div class="hotspot-product-price-{{ section.id }}">
                    <p class="hotspot-regular-price-{{ section.id }}">{{ block.settings.product.price | money }}</p>
                    {% if block.settings.product.compare_at_price != blank and price_compare %}
                      <p class="hotspot-compare-price-{{ section.id }}">{{ block.settings.product.compare_at_price | money }}</p>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="hotspot-buttons-{{ section.id }}">
          <button class="hotspot-btn-prev-{{ section.id }}">
            <svg class="animate-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="arrow-tip" d="M8.05806 7.05804L3.11612 12L8.05806 16.9419L8.94194 16.058L5.50888 12.625L8.94194 7.94193L8.05806 7.05804Z" />
              <path class="arrow-tail" d="M5.50888 12.625H20V11.375H5.50888"/>
            </svg>
          </button>
          <button class="hotspot-btn-next-{{ section.id }}">
            <svg class="animate-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="arrow-tip" d="M15.942 7.05804L20.884 12L15.942 16.9419L15.058 16.058L18.491 12.625L15.058 7.94193L15.942 7.05804Z" fill="black"/>
              <path class="arrow-tail" d="M18.491 12.625H4V11.375H18.491" fill="black"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="hotspot-image-wrapper-{{ section.id }}">
      <div class="hotspot-image-{{ section.id }}">
        {% if image != blank %}
          {{ image | image_url: width: 1500 | image_tag:
            loading: loading_attribute,
            sizes: hotspot_sizes,
            widths: '165, 360, 535, 750, 1070, 1500',
            height: hotspot_calculated_height,
            width: hotspot_calculated_width,
            alt: 'hotspot image'
          }}
        {% else %}
          {{ 'image' | placeholder_svg_tag }}
        {% endif %}      
      </div>
      {% for block in section.blocks %}
        <div class="hotspot-item-dot-{{ section.id }} hotspot-item-dot-{{ block.id }}" data-slide-index="{{ forloop.index | minus: 1 }}">
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<div class="hotspot-modal-popup-{{ section.id }}">
  <div class="hotspot-modal-popup-inner-{{ section.id }}">
    <div class="swiper hotspot-slider-{{ section.id }}">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide product-slide-{{ section.id }}">
            <{% if block.settings.url != blank or block.settings.product != blank %}a href="{% if block.settings.url != blank %}{{ block.settings.url }}{% else %}{{ block.settings.product.url }}{% endif %}"{% else %}div{% endif %} class="hotspot-product-slide-image-container-{{ section.id }}">
              {% if block.settings.product_image != blank %}
                {{ block.settings.product_image | image_url: width: 750 | image_tag:
                  loading: loading_attribute,
                  sizes: sizes,
                  widths: '165, 360, 535, 750, 1070, 1500',
                  height: calculated_height,
                  width: calculated_width,
                  alt: block.settings.product_image.alt
                }}
              {% elsif block.settings.product.featured_image != blank %}
                {% assign img_alt = block.settings.product.featured_image .alt | escape %}
                {{ block.settings.product.featured_image | image_url: width: 750 | image_tag:
                  loading: loading_attribute,
                  sizes: sizes,
                  widths: '165, 360, 535, 750, 1070, 1500',
                  width: block.settings.product.featured_image .width,
                  height: block.settings.product.featured_image .height,
                  alt: img_alt
                }}
              {% else %}
                {{ 'image' | placeholder_svg_tag }}
              {% endif %}
            </{% if block.settings.url != blank or block.settings.product != blank %}a{% else %}div{% endif %}>
            <div class="hotspot-product-slide-content-container-{{ section.id }}">
              <div class="hotspot-product-slide-index-{{ section.id }}">{{ forloop.index }}</div>
              {% if block.settings.title != blank %}
                <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% else %}h3{% endif %} class="hotspot-product-slide-title-{{ section.id }}">                    
                  {{ block.settings.title }}              
                </{% if block.settings.url != blank %}a{% else %}h3{% endif %}>
              {% elsif block.settings.product.title != blank %}
                <{% if block.settings.product.url != blank %}a href="{{ block.settings.product.url }}"{% else %}h3{% endif %} class="hotspot-product-slide-title-{{ section.id }}">
                  {{ block.settings.product.title }}
                </{% if block.settings.product.url != blank %}a{% else %}h3{% endif %}>
              {% endif %}
              {% if block.settings.description != blank %}
                <div class="hotspot-product-slide-content-{{ section.id }}">
                  {{ block.settings.description }}
                </div>
              {% endif %}
              {% if block.settings.product != blank %}
                <div class="hotspot-product-price-{{ section.id }}">
                  <p class="hotspot-regular-price-{{ section.id }}">{{ block.settings.product.price | money }}</p>
                  {% if block.settings.product.compare_at_price != blank and price_compare %}
                    <p class="hotspot-compare-price-{{ section.id }}">{{ block.settings.product.compare_at_price | money }}</p>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="hotspot-buttons-{{ section.id }}">
        <button class="hotspot-btn-prev-{{ section.id }}">
          <svg class="animate-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="arrow-tip" d="M8.05806 7.05804L3.11612 12L8.05806 16.9419L8.94194 16.058L5.50888 12.625L8.94194 7.94193L8.05806 7.05804Z" />
            <path class="arrow-tail" d="M5.50888 12.625H20V11.375H5.50888"/>
          </svg>
        </button>
        <button class="hotspot-btn-next-{{ section.id }}">
          <svg class="animate-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="arrow-tip" d="M15.942 7.05804L20.884 12L15.942 16.9419L15.058 16.058L18.491 12.625L15.058 7.94193L15.942 7.05804Z" fill="black"/>
            <path class="arrow-tail" d="M18.491 12.625H4V11.375H18.491" fill="black"/>
          </svg>
        </button>
      </div>
    </div>
    <button class="hotspot-modal-popup-close-{{ section.id }}">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.0002 10.586L4.70718 3.29297L3.29297 4.70718L10.586 12.0002L3.29297 19.2933L4.70718 20.7075L12.0002 13.4145L19.2933 20.7075L20.7075 19.2933L13.4145 12.0002L20.7075 4.70723L19.2933 3.29302L12.0002 10.586Z" fill="white"></path></svg>
    </button>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

<script>
  function initHotspots12{{ section.id | replace: '-', '' }}() {
    if (typeof Swiper === 'undefined') return;

    new Swiper('.hotspot-slider-{{ section.id }}', {
      slidesPerView: 1,
      spaceBetween: 16,
      breakpoints: {
        1024: {
          spaceBetween: 60,
          slidesPerView: 1,
        },
      },
      navigation: {
        nextEl: '.hotspot-btn-next-{{ section.id }}',
        prevEl: '.hotspot-btn-prev-{{ section.id }}',
      },
    });

    initHotspots{{ section.id | replace: '-', '' }}();
  }

  function initHotspots{{ section.id | replace: '-', '' }}() {
    const hotspots = document.querySelectorAll('.hotspot-item-dot-{{ section.id }}');
    const sliderWrapper = document.querySelector('.hotspot-slider-wrapper-{{ section.id }}');
    const popup = document.querySelector('.hotspot-modal-popup-{{ section.id }}');
    const close = document.querySelector('.hotspot-modal-popup-close-{{ section.id }}');
    const body = document.querySelector('body');
    
    const swiperElements = document.querySelectorAll('.hotspot-slider-{{ section.id }}');
    const swiperInstances = Array.from(swiperElements)
    .map(el => el.swiper)
    .filter(swiper => swiper);

    const isCarouselUnfoldedDesktop = {{ section.settings.carousel_unfolded_desktop | json }};
    const isDesktop = window.innerWidth >= 1024;

    if (isCarouselUnfoldedDesktop && isDesktop) {
      sliderWrapper.classList.add('active');
      
      const firstHotspot = document.querySelector('.hotspot-item-dot-{{ section.id }}[data-slide-index="0"]');
      if (firstHotspot) {
        firstHotspot.classList.add('active');
      }

      if (swiperInstances.length > 0) {
        swiperInstances.forEach((slider) => {
          slider.slideTo(0);
        });
      }
    }

    hotspots.forEach((hotspot) => {
      hotspot.addEventListener('click', function() {
        if (window.innerWidth < 1024) {
          popup.classList.add('active');
          body.style.overflow = 'hidden';
          hotspots.forEach(h => h.classList.remove('active'));
          this.classList.add('active-mobile');
        } else {
          hotspots.forEach(h => h.classList.remove('active'));
          this.classList.add('active');
        }

        sliderWrapper.classList.add('active');

        const slideIndex = parseInt(this.getAttribute('data-slide-index'));
        
        if (swiperInstances.length > 0 && !isNaN(slideIndex)) {
          swiperInstances.forEach((slider) => {
            slider.slideTo(slideIndex);
          });
        }
      });
    });

    if (swiperInstances.length > 0) {
      swiperInstances.forEach((slider) => {
        slider.on('slideChange', function() {
          const activeIndex = slider.activeIndex;
          
          hotspots.forEach(h => h.classList.remove('active'));
          
          const activeHotspot = document.querySelector(
            `.hotspot-item-dot-{{ section.id }}[data-slide-index="${activeIndex}"]`
          );
          if (activeHotspot) {
            activeHotspot.classList.add('active');
          }
        });
      })
    }

    popup.addEventListener('click', (e) => {
      if (e.target === popup) {
        popup.classList.remove('active');
        body.style.overflow = 'auto';
        hotspots.forEach(h => h.classList.remove('active-mobile'));
      }
    });

    close.addEventListener('click', () => {
      popup.classList.remove('active');
      body.style.overflow = 'auto';
      hotspots.forEach(h => h.classList.remove('active-mobile'));
    });
  }


  document.addEventListener('DOMContentLoaded', initHotspots12{{ section.id | replace: '-', '' }});

  if (Shopify.designMode) {
    document.addEventListener('shopify:section:unload', initHotspots12{{ section.id | replace: '-', '' }});
    document.addEventListener('shopify:section:load', initHotspots12{{ section.id | replace: '-', '' }});
  }
</script>

{% schema %}
  {
    "name": "SG- Hotspots #12",
    "settings": [
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "range",
        "id": "image_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 0
      },
      {
        "type": "range",
        "id": "image_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Aspect ratio",
        "default": "original",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_ratio_mobile",
        "label": "Aspect ratio - mobile",
        "default": "original",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "carousel_unfolded_desktop",
        "label": "Show product details by default on desktop",
        "info": "The product list carousel will be visible on page load on desktop (tablet and larger screens) without requiring a click on a hotspot.",
        "default": false
      },
      {
        "type": "header",
        "content": "Hotspot"
      },
      {
        "type": "range",
        "id": "hotspot_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Size",
        "default": 16
      },
      {
        "type": "range",
        "id": "hotspot_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Size - mobile",
        "default": 12
      },
      {
        "type": "range",
        "id": "hotspot_number_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "%",
        "label": "Roundness",
        "default": 100
      },
      {
        "type": "checkbox",
        "id": "pulse_animation",
        "label": "Pulse animation",
        "default": true
      },
      {
        "type": "header",
        "content": "Hotspot content"
      },
      {
        "type": "text_alignment",
        "id": "item_align",
        "label": "Alignment"
      },
      {
        "type": "text_alignment",
        "id": "item_align_mobile",
        "label": "Alignment - mobile"
      },
      {
        "type": "range",
        "id": "hotspot_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 2
      },
      {
        "type": "header",
        "content": "Product image"
      },
      {
        "type": "range",
        "id": "product_image_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "product_image_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 0
      },
      {
        "type": "select",
        "id": "product_image_ratio",
        "label": "Aspect ratio",
        "default": "original",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "select",
        "id": "product_image_ratio_mobile",
        "label": "Aspect ratio - mobile",
        "default": "original",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "header",
        "content": "Number"
      },
      {
        "type": "checkbox",
        "id": "number_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "number_font",
        "label": "Font family",
        "default": "josefin_sans_n4",        
        "visible_if": "{{ section.settings.number_custom }}"
      },
      {
        "type": "range",
        "id": "number_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 20
      },
      {
        "type": "range",
        "id": "number_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 20
      },
      {
        "type": "checkbox",
        "id": "number_advanced",
        "label": "Advanced settings"
      },
      {
        "type": "range",
        "id": "number_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130,
        "visible_if": "{{ section.settings.number_advanced }}"
      },
      {
        "type": "range",
        "id": "number_mt",
        "min": 5,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Margin top",
        "default": 24,
        "visible_if": "{{ section.settings.number_advanced }}"
      },
      {
        "type": "range",
        "id": "number_mt_mobile",
        "min": 5,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 24,
        "visible_if": "{{ section.settings.number_advanced }}"
      },
      {
        "type": "header",
        "content": "Product title"
      },
      {
        "type": "checkbox",
        "id": "title_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "title_font",
        "label": "Font family",
        "default": "josefin_sans_n4",        
        "visible_if": "{{ section.settings.title_custom }}"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
      },
      {
        "type": "range",
        "id": "title_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 16
      },
      {
        "type": "checkbox",
        "id": "title_advanced",
        "label": "Advanced settings"
      },
      {
        "type": "range",
        "id": "title_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 150,
        "visible_if": "{{ section.settings.title_advanced }}"
      },
      {
        "type": "range",
        "id": "title_mt",
        "min": 5,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Margin top",
        "default": 8,
        "visible_if": "{{ section.settings.title_advanced }}"
      },
      {
        "type": "range",
        "id": "title_mt_mobile",
        "min": 5,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 8,
        "visible_if": "{{ section.settings.title_advanced }}"
      },
      {
        "type": "header",
        "content": "Product description"
      },
      {
        "type": "checkbox",
        "id": "text_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "text_font",
        "label": "Font family",
        "default": "josefin_sans_n4",
        "visible_if": "{{ section.settings.text_custom }}"
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 13
      },
      {
        "type": "range",
        "id": "text_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 13
      },
      {
        "type": "checkbox",
        "id": "text_advanced",
        "label": "Advanced settings"
      },
      {
        "type": "range",
        "id": "text_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 150,
        "visible_if": "{{ section.settings.text_advanced }}"
      }, 
      {
        "type": "range",
        "id": "text_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 8,
        "visible_if": "{{ section.settings.text_advanced }}"
      },
      {
        "type": "range",
        "id": "text_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 8,
        "visible_if": "{{ section.settings.text_advanced }}"
      },
      {
        "type": "header",
        "content": "Product price"
      },
      {
        "type": "checkbox",
        "id": "price_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "price_font",
        "label": "Font family",
        "default": "josefin_sans_n4",
        "visible_if": "{{ section.settings.price_custom }}"
      },
      {
        "type": "range",
        "id": "price_size",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
      },
      {
        "type": "range",
        "id": "price_size_mobile",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 16
      },
      {
        "type": "checkbox",
        "id": "price_advanced",
        "label": "Advanced settings"
      },
      {
        "type": "range",
        "id": "price_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130,
        "visible_if": "{{ section.settings.price_advanced }}"
      },
      {
        "type": "range",
        "id": "price_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 8,
        "visible_if": "{{ section.settings.price_advanced }}"
      },
      {
        "type": "range",
        "id": "price_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 8,
        "visible_if": "{{ section.settings.price_advanced }}"
      },
      {
        "type": "checkbox",
        "id": "price_compare",
        "label": "Show compare-at price",
        "default": true
      },
      {
        "type": "header",
        "content": "Arrows"
      },
      {
        "type": "checkbox",
        "id": "arrow_show_desktop",
        "label": "Show on desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "arrow_show_mobile",
        "label": "Show on mobile",
        "default": true
      },
      {
        "type": "range",
        "id": "arrow_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size",
        "default": 32,
        "visible_if": "{{ section.settings.arrow_show_desktop }}"
      },
      {
        "type": "range",
        "id": "arrow_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size - mobile",
        "default": 32,
        "visible_if": "{{ section.settings.arrow_show_mobile }}"
      },
      {
        "type": "range",
        "id": "arrow_icon_size",
        "min": 5,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Icon size",
        "default": 24,
        "visible_if": "{{ section.settings.arrow_show_desktop }}"
      },
      {
        "type": "range",
        "id": "arrow_icon_size_mobile",
        "min": 5,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Icon size - mobile",
        "default": 24,
        "visible_if": "{{ section.settings.arrow_show_mobile }}"
      },
      {
        "type": "range",
        "id": "arrow_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 100,
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "range",
        "id": "arrow_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0,
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "select",
        "id": "arrow_hover_effect",
        "label": "Hover effect",
        "default": "color",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}",
        "options": [
          {
            "label": "Change color",
            "value": "color"
          },
          {
            "label": "Change size",
            "value": "scale"
          },
          {
            "label": "Change arrow",
            "value": "arrow"
          },
          {
            "label": "None",
            "value": "none"
          }
        ]
      },
      {
        "type": "header",
        "content": "Modal"
      },
      {
        "type": "range",
        "id": "modal_width",
        "min": 50,
        "max": 100,
        "step": 2,
        "unit": "%",
        "label": "Width",
        "default": 100
      },
      {
        "type": "range",
        "id": "modal_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 0
      },
      {
        "type": "range",
        "id": "modal_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "modal_overlay",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "Overlay",
        "default": 50
      },
      {
        "type": "range",
        "id": "modal_padding_horizontal",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Sides",
        "default": 24
      },
      {
        "type": "select",
        "id": "modal_horizontal_position",
        "label": "Horizontal position",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "end"
          }
        ]
      },
      {
        "type": "select",
        "id": "modal_vertical_position",
        "label": "Vertical position",
        "default": "end",
        "options": [
          {
            "label": "Top",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Bottom",
            "value": "end"
          }
        ]
      },
       {
        "type": "header",
        "content": "ontent colors"
      },
      {
        "type": "select",
        "id": "colors_type",
        "label": "Color scheme",
        "default": "basic",
        "options": [
          {
            "label": "Basic",
            "value": "basic"
          },
          {
            "label": "Advanced",
            "value": "advanced"
          }
        ]
      }, 
      {
        "type": "color",
        "label": "Primary",
        "id": "primary_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.colors_type == 'basic' }}"
      },
      {
        "type": "color",
        "label": "Secondary",
        "id": "secondary_color",
        "default": "#FFFFFF",
        "visible_if": "{{ section.settings.colors_type == 'basic' }}"
      },
      {
        "type": "color",
        "label": "Accent",
        "id": "accent_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.colors_type == 'basic' }}"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "basic_border_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.colors_type == 'basic' }}"
      },
      {
        "type": "header",
        "content": "Hotspot colors",
        "visible_if": "{{ section.settings.colors_type == 'advanced' }}"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "hotspot_bg_color",
        "default": "#ffffff66",
        "visible_if": "{{ section.settings.colors_type == 'advanced' }}"
      },
      {
        "type": "color",
        "label": "Background dot",
        "id": "hotspot_bg_dot_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.colors_type == 'advanced' }}"
      },
      {
        "type": "color",
        "label": "Background dot active",
        "id": "hotspot_bg_dot_active_color",
        "default": "#FFFFFF",
        "visible_if": "{{ section.settings.colors_type == 'advanced' }}"
      },
      {
        "type": "header",
        "content": "Hotspot content colors",
        "visible_if": "{{ section.settings.colors_type == 'advanced' }}"
      },
      {
        "type": "color",
        "label": "Image border",
        "id": "product_image_border_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.colors_type == 'advanced' }}"
      },
      {
        "type": "color",
        "label": "Number",
        "id": "number_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.colors_type == 'advanced' }}"
      },
      {
        "type": "color",
        "label": "Title",
        "id": "title_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.colors_type == 'advanced' }}"
      },
      {
        "type": "color",
        "label": "Text",
        "id": "text_color",
        "default": "#666666",
        "visible_if": "{{ section.settings.colors_type == 'advanced' }}"
      },
      {
        "type": "color",
        "label": "Price",
        "id": "price_color",
        "default": "#666666",
        "visible_if": "{{ section.settings.colors_type == 'advanced' }}"
      },    
      {
        "type": "color",
        "label": "Compare price",
        "id": "price_original_color",
        "default": "#666666",
        "visible_if": "{{ section.settings.colors_type == 'advanced' }}"
      },       
      {
        "type": "color",
        "label": "Product border",
        "id": "hotspot_border_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.colors_type == 'advanced' }}"
      },
      {
        "type": "header",
        "content": "Arrow colors",
        "visible_if": "{{ section.settings.colors_type == 'advanced' and section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Icon",
        "id": "arrow_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.colors_type == 'advanced' and section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Icon hover",
        "id": "arrow_hover_color",
        "default": "#FFFFFF",
        "visible_if": "{{ section.settings.colors_type == 'advanced' and section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_desktop or section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "arrow_bg_color",
        "default": "#FFFFFF",
        "visible_if": "{{ section.settings.colors_type == 'advanced' and section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Background hover",
        "id": "arrow_bg_hover_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.colors_type == 'advanced' and section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_desktop or section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "arrow_border_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.colors_type == 'advanced' and section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Border hover",
        "id": "arrow_border_hover_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.colors_type == 'advanced' and section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_desktop or section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_mobile }}"
      },
      {
        "type": "header",
        "content": "Modal colors",
        "visible_if": "{{ section.settings.colors_type == 'advanced' }}"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "modal_bg_color",
        "default": "#FFFFFF",
        "visible_if": "{{ section.settings.colors_type == 'advanced' }}"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "modal_border_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.colors_type == 'advanced' }}"
      },
      {
        "type": "color",
        "label": "Close icon",
        "id": "close_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.colors_type == 'advanced' }}"
      },
      {
        "type": "header",
        "content": "Section colors"
      },
      {
        "type": "color",
        "label": "Image border",
        "id": "image_border_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.colors_type == 'advanced' }}"
      },
      {
        "type": "select",
        "id": "background_style",
        "label": "Background style",
        "default": "solid",
        "options": [
          {
            "label": "Solid",
            "value": "solid"
          },
          {
            "label": "Gradient",
            "value": "gradient"
          }
        ]
      },
      {
        "type": "color",
        "label": "Background",
        "id": "background_color",
        "default": "#FFFFFF",
        "visible_if": "{{ section.settings.background_style == 'solid' }}"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Gradient",
        "default": "linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%)",
        "visible_if": "{{ section.settings.background_style == 'gradient' }}"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#121212"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 0.5,
        "unit": "rem",
        "label": "Sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Sides - mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Bottom",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 0.5,
        "unit": "rem",
        "label": "Sides",
        "default": 5
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Sides - mobile",
        "default": 1.5
      },
      {
        "type": "header",
        "content": "Section"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "page",
        "options": [
          {
            "label": "Page",
            "value": "page"
          },
          {
            "label": "Full",
            "value": "full"
          },
          {
            "label": "Custom",
            "value": "custom"
          }
        ]
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 800,
        "max": 2000,
        "step": 100,
        "unit": "px",
        "label": "Content width",
        "default": 1200,
        "visible_if": "{{ section.settings.width == 'custom' }}"
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "hotspot",
        "name": "SG-Hotspot",
        "settings": [
          {
            "type": "paragraph",
            "content": "You can either select a specific **product** to display its details (image, title, etc.), or you can choose to use **custom settings** by uploading your own image and manually entering the title and description in the section settings."
          },
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "image_picker",
            "id": "product_image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",    
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Text",
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Desktop position"
          },
          {
            "type": "range",
            "id": "vertical_position",
            "min": 5,
            "max": 95,
            "step": 1,
            "unit": "%",
            "label": "Vertical",
            "default": 50
          },
          {
            "type": "range",
            "id": "horizontal_position",
            "min": 5,
            "max": 95,
            "step": 1,
            "unit": "%",
            "label": "Horizontal",
            "default": 50
          },
          {
            "type": "header",
            "content": "Mobile position"
          },
          {
            "type": "range",
            "id": "vertical_position_mobile",
            "min": 5,
            "max": 95,
            "step": 1,
            "unit": "%",
            "label": "Vertical",
            "default": 50
          },
          {
            "type": "range",
            "id": "horizontal_position_mobile",
            "min": 5,
            "max": 95,
            "step": 1,
            "unit": "%",
            "label": "Horizontal",
            "default": 50
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SG- Hotspots #12",
        "blocks": [
          {
            "type": "hotspot",
            "settings": {            
              "vertical_position": 32,
              "vertical_position_mobile": 60,    
              "horizontal_position": 10,
              "horizontal_position_mobile": 32    
            }
          },  
          {
            "type": "hotspot",
            "settings": {              
              "vertical_position": 40,
              "vertical_position_mobile": 36,
              "horizontal_position": 50,
              "horizontal_position_mobile": 50                
            }
          },   
          {
            "type": "hotspot",
            "settings": {           
              "vertical_position": 25,
              "vertical_position_mobile": 29,
              "horizontal_position": 30,
              "horizontal_position_mobile": 30               
            }
          },  
          {
            "type": "hotspot",
            "settings": {        
              "vertical_position": 21,
              "vertical_position_mobile": 21,
              "horizontal_position": 90,
              "horizontal_position_mobile": 90                  
            }
          }
        ]
      }
    ]
  }
{% endschema %}