{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_open_color = section.settings.background_open_color
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy

  assign show_type = section.settings.show_type 

  assign header_radius = section.settings.header_radius
  assign header_bg_opacity = section.settings.header_bg_opacity
 
  assign logo = section.settings.logo
  assign logo_mobile = section.settings.logo_mobile
  assign logo_padding_horizontal = section.settings.logo_padding_horizontal
  assign logo_padding_horizontal_mobile = section.settings.logo_padding_horizontal_mobile
  assign logo_padding_vertical = section.settings.logo_padding_vertical
  assign logo_padding_vertical_mobile = section.settings.logo_padding_vertical_mobile
  assign logo_width = section.settings.logo_width
  assign logo_width_mobile = section.settings.logo_width_mobile

  assign name_size = section.settings.name_size
  assign name_size_mobile = section.settings.name_size_mobile
  assign name_color = section.settings.name_color
  assign name_hover_color = section.settings.name_hover_color
  assign name_open_color = section.settings.name_open_color
  assign name_custom = section.settings.name_custom
  assign name_font = section.settings.name_font
  assign name_height = section.settings.name_height

  assign right_padding_horizontal = section.settings.right_padding_horizontal
  assign right_padding_horizontal_mobile = section.settings.right_padding_horizontal_mobile
  assign right_padding_vertical = section.settings.right_padding_vertical
  assign right_padding_vertical_mobile = section.settings.right_padding_vertical_mobile

  assign menu = section.settings.menu
  assign mobile_menu = section.settings.mobile_menu

  assign list_gap_mobile = section.settings.list_gap_mobile
  assign list_gap = section.settings.list_gap

  assign link_size = section.settings.link_size
  assign link_size_mobile = section.settings.link_size_mobile
  assign link_color = section.settings.link_color
  assign link_hover_color = section.settings.link_hover_color
  assign link_custom = section.settings.link_custom
  assign link_font = section.settings.link_font
  assign link_height = section.settings.link_height
  
  assign mobile_menu_icon_size = section.settings.mobile_menu_icon_size
  assign mobile_menu_icon_color = section.settings.mobile_menu_icon_color
  assign mobile_menu_link_color = section.settings.mobile_menu_link_color
  assign mobile_menu_padding_horizontal = section.settings.mobile_menu_padding_horizontal
  assign mobile_menu_padding_vertical = section.settings.mobile_menu_padding_vertical
  
  assign icon_size_mobile = section.settings.icon_size_mobile
  assign icon_size = section.settings.icon_size

  assign use_search = section.settings.use_search
  assign search_menu_mobile = section.settings.search_menu_mobile
  assign search_text  = section.settings.search_text
  assign search_icon_desktop  = section.settings.search_icon_desktop

  assign use_account = section.settings.use_account
  assign account_menu_mobile = section.settings.account_menu_mobile
  assign account_text  = section.settings.account_text
  assign account_icon_desktop  = section.settings.account_icon_desktop

  assign cart_text  = section.settings.cart_text
  assign cart_icon_desktop  = section.settings.cart_icon_desktop
  assign cart_size = section.settings.cart_size
  assign cart_color = section.settings.cart_color
  assign cart_hover_color = section.settings.cart_hover_color
  assign cart_custom = section.settings.cart_custom
  assign cart_font = section.settings.cart_font
  assign cart_height = section.settings.cart_height
  assign cart_padding_horizontal = section.settings.cart_padding_horizontal
  assign cart_padding_horizontal_mobile = section.settings.cart_padding_horizontal_mobile
  assign cart_padding_vertical = section.settings.cart_padding_vertical
  assign cart_padding_vertical_mobile = section.settings.cart_padding_vertical_mobile
  assign cart_radius = section.settings.cart_radius
  assign cart_border_thickness = section.settings.cart_border_thickness
  assign cart_border_color = section.settings.cart_border_color
  assign cart_border_hover_color = section.settings.cart_border_hover_color
  assign cart_bg_color = section.settings.cart_bg_color
  assign cart_bg_hover_color = section.settings.cart_bg_hover_color

  assign newsletter_padding_horizontal = section.settings.newsletter_padding_horizontal
  assign newsletter_padding_vertical = section.settings.newsletter_padding_vertical
  assign newsletter_mt_mobile = section.settings.newsletter_mt_mobile
  assign use_newsletter = section.settings.use_newsletter

  assign newsletter_title = section.settings.newsletter_title
  assign newsletter_title_size = section.settings.newsletter_title_size
  assign newsletter_title_size_mobile = section.settings.newsletter_title_size_mobile
  assign newsletter_title_color = section.settings.newsletter_title_color
  assign newsletter_title_custom = section.settings.newsletter_title_custom
  assign newsletter_title_font = section.settings.newsletter_title_font
  assign newsletter_title_height = section.settings.newsletter_title_height

  assign newsletter_text = section.settings.newsletter_text
  assign newsletter_text_size = section.settings.newsletter_text_size
  assign newsletter_text_size_mobile = section.settings.newsletter_text_size_mobile
  assign newsletter_text_color = section.settings.newsletter_text_color
  assign newsletter_text_custom = section.settings.newsletter_text_custom
  assign newsletter_text_font = section.settings.newsletter_text_font
  assign newsletter_text_height = section.settings.newsletter_text_height

  assign newsletter_form_radius = section.settings.newsletter_form_radius
  assign newsletter_form_border_thickness = section.settings.newsletter_form_border_thickness
  assign newsletter_form_border_color = section.settings.newsletter_form_border_color
  assign newsletter_form_mt = section.settings.newsletter_form_mt
  assign newsletter_form_mt_mobile = section.settings.newsletter_form_mt_mobile

  assign input_placeholder = section.settings.input_placeholder
  assign input_size = section.settings.input_size
  assign input_size_mobile = section.settings.input_size_mobile
  assign input_custom = section.settings.input_custom
  assign input_font = section.settings.input_font
  assign input_height = section.settings.input_height
  assign input_color = section.settings.input_color
  assign input_placeholder_color = section.settings.input_placeholder_color

  assign submit = section.settings.submit
  assign submit_size = section.settings.submit_size
  assign submit_size_mobile = section.settings.submit_size_mobile
  assign submit_custom = section.settings.submit_custom
  assign submit_font = section.settings.submit_font
  assign submit_color = section.settings.submit_color
  assign submit_height = section.settings.submit_height
  assign submit_bg_color = section.settings.submit_bg_color
  assign submit_bg_hover_color = section.settings.submit_bg_hover_color
  assign submit_hover_color = section.settings.submit_hover_color
  assign submit_padding_horizontal = section.settings.submit_padding_horizontal
  assign submit_padding_horizontal_mobile = section.settings.submit_padding_horizontal_mobile
  assign submit_padding_vertical = section.settings.submit_padding_vertical
  assign submit_padding_vertical_mobile = section.settings.submit_padding_vertical_mobile
  assign submit_border_thickness = section.settings.submit_border_thickness
  assign submit_border_color = section.settings.submit_border_color
  assign submit_border_hover_color = section.settings.submit_border_hover_color
  assign submit_radius = section.settings.submit_radius
-%}

{%- style -%}
  {{ name_font | font_face: font_display: 'swap' }}
  {{ cart_font | font_face: font_display: 'swap' }}
  {{ link_font | font_face: font_display: 'swap' }}
  {{ newsletter_title_font | font_face: font_display: 'swap' }}
  {{ newsletter_text_font | font_face: font_display: 'swap' }}
  {{ input_font | font_face: font_display: 'swap' }}
  {{ submit_font | font_face: font_display: 'swap' }}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    position: relative;
    transition: all 0.2s ease 0s;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
    position: relative;
  }

  .header-{{ section.id }}.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - {{margin_horizontal_mobile | times: 2 }}rem);
    z-index: 999;
  }

  .header-{{ section.id }}.scroll {
    transform: translateY(-150%);
    transition: all 0.25s ease;
  }

  .header-newsletter-wrapper-{{ section.id }}.scroll {
    transform: translateY(-200%);
    z-index: -1;
    transition: all 0.25s ease;
  }

  .header-{{ section.id }}.scroll.active {
    transform: translateY(0);
    transition: all 0.25s ease;
  }

  .header-newsletter-wrapper-{{ section.id }}.scroll.active {
    transform: translateY(0);
    z-index: 0;
    transition: all 0.25s ease;
  }

  .header-{{ section.id }} {
    position: relative;
    transition: all 0.25s ease 0s;
  }

  .header-{{ section.id }}::after {
    content: '';
    position: absolute;
    background-color: {{ background_open_color }};
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-130%);
    transition: all 0.25s ease;
  }

  .header-{{ section.id }}.open::after {
    transform: translate(0);
    transition: all 0.25s ease;
  }

  .header-{{ section.id }}.scroll {
    transform: translateY(-150%) ;
    transition: all 0.25s ease;
  }

  .header-{{ section.id }}.scroll.active {
    transform: translateY(0) ;
    transition: all 0.25s ease;
  }

  .header-body-{{ section.id }} {
    display: flex;
    justify-content: space-between;
  }

  .header-logo-{{ section.id }} {    
    padding: {{ logo_padding_vertical_mobile }}px {{ logo_padding_horizontal_mobile }}px;
    background-color: {{ background_color | hex_to_rgba: header_bg_opacity }};
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: {{ header_radius }}px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
  }

  .header-logo-desktop-{{ section.id }} {
    display: none;
  }

  .header-logo-image-{{ section.id }} {
    max-width: {{ logo_width_mobile }}px;
  }

  .header-logo-image-{{ section.id }} img,
  .header-logo-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-logo-image-desktop-{{ section.id }} {
    display: none;
  }

  .header-logo-text-{{ section.id }} {
    margin: 0;
    display: block;
    font-size: {{ name_size_mobile }}px;
    color: {{ name_color }};
    line-height: {{ name_height }}%;
    text-transform: unset;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.25s ease;
  }

  .header-{{ section.id }}.open .header-logo-text-{{ section.id }}{
    transition: all 0.25s ease;
    color: {{ name_open_color }};
  }

  .header-right-{{ section.id }} {
    border-radius: {{ header_radius }}px;
    overflow: hidden;
  }

  .header-right-body-{{ section.id }} {
    display: flex;
    align-items: start;
    gap: 20px;
  }

  .header-right-top-{{ section.id }} {
    display: flex;
    position: relative;
    z-index: 2;
    align-items: center; 
    background-color: {{ background_color | hex_to_rgba: header_bg_opacity }};
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    padding: {{ right_padding_vertical_mobile }}px {{ right_padding_horizontal_mobile }}px;   
    gap: {{ list_gap_mobile }}px;   
    height: 100%;
    overflow: hidden;
  }

  .header-right-top-{{ section.id }}.radius {
    border-radius: {{ header_radius }}px;
    transition: all 0.25s ease 0s;
  }

  .header-menu-list-{{ section.id }} {
    padding: 0;
    margin: 0;    
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: {{ list_gap_mobile }}px;
  }

  .header-menu-mobile-{{ section.id }} .header-menu-list-{{ section.id }} {
    display: flex;
    align-items: start;
    margin-top: {{ newsletter_mt_mobile }}px
  }

  .header-burger-menu-top-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
  } 

  .header-menu-link-{{ section.id }} {
    margin: 0;
    display: block;
    font-size: {{ link_size_mobile }}px;
    color: {{ link_color }};
    line-height: {{ link_height }}%;
    text-transform: unset;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.25s ease;
    position: relative;
    z-index: 3;
  }

  .header-menu-mobile-{{ section.id }} .header-menu-link-{{ section.id }} {
    color: {{ mobile_menu_link_color }};
  }

  .header-search-text-{{ section.id }},
  .header-account-text-{{ section.id }} {
    display: none;
    margin: 0;
    font-size: {{ link_size_mobile }}px;
    color: {{ link_color }};
    line-height: {{ link_height }}%;
    text-transform: unset;
    text-decoration: none;
    transition: all .25s ease 0s;
  }

  .header-search-icon-{{ section.id }},
  .header-account-icon-{{ section.id }},
  .header-cart-icon-{{ section.id }} {
    display: block;
    width: {{ icon_size_mobile }}px;
  }

  .header-search-icon-{{ section.id }} svg,
  .header-account-icon-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-cart-text-{{ section.id }} {
    display: none;
    margin: 0;
    font-size: {{ cart_size }}px;
    color: {{ cart_color }};
    line-height: {{ cart_height }}%;
    text-transform: unset;
    text-decoration: none;
    transition: all .25s ease 0s;
  }

  .header-cart-{{ section.id }} .cart-count-bubble span {
    margin: 0;
    font-size: 8px;
    color: {{ cart_color }};
    line-height: 100%;
    text-transform: unset;
    text-decoration: none;
    transition: all .25s ease 0s;
  }

  .header-cart-{{ section.id }},
  .header-account-{{ section.id }},
  .header-search-{{ section.id }} {
    text-decoration: none;
  }

  .header-search-icon-{{ section.id }} svg,
  .header-account-icon-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-cart-icon-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .header-cart-icon-{{ section.id }} svg path {
    stroke: {{ cart_color }};
    transition: all .25s ease 0s;
  }

  .header-{{ section.id }}.open .header-cart-icon-{{ section.id }} svg path {
    stroke: {{ cart_color }};
    transition: all .25s ease 0s;
  }

  .header-cart-{{ section.id }} {
    text-decoration: none;
  }

  .header-cart-{{ section.id }} {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    background-color: {{ cart_bg_color }};
    padding: {{ cart_padding_vertical_mobile }}px {{ cart_padding_horizontal_mobile }}px;
    border: {{ cart_border_thickness }}px solid {{ cart_border_color }};
    border-radius: {{ cart_radius }}px;
  }

  .header-cart-{{ section.id }} .cart-count-bubble {
    position: absolute;
    left: 51%;
    top: 45%;
    transform: translateX(-50%);
    padding: 0px;
    background-color: transparent;
    border: 0px;
    margin: 0px;
    width: fit-content;
    height: fit-content;
  }

  .header-newsletter-wrapper-{{ section.id }} {
    display: none;
    position: relative;
    z-index: 0;
    background-color: {{ background_color | hex_to_rgba: 0.6 }};
    transition: all 0.25s ease;
  }

  .header-newsletter-top-{{ section.id }} {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 10px;
    margin-top: 32px;
  }

  .header-newsletter-title-{{ section.id }} {
    margin: 0;
    display: block;
    font-size: {{ newsletter_title_size_mobile }}px;
    color: {{ newsletter_title_color }};
    line-height: {{ newsletter_title_height }}%;
    text-transform: unset;
    text-decoration: none;
  }

  .header-newsletter-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ newsletter_text_size_mobile }}px;
    color: {{ newsletter_text_color }};
    line-height: {{ newsletter_text_height }}%;
    text-transform: unset;
    text-decoration: none;
  }

  .header-newsletter-{{ section.id }} {
    border-radius: {{ newsletter_form_radius }}px;
    border: {{ newsletter_form_border_thickness }}px solid {{ newsletter_form_border_color }};
    padding: 2px;
    margin-top: {{ newsletter_form_mt_mobile }}px;
  }

  .header-newsletter-{{ section.id }} form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-newsletter-input-{{ section.id }} {
    margin: 0;
    box-shadow: none;
    border: 0px;
    border-radius: 0px;
    font-size: {{ input_size_mobile }}px;
    color: {{ input_color }};
    line-height: {{ input_height }}%;
    text-transform: unset;
    background-color: transparent;
    padding-left: 8px;
  }

  .header-menu-mobile-{{ section.id }} .header-newsletter-input-{{ section.id }} {
    width: 100%;
  }

  .header-newsletter-input-{{ section.id }}:focus,
  .header-newsletter-input-{{ section.id }}:focus-visible {
    box-shadow: none;
    outline: none;
  }

  .header-newsletter-input-{{ section.id }}::placeholder {
    color: {{ input_placeholder_color }};
  }

  .header-newsletter-input-{{ section.id }} {
    background-color: transparent;
    border: none;
  }

  .header-newsletter-submit-{{ section.id }} {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: {{ submit_size_mobile }}px;
    color: {{ submit_color }};
    line-height: {{ submit_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ submit_padding_vertical_mobile }}px {{ submit_padding_horizontal_mobile }}px;        
    border: 0px;    
    border-left: 0px;         
    transition: all 0.25s ease 0s;
    box-shadow: none;
    cursor: pointer;
    position: relative;
    border: {{ submit_border_thickness }}px solid {{ submit_border_color }};
    border-radius: {{ submit_radius }}px;
    background-color: {{ submit_bg_color }};
    font-weight: 700;
  }       

  .header-menu-burder-wrapper-{{ section.id }} {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    background-color: {{ background_color | hex_to_rgba: header_bg_opacity }};
  }

  .header-burger-menu-top-{{ section.id }} .header-menu-burder-wrapper-{{ section.id }} {
    background-color: transparent;
  }

  .header-menu-burder-wrapper-{{ section.id }}:after {
    content: '';
    position: absolute;
    top: -6px;
    left: 10px;
    width: 18px;
    height: 100%;
    z-index: 2;
    min-height: 14px;
  }
  
  .header-menu-burder-{{ section.id }} {
    position: relative;
    z-index: 1;
    display: block;
    width: {{ mobile_menu_icon_size }}px;
    position: relative;
    z-index: 3;
    transition: all 0.25s ease;
    cursor: pointer;
    background-color: transparent;
    border: 0px;
    box-shadow: none;
  }

  .header-menu-burger-icon-{{ section.id }} {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    width: 100%;
    height: 1.5px;
    background: {{ mobile_menu_icon_color }};
    transition: transform .4s ease; 
  }

  .header-{{ section.id }}.open .header-menu-burger-icon-{{ section.id }} {
    transform: rotate(45deg);
    transition-delay: .22s;
    background: {{ mobile_menu_icon_color }};
  }

  .header-menu-burger-icon-{{ section.id }}::before,
  .header-menu-burger-icon-{{ section.id }}::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: inherit;
    background: {{ link_color }};
  }

  .header-menu-burger-icon-{{ section.id }}::before {
    top: -6px;
    background: {{ mobile_menu_icon_color }};
    transition: top .25s ease .27s, opacity .25s ease, width .25s ease;
  }

  .header-{{ section.id }}.open .header-menu-burger-icon-{{ section.id }}::before {
    top: 0;
    opacity: 0;
    width: 100%;
    transition: top .2s ease, opacity .2s ease .22s, width .1s ease;
    background: {{ mobile_menu_icon_color }};
  }

  .header-menu-burger-icon-{{ section.id }}::after {
    bottom: -6px;
    background: {{ mobile_menu_icon_color }};
    transition: bottom .25s ease .27s, transform .25s ease, width .25s ease;
  }

  .header-{{ section.id }}.open .header-menu-burger-icon-{{ section.id }}::after {
    bottom: 0;
    transform: rotate(-90deg);
    width: 100%;
    transition: bottom .2s ease, transform .2s ease .22s, width .1s ease;
    background: {{ mobile_menu_icon_color }} !important;
  }

  .header-menu-mobile-{{ section.id }} {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100dvh;
    overflow-y: auto;
    background-color: {{ background_open_color}};
    transform: translateX(-130%);
    transition: all 0.25s ease 0s;
    z-index: 99;
  }

  .header-menu-mobile-inner-{{ section.id }} {
    background-color: {{ background_open_color }};
    max-width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    padding: {{ mobile_menu_padding_vertical }}px {{ mobile_menu_padding_horizontal }}px;
    flex-direction: column;
  }

  .header-{{ section.id }}.open .header-menu-mobile-{{ section.id }} {
    transform: translateX(0%);
    transition: all 0.25s ease 0s;
  }

  
  .header-mobile-menu-item-parent-{{ section.id }}.active > .header-menu-mobile-submenu-{{ section.id }} {
    transform: translateX(0%);
    transition: all 0.25s ease 0s;
  }

  .header-mobile-menu-item-parent-{{ section.id }} {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .header-menu-mobile-{{ section.id }} .header-menu-item-{{ section.id }} {
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    position: static;
    padding: 6px 0px;
  }

  .header-menu-mobile-{{ section.id }} .header-menu-item-icon-{{ section.id }} {
    flex: 0 0 18px;
    width: 18px;
    transform: rotate(-90deg);
  }

  .header-menu-mobile-submenu-{{ section.id }} {
    position: absolute;
    background-color: {{ background_open_color }};
    z-index: 4;
    padding: 20px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(110%);
    transition: all 0.25s ease 0s;
  }

  .header-mobile-menu-item-parent-{{ section.id }}.active > .header-menu-mobile-submenu-{{ section.id }} {
    transform: translateX(0%);
    transition: all 0.25s ease 0s;
  }

  .header-menu-mobile-submenu-heading-{{ section.id }} {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    background-color: transparent;
    border: 0px;
    padding: 0px;
    padding: 10px 0px;
    box-shadow: none;
    font-size: {{ link_size_mobile }}px;
    color: {{ mobile_menu_link_color }};
    line-height: {{ link_height }}%;
    text-transform: unset;
    text-decoration: none;
    font-weight: 700;
  }

  .header-menu-mobile-submenu-heading-{{ section.id }} .header-menu-item-icon-{{ section.id }} {
    transform: rotate(90deg);
  }

  .header-mobile-submenu-list-{{ section.id }} {
    margin: 0px;
    margin-top: {{ list_gap_mobile }}px;
    display: flex;
    flex-direction: column;
    gap: {{ list_gap_mobile }}px;
    padding: 0px;
    list-style: none;
  }

  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }
  
    .header-{{ section.id }}.fixed {
      width: calc(100% - {{ margin_horizontal | times: 2 }}rem);
    }  

    .header-body-{{ section.id }} {
      align-items: start;
    }

    .header-logo-{{ section.id }} {     
      padding: {{ logo_padding_vertical }}px {{ logo_padding_horizontal }}px;
    }

    .header-logo-image-{{ section.id }} {
      max-width: {{ logo_width }}px;
    }

    .header-logo-desktop-{{ section.id }} {
      display: block;
    }

    .header-logo-mobile-{{ section.id }} {
      display: none;
    }

    .header-logo-text-{{ section.id }} {
      font-size: {{ name_size }}px;
      transition: all 0.25s ease;
    }

    .header-logo-text-{{ section.id }}:hover {
      transition: all 0.25s ease;
      color: {{ name_hover_color }};
    }

    .header-right-desktop-{{ section.id }} {
      display: block;
    }

    .header-menu-mobile-{{ section.id }} {
      display: none;
    }

    .header-right-top-{{ section.id }} {
      display: flex;
      padding: {{ right_padding_vertical }}px {{ right_padding_horizontal }}px {{ right_padding_vertical }}px {{ right_padding_horizontal | plus: 16 }}px;
      gap: {{ list_gap }}px;
      justify-content: space-between;
      radius: 0px;
      transition: all 0.25s ease;
    }

    .header-menu-list-{{ section.id }} {
      flex-direction: row;
      display: flex;
      gap: {{ list_gap }}px;
    }

    .header-menu-link-{{ section.id }} {
      font-size: {{ link_size }}px;
      transition: all 0.25s ease;
    }

    .header-menu-link-{{ section.id }}:hover {
      color: {{ link_hover_color }};
    }

    .header-search-text-{{ section.id }},
    .header-account-text-{{ section.id }} {
      display: inline;
      font-size: {{ link_size }}px;
    }

    .header-search-text-{{ section.id }}:hover,
    .header-account-text-{{ section.id }}:hover {
      transition: all .25s ease 0s;
      color: {{ link_hover_color }}!important;
    }

    .header-cart-{{ section.id }}:hover .header-cart-text-{{ section.id }} {
      transition: all .25s ease 0s;
      color: {{ cart_hover_color }}!important;
    }

    .header-cart-{{ section.id }}:hover .header-cart-icon-{{ section.id }} svg path {
      stroke: {{ cart_hover_color }};
      transition: all .25s ease 0s;
    }

    .header-cart-text-{{ section.id }} {
      display: block;
    }

    .header-cart-{{ section.id }} {
      padding: {{ cart_padding_vertical }}px {{ cart_padding_horizontal }}px;
      transition: all 0.25s ease 0s;
    }

    .header-cart-{{ section.id }}:hover {
      background-color: {{ cart_bg_hover_color }};
      border-color: {{ cart_border_hover_color }};
      transition: all 0.25s ease 0s;
    }

    .header-cart-{{ section.id }} .cart-count-bubble span {
      font-size: {{ cart_size }}px;
      line-height: {{ cart_height }}%;
      position: relative;
    }

    .header-search-icon-{{ section.id }},
    .header-account-icon-{{ section.id }},
    .header-cart-icon-{{ section.id }} {
      display: none;
      width: {{ icon_size }}px;
    }

    .header-cart-{{ section.id }} .cart-count-bubble {
      position: static;
      transform: translateX(0);
    }

    .header-cart-{{ section.id }}:hover .cart-count-bubble span {
      transition: all .25s ease 0s;
      color: {{ cart_hover_color }};
    }

    .header-newsletter-wrapper-{{ section.id }} {
      display: block;
      padding: {{ newsletter_padding_vertical }}px {{ newsletter_padding_horizontal }}px;
    }

    .header-newsletter-title-{{ section.id }} {
      font-size: {{ newsletter_title_size }}px;
    }

    .header-newsletter-text-{{ section.id }} {
      margin-top: 0;
    }

    .header-newsletter-text-{{ section.id }} * {      
      font-size: {{ newsletter_text_size }}px;
    }

    .header-newsletter-{{ section.id }} {
      padding: 2px;
      margin-top: {{ newsletter_form_mt }}px;
    }

    .header-newsletter-input-{{ section.id }} {
      font-size: {{ input_size }}px;  
    }
    
    .header-newsletter-submit-{{ section.id }} {
      padding: {{ submit_padding_vertical }}px {{ submit_padding_horizontal }}px;        
      font-size: {{ submit_size }}px;
    }

    .header-newsletter-submit-{{ section.id }}:hover {
      color: {{ submit_hover_color }};
      background-color: {{ submit_bg_hover_color }};
      border: {{ submit_border_thickness }}px solid {{ submit_border_hover_color }};
      transition: all 0.25s ease 0s;
    }

    .header-menu-burder-wrapper-{{ section.id }} {
      display: none;
    }

    .header-menu-burder-{{ section.id }} {
      display: none;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if name_custom %}
  <style>
    .header-logo-text-{{ section.id }} {
      font-family: {{ name_font.family }}, {{ name_font.fallback_families }};
      font-weight: {{ name_font.weight }};
      font-style: {{ name_font.style }};
    }
  </style>
{% endif %}

{% if link_custom %}
  <style>
    .header-menu-link-{{ section.id }},
    .header-menu-mobile-submenu-heading-{{ section.id }} {
      font-family: {{ link_font.family }}, {{ link_font.fallback_families }};
      font-weight: {{ link_font.weight }};
      font-style: {{ link_font.style }};
    }

    .header-search-text-{{ section.id }},
    .header-account-text-{{ section.id }} {
      font-family: {{ link_font.family }}, {{ link_font.fallback_families }};
      font-weight: {{ link_font.weight }};
      font-style: {{ link_font.style }};
    }
  </style>
{% endif %}

{% if cart_custom %}
  <style>
    .header-cart-text-{{ section.id }} {
      font-family: {{ cart_font.family }}, {{ cart_font.fallback_families }};
      font-weight: {{ cart_font.weight }};
      font-style: {{ cart_font.style }};
    }
    
    .header-cart-{{ section.id }} .cart-count-bubble span {
      font-family: {{ cart_font.family }}, {{ cart_font.fallback_families }};
      font-weight: {{ cart_font.weight }};
      font-style: {{ cart_font.style }};
    }
  </style>
{% endif %}

{% if newsletter_title_custom %}
  <style>
    .header-newsletter-title-{{ section.id }} {
      font-family: {{ newsletter_title_font.family }}, {{ newsletter_title_font.fallback_families }};
      font-weight: {{ newsletter_title_font.weight }};
      font-style: {{ newsletter_title_font.style }};
    }
  </style>
{% endif %}

{% if newsletter_text_custom %}
  <style>
    .header-newsletter-text-{{ section.id }} * {
      font-family: {{ newsletter_text_font.family }}, {{ newsletter_text_font.fallback_families }};
      font-weight: {{ newsletter_text_font.weight }};
      font-style: {{ newsletter_text_font.style }};
    }
  </style>
{% endif %}

{% if input_custom %}
  <style>
    .header-newsletter-input-{{ section.id }} {
      font-family: {{ input_font.family }}, {{ input_font.fallback_families }};
      font-weight: {{ input_font.weight }};
      font-style: {{ input_font.style }};
    }
  </style>
{% endif %}
      
{% if submit_custom %}
  <style>
    .header-newsletter-submit-{{ section.id }} {
      font-family: {{ submit_font.family }}, {{ submit_font.fallback_families }};
      font-weight: {{ submit_font.weight }};
      font-style: {{ submit_font.style }};
    }
  </style>
{% endif %} 

{% if cart_icon_desktop %}
  <style>
    @media(min-width: 1024px) {
      .header-cart-icon-{{ section.id }} {
        display: block;
      }

      .header-cart-text-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if search_menu_mobile %}
  <style>
    .header-right-{{ section.id }} .header-search-{{ section.id }} {
      display: none;
    }

    @media(min-width: 1024px) {
      .header-right-{{ section.id }} .header-search-{{ section.id }} {
        display: block;
      }
    }
  </style>
{% endif %}

{% if account_menu_mobile %}
  <style>
    .header-right-{{ section.id }} .header-account-{{ section.id }} {
      display: none;
    }

    @media(min-width: 1024px) {
      .header-right-{{ section.id }} .header-account-{{ section.id }} {
        display: block;
      }
    }
  </style>
{% endif %}

{% if search_icon_desktop %}
  <style>
    @media(min-width: 1024px) {
      .header-search-icon-{{ section.id }} {
        display: block;
      }

      .header-search-text-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if account_icon_desktop %}
  <style>
    @media(min-width: 1024px) {
      .header-account-icon-{{ section.id }} {
        display: block;
      }

      .header-account-text-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% for block in section.blocks %}
  <style>
    
    {{ block.settings.link_font | font_face: font_display: 'swap' }}
     .header-menu-list-{{ block.id }} {
        padding: 0px;
        margin: 0px;
        display: none;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        background-color: {{ background_color | hex_to_rgba: header_bg_opacity }};
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        padding: {{ block.settings.menu_padding_vertical }}px {{ block.settings.menu_padding_horizontal }}px;   
        gap: {{ block.settings.list_gap }}px;   
        border-radius: {{ block.settings.menu_radius }}px;
        transition: all 0.25s ease;
        position: relative;
      }

      .header-menu-list-{{ block.id }}:hover {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        transition: all 0.25s ease;
      }

      .header-menu-mobile-{{ block.id }} .header-menu-list-{{ block.id }} {
        display: flex;
        flex-direction: column;
        align-items: start;
      }

      .header-menu-item-{{ block.id }} {
        line-height: 100%;
        cursor: pointer;
        box-sizing: border-box;
      }

      .header-menu-link-{{ block.id }} {
        margin: 0;
        font-size: {{ block.settings.link_size }}px;
        color: {{ block.settings.link_color }};
        line-height: {{ block.settings.link_height }}%;
        text-transform: unset;
        text-decoration: none;
        transition: all 0.25s ease;
        position: relative;
        z-index: 3;
      }

      .header-menu-item-parent-{{ block.id }} {
        display: flex;
        align-items: center;
        gap: 10px;
        max-width: fit-content;
        flex-basis: 0;
      }

      .header-menu-item-icon-{{ block.id }} {
        display: block;
        flex: 0 0 8px;
        width: 8px;
        transition: all 0.25s ease 0s;
        color: {{ block.settings.link_color }};
      }

      .header-menu-item-parent-{{ block.id }}.active > .header-submenu-wrapper-{{ block.id }} {
        transform: translateY(0);
        transition: all 0.25s ease 0s;
        opacity: 1;
        pointer-events: all;
      }

      .header-submenu-wrapper-{{ block.id }} {
        position: absolute;
        z-index: 3;
        top: calc({{ block.settings.menu_padding_vertical }}px + {{ link_size }}px);
        left: 0;
        width: 100%;
        transform: translateY(30px);
        opacity: 0;
        pointer-events: none;
      }

      .header-submenu-{{ block.id }} {       
        margin-top: {{ block.settings.menu_padding_vertical }}px;
        padding: {{ block.settings.submenu_padding_vertical }}px {{ block.settings.submenu_padding_horizontal }}px;
        border-bottom-left-radius: {{ block.settings.menu_radius }}px;
        border-bottom-right-radius: {{ block.settings.menu_radius }}px;
        background-color: {{ background_color | hex_to_rgba: 1 }}; 
        transition: all 0.25s ease 0s;
        display: flex;
        list-style: none;
        flex-direction: column;
        gap: 0px;
      }

      .header-submenu-{{ block.id }} .header-submenu-{{ section.id }} {
        padding-top: {{ block.settings.submenu_padding_vertical }}px;
        box-shadow: inset 0 0 0 1px #eaeaea, 0 5px 20px rgba(0, 0, 0, .15);
        top: 0;
        left: calc(100%);
      }

      .header-submenu-wrapper-down-{{ block.id }} {
        top: 77%;
      }      

      @media(min-width: 1024px) {
        .header-menu-list-{{ block.id }} {
          display: flex;
          gap: {{ block.settings.list_gap }}px;
          padding: {{ block.settings.menu_padding_vertical }}px {{ block.settings.menu_padding_horizontal }}px;   
        }

        .header-menu-link-{{ block.id }} {
          font-size: {{ block.settings.link_size }}px;
          transition: all 0.25s ease;
        }

        .header-menu-item-{{ block.id }}:hover > .header-menu-link-{{ block.id }} {
          transition: all 0.25s ease;
          color: {{ block.settings.link_hover_color }};
        }

        .header-submenu-{{ block.id }} .header-menu-item-{{ block.id }} {
          min-width: max-content;
          padding: 10px;
          top: calc(100% + {{ block.settings.menu_padding_vertical | times: 1.5 }}px);
          left: -{{ block.settings.menu_padding_horizontal }}px;
          transition: all 0.25s ease 0s;
        }

        .header-submenu-{{ block.id }} .header-menu-item-parent-{{ block.id }} {
          max-width: 100%;
        }

        .header-submenu-{{ block.id }} .header-menu-item-{{ block.id }}:hover {
          background-color: {{ block.settings.submenu_link_bg_hover_color }};
          transition: all 0.25s ease 0s;
        }

        .header-submenu-{{ block.id }} .header-menu-item-{{ block.id }}::after {
          display: none;
        }

        .header-menu-item-parent-{{ block.id }}:hover > .header-menu-item-icon-{{ block.id }} {
          transform: rotate(180deg);
          transition: all 0.25s ease 0s;
        }
      }
  </style>

{% if block.settings.link_custom %}
  <style>
    .header-menu-link-{{ block.id }} {
      font-family: {{ block.settings.link_font.family }}, {{ block.settings.link_font.fallback_families }};
      font-weight: {{ block.settings.link_font.weight }};
      font-style: {{ block.settings.link_font.style }};
    }
  </style>
{% endif %}
{% endfor %}

{% comment %} FOR FREE THEMES{% endcomment %}
{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{%- endif -%}
{% comment %} FOR FREE THEMES{% endcomment %}

<div class="section-{{ section.id }} header-{{ section.id }} {% if show_type == "always" %}fixed always{% elsif show_type == "scroll_up" %}scroll active fixed{% else %}top{% endif %}">
    <div class="section-{{ section.id }}-settings">
      <div class="header-body-{{ section.id }}">        
        <div class="header-logo-{{ section.id }}">
          {% if logo != blank %}
            <a href="{{ shop.url }}" class="header-logo-image-{{ section.id }} {% if logo_mobile != blank %}header-logo-desktop-{{ section.id }}{% endif %}">
              <img src="{{ logo | image_url }}" alt="{{ logo.alt }}" {% if lazy %}loading="lazy"{% endif %}>
            </a>
            {% if logo_mobile != blank %}
              <a href="{{ shop.url }}" class="header-logo-image-{{ section.id }} header-logo-mobile-{{ section.id }}">
                <img src="{{ logo_mobile | image_url }}" alt="{{ logo_mobile.alt }}" {% if lazy %}loading="lazy"{% endif %}>
              </a>
            {% endif %}
          {% else %}
            <a href="{{ shop.url }}" class="header-logo-text-{{ section.id }}">{{ shop.name }}</a>
          {% endif %}
        </div>

        <div class="header-right-body-{{ section.id }}">
          {% for block in section.blocks %}
            <ul class="header-menu-list-{{ block.id }} header-submenu-list-{{ section.id }}">
              {% for link in block.settings.menu.links %}
                <li class="header-menu-item-{{ block.id }} {% if link.links.size > 0 %}header-menu-item-parent-{{ block.id }} header-submmenu-item-parent-{{ section.id }}{% endif %}">
                  <a href="{{ link.url }}" class="header-menu-link-{{ block.id }}">{{ link.title }}</a>
                  {% if link.links.size > 0 %}
                    <span class="header-menu-item-icon-{{ block.id }}">
                      <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z" class=""></path>
                      </svg>
                    </span>
  
                  <div class="header-submenu-wrapper-{{ block.id }}">
                    <ul class="header-submenu-{{ block.id }}">                    
                      {% for child_link in link.links %}
                        <li class="header-menu-item-{{ block.id }} {% if child_link.links.size > 0 %}header-menu-item-parent-{{ block.id }} header-submmenu-item-parent-{{ section.id }}{% endif %}">
                          <a href="{{ child_link.url }}" class="header-menu-link-{{ block.id }}">{{ child_link.title }}</a>
                          {% if child_link.links.size > 0 %}
                            <span class="header-menu-item-icon-{{ block.id }}">
                              <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z" class=""></path>
                              </svg>
                            </span>
    
                            <div class="header-submenu-wrapper-{{ block.id }} header-submenu-wrapper-down-{{ block.id }}">
                              <ul class="header-submenu-{{ block.id }}">
                                {% for child_child_link in child_link.links %}
                                  <li class="header-menu-item-{{ block.id }}">
                                    <a href="{{ child_child_link.url }}" class="header-menu-link-{{ block.id }}">{{ child_child_link.title }}</a>
                                  </li>
                                {% endfor %}
                              </ul>
                            </div>                          
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
              
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endfor %}
         

          <div class="header-right-{{ section.id }}">
            <div class="header-right-top-{{ section.id }}">
  
              <div class="header-menu-burder-wrapper-{{ section.id }}">
                <button class="header-menu-burder-{{ section.id }}">
                  <span class="header-menu-burger-icon-{{ section.id }}"></span>
                </button>
              </div>
  
              <ul class="header-menu-list-{{ section.id }}">
                {% for link in menu.links %}
                  <li class="header-menu-item-{{ section.id }}">
                    <a href="{{ link.url }}" class="header-menu-link-{{ section.id }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
  
              {% if use_search %}
                <a href="{{ routes.search_url }}" class="header-search-{{ section.id }}">
                  <span class="header-search-icon-{{ section.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-0.5 -0.5 16 16" height="16" width="16"><path d="M0.9375 5.7125a4.7749999999999995 4.7749999999999995 0 1 0 9.549999999999999 0 4.7749999999999995 4.7749999999999995 0 1 0 -9.549999999999999 0" fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="1"></path><path d="m14.0625 14.0625 -5.06875 -5.06875" fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="1"></path></svg>
                  </span>
                  <span class="header-search-text-{{ section.id }}">{{ search_text }}</span>
                </a>
              {% endif %}
    
              {%- if shop.customer_accounts_enabled and use_account -%}
                <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header-account-{{ section.id }}">
                  <span class="header-account-icon-{{ section.id }}">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="-0.5 -0.5 16 16" height="16" width="16"><path d="M3.9187499999999997 4.53125a3.5812500000000003 3.5812500000000003 0 1 0 7.1625000000000005 0 3.5812500000000003 3.5812500000000003 0 1 0 -7.1625000000000005 0" fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="1"></path><path d="m0.9375 14.675 0.23125 -1.28125A6.4375 6.4375 0 0 1 7.5 8.125a6.4375 6.4375 0 0 1 6.331250000000001 5.28125l0.23125 1.28125" fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="1"></path></svg>
                  </span>
                  <span class="header-account-text-{{ section.id }}">{{ account_text }}</span>
                </a>
              {%- endif -%}
              
              <a href="{{ routes.cart_url }}" class="header-cart-{{ section.id }}">
                <span class="header-cart-icon-{{ section.id }}">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="-0.5 -0.5 16 16" height="16" width="16"><path d="M2.6,5h10.7v7.8c0,1-.8,1.8-1.8,1.8h-7.2c-1,0-1.8-.8-1.8-1.8h0v-7.8Z" fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="1"></path><path d="M5,5.3v-.9c0-1.6,1.3-3,3-3,1.6,0,3,1.3,3,3v.9" fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="1"></path></svg>
                </span>
                <span class="header-cart-text-{{ section.id }}">{{ cart_text }}</span>
                <div class="cart-count-bubble">
                  {%- if cart.item_count < 100 -%}
                    <span aria-hidden="true">{{ cart.item_count }}</span>
                  {%- endif -%}
                </div>
              </a>
  
            </div>
  
            {% if use_newsletter %}
              <div class="header-newsletter-wrapper-{{ section.id }} {% if show_type == "always" %}scroll active fixed{% endif %}">
                {% if newsletter_title != blank or newsletter_text != blank %}
                  <div class="header-newsletter-top-{{ section.id }}">
                    {% if newsletter_title != blank %}
                      <h3 class="header-newsletter-title-{{ section.id }}">{{ newsletter_title }}</h3>
                    {% endif %}
                    {% if newsletter_text != blank %}
                      <div class="header-newsletter-text-{{ section.id }}">{{ newsletter_text }}</div>
                    {% endif %}
                  </div>
                {% endif %}
                <div class="header-newsletter-{{ section.id }}">        
                  {% form 'customer', class: 'header-newsletter-form' %}       
                      <input
                        id="NewsletterForm--{{ section.id }}"
                        type="email"
                        name="contact[email]"
                        class="header-newsletter-input-{{ section.id }}"
                        value="{{ form.email }}"
                        aria-required="true"
                        autocorrect="off"
                        autocapitalize="off"
                        autocomplete="email"
                        {% if form.errors contains 'email'%}
                          autofocus
                          aria-invalid="true"
                          aria-describedby="Newsletter-error--{{ section.id }}"
                        {% elsif form.posted_successfully? %}
                          aria-describedby="Newsletter-succesg--{{ section.id }}"
                        {% endif %}
                        placeholder="{{ input_placeholder }}"
                        required
                      >     
                      
                      <button type="submit" class="header-newsletter-submit-{{ section.id }}" name="commit">{% if submit != blank %}{{ submit }}{% else %}SUBMIT{% endif %}</button>  
                                          
                            
                    <input type="hidden" name="contact[tags]" value="newsletter">
                  {% endform %}             
                </div>
              </div>     
            {% endif %}
                          
          </div>
        </div>
   
      </div>
      <div class="header-menu-mobile-{{ section.id }}">
        <div class="header-menu-mobile-inner-{{ section.id }}">
          <ul class="header-menu-list-{{ section.id }}">
            {% for link in mobile_menu.links %}
              <li class="header-menu-item-{{ section.id }} {% if link.links.size > 0 %}header-mobile-menu-item-parent-{{ section.id }}{% endif %}">
                <a href="{{ link.url }}" class="header-menu-link-{{ section.id }}">{{ link.title }}</a>
                {% if link.links.size > 0 %}
                  <span class="header-menu-item-icon-{{ section.id }}">
                    <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                      <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z" class=""></path>
                    </svg>
                  </span>
                  <div class="header-menu-mobile-submenu-{{ section.id }}">
                    <button class="header-menu-mobile-submenu-heading-{{ section.id }}">
                      <span class="header-menu-item-icon-{{ section.id }}">
                        <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                          <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z" class=""></path>
                        </svg>
                      </span>
                      {{ link.title }}
                    </button>
                    <ul class="header-mobile-submenu-list-{{ section.id }}">
                      {% for child_link in link.links %}
                        <li class="header-menu-item-{{ section.id }} {% if child_link.links.size > 0 %}header-mobile-menu-item-parent-{{ section.id }}{% endif %}">
                          <a href="{{ child_link.url }}" class="header-menu-link-{{ section.id }}">{{ child_link.title }}</a>
                          {% if child_link.links.size > 0 %}
                            <span class="header-menu-item-icon-{{ section.id }}">
                              <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z" class=""></path>
                              </svg>
                            </span>
                            <div class="header-menu-mobile-submenu-{{ section.id }}">
                              <button class="header-menu-mobile-submenu-heading-{{ section.id }}">
                                <span class="header-menu-item-icon-{{ section.id }}">
                                  <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z" class=""></path>
                                  </svg>
                                </span>
                                {{ child_link.title }}
                              </button>
                              <ul class="header-mobile-submenu-list-{{ section.id }}">
                                {% for child_child_link in child_link.links %}
                                  <li class="header-menu-item-{{ section.id }}">
                                    <a href="{{ child_child_link.url }}" class="header-menu-link-{{ section.id }}">{{ child_child_link.title }}</a>
                                  </li>
                                {% endfor %}
                              </ul>
                            </div>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </li>
            {% endfor %}
            {% if use_search and search_menu_mobile %}
              <li class="header-menu-item-{{ section.id }}">
                <a href="{{ routes.search_url }}" class="header-menu-link-{{ section.id }}">{{ search_text }}</a>
              </li>
            {% endif %}
            {% if use_account and account_menu_mobile %}
              <li class="header-menu-item-{{ section.id }}">
                <a href="{{ routes.account_url }}" class="header-menu-link-{{ section.id }}">{{ account_text }}</a>
              </li>
            {% endif %}
          </ul>
          {% if use_newsletter %}
            {% if newsletter_title != blank or newsletter_text != blank %}
              <div class="header-newsletter-top-{{ section.id }}">
                {% if newsletter_title != blank %}
                  <h3 class="header-newsletter-title-{{ section.id }}">{{ newsletter_title }}</h3>
                {% endif %}
                {% if newsletter_text != blank %}
                  <div class="header-newsletter-text-{{ section.id }}">{{ newsletter_text }}</div>
                {% endif %}
              </div>
            {% endif %}
            <div class="header-newsletter-{{ section.id }}">        
              {% form 'customer', class: 'header-newsletter-form' %}       
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="header-newsletter-input-{{ section.id }}"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors contains 'email'%}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-succesg--{{ section.id }}"
                    {% endif %}
                    placeholder="{{ input_placeholder }}"
                    required
                  >     
                  {% if form.posted_successfully? %}
                    <p class="header-newsletter-submit-{{ section.id }}">SUCCESS!</p>                              
                  {% else %}
                    <button type="submit" class="header-newsletter-submit-{{ section.id }}" name="commit">{% if submit != blank %}{{ submit }}{% else %}SUBMIT{% endif %}</button>                              
                  {% endif %}      
                <input type="hidden" name="contact[tags]" value="newsletter">
              {% endform %}             
            </div>
          {% endif %}
          
        </div>
      </div>
    </div>
</div>

<script>
  function initHeader6() {
      let header = document.querySelector('.header-{{ section.id }}');
      let menuMobile = document.querySelector('.header-menu-mobile-{{ section.id }}');
      let mobileSubMenu = document.querySelectorAll('.header-menu-mobile-submenu-{{ section.id }}');
      let newsletter = document.querySelector('.header-newsletter-{{ section.id }}');
      let newsletterWrapper = document.querySelector('.header-newsletter-wrapper-{{ section.id }}');
      let rightMenu = document.querySelector('.header-right-top-{{ section.id }}');
      let emailInput = document.querySelector('.header-newsletter-input-{{ section.id }}');
      let submitButton = document.querySelector('.header-newsletter-submit-{{ section.id }}');
      const submenus = document.querySelectorAll('.header-submenu-list-{{ section.id }}');

      if (header) {
          let burger_icon = header.querySelectorAll('.header-menu-burder-wrapper-{{ section.id }}');

          if (window.scrollY > 0) {
              header.classList.add('onscroll');
          } else {
              header.classList.add('top');
          }

          let lastScrollTop = window.scrollY;

          document.addEventListener('scroll', () => {
              // Prevent closing menu if email input is focused or submit button is clicked
              if (
                  document.activeElement.matches('.header-newsletter-input-{{ section.id }}') ||
                  document.activeElement.matches('.header-newsletter-submit-{{ section.id }}')
              ) {
                  return;
              }

              header.classList.remove('open');

              const currentScrollTop = window.scrollY;
              const maxScroll = document.documentElement.scrollHeight - window.innerHeight;

              if (currentScrollTop === 0) {
                  header.classList.add('top');
              }

              if (currentScrollTop <= 0) {
                  header.classList.add('active');
                  header.classList.remove('onscroll');
                  return;
              }

              if (currentScrollTop >= maxScroll) {
                  header.classList.remove('active');
                  return;
              }

              if (currentScrollTop !== lastScrollTop) {
                  if (header.classList.contains('scroll')) {
                      if (currentScrollTop > lastScrollTop) {
                          header.classList.remove('active');
                      } else {
                          header.classList.add('active');
                      }
                  }
                  lastScrollTop = currentScrollTop;
              }
          });

          if (burger_icon) {
              burger_icon.forEach(button => {
                  button.addEventListener('click', () => {
                      header.classList.toggle('open');
                      if (header.classList.contains('open')) {
                          document.body.style.overflow = 'hidden';
                      } else {
                          document.body.style.overflow = '';
                      }
                  });
              });
          }

          if (mobileSubMenu) {  
          mobileSubMenu.forEach(el => {  
            let parentItem = el.closest('.header-mobile-menu-item-parent-{{ section.id }}');  
            let heading = el.querySelector('.header-menu-mobile-submenu-heading-{{ section.id }}');  
            
            if (parentItem) {  
              parentItem.addEventListener('click', () => {  
                parentItem.classList.add('active');  
              });  
            }  
        
            if (heading) {  
              heading.addEventListener('click', (event) => {  
                event.stopPropagation();
                parentItem.classList.remove('active');  
              });  
            }  
          });  
        } 
      }

      // Ensure menu remains open when interacting with the newsletter input or button
      if (emailInput) {
          emailInput.addEventListener('focus', () => {
              header.classList.add('input-focused');
          });

          emailInput.addEventListener('blur', () => {
              header.classList.remove('input-focused');
          });
      }

      if (submitButton) {
          submitButton.addEventListener('click', () => {
              header.classList.add('input-focused');
              setTimeout(() => header.classList.remove('input-focused'), 3000); // Remove focus class after submission
          });
      }

      if(submenus) {
        submenus.forEach(submenu => {
          const linksParent = submenu.querySelectorAll('.header-submmenu-item-parent-{{ section.id }}');
          linksParent.forEach(link => {
            link.addEventListener('mouseenter', () => {
              submenu.classList.add('radius');
              link.classList.add('active');
            })

            link.addEventListener('mouseleave', () => {
              submenu.classList.remove('radius');
              link.classList.remove('active');
            })
          })
        })
      }

      if(newsletterWrapper && header.classList.contains('always')) {
        let lastScrollTop = window.scrollY;
      
        document.addEventListener('scroll', () => {
            console.log(newsletterWrapper)
            newsletterWrapper.classList.remove('active');
          
            const currentScrollTop = window.scrollY;
            const maxScroll = document.documentElement.scrollHeight - window.innerHeight;

            if (currentScrollTop === 0) {
              newsletterWrapper.classList.add('top');
            }

            if (currentScrollTop <= 0) {
                newsletterWrapper.classList.add('active');
                newsletterWrapper.classList.remove('onscroll');
                return;
            }

            if (currentScrollTop >= maxScroll) {
                newsletterWrapper.classList.remove('active');
                return;
            }

            if (currentScrollTop !== lastScrollTop) {
                if (newsletterWrapper.classList.contains('scroll')) {
                    if (currentScrollTop > lastScrollTop) {
                      rightMenu.classList.add('radius');    
                      newsletterWrapper.classList.remove('active');  
                                                          
                    } else {
                      rightMenu.classList.remove('radius');   
                      newsletterWrapper.classList.add('active');                                                           
                    }
                }

                lastScrollTop = currentScrollTop;
            }
        });
      }
  }

  document.addEventListener('DOMContentLoaded', initHeader6);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initHeader6);
     document.addEventListener('shopify:section:load', initHeader6);
  }
</script>

{% schema %}
{
  "name": "SG-Header #6",
  "settings": [
    {
      "type": "header",
      "content": "Header settings"
    },
    {
      "type": "select",
      "id": "show_type",
      "label": "Reveal menu",
      "default": "always",
      "options": [
        {
          "label": "Scroll up",
          "value": "scroll_up"
        },
        {
          "label": "Always/sticky",
          "value": "always"
        },
        {
          "label": "Only top",
          "value": "top"
        }
      ]
    },
    {
      "type": "range",
      "id": "header_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 10
    },
    {
      "type": "range",
      "id": "header_bg_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Background opacity",
      "default": 0.8
    },
    {
      "type": "header",
      "content": "Logo settings",
      "info": "Leave blank to display shop name instead of logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "Logo - mobile (optional)"
    },
    {
      "type": "range",
      "id": "logo_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 8
    },
    {
      "type": "range",
      "id": "logo_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 8
    },
    {
      "type": "range",
      "id": "logo_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 8
    },
    {
      "type": "range",
      "id": "logo_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 8
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 30,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Width",
      "default": 140
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "min": 30,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Width - mobile",
      "default": 130
    },
    {
      "type": "header",
      "content": "Shop name settings"
    },
    {
      "type": "checkbox",
      "id": "name_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "name_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "name_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 20
    },
    {
      "type": "range",
      "id": "name_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 18
    },
    {
      "type": "range",
      "id": "name_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 100
    },
    {
      "type": "header",
      "content": "Right menu bar settings"
    },
    {
      "type": "range",
      "id": "right_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 8
    },
    {
      "type": "range",
      "id": "right_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 8
    },
    {
      "type": "range",
      "id": "right_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 8
    },
    {
      "type": "range",
      "id": "right_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 8
    },
    {
      "type": "header",
      "content": "Menu settings"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "info": "Displays only top-level menu items. Use a mega menu block for additional menu bar on desktop.",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "mobile_menu",
      "label": "Mobile menu",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Menu list settings"
    },
    {
      "type": "range",
      "id": "list_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 28
    },
    {
      "type": "range",
      "id": "list_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 16
    },
    {
      "type": "header",
      "content": "Menu link settings"
    },
    {
      "type": "checkbox",
      "id": "link_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "link_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "link_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "link_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 40
    },
    {
      "type": "range",
      "id": "link_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "header",
      "content": "Mobile menu icon settings"
    },
    {
      "type": "range",
      "id": "mobile_menu_icon_size",
      "min": 10,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Width",
      "default": 18
    },
    {
      "type": "header",
      "content": "Mobile menu settings"
    },
    {
      "type": "range",
      "id": "mobile_menu_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 18
    },
    {
      "type": "range",
      "id": "mobile_menu_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 18
    },
    {
      "type": "header",
      "content": "Search settings"
    },
    {
      "type": "checkbox",
      "id": "use_search",
      "label": "Use search",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "search_menu_mobile",
      "label": "Move search link to burger menu (mobile)",
      "default": true
    },
    {
      "type": "text",
      "id": "search_text",
      "label": "Text",
      "default": "Search"
    },
    {
      "type": "checkbox",
      "id": "search_icon_desktop",
      "label": "Icon on dekstop",
      "default": true
    },
    {
      "type": "header",
      "content": "Account settings"
    },
    {
      "type": "checkbox",
      "id": "use_account",
      "label": "Use account link",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "account_menu_mobile",
      "label": "Move account link to burger menu (mobile)",
      "default": true
    },
    {
      "type": "text",
      "id": "account_text",
      "label": "Text",
      "default": "Login"
    },
    {
      "type": "checkbox",
      "id": "account_icon_desktop",
      "label": "Icon on dekstop",
      "default": true
    },
    {
      "type": "header",
      "content": "Cart settings"
    },
    {
      "type": "text",
      "id": "cart_text",
      "label": "Text",
      "default": "Bag:"
    },
    {
      "type": "checkbox",
      "id": "cart_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "cart_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "cart_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "cart_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "range",
      "id": "cart_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 16
    },
    {
      "type": "range",
      "id": "cart_padding_horizontal_mobile",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 10
    },
    {
      "type": "range",
      "id": "cart_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 10
    },
    {
      "type": "range",
      "id": "cart_padding_vertical_mobile",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 10
    },
    {
      "type": "range",
      "id": "cart_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 8
    },
    {
      "type": "range",
      "id": "cart_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "cart_icon_desktop",
      "label": "Icon on dekstop"
    },
    {
      "type": "header",
      "content": "Newsletter settings"
    },
    {
      "type": "range",
      "id": "newsletter_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 24
    },
    {
      "type": "range",
      "id": "newsletter_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 16
    },
    {
      "type": "checkbox",
      "id": "use_newsletter",
      "label": "Use newsletter",
      "default": true
    },
    {
      "type": "header",
      "content": "Newsletter title settings"
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Title",
      "default": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "newsletter_title_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "newsletter_title_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "newsletter_title_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 26
    },
    {
      "type": "range",
      "id": "newsletter_title_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "newsletter_title_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "header",
      "content": "Newsletter text settings"
    },
    {
      "type": "richtext",
      "id": "newsletter_text",
      "label": "Text",
      "default": "<p>Newsletter text</p>"
    },
    {
      "type": "checkbox",
      "id": "newsletter_text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "newsletter_text_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "newsletter_text_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 13
    },
    {
      "type": "range",
      "id": "newsletter_text_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "newsletter_text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "header",
      "content": "Newsletter form settings"
    },
    {
      "type": "range",
      "id": "newsletter_form_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 8
    },
    {
      "type": "range",
      "id": "newsletter_form_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 1
    },
    {
      "type": "range",
      "id": "newsletter_form_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 12
    },
    {
      "type": "range",
      "id": "newsletter_form_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 12
    },
    {
      "type": "header",
      "content": "Newsletter input settings"
    },
    {
      "type": "text",
      "id": "input_placeholder",
      "label": "Input placeholder",
      "default": "EMAIL"
    },
    {
      "type": "checkbox",
      "id": "input_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "input_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "input_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 14
    },
    {
      "type": "range",
      "id": "input_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "input_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 100
    },
    {
      "type": "header",
      "content": "Newsletter button settings"
    },
    {
      "type": "text",
      "id": "submit",
      "label": "Button label",
      "default": "SUBSCRIBE"
    },
    {
      "type": "checkbox",
      "id": "submit_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "submit_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "submit_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 14
    },
    {
      "type": "range",
      "id": "submit_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "submit_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 100
    },
    {
      "type": "range",
      "id": "submit_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 14
    },
    {
      "type": "range",
      "id": "submit_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "submit_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 10
    },
    {
      "type": "range",
      "id": "submit_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "submit_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 6
    },
    {
      "type": "range",
      "id": "submit_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "header",
      "content": "Shop name colors"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "name_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Text hover",
      "id": "name_hover_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Cart colors"
    },
    {
      "type": "color",
      "label": "Link",
      "id": "cart_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Link hover",
      "id": "cart_hover_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "cart_bg_color",
      "default": "#ff9d00"
    },
    {
      "type": "color",
      "label": "Background hover",
      "id": "cart_bg_hover_color",
      "default": "#ff9d00"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "cart_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Border hover",
      "id": "cart_border_hover_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Newsletter colors"
    },
    {
      "type": "color",
      "label": "Newsletter title",
      "id": "newsletter_title_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Newsletter text",
      "id": "newsletter_text_color",
      "default": "#67645b"
    },
    {
      "type": "color",
      "label": "Form border",
      "id": "newsletter_form_border_color",
      "default": "#8b857d"
    },
    {
      "type": "header",
      "content": "Newsletter input colors"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "input_color",
      "default": "#333333"
    },
    {
      "type": "color",
      "label": "Placeholder",
      "id": "input_placeholder_color",
      "default": "#51736e"
    },
    {
      "type": "header",
      "content": "Newsletter button colors"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "submit_color",
      "default": "#7c7973"
    },
    {
      "type": "color",
      "label": "Text hover",
      "id": "submit_hover_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "submit_bg_color",
      "default": "#ddd7d1"
    },
    {
      "type": "color",
      "label": "Background hover",
      "id": "submit_bg_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "submit_border_color",
      "default": "#ddd7d1"
    },
    {
      "type": "color",
      "label": "Border hover",
      "id": "submit_border_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Mobile menu colors"
    },
    {
      "type": "color",
      "label": "Icon",
      "id": "mobile_menu_icon_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Link",
      "id": "mobile_menu_link_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Menu link colors"
    },
    {
      "type": "color",
      "label": "Link",
      "id": "link_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Link hover",
      "id": "link_hover_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#faf4f2"
    },
    {
      "type": "color",
      "label": "Mobile menu background",
      "id": "background_open_color",
      "default": "#f2ebe7"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Margin sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Margin sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 4
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 800,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "label": "Section content width",
      "default": 1400
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Mega menu",
      "settings": [
        {
          "type": "paragraph",
          "content": "Mega menu is available only on desktop."
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "main-menu"
        },
        {
          "type": "header",
          "content": "Menu bar settings"
        },
        {
          "type": "range",
          "id": "menu_padding_vertical",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding vertical",
          "default": 18
        },
        {
          "type": "range",
          "id": "menu_padding_horizontal",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding horizontal",
          "default": 24
        },
        {
          "type": "range",
          "id": "menu_radius",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Roundness",
          "default": 10
        },
        {
          "type": "header",
          "content": "Menu list settings"
        },
        {
          "type": "range",
          "id": "list_gap",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Gap",
          "default": 28
        },
        {
          "type": "header",
          "content": "Menu link settings"
        },
        {
          "type": "checkbox",
          "id": "link_custom",
          "label": "Use custom font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "link_font",
          "label": "Font family",
          "default": "josefin_sans_n4"
        },
        {
          "type": "range",
          "id": "link_size",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 16
        },
        {
          "type": "range",
          "id": "link_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Line height",
          "default": 130
        },
        {
          "type": "header",
          "content": "Submenu settings"
        },
        {
          "type": "range",
          "id": "submenu_padding_vertical",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding vertical",
          "default": 24
        },
        {
          "type": "range",
          "id": "submenu_padding_horizontal",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding horizontal",
          "default": 12
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "label": "Link",
          "id": "link_color",
          "default": "#000000"
        },
        {
          "type": "color",
          "label": "Link hover",
          "id": "link_hover_color",
          "default": "#585450"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Header #6",
      "blocks": [
        {
          "type": "menu"
        }
      ]
    }
  ]
}
{% endschema %}