{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign border_bottom = section.settings.border_bottom
  assign margin_top = section.settings.margin_top
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign show_type = section.settings.show_type

  assign transparent_bg = section.settings.transparent_bg

  assign layout_gap_mobile = section.settings.layout_gap_mobile
  assign layout_gap = section.settings.layout_gap

  assign logo = section.settings.logo
  assign second_logo = section.settings.second_logo
  assign logo_mobile = section.settings.logo_mobile
  assign second_logo_mobile = section.settings.second_logo_mobile
  assign logo_width = section.settings.logo_width
  assign logo_width_mobile = section.settings.logo_width_mobile
  assign logo_width_sidebar = section.settings.logo_width_sidebar

  assign name_size = section.settings.name_size
  assign name_size_mobile = section.settings.name_size_mobile
  assign name_color = section.settings.name_color
  assign name_hover_color = section.settings.name_hover_color
  assign name_hero_color = section.settings.name_hero_color
  assign name_hover_hero_color = section.settings.name_hover_hero_color
  assign name_custom = section.settings.name_custom
  assign name_font = section.settings.name_font
  assign name_height = section.settings.name_height

  assign main_padding_vertical = section.settings.main_padding_vertical
  assign main_padding_vertical_mobile = section.settings.main_padding_vertical_mobile
  assign main_padding_horizontal = section.settings.main_padding_horizontal
  assign main_padding_horizontal_mobile = section.settings.main_padding_horizontal_mobile
  assign main_radius = section.settings.main_radius
  assign main_border_thickness = section.settings.main_border_thickness
  assign main_border_color = section.settings.main_border_color
  assign main_bg_color = section.settings.main_bg_color

  assign menu = section.settings.menu

  assign list_gap_mobile = section.settings.list_gap_mobile
  assign list_gap = section.settings.list_gap
  assign sidebar_list_gap = section.settings.sidebar_list_gap
  assign sidebar_list_padding_vertical = section.settings.sidebar_list_padding_vertical
  assign sidebar_list_padding_vertical_mobile = section.settings.sidebar_list_padding_vertical_mobile

  assign link_size = section.settings.link_size
  assign sidebar_link_size = section.settings.sidebar_link_size
  assign link_size_mobile = section.settings.link_size_mobile
  assign link_color = section.settings.link_color
  assign link_hover_color = section.settings.link_hover_color
  assign link_hero_color = section.settings.link_hero_color
  assign link_hover_hero_color = section.settings.link_hover_hero_color
  assign link_custom = section.settings.link_custom
  assign link_font = section.settings.link_font
  assign link_height = section.settings.link_height

  assign menu_icon_size = section.settings.menu_icon_size
  assign menu_icon_size_mobile = section.settings.menu_icon_size_mobile

  assign sidebar_width = section.settings.sidebar_width
  assign sidebar_radius = section.settings.sidebar_radius
  assign sidebar_border_thickness = section.settings.sidebar_border_thickness
  assign sidebar_border_color = section.settings.sidebar_border_color
  assign sidebar_bg_color = section.settings.sidebar_bg_color
  assign sidebar_padding_vertical = section.settings.sidebar_padding_vertical
  assign sidebar_padding_vertical_mobile = section.settings.sidebar_padding_vertical_mobile
  assign sidebar_padding_horizontal = section.settings.sidebar_padding_horizontal
  assign sidebar_padding_horizontal_mobile = section.settings.sidebar_padding_horizontal_mobile

  assign bottom_text_size = section.settings.bottom_text_size
  assign bottom_text_size_mobile = section.settings.bottom_text_size_mobile
  assign bottom_text_color = section.settings.bottom_text_color
  assign bottom_text_custom = section.settings.bottom_text_custom
  assign bottom_text_font = section.settings.bottom_text_font
  assign bottom_text_height = section.settings.bottom_text_height

  assign socials_gap_mobile = section.settings.socials_gap_mobile
  assign socials_gap = section.settings.socials_gap

  assign social_icon_size = section.settings.social_icon_size
  assign social_icon_size_mobile = section.settings.social_icon_size_mobile
  assign social_icon_color = section.settings.social_icon_color
  assign social_icon_hover_color = section.settings.social_icon_hover_color

  assign right_gap_mobile = section.settings.right_gap_mobile
  assign right_gap = section.settings.right_gap

  assign right_link_size = section.settings.right_link_size
  assign right_link_color = section.settings.right_link_color
  assign right_link_hover_color = section.settings.right_link_hover_color
  assign right_link_hero_color = section.settings.right_link_hero_color
  assign right_link_hover_hero_color = section.settings.right_link_hover_hero_color
  assign right_link_custom = section.settings.right_link_custom
  assign right_link_font = section.settings.right_link_font
  assign right_link_height = section.settings.right_link_height

  assign icon_size_mobile = section.settings.icon_size_mobile
  assign icon_size = section.settings.icon_size  

  assign use_search = section.settings.use_search
  assign search_text  = section.settings.search_text
  assign search_icon_desktop  = section.settings.search_icon_desktop
  assign search_menu_mobile = section.settings.search_menu_mobile

  assign use_account = section.settings.use_account
  assign account_text  = section.settings.account_text
  assign account_icon_desktop  = section.settings.account_icon_desktop
  assign account_menu_mobile = section.settings.account_menu_mobile

  assign cart_text  = section.settings.cart_text
  assign cart_icon_desktop  = section.settings.cart_icon_desktop
  assign count_bg_color = section.settings.count_bg_color
  assign count_color = section.settings.count_color
  
-%}

{%- style -%}

  {{ link_font | font_face: font_display: 'swap' }}
  {{ name_font | font_face: font_display: 'swap' }}
  {{ bottom_text_font | font_face: font_display: 'swap' }}
  {{ right_link_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
  
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    position: relative;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }
  
  {% if transparent_bg == "all" %}
    .header-{{ section.id }}.transparent {
      background-color: transparent !important;
      background-image: none !important;
      position: absolute;
      width: calc(100% - {{margin_horizontal_mobile | times: 2 }}rem);
      top: 0;
      left: 0;
      z-index: 999;
    }
  {% elsif transparent_bg == "home"  %}
    {% if template.name == "index" %}
    .header-{{ section.id }}.transparent {
      background-color: transparent !important;
      background-image: none !important;
      position: absolute;
      width: calc(100% - {{margin_horizontal_mobile | times: 2 }}rem);
      top: 0;
      left: 0;
      z-index: 999;
    }
    {% endif %}
  {% endif %}

  .header-{{ section.id }}.onscroll {
    background-color:{{ background_color }} !important;
    background-image: {{ background_gradient }} !important;
    transition: all 0.25s ease 0s;
  }

  .header-{{ section.id }}.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - {{margin_horizontal_mobile | times: 2 }}rem);
    z-index: 999;
  }

  .header-{{ section.id }}.scroll {
    transform: translateY(-150%);
    transition: all 0.25s ease 0s;
  }

  .header-{{ section.id }}.scroll.active {
    transform: translateY(0);
    transition: all 0.25s ease 0s;
  }

  .header-body-{{ section.id }} {
    display: flex;
    align-items: center;
  }
      
  .header-main-{{ section.id }} {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    gap: {{ layout_gap_mobile }}px;
    flex: 1 1 auto;
    padding: {{ main_padding_vertical_mobile }}px {{ main_padding_horizontal_mobile }}px;
    border-radius: {{ main_radius }}px;
    border: {{ main_border_thickness }}px solid {{ main_border_color }};
    background-color: {{ main_bg_color }};
    transition: all 0.25s ease 0s;
  }

  {% if transparent_bg == "all" %}
    .header-{{ section.id }}:not(.onscroll).transparent .header-main-{{ section.id }} {
      border-color: transparent;
      background-color: transparent;
      transition: all 0.25s ease 0s;
    }
  {% elsif transparent_bg == "home"  %}
    {% if template.name == "index" %}
    .header-{{ section.id }}:not(.onscroll).transparent .header-main-{{ section.id }} {
      border-color: transparent;
      background-color: transparent;
      transition: all 0.25s ease 0s;
    }
    {% endif %}
  {% endif %}

  .header-menu-{{ section.id }} {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-menu-list-{{ section.id }} {
    padding: 0px;
    margin: 0px;
    display: none;
    align-items: center;
    gap: {{ list_gap_mobile }}px;
    list-style: none;
  }

  .header-sidebar-{{ section.id }} .header-menu-list-{{ section.id }} {
    display: flex;
    flex-direction: column;
    padding: {{ sidebar_list_padding_vertical_mobile }}px 0px;
    align-items: start;
  }

  .header-menu-item-{{ section.id }} {
    line-height: 100%;
  }

  .header-menu-link-{{ section.id }} {
    margin: 0;
    font-size: {{ link_size_mobile }}px;
    color: {{ link_color }};
    line-height: {{ link_height }}%;
    text-transform: unset;
    text-decoration: none;
    transition: all 0.25s ease 0s;
    font-weight: 400;
  }

  {% if transparent_bg == "all" %}
    .header-{{ section.id }}:not(.onscroll).transparent .header-menu-link-{{ section.id }} {
      color: {{ link_hero_color }};
    }
  {% elsif transparent_bg == "home"  %}
    {% if template.name == "index" %}
    .header-{{ section.id }}:not(.onscroll).transparent .header-menu-link-{{ section.id }} {
      color: {{ link_hero_color }};
    }
    {% endif %}
  {% endif %}

  .header-menu-item-icon-{{ section.id }} {
    display: block;
    flex: 0 0 8px;
    width: 8px;
    transition: all 0.25s ease 0s;
    color: {{ link_color }};
  }

  .header-menu-item-icon-{{ section.id }} svg path {
    stroke: {{ link_color }}
  }

  .header-menu-item-icon-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-menu-burger-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    width: {{ menu_icon_size_mobile }}px;
    height: {{ menu_icon_size_mobile }}px;
    border-radius: 100px;
    padding: 0px;
    overflow: hidden;
    background-color: rgba(26, 26, 26, 0.03);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: relative;
    z-index: 3;
    transition: all 0.25s ease 0s;
    cursor: pointer;
    border: 0px;
    box-shadow: none;
    flex-shrink: 0;
  }

  .header-menu-burger-icon-{{ section.id }} {
    display: block;
    width: 50%;
    height: 1px;
    position: relative;
    background-color: {{ link_color }};
    transition: background-color 0.25s ease 0s;
  }

  {% if transparent_bg == "all" %}
    .header-{{ section.id }}:not(.onscroll).transparent .header-menu-burger-icon-{{ section.id }} {
      background: {{ link_hero_color }};
    }

    .header-{{ section.id }}:not(.onscroll).transparent .header-menu-burger-{{ section.id }} {
      background-color: rgba(255, 255, 255, 0.08);
    }
  {% elsif transparent_bg == "home"  %}
    {% if template.name == "index" %}
      .header-{{ section.id }}:not(.onscroll).transparent .header-menu-burger-icon-{{ section.id }} {
        background: {{ link_hero_color }};
      }

      .header-{{ section.id }}:not(.onscroll).transparent .header-menu-burger-{{ section.id }} {
        background-color: rgba(255, 255, 255, 0.08);
      }
    {% endif %}
  {% endif %}

  .header-{{ section.id }}.open .header-menu-burger-icon-{{ section.id }} {
    transform: rotate(45deg);
  }

  .header-menu-burger-icon-{{ section.id }}::before,
  .header-menu-burger-icon-{{ section.id }}::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: {{ link_color }};
    transition: background-color 0.25s ease 0s;
  }

  .header-menu-burger-icon-{{ section.id }}::before {
    top: -4px;
  }

  .header-{{ section.id }}.open .header-menu-burger-icon-{{ section.id }}::before {
    top: 0;
    opacity: 0;
    width: 100%;
  }

  .header-menu-burger-icon-{{ section.id }}::after {
    bottom: -4px;
  }

  .header-{{ section.id }}.open .header-menu-burger-icon-{{ section.id }}::after {
    bottom: 0;
    transform: rotate(-90deg);
    width: 100%;
  }

  {% if transparent_bg == "all" %}
    .header-{{ section.id }}:not(.onscroll).transparent .header-menu-burger-icon-{{ section.id }}::before,
    .header-{{ section.id }}:not(.onscroll).transparent .header-menu-burger-icon-{{ section.id }}::after{
      background: {{ link_hero_color }};
    }
  {% elsif transparent_bg == "home"  %}
    {% if template.name == "index" %}
      .header-{{ section.id }}:not(.onscroll).transparent .header-menu-burger-icon-{{ section.id }}::before,
      .header-{{ section.id }}:not(.onscroll).transparent .header-menu-burger-icon-{{ section.id }}::after{
        background: {{ link_hero_color }};
      }
    {% endif %}
  {% endif %}

  .header-logo-{{ section.id }} {
    width: 100%;
    text-align: left;
    position: relative;
    z-index: 3;
    transition: all 0.25s ease 0s;
    max-width: fit-content;
  }

  .header-logo-wrapper-mobile-{{ section.id }} {
    display: flex;
  }

  .header-logo-wrapper-desktop-{{ section.id }} {
    display: none;
  }

  .header-logo-image-{{ section.id }} {
    max-width: {{ logo_width_mobile }}px;
  }

  .header-sidebar-{{ section.id }} .header-logo-image-{{ section.id }} {
    display: block;
    max-width: {{ logo_width_sidebar }}px;
  }

  .header-logo-image-{{ section.id }} img,
  .header-logo-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-logo-image-desktop-{{ section.id }} {
    display: none;
  }

  .header-logo-text-{{ section.id }} {
    margin: 0;
    font-size: {{ name_size_mobile }}px;
    color: {{ name_color }};
    line-height: {{ name_height }}%;
    text-transform: unset;
    text-decoration: none;
    transition: all 0.25s ease 0s;
    font-weight: 700;
    text-align: center;
  }

  {% if transparent_bg == "all" %}
    .header-{{ section.id }}:not(.onscroll).transparent .header-logo-text-{{ section.id }} {
      color: {{ name_hero_color }};
    }
  {% elsif transparent_bg == "home"  %}
    {% if template.name == "index" %}
      .header-{{ section.id }}:not(.onscroll).transparent .header-logo-text-{{ section.id }} {
        color: {{ name_hero_color }};
      }
    {% endif %}
  {% endif %}

  .header-{{ section.id }} .header-logo-first-{{ section.id }} {
    display: block !important;
  }

  .header-{{ section.id }} .header-logo-second-{{ section.id }} {
    display: none !important;
  }

  .header-{{ section.id }}:not(.onscroll).transparent .header-logo-first-{{ section.id }} {
    display: none !important;
  }

  .header-{{ section.id }}:not(.onscroll).transparent .header-sidebar-{{ section.id }} .header-logo-first-{{ section.id }} {
    display: block !important;
  }

  .header-{{ section.id }}:not(.onscroll).transparent .header-logo-second-{{ section.id }} {
    display: block !important;
  }

  .header-{{ section.id }}:not(.onscroll).transparent .header-sidebar-{{ section.id }} .header-logo-second-{{ section.id }} {
    display: none !important;
  }

  .header-right-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: {{ right_gap_mobile }}px;
    flex-wrap: nowrap;
    position: relative;
    z-index: 3;
    order: 3;
    transition: all 0.25s ease 0s;
  }

  .header-search-text-{{ section.id }},
  .header-account-text-{{ section.id }},
  .header-cart-text-{{ section.id }}{
    display: none;
    margin: 0;
    color: {{ right_link_color }};
    line-height: {{ right_link_height }}%;
    text-transform: unset;
    text-decoration: none;
    transition: all 0.25s ease;
  }

  .header-cart-{{ section.id }} .cart-count-bubble {
    padding: 0px;
    background-color: transparent;
    border: 0px;
    margin: 0px;
    width: fit-content;
    height: fit-content;
    position: static  !important;
    background-color: {{ count_bg_color }};
    padding: 6px;
    border-radius: 100px;
    overflow: hidden;
    right: -2px;
    top: -2px;
    aspect-ratio: 1/1;
  }

  .header-cart-{{ section.id }} .cart-count-bubble span {
    margin: 0;  
    font-size: {{ right_link_size | times: 0.75 | round: 0 }}px;
    color: {{ count_color }};
    line-height: {{ right_link_height }}%;
    text-transform: unset;
    text-decoration: none;
    transition: all .25s ease;
  }

  {% if transparent_bg == "all" %}
    .header-{{ section.id }}:not(.onscroll).transparent .header-search-text-{{ section.id }},
    .header-{{ section.id }}:not(.onscroll).transparent .header-account-text-{{ section.id }},
    .header-{{ section.id }}:not(.onscroll).transparent .header-cart-text-{{ section.id }} {
      color: {{ right_link_hero_color }};
    }
  {% elsif transparent_bg == "home"  %}
    {% if template.name == "index" %}
      .header-{{ section.id }}:not(.onscroll).transparent .header-search-text-{{ section.id }},
      .header-{{ section.id }}:not(.onscroll).transparent .header-account-text-{{ section.id }},
      .header-{{ section.id }}:not(.onscroll).transparent .header-cart-text-{{ section.id }} {
        color: {{ right_link_hero_color }};
      }
    {% endif %}
  {% endif %}

  .header-search-icon-{{ section.id }},
  .header-account-icon-{{ section.id }},
  .header-cart-icon-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    width: {{ icon_size_mobile }}px;
    height: {{ icon_size_mobile }}px;
    border-radius: 50%;
    background-color: rgba(26,26,26,0.03);
    backdrop-filter: blur(10px);
    -webit-backdrop-filter: blur(10px);
  }

  {% if transparent_bg == "all" %}
    .header-{{ section.id }}:not(.onscroll).transparent .header-search-icon-{{ section.id }},
    .header-{{ section.id }}:not(.onscroll).transparent .header-account-icon-{{ section.id }},
    .header-{{ section.id }}:not(.onscroll).transparent .header-cart-icon-{{ section.id }} {
      background-color: rgba(255,255,255,0.08);
    }
  {% elsif transparent_bg == "home"  %}
    {% if template.name == "index" %}
      .header-{{ section.id }}:not(.onscroll).transparent .header-search-icon-{{ section.id }},
      .header-{{ section.id }}:not(.onscroll).transparent .header-account-icon-{{ section.id }},
      .header-{{ section.id }}:not(.onscroll).transparent .header-cart-icon-{{ section.id }} {
        background-color: rgba(255,255,255,0.08);
      }
    {% endif %}
  {% endif %}

  .header-search-icon-{{ section.id }} svg,
  .header-account-icon-{{ section.id }} svg,
  .header-cart-icon-{{ section.id }} svg {
    display: block;
    width: 50%;
  }

  .header-search-icon-{{ section.id }} svg path,
  .header-account-icon-{{ section.id }} svg path {
    stroke: {{ right_link_color }};
    transition: all .25s ease;
  }

  .header-cart-icon-{{ section.id }} svg path {
    stroke: {{ right_link_color }};
    transition: all .25s ease;
  }

  {% if transparent_bg == "all" %}
    .header-{{ section.id }}:not(.onscroll).transparent .header-search-icon-{{ section.id }} svg path,
    .header-{{ section.id }}:not(.onscroll).transparent .header-account-icon-{{ section.id }} svg path {
      stroke: {{ right_link_hero_color }};
    }

    .header-{{ section.id }}:not(.onscroll).transparent .header-cart-icon-{{ section.id }} svg path {
      stroke: {{ right_link_hero_color }}
    }
  {% elsif transparent_bg == "home"  %}
    {% if template.name == "index" %}
      .header-{{ section.id }}:not(.onscroll).transparent .header-search-icon-{{ section.id }} svg path,
      .header-{{ section.id }}:not(.onscroll).transparent .header-account-icon-{{ section.id }} svg path {
        stroke: {{ right_link_hero_color }};
      }

      .header-{{ section.id }}:not(.onscroll).transparent .header-cart-icon-{{ section.id }} svg path {
        stroke: {{ right_link_hero_color }}
      }
    {% endif %}
  {% endif %}
  
  .header-cart-{{ section.id }},
  .header-account-{{ section.id }} {
    text-decoration: none;
  }
  
  .header-search-{{ section.id }} {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: 0px;
    box-shadow: none;
    cursor: pointer;
    text-decoration: none;
  }

  .header-cart-{{ section.id }} {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
  }

  {% if cart_icon_desktop %}
    .header-cart-{{ section.id }} .cart-count-bubble {
      margin-left: -10px;
      z-index: 2;
    }

    .header-cart-{{ section.id }} {
      gap: 0px;
      align-items: start;
    }
  {% endif %}

  .header-sidebar-{{ section.id }} {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.25s ease 0s;
    z-index: 99;
    padding: 40px 40px 40px 0px;
    transition: all 0.25s ease 0s;
    opacity: 0;
    pointer-events: none;
  }

  .header-{{ section.id }}.open .header-sidebar-{{ section.id }} {
    align-items: stretch;
    display: flex;
    pointer-events: all;
    opacity: 1;
    transition: all 0.25s ease 0s;
  }

  .header-sidebar-inner-{{ section.id }} {
    background-color: {{ sidebar_bg_color }};
    border-top-right-radius: {{ sidebar_radius }}px;
    border-bottom-right-radius: {{ sidebar_radius }}px;
    border: {{ sidebar_border_thickness }}px solid {{ sidebar_border_color }};
    border-left: 0px;
    max-width: 100%;
    width: 100%;
    padding: {{ sidebar_padding_vertical_mobile }}px {{ sidebar_padding_horizontal_mobile }}px;
    position: relative;
    overflow: hidden;
    transform: translateX(-120%);
    transition: all 0.25s ease 0s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header-sidebar-menu-list-{{ section.id }} {
    overflow-y: auto;
    scrollbar-width: none;
  }

  .header-sidebar-menu-list-{{ section.id }}::-webkit-scrollbar {
    display: none;
  }

  .header-{{ section.id }}.open .header-sidebar-inner-{{ section.id }} {
    transform:translateX(0%);
    transition: all 0.25s ease 0.25s;
  }

  .header-sidebar-{{ section.id }} .header-menu-item-{{ section.id }} {
    max-width: 100%;
    width: 100%;
    position: static;
  }

  .header-sidebar-top-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .header-sidebar-{{ section.id }} .header-logo-first-{{ section.id }} {
    display: block !important;
  }

  .header-sidebar-{{ section.id }} .header-logo-second-{{ section.id }} {
    display: none !important;
  }

  .header-sidebar-{{ section.id }} .header-logo-text-{{ section.id }} {
    color: {{ name_color }} !important;
  }

  .header-sidebar-{{ section.id }} .header-menu-burger-{{ section.id }} {
    background-color: rgba(26,26,26,0.03) !important;
  }

  .header-sidebar-{{ section.id }} .header-menu-burger-icon-{{ section.id }},
  .header-sidebar-{{ section.id }} .header-menu-burger-icon-{{ section.id }}:after,
  .header-sidebar-{{ section.id }} .header-menu-burger-icon-{{ section.id }}:before {
    background-color: {{ link_color }} !important;
  }

  .header-sidebar-{{ section.id }} .header-search-{{ section.id }} {
    margin-left: auto;
  }

  .header-sidebar-{{ section.id }} .header-search-icon-{{ section.id }} {
    background-color: rgba(26,26,26,0.03) !important;
  }

  .header-sidebar-{{ section.id }} .header-search-icon-{{ section.id }} svg path {
    stroke: {{ right_link_color }} !important;
  }

  .header-sidebar-{{ section.id }} .header-search-text-{{ section.id }} {
    color: {{ right_link_color }} !important;
  }

  .header-sidebar-{{ section.id }} .header-menu-link-{{ section.id }} {
     color: {{ link_color }} !important;
  }

  .header-sidebar-top-{{ section.id }} .header-search-{{ section.id }} {
    display: none;
  }

  .header-logo-desktop-{{ section.id }} {
    display: none;
  }

  .header-menu-sublinks-{{ section.id }} {
    padding: 0;
    padding-top: {{ list_gap_mobile | times: 1 }}px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: {{ list_gap_mobile }}px;
    margin-left:3px;
  }

  .header-menu-sublinks-{{ section.id }} .header-menu-link-{{ section.id }} {
    font-weight: 400;
  }

  .header-menu-link-wrapper-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: fit-content;
    gap: 20px;
    cursor: pointer;
  }

  .header-menu-link-open-{{ section.id }} {
    width: 13px;
    flex-shrink: 0;
    transition: all 0.25s ease 0s;
  }

  .header-menu-link-open-{{ section.id }}.active {
    transform: rotate(180deg);
    transition: all 0.25s ease 0s;
  }

  .header-menu-link-open-{{ section.id }} path {
    fill: {{ link_color }};
  }

  .header-sidebar-bottom-{{ section.id }} {
    display: flex !important;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header-sidebar-socials-{{ section.id }} {
    display: flex;
    align-items: center;
    gap: {{ socials_gap_mobile }}px;
    flex-wrap: wrap;
  }

  .header-sidebar-social-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: {{ social_icon_size_mobile }}px;
    height: {{ social_icon_size_mobile }}px;
    flex-shrink: 0;
    background-color: rgba(26,26,26, 0.03);
    border-radius: 100px;
    overflow: hidden;
    padding: 0px;
  }

  .header-sidebar-social-{{ section.id }} svg {
    display: block;
    width: 50%;
    height: 50%;
  }

  .header-sidebar-social-{{ section.id }} svg path {
    fill: {{ social_icon_color }};
  }

  .header-sidebar-bottom-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ bottom_text_size_mobile }}px;
    color: {{ bottom_text_color }};
    line-height: {{ bottom_text_height }}%;
    text-transform: unset;
    text-decoration: none;
  }

  .header-menu-list-desktop-{{ section.id }} {
    display: none !important;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
      border-top: solid {{ border_color }} {{ border_thickness }}px;
      border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .header-{{ section.id }}.transparent {
      width: calc(100% - {{ margin_horizontal | times: 2 }}rem);
    }
  
    .header-{{ section.id }}.fixed {
      width: calc(100% - {{ margin_horizontal | times: 2 }}rem);
    }

    .header-body-{{ section.id }} {
      gap: {{ layout_gap }}px;
    }

    .header-main-{{ section.id }} {
      display: flex;
      justify-content: space-between;
      padding: {{ main_padding_vertical }}px {{ main_padding_horizontal }}px;
      gap: 20px;
    }

    .header-menu-{{ section.id }} {
       gap: 20px;
    }

    .header-menu-burger-{{ section.id }} {
      width: {{ menu_icon_size }}px;
      height: {{ menu_icon_size }}px;
    }

    .header-menu-burger-{{ section.id }}:hover .header-menu-burger-icon-{{ section.id }},
    .header-menu-burger-{{ section.id }}:hover .header-menu-burger-icon-{{ section.id }}:after,
    .header-menu-burger-{{ section.id }}:hover .header-menu-burger-icon-{{ section.id }}:before {
      background-color: {{ link_hover_color }};
    }

    {% if transparent_bg == "all" %}
      .header-{{ section.id }}:not(.onscroll).transparent .header-menu-burger-{{ section.id }}:hover .header-menu-burger-icon-{{ section.id }},
      .header-{{ section.id }}:not(.onscroll).transparent .header-menu-burger-{{ section.id }}:hover .header-menu-burger-icon-{{ section.id }}:after,
      .header-{{ section.id }}:not(.onscroll).transparent .header-menu-burger-{{ section.id }}:hover .header-menu-burger-icon-{{ section.id }}:before {
        background-color: {{ link_hover_hero_color }};
      }
    {% elsif transparent_bg == "home"  %}
      {% if template.name == "index" %}
        .header-{{ section.id }}:not(.onscroll).transparent .header-menu-burger-{{ section.id }}:hover .header-menu-burger-icon-{{ section.id }},
        .header-{{ section.id }}:not(.onscroll).transparent .header-menu-burger-{{ section.id }}:hover .header-menu-burger-icon-{{ section.id }}:after,
        .header-{{ section.id }}:not(.onscroll).transparent .header-menu-burger-{{ section.id }}:hover .header-menu-burger-icon-{{ section.id }}:before{
          background-color: {{ link_hover_hero_color }};
        }
      {% endif %}
    {% endif %}

    .header-menu-list-{{ section.id }} {
      display: flex;
      gap: {{ list_gap }}px;
    }

    .header-menu-link-{{ section.id }} {
      font-size: {{ link_size }}px;
      transition: all 0.25s ease;
    }

    .header-menu-item-{{ section.id }}:hover > .header-menu-link-{{ section.id }} {
      transition: all 0.25s ease;
      color: {{ link_hover_color }};
    }

    .header-submenu-{{ section.id }} .header-menu-item-{{ section.id }}::after {
      display: none;
    }

    {% if transparent_bg == "all" %}
      .header-{{ section.id }}:not(.onscroll).transparent .header-menu-item-{{ section.id }}:hover > .header-menu-link-{{ section.id }}{
        color: {{ link_hover_hero_color }};
      }
    {% elsif transparent_bg == "home"  %}
      {% if template.name == "index" %}
        .header-{{ section.id }}:not(.onscroll).transparent .header-menu-item-{{ section.id }}:hover > .header-menu-link-{{ section.id }}{
          color: {{ link_hover_hero_color }};
        }
      {% endif %}
    {% endif %}

    .header-logo-wrapper-mobile-{{ section.id }} {
      display: none;
    }

    .header-logo-wrapper-desktop-{{ section.id }} {
      display: flex;
    }

    .header-logo-image-{{ section.id }} {
      max-width: {{ logo_width }}px;
    }

    .header-logo-image-desktop-{{ section.id }} {
      display: block;
    }

    .header-logo-image-mobile-{{ section.id }} {
      display: none;
    }

    .header-logo-text-{{ section.id }} {
      font-size: {{ name_size }}px;
      transition: all 0.25s ease;
      text-align: left;
    }    
    
    {% if transparent_bg == "all" %}
      .header-{{ section.id }}:not(.onscroll).transparent .header-menu-item-{{ section.id }}:hover .header-menu-item-icon-{{ section.id }} {
        color: {{ link_hover_hero_color }} !important;
        transition: all 0.25s ease 0s;
      }
    {% elsif transparent_bg == "home"  %}
      {% if template.name == "index" %}
        .header-{{ section.id }}:not(.onscroll).transparent .header-menu-item-{{ section.id }}:hover .header-menu-item-icon-{{ section.id }} {
          color: {{ link_hover_hero_color }} !important;
          transition: all 0.25s ease 0s;
        }
      {% endif %}
    {% endif %}

    .header-search-icon-{{ section.id }}:hover svg path,
    .header-account-icon-{{ section.id }}:hover svg path,
    .header-cart-icon-{{ section.id }}:hover svg path {
      stroke: {{ right_link_hover_color }};
      transition: all .25s ease;
    }

    .header-logo-text-{{ section.id }}:hover {
      transition: all 0.25s ease;
      color: {{ name_hover_color }};
    }

    {% if transparent_bg == "all" %}
      .header-{{ section.id }}:not(.onscroll).transparent .header-logo-text-{{ section.id }}:hover {
        color: {{ name_hover_hero_color }}!important;
      }
    {% elsif transparent_bg == "home"  %}
      {% if template.name == "index" %}
        .header-{{ section.id }}:not(.onscroll).transparent .header-logo-text-{{ section.id }}:hover {
          color: {{ name_hover_hero_color }}!important;
        }
      {% endif %}
    {% endif %}

    .header-right-{{ section.id }} {
      gap: {{ right_gap }}px;
      order: 3;
    }

    .header-search-text-{{ section.id }},
    .header-account-text-{{ section.id }},
    .header-cart-text-{{ section.id }} {
      display: inline;
      font-size: {{ right_link_size }}px;
    }

    .header-search-text-{{ section.id }}:hover,
    .header-account-text-{{ section.id }}:hover,
    .header-cart-text-{{ section.id }}:hover {
      transition: all .25s ease;
      color: {{ right_link_hover_color }}!important;
    }

    {% if transparent_bg == "all" %}
      .header-{{ section.id }}:not(.onscroll).transparent .header-search-text-{{ section.id }}:hover,
      .header-{{ section.id }}:not(.onscroll).transparent .header-account-text-{{ section.id }}:hover,
      .header-{{ section.id }}:not(.onscroll).transparent .header-cart-text-{{ section.id }}:hover {
        color: {{ right_link_hover_hero_color }}!important;
      }
    {% elsif transparent_bg == "home"  %}
      {% if template.name == "index" %}
        .header-{{ section.id }}:not(.onscroll).transparent .header-search-text-{{ section.id }}:hover,
        .header-{{ section.id }}:not(.onscroll).transparent .header-account-text-{{ section.id }}:hover,
        .header-{{ section.id }}:not(.onscroll).transparent .header-cart-text-{{ section.id }}:hover {
          color: {{ right_link_hover_hero_color }}!important;
        }
      {% endif %}
    {% endif %}

    .header-search-icon-{{ section.id }},
    .header-account-icon-{{ section.id }},
    .header-cart-icon-{{ section.id }} {
      display: none;
      width: {{ icon_size }}px;
      height: {{ icon_size }}px;
    }

    .header-search-icon-{{ section.id }}:hover svg path,
    .header-account-icon-{{ section.id }}:hover svg path {
      stroke: {{ right_link_hover_color }};
      transition: all .25s ease;
    }

    .header-cart-icon-{{ section.id }}:hover svg path {
      stroke: {{ right_link_hover_color }};
    }

    {% if transparent_bg == "all" %}
      .header-{{ section.id }}:not(.onscroll).transparent .header-search-icon-{{ section.id }}:hover svg path,
      .header-{{ section.id }}:not(.onscroll).transparent .header-account-icon-{{ section.id }}:hover svg path {
        stroke: {{ right_link_hover_hero_color }};
      }

      .header-{{ section.id }}:not(.onscroll).transparent .header-cart-icon-{{ section.id }}:hover svg path {
        stroke: {{ right_link_hover_hero_color }};
      }
    {% elsif transparent_bg == "home"  %}
      {% if template.name == "index" %}
        .header-{{ section.id }}:not(.onscroll).transparent .header-search-icon-{{ section.id }}:hover svg path,
        .header-{{ section.id }}:not(.onscroll).transparent .header-account-icon-{{ section.id }}:hover svg path {
          stroke: {{ right_link_hover_hero_color }};
        }
        .header-{{ section.id }}:not(.onscroll).transparent .header-cart-icon-{{ section.id }}:hover svg path {
          stroke: {{ right_link_hover_hero_color }};
        }
      {% endif %}
    {% endif %}

    .header-cart-{{ section.id }} .cart-count-bubble {
      right: -10px;
      top: -10px;
      padding: 8px;
     }

    .header-cart-{{ section.id }} .cart-count-bubble span {
      font-size: {{ right_link_size | times: 0.75 | round: 0 }}px;
    }

    .header-logo-desktop-{{ section.id }} {
      display: block;
    }

    .header-logo-mobile-{{ section.id }} {
      display: none;
    }

    .header-menu-list-mobile-{{ section.id }} {
      display: none !important;
    }

    .header-menu-list-desktop-{{ section.id }} {
      display: flex !important;
    }

    .header-sidebar-inner-{{ section.id }} {
      max-width: {{ sidebar_width }}%;
      padding: {{ sidebar_padding_vertical }}px {{ sidebar_padding_horizontal }}px;
    }

    .header-sidebar-{{ section.id }} .header-search-icon-{{ section.id }}:hover svg path {
      stroke: {{ right_link_hover_color }} !important;
    }
  
    .header-sidebar-{{ section.id }} .header-search-text-{{ section.id }}:hover {
      color: {{ right_link_hover_color }} !important;
    }

    .header-sidebar-{{ section.id }} .header-menu-burger-{{ section.id }}:hover .header-menu-burger-icon-{{ section.id }},
    .header-sidebar-{{ section.id }} .header-menu-burger-{{ section.id }}:hover .header-menu-burger-icon-{{ section.id }}:after,
    .header-sidebar-{{ section.id }} .header-menu-burger-{{ section.id }}:hover .header-menu-burger-icon-{{ section.id }}:before {
      background-color: {{ link_hover_color }} !important
    }

    .header-sidebar-top-{{ section.id }} {
      justify-content: start;
    }

    .header-sidebar-top-{{ section.id }} .header-search-{{ section.id }} {
      display: flex;
    }

    .header-sidebar-{{ section.id }} .header-menu-list-{{ section.id }} {
      padding: {{ sidebar_list_padding_vertical }}px 0px;
      gap: {{ sidebar_list_gap }}px;
    }

    .header-sidebar-{{ section.id }} .header-menu-link-{{ section.id }} {
      font-size: {{ sidebar_link_size }}px;
    }

    .header-sidebar-{{ section.id }} .header-menu-link-{{ section.id }}:hover {
       color: {{ link_hover_color }} !important;
    }

    .header-sidebar-bottom-text-{{ section.id }} * {
      font-size: {{ bottom_text_size }}px;
    }

    .header-sidebar-socials-{{ section.id }} {
      gap: {{ socials_gap }}px;
    }

    .header-sidebar-social-{{ section.id }} {
      width: {{ social_icon_size }}px;
      height: {{ social_icon_size }}px;
    }

    .header-sidebar-social-{{ section.id }}:hover svg path {
      fill: {{ social_icon_hover_color }};
    }

  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if link_custom %}
  <style>
    .header-menu-link-{{ section.id }} {
      font-family: {{ link_font.family }}, {{ link_font.fallback_families }};
      font-weight: {{ link_font.weight }};
      font-style: {{ link_font.style }};
    }
  </style>
{% endif %}

{% if name_custom %}
  <style>
    .header-logo-text-{{ section.id }} {
      font-family: {{ name_font.family }}, {{ name_font.fallback_families }};
      font-weight: {{ name_font.weight }};
      font-style: {{ name_font.style }};
    }
  </style>
{% endif %}

{% if bottom_text_custom %}
  <style>
    .header-sidebar-bottom-text-{{ section.id }} *{
      font-family: {{ bottom_text_font.family }}, {{ bottom_text_font.fallback_families }};
      font-weight: {{ bottom_text_font.weight }};
      font-style: {{ bottom_text_font.style }};
    }
  </style>
{% endif %}

{% if right_link_custom %}
  <style>
    .header-search-text-{{ section.id }},
    .header-account-text-{{ section.id }},
    .header-cart-text-{{ section.id }} {
      font-family: {{ right_link_font.family }}, {{ right_link_font.fallback_families }};
      font-weight: {{ right_link_font.weight }};
      font-style: {{ right_link_font.style }};
    }
  </style>
{% endif %}

{% if border_bottom %}
  <style>
    .section-{{ section.id }} {
      border-top: 0px;
    }
  </style>
{% endif %}

{% if search_icon_desktop %}
  <style>
    @media(min-width: 1024px) {
      .header-search-icon-{{ section.id }} {
        display: flex;
      }

      .header-search-text-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if account_icon_desktop %}
  <style>
    @media(min-width: 1024px) {
      .header-account-icon-{{ section.id }} {
        display: flex;
      }

      .header-account-text-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if cart_icon_desktop %}
  <style>
    @media(min-width: 1024px) {
      .header-cart-icon-{{ section.id }} {
        display: flex;
      }

      .header-cart-text-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if search_menu_mobile %}
  <style>
    .header-right-{{ section.id }} .header-search-{{ section.id }},
    .header-menu-{{ section.id }} > .header-search-{{ section.id }}{
      display: none;
    }

    @media(min-width: 1024px) {
      .header-right-{{ section.id }} .header-search-{{ section.id }},
      .header-menu-{{ section.id }} > .header-search-{{ section.id }}{
        display: flex;
      }
    }
  </style>
{% endif %}

{% if account_menu_mobile %}
  <style>
    .header-right-{{ section.id }} .header-account-{{ section.id }} {
      display: none;
    }

    @media(min-width: 1024px) {
      .header-right-{{ section.id }} .header-account-{{ section.id }} {
        display: flex;
      }
    }
  </style>
{% endif %}

{% comment %} FOR FREE THEMES{% endcomment %}
{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{%- endif -%}
{% comment %} FOR FREE THEMES{% endcomment %}

<div class="section-{{ section.id }} header-{{ section.id }} {% if transparent_bg %}transparent{% endif %} {% if show_type == "always" %}fixed{% elsif show_type == "scroll_up" %}scroll active fixed{% else %}top{% endif %}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="header-body-{{ section.id }}">
        <div class="header-logo-{{ section.id }} header-logo-wrapper-desktop-{{ section.id }}">
          {% if logo != blank %}
            <a href="{{ shop.url }}" class="header-logo-image-{{ section.id }} {% if logo_mobile != blank %}header-logo-desktop-{{ section.id }}{% endif %}">
              <img src="{{ logo | image_url }}" alt="{{ logo.alt }}" {% if lazy %}loading="lazy"{% endif %} {% if second_logo != blank %}class="header-logo-first-{{ section.id }}"{% endif %}>
              {% if second_logo != blank %}
                <img src="{{ second_logo | image_url }}" alt="{{ second_logo.alt }}" {% if lazy %}loading="lazy"{% endif %} class="header-logo-second-{{ section.id }}">
              {% endif %}
            </a>
            {% if logo_mobile != blank %}
              <a href="{{ shop.url }}" class="header-logo-image-{{ section.id }} header-logo-mobile-{{ section.id }}">
                <img src="{{ logo_mobile | image_url }}" alt="{{ logo_mobile.alt }}" {% if lazy %}loading="lazy"{% endif %} {% if second_logo_mobile != blank %}class="header-logo-first-{{ section.id }}"{% endif %}>
                {% if second_logo_mobile != blank %}
                  <img src="{{ second_logo_mobile | image_url }}" alt="{{ second_logo_mobile.alt }}" {% if lazy %}loading="lazy"{% endif %} class="header-logo-second-{{ section.id }}">
                {% endif %}
              </a>
            {% endif %}
          {% else %}
            <a href="{{ shop.url }}" class="header-logo-text-{{ section.id }}">{{ shop.name }}</a>
          {% endif %}
        </div>

        <div class="header-main-{{ section.id }}">

          <nav class="header-menu-{{ section.id }}">
            {% for block in section.blocks %}
              <button class="header-menu-burger-{{ section.id }}">
                <span class="header-menu-burger-icon-{{ section.id }}"></span>
              </button>

              {% if use_search %}
                <a href="{{ routes.search_url }}" class="header-search-{{ section.id }}">
                  <span class="header-search-icon-{{ section.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="#121212" height="16" width="16"><path d="m10.558125 10.575000000000001 1.925 1.925m-0.555625 -5.261875c0 2.6168750000000003 -2.114375 4.738125 -4.721875 4.738125 -2.6081250000000002 0 -4.7225 -2.12125 -4.7225 -4.7375C2.483125 4.6206249999999995 4.5975 2.5 7.205 2.5c2.6081250000000002 0 4.7225 2.12125 4.7225 4.738125" stroke-width="1"></path></svg>
                  </span>
                  <span class="header-search-text-{{ section.id }}">{{ search_text }}</span>
                </a>
              {% endif %}
  
              <div class="header-sidebar-{{ section.id }}">
                <div class="header-sidebar-inner-{{ section.id }}">
                  <div class="header-sidebar-top-{{ section.id }}">
                    <div class="header-logo-{{ section.id }}">
                      {% if logo != blank %}
                        <a href="{{ shop.url }}" class="header-logo-image-{{ section.id }} {% if logo_mobile != blank %}header-logo-desktop-{{ section.id }}{% endif %}">
                          <img src="{{ logo | image_url }}" alt="{{ logo.alt }}" {% if lazy %}loading="lazy"{% endif %} {% if second_logo != blank %}class="header-logo-first-{{ section.id }}"{% endif %}>
                          {% if second_logo != blank %}
                            <img src="{{ second_logo | image_url }}" alt="{{ second_logo.alt }}" {% if lazy %}loading="lazy"{% endif %} class="header-logo-second-{{ section.id }}">
                          {% endif %}
                        </a>
                        {% if logo_mobile != blank %}
                          <a href="{{ shop.url }}" class="header-logo-image-{{ section.id }} header-logo-mobile-{{ section.id }}">
                            <img src="{{ logo_mobile | image_url }}" alt="{{ logo_mobile.alt }}" {% if lazy %}loading="lazy"{% endif %} {% if second_logo_mobile != blank %}class="header-logo-first-{{ section.id }}"{% endif %}>
                            {% if second_logo_mobile != blank %}
                              <img src="{{ second_logo_mobile | image_url }}" alt="{{ second_logo_mobile.alt }}" {% if lazy %}loading="lazy"{% endif %} class="header-logo-second-{{ section.id }}">
                            {% endif %}
                          </a>
                        {% endif %}
                      {% else %}
                        <a href="{{ shop.url }}" class="header-logo-text-{{ section.id }}">{{ shop.name }}</a>
                      {% endif %}
                    </div>

                    <button class="header-menu-burger-{{ section.id }}">
                      <span class="header-menu-burger-icon-{{ section.id }}"></span>
                    </button>

                    {% if use_search %}
                      <a href="{{ routes.search_url }}" class="header-search-{{ section.id }}">
                        <span class="header-search-icon-{{ section.id }}">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="#121212" height="16" width="16"><path d="m10.558125 10.575000000000001 1.925 1.925m-0.555625 -5.261875c0 2.6168750000000003 -2.114375 4.738125 -4.721875 4.738125 -2.6081250000000002 0 -4.7225 -2.12125 -4.7225 -4.7375C2.483125 4.6206249999999995 4.5975 2.5 7.205 2.5c2.6081250000000002 0 4.7225 2.12125 4.7225 4.738125" stroke-width="1"></path></svg>
                        </span>
                        <span class="header-search-text-{{ section.id }}">{{ search_text }}</span>
                      </a>
                    {% endif %}
                  </div>
                  {% if block.settings.mobile_menu != blank %}
                    <ul class="header-menu-list-{{ section.id }} header-sidebar-menu-list-{{ section.id }} header-menu-list-mobile-{{ section.id }}">
                      {% for link in block.settings.mobile_menu.links %}
                        <li class="header-menu-item-{{ section.id }}">
                          {% if link.links.size > 0 %}                      
                            <div class="header-menu-link-wrapper-{{ section.id }}">
                              <a href="{{ link.url }}" class="header-menu-link-{{ section.id }}">
                                {{ link.title }}
                              </a>
                              <svg class="header-menu-link-open-{{ section.id }}" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z" class=""></path>
                              </svg>
                            </div>        
                            <div class="header-mobile-submenu-{{ section.id }}">
                              <ul class="header-menu-sublinks-{{ section.id }}">
                                {% for child_link in link.links %}
                                  <li class="header-menu-item-{{ section.id }}">
                                    <a href="{{ child_link.url }}" class="header-menu-link-{{ section.id }}">{{ child_link.title }}</a>
                                  </li>
                                {% endfor %}
                              </ul>  
                            </div>         
                          
                          {% else %}
                            <a href="{{ link.url }}" class="header-menu-link-{{ section.id }}">{{ link.title }}</a>
                          {% endif %}
                        </li>
                      {% endfor %}
                      {% if use_search and search_menu_mobile %}
                         <li class="header-menu-item-{{ section.id }}">
                           <a href="{{ routes.search_url }}" class="header-menu-link-{{ section.id }}">{{ search_text }}</a>
                         </li>
                      {% endif %}
                      {% if use_account and account_menu_mobile %}
                         <li class="header-menu-item-{{ section.id }}">
                           <a href="{{ routes.account_url }}" class="header-menu-link-{{ section.id }}">{{ account_text }}</a>
                         </li>
                      {% endif %}
                    </ul> 
                  {% endif %}
                  {% if block.settings.menu != blank %}
                    <ul class="header-menu-list-{{ section.id }} header-sidebar-menu-list-{{ section.id }} header-menu-list-desktop-{{ section.id }}">
                      {% for link in block.settings.menu.links %}
                        <li class="header-menu-item-{{ section.id }}">
                          {% if link.links.size > 0 %}                      
                            <div class="header-menu-link-wrapper-{{ section.id }}">
                              <a href="{{ link.url }}" class="header-menu-link-{{ section.id }}">
                                {{ link.title }}
                              </a>
                              <svg class="header-menu-link-open-{{ section.id }}" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z" class=""></path>
                              </svg>
                            </div>        
                            <div class="header-mobile-submenu-{{ section.id }}">
                              <ul class="header-menu-sublinks-{{ section.id }}">
                                {% for child_link in link.links %}
                                  <li class="header-menu-item-{{ section.id }}">
                                    <a href="{{ child_link.url }}" class="header-menu-link-{{ section.id }}">{{ child_link.title }}</a>
                                  </li>
                                {% endfor %}
                              </ul>  
                            </div>         
                          
                          {% else %}
                            <a href="{{ link.url }}" class="header-menu-link-{{ section.id }}">{{ link.title }}</a>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul> 
                  {% endif %}
                  <div class="header-sidebar-bottom-{{ section.id }}">
                    {% if block.settings.bottom_text != blank %}
                      <div class="header-sidebar-bottom-text-{{ section.id }}">
                        {{ block.settings.bottom_text }}
                      </div>
                    {% endif %}

                    <div class="header-sidebar-socials-{{ section.id }}">
                      {% if block.settings.instagram !=  blank %}
                        <a href="{{ block.settings.instagram }}" class="header-sidebar-social-{{ section.id }}">
                          <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z"></path>
                          </svg>
                        </a>
                      {% endif %}
                      {% if block.settings.facebook != blank %}
                        <a class="header-sidebar-social-{{ section.id }}" href="{{ block.settings.facebook }}">
                          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 18" fill="none" class="w-16 h-16">
                              <path d="M5.15 17.14h-3.1v-8.5H0V5.72h2.06V3.99c0-2.4.62-3.85 3.35-3.85h2.27v2.94H6.26c-1.06 0-1.11.4-1.11 1.16v1.47H7.7l-.3 2.93H5.14v8.5Z" fill="currentColor"></path>
                          </svg>
                        </a>
                      {% endif %}
                      {% if block.settings.twitter != blank %}
                        <a class="header-sidebar-social-{{ section.id }}" href="{{ block.settings.twitter }}">
                          <svg alt="" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19 9.5C19 14.7467 14.7467 19 9.5 19C4.25329 19 0 14.7467 0 9.5C0 4.25329 4.25329 0 9.5 0C14.7467 0 19 4.25329 19 9.5ZM8.18721 10.0675L3.64633 3.99603H7.14609L10.123 7.97639L13.8073 3.99603H14.8358L10.5825 8.59099L15.379 15.0039H11.8792L8.64689 10.6819L4.6462 15.0039H3.61771L8.18721 10.0675ZM6.76655 4.75353H5.15877L12.2586 14.2464H13.8663L6.76655 4.75353Z" fill="{{ footer_border_color }}"></path>
                          </svg>
                        </a>
                      {% endif %}
                      {% if block.settings.linkedin != blank %}
                        <a class="header-sidebar-social-{{ section.id }}" href="{{ block.settings.linkedin }}">
                          <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M1.82 0C.82 0 0 .82 0 1.82v12.36C0 15.18.82 16 1.82 16h12.36c1 0 1.82-.82 1.82-1.82V1.82c0-1-.82-1.82-1.82-1.82H1.82Zm0 1.45h12.36c.2 0 .37.16.37.37v12.36c0 .2-.16.37-.37.37H1.82a.36.36 0 0 1-.37-.37V1.82c0-.2.16-.37.37-.37ZM3.95 2.7a1.25 1.25 0 1 0 0 2.5 1.25 1.25 0 0 0 0-2.5Zm6.57 3.32c-1.04 0-1.73.57-2.02 1.12h-.05v-.96H6.41v6.91h2.14V9.7c0-.9.17-1.78 1.3-1.78 1.09 0 1.1 1.02 1.1 1.82v3.36h2.14V9.3c0-1.85-.4-3.27-2.57-3.27Zm-7.61.16v6.91h2.16V6.2H2.9Z" fill="currentColor"></path>
                          </svg>
                        </a>
                      {% endif %}
                      {% if block.settings.youtube != blank %}
                        <a class="header-sidebar-social-{{ section.id }}" href="{{ block.settings.youtube }}">
                          <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M23.499 6.203a3.008 3.008 0 00-2.089-2.089c-1.87-.501-9.4-.501-9.4-.501s-7.509-.01-9.399.501a3.008 3.008 0 00-2.088 2.09A31.258 31.26 0 000 12.01a31.258 31.26 0 00.523 5.785 3.008 3.008 0 002.088 2.089c1.869.502 9.4.502 9.4.502s7.508 0 9.399-.502a3.008 3.008 0 002.089-2.09 31.258 31.26 0 00.5-5.784 31.258 31.26 0 00-.5-5.808zm-13.891 9.4V8.407l6.266 3.604z"></path>
                          </svg>
                        </a>
                      {% endif %}
                      {% if block.settings.pinterest != blank %}
                        <a class="header-sidebar-social-{{ section.id }}" href="{{ block.settings.pinterest }}">
                          <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.017 0C5.396 0 .029 5.367.029 11.987c0 5.079 3.158 9.417 7.618 11.162-.105-.949-.199-2.403.041-3.439.219-.937 1.406-5.957 1.406-5.957s-.359-.72-.359-1.781c0-1.663.967-2.911 2.168-2.911 1.024 0 1.518.769 1.518 1.688 0 1.029-.653 2.567-.992 3.992-.285 1.193.6 2.165 1.775 2.165 2.128 0 3.768-2.245 3.768-5.487 0-2.861-2.063-4.869-5.008-4.869-3.41 0-5.409 2.562-5.409 5.199 0 1.033.394 2.143.889 2.741.099.12.112.225.085.345-.09.375-.293 1.199-.334 1.363-.053.225-.172.271-.401.165-1.495-.69-2.433-2.878-2.433-4.646 0-3.776 2.748-7.252 7.92-7.252 4.158 0 7.392 2.967 7.392 6.923 0 4.135-2.607 7.462-6.233 7.462-1.214 0-2.354-.629-2.758-1.379l-.749 2.848c-.269 1.045-1.004 2.352-1.498 3.146 1.123.345 2.306.535 3.55.535 6.607 0 11.985-5.365 11.985-11.987C23.97 5.39 18.592.026 11.985.026L12.017 0z"></path>
                          </svg>
                        </a>
                      {% endif %}
                      {% if block.settings.whatsapp != blank %}
                        <a class="header-sidebar-social-{{ section.id }}" href="{{ block.settings.whatsapp }}">
                          <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z"></path>
                          </svg>
                        </a>
                      {% endif %}
                      {% if block.settings.tiktok != blank %}
                        <a class="header-sidebar-social-{{ section.id }}" href="{{ block.settings.tiktok }}">
                          <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M12.525.02c1.31-.02 2.61-.01 3.91-.02.08 1.53.63 3.09 1.75 4.17 1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97-.57-.26-1.1-.59-1.62-.93-.01 2.92.01 5.84-.02 8.75-.08 1.4-.54 2.79-1.35 3.94-1.31 1.92-3.58 3.17-5.91 3.21-1.43.08-2.86-.31-4.08-1.03-2.02-1.19-3.44-3.37-3.65-5.71-.02-.5-.03-1-.01-1.49.18-1.9 1.12-3.72 2.58-4.96 1.66-1.44 3.98-2.13 6.15-1.72.02 1.48-.04 2.96-.04 4.44-.99-.32-2.15-.23-3.02.37-.63.41-1.11 1.04-1.36 1.75-.21.51-.15 1.07-.14 1.61.24 1.64 1.82 3.02 3.5 2.87 1.12-.01 2.19-.66 2.77-1.61.19-.33.4-.67.41-1.06.1-1.79.06-3.57.07-5.36.01-4.03-.01-8.05.02-12.07z"></path>
                          </svg>
                        </a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
  
            {% if menu != blank %}
              <ul class="header-menu-list-{{ section.id }}">
                {% for link in menu.links %}
                  <li class="header-menu-item-{{ section.id }}">
                    <a href="{{ link.url }}" class="header-menu-link-{{ section.id }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </nav>  

          <div class="header-logo-{{ section.id }} header-logo-wrapper-mobile-{{ section.id }}">
            {% if logo != blank %}
              <a href="{{ shop.url }}" class="header-logo-image-{{ section.id }} {% if logo_mobile != blank %}header-logo-desktop-{{ section.id }}{% endif %}">
                <img src="{{ logo | image_url }}" alt="{{ logo.alt }}" {% if lazy %}loading="lazy"{% endif %} {% if second_logo != blank %}class="header-logo-first-{{ section.id }}"{% endif %}>
                {% if second_logo != blank %}
                  <img src="{{ second_logo | image_url }}" alt="{{ second_logo.alt }}" {% if lazy %}loading="lazy"{% endif %} class="header-logo-second-{{ section.id }}">
                {% endif %}
              </a>
              {% if logo_mobile != blank %}
                <a href="{{ shop.url }}" class="header-logo-image-{{ section.id }} header-logo-mobile-{{ section.id }}">
                  <img src="{{ logo_mobile | image_url }}" alt="{{ logo_mobile.alt }}" {% if lazy %}loading="lazy"{% endif %} {% if second_logo_mobile != blank %}class="header-logo-first-{{ section.id }}"{% endif %}>
                  {% if second_logo_mobile != blank %}
                    <img src="{{ second_logo_mobile | image_url }}" alt="{{ second_logo_mobile.alt }}" {% if lazy %}loading="lazy"{% endif %} class="header-logo-second-{{ section.id }}">
                  {% endif %}
                </a>
              {% endif %}
            {% else %}
              <a href="{{ shop.url }}" class="header-logo-text-{{ section.id }}">{{ shop.name }}</a>
            {% endif %}
          </div>
  
          <div class="header-right-{{ section.id }}">

            {% if section.blocks.size < 1 %}
              {% if use_search %}
                <a href="{{ routes.search_url }}" class="header-search-{{ section.id }}">
                  <span class="header-search-icon-{{ section.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="#121212" height="16" width="16"><path d="m10.558125 10.575000000000001 1.925 1.925m-0.555625 -5.261875c0 2.6168750000000003 -2.114375 4.738125 -4.721875 4.738125 -2.6081250000000002 0 -4.7225 -2.12125 -4.7225 -4.7375C2.483125 4.6206249999999995 4.5975 2.5 7.205 2.5c2.6081250000000002 0 4.7225 2.12125 4.7225 4.738125" stroke-width="1"></path></svg>
                  </span>
                  <span class="header-search-text-{{ section.id }}">{{ search_text }}</span>
                </a>
              {% endif %}
            {% endif %}
  
            {%- if shop.customer_accounts_enabled and use_account -%}
              <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header-account-{{ section.id }}">
                <span class="header-account-icon-{{ section.id }}">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="#121212" height="16" width="16"><path d="M5.625 4.6875a1.875 1.875 0 1 0 3.75 0 1.875 1.875 0 1 0 -3.75 0" stroke-width="1"></path><path d="M12.1875 12.8125c-0.296875 -5.833125 -9.078125 -5.833125 -9.375 0" stroke-width="1"></path></svg>
               </span>
                <span class="header-account-text-{{ section.id }}">{{ account_text }}</span>
              </a>
            {%- endif -%}
  
            <a href="{{ routes.cart_url }}" class="header-cart-{{ section.id }}">
              <span class="header-cart-icon-{{ section.id }}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="#121212" height="16" width="16"><path d="M10.3125 13.125a0.9375 0.9375 0 1 0 0 -1.875 0.9375 0.9375 0 0 0 0 1.875m-5 0a0.9375 0.9375 0 1 0 0 -1.875 0.9375 0.9375 0 0 0 0 1.875M2.31875 3.375h9.508750000000001c0.86125 0 1.4831250000000002 0.79375 1.2468750000000002 1.5925l-1.03375 3.5C11.881250000000001 9.004999999999999 11.3725 9.375 10.79375 9.375H5.07c-0.579375 0 -1.08875 -0.370625 -1.2475 -0.9075zm0 0L1.875 1.875" stroke-width="1"></path></svg>
              </span>
              <span class="header-cart-text-{{ section.id }}">{{ cart_text }}</span>       
              <div class="cart-count-bubble">
                {%- if cart.item_count < 100 -%}
                  <span aria-hidden="true">{{ cart.item_count }}</span>
                {%- endif -%}
              </div>      
            </a>
          </div>
        </div>
      </div>
    </div>
</div>

<script>
  function initHeader12() {
    let header = document.querySelector('.header-{{ section.id }}');
    let menuMobile = document.querySelector('.header-sidebar-{{ section.id }}');

    if (header) {
      {% if show_type != 'top' %}
        if (window.scrollY > 0) {
            header.classList.add('onscroll');
        } else {
          header.classList.add('top');
        }
    
        let lastScrollTop = window.scrollY;
    
        document.addEventListener('scroll', () => {
          
            const currentScrollTop = window.scrollY;
            const maxScroll = document.documentElement.scrollHeight - window.innerHeight;

            if (currentScrollTop === 0) {
              header.classList.add('top');
            }
    
            if (currentScrollTop <= 0) {
                header.classList.add('active');
                header.classList.remove('onscroll');
                return;
            }
    
            if (currentScrollTop >= maxScroll) {
                header.classList.remove('active');
                return;
            }
    
            if (currentScrollTop !== lastScrollTop) {
                if (header.classList.contains('scroll')) {
                    if (currentScrollTop > lastScrollTop) {
                        header.classList.remove('active');
                    } else {
                        header.classList.add('active');
                    }
                }
    
                if (header.classList.contains('transparent')) {
                    if (currentScrollTop === 0) {
                        header.classList.remove('onscroll');
                        header.classList.add('top');
                    } else {
                        header.classList.add('onscroll');
                        header.classList.remove('top');
                    }
                }
    
                lastScrollTop = currentScrollTop;
            }
        });
      {% endif %}

      let burger_icons = header.querySelectorAll('.header-menu-burger-{{ section.id }}');
      if(burger_icons) {
        burger_icons.forEach(burger_icon => {
          burger_icon.addEventListener('click', () => {
            header.classList.toggle('open');
            if(header.classList.contains('open')) {
              document.body.style.overflow = 'hidden';
            } else {
              document.body.style.overflow = '';
            }
          })
        })
      }

      document.addEventListener('click', (e) => {
        if(e.target == menuMobile) {
          document.body.style.overflow = '';
          header.classList.remove('open');           
        }
      });
 
    }

    const openButtons = document.querySelectorAll('.header-menu-link-wrapper-{{ section.id }}');
    const submenus = document.querySelectorAll('.header-mobile-submenu-{{ section.id }}');
    const menuIcons = document.querySelectorAll('.header-menu-link-open-{{ section.id }}');

    submenus.forEach(submenu => {
      submenu.style.display = 'none';
      submenu.style.opacity = '0';
      submenu.style.height = '0';
      submenu.style.overflow = 'hidden';
    });

    let activeIndex = -1;

    function openSubmenu(index) {
      submenus[index].style.display = 'block';
      submenus[index].style.height = 'auto';
      let height = submenus[index].offsetHeight;
      submenus[index].style.height = '0';

      setTimeout(() => {
        submenus[index].style.transition = 'all 0.25s ease 0s';
        submenus[index].style.height = `${height}px`;
        setTimeout(() => {
          submenus[index].style.opacity = '1';
        }, 10);
      }, 10);

      menuIcons[index].classList.add('active');
    }


    function closeSubmenu(index) {
      menuIcons[index].classList.remove('active');
      submenus[index].style.transition = 'all 0.25s ease 0s';
      submenus[index].style.height = '0';
      setTimeout(() => {
        submenus[index].style.opacity = '0';
      }, 250);
      setTimeout(() => {
        submenus[index].style.display = 'none';
      }, 300);
    }

    function toggleSubmenu(index) {
      if (submenus[index].style.display === 'none' || submenus[index].style.display === '') {
        openSubmenu(index);
        activeIndex = index;
      } else {
        closeSubmenu(index);
        activeIndex = -1;
      }
    }

    function closeAllSubmenusExcept(index) {
      submenus.forEach((submenu, i) => {
        if (i !== index) {
          closeSubmenu(i);
        }
      });
    }

    openButtons.forEach((button, index) => {
      button.addEventListener('click', () => {
        toggleSubmenu(index);
        closeAllSubmenusExcept(index);
      });
    });

    let resizeTimer;
    window.addEventListener('resize', () => {
      clearTimeout(resizeTimer);
      resizeTimer = setTimeout(() => {
        if (activeIndex !== -1) {
          submenus[activeIndex].style.height = 'auto';
          const height = submenus[activeIndex].offsetHeight;
          submenus[activeIndex].style.height = '0';
          setTimeout(() => {
            submenus[activeIndex].style.height = `${height}px`;
          }, 10);
        }
      }, 250);
    });  
  }

  document.addEventListener('DOMContentLoaded', initHeader12);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initHeader12);
     document.addEventListener('shopify:section:load', initHeader12);
  }
</script>

{% schema %}
  {
    "name": "SG- Header 12",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "select",
        "id": "show_type",
        "label": "Reveal menu",
        "default": "always",
        "options": [
          {
            "label": "Scroll up",
            "value": "scroll_up"
          },
          {
            "label": "Always/sticky",
            "value": "always"
          },
          {
            "label": "Only top",
            "value": "top"
          }
        ]
      },
      {
        "type": "select",
        "id": "transparent_bg",
        "label": "Transparent background",
        "default": "all",
        "options": [
          {
            "label": "All pages",
            "value": "all"
          },
          {
            "label": "Home page",
            "value": "home"
          },
          {
            "label": "None",
            "value": "none"
          }
        ]
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "range",
        "id": "layout_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Logo spacing",
        "default": 12
      },
      {
        "type": "range",
        "id": "layout_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Logo spacing - mobile",
        "default": 12
      },
      {
        "type": "header",
        "content": "Logo",
        "info": "Leave blank to display shop name instead of logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "image_picker",
        "id": "second_logo",
        "label": "Second logo",
        "info": "Use for transparent header"
      },
      {
        "type": "image_picker",
        "id": "logo_mobile",
        "label": "Logo - mobile"
      },
      {
        "type": "image_picker",
        "id": "second_logo_mobile",
        "label": "Second logo - mobile",
        "info": "Use for transparent header"
      },
      {
        "type": "range",
        "id": "logo_width",
        "min": 50,
        "max": 400,
        "step": 10,
        "unit": "px",
        "label": "Width",
        "default": 160
      },
      {
        "type": "range",
        "id": "logo_width_mobile",
        "min": 50,
        "max": 300,
        "step": 10,
        "unit": "px",
        "label": "Width - mobile",
        "default": 130
      },
      {
        "type": "range",
        "id": "logo_width_sidebar",
        "min": 50,
        "max": 300,
        "step": 10,
        "unit": "px",
        "label": "Width - sidebar",
        "default": 160
      },
      {
        "type": "header",
        "content": "Shop name"
      },
      {
        "type": "checkbox",
        "id": "name_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "name_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "name_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Font size",
        "default": 24
      },
      {
        "type": "range",
        "id": "name_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 20
      },
      {
        "type": "range",
        "id": "name_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 100
      },
      {
        "type": "header",
        "content": "Main",
      },
      {
        "type": "range",
        "id": "main_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal",
        "default": 12
      },
      {
        "type": "range",
        "id": "main_padding_horizontal_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal - mobile",
        "default": 6
      },
      {
        "type": "range",
        "id": "main_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 12
      },  
      {
        "type": "range",
        "id": "main_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 6
      },  
      {
        "type": "range",
        "id": "main_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 100
      },
      {
        "type": "range",
        "id": "main_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      }, 
      {
        "type": "header",
        "content": "Menu",
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "info": "This menu will only be visible in the desktop header.",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Menu list"
      },
      {
        "type": "range",
        "id": "list_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap",
        "default": 32
      },
      {
        "type": "range",
        "id": "sidebar_list_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap - sidebar",
        "default": 12
      },
      {
        "type": "range",
        "id": "list_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap - mobile",
        "default": 12
      },
      {
        "type": "range",
        "id": "sidebar_list_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Sidebar padding vertical",
        "default": 40
      },      
      {
        "type": "range",
        "id": "sidebar_list_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Sidebar padding vertical - mobile",
        "default": 16
      },
      {
        "type": "header",
        "content": "Menu link"
      },
      {
          "type": "checkbox",
          "id": "link_custom",
          "label": "Use custom font",
          "default": false
      },
      {
          "type": "font_picker",
          "id": "link_font",
          "label": "Font family",
          "default": "josefin_sans_n4"
      },
      {
          "type": "range",
          "id": "link_size",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 14
      },
      {
          "type": "range",
          "id": "sidebar_link_size",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Font size - sidebar",
          "default": 40
      },
      {
          "type": "range",
          "id": "link_size_mobile",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Font size - mobile",
          "default": 20
      },
      {
          "type": "range",
          "id": "link_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Line height",
          "default": 130
      },
      {
        "type": "header",
        "content": "Menu icon"
      },
      {
        "type": "range",
        "id": "menu_icon_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size",
        "default": 46
      },
      {
        "type": "range",
        "id": "menu_icon_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size - mobile",
        "default": 36
      },  
      {
        "type": "header",
        "content": "Sidebar"
      },
      {
        "type": "range",
        "id": "sidebar_width",
        "min": 30,
        "max": 100,
        "step": 2,
        "unit": "%",
        "label": "Width - desktop",
        "default": 50
      },
      {
        "type": "range",
        "id": "sidebar_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal",
        "default": 32
      },
      {
        "type": "range",
        "id": "sidebar_padding_horizontal_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal - mobile",
        "default": 20
      },
      {
        "type": "range",
        "id": "sidebar_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 20
      },  
      {
        "type": "range",
        "id": "sidebar_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 20
      },  
      {
        "type": "range",
        "id": "sidebar_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 16
      }, 
      {
        "type": "range",
        "id": "sidebar_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },  
      {
        "type": "header",
        "content": "Sidebar text"
      },
      {
          "type": "checkbox",
          "id": "bottom_text_custom",
          "label": "Use custom font",
          "default": false
      },
      {
          "type": "font_picker",
          "id": "bottom_text_font",
          "label": "Font family",
          "default": "josefin_sans_n4"
      },
      {
          "type": "range",
          "id": "bottom_text_size",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 14
      },
      {
          "type": "range",
          "id": "bottom_text_size_mobile",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Font size - mobile",
          "default": 14
      },
      {
          "type": "range",
          "id": "bottom_text_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Line height",
          "default": 150
      },
      {
        "type": "header",
        "content": "Socials"
      },
      {
        "type": "range",
        "id": "socials_gap",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Gap",
        "default": 8
      },
      {
        "type": "range",
        "id": "socials_gap_mobile",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Gap - mobile",
        "default": 8
      },
      {
        "type": "header",
        "content": "Social icon"
      },
      {
        "type": "range",
        "id": "social_icon_size",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size",
        "default": 42
      },
      {
        "type": "range",
        "id": "social_icon_size_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size - mobile",
        "default": 32
      },
      {
        "type": "header",
        "content": "Right navigation"
      },
      {
        "type": "range",
        "id": "right_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap",
        "default": 32
      },
      {
        "type": "range",
        "id": "right_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap - mobile",
        "default": 10
      },
      {
        "type": "header",
        "content": "Right link"
      },
      {
        "type": "checkbox",
        "id": "right_link_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "right_link_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "right_link_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 14
      },
      {
        "type": "range",
        "id": "right_link_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      },
      {
        "type": "header",
        "content": "Right icon"
      },
      {
        "type": "range",
        "id": "icon_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size",
        "default": 46
      },
      {
        "type": "range",
        "id": "icon_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size - mobile",
        "default": 36
      },
      {
        "type": "header",
        "content": "Search"
      },
      {
        "type": "checkbox",
        "id": "use_search",
        "label": "Use search",
        "default": true
      },
      {
        "type": "text",
        "id": "search_text",
        "label": "Text",
        "default": "Search"
      },
      {
        "type": "checkbox",
        "id": "search_icon_desktop",
        "label": "Icon on dekstop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "search_menu_mobile",
        "label": "Move search link to burger menu (mobile)",
        "default": true
      },
      {
        "type": "header",
        "content": "Account"
      },
      {
        "type": "checkbox",
        "id": "use_account",
        "label": "Use account link",
        "default": true
      },
      {
        "type": "text",
        "id": "account_text",
        "label": "Text",
        "default": "Login"
      },
      {
        "type": "checkbox",
        "id": "account_icon_desktop",
        "label": "Icon on dekstop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "account_menu_mobile",
        "label": "Move account link to burger menu (mobile)",
        "default": true
      },
      {
        "type": "header",
        "content": "Cart"
      },
      {
        "type": "text",
        "id": "cart_text",
        "label": "Text",
        "default": "Cart"
      },
      {
        "type": "checkbox",
        "id": "cart_icon_desktop",
        "label": "Icon on dekstop",
        "default": true
      },
      {
        "type": "header",
        "content": "Main colors"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "main_bg_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "main_border_color",
        "default": "#121212"
      },
      {
        "type": "header",
        "content": "Menu colors"
      },
      {
        "type": "color",
        "label": "Link",
        "id": "link_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Link hover",
        "id": "link_hover_color",
        "default": "#F7651A"
      },
      {
        "type": "color",
        "label": "Link over hero",
        "id": "link_hero_color",
        "default": "#FFFFFF",
        "info":"For transparent background"
      },
      {
        "type": "color",
        "label": "Link over hero hover",
        "id": "link_hover_hero_color",
        "default": "#F7651A",
        "info":"For transparent background"
      },
      {
        "type": "header",
        "content": "Shop name colors"
      },
      {
        "type": "color",
        "label": "Text",
        "id": "name_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Text hover",
        "id": "name_hover_color",
        "default": "#AFAFAF"
      },
      {
        "type": "color",
        "label": "Text over hero",
        "id": "name_hero_color",
        "info":"For transparent background",
        "default": "#FFFFFF"
      },
      {
        "type": "header",
        "content": "Sidebar colors"
      },
      {
        "type": "color",
        "label": "Text",
        "id": "bottom_text_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "sidebar_bg_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "sidebar_border_color",
        "default": "#121212"
      },
      {
        "type": "header",
        "content": "Socials colors"
      },
      {
        "type": "color",
        "label": "Icon",
        "id": "social_icon_color",
        "default": "#F7651A"
      },
      {
        "type": "color",
        "label": "Icon hover",
        "id": "social_icon_hover_color",
        "default": "#F7651A"
      },
      {
        "type": "header",
        "content": "Right navigation colors"
      },
      {
        "type": "color",
        "label": "Link",
        "id": "right_link_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Link hover",
        "id": "right_link_hover_color",
        "default": "#F7651A"
      },
      {
        "type": "color",
        "label": "Link over hero",
        "id": "right_link_hero_color",
        "info":"For transparent background",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Link over hero hover",
        "id": "right_link_hover_hero_color",
        "info":"For transparent background",
        "default": "#F7651A"
      },
      {
        "type": "header",
        "content": "Cart count colors"
      },
      {
        "type": "color",
        "label": "Number",
        "id": "count_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "count_bg_color",
        "default": "#F7651A"
      },
      {
        "type": "header",
        "content": "Section colors"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient",
        "info": "Remove gradient to replace with solid colors"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#121212"
      },   
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Margin sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Margin sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 20
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 20
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 5
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 1.5
      },
      {
        "type": "header",
        "content": "Section"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": true
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 800,
        "max": 2000,
        "step": 100,
        "unit": "px",
        "label": "Section content width",
        "default": 1400
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "border_bottom",
        "label": "Only border bottom",
        "default": false
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Section roundness",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "sidebar",
        "limit": 1,
        "name": "SG-Sidebar",
        "settings": [
          {
            "type": "header",
            "content": "Menu",
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu - desktop",
            "default": "main-menu"
          },
          {
            "type": "link_list",
            "id": "mobile_menu",
            "label": "Menu - mobile",
            "default": "main-menu"
          },
          {
            "type": "richtext",
            "id": "bottom_text",
            "label": "Text",
            "default": "<p>Additional information</p>"
          },
          {
            "type": "text",
            "label": "Twitter link",
            "id": "twitter"
          },
          {
            "type": "text",
            "label": "Facebook link",
            "id": "facebook",
            "default": "#"
          },
          {
            "type": "text",
            "label": "Linkedin link",
            "id": "linkedin"
          },
          {
            "type": "text",
            "label": "Instagram link",
            "id": "instagram",
            "default": "#"
          },
          {
            "type": "text",
            "label": "Youtube link",
            "id": "youtube"
          },
          {
            "type": "text",
            "label": "Pinterest link",
            "id": "pinterest"
          },
          {
            "type": "text",
            "label": "Whatsapp link",
            "id": "whatsapp"
          },
          {
            "type": "text",
            "label": "Tiktok link",
            "id": "tiktok",
            "default": "#"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SG- Header 12"
      }
    ]
  }
{% endschema %}