<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy

  assign slideshow_height = section.settings.slideshow_height
  assign slideshow_fixed_height = section.settings.slideshow_fixed_height
  assign slideshow_fixed_height_mobile = section.settings.slideshow_fixed_height_mobile
  assign slideshow_transition = section.settings.slideshow_transition
  assign slideshow_autoplay = section.settings.slideshow_autoplay
  assign slideshow_autoplay_delay = section.settings.slideshow_autoplay_delay

  assign slide_radius = section.settings.slide_radius
  assign slide_border_thickness = section.settings.slide_border_thickness
  assign slide_border_color = section.settings.slide_border_color
  assign slide_overlay = section.settings.slide_overlay
  assign slide_overlay_color = section.settings.slide_overlay_color
  assign slide_padding_vertical_mobile = section.settings.slide_padding_vertical_mobile
  assign slide_padding_vertical = section.settings.slide_padding_vertical
  assign slide_padding_horizontal_mobile = section.settings.slide_padding_horizontal_mobile
  assign slide_padding_horizontal = section.settings.slide_padding_horizontal

  assign content_maxwidth_mobile = section.settings.content_maxwidth_mobile
  assign content_maxwidth = section.settings.content_maxwidth
  assign content_vertical_position_mobile = section.settings.content_vertical_position_mobile
  assign content_vertical_position = section.settings.content_vertical_position
  assign content_horizontal_position_mobile = section.settings.content_horizontal_position_mobile
  assign content_horizontal_position = section.settings.content_horizontal_position
  assign content_padding_vertical_mobile = section.settings.content_padding_vertical_mobile
  assign content_padding_vertical = section.settings.content_padding_vertical
  assign content_padding_horizontal_mobile = section.settings.content_padding_horizontal_mobile
  assign content_padding_horizontal = section.settings.content_padding_horizontal
  assign content_radius = section.settings.content_radius
  assign content_border_thickness = section.settings.content_border_thickness
  assign content_border_color = section.settings.content_border_color
  assign content_bg = section.settings.content_bg
  assign content_bg_opacity = section.settings.content_bg_opacity

  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_color = section.settings.heading_color
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_color = section.settings.text_color
  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_height = section.settings.text_height
  assign text_align = section.settings.text_align
  assign text_align_mobile = section.settings.text_align_mobile
  assign text_mt = section.settings.text_mt

  assign buttons_gap_mobile = section.settings.buttons_gap_mobile
  assign buttons_gap = section.settings.buttons_gap
  assign buttons_align = section.settings.buttons_align
  assign buttons_align_mobile = section.settings.buttons_align_mobile
  assign buttons_mt = section.settings.buttons_mt

  assign button_size = section.settings.button_size
  assign button_size_mobile = section.settings.button_size_mobile
  assign button_color = section.settings.button_color
  assign button_hover_color = section.settings.button_hover_color
  assign button_custom = section.settings.button_custom
  assign button_font = section.settings.button_font
  assign button_height = section.settings.button_height
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_radius = section.settings.button_radius
  assign button_border_thickness = section.settings.button_border_thickness
  assign button_border_color = section.settings.button_border_color
  assign button_border_hover_color = section.settings.button_border_hover_color
  assign button_bg_color = section.settings.button_bg_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color

  assign second_button_size = section.settings.second_button_size
  assign second_button_size_mobile = section.settings.second_button_size_mobile
  assign second_button_color = section.settings.second_button_color
  assign second_button_hover_color = section.settings.second_button_hover_color
  assign second_button_custom = section.settings.second_button_custom
  assign second_button_font = section.settings.second_button_font
  assign second_button_height = section.settings.second_button_height
  assign second_button_padding_vertical = section.settings.second_button_padding_vertical
  assign second_button_padding_horizontal = section.settings.second_button_padding_horizontal
  assign second_button_radius = section.settings.second_button_radius
  assign second_button_border_thickness = section.settings.second_button_border_thickness
  assign second_button_border_color = section.settings.second_button_border_color
  assign second_button_border_hover_color = section.settings.second_button_border_hover_color
  assign second_button_bg_color = section.settings.second_button_bg_color
  assign second_button_bg_hover_color = section.settings.second_button_bg_hover_color

  assign navigation_mt = section.settings.navigation_mt

  assign arrow_size = section.settings.arrow_size
  assign arrow_size_mobile = section.settings.arrow_size_mobile
  assign arrow_icon_size = section.settings.arrow_icon_size
  assign arrow_icon_size_mobile = section.settings.arrow_icon_size_mobile
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color
  assign arrow_bg_color = section.settings.arrow_bg_color
  assign arrow_bg_hover_color = section.settings.arrow_bg_hover_color
  assign arrow_border_thickness = section.settings.arrow_border_thickness
  assign arrow_border_color = section.settings.arrow_border_color
  assign arrow_border_hover_color = section.settings.arrow_border_hover_color
  assign arrow_show_desktop = section.settings.arrow_show_desktop
  assign arrow_show_mobile = section.settings.arrow_show_mobile

  assign dots_size = section.settings.dots_size
  assign dots_size_mobile = section.settings.dots_size_mobile
  assign dots_show_desktop = section.settings.dots_show_desktop
  assign dots_show_mobile = section.settings.dots_show_mobile
  assign dots_color = section.settings.dots_color

  assign product_padding_vertical = section.settings.product_padding_vertical
  assign product_padding_horizontal = section.settings.product_padding_horizontal
  assign product_radius = section.settings.product_radius
  assign product_bg = section.settings.product_bg
  assign product_border_color = section.settings.product_border_color
  assign product_border_thickness = section.settings.product_border_thickness
  assign product_size = section.settings.product_size
  assign product_size_mobile = section.settings.product_size_mobile
  assign product_color = section.settings.product_color
  assign product_custom = section.settings.product_custom
  assign product_font = section.settings.product_font
  assign product_height = section.settings.product_height
  assign product_arrow_position = section.settings.product_arrow_position
  assign product_arrow = section.settings.product_arrow

  assign price_size = section.settings.price_size
  assign price_size_mobile = section.settings.price_size_mobile
  assign price_size_sale = section.settings.price_size_sale
  assign price_size_sale_mobile = section.settings.price_size_sale_mobile
  assign price_color = section.settings.price_color
  assign price_sale_color = section.settings.price_sale_color
  assign price_custom = section.settings.price_custom
  assign price_font = section.settings.price_font
  assign price_height = section.settings.price_height
  assign price_mt = section.settings.price_mt
  
-%}

{%- style -%}
  {{  heading_font | font_face: font_display: 'swap' }}
  {{  text_font | font_face: font_display: 'swap' }}
  {{  button_font | font_face: font_display: 'swap' }}
  {{  second_button_font | font_face: font_display: 'swap' }}
  {{  product_font | font_face: font_display: 'swap' }}
  {{  price_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
    height: 100%;
  }

  .hero-slider-{{ section.id }} {
    height: calc(100% - ({{ arrow_size_mobile }}px + {{ navigation_mt | times: 0.75 | round: 0 }}px)) !important;
  }

  .hero-slider-{{ section.id }} {
    height: calc(100% - ({{ arrow_size_mobile }}px + {{ navigation_mt | times: 0.75 | round: 0 }}px)) !important;
  }

  .hero-slide-{{ section.id }} {
    border-radius: {{ slide_radius }}px;
    border: {{ slide_border_thickness }}px solid {{ slide_border_color }};
    position: relative;
    display: flex !important;
    align-items: {{ content_vertical_position_mobile }};
    justify-content: {{ content_horizontal_position_mobile }};
    padding: {{ slide_padding_vertical_mobile }}px {{ slide_padding_horizontal_mobile }}px;
    box-sizing: border-box;
  }

  .hero-image-{{ section.id }} {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: {{ slide_radius }}px;
  }

  .hero-image-{{ section.id }} img,
  .hero-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: {{ slide_radius }}px;
  }

  .hero-image-{{ section.id }}:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: {{ slide_radius }}px;
    background-color: {{ slide_overlay_color | hex_to_rgba: slide_overlay }};
    z-index: 1;
  }

  .hero-content-{{ section.id }} {
    width: 100%;
    max-width: {{ content_maxwidth_mobile }}%;
    position: relative;
    z-index: 2;
    padding: {{ content_padding_vertical_mobile }}px {{ content_padding_horizontal_mobile }}px;
    border-radius: {{ content_radius }}px;
    background-color: {{ content_bg | hex_to_rgba: content_bg_opacity }};
    border: {{ content_border_thickness }}px solid {{ content_border_color }};
  }

  .hero-heading-{{ section.id }} {
    text-align: {{ heading_align_mobile }};
  }

  .hero-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
  }

  .hero-text-{{ section.id }} {
    margin-top: {{ text_mt | times: 0.75 | round: 0 }}px;
    text-align: {{ text_align_mobile }};
  }

  .hero-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ text_size_mobile }}px;
    color: {{ text_color }};
    line-height: {{ text_height }}%;
    text-transform: unset;
  }

  .hero-buttons-{{ section.id }} {
    margin-top: {{ buttons_mt | times: 0.75 | round: 0 }}px;
    display: flex;
    align-items: center;
    justify-content: {{ buttons_align_mobile }};
    gap: {{ buttons_gap_mobile }}px;
    flex-direction: column;
  }

  .hero-first-button-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    font-size: {{ button_size_mobile }}px;
    font-weight: 700;
    color: {{ button_color }};
    line-height: {{ button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical | times: 0.75 | round: 0 }}px {{ button_padding_horizontal | times: 0.75 | round: 0 }}px;
    border-radius: {{ button_radius }}px;
    border: {{ button_border_thickness }}px solid {{ button_border_color }};
    background-color: {{ button_bg_color }};
    transition: all 0.25s ease 0s;
  }

  .hero-first-button-{{ section.id }}:hover {
    color: {{ button_hover_color }};
    border: {{ button_border_thickness }}px solid {{ button_border_hover_color }};
    background-color: {{ button_bg_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .hero-second-button-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    font-size: {{ second_button_size_mobile }}px;
    font-weight: 700;
    color: {{ second_button_color }};
    line-height: {{ second_button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ second_button_padding_vertical | times: 0.75 | round: 0 }}px {{ second_button_padding_horizontal | times: 0.75 | round: 0 }}px;
    border-radius: {{ second_button_radius }}px;
    border: {{ second_button_border_thickness }}px solid {{ second_button_border_color }};
    background-color: {{ second_button_bg_color }};
    transition: all 0.25s ease 0s;
  }

  .hero-second-button-{{ section.id }}:hover {
    color: {{ second_button_hover_color }};
    border: {{ second_button_border_thickness }}px solid {{ second_button_border_hover_color }};
    background-color: {{ second_button_bg_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .hero-navigation-{{ section.id }} {
    margin-top: {{ navigation_mt | times: 0.75 | round: 0 }}px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .hero-btn-prev-{{ section.id }},
  .hero-btn-next-{{ section.id }} {
    position: static;
    z-index: 2;
    width: {{ arrow_size_mobile }}px;
    height: {{ arrow_size_mobile }}px;
    border: {{ arrow_border_thickness }}px solid {{ arrow_border_color }};
    border-radius: 50%;
    background: {{ arrow_bg_color }};
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
  }

  .hero-btn-prev-{{ section.id }} {
    left: 0px !important;
  }

  .hero-btn-next-{{ section.id }} {
    right: 0px !important;
  }

  .hero-btn-prev-{{ section.id }} svg,
  .hero-btn-next-{{ section.id }} svg {
    height: {{ arrow_icon_size_mobile }}px;
    width: {{ arrow_icon_size_mobile }}px;
  }

  .hero-btn-next-{{ section.id }} svg {
    transform: rotate(180deg);
    margin-left: 2px;
  }

  .hero-btn-prev-{{ section.id }} svg {
    margin-left: -2px;
  }

  .hero-btn-prev-{{ section.id }} svg path,
  .hero-btn-next-{{ section.id }} svg path {
    fill: {{ arrow_color }};
    transition: all 0.3s ease 0s;
  }

  .hero-btn-prev-{{ section.id }}:hover,
  .hero-btn-next-{{ section.id }}:hover {
    transition: all 0.3s ease 0s;
    border: {{ arrow_border_thickness }}px solid {{ arrow_border_hover_color }};
    background: {{ arrow_bg_hover_color }};
  }

  .hero-btn-prev-{{ section.id }}:hover svg path,
  .hero-btn-next-{{ section.id }}:hover svg path {
    fill: {{ arrow_hover_color }};
    transition: all 0.3s ease 0s;
  }

  .hero-btn-prev-{{ section.id }}.swiper-button-disabled,
  .hero-btn-next-{{ section.id }}.swiper-button-disabled {
    opacity: 0.3;
  }

  .hero-pagination-{{ section.id }} {
    position: static !important;
    width: 100%;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
  }

  .hero-pagination-{{ section.id }} .swiper-pagination-bullet {
    width: {{ dots_size_mobile }}px;
    height: {{ dots_size_mobile }}px;
    border: 2px solid {{ dots_color }};
    background-color: transparent;
    opacity: 0.6;
    transition: all 0.25s ease 0s;
  }

  .hero-pagination-{{ section.id }} .swiper-pagination-bullet.swiper-pagination-bullet-active {
    transform: scale(0.6);
    opacity: 1;
    background-color: {{ dots_color }};
    transition: all 0.25s ease 0s;
  }

  .hero-product-label-{{ section.id }} {
    display: flex;
    gap: 12px;
    align-items: center;
    max-width: fit-content;
    padding: {{ product_padding_vertical | times: 0.75 | round: 0 }}px {{ product_padding_horizontal | times: 0.75 | round: 0 }}px;
    border-radius: {{ product_radius }}px;
    border: {{ product_border_thickness }}px solid {{ product_border_color }};
    background-color: {{ product_bg }};
    text-decoration: none;
    opacity: 0.8;
  }

  .hero-product-label-{{ section.id }} svg {
    width: 30px;
  }

  .hero-product-title-{{ section.id }} {
    margin: 0px;
    font-size: {{ product_size_mobile }}px;
    line-height: {{ product_height }}%;
    text-transform: none;
    color: {{ product_color }};
    text-decoration: none;
  }

  .hero-price-{{ section.id }} {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: {{ price_mt | times: 0.75 | round: 0 }}px;
  }

  .hero-price-regular-{{ section.id }} {
    margin: 0px;
    font-size: {{ price_size_mobile }}px;
    line-height: {{ price_height }}%;
    text-transform: none;
    color: {{ price_color }};
  }

  .hero-price-sale-{{ section.id }} {
    margin: 0px;
    font-size: {{ price_size_sale_mobile }}px;
    line-height: {{ price_height }}%;
    text-transform: none;
    color: {{ price_sale_color }};
    text-decoration: none;
  }

  .hero-price-regular-sale-{{ section.id }} {
    color: {{ price_color | hex_to_rgba: 0.5 }};
    text-decoration: line-through;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .hero-slider-{{ section.id }} {
      height: calc(100% - ( {{ arrow_size }}px + {{ navigation_mt }}px)) !important;
    }

    .hero-slide-{{ section.id }} {
      align-items: {{ content_vertical_position }};
      justify-content: {{ content_horizontal_position }};
      padding: {{ slide_padding_vertical }}px {{ slide_padding_horizontal }}px;
    }

    .hero-content-{{ section.id }} {
      max-width: {{ content_maxwidth }}%;
      padding: {{ content_padding_vertical }}px {{ content_padding_horizontal }}px;
    }

    .hero-heading-{{ section.id }} {
      text-align: {{ heading_align }};
    }

    .hero-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .hero-text-{{ section.id }} {
      margin-top: {{ text_mt }}px;
      text-align: {{ text_align }};
    }

    .hero-text-{{ section.id }} * {
      font-size: {{ text_size }}px;
    }

    .hero-buttons-{{ section.id }} {
      margin-top: {{ buttons_mt }}px;
      justify-content: {{ buttons_align }};
      gap: {{ buttons_gap }}px;
      flex-direction: row;
    }

    .hero-first-button-{{ section.id }} {
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
      font-size: {{ button_size }}px;
    }

    .hero-second-button-{{ section.id }} {
      padding: {{ second_button_padding_vertical }}px {{ second_button_padding_horizontal }}px;
      font-size: {{ second_button_size }}px;
    }

    .hero-navigation-{{ section.id }} {
      margin-top: {{ navigation_mt }}px;
    }

    .hero-btn-prev-{{ section.id }},
    .hero-btn-next-{{ section.id }} {
      width: {{ arrow_size }}px;
      height: {{ arrow_size }}px;
    }

    .hero-btn-prev-{{ section.id }} {
      left: -{{ arrow_size | times: 0.5 }}px !important;
    }
  
    .hero-btn-next-{{ section.id }} {
      right: -{{ arrow_size | times: 0.5 }}px !important;
    }

    .hero-btn-prev-{{ section.id }} svg,
    .hero-btn-next-{{ section.id }} svg {
      height: {{ arrow_icon_size }}px;
      width: {{ arrow_icon_size }}px;
    }

    .hero-pagination-{{ section.id }} .swiper-pagination-bullet {
      width: {{ dots_size }}px;
      height: {{ dots_size }}px;
    }

    .hero-product-label-{{ section.id }} {
      padding: {{ product_padding_vertical }}px {{ product_padding_horizontal }}px;
    }

    .hero-product-title-{{ section.id }} {
      font-size: {{ product_size }}px;
    }

    .hero-price-{{ section.id }} {
      margin-top: {{ price_mt }}px;
    }

    .hero-price-regular-{{ section.id }} {
      font-size: {{ price_size }}px;
    }

    .hero-price-sale-{{ section.id }} {
      font-size: {{ price_size_sale }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if heading_custom %}
  <style>
    .hero-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .hero-text-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if button_custom %}
  <style>
    .hero-first-button-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}

{% if second_button_custom %}
  <style>
    .hero-second-button-{{ section.id }} {
      font-family: {{ second_button_font.family }}, {{ second_button_font.fallback_families }};
      font-weight: {{ second_button_font.weight }};
      font-style: {{ second_button_font.style }};
    }
  </style>
{% endif %}

{% if product_custom %}
  <style>
    .hero-product-title-{{ section.id }} {
      font-family: {{ product_font.family }}, {{ product_font.fallback_families }};
      font-weight: {{ product_font.weight }};
      font-style: {{ product_font.style }};
    }
  </style>
{% endif %}

{% if price_custom %}
  <style>
    .hero-price-regular-{{ section.id }},
    .hero-price-sale-{{ section.id }} {
      font-family: {{ price_font.family }}, {{ price_font.fallback_families }};
      font-weight: {{ price_font.weight }};
      font-style: {{ price_font.style }};
    }
  </style>
{% endif %}

{% if slideshow_height == "adapt_first" %}
  <style>
    .hero-{{ section.id }} {
      height: 100vh;
    }
  </style>
  
{% else %}
  <style>
    .hero-{{ section.id }} {
      height: {{ slideshow_fixed_height_mobile }}px;
    }
  
    @media(min-width: 1024px) {
      .hero-{{ section.id }} {
        height: {{ slideshow_fixed_height }}px;
      }
    }
  </style>
{% endif %}

{% if arrow_show_mobile %}
  <style>
    .hero-btn-prev-{{ section.id }},
    .hero-btn-next-{{ section.id }} {
      display: flex;
    }
  </style>
{% else %}
  <style>
    .hero-btn-prev-{{ section.id }},
    .hero-btn-next-{{ section.id }} {
      display: none;
    }
  </style>
{% endif %}

{% if arrow_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .hero-btn-prev-{{ section.id }},
      .hero-btn-next-{{ section.id }} {
        display: flex;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .hero-btn-prev-{{ section.id }},
      .hero-btn-next-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if dots_show_mobile %}
  <style>
    .hero-pagination-{{ section.id }} {
      display: flex !important;
    }
  </style>
{% else %}
  <style>
    .hero-pagination-{{ section.id }} {
      display: none !important;
    }
  </style>
{% endif %}

{% if dots_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .hero-pagination-{{ section.id }} {
        display: flex !important;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .hero-pagination-{{ section.id }} {
        display: none !important;
      }
    }
  </style>
{% endif %}

{% if product_arrow_position == "right" %}
  <style>
    .hero-product-label-{{ section.id }} svg {
      transform: rotate(180deg);
    }
  </style>
{% endif %}

{% for block in section.blocks %}
  <style>
    .hero-first-product-{{ block.id }} {
      position: absolute;
      top: {{ block.settings.product_vertical_position_mobile }}%;
      left: {{ block.settings.product_horizontal_position_mobile }}%;
      transform: translate(-{{ block.settings.product_horizontal_position_mobile }}%, -{{ block.settings.product_vertical_position_mobile }}%);
      z-index: 2;
    }

    .hero-second-product-{{ block.id }} {
      position: absolute;
      top: {{ block.settings.second_product_vertical_position_mobile }}%;
      left: {{ block.settings.second_product_horizontal_position_mobile }}%;
      transform: translate(-{{ block.settings.second_product_horizontal_position_mobile }}%, -{{ block.settings.second_product_vertical_position_mobile }}%);
      z-index: 2;
    }

    @media(min-width: 1024px) {
      .hero-first-product-{{ block.id }} {
        top: {{ block.settings.product_vertical_position }}%;
        left: {{ block.settings.product_horizontal_position }}%;
        transform: translate(-{{ block.settings.product_horizontal_position }}%, -{{ block.settings.product_vertical_position }}%);
      }

      .hero-second-product-{{ block.id }} {
        top: {{ block.settings.second_product_vertical_position }}%;
        left: {{ block.settings.second_product_horizontal_position }}%;
        transform: translate(-{{ block.settings.second_product_horizontal_position }}%, -{{ block.settings.second_product_vertical_position }}%);
      }
    }
  </style>
{% endfor %}

<div class="section-{{ section.id }} hero-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="hero-slider-{{ section.id }} swiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="hero-slide-{{ section.id }} hero-slide-{{ block.id }} swiper-slide">
              <{% if block.settings.image_url != blank %}a href="{{ block.settings.image_url }}"{% else %}div{% endif %} class="hero-image-{{ section.id }}">
                {% if block.settings.image != blank %}
                  <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}lazy="loading"{% endif %}>
                {% else %}
                  {{ 'lifestyle-2' | placeholder_svg_tag }}
                {% endif %}
              </{% if block.settings.image_url != blank %}a{% else %}div{% endif %}>
              <div class="hero-content-{{ section.id }} hero-content-{{ block.id }}">
                {% if block.settings.heading != blank %}
                  <div class="hero-heading-{{ section.id }}">{{ block.settings.heading }}</div>
                {% endif %}
                {% if block.settings.text != blank %}
                  <div class="hero-text-{{ section.id }}">{{ block.settings.text }}</div>
                {% endif %}
                {% unless block.settings.first_button == blank and block.settings.second_button == blank %}
                  <div class="hero-buttons-{{ section.id }}">
                    {% if block.settings.first_button != blank %}
                      <a href="{{ block.settings.first_button_url }}" class="hero-first-button-{{ section.id }}">{{ block.settings.first_button }}</a>
                    {% endif %}
                    {% if block.settings.second_button != blank %}
                      <a href="{{ block.settings.second_button_url }}" class="hero-second-button-{{ section.id }}">{{ block.settings.second_button }}</a>
                    {% endif %}
                  </div>
                {% endunless %}
              </div>
              {% if block.settings.first_product != blank %}
                <a href="{{ block.settings.first_product.url }}" class="hero-first-product-{{ block.id }} hero-product-label-{{ section.id }}">
                {% if product_arrow and product_arrow_position == "left" %}
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g id="Left"><path d="M14,17a1,1,0,0,1-.707-.293l-4-4a1,1,0,0,1,0-1.414l4-4a1,1,0,1,1,1.414,1.414L11.414,12l3.293,3.293A1,1,0,0,1,14,17Z" style="fill:#1c1b1e"/></g></svg>
                {% endif %}
                <div class="hero-product-content-{{ section.id }}">
                  <p class="hero-product-title-{{ section.id }}">{{ block.settings.first_product.title }}</p>
                  <div class="hero-price-{{ section.id }}">
                    {% if block.settings.first_product.price < block.settings.first_product.compare_at_price %}
                      <span class="hero-price-sale-{{ section.id }}">{{ block.settings.first_product.price | money }}</span>
                      <span class="hero-price-regular-{{ section.id }} hero-price-regular-sale-{{ section.id }}">{{ block.settings.first_product.compare_at_price | money }}</span>
                    {% else %}
                      <span class="hero-price-regular-{{ section.id }}">{{ block.settings.first_product.price | money }}</span>
                    {% endif %}
                  </div>
                </div>
                {% if product_arrow and product_arrow_position == "right" %}
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g id="Left"><path d="M14,17a1,1,0,0,1-.707-.293l-4-4a1,1,0,0,1,0-1.414l4-4a1,1,0,1,1,1.414,1.414L11.414,12l3.293,3.293A1,1,0,0,1,14,17Z"/></g></svg>
                {% endif %}
                </a>
              {% endif %}
              {% if block.settings.second_product != blank %}
                <a href="{{ block.settings.second_product.url }}" class="hero-second-product-{{ block.id }} hero-product-label-{{ section.id }}">
                  {% if product_arrow and product_arrow_position == "left" %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g id="Left"><path d="M14,17a1,1,0,0,1-.707-.293l-4-4a1,1,0,0,1,0-1.414l4-4a1,1,0,1,1,1.414,1.414L11.414,12l3.293,3.293A1,1,0,0,1,14,17Z"/></g></svg>
                  {% endif %}
                  <div class="hero-product-content-{{ section.id }}">
                    <p class="hero-product-title-{{ section.id }}">{{ block.settings.second_product.title }}</p>
                    <div class="hero-price-{{ section.id }}">
                        {% if block.settings.second_product.price < block.settings.second_product.compare_at_price %}
                          <span class="hero-price-sale-{{ section.id }}">{{ block.settings.second_product.price | money }}</span>
                          <span class="hero-price-regular-{{ section.id }} hero-price-regular-sale-{{ section.id }}">{{ block.settings.second_product.compare_at_price | money }}</span>
                        {% else %}
                          <span class="hero-price-regular-{{ section.id }}">{{ block.settings.second_product.price | money }}</span>
                        {% endif %}
                      </div>
                  </div>
                  {% if product_arrow and product_arrow_position == "right" %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g id="Left"><path d="M14,17a1,1,0,0,1-.707-.293l-4-4a1,1,0,0,1,0-1.414l4-4a1,1,0,1,1,1.414,1.414L11.414,12l3.293,3.293A1,1,0,0,1,14,17Z"/></g></svg>
                  {% endif %}
                </a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="hero-navigation-{{ section.id }}">
        <div class="hero-btn-prev-{{ section.id }}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g id="Left"><path d="M14,17a1,1,0,0,1-.707-.293l-4-4a1,1,0,0,1,0-1.414l4-4a1,1,0,1,1,1.414,1.414L11.414,12l3.293,3.293A1,1,0,0,1,14,17Z"/></g></svg>
        </div>
        <div class="hero-pagination-{{ section.id }} swiper-pagination"></div>
        <div class="hero-btn-next-{{ section.id }}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g id="Left"><path d="M14,17a1,1,0,0,1-.707-.293l-4-4a1,1,0,0,1,0-1.414l4-4a1,1,0,1,1,1.414,1.414L11.414,12l3.293,3.293A1,1,0,0,1,14,17Z"/></g></svg>
        </div>
      </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
  function initHero4() {
    if (typeof Swiper === 'undefined') {
      setTimeout(initHero4, 100);
      return;
    }
    const slider = new Swiper('.hero-slider-{{ section.id }}', {
      speed: 400,
      spaceBetween: 20,
      loop: true,
      {% if slideshow_transition == "fade" %}
      effect: "fade",
      fadeEffect: { crossFade: true },
      {% elsif slideshow_transition == "flip" %}
      effect: "flip",
      {% elsif slideshow_transition == "coverflow" %}
      effect: "coverflow",
      {% endif %}
      disableOnInteraction: false,
      autoplayDisableOnInteraction: false,
      navigation: {
        nextEl: '.hero-btn-next-{{ section.id }}',
        prevEl: '.hero-btn-prev-{{ section.id }}'
      },
      pagination: {
        el: '.hero-pagination-{{ section.id }}',
        type: "bullets",
        clickable: true
      },
      {% if slideshow_autoplay %}
      autoplay: {
        delay: {{ slideshow_autoplay_delay }}000,
        disableOnInteraction: false,
        autoplayDisableOnInteraction: false
      }
      {% endif %}
    })
  }

  document.addEventListener('DOMContentLoaded', initHero4);
          
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initHero4);
     document.addEventListener('shopify:section:load', initHero4);
  }
  
</script>

{% schema %}
{
  "name": "SG-Hero #4",
  "settings": [
    {
      "type": "header",
      "content": "Slideshow Settings"
    },
    {
      "type": "select",
      "id": "slideshow_height",
      "label": "Slideshow Height",
      "default": "adapt_first",
      "options": [
        {
          "label": "Adapt to first",
          "value": "adapt_first"
        },
        {
          "label": "Fixed Height",
          "value": "fixed_height"
        }
      ]
    },
    {
      "type": "range",
      "id": "slideshow_fixed_height",
      "min": 200,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "label": "Slideshow Fixed Height",
      "default": 600
    },
    {
      "type": "range",
      "id": "slideshow_fixed_height_mobile",
      "min": 100,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "label": "Slideshow Fixed Height - Mobile",
      "default": 500
    },
    {
      "type": "select",
      "id": "slideshow_transition",
      "label": "Slideshow Transition",
      "default": "fade",
      "options": [
        {
          "label": "Flip",
          "value": "flip"
        },
        {
          "label": "Fade",
          "value": "fade"
        },
        {
          "label": "Slide",
          "value": "slide"
        },
        {
          "label": "Coverflow",
          "value": "coverflow"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "slideshow_autoplay",
      "label": "Use Slideshow Autoplay"
    },
    {
      "type": "range",
      "id": "slideshow_autoplay_delay",
      "min": 2,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "Slideshow Autoplay Delay",
      "default": 6
    },
    {
      "type": "header",
      "content": "Slide Settings"
    },
    {
      "type": "range",
      "id": "slide_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Slide Padding Vertical",
      "default": 20
    },
    {
      "type": "range",
      "id": "slide_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Slide Padding Vertical - Mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "slide_padding_horizontal",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Slide Padding Horizontal",
      "default": 20
    },
    {
      "type": "range",
      "id": "slide_padding_horizontal_mobile",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Slide Padding Horizontal - Mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "slide_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Slide Border Radius",
      "default": 8
    },
    {
      "type": "range",
      "id": "slide_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Slide Border Thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "slide_overlay",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Overlay Opacity",
      "default": 0.2
    },
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type": "range",
      "id": "content_maxwidth",
      "min": 20,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Content Width",
      "default": 40
    },
    {
      "type": "range",
      "id": "content_maxwidth_mobile",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Content Width - Mobile",
      "default": 80
    },
    {
      "type": "select",
      "id": "content_horizontal_position",
      "label": "Content Horizontal Position",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "end"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_horizontal_position_mobile",
      "label": "Content Horizontal Position - Mobile",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "end"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_vertical_position",
      "label": "Content Vertical Position",
      "default": "center",
      "options": [
        {
          "label": "Top",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Bottom",
          "value": "end"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_vertical_position_mobile",
      "label": "Content Vertical Position - Mobile",
      "default": "center",
      "options": [
        {
          "label": "Top",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Bottom",
          "value": "end"
        }
      ]
    },
    {
      "type": "range",
      "id": "content_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Content Padding Vertical",
      "default": 32
    },
    {
      "type": "range",
      "id": "content_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Content Padding Vertical - Mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "content_padding_horizontal",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Content Padding Horizontal",
      "default": 48
    },
    {
      "type": "range",
      "id": "content_padding_horizontal_mobile",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Content Padding Horizontal - Mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "content_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Content Border Radius",
      "default": 8
    },
    {
      "type": "range",
      "id": "content_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Content Border Thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "content_bg_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Content Background Opacity",
      "default": 0.9
    },
    {
      "type": "header",
      "content": "Slide Heading Settings"
    },
    {
      "type": "checkbox",
      "id": "heading_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Slide Heading Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Slide Heading Size",
      "default": 40
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Slide Heading Size - Mobile",
      "default": 30
    },
    {
      "type": "range",
      "id": "heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Slide Heading Line Height",
      "default": 150
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "Slide Heading Text Align",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_align_mobile",
      "label": "Slide Heading Text Align - Mobile",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Slide Text Settings"
    },
    {
      "type": "checkbox",
      "id": "text_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "text_font",
      "label": "Slide Text Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "text_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Slide Text Size",
      "default": 18
    },
    {
      "type": "range",
      "id": "text_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Slide Text Size - Mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Slide Text Line Height",
      "default": 150
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Slide Text Align",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_align_mobile",
      "label": "Slide Text Align - Mobile",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "range",
      "id": "text_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Slide Text Margin Top",
      "default": 16
    },
    {
      "type": "header",
      "content": "Slide Buttons"
    },
    {
      "type": "range",
      "id": "buttons_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Buttons Gap",
      "default": 20
    },
    {
      "type": "range",
      "id": "buttons_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Buttons Gap - Mobile",
      "default": 20
    },
    {
      "type": "select",
      "id": "buttons_align",
      "label": "Buttons Align",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "end"
        }
      ]
    },
    {
      "type": "select",
      "id": "buttons_align_mobile",
      "label": "Buttons Align - Mobile",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "end"
        }
      ]
    },
    {
      "type": "range",
      "id": "buttons_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Buttons Margin Top",
      "default": 16
    },
    {
      "type": "header",
      "content": "First Button Settings"
    },
    {
      "type": "checkbox",
      "id": "button_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "button_font",
      "label": "First Button Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "button_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "First Button Size",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "First Button Size - Mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "button_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "First Button Line Height",
      "default": 100
    },
    {
      "type": "range",
      "id": "button_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "First Button Padding Vertical",
      "default": 20
    },
    {
      "type": "range",
      "id": "button_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "First Button Padding Horizontal",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "First Button Border Radius",
      "default": 8
    },
    {
      "type": "range",
      "id": "button_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "First Button Border Thickness",
      "default": 0
    },
    {
      "type": "header",
      "content": "Second Button Settings"
    },
    {
      "type": "checkbox",
      "id": "second_button_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "second_button_font",
      "label": "Second Button Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "second_button_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Second Button Size",
      "default": 16
    },
    {
      "type": "range",
      "id": "second_button_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Second Button Size - Mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "second_button_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Second Button Line Height",
      "default": 100
    },
    {
      "type": "range",
      "id": "second_button_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Second Button Padding Vertical",
      "default": 20
    },
    {
      "type": "range",
      "id": "second_button_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Second Button Padding Horizontal",
      "default": 16
    },
    {
      "type": "range",
      "id": "second_button_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Second Button Border Radius",
      "default": 8
    },
    {
      "type": "range",
      "id": "second_button_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Second Button Border Thickness",
      "default": 0
    },
    {
      "type": "header",
      "content": "Navigation Settings"
    },
    {
      "type": "range",
      "id": "navigation_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Navigation Margin Top",
      "default": 16
    },
    {
      "type": "header",
      "content": "Arrow Settings"
    },
    {
      "type": "range",
      "id": "arrow_size",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Arrow Size",
      "default": 28
    },
    {
      "type": "range",
      "id": "arrow_size_mobile",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Arrow Size - Mobile",
      "default": 28
    },
    {
      "type": "range",
      "id": "arrow_icon_size",
      "min": 10,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Arrow Icon Size",
      "default": 28
    },
    {
      "type": "range",
      "id": "arrow_icon_size_mobile",
      "min": 10,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Arrow Icon Size - Mobile",
      "default": 28
    },
    {
      "type": "range",
      "id": "arrow_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Arrow Border Thickness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "arrow_show_desktop",
      "label": "Show on Desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "arrow_show_mobile",
      "label": "Show on Mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "Dots Settings"
    },
    {
      "type": "range",
      "id": "dots_size",
      "min": 5,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Dots Size",
      "default": 12
    },
    {
      "type": "range",
      "id": "dots_size_mobile",
      "min": 5,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Dots Size - Mobile",
      "default": 12
    },
    {
      "type": "checkbox",
      "id": "dots_show_desktop",
      "label": "Show on Desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots_show_mobile",
      "label": "Show on Mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "Product Labels Settings"
    },
    {
      "type": "range",
      "id": "product_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Product Label Padding Vertical",
      "default": 10
    },
    {
      "type": "range",
      "id": "product_padding_horizontal",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Product Label Padding Horizontal",
      "default": 12
    },
    {
      "type": "range",
      "id": "product_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Product Label Border Radius",
      "default": 8
    },
    {
      "type": "range",
      "id": "product_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Product Label Border Thickness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "product_arrow",
      "label": "Show Arrow",
      "default": true
    },
    {
      "type": "select",
      "id": "product_arrow_position",
      "label": "Product Arrow Position",
      "default": "right",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product Label Text Settings"
    },
    {
      "type": "checkbox",
      "id": "product_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "product_font",
      "label": "Product Label Text Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "product_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Product Label Text Size",
      "default": 14
    },
    {
      "type": "range",
      "id": "product_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Product Label Text Size - Mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "product_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Product Label Text Line Height",
      "default": 100
    },
    {
      "type": "header",
      "content": "Product Label Price Settings"
    },
    {
      "type": "checkbox",
      "id": "price_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "price_font",
      "label": "Product Label Price Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "price_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Product Label Price Size",
      "default": 20
    },
    {
      "type": "range",
      "id": "price_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Product Label Price Size - Mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "price_size_sale",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Product Label Price Sale Size",
      "default": 22
    },
    {
      "type": "range",
      "id": "price_size_sale_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Product Label Price Sale Size - Mobile",
      "default": 18
    },
    {
      "type": "range",
      "id": "price_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Product Label Price Line Height",
      "default": 100
    },
    {
      "type": "range",
      "id": "price_mt",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Product Label Price Margin Top",
      "default": 6
    },
    {
      "type": "header",
      "content": "Slide Colors"
    },
    {
      "type": "color",
      "label": "Slide Border Color",
      "id": "slide_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Slide Overlay Color",
      "id": "slide_overlay_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Content Colors"
    },
    {
      "type": "color",
      "label": "Content Background Color",
      "id": "content_bg",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Content Border Color",
      "id": "content_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Slide Heading Color",
      "id": "heading_color",
      "default": "#313131"
    },
    {
      "type": "color",
      "label": "Slide Text Color",
      "id": "text_color",
      "default": "#313131"
    },
    {
      "type": "header",
      "content": "First Button Colors"
    },
    {
      "type": "color",
      "label": "First Button Color",
      "id": "button_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "First Button Hover Color",
      "id": "button_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "First Button Background Color",
      "id": "button_bg_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "First Button Background Hover Color",
      "id": "button_bg_hover_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "First Button Border Color",
      "id": "button_border_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "First Button Border Hover Color",
      "id": "button_border_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Second Button Colors"
    },
    {
      "type": "color",
      "label": "Second Button Color",
      "id": "second_button_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Second Button Hover Color",
      "id": "second_button_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Second Button Background Color",
      "id": "second_button_bg_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Second Button Background Hover Color",
      "id": "second_button_bg_hover_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Second Button Border Color",
      "id": "second_button_border_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Second Button Border Hover Color",
      "id": "second_button_border_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Navigation Colors"
    },
    {
      "type": "color",
      "label": "Arrow color",
      "id": "arrow_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Arrow Hover color",
      "id": "arrow_hover_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Arrow Background color",
      "id": "arrow_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Arrow Background Hover color",
      "id": "arrow_bg_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Arrow Border color",
      "id": "arrow_border_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Arrow Border Hover color",
      "id": "arrow_border_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Dots Color",
      "id": "dots_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Product Labels Colors"
    },
    {
      "type": "color",
      "label": "Product Labels Title Color",
      "id": "product_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Product Labels Price Color",
      "id": "price_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Product Labels Price Sale Color",
      "id": "price_sale_color",
      "default": "#FF0000"
    },
    {
      "type": "color",
      "label": "Product Labels Background Color",
      "id": "product_bg",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Product Labels Border Color",
      "id": "product_border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width",
      "default": true
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "rem",
      "label": "Section content width",
      "default": 120
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_url",
          "label": "Image URL"
        },
        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading",
          "default": "<h2>Slide</h2>"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this full width section to welcome customers to your store, share some news or say something about your brand</p>"
        },
        {
          "type": "text",
          "id": "first_button",
          "label": "First Button"
        },
        {
          "type": "url",
          "id": "first_button_url",
          "label": "First Button URL"
        },
        {
          "type": "text",
          "id": "second_button",
          "label": "Second Button"
        },
        {
          "type": "url",
          "id": "second_button_url",
          "label": "Second Button URL"
        },
        {
          "type": "product",
          "id": "first_product",
          "label": "Product Label"
        },
        {
          "type": "range",
          "id": "product_vertical_position",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%",
          "label": "Product Label Vertical Position",
          "default": 10
        },
        {
          "type": "range",
          "id": "product_vertical_position_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%",
          "label": "Product Label Vertical Position - Mobile",
          "default": 10
        },
        {
          "type": "range",
          "id": "product_horizontal_position",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%",
          "label": "Product Label Horizontal Position",
          "default": 10
        },
        {
          "type": "range",
          "id": "product_horizontal_position_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%",
          "label": "Product Label Horizontal Position - Mobile",
          "default": 10
        },
        {
          "type": "product",
          "id": "second_product",
          "label": "Second Product Label"
        },
        {
          "type": "range",
          "id": "second_product_vertical_position",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%",
          "label": "Second Product Label Vertical Position",
          "default": 10
        },
        {
          "type": "range",
          "id": "second_product_vertical_position_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%",
          "label": "Second Product Label Vertical Position - Mobile",
          "default": 10
        },
        {
          "type": "range",
          "id": "second_product_horizontal_position",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%",
          "label": "Second Product Label Horizontal Position",
          "default": 10
        },
        {
          "type": "range",
          "id": "second_product_horizontal_position_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%",
          "label": "Second Product Label Horizontal Position - Mobile",
          "default": 10
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Hero #4",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}