<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign heading = section.settings.heading
  assign heading_mobile = section.settings.heading_mobile
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_color = section.settings.heading_color
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign bg_text = section.settings.bg_text
  assign bg_text_size = section.settings.bg_text_size
  assign bg_text_color = section.settings.bg_text_color
  assign bg_text_custom = section.settings.bg_text_custom
  assign bg_text_font = section.settings.bg_text_font
  assign bg_text_height = section.settings.bg_text_height

  assign slider_mt_mobile = section.settings.slider_mt_mobile
  assign slider_mt = section.settings.slider_mt
  assign slider_width_mobile = section.settings.slider_width_mobile
  assign slider_width = section.settings.slider_width

  assign item_image_ratio = section.settings.item_image_ratio
  assign item_image_ratio_mobile = section.settings.item_image_ratio_mobile
  assign item_image_radius = section.settings.item_image_radius
  assign item_image_border_thickness = section.settings.item_image_border_thickness
  assign item_image_border_color = section.settings.item_image_border_color

  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_height = section.settings.text_height
  assign text_color = section.settings.text_color
  assign text_mt = section.settings.text_mt
  assign text_mt_mobile = section.settings.text_mt_mobile
  assign text_align = section.settings.text_align
  assign text_align_mobile = section.settings.text_align_mobile
  assign text_link_hover_color = section.settings.text_link_hover_color
  assign text_link_color = section.settings.text_link_color

  assign tag_size = section.settings.tag_size
  assign tag_size_mobile = section.settings.tag_size_mobile
  assign tag_color = section.settings.tag_color
  assign tag_hover_color = section.settings.tag_hover_color
  assign tag_custom = section.settings.tag_custom
  assign tag_font = section.settings.tag_font
  assign tag_height = section.settings.tag_height
  assign tag_padding_vertical = section.settings.tag_padding_vertical
  assign tag_padding_vertical_mobile = section.settings.tag_padding_vertical_mobile
  assign tag_padding_horizontal = section.settings.tag_padding_horizontal
  assign tag_padding_horizontal_mobile = section.settings.tag_padding_horizontal_mobile
  assign tag_radius = section.settings.tag_radius
  assign tag_border_thickness = section.settings.tag_border_thickness
  assign tag_border_color = section.settings.tag_border_color
  assign tag_border_hover_color = section.settings.tag_border_hover_color
  assign tag_bg_color = section.settings.tag_bg_color
  assign tag_bg_hover_color = section.settings.tag_bg_hover_color

  assign dots_size = section.settings.dots_size
  assign dots_size_mobile = section.settings.dots_size_mobile
  assign dots_show_desktop = section.settings.dots_show_desktop
  assign dots_show_mobile = section.settings.dots_show_mobile
  assign dots_color = section.settings.dots_color

  assign arrow_icon_size = section.settings.arrow_icon_size
  assign arrow_icon_size_mobile = section.settings.arrow_icon_size_mobile
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color
  assign arrow_show_desktop = section.settings.arrow_show_desktop
  assign arrow_show_mobile = section.settings.arrow_show_mobile
  
-%}

{%- style -%}

  {{  heading_font | font_face: font_display: 'swap' }}
  {{  bg_text_font | font_face: font_display: 'swap' }}
  {{  text_font | font_face: font_display: 'swap' }}
  {{  tag_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }

  .section-{{ section.id }} * {
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
    position: relative;
  }

  .instafeed-background-text-{{ section.id }} {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    margin: 0px;
    font-size: {{ bg_text_size }}px;
    color: {{ bg_text_color }};
    line-height: {{ bg_text_height }}%;
    text-transform: unset;
    font-weight: 700;
    /* mix-blend-mode: plus-lighter; */
  }

  .instafeed-heading-{{ section.id }} {
    text-align: {{ heading_align_mobile }};
  }

  .instafeed-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
    word-break: break-word;
  }

  .instafeed-heading-desktop-{{ section.id }} {
    display: none;
  }

  .instafeed-slider-wrapper-{{ section.id }} {
    margin-top: {{ slider_mt_mobile }}px;
    position: relative;
    width: 100%;
    max-width: {{ slider_width_mobile }}%;
    margin-left: auto;
    margin-right: auto;
  }

  .instafeed-image-{{ section.id }} {
    border-radius: {{ item_image_radius }}px;
    border: {{ item_image_border_thickness }}px solid {{ item_image_border_color }};
    overflow: hidden;
    position: relative;
  }

  .instafeed-image-{{ section.id }} img,
  .instafeed-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .instafeed-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .instafeed-text-{{ section.id }} {
    margin-top: {{ text_mt_mobile }}px;
    text-align: {{ text_align_mobile }};
  }

  .instafeed-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ text_size_mobile }}px;
    color: {{ text_color }};
    line-height: {{ text_height }}%;
    text-transform: unset;
    text-decoration: none;
  }

  .instafeed-text-{{ section.id }} a,
  .instafeed-text-{{ section.id }} a * {
    color: {{ text_link_color }};
    transition: all 0.25s ease 0s;
  }

  .instafeed-text-{{ section.id }} a:hover,
  .instafeed-text-{{ section.id }} a:hover * {
    color: {{ text_link_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .instafeed-tag-{{ section.id }} {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: fit-content;
    margin: 0;
    font-size: {{ tag_size_mobile }}px;
    color: {{ tag_color }};
    background-color: {{ tag_bg_color }};
    border: {{ tag_border_thickness }}px solid {{ tag_border_color }};
    line-height: {{ tag_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ tag_padding_vertical_mobile }}px {{ tag_padding_horizontal_mobile }}px;
    border-radius: {{ tag_radius }}px;
    transition: all 0.25s ease 0s;
    font-weight: 700;
    z-index: 2;
    box-sizing: border-box;
  }

  .instafeed-tag-{{ section.id }}:hover {
    transition: all 0.25s ease 0s;
    color: {{ tag_hover_color }};
    background-color: {{ tag_bg_hover_color }};
    border-color: {{ tag_border_hover_color }};
  }

  .instafeed-pagination-{{ section.id }} {
    margin-top: 20px;
    position: static !important;
    width: 100% !important;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .instafeed-pagination-{{ section.id }} .swiper-pagination-bullet {
    margin: 0px !important;
    width: {{ dots_size_mobile }}px !important;
    height: {{ dots_size_mobile }}px !important;
    background-color: {{ dots_color }} !important;
    border-radius: 50% !important;
    opacity: 0.6 !important;
    transition: all 0.25s ease 0s;
  }

  .instafeed-pagination-{{ section.id }} .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1 !important;
    width: {{ dots_size_mobile }}px !important;
    height: {{ dots_size_mobile  }}px !important;
    transition: all 0.25s ease 0s !important;
  }

  .instafeed-navigation-{{ section.id }} {
    gap: 10px;
    align-items: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .instafeed-btn-prev-{{ section.id }},
  .instafeed-btn-next-{{ section.id }} {
    background: transparent;
    border: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  .instafeed-btn-prev-{{ section.id }} svg,
  .instafeed-btn-next-{{ section.id }} svg {
    height: {{ arrow_icon_size_mobile }}px;
    width: {{ arrow_icon_size_mobile }}px;
  }

  .instafeed-btn-next-{{ section.id }} svg {
    transform: rotate(180deg);
    margin-left: 2px;
  }

  .instafeed-btn-prev-{{ section.id }} svg {
    margin-left: -2px;
  }

  .instafeed-btn-prev-{{ section.id }} svg path,
  .instafeed-btn-next-{{ section.id }} svg path {
    fill: {{ arrow_color }};
    transition: all 0.3s ease 0s;
  }

  .instafeed-btn-prev-{{ section.id }}:hover svg path,
  .instafeed-btn-next-{{ section.id }}:hover svg path {
    fill: {{ arrow_hover_color }};
    transition: all 0.3s ease 0s;
  }

  .instafeed-btn-prev-{{ section.id }}.swiper-button-disabled,
  .instafeed-btn-next-{{ section.id }}.swiper-button-disabled {
    opacity: 0;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .instafeed-background-text-{{ section.id }} {
      display: block;
    }

    .instafeed-heading-{{ section.id }} {
      text-align: {{ heading_align }};
    }

    .instafeed-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .instafeed-heading-mobile-{{ section.id }} {
      display: none;
    }

    .instafeed-heading-desktop-{{ section.id }} {
      display: block;
    }

    .instafeed-slider-wrapper-{{ section.id }} {
      margin-top: {{ slider_mt }}px;
      max-width: {{ slider_width }}%;
      padding: 0px {{ arrow_icon_size | times: 2 | plus: 30 }}px;
    }

    .instafeed-text-{{ section.id }} {
      margin-top: {{ text_mt }}px;
      text-align: {{ text_align }};
    }

    .instafeed-text-{{ section.id }} * {
      font-size: {{ text_size }}px;
    }

    .instafeed-tag-{{ section.id }} {
      padding: {{ tag_padding_vertical }}px {{ tag_padding_horizontal }}px;
      font-size: {{ tag_size }}px;
    }

    .instafeed-pagination-{{ section.id }} .swiper-pagination-bullet {
      width: {{ dots_size }}px !important;
      height: {{ dots_size }}px !important;
    }

    .instafeed-pagination-{{ section.id }} .swiper-pagination-bullet.swiper-pagination-bullet-active {
      width: {{ dots_size }}px !important;
      height: {{ dots_size }}px !important;
    }

    .instafeed-navigation-{{ section.id }} {
      margin: 0px;
      position: absolute;
      z-index: 2;
      right: 0px;
      bottom: 17%;
    }

    .instafeed-btn-prev-{{ section.id }} svg,
    .instafeed-btn-next-{{ section.id }} svg {
      height: {{ arrow_icon_size }}px;
      width: {{ arrow_icon_size }}px;
    }
    
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if heading_custom %}
  <style>
    .instafeed-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .instafeed-text-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if tag_custom %}
  <style>
    .instafeed-tag-{{ section.id }} {
      font-family: {{ tag_font.family }}, {{ tag_font.fallback_families }};
      font-weight: {{ tag_font.weight }};
      font-style: {{ tag_font.style }};
    }
  </style>
{% endif %}

{% if bg_text_custom %}
  <style>
    .instafeed-background-text-{{ section.id }} {
      font-family: {{ bg_text_font.family }}, {{ bg_text_font.fallback_families }};
      font-weight: {{ bg_text_font.weight }};
      font-style: {{ bg_text_font.style }};
    }
  </style>
{% endif %}

{% if arrow_show_mobile %}
  <style>
    .instafeed-navigation-{{ section.id }} {
      display: flex;
    }
  </style>
{% else %}
  <style>
    .instafeed-navigation-{{ section.id }} {
      display: none;
    }
  </style>
{% endif %}

{% if arrow_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .instafeed-navigation-{{ section.id }} {
        display: flex;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .instafeed-navigation-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if dots_show_mobile %}
  <style>
    .instafeed-pagination-{{ section.id }} {
      display: flex !important;
    }
  </style>
{% else %}
  <style>
    .instafeed-pagination-{{ section.id }} {
      display: none !important;
    }
  </style>
{% endif %}

{% if dots_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .instafeed-pagination-{{ section.id }} {
        display: flex !important;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .instafeed-pagination-{{ section.id }} {
        display: none !important;
      }
    }
  </style>
{% endif %}

{% if image_ratio_mobile == "portrait" %}
  <style>
    .shop-image-{{ section.id }} {
       aspect-ratio: 9.6/12; 
    }
  </style>
{% elsif image_ratio_mobile == "landscape" %}
  <style>
    .shop-image-{{ section.id }}{
     aspect-ratio: 12/10; 
    }
  </style>
{% elsif image_ratio_mobile == "square" %}
  <style>
    .shop-image-{{ section.id }} {
     aspect-ratio: 12/12; 
    }
  </style>
{% else %}
  <style>
    .shop-image-{{ section.id }} {
     aspect-ratio: auto; 
    }
  </style>
{% endif %}

{% if image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
     .shop-image-{{ section.id }} {
       aspect-ratio: 9.6/12; 
      } 
    }
  </style>
{% elsif image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .shop-image-{{ section.id }}{
       aspect-ratio: 12/10; 
      }
    }
  </style>
{% elsif image_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .shop-image-{{ section.id }} {
       aspect-ratio: 12/12; 
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .shop-image-{{ section.id }} {
       aspect-ratio: auto; 
      }
    }
  </style>
{% endif %}

{% if item_image_ratio_mobile == "portrait" %}
  <style>
    .instafeed-image-{{ section.id }} {
       aspect-ratio: 9.6/12; 
    }
  </style>
{% elsif item_image_ratio_mobile == "landscape" %}
  <style>
    .instafeed-image-{{ section.id }}{
     aspect-ratio: 12/10; 
    }
  </style>
{% elsif item_image_ratio_mobile == "square" %}
  <style>
    .instafeed-image-{{ section.id }} {
     aspect-ratio: 12/12; 
    }
  </style>
{% else %}
  <style>
    .instafeed-image-{{ section.id }} {
     aspect-ratio: auto; 
    }
  </style>
{% endif %}

{% if item_image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
     .instafeed-image-{{ section.id }} {
       aspect-ratio: 9.6/12; 
      } 
    }
  </style>
{% elsif item_image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .instafeed-image-{{ section.id }} {
       aspect-ratio: 12/10; 
      }
    }
  </style>
{% elsif item_image_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .instafeed-image-{{ section.id }} {
       aspect-ratio: 12/12; 
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .instafeed-image-{{ section.id }} {
       aspect-ratio: auto; 
      }
    }
  </style>
{% endif %}

<div class="section-{{ section.id }} instafeed-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      {% if bg_text != blank %}
        <div class="instafeed-background-text-{{ section.id }}">{{ bg_text }}</div>
      {% endif %}
      
      {% if heading != blank %}
        <div class="instafeed-heading-{{ section.id }} {% if heading_mobile != blank %}instafeed-heading-desktop-{{ section.id }}{% endif %}">
          {{ heading }}
        </div>
      {% endif %}

      {% if heading_mobile != blank %}
        <div class="instafeed-heading-{{ section.id }} instafeed-heading-mobile-{{ section.id }}">
          {{ heading_mobile }}
        </div>
      {% endif %}

      <div class="instafeed-slider-wrapper-{{ section.id }}">
        <div class="instafeed-slider-{{ section.id }} swiper">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="instafeed-slide-{{ section.id }} swiper-slide">
                <div class="instafeed-image-{{ section.id }}">
                  {% if block.settings.image != blank %}
                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                  {% else %}
                    {{ 'image' | placeholder_svg_tag }}
                  {% endif %}

                  {% if block.settings.tag != blank %}
                    <{% if block.settings.tag_url != blank %}a href="{{ block.settings.tag_url }}"{% else %}p{% endif %} class="instafeed-tag-{{ section.id }}">
                      {{ block.settings.tag }}
                    </{% if block.settings.tag_url != blank %}a{% else %}p{% endif %}>
                  {% endif %}
                </div>
                {% if block.settings.text != blank %}
                  <div class="instafeed-text-{{ section.id }}">
                    {{ block.settings.text }}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <div class="instafeed-pagination-{{ section.id }} swiper-pagination"></div>
        </div>
        <div class="instafeed-navigation-{{ section.id }}">
          <button class="instafeed-btn-prev-{{ section.id }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g id="Left"><path d="M14,17a1,1,0,0,1-.707-.293l-4-4a1,1,0,0,1,0-1.414l4-4a1,1,0,1,1,1.414,1.414L11.414,12l3.293,3.293A1,1,0,0,1,14,17Z"/></g></svg>
          </button>
          <button class="instafeed-btn-next-{{ section.id }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g id="Left"><path d="M14,17a1,1,0,0,1-.707-.293l-4-4a1,1,0,0,1,0-1.414l4-4a1,1,0,1,1,1.414,1.414L11.414,12l3.293,3.293A1,1,0,0,1,14,17Z"/></g></svg>
          </button>
        </div>
      </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  function initInstafeed7() {
    const slider = new Swiper(".instafeed-slider-{{ section.id }}", {
      speed: 300,
      spaceBetween: 20,
      loop: true,
      effect: "fade",
      fadeEffect: { crossFade: true },
      navigation: {
        nextEl: '.instafeed-btn-next-{{ section.id }}',
        prevEl: '.instafeed-btn-prev-{{ section.id }}',
      },
      pagination: {
        el: '.instafeed-pagination-{{ section.id }}',
        type: 'bullets',
        clickable: true,
      },
    });
  }

  document.addEventListener('DOMContentLoaded', initInstafeed7);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initInstafeed7);
     document.addEventListener('shopify:section:load', initInstafeed7);
  }
</script>

{% schema %}
{
  "name": "SG-Instafeed #7",
  "settings": [
    {
      "type": "header",
      "content": "Save to display section correctly."
    },
    {
      "type": "header",
      "content": "Heading Settings"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading - Desktop",
      "default": "<p>Tag your photos with <strong>#section.store</strong></p>"
    },
    {
      "type": "richtext",
      "id": "heading_mobile",
      "label": "Heading - Mobile",
      "default": "<p><strong>#section.store</strong></p>"
    },
    {
      "type": "checkbox",
      "id": "heading_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Heading Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Heading Size",
      "default": 16
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Heading Size - Mobile",
      "default": 24
    },
    {
      "type": "range",
      "id": "heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Heading Line Height",
      "default": 150
    },
    {
      "type": "text_alignment",
      "id": "heading_align",
      "label": "Heading Text Align",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "heading_align_mobile",
      "label": "Heading Text Align - Mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Background Text Settings"
    },
    {
      "type": "text",
      "id": "bg_text",
      "label": "Background Text",
      "default": "#section.store"
    },
    {
      "type": "checkbox",
      "id": "bg_text_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "bg_text_font",
      "label": "Background Text Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "bg_text_size",
      "min": 0,
      "max": 260,
      "step": 4,
      "unit": "px",
      "label": "Background Text Size",
      "default": 116
    },
    {
      "type": "range",
      "id": "bg_text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Background Text Line Height",
      "default": 100
    },
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "range",
      "id": "slider_width",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Slider Width",
      "default": 50
    },
    {
      "type": "range",
      "id": "slider_width_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Slider Width - Mobile",
      "default": 90
    },
    {
      "type": "range",
      "id": "slider_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Slider Margin Top",
      "default": 32
    },
    {
      "type": "range",
      "id": "slider_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Slider Margin Top - Mobile",
      "default": 24
    },
    {
      "type": "header",
      "content": "Slide Image Settings"
    },
    {
      "type": "range",
      "id": "item_image_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Slide Image Roundness",
      "default": 12
    },
    {
      "type": "range",
      "id": "item_image_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Slide Image Border Thickness",
      "default": 0
    },
    {
      "type": "select",
      "id": "item_image_ratio",
      "label": "Slide Image Aspect Ratio",
      "default": "square",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "select",
      "id": "item_image_ratio_mobile",
      "label": "Slide Image Aspect Ratio - Mobile",
      "default": "square",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "header",
      "content": "Text Settings"
    },
    {
      "type": "checkbox",
      "id": "text_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "text_font",
      "label": "Text Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "text_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Text Size",
      "default": 16
    },
    {
      "type": "range",
      "id": "text_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Text Size - Mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Text Line Height",
      "default": 150
    },
    {
      "type": "range",
      "id": "text_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Text Margin Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "text_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Text Margin Top - Mobile",
      "default": 24
    },
    {
      "type": "text_alignment",
      "id": "text_align",
      "label": "Text Text Align",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "text_align_mobile",
      "label": "Text Text Align - Mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Tag Settings"
    },
    {
      "type": "checkbox",
      "id": "tag_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "tag_font",
      "label": "Tag Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "tag_size",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Tag Size",
      "default": 14
    },
    {
      "type": "range",
      "id": "tag_size_mobile",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Tag Size - Mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "tag_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Tag Line Height",
      "default": 100
    },
    {
      "type": "range",
      "id": "tag_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Tag Padding Vertical",
      "default": 8
    },
    {
      "type": "range",
      "id": "tag_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Tag Padding Vertical - Mobile",
      "default": 8
    },
    {
      "type": "range",
      "id": "tag_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Tag Padding Horizontal",
      "default": 14
    },
    {
      "type": "range",
      "id": "tag_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Tag Padding Horizontal - Mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "tag_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Tag Roundness",
      "default": 100
    },
    {
      "type": "range",
      "id": "tag_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Tag Border Thickness",
      "default": 0
    },
    {
      "type": "header",
      "content": "Arrow Settings"
    },
    {
      "type": "range",
      "id": "arrow_icon_size",
      "min": 10,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Arrow Icon Size",
      "default": 28
    },
    {
      "type": "range",
      "id": "arrow_icon_size_mobile",
      "min": 10,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Arrow Icon Size - Mobile",
      "default": 28
    },
    {
      "type": "checkbox",
      "id": "arrow_show_desktop",
      "label": "Show on Desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "arrow_show_mobile",
      "label": "Show on Mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "Dots Settings"
    },
    {
      "type": "range",
      "id": "dots_size",
      "min": 5,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Dots Size",
      "default": 10
    },
    {
      "type": "range",
      "id": "dots_size_mobile",
      "min": 5,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Dots Size - Mobile",
      "default": 10
    },
    {
      "type": "checkbox",
      "id": "dots_show_desktop",
      "label": "Show on Desktop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "dots_show_mobile",
      "label": "Show on Mobile",
      "default": false
    },
    {
      "type": "header",
      "content": "Slide Colors"
    },
    {
      "type": "color",
      "label": "Slide Image Border Color",
      "id": "item_image_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Slide Text Color",
      "id": "text_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Slide Text Link Color",
      "id": "text_link_color",
      "default": "#334FB4"
    },
    {
      "type": "color",
      "label": "Slide Text Link Hover Color",
      "id": "text_link_hover_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Tag Colors"
    },
    {
      "type": "color",
      "label": "Tag Text Color",
      "id": "tag_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Tag Hover Text Color",
      "id": "tag_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Tag Background Color",
      "id": "tag_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Tag Background Hover Color",
      "id": "tag_bg_hover_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Tag Border Color",
      "id": "tag_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Tag Border Hover Color",
      "id": "tag_border_hover_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Navigation Colors"
    },
    {
      "type": "color",
      "label": "Arrow color",
      "id": "arrow_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Arrow Hover color",
      "id": "arrow_hover_color",
      "default": "#555555"
    },
    {
      "type": "color",
      "label": "Dots Color",
      "id": "dots_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "label": "Heading Color",
      "id": "heading_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Background Text Color",
      "id": "bg_text_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Margin sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Margin sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width",
      "default": false
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "rem",
      "label": "Section content width",
      "default": 120
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section Roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "tag",
          "label": "Tag",
          "default": "@instagram"
        },
        {
          "type": "url",
          "id": "tag_url",
          "label": "Tag URL"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Instafeed #7",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "text": "<p><strong>Chelsea</strong> is wearing our <a href='#'>Classic Sweatshirt</a></p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "text": "<p><strong>Emily</strong> in the <a href='#'>Riley Crew</a> in Green</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "text": "<p><strong>John</strong> wearing the <a href='#'>Oversized Hoodie</a> in Navy</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}