{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign content_height = section.settings.content_height
  assign content_height_mobile = section.settings.content_height_mobile
  assign lazy = section.settings.lazy

  assign content_maxwidth_mobile = section.settings.content_maxwidth_mobile
  assign content_maxwidth = section.settings.content_maxwidth
  assign content_vertical_position_mobile = section.settings.content_vertical_position_mobile
  assign content_vertical_position = section.settings.content_vertical_position
  assign content_horizontal_position_mobile = section.settings.content_horizontal_position_mobile
  assign content_horizontal_position = section.settings.content_horizontal_position

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_color = section.settings.heading_color
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign sub_heading = section.settings.sub_heading
  assign sub_heading_size = section.settings.sub_heading_size
  assign sub_heading_size_mobile = section.settings.sub_heading_size_mobile
  assign sub_heading_color = section.settings.sub_heading_color
  assign sub_heading_custom = section.settings.sub_heading_custom
  assign sub_heading_font = section.settings.sub_heading_font
  assign sub_heading_height = section.settings.sub_heading_height
  assign sub_heading_align = section.settings.sub_heading_align
  assign sub_heading_align_mobile = section.settings.sub_heading_align_mobile
  assign sub_heading_mt = section.settings.sub_heading_mt
  assign sub_heading_width_mobile = section.settings.sub_heading_width_mobile
  assign sub_heading_width = section.settings.sub_heading_width

  assign button = section.settings.button
  assign button_size = section.settings.button_size
  assign button_size_mobile = section.settings.button_size_mobile
  assign button_color = section.settings.button_color
  assign button_hover_color = section.settings.button_hover_color
  assign button_custom = section.settings.button_custom
  assign button_font = section.settings.button_font
  assign button_height = section.settings.button_height
  assign button_align = section.settings.button_align
  assign button_align_mobile = section.settings.button_align_mobile
  assign button_url = section.settings.button_url
  assign button_mt = section.settings.button_mt
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_radius = section.settings.button_radius
  assign button_border_thickness = section.settings.button_border_thickness
  assign button_border_color = section.settings.button_border_color
  assign button_border_hover_color = section.settings.button_border_hover_color
  assign button_bg_color = section.settings.button_bg_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color
-%}

{%- style -%}

  {{  heading_font | font_face: font_display: 'swap' }}
  {{  sub_heading_font | font_face: font_display: 'swap' }}
  {{  button_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    height: {{ content_height_mobile }}rem;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    height: 100%;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .image-text-inner-{{ section.id }} {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .image-text-content-{{ section.id }} {
    width: 100%;
    position: relative;
    left: {{ content_horizontal_position_mobile }}%;
    top: {{ content_vertical_position_mobile }}%;
    transform: translateX(-{{content_horizontal_position_mobile }}%);
    width: 100%;
    max-width: {{ content_maxwidth_mobile }}%;
    z-index: 2;
  }

  .image-text-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
    text-align: {{ heading_align_mobile }};
  }

  .image-text-subheading-{{ section.id }} {
    margin: 0;
    width: 100%;
    max-width: {{ sub_heading_width_mobile }}%;
    margin-top: {{ sub_heading_mt | times: 0.75 | round: 0 }}px;
    font-size: {{ sub_heading_size_mobile }}px;
    color: {{ sub_heading_color }};
    line-height: {{ sub_heading_height }}%;
    text-transform: unset;
    text-align: {{ sub_heading_align_mobile }};
  }

  .image-text-btn-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    margin: 0;
    margin-top: {{ button_mt | times: 0.75 | round: 0 }}px;
    font-size: {{ button_size_mobile }}px;
    font-weight: 700;
    color: {{ button_color }};
    line-height: {{ button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical | times: 0.75 | round: 0 }}px {{ button_padding_horizontal | times: 0.75 | round: 0 }}px;
    border-radius: {{ button_radius }}px;
    border: {{ button_border_thickness }}px solid {{ button_border_color }};
    background-color: {{ button_bg_color }};
    transition: all 0.25s ease 0s;
  }

  .image-text-btn-{{ section.id }}:hover {
    color: {{ button_hover_color }};
    border: {{ button_border_thickness }}px solid {{ button_border_hover_color }};
    background-color: {{ button_bg_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .image-text-image-{{ section.id }} {
    position: absolute;
  }

  .image-text-image-{{ section.id }} img,
  .image-text-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-text-image-{{ section.id }} svg {
    background-color: #DDDDDD;
  }

  @media(min-width: 768px) {
    .section-{{ section.id }} {
      height: {{ content_height_mobile | times: 1.25 | round: 0 }}rem;
    }

    .image-text-content-{{ section.id }} {
      left: {{ content_horizontal_position_mobile | times: 1.25 | round: 0 }}%;
      top: {{ content_vertical_position_mobile | times: 1.25 | round: 0 }}%;
      transform: translateX(-{{content_horizontal_position_mobile | times: 1.25 | round: 0 }}%);
    }
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      height: {{ content_height }}rem;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .image-text-content-{{ section.id }} {
      max-width: {{ content_maxwidth }}%;
      left: {{ content_horizontal_position }}%;
      top: {{ content_vertical_position }}%;
      transform: translateX(-{{content_horizontal_position }}%);
    }

    .image-text-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
      text-align: {{ heading_align }};
    }

    .image-text-subheading-{{ section.id }} {
      margin-top: {{ sub_heading_mt }}px;
      max-width: {{ sub_heading_width }}%;
      font-size: {{ sub_heading_size }}px;
      text-align: {{ sub_heading_align }};
    }

    .image-text-btn-{{ section.id }} {
      margin-top: {{ button_mt }}px;
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
      font-size: {{ button_size }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if heading_custom %}
  <style>
    .image-text-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if sub_heading_custom %}
  <style>
    .image-text-subheading-{{ section.id }} {
      font-family: {{ sub_heading_font.family }}, {{ sub_heading_font.fallback_families }};
      font-weight: {{ sub_heading_font.weight }};
      font-style: {{ sub_heading_font.style }};
    }
  </style>
{% endif %}

{% if button_custom %}
  <style>
    .image-text-btn-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}

{% if button_align_mobile == "center" %}
  <style>
   .image-text-btn-{{ section.id }} {
      margin-left: auto;
      margin-right: auto;
    } 
  </style>
{% elsif button_align_mobile == "right" %}
  <style>
   .image-text-btn-{{ section.id }} {
      margin-left: auto;
    } 
  </style>
{% endif %}

{% if button_align == "center" %}
  <style>
    @media(min-width: 1024px) {
     .image-text-btn-{{ section.id }} {
        margin-left: auto;
        margin-right: auto;
      } 
    }
  </style>
{% elsif button_align == "right" %}
  <style>
    @media(min-width: 1024px) {
     .image-text-btn-{{ section.id }} {
        margin-left: auto;
      } 
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
     .image-text-btn-{{ section.id }} {
        margin-left: 0px;
        margin-right: 0px;
      } 
    }
  </style>
{% endif %}

{% for block in section.blocks %}
  <style>
    .image-text-image-{{ block.id }} {
      width: 100%;
      z-index: {{ block.settings.image_index }};
      max-width: {{ block.settings.image_width_mobile }}%;
      left: {{ block.settings.image_horizontal_position_mobile }}%;
      top: {{ block.settings.image_vertical_position_mobile }}%;
      transform: translateX(-{{ block.settings.image_horizontal_position_mobile }}%);
      border-radius: {{ block.settings.image_radius }}px;
      border: {{ block.settings.image_border_thickness }}px solid {{ block.settings.image_border_color }};
    }

    .image-text-image-{{ block.id }} img,
    .image-text-image-{{ block.id }} svg {
      border-radius: {{ block.settings.image_radius }}px;
    }

    @media(min-width: 768px) {
      .image-text-image-{{ block.id }} {
        left: {{ block.settings.image_horizontal_position_mobile | times: 1.25 | round: 0 }}%;
        top: {{ block.settings.image_vertical_position_mobile | times: 1.25 | round: 0 }}%;
        transform: translateX(-{{ block.settings.image_horizontal_position_mobile | times: 1.25 | round: 0 }}%);
      }
    }

    @media(min-width: 1024px) {
      .image-text-image-{{ block.id }} {
        max-width: {{ block.settings.image_width }}%;
        left: {{ block.settings.image_horizontal_position }}%;
        top: {{ block.settings.image_vertical_position }}%;
        transform: translateX(-{{ block.settings.image_horizontal_position }}%);
      }
    }
  </style>

  {% if block.settings.image_shadow %}
    <style>
      .image-text-image-{{ block.id }} {
        box-shadow: 0px 0px 10px 0px {{ block.settings.image_shadow_color | hex_to_rgba: 0.3 }}; 
      }
    </style>
  {% endif %}

  {% if block.settings.image_ratio_mobile == "portrait" %}
    <style>
      .image-text-image-{{ block.id }} {
       aspect-ratio: 9.6/12; 
      }
    </style>
  {% elsif block.settings.image_ratio_mobile == "landscape" %}
    <style>
      .image-text-image-{{ block.id }} {
       aspect-ratio: 12/8; 
      }
    </style>
  {% elsif block.settings.image_ratio_mobile == "square" %}
    <style>
      .image-text-image-{{ block.id }} {
       aspect-ratio: 12/12; 
      }
    </style>
  {% endif %}

  {% if block.settings.image_ratio == "portrait" %}
    <style>
      @media(min-width: 1024px) {
       .image-text-image-{{ block.id }} {
         aspect-ratio: 9.6/12; 
        } 
      }
    </style>
  {% elsif block.settings.image_ratio == "landscape" %}
    <style>
      @media(min-width: 1024px) {
        .image-text-image-{{ block.id }} {
         aspect-ratio: 12/8; 
        }
      }
    </style>
  {% elsif block.settings.image_ratio == "square" %}
    <style>
       @media(min-width: 1024px) {
        .image-text-image-{{ block.id }} {
         aspect-ratio: 12/12; 
        } 
       }
    </style>
  {% else %}
    <style>
       @media(min-width: 1024px) {
        .image-text-image-{{ block.id }} {
         aspect-ratio: none; 
        } 
       }
    </style>
  {% endif %}

  {% if block.settings.image_hide_mobile %}
    <style>
      .image-text-image-{{ block.id }} {
        display: none;
      }
      @media(min-width: 1024px) {
        .image-text-image-{{ block.id }} {
          display: block;
        }
      }
    </style>
  {% endif %}
  
  {% if block.settings.image_hide_desktop %}
    <style>
      @media(min-width: 1024px) {
        .image-text-image-{{ block.id }} {
          display: none !important;
        }
      }
    </style>
  {% else %}
    <style>
      @media(min-width: 1024px) {
        .image-text-image-{{ block.id }} {
          display: block !important;
        }
      }
    </style>
  {% endif %}

  {% if block.settings.image_lines %}
    <style>
      .image-text-image-lines-{{ block.id }} {
        position: absolute;
        width: 100%;
        height: 100%;
        --border-corner-width: {{ block.settings.image_lines_size_mobile }}px;
      }

      .image-text-image-lines-{{ block.id }}:after {
        content: "";
        position: absolute;
        top: calc(-1*var(--border-corner-width));
        right: calc(-1*var(--border-corner-width));
        width: var(--border-corner-width);
        height: var(--border-corner-width);
        border-bottom: 1px solid {{ block.settings.image_lines_color }};
        border-left: 1px solid {{ block.settings.image_lines_color }};
      }

      .image-text-image-lines-{{ block.id }}:before {
        content: "";
        position: absolute;
        top: calc(-1*var(--border-corner-width));
        left: calc(-1*var(--border-corner-width));
        width: var(--border-corner-width);
        height: var(--border-corner-width);
        border-bottom: 1px solid {{ block.settings.image_lines_color }};
        border-right: 1px solid {{ block.settings.image_lines_color }};
      }

      .image-text-image-bottom-lines-{{ block.id }} {
        display: block !important;
        position: relative;
        width: 100%;
        height: 100%;
      }

      .image-text-image-bottom-lines-{{ block.id }}:after {
        content: "";
        position: absolute;
        bottom: calc(-1*var(--border-corner-width));
        right: calc(-1*var(--border-corner-width));
        width: var(--border-corner-width);
        height: var(--border-corner-width);
        border-top: 1px solid {{ block.settings.image_lines_color }};
        border-left: 1px solid {{ block.settings.image_lines_color }};
      }

      .image-text-image-bottom-lines-{{ block.id }}:before {
        content: "";
        position: absolute;
        bottom: calc(-1*var(--border-corner-width));
        left: calc(-1*var(--border-corner-width));
        width: var(--border-corner-width);
        height: var(--border-corner-width);
        border-top: 1px solid {{ block.settings.image_lines_color }};
        border-right: 1px solid {{ block.settings.image_lines_color }};
      }

      @media(min-width: 1024px) {
        .image-text-image-lines-{{ block.id }} {
          --border-corner-width: {{ block.settings.image_lines_size }}px;
        }
      }
    </style>
  {% endif %}
{% endfor %}

<div class="section-{{ section.id }} image-text-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="image-text-inner-{{ section.id }}">
        <div class="image-text-content-{{ section.id }}">
          {% if heading != blank %}
            <div class="image-text-heading-{{ section.id }}">{{ heading }}</div>
          {% endif %}
          {% if sub_heading != blank %}
            <p class="image-text-subheading-{{ section.id }}">{{ sub_heading }}</p>
          {% endif %}
          {% if button != blank %}
            <a href="{{ button_url }}" class="image-text-btn-{{ section.id }}">{{ button }}</a>
          {% endif %}
        </div>
        {% for block in section.blocks %}
          <div class="image-text-image-{{ section.id }} image-text-image-{{ block.id }}">
            {% if block.settings.image_lines %}
              <div class="image-text-image-lines-{{ block.id }}">
                <div class="image-text-image-bottom-lines-{{ block.id }}"></div>
              </div>
            {% endif %}
            {% if block.settings.image != blank %}
              <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image_alt }}" {% if lazy %}loading="lazy"{% endif %}>
            {% else %}
              {{ 'image' | placeholder_svg_tag }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
</div>

{% schema %}
{
  "name": "SG-Image With Text #4",
  "settings": [
    {
      "type": "header",
      "content": "Text content"
    },
    {
      "type": "range",
      "id": "content_maxwidth",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Content Width",
      "default": 54
    },
    {
      "type": "range",
      "id": "content_maxwidth_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Content Width - Mobile",
      "default": 100
    },
    {
      "type": "range",
      "id": "content_vertical_position",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Content Vertical Position",
      "default": 10
    },
    {
      "type": "range",
      "id": "content_vertical_position_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Content Vertical Position - Mobile",
      "default": 42
    },
    {
      "type": "range",
      "id": "content_horizontal_position",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Content Horizontal Position",
      "default": 5
    },
    {
      "type": "range",
      "id": "content_horizontal_position_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Content Horizontal Position - Mobile",
      "default": 5
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<h2>Meet our community</h2>"
    },
    {
      "type": "checkbox",
      "id": "heading_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Heading Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Heading Size",
      "default": 86
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Heading Size - Mobile",
      "default": 50
    },
    {
      "type": "range",
      "id": "heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Heading Line Height",
      "default": 100
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "Heading Text Align",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_align_mobile",
      "label": "Heading Text Align - Mobile",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Sub-heading"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Sub-heading",
      "default": "YOUR COURT, YOUR STORY: MEET OUR INSPIRING CUSTOMERS IN OUR IN MY COURT SERIES."
    },
    {
      "type": "checkbox",
      "id": "sub_heading_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "sub_heading_font",
      "label": "Sub-heading Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "sub_heading_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Sub-heading Size",
      "default": 14
    },
    {
      "type": "range",
      "id": "sub_heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Sub-heading Size - Mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "sub_heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Sub-heading Line Height",
      "default": 150
    },
    {
      "type": "select",
      "id": "sub_heading_align",
      "label": "Sub-heading Text Align",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "sub_heading_align_mobile",
      "label": "Sub-heading Text Align - Mobile",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "range",
      "id": "sub_heading_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Sub-heading Margin Top",
      "default": 22
    },
    {
      "type": "range",
      "id": "sub_heading_width",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Sub-heading Width",
      "default": 50
    },
    {
      "type": "range",
      "id": "sub_heading_width_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Sub-heading Width - Mobile",
      "default": 100
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button",
      "default": "Read more"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "checkbox",
      "id": "button_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "button_font",
      "label": "Button Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "button_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Button Size",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Button Size - Mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "button_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Button Line Height",
      "default": 100
    },
    {
      "type": "select",
      "id": "button_align",
      "label": "Button Text Align",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "button_align_mobile",
      "label": "Button Text Align - Mobile",
      "default": "left",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "range",
      "id": "button_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Button Margin Top",
      "default": 22
    },
    {
      "type": "range",
      "id": "button_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Button Padding Vertical",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Button Padding Horizontal",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Button Border Radius",
      "default": 0
    },
    {
      "type": "range",
      "id": "button_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Button Border Thickness",
      "default": 0
    },
    {
      "type": "header",
      "content": "Button Colors"
    },
    {
      "type": "color",
      "label": "Button Color",
      "id": "button_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Button Hover Color",
      "id": "button_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Button Background Color",
      "id": "button_bg_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Button Background Hover Color",
      "id": "button_bg_hover_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Button Border Color",
      "id": "button_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Button Border Hover Color",
      "id": "button_border_hover_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "label": "Heading Color",
      "id": "heading_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Sub-Heading Color",
      "id": "sub_heading_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": -100,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": -100,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width",
      "default": true
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "rem",
      "label": "Section content width",
      "default": 120
    },
    {
      "type": "range",
      "id": "content_height",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "rem",
      "label": "Section content height",
      "default": 120
    },
    {
      "type": "range",
      "id": "content_height_mobile",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "rem",
      "label": "Section content height - Mobile",
      "default": 70
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%",
          "label": "Image Width",
          "default": 54
        },
        {
          "type": "range",
          "id": "image_width_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%",
          "label": "Image Width - Mobile",
          "default": 100
        },
        {
          "type": "range",
          "id": "image_vertical_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Image Vertical Position",
          "default": 20
        },
        {
          "type": "range",
          "id": "image_vertical_position_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Image Vertical Position - Mobile",
          "default": 20
        },
        {
          "type": "range",
          "id": "image_horizontal_position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Image Horizontal Position",
          "default": 5
        },
        {
          "type": "range",
          "id": "image_horizontal_position_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Image Horizontal Position - Mobile",
          "default": 5
        },
        {
          "type": "range",
          "id": "image_index",
          "min": -1,
          "max": 3,
          "step": 1,
          "label": "Order of images, like layers",
          "default": 3
        },
        {
          "type": "select",
          "id": "image_ratio",
          "label": "Image Aspect Ratio - Desktop",
          "default": "landscape",
          "options": [
            {
              "label": "Original",
              "value": "original"
            },
            {
              "label": "Portrait",
              "value": "portrait"
            },
            {
              "label": "Square",
              "value": "square"
            },
            {
              "label": "Landscape",
              "value": "landscape"
            }
          ]
        },
        {
          "type": "select",
          "id": "image_ratio_mobile",
          "label": "Image Aspect Ratio - Mobile",
          "default": "landscape",
          "options": [
            {
              "label": "Original",
              "value": "original"
            },
            {
              "label": "Portrait",
              "value": "portrait"
            },
            {
              "label": "Square",
              "value": "square"
            },
            {
              "label": "Landscape",
              "value": "landscape"
            }
          ]
        },
        {
          "type": "range",
          "id": "image_radius",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Image Radius",
          "default": 0
        },
        {
          "type": "range",
          "id": "image_border_thickness",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "px",
          "label": "Image Border Thickness",
          "default": 0
        },
        {
          "type": "checkbox",
          "label": "Use Image Lines at the Corners",
          "id": "image_lines",
          "default": false
        },
        {
          "type": "range",
          "id": "image_lines_size",
          "min": 5,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Image Lines at the Corners Size",
          "default": 16
        },
        {
          "type": "range",
          "id": "image_lines_size_mobile",
          "min": 5,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Image Lines at the Corners Size - Mobile",
          "default": 10
        },
        {
          "type": "checkbox",
          "label": "Use Image Shadow",
          "id": "image_shadow",
          "default": false
        },
        {
          "type": "checkbox",
          "label": "Hide on Desktop",
          "id": "image_hide_desktop",
          "default": false
        },
        {
          "type": "checkbox",
          "label": "Hide on Mobile",
          "id": "image_hide_mobile",
          "default": false
        },
        {
          "type": "header",
          "content": "Block Colors"
        },
        {
          "type": "color",
          "label": "Image Border Color",
          "id": "image_border_color",
          "default": "#000000"
        },
        {
          "type": "color",
          "label": "Image Shadow Color",
          "id": "image_shadow_color",
          "default": "#000000"
        },
        {
          "type": "color",
          "label": "Image Lines at the Corners Color",
          "id": "image_lines_color",
          "default": "#000000"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Image With Text #4",
      "blocks": [
        {
          "type": "image",
          "settings": {
            "image_width": 60,
            "image_width_mobile": 80,
            "image_vertical_position": 10,
            "image_vertical_position_mobile": 0,
            "image_horizontal_position": 70,
            "image_horizontal_position_mobile": 5,
            "image_index": 0
          }
        },
        {
          "type": "image",
          "settings": {
            "image_width": 54,
            "image_width_mobile": 60,
            "image_vertical_position": 45,
            "image_vertical_position_mobile": 11,
            "image_horizontal_position": 90,
            "image_horizontal_position_mobile": 90,
            "image_index": 0,
            "image_ratio_mobile": "square"
          }
        },
        {
          "type": "image",
          "settings": {
            "image_width": 30,
            "image_width_mobile": 100,
            "image_vertical_position": 50,
            "image_vertical_position_mobile": 20,
            "image_horizontal_position": 5,
            "image_horizontal_position_mobile": 5,
            "image_index": 0,
            "image_hide_mobile": true
          }
        }
      ]
    }
  ]
}
{% endschema %}