<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign section_radius = section.settings.section_radius
  assign lazy = section.settings.lazy

  assign sub_heading = section.settings.sub_heading
  assign sub_heading_custom = section.settings.sub_heading_custom
  assign sub_heading_font = section.settings.sub_heading_font
  assign sub_heading_size = section.settings.sub_heading_size
  assign sub_heading_size_mobile = section.settings.sub_heading_size_mobile
  assign sub_heading_height = section.settings.sub_heading_height
  assign sub_heading_color = section.settings.sub_heading_color
  assign sub_heading_align = section.settings.sub_heading_align
  assign sub_heading_align_mobile = section.settings.sub_heading_align_mobile
    
  assign heading = section.settings.heading
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_height = section.settings.heading_height
  assign heading_color = section.settings.heading_color
  assign heading_mt = section.settings.heading_mt
  assign heading_mt_mobile = section.settings.heading_mt_mobile
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign layout_type = section.settings.layout_type
  assign layout_type_mobile = section.settings.layout_type_mobile

  assign items_view = section.settings.items_view
  assign items_view_mobile = section.settings.items_view_mobile
  assign items_gap = section.settings.items_gap
  assign items_gap_mobile = section.settings.items_gap_mobile  
  assign items_mt = section.settings.items_mt
  assign items_mt_mobile = section.settings.items_mt_mobile   

  assign video_radius = section.settings.video_radius
  assign video_ratio = section.settings.video_ratio
  assign video_ratio_mobile = section.settings.video_ratio_mobile

  assign player_size_mobile = section.settings.player_size_mobile
  assign player_color = section.settings.player_color

  assign number_custom = section.settings.number_custom
  assign number_font = section.settings.number_font
  assign number_size = section.settings.number_size
  assign number_size_mobile = section.settings.number_size_mobile
  assign number_height = section.settings.number_height
  assign number_color = section.settings.number_color
  assign number_mt = section.settings.number_mt
  assign number_mt_mobile = section.settings.number_mt_mobile
  assign number_align = section.settings.number_align
  assign number_align_mobile = section.settings.number_align_mobile

  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_height = section.settings.text_height
  assign text_color = section.settings.text_color
  assign text_mt = section.settings.text_mt
  assign text_mt_mobile = section.settings.text_mt_mobile
  assign text_align = section.settings.text_align
  assign text_align_mobile = section.settings.text_align_mobile

  assign button = section.settings.button
  assign button_size = section.settings.button_size
  assign button_size_mobile = section.settings.button_size_mobile
  assign button_color = section.settings.button_color
  assign button_hover_color = section.settings.button_hover_color
  assign button_custom = section.settings.button_custom
  assign button_font = section.settings.button_font
  assign button_height = section.settings.button_height
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_padding_vertical_mobile = section.settings.button_padding_vertical_mobile
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_padding_horizontal_mobile = section.settings.button_padding_horizontal_mobile
  assign button_radius = section.settings.button_radius
  assign button_border_thickness = section.settings.button_border_thickness
  assign button_border_color = section.settings.button_border_color
  assign button_border_hover_color = section.settings.button_border_hover_color
  assign button_bg_color = section.settings.button_bg_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color
  assign button_style = section.settings.button_style
  assign button_mt = section.settings.button_mt
  assign button_mt_mobile = section.settings.button_mt_mobile
  assign button_url = section.settings.button_url
  assign button_align = section.settings.button_align
  assign button_align_mobile = section.settings.button_align_mobile

  assign button_horizontal_align = ""
  if button_align == "center"
    assign button_horizontal_align = "center"
  elsif button_align == "right"
    assign button_horizontal_align = "end"
  else
    assign button_horizontal_align = "start"
  endif

  assign button_horizontal_align_mobile = ""
  if button_align_mobile == "center"
    assign button_horizontal_align_mobile = "center"
  elsif button_align_mobile == "right"
    assign button_horizontal_align_mobile = "end"
  else
    assign button_horizontal_align_mobile = "start"
  endif
-%}

{%- style -%}  
  {{ heading_font | font_face: font_display: 'swap' }}
  {{ sub_heading_font | font_face: font_display: 'swap' }}
  {{ number_font | font_face: font_display: 'swap' }}
  {{ text_font | font_face: font_display: 'swap' }}
  {{ button_font |  font_face: font_display: 'swap' }}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .multicolumns-sub-heading-{{ section.id }}  {
    text-align: {{ sub_heading_align_mobile }};
  }

  .multicolumns-sub-heading-{{ section.id }}  * {
    margin: 0;
    font-size: {{ sub_heading_size_mobile }}px;
    color: {{ sub_heading_color }};
    line-height: {{ sub_heading_height }}%;
    text-transform: unset;
    text-decoration: none;
  }

  .multicolumns-heading-{{ section.id }} {
    text-align: {{ heading_align_mobile }};
    margin-top: {{ heading_mt_mobile }}px;
  }

  .multicolumns-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
    text-decoration: none;
  }

  .multicolumns-slider-{{ section.id }} {
    margin-top: {{ items_mt_mobile }}px !important;
    margin-left: -{{ padding_horizontal_mobile }}rem !important;
    margin-right: -{{ padding_horizontal_mobile }}rem !important;
    padding-left: {{ padding_horizontal_mobile }}rem !important;
    padding-right: {{ padding_horizontal_mobile }}rem !important;
  }

  .multicolumns-grid-{{ section.id }} {
    grid-template-columns: repeat({{ items_view_mobile | round: 0 }}, 1fr);
    gap: {{ items_gap_mobile }}px;
    margin-top: {{ items_mt_mobile }}px;
  }

  .multicolumns-video-{{ section.id }} {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    border-radius: {{ video_radius }}px;
    overflow: hidden;
    transition: all 0.25s ease 0s;
    box-sizing: border-box !important;
  }

  .multicolumns-video-{{ section.id }} video,
  .multicolumns-video-{{ section.id }} iframe {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    border: 0;
    box-shadow: 0;
  }

  .multicolumns-video-player-{{ section.id }} {
    background: none;
    width: {{ player_size_mobile }}px;
    height: {{ player_size_mobile }}px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.25s ease 0s;
    border: none;  
    cursor: pointer; 
    z-index: 2;
    padding: 0px;
  }

  .multicolumns-video-player-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .multicolumns-video-player-{{ section.id }} path {
    fill: {{ player_color }};
  }
  
  .multicolumns-item-{{ section.id }}.active .multicolumns-video-player-{{ section.id }} {
    display: none;
  }

  .multicolumns-item-{{ section.id }} .multicolumns-video-player-{{ section.id }} {
    display: flex;
  }

  .multicolumns-number-{{ section.id }} {
    margin: 0;
    display: block;
    text-transform: unset;
    word-wrap: break-word;
    font-size: {{ number_size_mobile }}px;
    line-height: {{ number_height }}%;
    color: {{ number_color }};
    margin-top: {{ number_mt_mobile }}px;
    text-align: {{ number_align_mobile }};
  }

  .multicolumns-text-{{ section.id }} {
    display: block;
    text-transform: unset;
    word-wrap: break-word;
    margin-top: {{ text_mt_mobile }}px;    
  }

  .multicolumns-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ text_size_mobile }}px;
    line-height: {{ text_height }}%;
    color: {{ text_color }};
    text-align: {{ text_align_mobile }};
  }

  .multicolumns-button-wrap-{{ section.id }} {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: {{ button_horizontal_align_mobile }};
  }

  .multicolumns-button-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    gap: 10px;
    width: 100%;
    margin: 0;
    margin-top: {{ button_mt_mobile }}px;
    font-size: {{ button_size_mobile }}px;
    color: {{ button_color }};
    line-height: {{ button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical_mobile }}px {{ button_padding_horizontal_mobile }}px;
    border-radius: {{ button_radius }}px;
    transition: all 1s ease 0s;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-weight: 700;
  }

  .multicolumns-button-inner-{{ section.id }} {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .multicolumns-button-{{ section.id }}:hover {
    color: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .multicolumns-button-{{ section.id }} svg {
    width: 14px;
    height: 14px;
    transition: all 0.25s ease 0s;
  }

  .multicolumns-button-{{ section.id }} svg path {
    fill: {{ button_color }};
    transition: all 0.25s ease 0s;
  }

  .multicolumns-button-{{ section.id }}:hover svg path {
    fill: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .multicolumns-sub-heading-{{ section.id }} {
      text-align: {{ sub_heading_align }};
    }
  
    .multicolumns-sub-heading-{{ section.id }} * {
      font-size: {{ sub_heading_size }}px;
    }
    
    .multicolumns-heading-{{ section.id }} {
      text-align: {{ heading_align }};
      margin-top: {{ heading_mt }}px;
    }
  
    .multicolumns-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .collection-slider-{{ section.id }} {
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      overflow: visible;
      margin-top: {{ items_mt }}px !important;
    }

    .multicolumns-grid-{{ section.id }} {
      grid-template-columns: repeat({{ items_view | round: 0 }}, 1fr);
      gap: {{ items_gap }}px;
      margin-top: {{ items_mt }}px;
    }

    .multicolumns-video-player-{{ section.id }} {      
      display: none !important;
    }

    .multicolumns-number-{{ section.id }} {
      font-size: {{ number_size }}px;
      margin-top: {{ number_mt }}px;
      text-align: {{ number_align }};
    }

    .multicolumns-text-{{ section.id }} * {
      font-size: {{ text_size }}px;
      margin-top: {{ text_mt }}px;
      text-align: {{ text_align }};
    }

    .multicolumns-button-wrap-{{ section.id }} {
      justify-content: {{ button_horizontal_align }};
    }

    .multicolumns-button-{{ section.id }} {
      margin-top: {{ button_mt }}px;
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
      font-size: {{ button_size }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if sub_heading_custom %}
  <style>
    .multicolumns-sub-heading-{{ section.id }} * {
      font-family: {{ sub_heading_font.family }}, {{ sub_heading_font.fallback_families }};
      font-weight: {{ sub_heading_font.weight }};
      font-style: {{ sub_heading_font.style }};
    }
  </style>
{% endif %}

{% if heading_custom %}
  <style>
    .multicolumns-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if number_custom %}
  <style>
    .multicolumns-number-{{ section.id }} {
      font-family: {{ number_font.family }}, {{ number_font.fallback_families }};
      font-weight: {{ number_font.weight }};
      font-style: {{ number_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .multicolumns-text-{{ section.id }} {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if button_custom %}
  <style>
    .multicolumns-button-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}

{% if video_ratio_mobile == "portrait" %}
  <style>
    .multicolumns-video-{{ section.id }} {
      aspect-ratio: 9.6/13;
    }
  </style>
{% elsif video_ratio_mobile == "landscape" %}
  <style>
  .multicolumns-video-{{ section.id }} {
    aspect-ratio: 12/8;
  }
  </style>
{% elsif video_ratio_mobile == "square" %}
  <style>
    .multicolumns-video-{{ section.id }} {
      aspect-ratio: 12/12;
    }
  </style>
{% else %}
  <style>
    .multicolumns-video-{{ section.id }} {
    aspect-ratio: auto;
    }
  </style>
{% endif %}

{% if video_ratio == "portrait" %}
  <style>
    @media (min-width: 1024px) {
      .multicolumns-video-{{ section.id }} {
        aspect-ratio: 9.6/13;
      }
    }
  </style>
{% elsif video_ratio == "landscape" %}
  <style>
    @media (min-width: 1024px) {
      .multicolumns-video-{{ section.id }} {
        aspect-ratio: 12/8;
      }
    }
  </style>
{% elsif video_ratio == "square" %}
  <style>
    @media (min-width: 1024px) {
      .multicolumns-video-{{ section.id }} {
        aspect-ratio: 12/12;
      }
    }
  </style>
{% else %}
  <style>
    @media (min-width: 1024px) {
      .multicolumns-video-{{ section.id }} {
        aspect-ratio: auto;
      }
    }
  </style>
{% endif %}

{% if button_style == "non_outline" or button_style == "non_outline_arrow" %}
  <style>
    .multicolumns-button-{{ section.id }} {
      background-color: {{ button_bg_color }};
      transition: all 0.25s ease 0s;
    }

    .multicolumns-button-{{ section.id }}:hover {
      background-color: {{ button_bg_hover_color }};
      transition: all 0.25s ease 0s;
    }
  </style>
{% elsif button_style == "outline" or button_style == "outline_arrow" %}
  <style>
    .multicolumns-button-{{ section.id }} {
      background-color: {{ button_bg_color }};
      border: {{ button_border_thickness }}px solid {{ button_border_color }};
      transition: all 0.25s ease 0s;
    }

    .multicolumns-button-{{ section.id }}:hover {
      background-color: {{ button_bg_hover_color }};
      border: {{ button_border_thickness }}px solid {{ button_border_hover_color }};
      transition: all 0.25s ease 0s;
    }

    .multicolumns-button-{{ section.id }}:hover svg path {
      transition: all 0.25s ease 0s;
    }

  </style>
{% elsif button_style == "link" %}
  <style>
    .multicolumns-button-{{ section.id }} {
      padding: 0px !important;
    }
  </style>
{% endif %}

{% if layout_type_mobile == 'grid' %}
  <style>
    .multicolumns-slider-wrapper-{{ section.id }} {
      display: none;
    }
    .multicolumns-grid-{{ section.id }} {
      display: grid;
    }
  </style> 
{% else %}   
  <style>
    .multicolumns-slider-wrapper-{{ section.id }} {
      display: block;
    }
    .multicolumns-grid-{{ section.id }} {
      display: none;
    }
  </style> 
{% endif %}

{% if layout_type == 'grid' %}
  <style>
    @media (min-width: 1024px) {
      .multicolumns-slider-wrapper-{{ section.id }} {
        display: none;
      }
      .multicolumns-grid-{{ section.id }} {
        display: grid;
      }
    }
  </style> 
{% else %}   
  <style>
    @media (min-width: 1024px) {
      .multicolumns-slider-wrapper-{{ section.id }} {
        display: block;
      }
      .multicolumns-grid-{{ section.id }} {
        display: none;
      }
    }
  </style> 
{% endif %}

{% comment %} PREVIEW {% endcomment %}
<style>
  .multicolumns-slider-{{ section.id }}.preview .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }

  .multicolumns-slider-{{ section.id }}.preview .multicolumns-item-{{ section.id }} {
    width: 100%;
  }

  .multicolumns-slider-{{ section.id }}.preview .multicolumns-item-{{ section.id }}:not(:first-child) {
    margin-left: {{ items_gap_mobile }}px;
  } 

  @media(min-width: 1024px) {
    .multicolumns-slider-{{ section.id }}.preview .multicolumns-item-{{ section.id }}:not(:first-child) {
      margin-left: {{ items_gap }}px;
    } 

    .multicolumns-slider-{{ section.id }}.preview .multicolumns-item-{{ section.id }} {
      width: calc(100% / {{ items_view }} - ({{ items_gap }}px * {{ items_view | minus: 1 }}));
    }
  }
</style>


<div class="section-{{ section.id }} multicolumns-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      {% if sub_heading != blank %}
        <div class="multicolumns-sub-heading-{{ section.id }}">
          {{ sub_heading }}
        </div>  
      {% endif %}
      {% if heading != blank %}
        <div class="multicolumns-heading-{{ section.id }}">
          {{ heading }}
        </div>  
      {% endif %}
      <div class="multicolumns-slider-wrapper-{{ section.id }}">
        <div class="multicolumns-slider-{{ section.id }} swiper preview ">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="swiper-slide multicolumns-item-{{ section.id }}">
                <div class="multicolumns-video-{{ section.id }}">
                  {% assign video_id = block.settings.item_video.id | default: block.settings.item_video_url.id %}
                  {% assign loop = '&loop=1&playlist=' | append: video_id %}
                  {%- if block.settings.item_video == null and block.settings.item_video_url != null -%}
                  {%- if block.settings.item_video_url.type == 'youtube' -%}
                  <iframe
                  {% if lazy %}data-{% endif %}src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=0&controls=0&showinfo=0{{ loop }}"
                      data-src1="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=1&controls=0&showinfo=0{{ loop }}"
                      data-src2="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=0&controls=0&showinfo=0{{ loop }}"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                      class="lazy"
                  ></iframe>
                  {%- else -%}
                  <iframe
                      {% if lazy %}data-{% endif %}src="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=0&controls=0&showinfo=0{{ loop }}"
                      data-src1="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=1&controls=0&showinfo=0{{ loop }}"
                      data-src2="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=0&controls=0&showinfo=0{{ loop }}"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                      class="lazy"
                  ></iframe>
                  {% endif %}
                  {% else %}
                      <video {% if lazy %}data-{% endif %}src="{{ block.settings.item_video.sources[1].url }}" muted playsinline preload="none" loop class="lazy"></video>
                  {% endif %}
                  <button class="multicolumns-video-player-{{ section.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 200 200" class="IconButton__Icon-sc-6jboai-1 hGZoMt"><path d="M154.1 91.2 76.5 36.3c-7.5-5.3-17.9.1-17.9 9.3v109.8c0 9.2 10.4 14.6 17.9 9.3l77.6-54.9c6.4-4.6 6.4-14.1 0-18.6" class="icon-play_svg__st0"></path></svg>
                  </button>
                </div>                
                <p class="multicolumns-number-{{ section.id }}">{{ forloop.index }}</p>
                {% if block.settings.text != blank %}
                  <div class="multicolumns-text-{{ section.id }}">
                    {{ block.settings.text }}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>      
      <div class="multicolumns-grid-{{ section.id }}">
        {% for block in section.blocks %}
          <div class="multicolumns-item-{{ section.id }}">
            <div class="multicolumns-video-{{ section.id }}">
              {% assign video_id = block.settings.item_video.id | default: block.settings.item_video_url.id %}
              {% assign loop = '&loop=1&playlist=' | append: video_id %}
              {%- if block.settings.item_video == null and block.settings.item_video_url != null -%}
              {%- if block.settings.item_video_url.type == 'youtube' -%}
              <iframe
              {% if lazy %}data-{% endif %}src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=0&controls=0&showinfo=0{{ loop }}"
                  data-src1="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=1&controls=0&showinfo=0{{ loop }}"
                  data-src2="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=0&controls=0&showinfo=0{{ loop }}"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                  class="lazy"
              ></iframe>
              {%- else -%}
              <iframe
                  {% if lazy %}data-{% endif %}src="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=0&controls=0&showinfo=0{{ loop }}"
                  data-src1="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=1&controls=0&showinfo=0{{ loop }}"
                  data-src2="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=0&controls=0&showinfo=0{{ loop }}"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                  class="lazy"
              ></iframe>
              {% endif %}
              {% else %}
                  <video {% if lazy %}data-{% endif %}src="{{ block.settings.item_video.sources[1].url }}" muted playsinline preload="none" loop class="lazy"></video>
              {% endif %}
              <button class="multicolumns-video-player-{{ section.id }}">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 200 200" class="IconButton__Icon-sc-6jboai-1 hGZoMt"><path d="M154.1 91.2 76.5 36.3c-7.5-5.3-17.9.1-17.9 9.3v109.8c0 9.2 10.4 14.6 17.9 9.3l77.6-54.9c6.4-4.6 6.4-14.1 0-18.6" class="icon-play_svg__st0"></path></svg>
              </button>
            </div>
            <p class="multicolumns-number-{{ section.id }}">{{ forloop.index }}</p>
            {% if block.settings.text != blank %}
              <div class="multicolumns-text-{{ section.id }}">
                {{ block.settings.text }}
              </div>
            {% endif %}          
          </div>
        {% endfor %}
      </div>
      {% if button != blank %}
       <div class="multicolumns-button-wrap-{{ section.id }}">
          <a href="{{ button_url }}" class="multicolumns-button-{{ section.id }}">
            <p class="multicolumns-button-inner-{{ section.id }}">
            {{ button }}
              {% if button_style == "non_outline_arrow" or button_style == "outline_arrow" %}
                <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                  <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                </svg>
              {% endif %}
            </p>
          </a>
        </div>  
      {% endif %}      
    </div>
</div>

{% if lazy %}
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@19.1.3/dist/lazyload.min.js"></script>
{% endif %}

<script>
  function loadSwiper(callback) {
    if (window.Swiper) {
      callback();
    } else {
      const script = document.createElement('script');
      script.src = "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js";
      script.onload = callback;
      document.head.appendChild(script);
    }
  }
  
  function initMulticolumnsVideo2(sectionId) {
    setTimeout(() => {
      document.querySelector(`.multicolumns-slider-${sectionId}`).classList.remove('preview');
      {% if lazy %}
        let lazyLoadInstance = new LazyLoad();
        window.addEventListener(
          "LazyLoad::Initialized",
          function (event) {
            window.lazyLoadInstance = event.detail.instance;
          },
          false
        );
      {% endif %}

      const slider = new Swiper(`.multicolumns-slider-${sectionId}`, {
        speed: 800,
        breakpoints: {
          320: {
            spaceBetween: {{ items_gap_mobile }},
            slidesPerView: {{ items_view_mobile }},
          },
          768: {
            spaceBetween: {{ items_gap_mobile }},
            slidesPerView: {{ items_view | times: 0.5 | round: 0 }},
          },
          1024: {
            spaceBetween: {{ items_gap }},
            slidesPerView: {{ items_view }},
          }
        }
      });

      const videoItems = document.querySelectorAll(`.multicolumns-item-${sectionId}`);
      const playButton = document.querySelector(`.multicolumns-video-player-${sectionId}`);

      videoItems.forEach(item => {        
        const video = item.querySelector('video');
        const iframe = item.querySelector('iframe');

        if (window.innerWidth < 1024) {
          item.addEventListener('click', function () {
            if(item.classList.contains('active')) {              
              if(video) {
                video.pause();
              }
              if(iframe) {
                iframe.src = iframe.getAttribute('data-src2');
              } 
            } else {
              if(video) {
                video.play();
              }
              if(iframe) {
                iframe.src = iframe.getAttribute('data-src1');
              }      
            }  
            item.classList.toggle('active'); 
          })
        } else {
          item.addEventListener('mouseenter', function() {
            if (video) {
              video.play();
            }

            if (iframe) {
              iframe.src = iframe.getAttribute('data-src1');
            }
            item.classList.add('active');
          });

          item.addEventListener('mouseleave', function() {
            if (video) {
              video.pause();
              video.currentTime = 0;
            }

            if (iframe) {
              iframe.src = iframe.getAttribute('data-src2');
            }
            item.classList.remove('active');
          });
        }
        
      });
    }, 400)
  }

  function initializeAllmulticolumnVideo2Sections() {
    const sections = document.querySelectorAll('[id^="shopify-section-"]');
    sections.forEach(section => {
      if (section.querySelector('.multicolumns-{{ section.id }}')) {
        const sectionId = section.id.replace('shopify-section-', '');
        loadSwiper(() => initMulticolumnsVideo2(sectionId));
      }
    });
  }

  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', initializeAllmulticolumnVideo2Sections);
  } else {
    initializeAllmulticolumnVideo2Sections();
  }

  if (Shopify.designMode) {
    document.addEventListener('shopify:section:load', (event) => {
      const sectionId = event.detail.sectionId;
      if (event.target.querySelector('.multicolumns-{{ section.id }}')) {
        loadSwiper(() => initMulticolumnsVideo2(sectionId));
      }
    });
  }
</script>



{% schema %}
{
  "name": "SG-sg-Multicolumns video #2",
  "settings": [
    {
      "type": "header",
      "content": "Subheading settings"
    },
    {
      "type": "richtext",
      "id": "sub_heading",
      "label": "Text",
      "default": "<p>Subheading</p>"
    },
    {
      "type": "checkbox",
      "id": "sub_heading_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "sub_heading_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "sub_heading_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "sub_heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "sub_heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "text_alignment",
      "id": "sub_heading_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "sub_heading_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Heading settings"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Text",
      "default": "<h2>Multicolumns Video #2</h2>"
    },
    {
      "type": "checkbox",
      "id": "heading_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 36
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 32
    },
    {
      "type": "range",
      "id": "heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "range",
      "id": "heading_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 16
    },
    {
      "type": "range",
      "id": "heading_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 10
    },
    {
      "type": "text_alignment",
      "id": "heading_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "heading_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Layout settings"
    },
    {
      "type": "select",
      "id": "layout_type",
      "label": "Layout type",
      "default": "grid",
      "options": [
        {
          "label": "Slider",
          "value": "slider"
        },
        {
          "label": "Grid",
          "value": "grid"
        }
      ]
    },
    {
      "type": "select",
      "id": "layout_type_mobile",
      "label": "Layout type - mobile",
      "default": "slider",
      "options": [
        {
          "label": "Slider",
          "value": "slider"
        },
        {
          "label": "Grid",
          "value": "grid"
        }
      ]
    },
    {
      "type": "header",
      "content": "Items settings"
    },
    {
      "type": "range",
      "id": "items_view",
      "min": 1,
      "max": 5,
      "step": 0.5,
      "label": "Items per view",
      "default": 3
    },
    {
      "type": "range",
      "id": "items_view_mobile",
      "min": 1,
      "max": 2,
      "step": 0.1,
      "label": "Items per view - mobile",
      "default": 1.3
    },
    {
      "type": "range",
      "id": "items_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "label": "Gap",
      "default": 24
    },
    {
      "type": "range",
      "id": "items_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "label": "Gap - mobile",
      "default": 24
    },
    {
      "type": "range",
      "id": "items_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 40
    },
    {
      "type": "range",
      "id": "items_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 40
    },
    {
      "type": "header",
      "content": "Video settings"
    },
    {
      "type": "range",
      "id": "video_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 0
    },
    {
      "type": "select",
      "id": "video_ratio",
      "label": "Aspect ratio",
      "default": "square",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "select",
      "id": "video_ratio_mobile",
      "label": "Aspect ratio - mobile",
      "default": "square",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "header",
      "content": "Play button settings"
    },
    {
      "type": "range",
      "id": "player_size_mobile",
      "min": 30,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Size - mobile",
      "default": 40
    },
    {
      "type": "header",
      "content": "Number settings"
    },
    {
      "type": "checkbox",
      "id": "number_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "number_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "number_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 32
    },
    {
      "type": "range",
      "id": "number_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "number_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 100
    },
    {
      "type": "range",
      "id": "number_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 20
    },
    {
      "type": "range",
      "id": "number_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 20
    },
    {
      "type": "text_alignment",
      "id": "number_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "number_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Text settings"
    },
    {
      "type": "checkbox",
      "id": "text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "text_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "text_size",
      "min": 0,
      "max": 48,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "text_size_mobile",
      "min": 0,
      "max": 48,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "range",
      "id": "text_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 10
    },
    {
      "type": "range",
      "id": "text_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 10
    },
    {
      "type": "text_alignment",
      "id": "text_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "text_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Button settings"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button label",
      "default": "SHOP NOW",
      "info": "Leave the label blank to hide the button."
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "URL"
    },
    {
      "type": "checkbox",
      "id": "button_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "button_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "button_size",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 13
    },
    {
      "type": "range",
      "id": "button_size_mobile",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 13
    },
    {
      "type": "range",
      "id": "button_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 100
    },
    {
      "type": "range",
      "id": "button_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 24
    },
    {
      "type": "range",
      "id": "button_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 24
    },
    {
      "type": "range",
      "id": "button_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 4
    },
    {
      "type": "range",
      "id": "button_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 1
    },
    {
      "type": "range",
      "id": "button_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 50
    },
    {
      "type": "range",
      "id": "button_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 32
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "default": "outline",
      "options": [
        {
          "label": "Link",
          "value": "link"
        },
        {
          "label": "Non-outline",
          "value": "non_outline"
        },
        {
          "label": "Non-outline & arrow",
          "value": "non_outline_arrow"
        },
        {
          "label": "Outline",
          "value": "outline"
        },
        {
          "label": "Outline & arrow",
          "value": "outline_arrow"
        }
      ]
    },
    {
      "type": "text_alignment",
      "id": "button_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "button_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Content colors"
    },
    {
      "type": "color",
      "label": "Subheading",
      "id": "sub_heading_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Heading",
      "id": "heading_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "number_color",
      "label": "Number",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Button colors"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "button_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Hover text",
      "id": "button_hover_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "button_bg_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Background hover",
      "id": "button_bg_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Button border",
      "id": "button_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Border hover",
      "id": "button_border_hover_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Play button colors"
    },
    {
      "type": "color",
      "id": "player_color",
      "label": "Icon",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Margin sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Margin sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 800,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "label": "Section content width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load media for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "video",
          "id": "item_video",
          "label": "Video from Shopify"
        },
        {
          "type": "video_url",
          "id": "item_video_url",
          "label": "Video embed from URL",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "info": "Youtube or Vimeo. Shows when no Shopify-hosted video is selected."
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Add a description or additional information.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Multicolumns video #2",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}