{%- liquid 
  assign position = section.settings.position
  assign horizontal_dst_to_edge = section.settings.horizontal_dst_to_edge
  assign vertical_dst_to_edge = section.settings.vertical_dst_to_edge

  assign body_width = section.settings.body_width
  assign body_width_mobile = section.settings.body_width_mobile
  assign body_border_radius = section.settings.body_border_radius
  assign body_border_thickness = section.settings.body_border_thickness  
  assign body_border_color = section.settings.body_border_color

  assign input_placeholder = section.settings.input_placeholder
  assign input_custom = section.settings.input_custom
  assign input_font = section.settings.input_font
  assign input_size = section.settings.input_size
  assign input_modal_size = section.settings.input_modal_size
  assign input_height = section.settings.input_height
  assign input_color = section.settings.input_color
  assign input_placeholder_color = section.settings.input_placeholder_color
  assign input_padding_vertical = section.settings.input_padding_vertical
  assign input_padding_vertical_mobile = section.settings.input_padding_vertical_mobile
  assign input_padding_horizontal = section.settings.input_padding_horizontal
  assign input_padding_horizontal_mobile = section.settings.input_padding_horizontal_mobile
  assign input_border_thickness = section.settings.input_border_thickness
  assign input_border_color = section.settings.input_border_color
  assign input_radius_modal = section.settings.input_radius_modal

  assign button = section.settings.button
  assign button_custom = section.settings.button_custom
  assign button_font = section.settings.button_font
  assign button_text_size = section.settings.button_text_size
  assign button_text_size_mobile = section.settings.button_text_size_mobile
  assign button_text_height = section.settings.button_text_height
  assign button_text_color = section.settings.button_text_color
  assign button_text_hover_color = section.settings.button_text_hover_color
  assign button_radius_modal = section.settings.button_radius_modal
  assign button_border_thickness = section.settings.button_border_thickness
  assign button_border_color = section.settings.button_border_color
  assign button_bg_color = section.settings.button_bg_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_padding_vertical_mobile = section.settings.button_padding_vertical_mobile
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_padding_horizontal_mobile = section.settings.button_padding_horizontal_mobile

  assign video = section.settings.video
  assign video_url = section.settings.video_url
  assign video_width = section.settings.video_width
  assign video_width_mobile = section.settings.video_width_mobile

  assign close_button_size = section.settings.close_button_size
  assign close_button_size_mobile = section.settings.close_button_size_mobile
  assign close_button_bg_color = section.settings.close_button_bg_color
  assign close_button_bg_hover_color = section.settings.close_button_bg_hover_color
  assign close_button_color = section.settings.close_button_color
  assign close_button_hover_color = section.settings.close_button_hover_color
  assign close_button_radius = section.settings.close_button_radius
  assign close_button_border_thickness = section.settings.close_button_border_thickness
  assign close_button_border_color = section.settings.close_button_border_color
  assign close_button_border_hover_color = section.settings.close_button_border_hover_color

  assign modal_radius = section.settings.modal_radius
  assign modal_border_thickness = section.settings.modal_border_thickness
  assign modal_border_color = section.settings.modal_border_color
  assign modal_bg_color = section.settings.modal_bg_color
  assign modal_padding_vertical = section.settings.modal_padding_vertical
  assign modal_padding_horizontal = section.settings.modal_padding_horizontal

  assign modal_close_size = section.settings.modal_close_size
  assign modal_close_color = section.settings.modal_close_color

  assign modal_text = section.settings.modal_text
  assign modal_text_custom = section.settings.modal_text_custom
  assign modal_text_font = section.settings.modal_text_font
  assign modal_text_size = section.settings.modal_text_size
  assign modal_text_height = section.settings.modal_text_height
  assign modal_text_color = section.settings.modal_text_color
  assign modal_text_align = section.settings.modal_text_align

  assign modal_form_gap_mobile = section.settings.modal_form_gap_mobile
  assign modal_form_mt_mobile = section.settings.modal_form_mt_mobile
-%}

{%- style -%}
  {{  input_font | font_face: font_display: 'swap' }}
  {{  button_font | font_face: font_display: 'swap' }}
  {{  modal_text_font | font_face: font_display: 'swap' }}  

  .newsletter-{{ section.id }} {
    display: block;
    position: fixed;
    z-index: 4;
  }

  .newsletter-wrapper-{{ section.id }} {
    display: grid;
    grid-template-columns: 1fr {{ video_width_mobile }}%;    
    width: 100%;
    max-width: {{ body_width_mobile }}px;
    height: 100%;
    border: {{ body_border_thickness }}px solid {{ body_border_color }};
    background-color: {{ button_bg_color }};
    border-radius: {{ body_border_radius }}px;
    overflow: hidden;
  }

  .newsletter-{{ section.id }}.active {
    display: none;
  }

  .newsletter-form-{{ section.id }} form {
    height: 100%;
  }

  .newsletter-row-{{ section.id }} {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .newsletter-input-{{ section.id }},
  .newsletter-submit-{{ section.id }} {
    border: none;
    flex: 1 0;
    display: block;
    width: 100%;
    text-align: center;
  }

  .newsletter-input-{{ section.id }} {
    display: none;
    border-bottom: {{ body_border_thickness }}px solid {{ body_border_color }};
    padding: {{ input_padding_vertical_mobile }}px {{ input_padding_horizontal_mobile }}px;
    background-color: #FFFFFF;
  }

  .newsletter-input-{{ section.id }}::placeholder {
    color: {{ input_placeholder_color }};
  }

  .newsletter-submit-{{ section.id }} {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    word-wrap: break-word;
    margin: 0;
    font-size: {{ button_text_size_mobile }}px;
    color: {{ button_text_color }};
    line-height: {{ button_text_height }}%;
    text-transform: unset;
    background-color: {{ button_bg_color }};
    transition: all 0.25s ease 0s;
  }

  .newsletter-submit-{{ section.id }} svg {
    width: 10px;
    height: 10px;
    transition: all 0.25s ease 0s;
  }  

  .newsletter-submit-{{ section.id }} svg path {
    fill: {{ button_text_color }};
    transition: all 0.25s ease 0s;
  }

  .newsletter-submit-{{ section.id }}:hover svg path {
    fill: {{ button_text_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .newsletter-submit-{{ section.id }}:hover {
    transition: all 0.25s ease 0s;
    color: {{ button_text_hover_color }};
    background-color: {{ button_bg_hover_color }};
  }

  .newsletter-video-{{ section.id }} {
    position: relative;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.25s ease 0s;
    box-sizing: border-box !important;
    border-left: {{ body_border_thickness }}px solid {{ body_border_color }};
    aspect-ratio: 1 / 1;
  }

  .newsletter-video-{{ section.id }}:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .newsletter-video-{{ section.id }} iframe,
  .newsletter-video-{{ section.id }} video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0px;
    box-shadow: none;
    position: relative;
  }

  .newsletter-close-{{ section.id }} {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    width: {{ close_button_size_mobile }}px;
    height: {{ close_button_size_mobile }}px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: {{ close_button_bg_color }};
    transition: all 0.25s ease 0s;
    border-top-right-radius: {{ close_button_radius }}px;
    border-bottom-left-radius: {{ close_button_radius }}px;
    border: {{ close_button_border_thickness }}px solid {{ close_button_border_color }};
  }

  .newsletter-close-{{ section.id }} svg {
    display: block;
    width: 60%;
    height: 60%;
  }

  .newsletter-close-{{ section.id }} svg polygon {
    fill: {{ close_button_color }};
    transition: all 0.25s ease 0s;
  }

   .newsletter-close-{{ section.id }}:hover {
     background-color: {{ close_button_bg_hover_color }};
     border-color: {{ close_button_border_hover_color }};
     transition: all 0.25s ease 0s;
   }

  .newsletter-close-{{ section.id }}:hover svg polygon {
    transition: all 0.25s ease 0s;
    fill: {{ close_button_hover_color }};
  } 

  .newsletter-modal-{{ section.id }} {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: none;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 0;
    padding: 20px;
  }

  .newsletter-modal-{{ section.id }}.active {
    display: flex;
    pointer-events: all;
    z-index: 4;
  }

  .newsletter-content-{{ section.id }} {
    height: auto;
    padding: {{ modal_padding_vertical }}px {{ modal_padding_horizontal }}px;
    border-radius: {{ modal_radius }}px;
    position: relative;
    width: 100%;
    border: {{ modal_border_thickness }}px solid {{ modal_border_color }};
    background-color: {{ modal_bg_color }};
  }

  .newsletter-button-{{ section.id }} {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    width: {{ modal_close_size }}px;
    height: {{ modal_close_size }}px;
    transition: all 0.25s ease 0s;
  }

  .newsletter-button-{{ section.id }} svg {
    width: 100%;
    height: 100%;    
  }

  .newsletter-button-{{ section.id }} svg polygon {
    transition: all 0.25s ease 0s;
    fill: {{ modal_close_color }};
  }

  .newsletter-text-{{ section.id }} {
    word-wrap: break-word;
    margin: 0;
    font-size: {{ modal_text_size }}px;
    color: {{ modal_text_color }};
    line-height: {{ modal_text_height }}%;
    text-transform: unset;
    text-align: {{ modal_text_align }};
  }

  .newsletter-modal-{{ section.id }} .newsletter-row-{{ section.id }} {
    gap: {{ modal_form_gap_mobile }}px;
    margin-top: {{ modal_form_mt_mobile }}px;    
  }

  .newsletter-modal-{{ section.id }} .newsletter-submit-{{ section.id }} {        
    border: {{ button_border_thickness }}px solid {{ button_border_color }};
  }

  .newsletter-modal-{{ section.id }} .newsletter-input-{{ section.id }} {
    border: {{ input_border_thickness }}px solid {{ input_border_color }};
  }

  .newsletter-input-{{ section.id }}:focus {
    box-shadow: none;
    outline: none;
  }

  .newsletter-modal-{{ section.id }} .newsletter-input-{{ section.id }} {
    font-size: {{ input_modal_size }}px;
    padding: {{ input_padding_vertical_mobile }}px {{ input_padding_horizontal_mobile }}px;
    display: block;
    border-radius: {{ input_radius_modal }}px;
    color: {{ input_color }};
  }
  
  .newsletter-modal-{{ section.id }} .newsletter-submit-{{ section.id }} {
    padding: {{ button_padding_vertical_mobile }}px {{ button_padding_horizontal_mobile }}px;
    border-radius: {{ button_radius_modal }}px;
  }

  @media(min-width: 1024px) {
    .newsletter-input-{{ section.id }} {
      word-wrap: break-word;
      margin: 0;
      font-size: {{ input_size }}px;
      color: {{ input_color }};
      line-height: {{ input_height }}%;
      text-transform: unset;
      display: block;
      border-bottom: {{ body_border_thickness }}px solid {{ body_border_color }};
      padding: {{ input_padding_vertical }}px {{ input_padding_horizontal }}px;
    }

    .newsletter-wrapper-{{ section.id }} {
      grid-template-columns: 1fr {{ video_width }}%;    
      max-width: {{ body_width }}px;
    }

    .newsletter-close-{{ section.id }} {
      width: {{ close_button_size }}px;
      height: {{ close_button_size }}px;
    }

    .newsletter-submit-{{ section.id }} {
      font-size: {{ button_text_size }}px;
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
    }
  }
  
{%- endstyle -%}

{% if position == "top_left" %}
  <style>
    .newsletter-{{ section.id }} {
      left: {{ horizontal_dst_to_edge | times: 0.75 | round: 0 }}px;
      top: {{ vertical_dst_to_edge | times: 0.75 | round: 0 }}px;
    }
    
    @media(min-width: 1024px) {
      .newsletter-{{ section.id }} {
        left: {{ horizontal_dst_to_edge }}px;
        top: {{ vertical_dst_to_edge }}px;
      }
    }
  </style>
{% elsif position == "top_right" %}
  <style>
    .newsletter-{{ section.id }} {
      right: {{ horizontal_dst_to_edge | times: 0.75 | round: 0 }}px;
      top: {{ vertical_dst_to_edge | times: 0.75 | round: 0 }}px;
    }
    
    @media(min-width: 1024px) {
      .newsletter-{{ section.id }} {
        right: {{ horizontal_dst_to_edge }}px;
        top: {{ vertical_dst_to_edge }}px;
      }
    }
  </style>
{% elsif position == "bottom_left" %}
  <style>
    .newsletter-{{ section.id }} {
      left: {{ horizontal_dst_to_edge | times: 0.75 | round: 0 }}px;
      bottom: {{ vertical_dst_to_edge | times: 0.75 | round: 0 }}px;
    }
    
    @media(min-width: 1024px) {
      .newsletter-{{ section.id }} {
        left: {{ horizontal_dst_to_edge }}px;
        bottom: {{ vertical_dst_to_edge }}px;
      }
    }
  </style>
{% elsif position == "bottom_right" %}
  <style>
    .newsletter-{{ section.id }} {
      right: {{ horizontal_dst_to_edge | times: 0.75 | round: 0 }}px;
      bottom: {{ vertical_dst_to_edge | times: 0.75 | round: 0 }}px;
    }
    
    @media(min-width: 1024px) {
      .newsletter-{{ section.id }} {
        right: {{ horizontal_dst_to_edge }}px;
        bottom: {{ vertical_dst_to_edge }}px;
      }
    }
  </style>
{% endif %}

{% if input_custom %}
  <style>
    .newsletter-input-{{ section.id }} {
      font-family: {{ input_font.family }}, {{ input_font.fallback_families }};
      font-weight: {{ input_font.weight }};
      font-style: {{ input_font.style }};
    }
  </style>
{% endif %}  

{% if button_custom %}
  <style>
    .newsletter-submit-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}  

{% if modal_text_custom %}
  <style>
    .newsletter-text-{{ section.id }} {
      font-family: {{ modal_text_font.family }}, {{ modal_text_font.fallback_families }};
      font-weight: {{ modal_text_font.weight }};
      font-style: {{ modal_text_font.style }};
    }
  </style>
{% endif %} 

<div class="newsletter-{{ section.id }}">
    <div class="newsletter-wrapper-{{ section.id }}">
      <div class="newsletter-close-{{ section.id }}">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 371.23 371.23" style="enable-background:new 0 0 371.23 371.23;" xml:space="preserve">
          <polygon points="371.23,21.213 350.018,0 185.615,164.402 21.213,0 0,21.213 164.402,185.615 0,350.018 21.213,371.23   185.615,206.828 350.018,371.23 371.23,350.018 206.828,185.615 "/>
        </svg>
      </div>
      <div class="newsletter-form-{{ section.id }}">
        {% form 'customer' %}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="newsletter-row-{{ section.id }}">
            <input
              id="NewsletterForm--{{ section.id }}"
              type="email"
              name="contact[email]"
              class="newsletter-input-{{ section.id }}"
              value="{{ form.email }}"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              placeholder="{{ input_placeholder }}"
              {% if form.errors %}
                autofocus
                aria-invalid="true"
                aria-describedby="Newsletter-error--{{ section.id }}"
              {% elsif form.posted_successfully? %}
                aria-describedby="Newsletter-succesg--{{ section.id }}"
              {% endif %}
              required
            >
            {% if button %}
              <button type="submit" class="newsletter-submit-{{ section.id }}" name="commit">
                {{ button }}
                <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                  <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                </svg>
              </button>
            {% endif %}
            
          </div>
        {% endform %}
      </div>
      <div class="newsletter-video-{{ section.id }}">
        {% assign video_id = video.id | default: video_url.id %}
        {% assign loop = '&loop=1&playlist=' | append: video_id %}
        {%- if video == null and video_url != null -%}
        {%- if video_url.type == 'youtube' -%}
          <iframe
            data-src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=1&controls=0&showinfo=0{{ loop }}"
            data-src1="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=1&controls=0&showinfo=0{{ loop }}"
            data-src2="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=0&controls=0&showinfo=0{{ loop }}"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            class="lazy"
          ></iframe>
          {%- else -%}
          <iframe
            data-src="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=1&controls=0&showinfo=0{{ loop }}"
            data-src1="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=1&controls=0&showinfo=0{{ loop }}"
            data-src2="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=0&controls=0&showinfo=0{{ loop }}"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            class="lazy"
          ></iframe>
          {% endif %}
          {% else %}
            <video data-src="{{ video.sources[1].url }}" muted autoplay playsinline preload="none" loop class="lazy"></video>
          {% endif %}
      </div>
    </div>
</div>

<div class="newsletter-modal-{{ section.id }}">
  <div class="newsletter-content-{{ section.id }}">
    <div class="newsletter-button-{{ section.id }}">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 371.23 371.23" style="enable-background:new 0 0 371.23 371.23;" xml:space="preserve">
        <polygon points="371.23,21.213 350.018,0 185.615,164.402 21.213,0 0,21.213 164.402,185.615 0,350.018 21.213,371.23   185.615,206.828 350.018,371.23 371.23,350.018 206.828,185.615 "/>
      </svg>
    </div>
    {% if modal_text != blank %}
      <div class="newsletter-text-{{ section.id }}">
        {{ modal_text }}
      </div>
    {% endif %}

    <div class="newsletter-form-{{ section.id }}">
        {% form 'customer' %}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="newsletter-row-{{ section.id }}">
            <input
              id="NewsletterForm--{{ section.id }}"
              type="email"
              name="contact[email]"
              class="newsletter-input-{{ section.id }}"
              value="{{ form.email }}"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              placeholder="{{ input_placeholder }}"
              {% if form.errors %}
                autofocus
                aria-invalid="true"
                aria-describedby="Newsletter-error--{{ section.id }}"
              {% elsif form.posted_successfully? %}
                aria-describedby="Newsletter-succesg--{{ section.id }}"
              {% endif %}
              required
            >
            {% if button %}
              <button type="submit" class="newsletter-submit-{{ section.id }}" name="commit">
                {{ button }}
                <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                  <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                </svg>
              </button>
            {% endif %}
          </div>
        {% endform %}
      </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@19.1.3/dist/lazyload.min.js"></script>

<script>
  function initNewsletter2() {
    let lazyLoadInstance = new LazyLoad();
    window.addEventListener(
      "LazyLoad::Initialized",
      function (event) {
        window.lazyLoadInstance = event.detail.instance;
      },
      false
    );
    
    let newsletterContent = document.querySelector('.newsletter-{{ section.id }}');
    let modal = document.querySelector('.newsletter-modal-{{ section.id }}');
    let submit = document.querySelector('.newsletter-submit-{{ section.id }}');
    let closeModal = document.querySelector('.newsletter-button-{{ section.id }}');
    let close = document.querySelector('.newsletter-close-{{ section.id }}');

    close.addEventListener('click', function() {
      newsletterContent.classList.add('active')
    })

    submit.addEventListener('click', function(event) {        
      if (window.innerWidth < 1024) {
        event.preventDefault(); 
        modal.classList.add('active');
        document.body.style.overflow = 'hidden';
      }
    });

    closeModal.addEventListener('click', function() {
      modal.classList.remove('active');
      document.body.style.overflow = '';
    });

    function formToJSON(elements) {
    	return [].reduce.call(elements, function (data, element) {
    		data[element.name] = element.value;
    		return data;
    	}, {});
    }

    function getUrlString(data) {
    	var urlParameters = Object.entries(data).map(function (e) {
    		return e.join('=');
    	}).join('&');
    
    	return urlParameters;
    }

    const form = document.querySelector('.newsletter-form-{{ section.id }} form');

    if(form) {
      let inputs = form.querySelectorAll("[name]");
        
      form.addEventListener('submit', function(event) {
        event.preventDefault();
      
        var action = form.getAttribute("action");

        fetch(action, {
          method: 'POST',
          body: getUrlString(formToJSON(inputs))
        })
        .then(response => {
          console.log(response);
          console.log(response.status);
          if (response.status === 200) {
            alert(response);
          } else {
            throw new Error('Form submission failed.');
          }
        })
        .catch(error => {
          console.error('Form submission error:', error);
          alert(error);
        })
        .finally(() => {
          alert('finally');
        });
        
      });
    }
  }

  document.addEventListener('DOMContentLoaded', initNewsletter2);

  if (Shopify.designMode) {
    document.addEventListener('shopify:section:unload', initNewsletter2);
    document.addEventListener('shopify:section:load', initNewsletter2);
  }
</script>

{% schema %}
{
  "name": "SG-Newsletter #2",
  "settings": [
    {
      "type": "header",
      "content": "Position settings"
    },
    {
      "type": "select",
      "id": "position",
      "label": "Position",
      "options": [
        {
          "value": "top_left",
          "label": "Top-Left"
        },
        {
          "value": "top_right",
          "label": "Top-Right"
        },
        {
          "value": "bottom_left",
          "label": "Bottom-Left"
        },
        {
          "value": "bottom_right",
          "label": "Bottom-Right"
        }
      ],
      "default": "bottom_right"
    },
    {
      "type": "range",
      "id": "horizontal_dst_to_edge",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Horizontal edge distance",
      "default": 20
    },
    {
      "type": "range",
      "id": "vertical_dst_to_edge",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Vertical edge distance",
      "default": 20
    },
    {
      "type": "header",
      "content": "Newsletter box settings"
    },
    {
      "type": "range",
      "id": "body_width",
      "min": 200,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "Width",
      "default": 270
    },
    {
      "type": "range",
      "id": "body_width_mobile",
      "min": 150,
      "max": 350,
      "step": 10,
      "unit": "px",
      "label": "Width - mobile",
      "default": 180
    },
    {
      "type": "range",
      "id": "body_border_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 4
    },
    {
      "type": "range",
      "id": "body_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 1
    },
    {
      "type": "header",
      "content": "Input settings"
    },
    {
      "type": "text",
      "id": "input_placeholder",
      "label": "Placeholder",
      "default": "Enter email for updates"
    },
    {
      "type": "checkbox",
      "id": "input_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "input_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "input_size",
      "min": 0,
      "max": 32,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 12
    },
    {
      "type": "range",
      "id": "input_modal_size",
      "min": 0,
      "max": 32,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "input_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 100
    },
    {
      "type": "range",
      "id": "input_padding_vertical",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 2
    },
    {
      "type": "range",
      "id": "input_padding_vertical_mobile",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "input_padding_horizontal",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 2
    },
    {
      "type": "range",
      "id": "input_padding_horizontal_mobile",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "input_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness - mobile",
      "default": 1
    },
    {
      "type": "range",
      "id": "input_radius_modal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness - mobile",
      "default": 10
    },
    {
      "type": "header",
      "content": "Button settings"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button label",
      "default": "SUBSCRIBE"
    },
    {
      "type": "checkbox",
      "id": "button_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "button_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "button_text_size",
      "min": 0,
      "max": 32,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 12
    },
    {
      "type": "range",
      "id": "button_text_size_mobile",
      "min": 0,
      "max": 32,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "button_text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 100
    },
    {
      "type": "range",
      "id": "button_padding_vertical",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 2
    },
    {
      "type": "range",
      "id": "button_padding_vertical_mobile",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "button_padding_horizontal",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 2
    },
    {
      "type": "range",
      "id": "button_padding_horizontal_mobile",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness - mobile",
      "default": 1
    },
    {
      "type": "range",
      "id": "button_radius_modal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness - mobile",
      "default": 10
    },
    {
      "type": "header",
      "content": "Video settings"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video from Shopify"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "label": "Video embed from URL",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "info": "Youtube or Vimeo. Shows when no Shopify-hosted video is selected."
    },
    {
      "type": "range",
      "id": "video_width",
      "min": 20,
      "max": 60,
      "step": 2,
      "unit": "%",
      "label": "Width",
      "default": 24
    },
    {
      "type": "range",
      "id": "video_width_mobile",
      "min": 20,
      "max": 60,
      "step": 2,
      "unit": "%",
      "label": "Width - mobile",
      "default": 22
    },
    {
      "type": "header",
      "content": "Close icon settings"
    },
    {
      "type": "range",
      "id": "close_button_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Size",
      "default": 12
    },
    {
      "type": "range",
      "id": "close_button_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Size - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "close_button_radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Roundness",
      "default": 4
    },
    {
      "type": "range",
      "id": "close_button_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 1
    },
    {
      "type": "header",
      "content": "Modal settings",
      "info": "Only on mobile"
    },
    {
      "type": "range",
      "id": "modal_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 40
    },
    {
      "type": "range",
      "id": "modal_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 20
    },
    {
      "type": "range",
      "id": "modal_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 0
    },
    {
      "type": "range",
      "id": "modal_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 1
    },
    {
      "type": "header",
      "content": "Modal text settings"
    },
    {
      "type": "richtext",
      "id": "modal_text",
      "label": "Text",
      "default": "<p>Get insider access to limited-time offers by subscribing to our newsletter.</p>"
    },
    {
      "type": "checkbox",
      "id": "modal_text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "modal_text_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "modal_text_size",
      "min": 0,
      "max": 32,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 12
    },
    {
      "type": "range",
      "id": "modal_text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "text_alignment",
      "id": "modal_text_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Modal form settigns"
    },
    {
      "type": "range",
      "id": "modal_form_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 10
    },
    {
      "type": "range",
      "id": "modal_form_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 16
    },
    {
      "type": "header",
      "content": "Close modal settings"
    },
    {
      "type": "range",
      "id": "modal_close_size",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "label": "Size",
      "default": 12
    },
    {
      "type": "header",
      "content": "Subscribe box colors"
    },
    {
      "type": "color",
      "id": "body_border_color",
      "label": "Border",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Input colors"
    },
    {
      "type": "color",
      "id": "input_color",
      "label": "Text",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "input_placeholder_color",
      "label": "Placeholder",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "input_border_color",
      "label": "Border - modal",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Button colors"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Text",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_text_hover_color",
      "label": "Text hover",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "button_bg_color",
      "label": "Background",
      "default": "#7CBAFF"
    },
    {
      "type": "color",
      "id": "button_bg_hover_color",
      "label": "Background hover",
      "default": "#AAD2FF"
    },
    {
      "type": "color",
      "id": "button_border_color",
      "label": "Border - modal",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Close icon colors"
    },
    {
      "type": "color",
      "id": "close_button_color",
      "label": "Close",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "close_button_hover_color",
      "label": "Close hover",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "close_button_bg_color",
      "label": "Background",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "close_button_bg_hover_color",
      "label": "Background hover",
      "default": "#D4D4D4"
    },
    {
      "type": "color",
      "id": "close_button_border_color",
      "label": "Border",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "close_button_border_hover_color",
      "label": "Border hover",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Modal colors"
    },
    {
      "type": "color",
      "id": "modal_text_color",
      "label": "Text",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "modal_close_color",
      "label": "Close icon",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "modal_bg_color",
      "label": "Background",
      "default": "#FAEC23"
    },
    {
      "type": "color",
      "id": "modal_border_color",
      "label": "Border",
      "default": "#FFFFFF"
    }
  ],
  "presets": [
    {
      "name": "SG-Newsletter #2"
    }
  ]
}
{% endschema %}