{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width

  assign text = section.settings.text
  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_height = section.settings.text_height
  assign text_align = section.settings.text_align
  assign text_weight = section.settings.text_weight
  assign text_style = section.settings.text_style

  assign first_text_color_first = section.settings.first_text_color_first
  assign second_text_color_first = section.settings.second_text_color_first
  assign third_text_color_first = section.settings.third_text_color_first
  assign four_text_color_first = section.settings.four_text_color_first
  assign five_text_color_first = section.settings.five_text_color_first
  assign six_text_color_first = section.settings.six_text_color_first

  assign text_color_second = section.settings.text_color_second
  assign text_neon_color_second = section.settings.text_neon_color_second
  assign padding_horizontal_second = section.settings.padding_horizontal_second
  assign padding_vertical_second = section.settings.padding_vertical_second
  assign border_neon_color_second = section.settings.border_neon_color_second
  assign border_color_second = section.settings.border_color_second
  assign border_thickness_second = section.settings.border_thickness_second
  assign border_radius_second = section.settings.border_radius_second

  assign text_color_third = section.settings.text_color_third
  assign shadow_color_third = section.settings.shadow_color_third
  
-%}

{%- style -%}
  
  {{ text_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .styles-text-heading-{{ section.id }} {
    max-width: fit-content;
    margin: 0;
    font-size: {{ text_size_mobile }}px;
    font-weight: {{ text_weight }};
    line-height: {{ text_height }}%;
    text-transform: unset;
    text-align: {{ text_align }};
  }

  .styles-text-first-{{ section.id }} span {
    opacity:1;
  }

  @-webkit-keyframes text-flicker-in-glow{
    0%{ opacity:0 }
    10%{ opacity:0;text-shadow:none}
    10.1%{ opacity:1;text-shadow:none }
    10.2%{ opacity:0;text-shadow:none }
    20%{opacity:0;text-shadow:none}
    20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}
    20.6%{opacity:0;text-shadow:none}
    30%{opacity:0;text-shadow:none}
    30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}
    30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}
    30.6%{opacity:0;text-shadow:none}
    45%{opacity:0;text-shadow:none}
    45.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}
    50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}
    55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}
    55.1%{opacity:0;text-shadow:none}
    57%{opacity:0;text-shadow:none}
    57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}
    60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}
    60.1%{opacity:0;text-shadow:none}
    65%{opacity:0;text-shadow:none}
    65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}
    75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}
    75.1%{opacity:0;text-shadow:none}
    77%{opacity:0;text-shadow:none}
    77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}
    85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}
    85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}
    86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}
    100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}
  }
  
  @keyframes text-flicker-in-glow{
    0%{ opacity:0 }
    10%{ opacity:0;text-shadow:none}
    10.1%{ opacity:1;text-shadow:none }
    10.2%{ opacity:0;text-shadow:none }
    20%{opacity:0;text-shadow:none}
    20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}
    20.6%{opacity:0;text-shadow:none}
    30%{opacity:0;text-shadow:none}
    30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}
    30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}
    30.6%{opacity:0;text-shadow:none}
    45%{opacity:0;text-shadow:none}
    45.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}
    50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}
    55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}
    55.1%{opacity:0;text-shadow:none}
    57%{opacity:0;text-shadow:none}
    57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}
    60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}
    60.1%{opacity:0;text-shadow:none}
    65%{opacity:0;text-shadow:none}
    65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}
    75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}
    75.1%{opacity:0;text-shadow:none}
    77%{opacity:0;text-shadow:none}
    77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}
    85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}
    85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}
    86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}
    100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}
  }
  
  .styles-text-second-{{ section.id }} {
    font-style: italic;
    color: {{ text_color_second }};
    padding: {{ padding_vertical_second | times: 0.75 | round: 0 }}px {{ padding_horizontal_second | times: 0.75 | round: 0 }}px;
    border: {{ border_thickness_second }}px solid {{ border_color_second }};
    border-radius: {{ border_radius_second }}px;
    text-transform: uppercase;
    animation: flicker-{{ section.id }} 1.5s infinite alternate;  
  }

  @keyframes flicker-{{ section.id }} {
      0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
          text-shadow:
              -0.2rem -0.2rem 1rem #fff,
              0.2rem 0.2rem 1rem #fff,
              0 0 2rem {{ text_neon_color_second }},
              0 0 4rem {{ text_neon_color_second }},
              0 0 6rem {{ text_neon_color_second }},
              0 0 8rem {{ text_neon_color_second }},
              0 0 10rem {{ text_neon_color_second }};
          box-shadow:
              0 0 .5rem #fff,
              inset 0 0 .5rem #fff,
              0 0 2rem {{ border_neon_color_second }},
              inset 0 0 2rem {{ border_neon_color_second }},
              0 0 4rem {{ border_neon_color_second }},
              inset 0 0 4rem {{ border_neon_color_second }};        
      } 
      20%, 24%, 55% {        
          text-shadow: none;
          box-shadow: none;
      }    
  }
  
  .styles-text-second-{{ section.id }}::-moz-selection {
    background-color: {{ border_neon_color_second }};
    color: {{ text_neon_color_second }};
  }
  
  .styles-text-second-{{ section.id }}::selection {
    background-color: {{ border_neon_color_second }};
    color: {{ text_neon_color_second }};
  }
  
  .styles-text-second-{{ section.id }}:focus {
    outline: none;
  }

  .styles-text-third-{{ section.id }} {
    text-shadow: 0 0 5px {{ shadow_color_third }}, 0 0 15px {{ shadow_color_third }}, 0 0 20px {{ shadow_color_third }}, 0 0 40px {{ shadow_color_third }}, 0 0 60px #ff0000, 0 0 10px {{ shadow_color_third }}, 0 0 98px #ff0000;
    color: {{ text_color_third }};
    animation: blink-{{ section.id }} 10s infinite;
    -webkit-animation: blink-{{ section.id }} 10s infinite;
  }
  @-webkit-keyframes blink-{{ section.id }} {
    20%, 24%, 55% {
        color: #111;
        text-shadow: none;
    }
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow: 0 0 5px {{ shadow_color_third }}, 0 0 15px {{ shadow_color_third }}, 0 0 20px {{ shadow_color_third }}, 0 0 40px {{ shadow_color_third }}, 0 0 60px #ff0000, 0 0 10px {{ shadow_color_third }}, 0 0 98px #ff0000;
        color: {{ text_color_third }};
    }
  }
  
  @keyframes blink-{{ section.id }} {
    20%, 24%, 55% {
        color: #111;
        text-shadow: none;
    }
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow: 0 0 5px {{ shadow_color_third }}, 0 0 15px {{ shadow_color_third }}, 0 0 20px {{ shadow_color_third }}, 0 0 40px {{ shadow_color_third }}, 0 0 60px #ff0000, 0 0 10px {{ shadow_color_third }}, 0 0 98px #ff0000;
        color: {{ text_color_third }};
    }
  }
  
  @media(min-width: 768px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .styles-text-heading-{{ section.id }} {
      font-size: {{ text_size }}px;
    }

    .styles-text-second-{{ section.id }} {
      padding: {{ padding_vertical_second }}px {{ padding_horizontal_second }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if text_custom %}

  <style>
    .styles-text-heading-{{ section.id }} {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
  
{% endif %}

{% if text_align == "center" %}
  <style>
    .styles-text-heading-{{ section.id }} {
      margin-left: auto;
      margin-right: auto;
    }
  </style>
{% elsif text_align == "right" %}
  <style>
    .styles-text-heading-{{ section.id }} {
      margin-left: auto;
    }
  </style>
{% endif %}

<div class="section-{{ section.id }} styles-text-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings ">
      {% if text != blank %}
        {% if text_style == 'first' %}
          {% assign letters = text | split: "" %}
          {% assign colors = "" %}
          {% assign colors = colors | append: first_text_color_first | append: "," %}
          {% assign colors = colors | append: second_text_color_first | append: "," %}
          {% assign colors = colors | append: third_text_color_first | append: "," %}
          {% assign colors = colors | append: four_text_color_first | append: "," %}
          {% assign colors = colors | append: five_text_color_first | append: "," %}
          {% assign colors = colors | append: six_text_color_first %}
          {% assign colors_array = colors | split: "," %}
          
          <h2 class="styles-text-heading-{{ section.id }} styles-text-{{ text_style }}-{{ section.id }}">{% for letter in letters %}{% assign color_index = forloop.index0 | modulo: colors_array.size %}<span style="color: {{ colors_array[color_index] }};animation: text-flicker-in-glow {{ forloop.index | times: 0.4 }}s linear both;">{{ letter }}</span>{% endfor %}</h2>
        {% else %}
          <h2 class="styles-text-heading-{{ section.id }} styles-text-{{ text_style }}-{{ section.id }}">{{ text }}</h2>
        {% endif %}
      {% endif %}
    </div>
</div>

{% schema %}
{
  "name": "SG-Style Text",
  "settings": [
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "I <'3 SECTION STORE"
    },
    {
      "type": "checkbox",
      "id": "text_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "text_font",
      "label": "Text Font Family",
      "default": "assistant_n4"
    },
    {
      "type": "range",
      "id": "text_size",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "Text Size",
      "default": 70
    },
    {
      "type": "range",
      "id": "text_size_mobile",
      "min": 0,
      "max": 80,
      "step": 2,
      "unit": "px",
      "label": "Text Size - Mobile",
      "default": 50
    },
    {
      "type": "range",
      "id": "text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Text Line Height",
      "default": 120
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text Align",
      "default": "center",
      "options": [
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_weight",
      "label": "Text Font Weight",
      "default": "700",
      "options": [
        {
          "label": "Regular",
          "value": "400"
        },
        {
          "label": "Bold",
          "value": "700"
        }
      ]
    },
    {
      "type": "header",
      "content": "Neon sign style"
    },
    {
      "type": "select",
      "id": "text_style",
      "label": "Text Style",
      "default": "first",
      "options": [
        {
          "label": "Style 1",
          "value": "first"
        },
        {
          "label": "Style 2",
          "value": "second"
        },
        {
          "label": "Style 3",
          "value": "third"
        }
      ]
    },
    {
      "type": "header",
      "content": "Style 1 Settings"
    },
    {
      "type": "color",
      "id": "first_text_color_first",
      "label": "First Color",
      "default": "#99FFB9"
    },
    {
      "type": "color",
      "id": "second_text_color_first",
      "label": "Second Color",
      "default": "#FFEF99"
    },
    {
      "type": "color",
      "id": "third_text_color_first",
      "label": "Third Color",
      "default": "#FFC199"
    },
    {
      "type": "color",
      "id": "four_text_color_first",
      "label": "Four Color",
      "default": "#FF99FD"
    },
    {
      "type": "color",
      "id": "five_text_color_first",
      "label": "Five Color",
      "default": "#99BAFF"
    },
    {
      "type": "color",
      "id": "six_text_color_first",
      "label": "Six Color",
      "default": "#E28F71"
    },
    {
      "type": "header",
      "content": "Style 2 Settings"
    },
    {
      "type": "range",
      "id": "border_thickness_second",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 4
    },
    {
      "type": "range",
      "id": "border_radius_second",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Border Radius",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_horizontal_second",
      "min": 0,
      "max": 80,
      "step": 2,
      "unit": "px",
      "label": "Padding Horizontal",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_vertical_second",
      "min": 0,
      "max": 80,
      "step": 2,
      "unit": "px",
      "label": "Padding Vertical",
      "default": 40
    },
    {
      "type": "color",
      "id": "text_color_second",
      "label": "Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "border_color_second",
      "label": "Border Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "text_neon_color_second",
      "label": "Neon Text Color",
      "default": "#F40"
    },
    {
      "type": "color",
      "id": "border_neon_color_second",
      "label": "Neon Border Color",
      "default": "#08F"
    },
    {
      "type": "header",
      "content": "Style 3 Settings"
    },
    {
      "type": "color",
      "id": "text_color_third",
      "label": "Text Color",
      "default": "#FFF6A9"
    },
    {
      "type": "color",
      "id": "shadow_color_third",
      "label": "Shadow Color",
      "default": "#FF8D00"
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#222222"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width",
      "default": true
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "rem",
      "label": "Section content width",
      "default": 120
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "SG-Neon Sign"
    }
  ]
}
{% endschema %}