{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign lazy = section.settings.lazy

  assign features_position = section.settings.features_position

  assign segments = section.settings.segments
  assign active_segment = section.settings.active_segment
  assign active_segment = active_segment | plus: 0

  assign fill = section.settings.fill

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_color = section.settings.heading_color
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign items_gap_mobile = section.settings.items_gap_mobile
  assign items_gap = section.settings.items_gap
  assign items_mt = section.settings.items_mt
  assign items_mt_mobile = section.settings.items_mt_mobile

  assign item_height = section.settings.item_height
  assign item_radius = section.settings.item_radius
  assign item_bg_color = section.settings.item_bg_color
  assign item_bg_active_color = section.settings.item_bg_active_color

  assign show_labels = section.settings.show_labels

  assign left_label = section.settings.left_label
  assign center_label = section.settings.center_label
  assign right_label = section.settings.right_label

  assign label_size = section.settings.label_size
  assign label_size_mobile = section.settings.label_size_mobile
  assign label_color = section.settings.label_color
  assign label_custom = section.settings.label_custom
  assign label_font = section.settings.label_font
  assign label_height = section.settings.label_height
  assign label_mt = section.settings.label_mt
  assign label_mt_mobile = section.settings.label_mt_mobile
  

-%}

{%- style -%}

  {{ heading_font | font_face: font_display: 'swap' }}
  {{ label_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px !important;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px !important;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
    position: relative;
  }
  
  .features-bar-heading-{{ section.id }} {
    margin: 0px;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
    text-align: {{ heading_align_mobile }};
  }

  .features-bar-items-{{ section.id }} {
    display: grid;
    grid-template-columns: repeat({{ segments }}, 1fr);
    gap: {{ items_gap_mobile }}px;
    margin-top: {{ items_mt_mobile }}px;
  }

  .features-bar-item-{{ section.id }} {
    display: block;
    height: {{ item_height }}px;
    border-radius: {{ item_radius }}px;
    background-color: {{ item_bg_color }};
  }

  .features-bar-item-{{ section.id }}.active {
    background-color: {{ item_bg_active_color }};
  }

  .features-bar-labels-{{ section.id }} {
    margin-top: {{ label_mt_mobile }}px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .features-bar-label-text-{{ section.id }} {
    margin: 0px;
    font-size: {{ label_size_mobile }}px;
    color: {{ label_color }};
    line-height: {{ label_height }}%;
    text-transform: unset;
  }

  .features-bar-label-{{ section.id }}:nth-child(2) {
    text-align: center;
  }

  .features-bar-label-{{ section.id }}:nth-child(3) {
    text-align: right;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px !important;
      margin-bottom: {{ margin_bottom }}px !important;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }
    
    .features-bar-heading-{{ section.id }} {
      text-align: {{ heading_align }};
      font-size: {{ heading_size }}px;
    }

    .features-bar-items-{{ section.id }} {
      gap: {{ items_gap }}px;
      margin-top: {{ items_mt }}px;
    }

    .features-bar-labels-{{ section.id }} {
      margin-top: {{ label_mt }}px;
    }

    .features-bar-label-text-{{ section.id }} {
      font-size: {{ label_size }}px;
    }

  }
  
{%- endstyle -%}

{% if heading_custom %}
  <style>
    .features-bar-heading-{{ section.id }} {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if label_custom %}
  <style>
    .features-bar-label-text-{{ section.id }} {
      font-family: {{ label_font.family }}, {{ label_font.fallback_families }};
      font-weight: {{ label_font.weight }};
      font-style: {{ label_font.style }};
    }
  </style>
{% endif %}

<script>
  (function () {
    function moreLoadProductForm() {
      var productForm = document.querySelector('#sg-features-bar');
      if (!productForm){
        var productForm = document.querySelector('{% if features_position == "below_title" or features_position == "above_title" %}.product__title{% elsif features_position == "below_description" or features_position == "above_description" %}.product__description{% else %}.button--add-to-cart, .product .product-form, .product-single__add-to-cart, .shopify-payment-button, .shopify-payment-button__button, .ProductForm__BuyButtons, .add-to-cart{% endif %}');
        if (!productForm) return;
        }
        const templateContent = document.querySelector(
          '#sg-features-bar-{{ section.id }}'
        ).content;

        productForm.insertAdjacentElement(
          '{% if features_position == "below_buy" or features_position == "below_title" or features_position == "below_description" %}afterend{% else %}beforebegin{% endif %}',
          templateContent.firstElementChild
        );

      var bodyInner = document.querySelector('body');
      const templateContent2 = document.querySelector(
        '#sg-features-bar-modal-{{ section.id }}'
      ).content;
      
      bodyInner.insertAdjacentElement(
        'beforeend',
        templateContent2.firstElementChild
      );
      
    }
    window.addEventListener('DOMContentLoaded', moreLoadProductForm);
  })();
</script>

<template id="sg-features-bar-{{ section.id }}">
  <div class="section-{{ section.id }} features-bar-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      {% if heading != blank %}
        <h2 class="features-bar-heading-{{ section.id }}">
          {{ heading }}
        </h2>
      {% endif %}

      <div class="features-bar-items-{{ section.id }}">
        {% for item in (1..segments) %}
          <span class="features-bar-item-{{ section.id }} {% if fill %}{% if forloop.index <= active_segment %}active{% endif %}{% else %}{% if forloop.index == active_segment %}active{% endif %}{% endif %}"></span>
        {% endfor %}
      </div>

      {% if show_labels %}
        <div class="features-bar-labels-{{ section.id }}">
          <div class="features-bar-label-{{ section.id }}">
            {% if left_label != blank %}
              <p class="features-bar-label-text-{{ section.id }}">{{ left_label }}</p>
            {% endif %}
          </div>
          <div class="features-bar-label-{{ section.id }}">
            {% if center_label != blank %}
              <p class="features-bar-label-text-{{ section.id }}">{{ center_label }}</p>
            {% endif %}
          </div>
          <div class="features-bar-label-{{ section.id }}">
            {% if right_label != blank %}
              <p class="features-bar-label-text-{{ section.id }}">{{ right_label }}</p>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</template>

{% schema %}
{
  "name": "SG-Features bar",
  "settings": [
    {
      "type": "paragraph",
      "content": "Att: Save settings to view updates"
    },
    {
      "type": "header",
      "content": "Custom placement",
      "info": "Copy this code: <div id='sg-features-bar'></div> - Click 'Add block' -> Custom Liquid/HTML -> Paste."
    },
    {
      "type": "select",
      "id": "features_position",
      "label": "Features bar position",
      "default": "above_buy",
      "options": [
        {
          "label": "Above buy buttons",
          "value": "above_buy"
        },
        {
          "label": "Below buy buttons",
          "value": "below_buy"
        },
        {
          "label": "Above product title",
          "value": "above_title"
        },
        {
          "label": "Below product title",
          "value": "below_title"
        },
        {
          "label": "Above product description",
          "value": "above_description"
        },
        {
          "label": "Below product description",
          "value": "below_description"
        }
      ]
    },
    {
      "type": "header",
      "content": "Segments settings"
    },
    {
      "type": "range",
      "id": "segments",
      "min": 3,
      "max": 10,
      "step": 1,
      "label": "Segments",
      "default": 5
    },
    {
      "type": "text",
      "id": "active_segment",
      "label": "Active segment",
      "default": "4"
    },
    {
      "type": "checkbox",
      "id": "fill",
      "label": "Fill segments up to active segment",
      "default": true
    },
    {
      "type": "range",
      "id": "items_gap",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 6
    },
    {
      "type": "range",
      "id": "items_gap_mobile",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 6
    },
    {
      "type": "range",
      "id": "items_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 14
    },
    {
      "type": "range",
      "id": "items_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 14
    },
    {
      "type": "header",
      "content": "Segment bar settings"
    },
    {
      "type": "range",
      "id": "item_height",
      "min": 2,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Height",
      "default": 3
    },
    {
      "type": "range",
      "id": "item_radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Roundness",
      "default": 0
    },
    {
      "type": "header",
      "content": "Heading settings"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Fit"
    },
    {
      "type": "checkbox",
      "id": "heading_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 72,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 13
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 13
    },
    {
      "type": "range",
      "id": "heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "text_alignment",
      "id": "heading_align",
      "label": "Alignment"
    },
    {
      "type": "text_alignment",
      "id": "heading_align_mobile",
      "label": "Alignment - mobile"
    },
    {
      "type": "header",
      "content": "Labels settings"
    },
    {
      "type": "checkbox",
      "id": "show_labels",
      "label": "Show labels",
      "default": true
    },
    {
      "type": "text",
      "id": "left_label",
      "label": "Left label",
      "default": "Small"
    },
    {
      "type": "text",
      "id": "center_label",
      "label": "Center label",
      "default": "Regular"
    },
    {
      "type": "text",
      "id": "right_label",
      "label": "Right label",
      "default": "Large"
    },
    {
      "type": "checkbox",
      "id": "label_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "label_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "label_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 11
    },
    {
      "type": "range",
      "id": "label_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 11
    },
    {
      "type": "range",
      "id": "label_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "range",
      "id": "label_mt",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 8
    },
    {
      "type": "range",
      "id": "label_mt_mobile",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 8
    },
    {
      "type": "header",
      "content": "Segment bar colors"
    },
    {
      "type": "color",
      "label": "Default",
      "id": "item_bg_color",
      "default": "#E7E7E7"
    },
    {
      "type": "color",
      "label": "Active",
      "id": "item_bg_active_color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Text colors"
    },
    {
      "type": "color",
      "label": "Heading",
      "id": "heading_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Labels",
      "id": "label_color",
      "default": "#616161"
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": -20,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": -20,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 10,
      "step": 0.1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "SG-Features bar"
    }
  ]
}
{% endschema %}