<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign lazy = section.settings.lazy
  assign background_style = section.settings.background_style

  assign videos_position = section.settings.videos_position
  assign use_metafield = section.settings.use_metafield
  assign videos = ''
  if use_metafield
    assign videos = product.metafields.custom.sg_product_videos_5.value
  endif

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_color = section.settings.heading_color
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign slider_view = section.settings.slider_view
  assign slider_view_mobile = section.settings.slider_view_mobile
  assign slider_gap = section.settings.slider_gap
  assign slider_gap_mobile = section.settings.slider_gap_mobile
  assign slider_mt = section.settings.slider_mt
  assign slider_mt_mobile = section.settings.slider_mt_mobile

  assign card_radius = section.settings.card_radius
  assign card_border_thickness = section.settings.card_border_thickness
  assign card_border_color = section.settings.card_border_color
  assign card_bg_color = section.settings.card_bg_color

  assign video_ratio = section.settings.video_ratio
  assign video_ratio_mobile = section.settings.video_ratio_mobile

  assign icon_size_mobile = section.settings.icon_size_mobile
  assign icon_size = section.settings.icon_size
  assign icon_border_thickness = section.settings.icon_border_thickness
  assign icon_border_color = section.settings.icon_border_color
  assign icon_bg_color = section.settings.icon_bg_color
  assign icon_bg_opacity = section.settings.icon_bg_opacity
  assign icon_color = section.settings.icon_color
  assign icon_position_mobile = section.settings.icon_position_mobile
  assign icon_position = section.settings.icon_position

  assign scrollbar_height = section.settings.scrollbar_height
  assign scrollbar_show_desktop = section.settings.scrollbar_show_desktop
  assign scrollbar_show_mobile = section.settings.scrollbar_show_mobile
  assign scrollbar_drag_bg_color = section.settings.scrollbar_drag_bg_color
  assign scrollbar_bg_color = section.settings.scrollbar_bg_color
  assign scrollbar_mt = section.settings.scrollbar_mt
  assign scrollbar_mt_mobile = section.settings.scrollbar_mt_mobile
-%}

{%- style -%}

  {{ heading_font | font_face: font_display: 'swap' }}
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .video-heading-{{ section.id }} {
    text-align: {{ heading_align_mobile }};
  }

  .video-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
  }

  .video-slider-wrapper-{{ section.id }} {
    display: grid;
  }

  .video-slider-{{ section.id }} {
    margin-top: {{ slider_mt_mobile }}px;
    min-width: 0 !important;
    width: 100% !important;
  }

  .video-slide-{{ section.id }} {    
    display: block;
    border-radius: {{ card_radius }}px;
    border: {{ card_border_thickness }}px solid {{ card_border_color }};
    background-color: {{ card_bg_color }};
    box-sizing: border-box !important; 
    height: auto !important;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }

  .video-slide-video-{{ section.id }} {
    overflow: hidden;
    position: relative;
    z-index: 0;
    cursor: pointer;
  }

  .video-slide-video-{{ section.id }} > video,
  .video-slide-video-{{ section.id }} > iframe,
  .video-slide-video-{{ section.id }} > img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: 0px;
  }

  .video-icon-{{ section.id }} {
    position: absolute;
    width: {{ icon_size_mobile }}px;
    height: {{ icon_size_mobile }}px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: {{ icon_border_thickness }}px solid {{ icon_border_color }};
    border-radius: 50%;
    padding: 4px;
    background-color: {{ icon_bg_color | hex_to_rgba: icon_bg_opacity }};
    z-index: 2;
    transition: all 0.25s ease 0s;
    will-change: opacity;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }

  .video-icon-{{ section.id }} svg path {
    fill: {{ icon_color }};
  }

  .video-icon-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video-icon-{{ section.id }}.active {
    opacity: 0;
  }
  
  .video-scrollbar-{{ section.id }} {
    flex: 1 1 auto;
    position: static !important;
    height: {{ scrollbar_height }}px !important;
    background-color: {{ scrollbar_bg_color }} !important;
    margin-top: {{ scrollbar_mt_mobile }}px;
    z-index: 2 !important;
  }

  .video-scrollbar-{{ section.id }} .swiper-scrollbar-drag {
    display: block !important;
    background-color: {{ scrollbar_drag_bg_color }}!important;
  }

  .video-slider-{{ section.id }} .swiper-wrapper {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .video-slider-{{ section.id }}.swiper-transitioning .video-icon-{{ section.id }}:not(.active) {
    opacity: 1 !important;
    visibility: visible !important;
  }

  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .video-heading-{{ section.id }} {
      text-align: {{ heading_align }};
    }

    .video-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .video-slider-{{ section.id }} {
      margin-top: {{ slider_mt }}px;
    }

    .video-icon-{{ section.id }} {
      width: {{ icon_size }}px;
      height: {{ icon_size }}px;
    }

    .video-scrollbar-{{ section.id }} {
      margin-top: {{ scrollbar_mt }}px;
    }
  }
  
{%- endstyle -%}

{% if heading_custom %}
  <style>
    .video-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if video_ratio_mobile == "portrait" %}
  <style>
    .video-slide-video-{{ section.id }} {
     aspect-ratio: 9.6/16; 
    }
  </style>
{% elsif video_ratio_mobile == "landscape" %}
  <style>
    .video-slide-video-{{ section.id }} {
     aspect-ratio: 12/7; 
    }
  </style>
{% elsif video_ratio_mobile == "square" %}
  <style>
    .video-slide-video-{{ section.id }} {
     aspect-ratio: 12/12; 
    }
  </style>
{% endif %}

{% if video_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
     .video-slide-video-{{ section.id }} {
       aspect-ratio: 9.6/16; 
      } 
    }
  </style>
{% elsif video_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .video-slide-video-{{ section.id }} {
       aspect-ratio: 12/7; 
      }
    }
  </style>
{% elsif video_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .video-slide-video-{{ section.id }} {
       aspect-ratio: 12/12; 
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .video-slide-video-{{ section.id }} {
       aspect-ratio: auto; 
      }
    }
  </style>
{% endif %}


{% if scrollbar_show_mobile %}
  <style>
    .video-scrollbar-{{ section.id }} {
      display: flex !important;
    }
  </style>
{% else %}
  <style>
    .video-scrollbar-{{ section.id }} {
      display: none !important;
    }
  </style>
{% endif %}

{% if scrollbar_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .video-scrollbar-{{ section.id }} {
        display: flex !important;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .video-scrollbar-{{ section.id }} {
        display: none !important;
      }
    }
  </style>
{% endif %}

{% if icon_position_mobile == "top_left" %}
  <style>
    .video-icon-{{ section.id }} {
      top: 10px;
      left: 10px;
    }
  </style>
{% elsif icon_position_mobile == "top_right" %}
  <style>
    .video-icon-{{ section.id }} {
      top: 10px;
      right: 10px;
    }
  </style>
{% elsif icon_position_mobile == "bottom_left" %}
  <style>
    .video-icon-{{ section.id }} {
      bottom: 10px;
      left: 10px;
    }
  </style>
{% elsif icon_position_mobile == "center" %}
  <style>
    .video-icon-{{ section.id }} {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
{% else %}
  <style>
    .video-icon-{{ section.id }} {
      bottom: 10px;
      right: 10px;
    }
  </style>
{% endif %}

{% if icon_position == "top_left" %}
  <style>
    @media(min-width: 1024px){
       .video-icon-{{ section.id }} {
        top: 10px;
        left: 10px;
        right: unset;
        bottom: unset;
        transform: translate(0);
      } 
    }
  </style>
{% elsif icon_position == "top_right" %}
  <style>
     @media(min-width: 1024px){
      .video-icon-{{ section.id }} {
        top: 10px;
        right: 10px;
        left: unset;
        bottom: unset;
        transform: translate(0);
      }
     }
  </style>
{% elsif icon_position == "bottom_left" %}
  <style>
    @media(min-width: 1024px){
      .video-icon-{{ section.id }} {
        bottom: 10px;
        left: 10px;
        top: unset;
        right: unset;
        transform: translate(0);
      }
    }
  </style>
{% elsif icon_position == "center" %}
  <style>
    @media(min-width: 1024px){
      .video-icon-{{ section.id }} {
       top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: unset;
        right: unset;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px){
      .video-icon-{{ section.id }} {
        bottom: 10px;
        right: 10px;
        top: unset;
        left: unset;
        transform: translate(0);
      }
    }
  </style>
{% endif %}

<script>
  (function () {
    function moreLoadProductForm() {
      var productForm = document.querySelector('#sg-product-video');
      if (!productForm){
        var productForm = document.querySelector('{% if videos_position == "below_title" or videos_position == "above_title" %}.product__title, .product-info__block-item[data-block-type="title"],h1.product_name, .product-info__block-item .product-info__title,.product-meta__title,.product-single__meta .product-single__header,.product-details .text-block.h3{% elsif videos_position == "below_description" or videos_position == "above_description" %}.product__description, .product_section .description, .product-info__block-item[data-block-type="description"],.product-form__description,rte-formatter .rte{% else %}.button--add-to-cart, .product .product-form, .product-single__add-to-cart, .shopify-payment-button, .shopify-payment-button__button, .ProductForm__BuyButtons, .add-to-cart, .shopify-product-form, .product-info__buy-buttons,.product-form__buy-buttons,.product-single__form .add-to-cart,.product-info__block-item[data-block-type="buy-buttons"], .product_form .shopify-product-form,.product-details .shopify-product-form{% endif %}');
        if (!productForm) return;
        }
        const templateContent = document.querySelector(
          '#sg-product-video-{{ section.id }}'
        ).content;

        productForm.insertAdjacentElement(
          '{% if videos_position == "below_buy" or videos_position == "below_title" or videos_position == "below_description" %}afterend{% else %}beforebegin{% endif %}',
          templateContent.firstElementChild
        );      
    }
    window.addEventListener('DOMContentLoaded', moreLoadProductForm);
  })();
</script>

{% comment %} PREVIEW {% endcomment %}
<style>
  .video-slider-{{ section.id }}.preview .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }

  .video-slider-{{ section.id }}.preview .video-slide-{{ section.id }} {
    width: 100%;
  }

  .video-slider-{{ section.id }}.preview .video-slide-{{ section.id }}:not(:first-child) {
    margin-left: {{ slider_gap_mobile }}px;
  } 

  @media(min-width: 1024px) {
    .video-slider-{{ section.id }}.preview .video-slide-{{ section.id }}:not(:first-child) {
      margin-left: {{ slider_gap }}px;
    } 

    .video-slider-{{ section.id }}.preview .video-slide-{{ section.id }} {
      width: calc(100% / {{ slider_view }} - {{ slider_gap }}px );
    }
  }
</style>

<template id="sg-product-video-{{ section.id }}">
  <div class="section-{{ section.id }} video-{{ section.id }}" {% if background_style == 'solid' %}style="background-color:{{ background_color }};"{% else %} style="background-image: {{ background_gradient }};"{% endif %} id="sg-product-video-{{ section.id }}">
    <div class="section-{{ section.id }}-settings">
      {% if heading != blank %}
        <div class="video-heading-{{ section.id }}">{{ heading }}</div>
      {% endif %}

      <div class="video-slider-wrapper-{{ section.id }}">
        <div class="video-slider-{{ section.id }} preview swiper">
          <div class="swiper-wrapper">
            {% if use_metafield %}
                {% if videos != blank %}
                {% for video in videos %}
                    <div class="video-slide-{{ section.id }} swiper-slide">
                    <div class="video-slide-video-{{ section.id }}" id="{{ section.id }}">
                        <video {% if lazy %}data-{% endif %}src="{{ video.sources[1].url | default: video.sources[0].url }}" playsinline preload="none" loop class="lazy"></video>
                    </div>   
                    <div class="video-icon-{{ section.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" role="presentation"><path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"></path></svg> 
                    </div>                
                    </div>
                {% endfor %}
                {% endif %}
            {% else %}        
                {% for block in section.blocks %}
                <div class="video-slide-{{ section.id }} swiper-slide">
                    <div class="video-slide-video-{{ section.id }}">
                        {% assign video_url_id = block.settings.video_url.id %}
                        {% assign video_id = block.settings.video.id %}
                        {% assign loop_url = '&loop=1&playlist=' | append: video_url_id %}
                        {%- if block.settings.source != 'uploaded' -%}
                        {%- if block.settings.video_url.type == 'youtube' -%}
                            <iframe
                            {% if lazy %}data-{% endif %}src="https://www.youtube.com/embed/{{ video_url_id }}?enablejsapi=1&mute=1&autoplay=0&controls=1&modestbranding=1&showinfo=0&rel=0{{ loop_url }}"                     
                            data-src1="https://www.youtube.com/embed/{{ video_url_id }}?enablejsapi=1&mute=1&autoplay=1&controls=1&modestbranding=1&showinfo=0{{ loop_url }}" 
                            data-src2="https://www.youtube.com/embed/{{ video_url_id }}?enablejsapi=1&mute=1&autoplay=0&controls=1&modestbranding=1&showinfo=0{{ loop_url }}"
                            data-video-id="{{ video_url_id }}"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                            class="lazy"
                            ></iframe>
                            {%- elsif block.settings.video_url.type == 'vimeo' -%}
                            <iframe  
                            {% if lazy %}data-{% endif %}src="https://player.vimeo.com/video/{{ video_url_id }}?enablejsapi=1&muted=1&autoplay=0&controls=1&modestbranding=1&showinfo=0&rel=0{{ loop_url }}"
                            data-src1="https://player.vimeo.com/video/{{ video_url_id }}?enablejsapi=1&muted=1&autoplay=1&controls=1&modestbranding=1&showinfo=0{{ loop_url }}"
                            data-src2="https://player.vimeo.com/video/{{ video_url_id }}?enablejsapi=1&muted=1&autoplay=0&controls=1&modestbranding=1&showinfo=0{{ loop_url }}"
                            data-video-id="{{ video_url_id }}"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                            class="lazy"
                            ></iframe>
                            {% else %}
                            {% assign placeholder_video = 'https://cdn.shopify.com/videos/c/o/v/fbb140fd46e3429eba459e1549dbbe38.mp4' %}
                            <video {% if lazy %}data-{% endif %}src="{{ placeholder_video }}" playsinline preload="none" loop class="lazy"></video>
                        {% endif %}
                        {% else %}
                        {% assign placeholder_video = 'https://cdn.shopify.com/videos/c/o/v/fbb140fd46e3429eba459e1549dbbe38.mp4' %}
                        <video {% if lazy %}data-{% endif %}src="{% if block.settings.video != blank %}{{ block.settings.video.sources[1].url }}{% else %}{{ placeholder_video }}{% endif %}" playsinline preload="none" loop class="lazy"></video>
                        {% endif %}                
                    </div>
                    <div class="video-icon-{{ section.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" role="presentation"><path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"></path></svg>
                    
                    </div>
                </div>
                {% endfor %}
                
            {% endif %}
            </div>          
        </div>
        <div class="video-scrollbar-{{ section.id }} swiper-scrollbar"></div>     
      </div>    
    </div>
  </div>
</template>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.2/dist/lazyload.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://player.vimeo.com/api/player.js"></script>

<script>
  function initProductVideos5() {
    setTimeout(() => {      
      window.addEventListener(
        "LazyLoad::Initialized",
        function (event) {
          window.lazyLoadInstance = event.detail.instance;
        },
        false
      );
      let lazyLoadInstance = new LazyLoad();

      document.querySelector(".video-slider-{{ section.id }}").classList.remove("preview");
      const videoSlide = document.querySelectorAll('.video-slide-{{ section.id }}');
    
      // Хранилище для плееров
      const players = new Map();
      const playerReady = new Map();
    
      // Предзагрузка всех iframe при инициализации
      videoSlide.forEach((item, index) => {
        const iframe = item.querySelector('iframe');
        if (iframe) {
          const src1 = iframe.getAttribute('data-src1');
          // Предзагружаем iframe
          if (!iframe.src || iframe.src === '') {
            iframe.src = iframe.getAttribute('data-src') || src1;
          }
          
          // Инициализируем плееры заранее
          setTimeout(() => {
            preloadPlayer(iframe, index);
          }, 1000 + (index * 500)); // Задержка между инициализациями
        }
      });

      // Функция предзагрузки плеера
      function preloadPlayer(iframe, index) {
        if (players.has(iframe)) return; // Уже инициализирован
        
        if (iframe.src.includes('youtube.com')) {
          if (typeof YT !== 'undefined' && YT.Player) {
            try {
              const player = new YT.Player(iframe, {
                events: {
                  'onReady': function(event) {
                    players.set(iframe, event.target);
                    playerReady.set(iframe, true);
                    console.log('YouTube player ready', index);
                  }
                }
              });
            } catch(e) {
              console.error('YouTube player init error', e);
            }
          } else {
            // Если YT API еще не загружен, ждем
            setTimeout(() => preloadPlayer(iframe, index), 500);
          }
        } else if (iframe.src.includes('vimeo.com')) {
          if (typeof Vimeo !== 'undefined') {
            try {
              const player = new Vimeo.Player(iframe);
              players.set(iframe, player);
              player.ready().then(() => {
                playerReady.set(iframe, true);
                console.log('Vimeo player ready', index);
              });
            } catch(e) {
              console.error('Vimeo player init error', e);
            }
          } else {
            // Если Vimeo API еще не загружен, ждем
            setTimeout(() => preloadPlayer(iframe, index), 500);
          }
        }
      }
    
      videoSlide.forEach((item, index) => {
        const video = item.querySelector('video');
        const iframe = item.querySelector('iframe');
        const videoPlay = item.querySelector('.video-icon-{{ section.id }}');
  
        if(video || iframe) {    
          if(videoPlay) {
            item.addEventListener('click', function() {
              if (videoPlay.classList.contains('active')) {
                // Пауза
                if (video) {
                  video.pause();
                  video.removeAttribute('controls');
                }
                if (iframe) {
                  const player = players.get(iframe);
                  if (player && playerReady.get(iframe)) {
                    if (iframe.src.includes('youtube.com')) {
                      player.pauseVideo();
                    } else if (iframe.src.includes('vimeo.com')) {
                      player.pause();
                    }
                  }
                } 
              } else {
                // Останавливаем все другие видео
                document.querySelectorAll(`.video-slide-{{ section.id }}`).forEach(element => {
                  if(item != element) {
                    const video = element.querySelector('video');
                    const iframe = element.querySelector('iframe');
                    const videoPlay = element.querySelector('.video-icon-{{ section.id }}');
                    if(videoPlay) {
                      videoPlay.classList.remove('active');
                    }
      
                    if(iframe) {
                      const player = players.get(iframe);
                      if (player && playerReady.get(iframe)) {
                        if (iframe.src.includes('youtube.com')) {
                          player.pauseVideo();
                          player.mute();
                        } else if (iframe.src.includes('vimeo.com')) {
                          player.pause();
                          player.setMuted(true);
                        }
                      }
                    }
                    if(video) {
                      video.removeAttribute('controls');
                      video.pause();
                    }
                  }
                });

                // Запускаем текущее видео
                if (video) {      
                  video.play();
                  video.setAttribute('controls', 'true');
                }
                if (iframe) {
                  playVideoWithSound(iframe);
                }
                                      
              }
              videoPlay.classList.toggle('active'); 
            })  
          }   
        }
      });

      // Функция воспроизведения со звуком
      function playVideoWithSound(iframe) {
        const player = players.get(iframe);
        const ready = playerReady.get(iframe);
        
        if (!player || !ready) {
          // Плеер еще не готов, ждем и пробуем снова
          console.log('Player not ready, waiting...');
          setTimeout(() => playVideoWithSound(iframe), 300);
          return;
        }
        
        if (iframe.src.includes('youtube.com')) {
          player.unMute();
          player.setVolume(100);
          player.playVideo();
        } else if (iframe.src.includes('vimeo.com')) {
          player.setMuted(false).then(() => {
            player.setVolume(1);
            player.play();
          }).catch(err => {
            console.error('Vimeo play error:', err);
          });
        }
      }

      const slider= new Swiper('.video-slider-{{ section.id }}', 
        {
          speed:300,
          slidesPerView: "auto",
          scrollbar: {
            el: '.video-scrollbar-{{ section.id }}',
            draggable: true,
          },
          mousewheel: {
            forceToAxis: true,
            sensitivity: 1,
            releaseOnEdges: true
          },
          breakpoints:{
            320: {
              spaceBetween:{{ slider_gap_mobile }},              
              slidesPerView: {{ slider_view_mobile }}
            },
            768: {
              spaceBetween:{{ slider_gap_mobile }},
              slidesPerView: {{ slider_view_mobile }}
            },
            1024:{
              spaceBetween:{{ slider_gap }},
              slidesPerView: {{ slider_view }}
            }
          }
        }
      );
    }, 1000);
  }
  
  document.addEventListener('DOMContentLoaded', initProductVideos5);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initProductVideos5);
     document.addEventListener('shopify:section:load', initProductVideos5);
  }
</script>

{% schema %}
{
  "name": "SG-Product videos #5",
  "settings": [
    {
      "type": "header",
      "content": "⚠️ Save settings to view updates",
      "info": "Learn how to add snippet sections with [this tutorial](https://section-store.helpscoutdocs.com/article/10-adding-product-page-snippets)"
    },
    {
      "type": "header",
      "content": "Custom placement",
      "info": "Copy this code: <div id='sg-product-video'></div> - Click 'Add block' -> Custom Liquid/HTML -> Paste."
    },
    {
      "type": "select",
      "id": "videos_position",
      "label": "Position",
      "default": "above_description",
      "options": [
        {
          "label": "Above buy buttons",
          "value": "above_buy"
        },
        {
          "label": "Below buy buttons",
          "value": "below_buy"
        },
        {
          "label": "Above product title",
          "value": "above_title"
        },
        {
          "label": "Below product title",
          "value": "below_title"
        },
        {
          "label": "Above product description",
          "value": "above_description"
        },
        {
          "label": "Below product description",
          "value": "below_description"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "use_metafield",
      "label": "Use metafield",
      "info": "Name the metafield 'SS Product Videos #5'."
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<h5>Loved by 200,000+ happy customers.</h5>"
    },
    {
      "type": "checkbox",
      "id": "heading_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Font family",
      "default": "josefin_sans_n4",
      "visible_if": "{{ section.settings.heading_custom }}"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 14
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "Alignment",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_align_mobile",
      "label": "Alignment - mobile",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Slider"
    },
    {
      "type": "range",
      "id": "slider_view",
      "min": 1,
      "max": 4,
      "step": 0.5,
      "label": "Videos per view",
      "default": 3.5
    },
    {
      "type": "range",
      "id": "slider_view_mobile",
      "min": 1,
      "max": 4,
      "step": 0.1,
      "label": "Videos per view - mobile",
      "default": 2.5
    },
    {
      "type": "checkbox",
      "id": "slider_advanced",
      "label": "Advanced settings",
      "default": false
    },
    {
      "type": "range",
      "id": "slider_gap",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Gap",
      "default": 8,
      "visible_if": "{{ section.settings.slider_advanced }}"
    },
    {
      "type": "range",
      "id": "slider_gap_mobile",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 8,
      "visible_if": "{{ section.settings.slider_advanced }}"
    },
    {
      "type": "range",
      "id": "slider_mt",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Margin top",
      "default": 20,
      "visible_if": "{{ section.settings.slider_advanced }}"
    },
    {
      "type": "range",
      "id": "slider_mt_mobile",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 20,
      "visible_if": "{{ section.settings.slider_advanced }}"
    },
    {
      "type": "header",
      "content": "Video"
    },
    {
      "type": "range",
      "id": "card_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 8
    },
    {
      "type": "range",
      "id": "card_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "select",
      "id": "video_ratio",
      "label": "Aspect ratio",
      "default": "portrait",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "select",
      "id": "video_ratio_mobile",
      "label": "Aspect ratio - mobile",
      "default": "portrait",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "header",
      "content": "Play button"
    },
    {
      "type": "range",
      "id": "icon_size",
      "min": 20,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Size",
      "default": 32
    },
    {
      "type": "range",
      "id": "icon_size_mobile",
      "min": 20,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Size - mobile",
      "default": 32
    },
    {
      "type": "range",
      "id": "icon_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "select",
      "id": "icon_position",
      "label": "Position",
      "default": "center",
      "options": [
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Top left",
          "value": "top_left"
        },
        {
          "label": "Top right",
          "value": "top_right"
        },
        {
          "label": "Bottom left",
          "value": "bottom_left"
        },
        {
          "label": "Bottom right",
          "value": "bottom_right"
        }
      ]
    },
    {
      "type": "select",
      "id": "icon_position_mobile",
      "label": "Position - mobile",
      "default": "center",
      "options": [
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Top left",
          "value": "top_left"
        },
        {
          "label": "Top right",
          "value": "top_right"
        },
        {
          "label": "Bottom left",
          "value": "bottom_left"
        },
        {
          "label": "Bottom right",
          "value": "bottom_right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Scrollbar"
    },
    {
      "type": "range",
      "id": "scrollbar_height",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Height",
      "default": 4
    },
    {
      "type": "range",
      "id": "scrollbar_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 20
    },
    {
      "type": "range",
      "id": "scrollbar_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "scrollbar_show_desktop",
      "label": "Show on desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "scrollbar_show_mobile",
      "label": "Show on mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "Video colors"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "card_border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Play button colors"
    },
    {
      "type": "color",
      "label": "Icon",
      "id": "icon_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "icon_bg_color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "icon_bg_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Opacity",
      "default": 0.3
    },
    {
      "type": "color",
      "label": "Border",
      "id": "icon_border_color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Scrollbar colors"
    },
    {
      "type": "color",
      "label": "Drag",
      "id": "scrollbar_drag_bg_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "scrollbar_bg_color",
      "default": "#F3F3F3"
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "select",
      "id": "background_style",
      "label": "Background style",
      "default": "solid",
      "options": [
        {
          "label": "Solid",
          "value": "solid"
        },
        {
          "label": "Gradient",
          "value": "gradient"
        }
      ]
    },
    {
      "type": "color",
      "label": "Background",
      "id": "background_color",
      "default": "transparent",
      "visible_if": "{{ section.settings.background_style == 'solid' }}"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Gradient",
      "default": "linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%)",
      "visible_if": "{{ section.settings.background_style == 'gradient' }}"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Sides - mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load media for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "select",
          "id": "source",
          "label": "Source",
          "default": "uploaded",
          "options": [
            {
              "label": "Uploaded",
              "value": "uploaded"
            },
            {
              "label": "External URL",
              "value": "external"
            }
          ]
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video",
          "visible_if": "{{ block.settings.source == 'uploaded' }}"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "URL",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "visible_if": "{{ block.settings.source == 'external' }}",
          "info": "Use a YouTube or Vimeo URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Product videos #5",
      "blocks": [
        {
          "type": "video"
        },
        {
          "type": "video"
        },
        {
          "type": "video"
        },
        {
          "type": "video"
        },
        {
          "type": "video"
        }
      ]
    }
  ]
}
{% endschema %}