{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_color = section.settings.heading_color
  assign heading_other_color = section.settings.heading_other_color
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_align = section.settings.heading_align

  assign sub_heading = section.settings.sub_heading
  assign sub_heading_size = section.settings.sub_heading_size
  assign sub_heading_size_mobile = section.settings.sub_heading_size_mobile
  assign sub_heading_color = section.settings.sub_heading_color
  assign sub_heading_custom = section.settings.sub_heading_custom
  assign sub_heading_font = section.settings.sub_heading_font
  assign sub_heading_height = section.settings.sub_heading_height
  assign sub_heading_align = section.settings.sub_heading_align
  assign sub_heading_mt = section.settings.sub_heading_mt
  assign sub_heading_border = section.settings.sub_heading_border
  assign sub_heading_border_color = section.settings.sub_heading_border_color

  assign table_mt = section.settings.table_mt
  assign table_width_mobile = section.settings.table_width_mobile
  assign table_width = section.settings.table_width
  assign table_gap = section.settings.table_gap
  assign table_gap_mobile = section.settings.table_gap_mobile

  assign card_padding_vertical = section.settings.card_padding_vertical
  assign card_padding_horizontal = section.settings.card_padding_horizontal
  assign card_radius = section.settings.card_radius
  assign card_border_thickness = section.settings.card_border_thickness
  assign card_bg_color = section.settings.card_bg_color
  assign card_border_color = section.settings.card_border_color
  assign card_active_color = section.settings.card_active_color
  assign card_shadow = section.settings.card_shadow

  assign icon_block_width = section.settings.icon_block_width
  assign icon_width = section.settings.icon_width
  assign icon_position = section.settings.icon_position

  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_color = section.settings.title_color
  assign title_active_color = section.settings.title_active_color
  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_height = section.settings.title_height

  assign price_size = section.settings.price_size
  assign price_size_mobile = section.settings.price_size_mobile
  assign price_color = section.settings.price_color
  assign price_active_color = section.settings.price_active_color
  assign price_custom = section.settings.price_custom
  assign price_font = section.settings.price_font
  assign price_height = section.settings.price_height
  assign price_mt = section.settings.price_mt

  assign elements_size = section.settings.elements_size
  assign elements_size_mobile = section.settings.elements_size_mobile
  assign elements_color = section.settings.elements_color
  assign elements_custom = section.settings.elements_custom
  assign elements_font = section.settings.elements_font
  assign elements_height = section.settings.elements_height
  assign elements_mt = section.settings.elements_mt
  assign elements_gap = section.settings.elements_gap
  assign elements_icon = section.settings.elements_icon
  assign elements_align = section.settings.elements_align

  assign button_size = section.settings.button_size
  assign button_size_mobile = section.settings.button_size_mobile
  assign button_color = section.settings.button_color
  assign button_hover_color = section.settings.button_hover_color
  assign button_active_color = section.settings.button_active_color
  assign button_active_hover_color = section.settings.button_active_hover_color
  assign button_custom = section.settings.button_custom
  assign button_font = section.settings.button_font
  assign button_height = section.settings.button_height
  assign button_mt = section.settings.button_mt
  assign button_mb = section.settings.button_mb
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_radius = section.settings.button_radius
  assign button_border_thickness = section.settings.button_border_thickness
  assign button_border_color = section.settings.button_border_color
  assign button_border_hover_color = section.settings.button_border_hover_color
  assign button_border_active_color = section.settings.button_border_active_color
  assign button_border_active_hover_color = section.settings.button_border_active_hover_color
  assign button_bg_color = section.settings.button_bg_color
  assign button_bg_active_color = section.settings.button_bg_active_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color
  assign button_bg_active_hover_color = section.settings.button_bg_active_hover_color
-%}

{%- style -%}
  {{  heading_font | font_face: font_display: 'swap' }}
  {{  sub_heading_font | font_face: font_display: 'swap' }}
  {{  title_font | font_face: font_display: 'swap' }}
  {{  price_font | font_face: font_display: 'swap' }}
  {{  elements_font | font_face: font_display: 'swap' }}
  {{  button_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .pricing-table-heading-{{ section.id }} > * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
    text-align: {{ heading_align }};
  }

  .pricing-table-heading-{{ section.id }} strong {
     color: {{ heading_other_color }};
  }

  .pricing-table-subheading-{{ section.id }} {
    margin-top: {{ sub_heading_mt | times: 0.75 | round: 0 }}px;
    max-width: fit-content;
    width: 100%;
  }

  .pricing-table-subheading-{{ section.id }} > * {
    margin: 0;
    font-size: {{ sub_heading_size_mobile }}px;
    color: {{ sub_heading_color }};
    line-height: {{ sub_heading_height }}%;
    text-transform: unset;
    text-align: {{ sub_heading_align }};
  }

  .pricing-table-items-{{ section.id }} {
    margin-top: {{ table_mt | times: 0.75 | round: 0 }}px;
    width: 100%;
    max-width: {{ table_width_mobile }}%;
    margin-left: auto;
    margin-right: auto;
  }

  .pricing-table-item-{{ section.id }} {
    border-radius: {{ card_radius }}px;
    border: {{ card_border_thickness }}px solid {{ card_border_color }};
    background-color: {{ card_bg_color }};
    display: flex;
    flex-direction: column;
  }

  .pricing-table-item-{{ section.id }}:not(:first-child) {
    margin-top: {{ table_gap_mobile  }}px;
  }

  .pricing-table-top-{{ section.id }} {
    padding: {{ card_padding_vertical | times: 0.75 | round: 0 }}px {{ card_padding_horizontal | times: 0.75 | round: 0 }}px;
    border-top-left-radius: {{ card_radius }}px;
    border-top-right-radius: {{ card_radius }}px;
  }

  .pricing-table-item-{{ section.id }}.active-item-{{ section.id }} .pricing-table-top-{{ section.id }} {
    background-color: {{ card_active_color }};
  }

  .pricing-table-bottom-{{ section.id }} {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: {{ card_padding_vertical | times: 0.75 | round: 0 }}px {{ card_padding_horizontal | times: 0.75 | round: 0 }}px;
  }

  .pricing-table-icon-{{ section.id }} {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 50%;
    max-width: {{ icon_block_width }}%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:{{ card_bg_color }};
  }

  .pricing-table-item-{{ section.id }}.active-item-{{ section.id }} .pricing-table-icon-{{ section.id }} {
     background-color:{{ card_active_color }};
  }

  .pricing-table-icon-{{ section.id }} img,
  .pricing-table-icon-{{ section.id }} svg {
    width: 100%;
    max-width: {{ icon_width }}%;
    aspect-ratio: 1 / 1;
    display: block;
    object-fit: cover;
  }

  .pricing-table-border-{{ section.id }} {
    position: relative;
    top: {{ card_padding_vertical | times: 0.75 | round: 0 }}px;
    display: block !important;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
  }

  .pricing-table-title-{{ section.id }} {
    margin: 0px;
    font-size: {{ title_size_mobile }}px;
    color: {{ title_color }};
    line-height: {{ title_height }}%;
    text-transform: unset;
    text-align: center;
    font-weight: 700;
  }

  .pricing-table-item-{{ section.id }}.active-item-{{ section.id }} .pricing-table-title-{{ section.id }} {
    color: {{ title_active_color }};
  }

  .pricing-table-price-{{ section.id }} {
    margin: 0px;
    margin-top: {{ price_mt | times: 0.75 | round: 0 }}px;
    font-size: {{ price_size_mobile }}px;
    color: {{ price_color }};
    line-height: {{ price_height }}%;
    text-transform: unset;
    text-align: center;
    font-weight: 700;
  }

  .pricing-table-item-{{ section.id }}.active-item-{{ section.id }} .pricing-table-price-{{ section.id }} {
    color: {{ price_active_color }};
  }

  .pricing-table-price-{{ section.id }} sup,
  .pricing-table-price-{{ section.id }} sub {
    font-weight: 400;
  }

  .pricing-table-list-{{ section.id }} {
    margin-top: {{ elements_mt | times: 0.75 | round: 0 }}px;
  }

  .pricing-table-list-{{ section.id }} ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  .pricing-table-list-{{ section.id }} li {
    margin: 0px;
    font-size: {{ elements_size_mobile }}px;
    color: {{ elements_color }};
    line-height: {{ elements_height }}%;
    text-transform: unset;
    text-align: {{ elements_align }};
    list-style: none;
  }

  .pricing-table-element-{{ section.id }} {
    width: 100%;
    max-width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .pricing-table-element-{{ section.id }} img {
    width: 16px;
    height: 16px; 
    display: block;
    object-fit: cover;
  }

  .pricing-table-element-{{ section.id }}:not(:first-child) {
    margin-top: {{ elements_gap | times: 0.75 | round: 0 }}px;
  }

  .pricing-table-btn-{{ section.id }} {
    margin: 0px;
    margin-top: {{ button_mt | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ button_mb | times: 0.75 | round: 0 }}px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: {{ button_size_mobile }}px;
    color: {{ button_color }};
    line-height: {{ button_height }}%;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical | times: 0.75 | round: 0 }}px {{ button_padding_horizontal | times: 0.75 | round: 0 }}px;
    border-radius: {{ button_radius }}px;
    border: {{ button_border_thickness }}px solid {{ button_border_color }};
    background-color: {{ button_bg_color }};
    transition: all 0.25s ease 0s;
  }

  .pricing-table-btn-{{ section.id }}:hover {
    transition: all 0.25s ease 0s;
    color: {{ button_hover_color }};
    border: {{ button_border_thickness }}px solid {{ button_border_hover_color }};
    background-color: {{ button_bg_hover_color }};
  }

  .pricing-table-item-{{ section.id }}.active-item-{{ section.id }} .pricing-table-btn-{{ section.id }} {
    color: {{ button_active_color }};
    border: {{ button_border_thickness }}px solid {{ button_border_active_color }};
    background-color: {{ button_bg_active_color }};
  }

  .pricing-table-item-{{ section.id }}.active-item-{{ section.id }} .pricing-table-btn-{{ section.id }}:hover {
    transition: all 0.25s ease 0s;
    color: {{ button_active_hover_color }};
    border: {{ button_border_thickness }}px solid {{ button_border_active_hover_color }};
    background-color: {{ button_bg_active_hover_color }};
  }
  
  @media(min-width: 992px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .pricing-table-heading-{{ section.id }} > * {
      font-size: {{ heading_size }}px; 
    }

    .pricing-table-subheading-{{ section.id }} {
      margin-top: {{ sub_heading_mt }}px;
    }

    .pricing-table-subheading-{{ section.id }} > * {
      font-size: {{ sub_heading_size }}px; 
    }

    .pricing-table-items-{{ section.id }} {
      margin-top: {{ table_mt  }}px;
      max-width: {{ table_width }}%;
      display: grid;
      grid-template-columns: repeat({{ section.blocks.size }}, 1fr);
      gap: {{ table_gap }}px;
    }

    .pricing-table-item-{{ section.id }}:not(:first-child) {
      margin-top: 0px;
    }

    .pricing-table-top-{{ section.id }} {
      padding: {{ card_padding_vertical }}px {{ card_padding_horizontal }}px;
    }

    .pricing-table-border-{{ section.id }} {
      top: {{ card_padding_vertical }}px;
    }

    .pricing-table-bottom-{{ section.id }} {
      padding: {{ card_padding_vertical }}px {{ card_padding_horizontal }}px;
    }

    .pricing-table-title-{{ section.id }} {
      font-size: {{ title_size }}px;
    }

    .pricing-table-price-{{ section.id }} {
      margin-top: {{ price_mt }}px;
      font-size: {{ price_size }}px;
      min-height: {{ price_size | times: 2 }}px;
    }

    .pricing-table-list-{{ section.id }} {
      margin-top: {{ elements_mt }}px;
    }

    .pricing-table-list-{{ section.id }} li {
      font-size: {{ elements_size }}px;
    }

    .pricing-table-element-{{ section.id }}:not(:first-child) {
      margin-top: {{ elements_gap }}px;
    }

    .pricing-table-btn-{{ section.id }} {
      margin-top: {{ button_mt }}px;
      margin-bottom: {{ button_mb }}px;
      font-size: {{ button_size }}px;
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if heading_custom %}
  <style>
    .pricing-table-heading-{{ section.id }} > * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if sub_heading_custom %}
  <style>
    .pricing-table-subheading-{{ section.id }} > * {
      font-family: {{ sub_heading_font.family }}, {{ sub_heading_font.fallback_families }};
      font-weight: {{ sub_heading_font.weight }};
      font-style: {{ sub_heading_font.style }};
    }
  </style>
{% endif %}

{% if title_custom %}
  <style>
    .pricing-table-title-{{ section.id }} {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if elements_custom %}
  <style>
    .pricing-table-list-{{ section.id }} li {
      font-family: {{ elements_font.family }}, {{ elements_font.fallback_families }};
      font-weight: {{ elements_font.weight }};
      font-style: {{ elements_font.style }};
    }
  </style>
{% endif %}

{% if button_custom %}
  <style>
    .pricing-table-btn-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}

{% if sub_heading_align == "center" %}
  <style>
    .pricing-table-subheading-{{ section.id }} {
      margin-left: auto;
      margin-right: auto;
    }
  </style>
{% elsif sub_heading_align == "right" %}
  <style>
    .pricing-table-subheading-{{ section.id }} {
      margin-left: auto;
    }
  </style>
{% endif %}

{% if sub_heading_border %}
  <style>
    .pricing-table-subheading-{{ section.id }} {
      position: relative;
    }

    .pricing-table-subheading-{{ section.id }}::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -15px;
      width: 50px;
      height: 2px;
      background-color: {{ sub_heading_border_color }};
    }
  </style>
{% endif %}

{% if card_shadow %}
  <style>
    .pricing-table-item-{{ section.id }} {
      moz-box-shadow: 0 0 10px #cccccc;
      -webkit-box-shadow: 0 0 10px #cccccc;
      -o-box-shadow: 0 0 10px #cccccc;
      box-shadow: 0 0 10px #cccccc;
    }
  </style>
{% endif %}

{% if icon_position %}
  <style>
    .pricing-table-icon-{{ section.id }} {
      margin-top: calc(-{{ card_padding_vertical | times: 0.75 | round: 0 }}px - 40px);
    }
    .pricing-table-item-{{ section.id }}:not(:first-child) {
      margin-top: {{ table_gap_mobile | plus: 40 }}px;
    }
    @media(min-width: 992px) {
      .pricing-table-icon-{{ section.id }} {
        margin-top: calc(-{{ card_padding_vertical }}px - 40px);
      }
      .pricing-table-item-{{ section.id }}:not(:first-child) {
        margin-top: 0px;
      }
    }
  </style>
{% endif %}

{% if elements_align == "center" %}
  <style>
    .pricing-table-element-{{ section.id }} {
      margin-left: auto;
      margin-right: auto;
    }
  </style>
{% elsif elements_align == "right" %}
  <style>
    .pricing-table-element-{{ section.id }} {
      margin-left: auto;
    }
  </style>
{% endif %}

{% if elements_icon != blank %}
  <style>
    .pricing-table-list-{{ section.id }} li:before {
      content: '';
      display: inline-block;
      margin-right: 10px;
      width: {{ elements_size_mobile }}px;
      height: {{ elements_size_mobile }}px;
      background-image: url('{{ elements_icon | image_url }}');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      top: {{ elements_size_mobile | divided_by: 8 }}px;
    }
    @media(min-width: 1024px) {
      .pricing-table-list-{{ section.id }} li:before {
        width: {{ elements_size }}px;
        height: {{ elements_size }}px;
        top: {{ elements_size | divided_by: 8 }}px;
      }
    }
  </style>
{% endif %}

<div class="section-{{ section.id }} pricing-table-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings ">
      {% if heading != blank %}
        <div class="pricing-table-heading-{{ section.id }}">{{ heading }}</div>
      {% endif %}

      {% if sub_heading != blank %}
        <div class="pricing-table-subheading-{{ section.id }}">{{ sub_heading }}</div>
      {% endif %}

      <div class="pricing-table-items-{{ section.id }}">
        {% for block in section.blocks %}
          <div class="pricing-table-item-{{ section.id }} {% if block.settings.active %}active-item-{{ section.id }}{% endif %}">
            <div class="pricing-table-top-{{ section.id }}">
              <div class="pricing-table-icon-{{ section.id }}">
                {% if block.settings.icon != blank %}
                  <img src="{{ block.settings.icon | image_url }}" alt="{{ block.settings.icon.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                {% else %}
                  {{ 'image' | placeholder_svg_tag }}
                {% endif %}
              </div>
              {% if block.settings.heading != blank %}
                <p class="pricing-table-title-{{ section.id }}">{{ block.settings.heading }}</p>
              {% endif %}
              <p class="pricing-table-price-{{ section.id }}" {% if block.settings.currency == blank and block.settings.time == blank %}style="display: flex; align-items: center; justify-content: center;"{% endif %}>{% if block.settings.currency != blank %}<sup>{{ block.settings.currency }}</sup>{% endif %}{{ block.settings.price }}{% if block.settings.time != blank %}<sub>/ {{ block.settings.time }}</sub>{% endif %}</p>
              {% unless block.settings.active %}
                <div class="pricing-table-border-{{ section.id }}"></div>
              {% endunless %}
            </div>
            <div class="pricing-table-bottom-{{ section.id }}">
              <div class="pricing-table-list-{{ section.id }}">
                {% assign elements = block.settings.elements | split: ',' %}
                <ul>
                  {% for element in elements %}
                  <li>{{ element }}</li>
                {% endfor %}
                </ul>
              </div>
              {% if block.settings.button_text != blank %}
                <a href="{{ block.settings.button_url }}" class="pricing-table-btn-{{ section.id }}">
                  {{ block.settings.button_text }}
                </a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</div>

<script>
  function displayTextWidth(text, font) {
    let canvas = displayTextWidth.canvas || (displayTextWidth.canvas = document.createElement("canvas"));
    let context = canvas.getContext("2d");
    console.log(context);
    context.font = font;
    let metrics = context.measureText(text);
    return metrics.width;
  }

  function initPricingTable2() {
    let texts = document.querySelectorAll('.pricing-table-text-element-{{ section.id }}');
    texts.forEach(el => {
      console.log("Text Width: " + displayTextWidth(el.textContent, {{ elements_font.family }}));
      el.style.maxWidth = displayTextWidth(el.textContent, {{ elements_font.family }}) * 1.5 + "px";
    })
  }

  document.addEventListener('DOMContentLoaded', initPricingTable2);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initPricingTable2);
     document.addEventListener('shopify:section:load', initPricingTable2);
  }
</script>

{% schema %}
{
  "name": "SG-Pricing Table #2",
  "settings": [
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<h2>PRICING <strong>PLAN</strong></h2>",
      "info": "Make a word bold to replace color"
    },
    {
      "type": "checkbox",
      "id": "heading_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Heading Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Heading Size",
      "default": 32
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Heading Size - Mobile",
      "default": 24
    },
    {
      "type": "range",
      "id": "heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Heading Line Height",
      "default": 130
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "Heading Text Align",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Sub-Heading"
    },
    {
      "type": "richtext",
      "id": "sub_heading",
      "label": "Sub-Heading",
      "default": "<h3>List Of Our Pricing Packages</h3>"
    },
    {
      "type": "checkbox",
      "id": "sub_heading_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "sub_heading_font",
      "label": "Sub-Heading Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "sub_heading_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Sub-Heading Size",
      "default": 24
    },
    {
      "type": "range",
      "id": "sub_heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Sub-Heading Size - Mobile",
      "default": 18
    },
    {
      "type": "range",
      "id": "sub_heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Sub-Heading Line Height",
      "default": 130
    },
    {
      "type": "select",
      "id": "sub_heading_align",
      "label": "Sub-Heading Text Align",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "range",
      "id": "sub_heading_mt",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "Sub-Heading Margin Top",
      "default": 10
    },
    {
      "type": "checkbox",
      "id": "sub_heading_border",
      "label": "Sub-Heading Border Bottom",
      "default": true
    },
    {
      "type": "header",
      "content": "Table Settings"
    },
    {
      "type": "range",
      "id": "table_mt",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Table Margin Top",
      "default": 100
    },
    {
      "type": "range",
      "id": "table_width",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Table Width",
      "default": 90
    },
    {
      "type": "range",
      "id": "table_width_mobile",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Table Width - Mobile",
      "default": 100
    },
    {
      "type": "range",
      "id": "table_gap",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Table Gap",
      "default": 20
    },
    {
      "type": "range",
      "id": "table_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Table Gap - Mobile",
      "default": 20
    },
    {
      "type": "header",
      "content": "Card Settings"
    },
    {
      "type": "range",
      "id": "card_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Card Padding Vertical",
      "default": 20
    },
    {
      "type": "range",
      "id": "card_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Card Padding Horizontal",
      "default": 12
    },
    {
      "type": "range",
      "id": "card_radius",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Card Border Radius",
      "default": 0
    },
    {
      "type": "range",
      "id": "card_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Card Border Thickness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "card_shadow",
      "label": "Card Use Shadow",
      "default": true
    },
    {
      "type": "header",
      "content": "Icon Settings"
    },
    {
      "type": "range",
      "id": "icon_block_width",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Icon Block Width",
      "default": 30
    },
    {
      "type": "range",
      "id": "icon_width",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Icon Width",
      "default": 70
    },
    {
      "type": "checkbox",
      "id": "icon_position",
      "label": "Icon Position - Top",
      "default": true
    },
    {
      "type": "header",
      "content": "Card Title Settings"
    },
    {
      "type": "checkbox",
      "id": "title_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "title_font",
      "label": "Card Title Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "title_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Card Title Size",
      "default": 30
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Card Title Size - Mobile",
      "default": 24
    },
    {
      "type": "range",
      "id": "title_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Card Title Line Height",
      "default": 130
    },
    {
      "type": "header",
      "content": "Card Price Settings"
    },
    {
      "type": "checkbox",
      "id": "price_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "price_font",
      "label": "Card Price Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "price_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Card Price Size",
      "default": 50
    },
    {
      "type": "range",
      "id": "price_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Card Price Size - Mobile",
      "default": 32
    },
    {
      "type": "range",
      "id": "price_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Card Price Line Height",
      "default": 130
    },
    {
      "type": "range",
      "id": "price_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Card Price Margin Top",
      "default": 0
    },
    {
      "type": "header",
      "content": "Card Elements Settings"
    },
    {
      "type": "checkbox",
      "id": "elements_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "elements_font",
      "label": "Card Elements Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "elements_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Card Elements Size",
      "default": 16
    },
    {
      "type": "range",
      "id": "elements_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Card Elements Size - Mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "elements_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Card Elements Line Height",
      "default": 130
    },
    {
      "type": "select",
      "id": "elements_align",
      "label": "Card Elements Text Align",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "range",
      "id": "elements_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Card Elements Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "elements_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Card Elements Gap",
      "default": 10
    },
    {
      "type": "image_picker",
      "label": "Card Elements Icon",
      "id": "elements_icon"
    },
    {
      "type": "header",
      "content": "Card Button"
    },
    {
      "type": "checkbox",
      "id": "button_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "button_font",
      "label": "Button Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "button_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Button Size",
      "default": 14
    },
    {
      "type": "range",
      "id": "button_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Button Size - Mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "button_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Button Line Height",
      "default": 130
    },
    {
      "type": "range",
      "id": "button_mt",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Button Margin Top",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_mb",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Button Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "button_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Button Padding Vertical",
      "default": 8
    },
    {
      "type": "range",
      "id": "button_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Button Padding Horizontal",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Button Border Radius",
      "default": 4
    },
    {
      "type": "range",
      "id": "button_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Button Border Thickness",
      "default": 1
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "label": "Heading Color",
      "id": "heading_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Heading Other Color",
      "id": "heading_other_color",
      "default": "#ffaf5a"
    },
    {
      "type": "color",
      "label": "Sub-Heading Color",
      "id": "sub_heading_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Sub-Heading Border Color",
      "id": "sub_heading_border_color",
      "default": "#ffaf5a"
    },
    {
      "type": "color",
      "label": "Card Background Color",
      "id": "card_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Card Active Color",
      "id": "card_active_color",
      "default": "#ffaf5a"
    },
    {
      "type": "color",
      "label": "Card Border Color",
      "id": "card_border_color",
      "default": "#f9f9f9"
    },
    {
      "type": "color",
      "label": "Card Title Color",
      "id": "title_color",
      "default": "#323a45"
    },
    {
      "type": "color",
      "label": "Card Title Active Color",
      "id": "title_active_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Card Price Color",
      "id": "price_color",
      "default": "#323a45"
    },
    {
      "type": "color",
      "label": "Card Price Active Color",
      "id": "price_active_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Card Elements Color",
      "id": "elements_color",
      "default": "#323a45"
    },
    {
      "type": "color",
      "label": "Button Color",
      "id": "button_color",
      "default": "#323a45"
    },
    {
      "type": "color",
      "label": "Button Hover Color",
      "id": "button_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Button Active Color",
      "id": "button_active_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Button Active Hover Color",
      "id": "button_active_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Button Background Color",
      "id": "button_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Button Background Hover Color",
      "id": "button_bg_hover_color",
      "default": "#323a45"
    },
    {
      "type": "color",
      "label": "Button Background Active Color",
      "id": "button_bg_active_color",
      "default": "#ffaf5a"
    },
    {
      "type": "color",
      "label": "Button Background Active Hover Color",
      "id": "button_bg_active_hover_color",
      "default": "#ffaf5a"
    },
    {
      "type": "color",
      "label": "Button Border Color",
      "id": "button_border_color",
      "default": "#323a45"
    },
    {
      "type": "color",
      "label": "Button Border Hover Color",
      "id": "button_border_hover_color",
      "default": "#323a45"
    },
    {
      "type": "color",
      "label": "Button Border Active Color",
      "id": "button_border_active_color",
      "default": "#ffaf5a"
    },
    {
      "type": "color",
      "label": "Button Border Active Hover Color",
      "id": "button_border_active_hover_color",
      "default": "#ffaf5a"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#f9f9f9"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width",
      "default": true
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "rem",
      "label": "Section content width",
      "default": 120
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price"
        },
        {
          "type": "text",
          "id": "currency",
          "label": "Currency"
        },
        {
          "type": "text",
          "id": "time",
          "label": "Time"
        },
        {
          "type": "textarea",
          "id": "elements",
          "label": "Elements",
          "info": "Please separate elements with a comma."
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "text",
          "id": "button_url",
          "label": "Button Url"
        },
        {
          "type": "checkbox",
          "label": "Active Card",
          "id": "active"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Pricing Table #2",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "heading": "TRIAL VERSION",
            "price": "Free",
            "elements": "<ul><li>Demo File</li><li>Update</li><li>File Compressed</li><li>Commercial Use</li><li>Support</li><li>2 Database</li><li>Documetation</li></ul>",
            "button_text": "Try for free",
            "button_url": "#"
          }
        },
        {
          "type": "item",
          "settings": {
            "heading": "REGULAR",
            "currency": "$",
            "time": "Year",
            "price": "29",
            "elements": "<ul><li>Demo File</li><li>Update</li><li>File Compressed</li><li>Commercial Use</li><li>Support</li><li>2 Database</li><li>Documetation</li></ul>",
            "button_text": "Get Started",
            "button_url": "#",
            "active": true
          }
        },
        {
          "type": "item",
          "settings": {
            "heading": "EXTENDED",
            "currency": "$",
            "time": "Year",
            "price": "59",
            "elements": "<ul><li>Demo File</li><li>Update</li><li>File Compressed</li><li>Commercial Use</li><li>Support</li><li>2 Database</li><li>Documetation</li></ul>",
            "button_text": "Get Started",
            "button_url": "#"
          }
        }
      ]
    }
  ]
}
{% endschema %}