{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign scrolling_velocity = section.settings.scrolling_velocity
  assign scrolling_velocity_mobile = section.settings.scrolling_velocity_mobile
  assign scrolling_gap = section.settings.scrolling_gap
  assign scrolling_gap_mobile = section.settings.scrolling_gap_mobile

  assign reverse_direction = section.settings.reverse_direction

  assign text = section.settings.text
  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_height = section.settings.text_height
  assign text_color = section.settings.text_color
  assign text_gradient = section.settings.text_gradient

  assign icon = section.settings.icon
  assign icon_size_mobile = section.settings.icon_size_mobile
  assign icon_size = section.settings.icon_size
  assign icon_color = section.settings.icon_color
  assign hide_icon = section.settings.hide_icon
  assign animate_icon = section.settings.animate_icon
  
-%}

{%- style -%}
  
  {{ text_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .image-text-scrolling-wrap-{{ section.id }} {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background-attachment: scroll !important;
  }

  .image-text-scrolling-list-{{ section.id }} {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    background-attachment: scroll !important;
    -webkit-animation: ticker{{ section.id | replace: '-', '' }} {{ scrolling_velocity_mobile }}s infinite linear;
    animation: ticker{{ section.id | replace: '-', '' }} {{ scrolling_velocity_mobile }}s infinite linear;
    flex-shrink: 0;
  }

  .image-text-scrolling-item-{{ section.id }} {
    display: flex;
    align-items: center;
    background-attachment: scroll !important;
    margin-right: {{ scrolling_gap_mobile }}px;
    flex-shrink: 0;
  }

  .image-text-scrolling-text-{{ section.id }} {
    display: inline-block;
    margin: 0;
    font-size: {{ text_size_mobile }}px;
    color: {{ text_color }};
    line-height: {{ text_height }}%;
    text-transform: unset;
    margin-right: {{ scrolling_gap_mobile }}px;
    font-weight: 700;
  }

  .image-text-scrolling-icon-{{ section.id }} {
    display: inline-block;
    width: {{ icon_size_mobile }}px;
  }

  .image-text-scrolling-icon-{{ section.id }} img,
  .image-text-scrolling-icon-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-text-scrolling-icon-{{ section.id }} svg path {
    fill: {{ icon_color }};
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }
    
    .image-text-scrolling-list-{{ section.id }} {
      animation-duration: {{ scrolling_velocity }}s;
    }

    .image-text-scrolling-item-{{ section.id }} {
      margin-right: {{ scrolling_gap }}px;
    }
    
    .image-text-scrolling-text-{{ section.id }} {
      font-size: {{ text_size }}px;
      margin-right: {{ scrolling_gap }}px;
    }

    .image-text-scrolling-icon-{{ section.id }} {
      width: {{ icon_size }}px;
    }
    
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .image-text-scrolling-text-{{ section.id }} {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if reverse_direction %}
  <style>
    @keyframes ticker{{ section.id | replace: '-', '' }} {
      0% {
        transform: translateX(-50%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  </style>
{% else %}
  <style>
    @keyframes ticker{{ section.id | replace: '-', '' }} {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-50%);
      }
    }
  </style>
{% endif %}

{% if animate_icon == "animate" %}
  <style>
    .image-text-scrolling-icon-{{ section.id }} img,
    .image-text-scrolling-icon-{{ section.id }} svg {
      -webkit-animation: rotate{{ section.id | replace: '-', '' }} 10s infinite linear;
      animation: rotate{{ section.id | replace: '-', '' }} 10s infinite linear;
    }
    
    @keyframes rotate{{ section.id | replace: '-', '' }} {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  </style>
{% endif %}

{% if text_gradient != blank %}
  <style>
    .image-text-scrolling-text-{{ section.id }} {
      background: {{ text_gradient }};
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  </style>
{% endif %}


<div class="section-{{ section.id }} scrolling-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="image-text-scrolling-wrap-{{ section.id }}">
        <div class="image-text-scrolling-list-{{ section.id }}">
          {% for item in (1..10) %}
            <div class="image-text-scrolling-item-{{ section.id }}">
              {% if text != blank %}
                <p class="image-text-scrolling-text-{{ section.id }}">{{ text }}</p>
              {% endif %}
              {% unless hide_icon %}
                <div class="image-text-scrolling-icon-{{ section.id }}">
                  {% if icon != blank %}
                    <img src="{{ icon | image_url }}" alt="{{ icon }}" {% if lazy %}loading="lazy"{% endif %}>
                  {% else %}
                    <svg id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.72 25.72"><path d="M12.38.41c.07-.55.87-.55.94,0l.6,4.73c.07.45.66.57.89.18l2.37-4.14c.28-.48,1.01-.18.87.36l-1.25,4.6c-.12.44.39.78.75.5l3.77-2.92c.44-.34,1,.23.67.67l-2.92,3.76c-.28.36.06.87.5.75l4.6-1.25c.54-.14.84.6.36.87l-4.14,2.37c-.39.23-.27.82.18.88l4.73.61c.55.07.55.87,0,.94l-4.73.6c-.26.02-.46.24-.44.5.01.17.11.32.26.39l4.14,2.37c.48.28.18,1.01-.36.87l-4.6-1.25c-.25-.08-.51.06-.59.31-.05.15-.01.32.09.44l2.92,3.77c.34.44-.23,1-.67.67l-3.77-2.92c-.2-.17-.5-.14-.66.06-.1.12-.14.29-.09.44l1.25,4.6c.14.54-.6.84-.87.36l-2.37-4.14c-.12-.23-.41-.31-.64-.19-.14.07-.23.21-.24.37l-.61,4.73c-.07.55-.87.55-.94,0l-.6-4.73c-.02-.26-.24-.46-.5-.44-.17.01-.32.11-.39.26l-2.37,4.16c-.28.48-1.01.18-.87-.36l1.25-4.6c.08-.25-.06-.51-.31-.59-.15-.05-.32-.01-.44.09l-3.77,2.92c-.44.34-1-.23-.67-.67l2.92-3.77c.17-.2.14-.5-.06-.66-.12-.1-.29-.14-.44-.09l-4.59,1.23c-.54.14-.84-.6-.36-.87l4.14-2.37c.23-.12.31-.41.19-.64-.07-.14-.21-.23-.37-.24l-4.73-.61c-.55-.07-.55-.87,0-.94l4.73-.6c.26-.02.46-.24.44-.5-.01-.17-.11-.32-.26-.39l-4.15-2.36c-.48-.28-.18-1.01.36-.87l4.6,1.25c.44.12.78-.39.5-.75l-2.92-3.77c-.34-.44.23-1,.67-.67l3.76,2.93c.36.28.87-.06.75-.5l-1.24-4.6c-.14-.54.6-.84.87-.36l2.37,4.14c.23.39.82.27.88-.18l.61-4.73h0Z" style="stroke-width:0px;"/></svg>
                  {% endif %}
                </div>
              {% endunless %}
            </div>
          {% endfor %}
        </div>
        <div class="image-text-scrolling-list-{{ section.id }}">
          {% for item in (1..10) %}
            <div class="image-text-scrolling-item-{{ section.id }}">
              {% if text != blank %}
                <p class="image-text-scrolling-text-{{ section.id }}">{{ text }}</p>
              {% endif %}
              {% unless hide_icon %}
                <div class="image-text-scrolling-icon-{{ section.id }}">
                  {% if icon != blank %}
                    <img src="{{ icon | image_url }}" alt="{{ icon }}" {% if lazy %}loading="lazy"{% endif %}>
                  {% else %}
                    <svg id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.72 25.72"><path d="M12.38.41c.07-.55.87-.55.94,0l.6,4.73c.07.45.66.57.89.18l2.37-4.14c.28-.48,1.01-.18.87.36l-1.25,4.6c-.12.44.39.78.75.5l3.77-2.92c.44-.34,1,.23.67.67l-2.92,3.76c-.28.36.06.87.5.75l4.6-1.25c.54-.14.84.6.36.87l-4.14,2.37c-.39.23-.27.82.18.88l4.73.61c.55.07.55.87,0,.94l-4.73.6c-.26.02-.46.24-.44.5.01.17.11.32.26.39l4.14,2.37c.48.28.18,1.01-.36.87l-4.6-1.25c-.25-.08-.51.06-.59.31-.05.15-.01.32.09.44l2.92,3.77c.34.44-.23,1-.67.67l-3.77-2.92c-.2-.17-.5-.14-.66.06-.1.12-.14.29-.09.44l1.25,4.6c.14.54-.6.84-.87.36l-2.37-4.14c-.12-.23-.41-.31-.64-.19-.14.07-.23.21-.24.37l-.61,4.73c-.07.55-.87.55-.94,0l-.6-4.73c-.02-.26-.24-.46-.5-.44-.17.01-.32.11-.39.26l-2.37,4.16c-.28.48-1.01.18-.87-.36l1.25-4.6c.08-.25-.06-.51-.31-.59-.15-.05-.32-.01-.44.09l-3.77,2.92c-.44.34-1-.23-.67-.67l2.92-3.77c.17-.2.14-.5-.06-.66-.12-.1-.29-.14-.44-.09l-4.59,1.23c-.54.14-.84-.6-.36-.87l4.14-2.37c.23-.12.31-.41.19-.64-.07-.14-.21-.23-.37-.24l-4.73-.61c-.55-.07-.55-.87,0-.94l4.73-.6c.26-.02.46-.24.44-.5-.01-.17-.11-.32-.26-.39l-4.15-2.36c-.48-.28-.18-1.01.36-.87l4.6,1.25c.44.12.78-.39.5-.75l-2.92-3.77c-.34-.44.23-1,.67-.67l3.76,2.93c.36.28.87-.06.75-.5l-1.24-4.6c-.14-.54.6-.84.87-.36l2.37,4.14c.23.39.82.27.88-.18l.61-4.73h0Z" style="stroke-width:0px;"/></svg>
                  {% endif %}
                </div>
              {% endunless %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
</div>

{% if animate_icon == "animate_scroll" %}
  <script>
    function initScrollingText4() {
      var lastScrollTop = window.scrollY;
      var totalRotation = 0;
      var coeff = 0.05;
      
      var icons = document.querySelectorAll('.image-text-scrolling-icon-{{ section.id }}');
      
      icons.forEach(icon => {
          window.addEventListener('scroll', () => {
              var scrollDirection = window.scrollY > lastScrollTop ? 'down' : 'up';
              
              if(scrollDirection === 'down') {
                  totalRotation += coeff;
              } else {
                  totalRotation -= coeff;
              }
              
              icon.style.transform = `rotate(${totalRotation}deg)`;
              
              lastScrollTop = window.scrollY;
          });
      });
    };
    
    document.addEventListener('DOMContentLoaded', initScrollingText4);
  
    if (Shopify.designMode) {
       document.addEventListener('shopify:section:unload', initScrollingText4);
       document.addEventListener('shopify:section:load', initScrollingText4);
    }
  </script>
{% endif %}

{% schema %}
{
  "name": "SG-Scrolling Text #4",
  "settings": [
    {
      "type": "header",
      "content": "Scrolling Settings",
      "info": "The theme editor may display incorrect scrolling speed; please verify on the live site."
    },
    {
      "type": "range",
      "id": "scrolling_velocity",
      "min": 10,
      "max": 150,
      "step": 2,
      "label": "Scrolling Speed",
      "info": "⚡ <----------------> 🐌",
      "default": 20
    },
    {
      "type": "range",
      "id": "scrolling_velocity_mobile",
      "min": 10,
      "max": 150,
      "step": 2,
      "label": "Scrolling Speed Mobile",
      "info": "⚡ <----------------> 🐌",
      "default": 32
    },
    {
      "type": "range",
      "id": "scrolling_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Scrolling Gap",
      "default": 16
    },
    {
      "type": "range",
      "id": "scrolling_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Scrolling Gap - Mobile",
      "default": 16
    },
    {
      "type": "checkbox",
      "id": "reverse_direction",
      "label": "Reverse the Scrolling Direction"
    },
    {
      "type": "header",
      "content": "Text Settings"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "just in"
    },
    {
      "type": "checkbox",
      "id": "text_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "text_font",
      "label": "Text Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "text_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Text Size",
      "default": 60
    },
    {
      "type": "range",
      "id": "text_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Text Size - Mobile",
      "default": 40
    },
    {
      "type": "range",
      "id": "text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Text Line Height",
      "default": 150
    },
    {
      "type": "header",
      "content": "Icon Settings"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Custom Icon"
    },
    {
      "type": "range",
      "id": "icon_size",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Icon Size",
      "default": 32
    },
    {
      "type": "range",
      "id": "icon_size_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Icon Size - Mobile",
      "default": 32
    },
    {
      "type": "select",
      "id": "animate_icon",
      "label": "Animate Icon",
      "default": "animate",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Animate",
          "value": "animate"
        },
        {
          "label": "Animate on scroll",
          "value": "animate_scroll"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "hide_icon",
      "label": "Hide Icon"
    },
    {
      "type": "header",
      "content": "Scrolling Colors"
    },
    {
      "type": "color",
      "label": "Text Color",
      "id": "text_color",
      "default": "#67645E"
    },
    {
      "type": "color_background",
      "label": "Text Gradient",
      "id": "text_gradient"
    },
    {
      "type": "color",
      "label": "Icon Color",
      "id": "icon_color",
      "default": "#67645E"
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#F1F0ED"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Margin sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Margin sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width",
      "default": true
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "rem",
      "label": "Section content width",
      "default": 120
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section Roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "SG-Scrolling Text #4"
    }
  ]
}
{% endschema %}