{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign body_gap = section.settings.body_gap
  assign body_gap_mobile = section.settings.body_gap_mobile

  assign scrolling_velocity = section.settings.scrolling_velocity
  assign scrolling_velocity_mobile = section.settings.scrolling_velocity_mobile
  assign scrolling_gap = section.settings.scrolling_gap
  assign scrolling_gap_mobile = section.settings.scrolling_gap_mobile
  assign scrolling_padding_vertical = section.settings.scrolling_padding_vertical
  assign scrolling_padding_vertical_mobile = section.settings.scrolling_padding_vertical_mobile
  assign scrolling_radius = section.settings.scrolling_radius
  assign scrolling_bg_color = section.settings.scrolling_bg_color

  assign reverse_direction = section.settings.reverse_direction

  assign text = section.settings.text
  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_height = section.settings.text_height
  assign text_color = section.settings.text_color

  assign button_url = section.settings.button_url
  assign button_width = section.settings.button_width
  assign button_width_mobile = section.settings.button_width_mobile
  assign button_radius = section.settings.button_radius
  assign button_bg_color = section.settings.button_bg_color
  assign button_hover_color = section.settings.button_hover_color
  assign button_icon_color = section.settings.button_icon_color
  assign button_icon_hover_color = section.settings.button_icon_hover_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color

  assign icon = section.settings.icon
  assign icon_width = section.settings.icon_width
  assign icon_width_mobile = section.settings.icon_width_mobile
  
-%}

{%- style -%}
  
  {{ text_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .scrolling-body-{{ section.id }} {
    display: flex;
    gap: {{ body_gap_mobile }}px;
    align-items: stretch;
  }

  .scrolling-wrapper-{{ section.id }} {
    flex: 1 1 auto;
    min-width: 0;
  }

  .scrolling-wrap-{{ section.id }} {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background-attachment: scroll !important;
    background-color: {{ scrolling_bg_color }};
    border-radius: {{ scrolling_radius }}px;
    padding: {{ scrolling_padding_vertical_mobile }}px 0px;
  }

  .scrolling-list-{{ section.id }} {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    background-attachment: scroll !important;
    -webkit-animation: ticker{{ section.id | replace: '-', '' }} {{ scrolling_velocity_mobile }}s infinite linear;
    animation: ticker{{ section.id | replace: '-', '' }} {{ scrolling_velocity_mobile }}s infinite linear;
    flex-shrink: 0;
  }

  .scrolling-item-{{ section.id }} {
    display: flex;
    align-items: center;
    background-attachment: scroll !important;
    margin-right: {{ scrolling_gap_mobile }}px;
    flex-shrink: 0;
  }

  .scrolling-text-{{ section.id }} {
    display: inline-block;
    margin: 0;
    font-size: {{ text_size_mobile }}px;
    color: {{ text_color }};
    line-height: {{ text_height }}%;
    text-transform: unset;
    margin-right: {{ scrolling_gap_mobile }}px;
    font-weight: 700;
  }

  .scrolling-arrow-{{ section.id }} {
    flex: 0 0 {{ button_width_mobile }}px;
    border-radius: {{ button_radius }}px;
    transition: all 0.25s ease 0s;
  }

  .scrolling-arrow-inner-{{ section.id }} {
    border-radius: {{ button_radius }}px;
    background-color: {{  button_bg_color }};
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all 0.25s ease 0s;
  }

  .scrolling-arrow-{{ section.id }}:hover .scrolling-arrow-inner-{{ section.id }} {
    background-color: {{ button_bg_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .scrolling-arrow-inner-{{ section.id }} svg {
    display: block;
    width: {{ icon_width_mobile }}px;
    height: {{ icon_width_mobile }}px;
  }

  .scrolling-arrow-inner-{{ section.id }} img {
    display: block;
    width: {{ icon_width_mobile }}px;
    object-fit: cover;
  }

  .scrolling-arrow-inner-{{ section.id }} svg path:last-child {
    fill: {{ button_icon_color }};
    transition: all 0.25s ease 0s;
  }

  .scrolling-arrow-{{ section.id }}:hover .scrolling-arrow-inner-{{ section.id }} svg path:last-child {
    fill: {{ button_icon_hover_color }};
    transition: all 0.25s ease 0s;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .scrolling-body-{{ section.id }} {
      gap: {{ body_gap }}px;
    }

    .scrolling-wrap-{{ section.id }} {
      padding: {{ scrolling_padding_vertical }}px 0px;
    }
    
    .scrolling-list-{{ section.id }} {
      animation-duration: {{ scrolling_velocity }}s;
    }

    .scrolling-item-{{ section.id }} {
      margin-right: {{ scrolling_gap }}px;
    }
    
    .scrolling-text-{{ section.id }} {
      font-size: {{ text_size }}px;
      margin-right: {{ scrolling_gap }}px;
    }

    .scrolling-arrow-{{ section.id }} {
      flex: 0 0 {{ button_width }}px;
    }

    .scrolling-arrow-inner-{{ section.id }} svg {
      width: {{ icon_width }}px;
      height: {{ icon_width }}px;
    }

    .scrolling-arrow-inner-{{ section.id }} img {
      width: {{ icon_width }}px;
    }
    
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .scrolling-text-{{ section.id }} {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if reverse_direction %}
  <style>
    @keyframes ticker{{ section.id | replace: '-', '' }} {
      0% {
        transform: translateX(-50%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  </style>
{% else %}
  <style>
    @keyframes ticker{{ section.id | replace: '-', '' }} {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-50%);
      }
    }
  </style>
{% endif %}

<div class="section-{{ section.id }} scrolling-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="scrolling-body-{{ section.id }}">
        <div class="scrolling-wrapper-{{ section.id }}">
          <div class="scrolling-wrap-{{ section.id }}">
            <div class="scrolling-list-{{ section.id }}">
              {% for item in (1..10) %}
                <div class="scrolling-item-{{ section.id }}">
                  {% if text != blank %}
                    <p class="scrolling-text-{{ section.id }}">{{ text }}</p>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
            <div class="scrolling-list-{{ section.id }}">
              {% for item in (1..10) %}
                <div class="scrolling-item-{{ section.id }}">
                  {% if text != blank %}
                    <p class="scrolling-text-{{ section.id }}">{{ text }}</p>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <{% if button_url != blank %}a href="{{ button_url }}"{% else %}div{% endif %} class="scrolling-arrow-{{ section.id }}">
          <div class="scrolling-arrow-inner-{{ section.id }}">
            {% if icon != blank %}
              <img src="{{ icon | image_url }}" alt="{{ icon.alt }}" {% if lazy %}loading="lazy"{% endif %}>
            {% else %}
              <svg stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path d="M6 6v2h8.59L5 17.59 6.41 19 16 9.41V18h2V6z"></path></svg>
            {% endif %}
          </div>
        </{% if button_url != blank %}a{% else %}div{% endif %}>
      </div>
    </div>
</div>

{% schema %}
{
  "name": "SG-Scrolling Text #6",
  "settings": [
    {
      "type": "header",
      "content": "Body Settings"
    },
    {
      "type": "range",
      "id": "body_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Body Gap",
      "default": 16
    },
    {
      "type": "range",
      "id": "body_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Body Gap - Mobile",
      "default": 16
    },
    {
      "type": "header",
      "content": "Scrolling Settings",
      "info": "The theme editor may display incorrect scrolling speed; please verify on the live site."
    },
    {
      "type": "range",
      "id": "scrolling_velocity",
      "min": 10,
      "max": 150,
      "step": 2,
      "label": "Scrolling Speed",
      "info": "⚡ <----------------> 🐌",
      "default": 20
    },
    {
      "type": "range",
      "id": "scrolling_velocity_mobile",
      "min": 10,
      "max": 150,
      "step": 2,
      "label": "Scrolling Speed Mobile",
      "info": "⚡ <----------------> 🐌",
      "default": 32
    },
    {
      "type": "range",
      "id": "scrolling_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Scrolling Gap",
      "default": 16
    },
    {
      "type": "range",
      "id": "scrolling_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Scrolling Gap - Mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "scrolling_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Scrolling Padding Vertical",
      "default": 16
    },
    {
      "type": "range",
      "id": "scrolling_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Scrolling Padding Vertical - Mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "scrolling_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Scrolling Roundness",
      "default": 12
    },
    {
      "type": "checkbox",
      "id": "reverse_direction",
      "label": "Reverse the Scrolling Direction"
    },
    {
      "type": "header",
      "content": "Text Settings"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "New Arrivals"
    },
    {
      "type": "checkbox",
      "id": "text_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "text_font",
      "label": "Text Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "text_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Text Size",
      "default": 60
    },
    {
      "type": "range",
      "id": "text_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Text Size - Mobile",
      "default": 40
    },
    {
      "type": "range",
      "id": "text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Text Line Height",
      "default": 150
    },
    {
      "type": "header",
      "content": "Button Settings"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "range",
      "id": "button_width",
      "min": 50,
      "max": 250,
      "step": 2,
      "unit": "px",
      "label": "Button Width",
      "default": 150
    },
    {
      "type": "range",
      "id": "button_width_mobile",
      "min": 50,
      "max": 250,
      "step": 2,
      "unit": "px",
      "label": "Button Width - Mobile",
      "default": 120
    },
    {
      "type": "range",
      "id": "button_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Button Roundness",
      "default": 12
    },
    {
      "type": "header",
      "content": "Icon Setting"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Custom Icon"
    },
    {
      "type": "range",
      "id": "icon_width",
      "min": 20,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Icon Width",
      "default": 58
    },
    {
      "type": "range",
      "id": "icon_width_mobile",
      "min": 20,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Icon Width - Mobile",
      "default": 48
    },
    {
      "type": "header",
      "content": "Button Colors"
    },
    {
      "type": "color",
      "label": "Button Background Color",
      "id": "button_bg_color",
      "default": "#16BBF2"
    },
    {
      "type": "color",
      "label": "Button Background Hover Color",
      "id": "button_bg_hover_color",
      "default": "#0DADE5"
    },
    {
      "type": "color",
      "label": "Button Icon Color",
      "id": "button_icon_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Button Icon Hover Color",
      "id": "button_icon_hover_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Scrolling Colors"
    },
    {
      "type": "color",
      "label": "Scrolling Background Color",
      "id": "scrolling_bg_color",
      "default": "#141414"
    },
    {
      "type": "color",
      "label": "Text Color",
      "id": "text_color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#000000"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Margin sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Margin sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 3
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width",
      "default": false
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "rem",
      "label": "Section content width",
      "default": 120
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section Roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "SG-Scrolling Text #6"
    }
  ]
}
{% endschema %}