<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>


{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_color = section.settings.heading_color
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign body_gap = section.settings.body_gap
  assign body_gap_mobile = section.settings.body_gap_mobile
  assign body_mt = section.settings.body_mt

  assign use_slider = section.settings.use_slider
  assign slider_gap_mobile = section.settings.slider_gap_mobile
  assign slider_view_mobile = section.settings.slider_view_mobile

  assign text_color = section.settings.text_color
  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_height = section.settings.text_height
-%}

{%- style -%}

  {{  heading_font | font_face: font_display: 'swap' }}
  {{  text_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .shapes-heading-{{ section.id }} {
    width: 100%;
    text-align: {{ heading_align_mobile }};
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .shapes-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
  }

  .shapes-body-{{ section.id }} {
    margin-top: {{ body_mt | times: 0.75 | round: 0 }}px;
    gap: {{ body_gap_mobile }}px;
  }

  .shapes-slider-{{ section.id }} {
    margin-top: {{ body_mt | times: 0.75 | round: 0 }}px;
  }

  .shapes-slider-{{ section.id }} .swiper-wrapper {
    align-items: center;
  }

  .shapes-item-{{ section.id }} {
    position: relative;
    box-sizing: border-box !important;
    overflow: hidden;
  }

  .shapes-figure-{{ section.id }} {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
  }

  .shapes-figure-{{ section.id }} svg,
  .shapes-figure-{{ section.id }} img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .shapes-content-{{ section.id }} {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }

  .shapes-content-{{ section.id }} {
    text-align: center;
    height: 100%;
    width: 100%;
  }

  .shapes-content-{{ section.id }} * {
    margin: 0;
    line-height: {{ text_height }}%;
    text-transform: unset;
  }

  .figure-third-{{ section.id }} {
    position: relative;
    stroke: rgb(30, 114, 220);
    stroke-width: 2px;
    z-index: 1;
  }

  .figure-third-{{ section.id }} foreignObject {
    display: initial;
  }

  .figure-third-{{ section.id }} foreignObject > div {
    width: 100%;
    height: 100%;
  }

  .figure-third-{{ section.id }} foreignObject > div img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }

  .figure-third-{{ section.id }} > g {
    display: none;
  }

  .hide-content-{{ section.id }} {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }

  .clip-path-{{ section.id }} {
    display: none !important;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem !important;
      padding-right: {{ padding_horizontal }}rem !important;
    }

    .shapes-heading-{{ section.id }} {
      text-align: {{ heading_align }};
      padding: 0px;
    }

    .shapes-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .shapes-body-{{ section.id }} {
      margin-top: {{ body_mt }}px;
      display: grid !important;
      align-items: stretch;
      grid-auto-rows: min-content;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      gap: {{ body_gap }}px;
    }

    .shapes-slider-{{ section.id }} {
      display: none !important;
    }
    
    .shapes-content-{{ section.id }} {
      padding: 48px !important;
    }

  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if heading_custom %}
  <style>
    .shapes-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .shapes-content-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if use_slider %}
  <style>
    .section-{{ section.id }}-settings {
      padding-left: 0px;
      padding-right: 0px;
    }
    
    .shapes-slider-{{ section.id }} {
      display: block;
    }

    .shapes-body-{{ section.id }} {
      display: none;
    }
  </style>
{% else %}
  <style>
    .shapes-slider-{{ section.id }} {
      display: none;
    }

    .shapes-body-{{ section.id }} {
      display: grid;
    }
  </style>
{% endif %}

{% for block in section.blocks %}
  <style>

    .shapes-content-{{ block.id }} * {
      font-size: {{ block.settings.text_size_mobile }}px;
    }

    @media(min-width: 1024px) {
      .shapes-item-{{ block.id }} {
        grid-row: span {{ block.settings.row_width }} / span {{ block.settings.row_width }};
        grid-column: span {{ block.settings.column_width }} / span {{ block.settings.column_width }};
      } 

      .shapes-content-{{ block.id }} * {
        font-size: {{ block.settings.text_size }}px;
      }
    }

    .shapes-item-{{ block.id }} img {
      opacity: {{ block.settings.image_opacity | times: 100 }}%;
    }

    .shapes-item-{{ block.id }} .shapes-content-{{ section.id }} * {
      color: {{ block.settings.text_color }};
    }
  </style>

  {% if block.settings.shape_type == "landscape" %}
    <style>
      .shapes-item-{{ block.id }} {
        aspect-ratio: 12 / 7;
        border-radius: {{ block.settings.radius }}px;
        border: {{ block.settings.border_thickness }}px solid {{ block.settings.border_color }};
      }

      @media(min-width: 1024px) {
        .shapes-item-{{ block.id }} {
          aspect-ratio: 1 / 0.3;
        }
      }
    </style>
  {% elsif block.settings.shape_type == "portrait" %}
    <style>
      .shapes-item-{{ block.id }} {
        aspect-ratio: 9.6/13;
        border-radius: {{ block.settings.radius }}px;
        border: {{ block.settings.border_thickness }}px solid {{ block.settings.border_color }};
      }
    </style>
  {% elsif block.settings.shape_type == "square" %}
    <style>
      .shapes-item-{{ block.id }} {
        aspect-ratio: 12/12;
        border-radius: {{ block.settings.radius }}px;
        border: {{ block.settings.border_thickness }}px solid {{ block.settings.border_color }};
      }
    </style>
  {% elsif block.settings.shape_type == "oval" %}
    <style>
      .shapes-item-{{ block.id }} {
        aspect-ratio: 9.6/13;
        border-radius: 50%/35%;
        border: {{ block.settings.border_thickness }}px solid {{ block.settings.border_color }};
      }
    </style>
  {% elsif block.settings.shape_type == "egg" %}
    <style>
      .shapes-item-{{ block.id }} {
        border-radius: 50%;
        aspect-ratio: 9.6 / 12;
        border: {{ block.settings.border_thickness }}px solid {{ block.settings.border_color }};
      }
    </style>
  {% elsif block.settings.shape_type == "circle" %}
    <style>
      .shapes-item-{{ block.id }} {
        aspect-ratio: 1/1;
      }
      
      .shapes-item-{{ block.id }} .shapes-content-{{ section.id }} {
        padding: 50px;
      }
      
      .shapes-item-{{ block.id }} .shapes-figure-{{ section.id }} {
        border-radius: 50%;
        border: {{ block.settings.border_thickness }}px solid {{ block.settings.border_color }};
      }
    </style>
  {% elsif block.settings.shape_type == "second" %}
    <style>
      .shapes-item-{{ block.id }} {
        aspect-ratio: 1/1.7;
      }

      @media(min-width: 1024px) {
        .shapes-item-{{ block.id }} {
          aspect-ratio: auto;
        }
      }
    </style>
  {% elsif block.settings.shape_type == "third" %}
    <style>
      .shapes-item-{{ block.id }} {
        aspect-ratio: 1/1.7;
      }

      @media(min-width: 1024px) {
        .shapes-item-{{ block.id }} {
          aspect-ratio: auto;
        }
      }
    </style>
  {% elsif block.settings.shape_type == "first" %}
    <style>
      .shapes-item-{{ block.id }} {
        aspect-ratio: 1/1;
      }

      .shapes-item-{{ block.id }} .shapes-content-{{ section.id }} {
        padding: 20px;
      }

      @media(min-width: 1024px) {
        .shapes-item-{{ block.id }} {
          aspect-ratio: auto;
        }
      }
    </style>
  {% endif %}
{% endfor %}

<div class="section-{{ section.id }} shapes-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      {% if heading != blank %}
        <div class="shapes-heading-{{ section.id }}">
          {{ heading }}
        </div>
      {% endif %}
      <div class="shapes-slider-{{ section.id }} swiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
          <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% else %}div{% endif %} class="shapes-item-{{ section.id }} shapes-item-{{ block.id }} swiper-slide">
            <div class="shapes-figure-{{ section.id }}">

              {% if block.settings.image != blank and block.settings.shape_type == "circle" or block.settings.shape_type == "first" or block.settings.shape_type == "landscape" or block.settings.shape_type == "square" or block.settings.shape_type == "portrait" or block.settings.shape_type == "oval" or block.settings.shape_type == "egg" %}
                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
              {% endif %}
            
              {% if block.settings.shape_type == "first" %}
                <svg fill="none" stroke-width="2" viewBox="0 0 200 128" role="presentation" aria-hidden="true" focusable="false">
                  <path stroke="{{ block.settings.border_color }}" id="path-template--17841379442971__a4caac54-d6bc-445e-be1b-d09eab1b2ce7-1676075092de0ad893-0" vector-effect="non-scaling-stroke" d="M119.768 118.079C128.025 123.795 137.749 126.919 148.083 126.481C183.482 124.982 203.367 84.5448 196.733 53.0009C193.269 36.5308 183.221 21.0122 168.71 12.29C153.372 3.07041 134.657 2.05339 117.108 2.00065C95.1085 1.93375 73.1248 7.05808 52.8264 15.6473C37.5385 22.1166 23.9361 30.4075 13.3338 43.743C1.66324 58.4224 -1.74802 77.9412 6.66264 94.1632C13.3729 107.106 25.3785 114.991 40.2894 114.386C50.7853 113.961 57.6645 107.709 67.1242 104.752C77.639 101.465 88.9142 102.538 98.9639 106.582C106.268 109.521 112.964 113.896 119.768 118.079Z"></path>
                </svg>
              {% elsif block.settings.shape_type == "second" %}
                <svg fill="none" stroke-width="2" viewBox="0 0 200 348" role="presentation" aria-hidden="true" focusable="false">
                  <path stroke="{{ block.settings.border_color }}" id="path-template--17841379442971__a4caac54-d6bc-445e-be1b-d09eab1b2ce7-1676075092de0ad893-2" vector-effect="non-scaling-stroke" d="M23.4345 162.415C22.8936 167.159 22.1939 171.876 21.1586 176.582C20.737 178.501 20.2757 180.411 19.7768 182.31C16.5915 194.397 13.4085 206.486 10.2254 218.573C7.53458 228.794 4.14623 239.073 2.7357 249.575C0.477532 266.392 3.45752 283.718 11.1282 298.844C19.6797 315.703 33.9726 329.103 51.2697 336.663C69.3174 344.552 89.4533 344.649 108.786 343.988C110.258 343.938 111.73 343.876 113.198 343.798C130.116 342.919 146.574 340.105 161.039 330.451C176.597 320.069 188.457 304.43 194.227 286.618C194.64 285.347 195.02 284.067 195.371 282.778C203.675 252.156 190.331 219.22 182.683 189.584C182.093 187.303 181.504 185.024 180.917 182.743C174.482 157.815 173.663 131.577 179.99 106.623C182.142 98.1348 182.979 89.1204 182.27 79.8099C179.184 39.3626 146.36 6.74924 105.949 3.96182C57.7948 0.637268 17.6996 38.7724 17.6996 86.2822C17.6996 92.8849 18.4766 99.3041 19.9424 105.456C21.8275 113.367 23.174 121.407 23.9201 129.506C24.6662 137.572 24.9841 145.689 24.2843 153.768C24.0349 156.655 23.7634 159.537 23.4345 162.415"></path>
                </svg>
              {% elsif block.settings.shape_type == "third" %}
                <svg class="clip-path-{{ section.id }}" width="0" height="0" viewBox="0 0 200 325" role="presentation" aria-hidden="true" focusable="false">
                  <defs>
                    <clipPath id="clip-{{ block.id }}">
                      <path clip-rule="evenodd" d="M160.626 92.7935C160.639 87.546 160.515 82.2841 159.992 76.9965C159.116 68.1371 156.952 59.3992 153.472 51.203C146.541 34.8832 134.352 21.1186 118.723 12.7006C114.943 10.665 110.996 8.94592 106.939 7.54571C99.3068 4.90917 91.2772 3.46772 83.2075 3.27262C47.76 2.41421 15.1774 26.0673 5.09305 60.1483C-0.0559639 77.5517 1.44889 95.7912 7.9358 112.578C11.7024 122.324 16.985 131.169 19.6341 141.377C23.8893 157.772 22.695 174.783 17.6294 190.846C12.4982 207.116 4.83037 220.922 4.83037 238.52C4.83037 263.757 16.5787 286.231 34.8585 300.813C35.0332 300.945 35.2147 301.071 35.3905 301.203C53.0448 314.45 74.7015 321.75 96.7624 321.75C131.805 321.75 165.247 303.267 183.761 273.435C195.524 254.484 201.235 230.782 196.117 208.553C190.592 184.551 171.798 166.003 164.789 142.208C159.967 125.842 160.587 109.674 160.626 92.7935Z" fill="{{ block.settings.border_color }}"></path>
                    </clipPath>
                    <path id="outline-{{ block.id }}" stroke="{{ block.settings.border_color }}" vector-effect="non-scaling-stroke" d="M160.626 92.7935C160.639 87.546 160.515 82.2841 159.992 76.9965C159.116 68.1371 156.952 59.3992 153.472 51.203C146.541 34.8832 134.352 21.1186 118.723 12.7006C114.943 10.665 110.996 8.94592 106.939 7.54571C99.3068 4.90917 91.2772 3.46772 83.2075 3.27262C47.76 2.41421 15.1774 26.0673 5.09305 60.1483C-0.0559639 77.5517 1.44889 95.7912 7.9358 112.578C11.7024 122.324 16.985 131.169 19.6341 141.377C23.8893 157.772 22.695 174.783 17.6294 190.846C12.4982 207.116 4.83037 220.922 4.83037 238.52C4.83037 263.757 16.5787 286.231 34.8585 300.813C35.0332 300.945 35.2147 301.071 35.3905 301.203C53.0448 314.45 74.7015 321.75 96.7624 321.75C131.805 321.75 165.247 303.267 183.761 273.435C195.524 254.484 201.235 230.782 196.117 208.553C190.592 184.551 171.798 166.003 164.789 142.208C159.967 125.842 160.587 109.674 160.626 92.7935Z"></path>
                  </defs>
                </svg>
                <svg class="figure-third-{{ section.id }}" viewBox="0 0 200 325" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  {% if block.settings.image != blank %}
                    <foreignObject -webkit-clip-path="url(#clip-{{ block.id }})" clip-path="url(#clip-clip-{{ block.id }})" width="100%" height="100%">
                      <div style="aspect-ratio: 1 / 1.625">
                        <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                      </div>
                    </foreignObject>
                  {% endif %}
            
                  <use style="fill: none;" href="#outline-{{ block.id }}"></use>
                </svg>
              {% endif %}

            </div>
            {% if block.settings.text != blank %}
              <div class="shapes-content-{{ section.id }} shapes-content-{{ block.id }} {% if block.settings.image != blank %} hide-content-{{ section.id }}{% endif %}">
                {{ block.settings.text }}
              </div>
            {% endif %}
          </{% if block.settings.url != blank %}a{% else %}div{% endif %}>
        {% endfor %}
        {% for block in section.blocks %}
          <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% else %}div{% endif %} class="shapes-item-{{ section.id }} shapes-item-{{ block.id }} swiper-slide">
            <div class="shapes-figure-{{ section.id }}">

              {% if block.settings.image != blank and block.settings.shape_type == "circle" or block.settings.shape_type == "landscape" or block.settings.shape_type == "square" or block.settings.shape_type == "portrait" or block.settings.shape_type == "oval" or block.settings.shape_type == "egg" %}
                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
              {% endif %}

              {% if block.settings.shape_type == "first" %}
                <svg fill="none" stroke-width="2" viewBox="0 0 200 128" role="presentation" aria-hidden="true" focusable="false">
                  <path stroke="{{ block.settings.border_color }}" id="path-template--17841379442971__a4caac54-d6bc-445e-be1b-d09eab1b2ce7-1676075092de0ad893-0" vector-effect="non-scaling-stroke" d="M119.768 118.079C128.025 123.795 137.749 126.919 148.083 126.481C183.482 124.982 203.367 84.5448 196.733 53.0009C193.269 36.5308 183.221 21.0122 168.71 12.29C153.372 3.07041 134.657 2.05339 117.108 2.00065C95.1085 1.93375 73.1248 7.05808 52.8264 15.6473C37.5385 22.1166 23.9361 30.4075 13.3338 43.743C1.66324 58.4224 -1.74802 77.9412 6.66264 94.1632C13.3729 107.106 25.3785 114.991 40.2894 114.386C50.7853 113.961 57.6645 107.709 67.1242 104.752C77.639 101.465 88.9142 102.538 98.9639 106.582C106.268 109.521 112.964 113.896 119.768 118.079Z"></path>
                </svg>
              {% elsif block.settings.shape_type == "second" %}
                <svg fill="none" stroke-width="2" viewBox="0 0 200 348" role="presentation" aria-hidden="true" focusable="false">
                  <path stroke="{{ block.settings.border_color }}" id="path-template--17841379442971__a4caac54-d6bc-445e-be1b-d09eab1b2ce7-1676075092de0ad893-2" vector-effect="non-scaling-stroke" d="M23.4345 162.415C22.8936 167.159 22.1939 171.876 21.1586 176.582C20.737 178.501 20.2757 180.411 19.7768 182.31C16.5915 194.397 13.4085 206.486 10.2254 218.573C7.53458 228.794 4.14623 239.073 2.7357 249.575C0.477532 266.392 3.45752 283.718 11.1282 298.844C19.6797 315.703 33.9726 329.103 51.2697 336.663C69.3174 344.552 89.4533 344.649 108.786 343.988C110.258 343.938 111.73 343.876 113.198 343.798C130.116 342.919 146.574 340.105 161.039 330.451C176.597 320.069 188.457 304.43 194.227 286.618C194.64 285.347 195.02 284.067 195.371 282.778C203.675 252.156 190.331 219.22 182.683 189.584C182.093 187.303 181.504 185.024 180.917 182.743C174.482 157.815 173.663 131.577 179.99 106.623C182.142 98.1348 182.979 89.1204 182.27 79.8099C179.184 39.3626 146.36 6.74924 105.949 3.96182C57.7948 0.637268 17.6996 38.7724 17.6996 86.2822C17.6996 92.8849 18.4766 99.3041 19.9424 105.456C21.8275 113.367 23.174 121.407 23.9201 129.506C24.6662 137.572 24.9841 145.689 24.2843 153.768C24.0349 156.655 23.7634 159.537 23.4345 162.415"></path>
                </svg>
              {% elsif block.settings.shape_type == "third" %}
                <svg class="clip-path-{{ section.id }}" width="0" height="0" viewBox="0 0 200 325" role="presentation" aria-hidden="true" focusable="false">
                  <defs>
                    <clipPath id="clip-{{ block.id }}">
                      <path clip-rule="evenodd" d="M160.626 92.7935C160.639 87.546 160.515 82.2841 159.992 76.9965C159.116 68.1371 156.952 59.3992 153.472 51.203C146.541 34.8832 134.352 21.1186 118.723 12.7006C114.943 10.665 110.996 8.94592 106.939 7.54571C99.3068 4.90917 91.2772 3.46772 83.2075 3.27262C47.76 2.41421 15.1774 26.0673 5.09305 60.1483C-0.0559639 77.5517 1.44889 95.7912 7.9358 112.578C11.7024 122.324 16.985 131.169 19.6341 141.377C23.8893 157.772 22.695 174.783 17.6294 190.846C12.4982 207.116 4.83037 220.922 4.83037 238.52C4.83037 263.757 16.5787 286.231 34.8585 300.813C35.0332 300.945 35.2147 301.071 35.3905 301.203C53.0448 314.45 74.7015 321.75 96.7624 321.75C131.805 321.75 165.247 303.267 183.761 273.435C195.524 254.484 201.235 230.782 196.117 208.553C190.592 184.551 171.798 166.003 164.789 142.208C159.967 125.842 160.587 109.674 160.626 92.7935Z" fill="{{ block.settings.border_color }}"></path>
                    </clipPath>
                    <path id="outline-{{ block.id }}" stroke="{{ block.settings.border_color }}" vector-effect="non-scaling-stroke" d="M160.626 92.7935C160.639 87.546 160.515 82.2841 159.992 76.9965C159.116 68.1371 156.952 59.3992 153.472 51.203C146.541 34.8832 134.352 21.1186 118.723 12.7006C114.943 10.665 110.996 8.94592 106.939 7.54571C99.3068 4.90917 91.2772 3.46772 83.2075 3.27262C47.76 2.41421 15.1774 26.0673 5.09305 60.1483C-0.0559639 77.5517 1.44889 95.7912 7.9358 112.578C11.7024 122.324 16.985 131.169 19.6341 141.377C23.8893 157.772 22.695 174.783 17.6294 190.846C12.4982 207.116 4.83037 220.922 4.83037 238.52C4.83037 263.757 16.5787 286.231 34.8585 300.813C35.0332 300.945 35.2147 301.071 35.3905 301.203C53.0448 314.45 74.7015 321.75 96.7624 321.75C131.805 321.75 165.247 303.267 183.761 273.435C195.524 254.484 201.235 230.782 196.117 208.553C190.592 184.551 171.798 166.003 164.789 142.208C159.967 125.842 160.587 109.674 160.626 92.7935Z"></path>
                  </defs>
                </svg>
                <svg class="figure-third-{{ section.id }}" viewBox="0 0 200 325" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  {% if block.settings.image != blank %}
                    <foreignObject -webkit-clip-path="url(#clip-{{ block.id }})" clip-path="url(#clip-clip-{{ block.id }})" width="100%" height="100%">
                      <div style="aspect-ratio: 1 / 1.625">
                        <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                      </div>
                    </foreignObject>
                  {% endif %}
            
                  <use style="fill: none;" href="#outline-{{ block.id }}"></use>
                </svg>
              {% endif %}

            </div>
            {% if block.settings.text != blank %}
              <div class="shapes-content-{{ section.id }} shapes-content-{{ block.id }} {% if block.settings.image != blank %} hide-content-{{ section.id }}{% endif %}">
                {{ block.settings.text }}
              </div>
            {% endif %}
          </{% if block.settings.url != blank %}a{% else %}div{% endif %}>
        {% endfor %}
        </div>
      </div>
      <div class="shapes-body-{{ section.id }}">
        {% for block in section.blocks %}
          <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% else %}div{% endif %} class="shapes-item-{{ section.id }} shapes-item-{{ block.id }}">
            <div class="shapes-figure-{{ section.id }}">

              {% if block.settings.image != blank and block.settings.shape_type == "circle" or block.settings.shape_type == "landscape" or block.settings.shape_type == "square" or block.settings.shape_type == "portrait" or block.settings.shape_type == "oval" or block.settings.shape_type == "egg" %}
                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
              {% endif %}
              
              {% if block.settings.shape_type == "first" %}
                <svg fill="none" stroke-width="2" viewBox="0 0 200 128" role="presentation" aria-hidden="true" focusable="false">
                  <path stroke="{{ block.settings.border_color }}" id="path-template--17841379442971__a4caac54-d6bc-445e-be1b-d09eab1b2ce7-1676075092de0ad893-0" vector-effect="non-scaling-stroke" d="M119.768 118.079C128.025 123.795 137.749 126.919 148.083 126.481C183.482 124.982 203.367 84.5448 196.733 53.0009C193.269 36.5308 183.221 21.0122 168.71 12.29C153.372 3.07041 134.657 2.05339 117.108 2.00065C95.1085 1.93375 73.1248 7.05808 52.8264 15.6473C37.5385 22.1166 23.9361 30.4075 13.3338 43.743C1.66324 58.4224 -1.74802 77.9412 6.66264 94.1632C13.3729 107.106 25.3785 114.991 40.2894 114.386C50.7853 113.961 57.6645 107.709 67.1242 104.752C77.639 101.465 88.9142 102.538 98.9639 106.582C106.268 109.521 112.964 113.896 119.768 118.079Z"></path>
                </svg>
              {% elsif block.settings.shape_type == "second" %}
                <svg fill="none" stroke-width="2" viewBox="0 0 200 348" role="presentation" aria-hidden="true" focusable="false">
                  <path stroke="{{ block.settings.border_color }}" id="path-template--17841379442971__a4caac54-d6bc-445e-be1b-d09eab1b2ce7-1676075092de0ad893-2" vector-effect="non-scaling-stroke" d="M23.4345 162.415C22.8936 167.159 22.1939 171.876 21.1586 176.582C20.737 178.501 20.2757 180.411 19.7768 182.31C16.5915 194.397 13.4085 206.486 10.2254 218.573C7.53458 228.794 4.14623 239.073 2.7357 249.575C0.477532 266.392 3.45752 283.718 11.1282 298.844C19.6797 315.703 33.9726 329.103 51.2697 336.663C69.3174 344.552 89.4533 344.649 108.786 343.988C110.258 343.938 111.73 343.876 113.198 343.798C130.116 342.919 146.574 340.105 161.039 330.451C176.597 320.069 188.457 304.43 194.227 286.618C194.64 285.347 195.02 284.067 195.371 282.778C203.675 252.156 190.331 219.22 182.683 189.584C182.093 187.303 181.504 185.024 180.917 182.743C174.482 157.815 173.663 131.577 179.99 106.623C182.142 98.1348 182.979 89.1204 182.27 79.8099C179.184 39.3626 146.36 6.74924 105.949 3.96182C57.7948 0.637268 17.6996 38.7724 17.6996 86.2822C17.6996 92.8849 18.4766 99.3041 19.9424 105.456C21.8275 113.367 23.174 121.407 23.9201 129.506C24.6662 137.572 24.9841 145.689 24.2843 153.768C24.0349 156.655 23.7634 159.537 23.4345 162.415"></path>
                </svg>
              {% elsif block.settings.shape_type == "third" %}
                <svg class="clip-path-{{ section.id }}" width="0" height="0" viewBox="0 0 200 325" role="presentation" aria-hidden="true" focusable="false">
                  <defs>
                    <clipPath id="clip-{{ block.id }}">
                      <path clip-rule="evenodd" d="M160.626 92.7935C160.639 87.546 160.515 82.2841 159.992 76.9965C159.116 68.1371 156.952 59.3992 153.472 51.203C146.541 34.8832 134.352 21.1186 118.723 12.7006C114.943 10.665 110.996 8.94592 106.939 7.54571C99.3068 4.90917 91.2772 3.46772 83.2075 3.27262C47.76 2.41421 15.1774 26.0673 5.09305 60.1483C-0.0559639 77.5517 1.44889 95.7912 7.9358 112.578C11.7024 122.324 16.985 131.169 19.6341 141.377C23.8893 157.772 22.695 174.783 17.6294 190.846C12.4982 207.116 4.83037 220.922 4.83037 238.52C4.83037 263.757 16.5787 286.231 34.8585 300.813C35.0332 300.945 35.2147 301.071 35.3905 301.203C53.0448 314.45 74.7015 321.75 96.7624 321.75C131.805 321.75 165.247 303.267 183.761 273.435C195.524 254.484 201.235 230.782 196.117 208.553C190.592 184.551 171.798 166.003 164.789 142.208C159.967 125.842 160.587 109.674 160.626 92.7935Z" fill="{{ block.settings.border_color }}"></path>
                    </clipPath>
                    <path id="outline-{{ block.id }}" stroke="{{ block.settings.border_color }}" vector-effect="non-scaling-stroke" d="M160.626 92.7935C160.639 87.546 160.515 82.2841 159.992 76.9965C159.116 68.1371 156.952 59.3992 153.472 51.203C146.541 34.8832 134.352 21.1186 118.723 12.7006C114.943 10.665 110.996 8.94592 106.939 7.54571C99.3068 4.90917 91.2772 3.46772 83.2075 3.27262C47.76 2.41421 15.1774 26.0673 5.09305 60.1483C-0.0559639 77.5517 1.44889 95.7912 7.9358 112.578C11.7024 122.324 16.985 131.169 19.6341 141.377C23.8893 157.772 22.695 174.783 17.6294 190.846C12.4982 207.116 4.83037 220.922 4.83037 238.52C4.83037 263.757 16.5787 286.231 34.8585 300.813C35.0332 300.945 35.2147 301.071 35.3905 301.203C53.0448 314.45 74.7015 321.75 96.7624 321.75C131.805 321.75 165.247 303.267 183.761 273.435C195.524 254.484 201.235 230.782 196.117 208.553C190.592 184.551 171.798 166.003 164.789 142.208C159.967 125.842 160.587 109.674 160.626 92.7935Z"></path>
                  </defs>
                </svg>
                <svg class="figure-third-{{ section.id }}" viewBox="0 0 200 325" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  {% if block.settings.image != blank %}
                    <foreignObject -webkit-clip-path="url(#clip-{{ block.id }})" clip-path="url(#clip-clip-{{ block.id }})" width="100%" height="100%">
                      <div style="aspect-ratio: 1 / 1.625">
                        <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                      </div>
                    </foreignObject>
                  {% endif %}
            
                  <use style="fill: none;" href="#outline-{{ block.id }}"></use>
                </svg>
              {% endif %}

            </div>
            {% if block.settings.text != blank %}
              <div class="shapes-content-{{ section.id }} shapes-content-{{ block.id }} {% if block.settings.image != blank %} hide-content-{{ section.id }}{% endif %}">
                {{ block.settings.text }}
              </div>
            {% endif %}
          </{% if block.settings.url != blank %}a{% else %}div{% endif %}>
        {% endfor %}
      </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  function initShapes() {
    const slider = new Swiper(".shapes-slider-{{ section.id }}", {
      speed: 300,
      spaceBetween: 20,
      loop: true,
      centeredSlides: true,
      spaceBetween: {{ slider_gap_mobile }},
      slidesPerView: {{ slider_view_mobile }}
    });
  }

  document.addEventListener('DOMContentLoaded', initShapes);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initShapes);
     document.addEventListener('shopify:section:load', initShapes);
  }
</script>

{% schema %}
{
  "name": "SG-Shapes",
  "settings": [
    {
      "type": "header",
      "content": "Heading Settings"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<h2>Deep Thoughts<br> From Customers.</h2>"
    },
    {
      "type": "checkbox",
      "id": "heading_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Heading Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Heading Size",
      "default": 54
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Heading Size - Mobile",
      "default": 28
    },
    {
      "type": "range",
      "id": "heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Heading Line Height",
      "default": 130
    },
    {
      "type": "text_alignment",
      "id": "heading_align",
      "label": "Heading Align",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "heading_align_mobile",
      "label": "Heading Align - Mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Shapes Settings"
    },
    {
      "type": "range",
      "id": "body_gap",
      "min": 0,
      "max": 160,
      "step": 2,
      "unit": "px",
      "label": "Shapes Gap",
      "default": 60
    },
    {
      "type": "range",
      "id": "body_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Shapes Gap - Mobile",
      "default": 40
    },
    {
      "type": "range",
      "id": "body_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Shapes Margin Top",
      "default": 60
    },
    {
      "type": "header",
      "content": "Slider Settings (Mobile)"
    },
    {
      "type": "checkbox",
      "id": "use_slider",
      "label": "Use Slider - Mobile",
      "default": true
    },
    {
      "type": "range",
      "id": "slider_view_mobile",
      "min": 1,
      "max": 2,
      "step": 0.1,
      "label": "Slides Per View",
      "default": 1.3
    },
    {
      "type": "range",
      "id": "slider_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Slider Gap",
      "default": 20
    },
    {
      "type": "header",
      "content": "Text Settings"
    },
    {
      "type": "checkbox",
      "id": "text_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "text_font",
      "label": "Text Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Text Line Height",
      "default": 130
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "label": "Heading Color",
      "id": "heading_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width",
      "default": false
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "rem",
      "label": "Section content width",
      "default": 120
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "header",
          "content": "Layout Settings",
          "info": "Only for Desktop"
        },
        {
          "type": "range",
          "id": "column_width",
          "min": 1,
          "max": 12,
          "step": 1,
          "label": "Column",
          "default": 4
        },
        {
          "type": "range",
          "id": "row_width",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "Row",
          "default": 2
        },
        {
          "type": "header",
          "content": "Shape Settings"
        },
        {
          "type": "select",
          "id": "shape_type",
          "label": "Shape Type",
          "default": "first",
          "options": [
            {
              "label": "First Shape",
              "value": "first"
            },
            {
              "label": "Second Shape",
              "value": "second"
            },
            {
              "label": "Third Shape",
              "value": "third"
            },
            {
              "label": "Circle",
              "value": "circle"
            },
            {
              "label": "Oval",
              "value": "oval"
            },
            {
              "label": "Egg",
              "value": "egg"
            },
            {
              "label": "Landscape",
              "value": "landscape"
            },
            {
              "label": "Square",
              "value": "square"
            },
            {
              "label": "Portrait",
              "value": "portrait"
            }
          ]
        },
        {
          "type": "header",
          "content": "Custom Shape Settings"
        },
        {
          "type": "range",
          "id": "radius",
          "min": 0,
          "max": 200,
          "step": 2,
          "unit": "px",
          "label": "Item Roundness",
          "default": 0
        },
        {
          "type": "range",
          "id": "border_thickness",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "px",
          "label": "Item Border Thickness",
          "default": 2
        },
        {
          "type": "header",
          "content": "Content Setting"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text</p>"
        },
        {
          "type": "range",
          "id": "text_size",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Text Size",
          "default": 22
        },
        {
          "type": "range",
          "id": "text_size_mobile",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Text Size - Mobile",
          "default": 20
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Background Image",
          "info": "Background images don't work on First, Second and Third shape"
        },
        {
          "type": "range",
          "id": "image_opacity",
          "min": 0,
          "max": 1,
          "step": 0.1,
          "label": "Background Image Opacity",
          "default": 1
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "header",
          "content": "Block Colors"
        },
        {
          "type": "color",
          "label": "Border Color",
          "id": "border_color",
          "default": "#121212"
        },
        {
          "type": "color",
          "label": "Text Color",
          "id": "text_color",
          "default": "#121212"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Shapes",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "column_width": 5,
            "row_width": 3,
            "text": "<p>“This testimonial #8 section is perfect.”<br>-John F</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "column_width": 4,
            "row_width": 4,
            "shape_type": "portrait",
            "radius": 42,
            "text": "<p>“I'm so impressed with the quality of sections. They're built to last and only get easier to use with time.”<br>-Nick B</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "column_width": 3,
            "row_width": 4,
            "shape_type": "second",
            "text": "<p>“The sections are so good!”<br>-Sussie L</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "column_width": 4,
            "row_width": 2,
            "shape_type": "circle",
            "text": "<p>“I’m a big fan of everything Section Store. Can’t wait for their new sections to drop.”<br>-Kiara S</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "column_width": 8,
            "row_width": 1,
            "shape_type": "landscape",
            "radius": 42,
            "text": "<p>“Section Store is so useful for me. Like having your own designer at all time.”<br>-Vincent S</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}