{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign cards_gap = section.settings.cards_gap
  assign cards_gap_mobile = section.settings.cards_gap_mobile

  assign card_height_mobile = section.settings.card_height_mobile
  assign card_height = section.settings.card_height
  assign card_radius = section.settings.card_radius
  assign card_border_thickness = section.settings.card_border_thickness
  assign card_border_color = section.settings.card_border_color
  assign card_content_align = section.settings.card_content_align
  assign card_content_align_mobile = section.settings.card_content_align_mobile
  assign card_overlay = section.settings.card_overlay
  assign card_overlay_color = section.settings.card_overlay_color

  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_height = section.settings.text_height
  assign text_color = section.settings.text_color

  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_height = section.settings.title_height
  assign title_color = section.settings.title_color

  assign scrolling_text_custom = section.settings.scrolling_text_custom
  assign scrolling_text_font = section.settings.scrolling_text_font
  assign scrolling_text_size = section.settings.scrolling_text_size
  assign scrolling_text_height = section.settings.scrolling_text_height
  assign scrolling_text_color = section.settings.scrolling_text_color

  assign scrolling_velocity = section.settings.scrolling_velocity
  assign scrolling_gap = section.settings.scrolling_gap
  assign reverse_direction = section.settings.reverse_direction

  assign lazy_load_setting = 'lazy'
  unless lazy
    assign lazy_load_setting = 'eiger'
  endunless
-%}

{%- style -%}
  {{ text_font | font_face: font_display: 'swap' }}
  {{ title_font | font_face: font_display: 'swap' }}  
  {{ scrolling_text_font | font_face: font_display: 'swap' }}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .video-grid-cards-{{ section.id }} {
    display: grid;
    gap: {{ cards_gap_mobile }}px;
    grid-template-columns: 1fr;
  }

  .video-grid-card-{{ section.id }} {
    border: {{ card_border_thickness }}px solid {{ card_border_color }};
    border-radius: {{ card_radius }}px;
    transition: all 0.45s ease 0s;
    height: {{ card_height_mobile }}px !important;
    box-sizing: border-box !important;
    position: relative;
    overflow: hidden;
  }

  .video-grid-card-{{ section.id }}:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: {{ card_overlay_color | hex_to_rgba: card_overlay }};
  }

  .video-grid-card-{{ section.id }}.swiper-slide-active .video-grid-card-text-{{ section.id }} {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.25s ease 0s;
  }

  .video-grid-media-{{ section.id }} {
    height: 100%;
    width: 100%;
  }

  .video-grid-card-image-{{ section.id }},
  .video-grid-card-video-{{ section.id }} {
    width: 100%;
    height: 100%;
  }

  .video-grid-card-image-{{ section.id }} img,
  .video-grid-card-image-{{ section.id }} svg,
  .video-grid-card-video-{{ section.id }} video,
  .video-grid-card-video-{{ section.id }} iframe {
    border: 0px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video-grid-card-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .video-grid-card-image-{{ section.id }} {
    display: none;
  }

  .video-grid-card-image-{{ section.id }}.active {
    display: block;
  }

  .video-grid-card-video-{{ section.id }} {
    display: none;
  }
  
  .video-grid-card-content-{{ section.id }} {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 4px;
    z-index: 2;
    width: 100%;
  }

  .video-grid-card-text-{{ section.id }} {
    text-align: {{ card_content_align_mobile }};
  }

  .video-grid-card-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ text_size_mobile }}px;
    color: {{ text_color }};
    line-height: {{ text_height }}%;
    text-transform: unset;
    text-decoration: none;
    word-break: break-word;
  }

  .video-grid-card-title-{{ section.id }} {
    margin: 0;
    font-size: {{ title_size_mobile }}px;
    color: {{ title_color }};
    line-height: {{ title_height }}%;
    text-transform: unset;
    text-decoration: none;
    word-break: break-word;
    text-align: {{ card_content_align_mobile }};
    font-weight: 700;
  }

  .video-scrolling-wrapper-{{ section.id }} {
    position: absolute;
    width: 70%;
    overflow: hidden;
    display: none;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 4%, rgb(0, 0, 0) 96%, rgba(0, 0, 0, 0) 100%);
  }

  .video-scrolling-wrapper-{{ section.id }}.hide-{{ section.id }} {
    display: none;
  }

  .video-scrolling-text-wrap-{{ section.id }} {
    transform: rotate(0deg);   
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    z-index: 0;        
    width: 200vw;
    left: -10vw;       
    background-attachment: scroll !important;        
    position: relative;
  }

  .video-scrolling-text-list-{{ section.id }} {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    background-attachment: scroll !important;
    flex-shrink: 0;
  }

  .video-scrolling-text-{{ section.id }} {
    margin: 0;    
    font-weight: 700;
    color: {{ scrolling_text_color }};
    line-height: {{ scrolling_text_height }}%;
    text-transform: unset;
    word-wrap: break-word;
    background-attachment: scroll !important;
    position: relative;
    flex-shrink: 0;
  } 

  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .video-grid-cards-{{ section.id }} {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      gap: {{ cards_gap }}px;
    }

    .video-grid-card-content-{{ section.id }} {
      padding: 30px 30px;
    }
    
    .video-grid-card-{{ section.id }} {
      height: {{ card_height }}px !important;
    }
    
    .video-grid-card-video-{{ section.id }} {
      display: none;
    }

    .video-grid-card-video-{{ section.id }}.active {
      display: block;
    }
    
    .video-scrolling-wrapper-{{ section.id }}.hide-{{ section.id }} {
      display: none;
    }
      
    .video-grid-card-text-{{ section.id }} {
      opacity: 0;
      transform: translateY(20px);
    }
    
    .video-grid-card-{{ section.id }}:hover .video-grid-card-text-{{ section.id }} {
      opacity: 1;      
      overflow: visible;
      transform: translateY(0px);
      transition: all 0.4s ease 0s;
    }

    .video-grid-card-text-{{ section.id }} {
      display: block;
      text-align: {{ card_content_align }};
      overflow: hidden;
    }

    .video-grid-card-text-{{ section.id }} * {
      font-size: {{ text_size }}px;
    }
    
    .video-grid-card-title-{{ section.id }} {
      display: block;
      text-align: {{ card_content_align }};
      font-size: {{ title_size }}px;
      opacity: 0;
      transform: translateY(20px);
    }

    .video-grid-card-{{ section.id }}.active .video-grid-card-title-{{ section.id }} {
      opacity: 1;
      transform: translateY(0px);
      transition: all 0.25s ease 0s;
    }

    .video-scrolling-wrapper-{{ section.id }} {
      width: 65%;
      display: block;
    }

    .video-scrolling-text-list-{{ section.id }} {
      -webkit-animation: ticker{{ section.id | replace: '-', '' }} {{ scrolling_velocity }}s infinite linear;
      animation: ticker{{ section.id | replace: '-', '' }} {{ scrolling_velocity }}s infinite linear;
    }

    .video-scrolling-text-{{ section.id }} {
      font-size: {{ scrolling_text_size }}px;
      margin-right: {{ scrolling_gap }}px;
    } 
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .video-grid-card-text-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if title_custom %}
  <style>
    .video-grid-card-title-{{ section.id }} {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if scrolling_text_custom %}
  <style>
    .video-scrolling-text-{{ section.id }} {
      font-family: {{ scrolling_text_font.family }}, {{ scrolling_text_font.fallback_families }};
      font-weight: {{ scrolling_text_font.weight }};
      font-style: {{ scrolling_text_font.style }};
    }
  </style>
{% endif %}

{% if reverse_direction %}
  <style>   
    @keyframes ticker{{ section.id | replace: '-', '' }} {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  </style>
{% else %}
  <style>       
    @keyframes ticker{{ section.id | replace: '-', '' }} {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  </style>
{% endif %}

{% for block in section.blocks %}
  <style>
    @media(min-width: 1024px) {
      .video-grid-card-{{ block.id }} {
        flex: 0 1 calc({{ block.settings.video_width }}% - {{ cards_gap }}px);
      }
    }
  </style>
{% endfor %}

<div class="section-{{ section.id }} vidoe-grid-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="video-grid-cards-{{ section.id }}">
        {% for block in section.blocks %}
          {% if block.type == 'video' %}
            <{% if block.settings.url %}a href="{{ block.settings.url }}"{% else %}div{% endif %} class="video-grid-card-{{ section.id }} video-grid-card-{{ block.id }}">
              <div class="video-grid-media-{{ section.id }}">
                <div class="video-grid-card-image-{{ section.id }} active">
                  {% if block.settings.image != blank %}
                    {%- capture sizes -%}(min-width: {{ content_width }}px) {{ content_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}
                      {{ block.settings.image | image_url: width: 1500 | image_tag:
                        loading: lazy_load_setting,
                        sizes: sizes,
                        widths: '1070, 1500'
                      }}                    
                  {% else %}
                    {{ 'image' | placeholder_svg_tag }}
                  {% endif %}  
                </div>
                <div class="video-grid-card-video-{{ section.id }}">
                  {% assign video_id = block.settings.video.id | default: block.settings.video_url.id %}
                  {% assign loop = '&loop=1&playlist=' | append: video_id %}
                  {%- if block.settings.video == null and block.settings.video_url != null -%}
                  {%- if block.settings.video_url.type == 'youtube' -%}
                  <iframe
                    src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&mute=1&autoplay=1&controls=0&playsinline=1&modestbranding=1&showinfo=0&rel=0{{ loop }}"    
                    data-src1="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&mute=1&autoplay=1&controls=0&playsinline=1&showinfo=0{{ loop }}"      
                    data-src2="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&mute=1&autoplay=0&controls=0&playsinline=0&showinfo=0{{ loop }}"                  
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    class="lazy"
                  ></iframe>
                  {%- else -%}
                  <iframe
                    src="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=0&controls=0&modestbranding=1&showinfo=0&rel=0{{ loop }}"    
                    data-src1="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=1&controls=0&playsinline=1&showinfo=0{{ loop }}"
                    data-src2="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&mute=0&autoplay=0&controls=0&playsinline=0&shinfo=0{{ loop }}"        
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowzoomscreen
                     playsinline
                    class="lazy"
                  ></iframe>
                  {% endif %}
                  {% else %}
                    {% assign placeholder_video = 'https://cdn.shopify.com/videos/c/o/v/fbb140fd46e3429eba459e1549dbbe38.mp4' %}
                    <video data-src="{% if block.settings.video != blank %}{{ block.settings.video.sources[1].url }}{% else %}{{ placeholder_video }}{% endif %}" muted autoplay playsinline loop preload="none" preload="none" loop class="lazy"></video>
                  {% endif %} 
                </div>
              </div>
              <div class="video-grid-card-content-{{ section.id }}">
                {% if block.settings.title != blank %}
                  <p class="video-grid-card-title-{{ section.id }}">{{ block.settings.title }}</p>
                {% endif %}
                {% if block.settings.text != blank %}
                  <div class="video-grid-card-text-{{ section.id }}">{{ block.settings.text }}</div>
                {% endif %}  
                <div class="video-scrolling-wrapper-{{ section.id }}">
                  <div class="video-scrolling-text-wrap-{{ section.id }}">                 
                    <div class="video-scrolling-text-list-{{ section.id }}">
                      {% for item in (1..10) %}
                        <p class="video-scrolling-text-{{ section.id }}">{{ block.settings.scrolling_text }}</p>
                      {% endfor %}
                    </div>
                    <div class="video-scrolling-text-list-{{ section.id }}">
                      {% for item in (1..10) %}
                        <p class="video-scrolling-text-{{ section.id }}">{{ block.settings.scrolling_text }}</p>
                      {% endfor %}
                    </div>         
                  </div>   
                </div>                            
              </div>
            </{% if block.settings.url %}a{% else %}div{% endif %} >
          {% endif %}
        {% endfor %}
      </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@19.1.3/dist/lazyload.min.js"></script>

<script>
  function initVideoGrid6() {
    let lazyLoadInstance = new LazyLoad();

    window.addEventListener(
      "LazyLoad::Initialized",
      function (event) {
        window.lazyLoadInstance = event.detail.instance;
      },
      false
    );

    function handleDesktopBehavior(item) {
      const videoWrapper = item.querySelector('.video-grid-card-video-{{ section.id }}');
      const image = item.querySelector('.video-grid-card-image-{{ section.id }}');
      const cardVideo = item.querySelector('.video-grid-card-video-{{ section.id }}');
      const scrollingText = item.querySelector('.video-scrolling-wrapper-{{ section.id }}');
      const video = item.querySelector('.video-grid-card-video-{{ section.id }} video');
      const iframe = item.querySelector('.video-grid-card-video-{{ section.id }} iframe');

      function onMouseEnter() {
        scrollingText.classList.add('hide-{{ section.id }}');
        cardVideo.classList.add('active');
        item.classList.add('active');
        if (image) image.classList.remove('active');

        if (video && video.paused) {
          try {
            const playPromise = video.play();
            if (playPromise !== undefined) {
              playPromise.catch(err => console.warn('Play interrupted:', err));
            }
            videoWrapper.classList.add('active');
          } catch (err) {
            console.warn('Video play error:', err);
          }
        }

        if (iframe) {
          iframe.src = iframe.getAttribute('data-src1');
        }
      }

      function onMouseLeave() {
        scrollingText.classList.remove('hide-{{ section.id }}');
        cardVideo.classList.remove('active');
        item.classList.remove('active');
        if (image) image.classList.add('active');

        if (video) {
          video.pause();
          video.currentTime = 0;
          videoWrapper.classList.remove('active');
        }

        if (iframe) {
          iframe.src = iframe.getAttribute('data-src2');
        }
      }
      
      if (window.innerWidth > 1024) {
        item.addEventListener('mouseenter', onMouseEnter);
        item.addEventListener('mouseleave', onMouseLeave);
      }
    }

    document.querySelectorAll('.video-grid-card-{{ section.id }}').forEach(item => {
      handleDesktopBehavior(item);
    });
  }

  document.addEventListener('DOMContentLoaded', initVideoGrid6);

  if (Shopify.designMode) {
    document.addEventListener('shopify:section:unload', initVideoGrid6);
    document.addEventListener('shopify:section:load', initVideoGrid6);
  }
</script>


{% schema %}
{
  "name": "SG-Video grid #6",
  "settings": [
    {
      "type": "paragraph",
      "content": "⚠️ Save settings to view updates"
    },
    {
      "type": "header",
      "content": "Cards"
    },
    {
      "type": "range",
      "id": "cards_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 4
    },
    {
      "type": "range",
      "id": "cards_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 4
    },
    {
      "type": "header",
      "content": "Card"
    },
    {
      "type": "range",
      "id": "card_height",
      "min": 300,
      "max": 600,
      "step": 10,
      "unit": "px",
      "label": "Height",
      "default": 420
    },
    {
      "type": "range",
      "id": "card_height_mobile",
      "min": 200,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Height - mobile",
      "default": 230
    },
    {
      "type": "range",
      "id": "card_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "card_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 4
    },
    {
      "type": "range",
      "id": "card_overlay",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Overlay",
      "default": 0.2
    },
    {
      "type": "text_alignment",
      "id": "card_content_align",
      "label": "Alignment"
    },
    {
      "type": "text_alignment",
      "id": "card_content_align_mobile",
      "label": "Alignment - mobile"
    },
    {
      "type": "header",
      "content": "Title"
    },
    {
      "type": "checkbox",
      "id": "title_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "title_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "title_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 56
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 36
    },
    {
      "type": "range",
      "id": "title_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "checkbox",
      "id": "text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "text_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "text_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "text_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "header",
      "content": "Scrolling"
    },
    {
      "type": "range",
      "id": "scrolling_velocity",
      "min": 5,
      "max": 100,
      "step": 1,
      "label": "Speed",
      "info": "⚡ <----------------> 🐌",
      "default": 30
    },
    {
      "type": "range",
      "id": "scrolling_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 16
    },
    {
      "type": "checkbox",
      "id": "reverse_direction",
      "label": "Reverse scrolling direction"
    },
    {
      "type": "header",
      "content": "Scrolling text"
    },
    {
      "type": "checkbox",
      "id": "scrolling_text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "scrolling_text_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "scrolling_text_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "scrolling_text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "header",
      "content": "Card colors"
    },
    {
      "type": "color",
      "label": "Title",
      "id": "title_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "text_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Scrolling text",
      "id": "scrolling_text_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "card_border_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Overlay",
      "id": "card_overlay_color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient",
      "info": "Remove gradient to replace with solid colors"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Margin sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Margin sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 800,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "label": "Section content width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load media for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "range",
          "id": "video_width",
          "min": 25,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Width",
          "default": 50
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video from Shopify"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Video embed from URL",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "info": "Youtube, Vimeo. Shows when no Shopify-hosted video is selected."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Tell a story, explain a product detail, or describe a new promotion.</p>"
        },
        {
          "type": "text",
          "id": "scrolling_text",
          "label": "Scrolling text",
          "default": "Scrolling text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SG-Video grid #6",
      "blocks": [
        {
          "type": "video"
        },
        {
          "type": "video"
        },
        {
          "type": "video",
          "settings": {
            "video_width": 100
          }
        }
      ]
    }
  ]
}
{% endschema %}