{% comment %}
---------------------------------------------------------
Copyright © 2023 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign body_gap_mobile = section.settings.body_gap_mobile
  assign body_gap = section.settings.body_gap

  assign image = section.settings.image
  assign image_border_thickness = section.settings.image_border_thickness
  assign image_border_color = section.settings.image_border_color
  assign image_radius = section.settings.image_radius
  assign image_ratio = section.settings.image_ratio
  assign image_ratio_mobile = section.settings.image_ratio_mobile
  assign image_position = section.settings.image_position
  assign image_position_mobile = section.settings.image_position_mobile
  assign hide_shape = section.settings.hide_shape

  assign content_padding_horizontal_mobile = section.settings.content_padding_horizontal_mobile
  assign content_padding_horizontal = section.settings.content_padding_horizontal
  assign content_padding_vertical_mobile = section.settings.content_padding_vertical_mobile
  assign content_padding_vertical = section.settings.content_padding_vertical
  assign content_maxwidth = section.settings.content_maxwidth
  assign content_horizontal_align_mobile = section.settings.content_horizontal_align_mobile
  assign content_horizontal_align = section.settings.content_horizontal_align

  assign text_align = ""
  if content_horizontal_align == "start"
    assign text_align = "left"
  elsif content_horizontal_align == "center"
    assign text_align = "center"
  else
    assign text_align = "right"
  endif

  assign text_align_mobile = ""
  if content_horizontal_align_mobile == "start"
    assign text_align_mobile = "left"
  elsif content_horizontal_align_mobile == "center"
    assign text_align_mobile = "center"
  else
    assign text_align_mobile = "right"
  endif
  
-%}

{%- style -%}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .countdown-body-{{ section.id }} {
    display: grid;
    grid-template-columns: 1fr;
    gap: {{ body_gap_mobile }}px;
  }

  .countdown-image-{{ section.id }} {
    border-radius: {{ image_radius }}px;
    border: {{ image_border_thickness }}px solid {{ image_border_color }};
    overflow: hidden;
    position: relative;
  }

  .countdown-image-{{ section.id }} > img:first-child,
  .countdown-image-{{ section.id }} > svg:first-child {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .countdown-image-{{ section.id }} > svg:first-child {
    background-color: #AFAFAF;
  }

  .countdown-desktop-shape-{{ section.id }} {
    display: none;
    position: absolute;
    height: 102%;
    width: auto;
    z-index: 2;
    top: -1%;
  }

  .countdown-mobile-shape-{{ section.id }} {
    position: absolute;
    height: auto;
    width: 100%;
    z-index: 2;
    left: 0;
  }

  .countdown-content-{{ section.id }} {
    display: flex;
    flex-direction: column;
    align-items: {{ content_horizontal_align_mobile }};
    padding: {{ content_padding_vertical_mobile }}px {{ content_padding_horizontal_mobile }}px;
  }

  .countdown-content-inner-{{ section.id }} {
    width: 100%;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .countdown-body-{{ section.id }} {
      grid-template-columns: 1fr 1fr;
      gap: {{ body_gap }}px;
      align-items: center;
    }

    .countdown-desktop-shape-{{ section.id }} {
      display: block;
    }

    .countdown-mobile-shape-{{ section.id }} {
      display: none;
    }

    .countdown-content-{{ section.id }} {
      align-items: {{ content_horizontal_align }};
      padding: {{ content_padding_vertical }}px {{ content_padding_horizontal }}px;
    }

    .countdown-content-inner-{{ section.id }} {
      max-width: {{ content_maxwidth }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if image_ratio_mobile == "portrait" %}
  <style>
    .countdown-image-{{ section.id }} {
     aspect-ratio: 9.6/14; 
    }
  </style>
{% elsif image_ratio_mobile == "landscape" %}
  <style>
    .countdown-image-{{ section.id }}{
     aspect-ratio: 12/10; 
    }
  </style>
{% elsif image_ratio_mobile == "square" %}
  <style>
    .countdown-image-{{ section.id }} {
     aspect-ratio: 12/12; 
    }
  </style>
{% else%}
  <style>
    .countdown-image-{{ section.id }} {
     aspect-ratio: auto; 
    }
  </style>
{% endif %}

{% if image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
     .countdown-image-{{ section.id }} {
       aspect-ratio: 9.6/14; 
      } 
    }
  </style>
{% elsif image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .countdown-image-{{ section.id }} {
       aspect-ratio: 12/10; 
      }
    }
  </style>
{% elsif image_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .countdown-image-{{ section.id }} {
       aspect-ratio: 12/12; 
      }
    }
  </style>
{% else%}
  <style>
    @media(min-width: 1024px) {
      .countdown-image-{{ section.id }} {
       aspect-ratio: auto; 
      }
    }
  </style>
{% endif %}

{% if image_position_mobile == "top" %}
  <style>
    .countdown-image-{{ section.id }} {
      order: 1;
    }

    .countdown-content-{{ section.id }} {
      order: 2;
    }

    .countdown-mobile-shape-{{ section.id }} {
      top: -1px;
    }
  </style>
{% else %}
  <style>
    .countdown-image-{{ section.id }} {
      order: 2;
    }

    .countdown-content-{{ section.id }} {
      order: 1;
    }

    .countdown-mobile-shape-{{ section.id }} {
      bottom: -1px;
      transform: rotate(-180deg);
    }
  </style>
{% endif %}

{% if image_position == "left" %}
  <style>
    @media(min-width: 1024px) {
      .countdown-image-{{ section.id }} {
        order: 1;
      }
  
      .countdown-content-{{ section.id }} {
        order: 2;
      }
  
      .countdown-desktop-shape-{{ section.id }} {
        right: -1px;
      } 
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .countdown-image-{{ section.id }} {
        order: 2;
      }
  
      .countdown-content-{{ section.id }} {
        order: 1;
      }

      .countdown-content-inner-{{ section.id }} {
        margin-left: auto;
      }
  
      .countdown-desktop-shape-{{ section.id }} {
        left: -1px;
        transform: rotate(-180deg);
      } 
    }
  </style>
{% endif %}

{% if hide_shape %}
  <style>
    .countdown-desktop-shape-{{ section.id }},
    .countdown-mobile-shape-{{ section.id }} {
      display: none !important;
    }
  </style>
{% endif %}

{% for block in section.blocks %}
  {% if block.type == "heading" %}
    <style>
      {{  block.settings.heading_font | font_face: font_display: 'swap' }}
      
      .countdown-heading-{{ block.id }} {
        text-align: {{ text_align_mobile }};
        margin-top: {{ block.settings.heading_mt_mobile }}px;
      }

      .countdown-heading-{{ block.id }} * {
        margin: 0;
        font-size: {{ block.settings.heading_size_mobile }}px;
        color: {{ block.settings.heading_color }};
        line-height: {{ block.settings.heading_height }}%;
        text-transform: unset;
      }

      @media(min-width: 1024px) {
        
        .countdown-heading-{{ block.id }} {
          text-align: {{ text_align }};
          margin-top: {{ block.settings.heading_mt }}px;
        }
  
        .countdown-heading-{{ block.id }} * {
          font-size: {{ block.settings.heading_size }}px;
        }
      }
    </style>

    {% if block.settings.heading_custom %}
      <style>
        .countdown-heading-{{ block.id }} {
          font-family: {{ block.settings.heading_font.family }}, {{ block.settings.heading_font.fallback_families }};
          font-weight: {{ block.settings.heading_font.weight }};
          font-style: {{ block.settings.heading_font.style }};
        }
      </style>
    {% endif %}

  {% elsif block.type == "text" %}
    <style>
      {{  block.settings.text_font | font_face: font_display: 'swap' }}
      
      .countdown-text-{{ block.id }} {
        text-align: {{ text_align_mobile }};
        margin-top: {{ block.settings.text_mt_mobile }}px;
      }

      .countdown-text-{{ block.id }} * {
        margin: 0;
        font-size: {{ block.settings.text_size_mobile }}px;
        color: {{ block.settings.text_color }};
        line-height: {{ block.settings.text_height }}%;
        text-transform: unset;
      }

      @media(min-width: 1024px) {
        
        .countdown-text-{{ block.id }} {
          text-align: {{ text_align }};
          margin-top: {{ block.settings.text_mt }}px;
        }
  
        .countdown-text-{{ block.id }} * {
          font-size: {{ block.settings.text_size }}px;
        }
      }
    </style>

    {% if block.settings.text_custom %}
      <style>
        .countdown-text-{{ block.id }} {
          font-family: {{ block.settings.text_font.family }}, {{ block.settings.text_font.fallback_families }};
          font-weight: {{ block.settings.text_font.weight }};
          font-style: {{ block.settings.text_font.style }};
        }
      </style>
    {% endif %}

  {% elsif block.type == "button" %}

  <style>
    {{  block.settings.button_font | font_face: font_display: 'swap' }}
    
    .countdown-button-{{ block.id }} {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 100%;
      max-width: {{ block.settings.button_width_mobile }}px;
      margin: 0;
      margin-top: {{ block.settings.button_mt_mobile }}px;
      font-size: {{ block.settings.button_size_mobile }}px;
      color: {{ block.settings.button_color }};
      line-height: {{ block.settings.button_height }}%;
      text-align: center;
      text-transform: unset;
      text-decoration: none;
      padding: {{ block.settings.button_padding_vertical_mobile }}px {{ block.settings.button_padding_horizontal_mobile }}px;
      border-radius: {{ block.settings.button_radius }}px;
      transition: all 0.25s ease 0s;
      position: relative;
      font-weight: 700;
      z-index: 2;
    }
  
    .countdown-button-{{ block.id }}:hover {
      color: {{ block.settings.button_hover_color }};
      transition: all 0.25s ease 0s;
    }
  
    .countdown-button-{{ block.id }} svg {
      width: 14px;
      height: 14px;
    }
  
    .countdown-button-{{ block.id }} svg path {
      fill: {{ block.settings.button_color }};
      transition: all 0.25s ease 0s;
    }
  
    .countdown-button-{{ block.id }}:hover svg path {
      fill: {{ block.settings.button_hover_color }};
      transition: all 0.25s ease 0s;
    }

    @media(min-width: 1024px) {
      .countdown-button-{{ block.id }} {
        margin-top: {{ block.settings.button_mt }}px;
        max-width: {{ block.settings.button_width }}px;
        padding: {{ block.settings.button_padding_vertical }}px {{ block.settings.button_padding_horizontal }}px;
        font-size: {{ block.settings.button_size }}px;
      }
    }
  </style>

  {% if block.settings.button_custom %}
    <style>
      .countdown-button-{{ block.id }} {
        font-family: {{ block.settings.button_font.family }}, {{ block.settings.button_font.fallback_families }};
        font-weight: {{ block.settings.button_font.weight }};
        font-style: {{ block.settings.button_font.style }};
      }
    </style>
  {% endif %}

  {% if text_align_mobile == "center" %}
    <style>
     .countdown-button-{{ block.id }} {
        margin-left: auto;
        margin-right: auto;
      } 
    </style>
  {% elsif text_align_mobile == "right" %}
    <style>
     .countdown-button-{{ block.id }} {
        margin-left: auto;
      } 
    </style>
  {% endif %}
  
  {% if text_align == "center" %}
    <style>
      @media(min-width: 1024px) {
       .countdown-button-{{ block.id }} {
          margin-left: auto !important;
          margin-right: auto !important;
        } 
      }
    </style>
  {% elsif text_align == "right" %}
    <style>
      @media(min-width: 1024px) {
       .countdown-button-{{ block.id }} {
          margin-left: auto !important;
          margin-right: 0px !important;
        } 
      }
    </style>
  {% else %}
    <style>
      @media(min-width: 1024px) {
       .countdown-button-{{ block.id }} {
          margin-left: 0px !important;
          margin-right: 0px !important;
        } 
      }
    </style>
  {% endif %}
  
  {% if block.settings.button_style == "non_outline" or block.settings.button_style == "non_outline_arrow" %}
    <style>
      .countdown-button-{{ block.id }} {
        background-color: {{ block.settings.button_bg_color }};
      }
  
      .countdown-button-{{ block.id }}:hover {
        background-color: {{ block.settings.button_bg_hover_color }};
      }
    </style>
  {% elsif block.settings.button_style == "outline" or block.settings.button_style == "outline_arrow" %}
    <style>
      .countdown-button-{{ block.id }} {
        background-color: {{ block.settings.button_bg_color }};
        border: {{ block.settings.button_border_thickness }}px solid {{ block.settings.button_border_color }};
      }
  
      .countdown-button-{{ block.id }}:hover {
        background-color: {{ block.settings.button_bg_hover_color }};
        border: {{ block.settings.button_border_thickness }}px solid {{ block.settings.button_border_hover_color }};
      }
    </style>
  {% endif %}

  {% elsif block.type == "timer" %}

    <style>
      {{  block.settings.number_font | font_face: font_display: 'swap' }}
      {{  block.settings.text_font | font_face: font_display: 'swap' }}
      {{  block.settings.completed_text_font | font_face: font_display: 'swap' }}
      
      .countdown-timer-{{ block.id }} {
        margin-top: {{ block.settings.timer_mt | times: 0.75 | round: 0 }}px;
        display: flex;
        align-items: stretch;
        gap: {{ block.settings.timer_gap | times: 0.75 | round: 0 }}px;
        justify-content: {{ content_horizontal_align_mobile }};
      }

      .countdown-timer-{{ block.id }} .time-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        max-width: {{ block.settings.item_width_mobile }}px;
        gap: 10px;
        background-color: {{ block.settings.item_bg_color }};
        border-radius: {{ block.settings.item_radius }}px;
        padding: {{ block.settings.item_padding_vertical | times: 0.75 | round: 0 }}px {{ block.settings.item_padding_horizontal | times: 0.75 | round: 0 }}px;
      }

      .countdown-timer-{{ block.id }} .time-block__num {
        margin: 0;
        font-size: {{ block.settings.number_size_mobile }}px;
        color: {{ block.settings.number_color }};
        line-height: {{ block.settings.number_height }}%;
        text-transform: unset;
        font-weight: 700;
      }
      
      .countdown-timer-{{ block.id }} .time-block__unit {
        margin: 0;
        font-size: {{ block.settings.text_size_mobile }}px;
        color: {{ block.settings.text_color }};
        line-height: {{ block.settings.text_height }}%;
        text-transform: unset;
      }

      .countdown-timer-completed-text-{{ block.id }} * {
        margin: 0;
        font-size: {{ block.settings.completed_text_size_mobile }}px;
        color: {{ block.settings.completed_text_color }};
        line-height: {{ block.settings.completed_text_height }}%;
        text-transform: unset;
      }

      @media(min-width: 1024px) {
        .countdown-timer-{{ block.id }} {
          margin-top: {{ block.settings.timer_mt }}px;
          gap: {{ block.settings.timer_gap }}px;
          justify-content: {{ content_horizontal_align }};
        }

        .countdown-timer-{{ block.id }} .time-block {
          max-width: {{ block.settings.item_width }}px;
          padding: {{ block.settings.item_padding_vertical }}px {{ block.settings.item_padding_horizontal }}px;
        }

        .countdown-timer-{{ block.id }} .time-block__num {
          font-size: {{ block.settings.number_size }}px;
        }

        .countdown-timer-{{ block.id }} .time-block__unit {
          font-size: {{ block.settings.text_size }}px;
        }

        .countdown-timer-completed-text-{{ block.id }} * {
          font-size: {{ block.settings.text_size }}px;
        }
      }
    </style>

    {% if block.settings.number_custom %}
      <style>
        .countdown-timer-{{ block.id }} .time-block__num {
          font-family: {{ block.settings.number_font.family }}, {{ block.settings.number_font.fallback_families }};
          font-weight: {{ block.settings.number_font.weight }};
          font-style: {{ block.settings.number_font.style }};
        }
      </style>
    {% endif %}

    {% if block.settings.text_custom %}
      <style>
        .countdown-timer-{{ block.id }} .time-block__unit {
          font-family: {{ block.settings.text_font.family }}, {{ block.settings.text_font.fallback_families }};
          font-weight: {{ block.settings.text_font.weight }};
          font-style: {{ block.settings.text_font.style }};
        }
      </style>
    {% endif %}

    {% if block.settings.completed_text_custom %}
      <style>
        .countdown-timer-completed-text-{{ block.id }} * {
          font-family: {{ block.settings.completed_text_font.family }}, {{ block.settings.completed_text_font.fallback_families }};
          font-weight: {{ block.settings.completed_text_font.weight }};
          font-style: {{ block.settings.completed_text_font.style }};
        }
      </style>
    {% endif %}
    
  {% endif %}
  
{% endfor %}

<div class="section-{{ section.id }} countdown-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="countdown-body-{{ section.id }}">
        <div class="countdown-content-{{ section.id }}">
          <div class="countdown-content-inner-{{ section.id }}">
            {% for block in section.blocks %}
              {% if block.type == "heading" %}
                <div class="countdown-heading-{{ block.id }}">
                  {{ block.settings.heading }}
                </div>
                
              {% elsif block.type == "text" %}
                <div class="countdown-text-{{ block.id }}">
                  {{ block.settings.text }}
                </div>

              {% elsif block.type == "timer" %}

                <div class="countdown-timer-{{ block.id }}">

                  <div class="time-block">
                    <span class="time-block__num js-timer-days">00</span>
                    <span class="time-block__unit">{{ block.settings.days_text }}</span>
                  </div>
                  <div class="time-block">
                    <span class="time-block__num js-timer-hours">00</span>
                    <span class="time-block__unit">{{ block.settings.hours_text }}</span>
                  </div>
                  <div class="time-block">
                    <span class="time-block__num js-timer-minutes">00</span>
                    <span class="time-block__unit">{{ block.settings.minutes_text }}</span>
                  </div>
                  <div class="time-block">
                    <span class="time-block__num js-timer-seconds">00</span>
                    <span class="time-block__unit">{{ block.settings.seconds_text }}</span>
                  </div>
                </div>
      
                <style>
                  .countdown-timer-completed-text-{{ block.id }} {
                    display: none;
                  }
                </style>
                <div
                  class="countdown-timer-completed-text-{{ block.id }}"
                >
                  {{ block.settings.timer_completed_text }}
                </div>
  
              {% elsif block.type == "button" %}
                <a href="{{ block.settings.button_url }}" class="countdown-button-{{ block.id }}">
                  {{ block.settings.button }}
                  {% if block.settings.button_style == "non_outline_arrow" or block.settings.button_style == "outline_arrow" %}
                    <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                      <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                    </svg>
                  {% endif %}
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="countdown-image-{{ section.id }}">
          {% if image != blank %}
            <img src="{{ image | image_url }}" alt="{{ image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
          {% else %}
            {{ 'image' | placeholder_svg_tag }}
          {% endif %}
          <svg class="countdown-mobile-shape-{{ section.id }}" width="1118" height="154" viewBox="0 0 1118 154" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 153.16h.992868C104.323 60.9285 327.224.00001207 558.971.00000194 790.784-.00000819 1001.94 52.0417 1116.93 153.16h1.01V-.0000225L558.971.00000195-.0000067.00002637 0 153.16Z" fill="#fff"></path></svg>
          <svg class="countdown-desktop-shape-{{ section.id }}" width="77" height="559" viewBox="0 0 77 559" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.416016 0v.49646C46.5342 52.1643 77 163.62 77 279.5 77 395.412 50.9778 500.997.416016 558.496V559H77V0H.416016Z" fill="{{ background_color }}"></path></svg>
        </div>
      </div>
    </div>
</div>

{% for block in section.blocks %}
  {% if block.type == "timer" %}
    <script type="text/javascript">
      (function () {
    
        function startTimer() {
          const second = 1000,
            minute = second * 60,
            hour = minute * 60,
            day = hour * 24,
            wrapper = document.querySelector(
              '.countdown-timer-{{ block.id }}'
            ),
            countDown = new Date('{{  block.settings.year }}-{{  block.settings.month }}-{{  block.settings.day }}T{{  block.settings.hour }}:{{  block.settings.minute }}:00Z').getTime();
    
          console.log('start timer, end date:' + countDown)
          const interval = setInterval(function () {
            let now = new Date().getTime(),
              distance = countDown - now,
              days = Math.floor(distance / day),
              hours = Math.floor((distance % day) / hour),
              minutes = Math.floor((distance % hour) / minute),
              seconds = Math.floor((distance % minute) / second);
    
            (wrapper.querySelector('.js-timer-days').innerText = (
              days
            )),
              (wrapper.querySelector('.js-timer-hours').innerText = (
                hours
              )),
              (wrapper.querySelector('.js-timer-minutes').innerText = (
                minutes
              )),
              (wrapper.querySelector('.js-timer-seconds').innerText = (
                seconds
              ));
    
            if (distance < 0) {
              wrapper.querySelector('.js-timer-days').innerText = '00';
              wrapper.querySelector('.js-timer-hours').innerText = '00';
              wrapper.querySelector('.js-timer-minutes').innerText = '00';
              wrapper.querySelector('.js-timer-seconds').innerText = '00';
              {% if block.settings.hide_timer_on_completed %}
                wrapper.style.display = 'none';
              {% endif %}
              document.querySelector(
                '.countdown-timer-completed-text-{{ block.id }}'
              ).style.display = 'block';
    
              clearInterval(interval);
            }
    
          }, second);
          document.addEventListener('shopify:section:unload', function (event) {
            if (event.detail.sectionId === '{{ section.id }}') clearInterval(interval);
          });
        }
        startTimer()
        if (window.Shopify && Shopify.designMode) {
          document.addEventListener('shopify:section:load', function (event) {
            if (event.detail.sectionId === '{{ section.id }}') {
              startTimer();
            }
          });
        }
      })();
    </script>
  {% endif %}
{% endfor %}

{% schema %}
  {
    "name": "SS - Countdown Timer #4",
    "settings": [
      {
        "type": "header",
        "content": "Body Settings"
      },
      {
        "type": "range",
        "id": "body_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Body Gap",
        "default": 50
      },
      {
        "type": "range",
        "id": "body_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Body Gap - Mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Image Settings"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image Position",
        "default": "right",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_position_mobile",
        "label": "Image Position - Mobile",
        "default": "top",
        "options": [
          {
            "label": "Top",
            "value": "top"
          },
          {
            "label": "Bottom",
            "value": "bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image Aspect Ratio",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_ratio_mobile",
        "label": "Image Aspect Ratio - Mobile",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "hide_shape",
        "label": "Remove Rounded Image Shape"
      },
      {
        "type": "header",
        "content": "Content Settings"
      },
      {
        "type": "range",
        "id": "content_maxwidth",
        "min": 200,
        "max": 700,
        "step": 10,
        "unit": "px",
        "label": "Content Max-Width - Desktop",
        "default": 550
      },
      {
        "type": "range",
        "id": "content_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Content Padding Vertical",
        "default": 40
      },
      {
        "type": "range",
        "id": "content_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Content Padding Vertical - Mobile",
        "default": 20
      },
      {
         "type": "range",
         "id": "content_padding_horizontal",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Content Padding Horizontal",
         "default": 24
      },
      {
         "type": "range",
         "id": "content_padding_horizontal_mobile",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Content Padding Horizontal - Mobile",
         "default": 16
      },
      {
        "type": "select",
        "id": "content_horizontal_align",
        "label": "Content Horizontal Align",
        "default": "start",
        "options": [
          {
            "label": "Left",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "end"
          }
        ]
      },
      {
        "type": "select",
        "id": "content_horizontal_align_mobile",
        "label": "Content Horizontal Align - Mobile",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "end"
          }
        ]
      },
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#FFFBEC"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Margin sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Margin sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 0
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 0
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": true
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 0,
        "max": 400,
        "step": 10,
        "unit": "rem",
        "label": "Section content width",
        "default": 120
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Section Roundness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "limit": 1,
        "name": "Heading",
        "settings": [
          {
            "type": "richtext",
            "id": "heading",
            "label": "Heading",
            "default": "<h2>Sleep like a <em>king</em> 👑 with royal deals!</h2>"
          },
          {
            "type": "checkbox",
            "id": "heading_custom",
            "label": "Use Custom Font",
            "default": false
          },
          {
            "type": "font_picker",
            "id": "heading_font",
            "label": "Heading Font Family",
            "default": "josefin_sans_n4"
          },
          {
            "type": "range",
            "id": "heading_size",
            "min": 0,
            "max": 72,
            "step": 2,
            "unit": "px",
            "label": "Heading Size",
            "default": 40
          },
          {
            "type": "range",
            "id": "heading_size_mobile",
            "min": 0,
            "max": 72,
            "step": 2,
            "unit": "px",
            "label": "Heading Size - Mobile",
            "default": 32
          },
          {
            "type": "range",
            "id": "heading_height",
            "min": 50,
            "max": 200,
            "step": 10,
            "unit": "%",
            "label": "Heading Line Height",
            "default": 130
          },
          {
            "type": "range",
            "id": "heading_mt",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Heading Margin Top",
            "default": 0
          },
          {
            "type": "range",
            "id": "heading_mt_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Heading Margin Top - Mobile",
            "default": 0
          },
          {
            "type": "color",
            "id": "heading_color",
            "label": "Heading Color",
            "default": "#000000"
          }
        ]
      },
      {
        "type": "text",
        "limit": 1,
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Shop your favorite pillow products now with discounts up to 20%!</p>"
          },
          {
            "type": "checkbox",
            "id": "text_custom",
            "label": "Use Custom Font",
            "default": false
          },
          {
            "type": "font_picker",
            "id": "text_font",
            "label": "Text Font Family",
            "default": "josefin_sans_n4"
          },
          {
            "type": "range",
            "id": "text_size",
            "min": 0,
            "max": 72,
            "step": 2,
            "unit": "px",
            "label": "Text Size",
            "default": 16
          },
          {
            "type": "range",
            "id": "text_size_mobile",
            "min": 0,
            "max": 72,
            "step": 2,
            "unit": "px",
            "label": "Text Size - Mobile",
            "default": 16
          },
          {
            "type": "range",
            "id": "text_height",
            "min": 50,
            "max": 200,
            "step": 10,
            "unit": "%",
            "label": "Text Line Height",
            "default": 150
          },
          {
            "type": "range",
            "id": "text_mt",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Text Margin Top",
            "default": 8
          },
          {
            "type": "range",
            "id": "text_mt_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Text Margin Top - Mobile",
            "default": 8
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#000000"
          }
        ]
      },
      {
        "type": "button",
        "limit": 1,
        "name": "Button",
        "settings": [
          {
            "type": "header",
            "content": "Button"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Button Text",
            "default": "Check out the sale"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          },
          {
            "type": "checkbox",
            "id": "button_custom",
            "label": "Use Custom Font",
            "default": false
          },
          {
            "type": "font_picker",
            "id": "button_font",
            "label": "Button Font Family",
            "default": "josefin_sans_n4"
          },
          {
            "type": "range",
            "id": "button_size",
            "min": 0,
            "max": 30,
            "step": 1,
            "unit": "px",
            "label": "Button Size",
            "default": 18
          },
          {
            "type": "range",
            "id": "button_size_mobile",
            "min": 0,
            "max": 30,
            "step": 1,
            "unit": "px",
            "label": "Button Size - Mobile",
            "default": 18
          },
          {
            "type": "range",
            "id": "button_height",
            "min": 50,
            "max": 200,
            "step": 10,
            "unit": "%",
            "label": "Button Line Height",
            "default": 100
          },
          {
            "type": "range",
            "id": "button_width",
            "min": 200,
            "max": 700,
            "step": 5,
            "unit": "px",
            "label": "Button Max-Width - Desktop",
            "default": 300
          },
          {
            "type": "range",
            "id": "button_width_mobile",
            "min": 200,
            "max": 700,
            "step": 5,
            "unit": "px",
            "label": "Button Max-Width - Mobile",
            "default": 300
          },
          {
            "type": "range",
            "id": "button_mt",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Button Margin Top",
            "default": 28
          },
          {
            "type": "range",
            "id": "button_mt_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Button Margin Top - Mobile",
            "default": 24
          },
          {
            "type": "range",
            "id": "button_padding_vertical",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Button Padding Vertical",
            "default": 16
          },
          {
            "type": "range",
            "id": "button_padding_vertical_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Button Padding Vertical - Mobile",
            "default": 12
          },
          {
             "type": "range",
             "id": "button_padding_horizontal",
             "min": 0,
             "max": 100,
             "step": 2,
             "unit": "px",
             "label": "Button Padding Horizontal",
             "default": 32
          },
          {
             "type": "range",
             "id": "button_padding_horizontal_mobile",
             "min": 0,
             "max": 100,
             "step": 2,
             "unit": "px",
             "label": "Button Padding Horizontal - Mobile",
             "default": 32
          },
          {
             "type": "range",
             "id": "button_radius",
             "min": 0,
             "max": 100,
             "step": 2,
             "unit": "px",
             "label": "Button Border Radius",
             "default": 100
          },
          {
             "type": "range",
             "id": "button_border_thickness",
             "min": 0,
             "max": 10,
             "step": 1,
             "unit": "px",
             "label": "Button Border Thickness",
             "default": 0
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "Button Style",
            "default": "non_outline",
            "options": [
              {
                "label": "Link",
                "value": "link"
              },
              {
                "label": "Non-Outline",
                "value": "non_outline"
              },
              {
                "label": "Non-Outline & Arrow",
                "value": "non_outline_arrow"
              },
              {
                "label": "Outline",
                "value": "outline"
              },
              {
                "label": "Outline & Arrow",
                "value": "outline_arrow"
              }
            ]
          },
          {
            "type": "header",
            "content": "Button Colors"
          },
          {
            "type": "color",
            "label": "Button Text Color",
            "id": "button_color",
            "default": "#FFFFFF"
          },
          {
            "type": "color",
            "label": "Button Hover Text Color",
            "id": "button_hover_color",
            "default": "#FFFFFF"
          },
          {
            "type": "color",
            "label": "Button Background Color",
            "id": "button_bg_color",
            "default": "#FF7400"
          },
          {
            "type": "color",
            "label": "Button Background Hover Color",
            "id": "button_bg_hover_color",
            "default": "#f06d00"
          },
          {
            "type": "color",
            "label": "Button Border Color",
            "id": "button_border_color",
            "default": "#000000"
          },
          {
            "type": "color",
            "label": "Button Border Hover Color",
            "id": "button_border_hover_color",
            "default": "#000000"
          }
        ]
      },
      {
        "type": "timer",
        "limit": 1,
        "name": "Timer",
        "settings": [
          {
            "type": "header",
            "content": "Timer Settings",
            "info": "Please use UTC time zone"
          },
          {
            "type": "select",
            "id": "year",
            "label": "Year",
            "default": "2025",
            "options": [
              {
                "value": "2022",
                "label": "2022"
              },
              {
                "value": "2023",
                "label": "2023"
              },
              {
                "value": "2024",
                "label": "2024"
              },
              {
                "value": "2025",
                "label": "2025"
              },
              {
                "value": "2026",
                "label": "2026"
              },
              {
                "value": "2027",
                "label": "2027"
              },
              {
                "value": "2028",
                "label": "2028"
              },
              {
                "value": "2029",
                "label": "2029"
              },
              {
                "value": "2030",
                "label": "2030"
              },
              {
                "value": "2031",
                "label": "2031"
              },
              {
                "value": "2032",
                "label": "2032"
              },
              {
                "value": "2033",
                "label": "2033"
              },
              {
                "value": "2034",
                "label": "2034"
              },
              {
                "value": "2035",
                "label": "2035"
              },
              {
                "value": "2036",
                "label": "2036"
              },
              {
                "value": "2037",
                "label": "2037"
              },
              {
                "value": "2038",
                "label": "2038"
              },
              {
                "value": "2039",
                "label": "2039"
              },
              {
                "value": "2040",
                "label": "2040"
              },
              {
                "value": "2041",
                "label": "2041"
              },
              {
                "value": "2042",
                "label": "2042"
              },
              {
                "value": "2043",
                "label": "2043"
              },
              {
                "value": "2044",
                "label": "2044"
              },
              {
                "value": "2045",
                "label": "2045"
              },
              {
                "value": "2046",
                "label": "2046"
              },
              {
                "value": "2047",
                "label": "2047"
              },
              {
                "value": "2048",
                "label": "2048"
              },
              {
                "value": "2049",
                "label": "2049"
              },
              {
                "value": "2050",
                "label": "2050"
              }
            ]
          },
          {
            "type": "select",
            "id": "month",
            "label": "month",
            "default": "01",
            "options": [
              {
                "value": "01",
                "label": "January"
              },
              {
                "value": "02",
                "label": "February"
              },
              {
                "value": "03",
                "label": "March"
              },
              {
                "value": "04",
                "label": "April"
              },
              {
                "value": "05",
                "label": "May"
              },
              {
                "value": "06",
                "label": "June"
              },
              {
                "value": "07",
                "label": "July"
              },
              {
                "value": "08",
                "label": "August"
              },
              {
                "value": "09",
                "label": "September"
              },
              {
                "value": "10",
                "label": "October"
              },
              {
                "value": "11",
                "label": "November"
              },
              {
                "value": "12",
                "label": "December"
              }
            ]
          },
          {
            "type": "text",
            "id": "days_text",
            "label": "Days Text",
            "default": "Days"
          },
          {
            "type": "select",
            "id": "day",
            "label": "day",
            "default": "01",
            "options": [
              {
                "value": "01",
                "label": "01"
              },
              {
                "value": "02",
                "label": "02"
              },
              {
                "value": "03",
                "label": "03"
              },
              {
                "value": "04",
                "label": "04"
              },
              {
                "value": "05",
                "label": "05"
              },
              {
                "value": "06",
                "label": "06"
              },
              {
                "value": "07",
                "label": "07"
              },
              {
                "value": "08",
                "label": "08"
              },
              {
                "value": "09",
                "label": "09"
              },
              {
                "value": "10",
                "label": "10"
              },
              {
                "value": "11",
                "label": "11"
              },
              {
                "value": "12",
                "label": "12"
              },
              {
                "value": "13",
                "label": "13"
              },
              {
                "value": "14",
                "label": "14"
              },
              {
                "value": "15",
                "label": "15"
              },
              {
                "value": "16",
                "label": "16"
              },
              {
                "value": "17",
                "label": "17"
              },
              {
                "value": "18",
                "label": "18"
              },
              {
                "value": "19",
                "label": "19"
              },
              {
                "value": "20",
                "label": "20"
              },
              {
                "value": "21",
                "label": "21"
              },
              {
                "value": "22",
                "label": "22"
              },
              {
                "value": "23",
                "label": "23"
              },
              {
                "value": "24",
                "label": "24"
              },
              {
                "value": "25",
                "label": "25"
              },
              {
                "value": "26",
                "label": "26"
              },
              {
                "value": "27",
                "label": "27"
              },
              {
                "value": "28",
                "label": "28"
              },
              {
                "value": "29",
                "label": "29"
              },
              {
                "value": "30",
                "label": "30"
              },
              {
                "value": "31",
                "label": "31"
              }
            ]
          },
          {
            "type": "text",
            "id": "hours_text",
            "label": "Hours Text",
            "default": "Hours"
          },
          {
            "type": "select",
            "id": "hour",
            "label": "Hour",
            "default": "00",
            "options": [
              { "value": "00", "label": "12 AM" },
              { "value": "01", "label": "01 AM" },
              { "value": "02", "label": "02 AM" },
              { "value": "03", "label": "03 AM" },
              { "value": "04", "label": "04 AM" },
              { "value": "05", "label": "05 AM" },
              { "value": "06", "label": "06 AM" },
              { "value": "07", "label": "07 AM" },
              { "value": "08", "label": "08 AM" },
              { "value": "09", "label": "09 AM" },
              { "value": "10", "label": "10 AM" },
              { "value": "11", "label": "11 AM" },
              { "value": "12", "label": "12 PM" },
              { "value": "13", "label": "01 PM" },
              { "value": "14", "label": "02 PM" },
              { "value": "15", "label": "03 PM" },
              { "value": "16", "label": "04 PM" },
              { "value": "17", "label": "05 PM" },
              { "value": "18", "label": "06 PM" },
              { "value": "19", "label": "07 PM" },
              { "value": "20", "label": "08 PM" },
              { "value": "21", "label": "09 PM" },
              { "value": "22", "label": "10 PM" },
              { "value": "23", "label": "11 PM" }
            ]
          },
          {
            "type": "text",
            "id": "minutes_text",
            "label": "Minutes Text",
            "default": "Minutes"
          },
          {
            "type": "select",
            "id": "minute",
            "label": "Minute",
            "default": "00",
            "options": [
              {
                "value": "00",
                "label": "00"
              },
              {
                "value": "01",
                "label": "01"
              },
              {
                "value": "02",
                "label": "02"
              },
              {
                "value": "03",
                "label": "03"
              },
              {
                "value": "04",
                "label": "04"
              },
              {
                "value": "05",
                "label": "05"
              },
              {
                "value": "06",
                "label": "06"
              },
              {
                "value": "07",
                "label": "07"
              },
              {
                "value": "08",
                "label": "08"
              },
              {
                "value": "09",
                "label": "09"
              },
              {
                "value": "10",
                "label": "10"
              },
              {
                "value": "11",
                "label": "11"
              },
              {
                "value": "12",
                "label": "12"
              },
              {
                "value": "13",
                "label": "13"
              },
              {
                "value": "14",
                "label": "14"
              },
              {
                "value": "15",
                "label": "15"
              },
              {
                "value": "16",
                "label": "16"
              },
              {
                "value": "17",
                "label": "17"
              },
              {
                "value": "18",
                "label": "18"
              },
              {
                "value": "19",
                "label": "19"
              },
              {
                "value": "20",
                "label": "20"
              },
              {
                "value": "21",
                "label": "21"
              },
              {
                "value": "22",
                "label": "22"
              },
              {
                "value": "23",
                "label": "23"
              },
              {
                "value": "24",
                "label": "24"
              },
              {
                "value": "25",
                "label": "25"
              },
              {
                "value": "26",
                "label": "26"
              },
              {
                "value": "27",
                "label": "27"
              },
              {
                "value": "28",
                "label": "28"
              },
              {
                "value": "29",
                "label": "29"
              },
              {
                "value": "30",
                "label": "30"
              },
              {
                "value": "31",
                "label": "31"
              },
              {
                "value": "32",
                "label": "32"
              },
              {
                "value": "33",
                "label": "33"
              },
              {
                "value": "34",
                "label": "34"
              },
              {
                "value": "35",
                "label": "35"
              },
              {
                "value": "36",
                "label": "36"
              },
              {
                "value": "37",
                "label": "37"
              },
              {
                "value": "38",
                "label": "38"
              },
              {
                "value": "39",
                "label": "39"
              },
              {
                "value": "40",
                "label": "40"
              },
              {
                "value": "41",
                "label": "41"
              },
              {
                "value": "42",
                "label": "42"
              },
              {
                "value": "43",
                "label": "43"
              },
              {
                "value": "44",
                "label": "44"
              },
              {
                "value": "45",
                "label": "45"
              },
              {
                "value": "46",
                "label": "46"
              },
              {
                "value": "47",
                "label": "47"
              },
              {
                "value": "48",
                "label": "48"
              },
              {
                "value": "49",
                "label": "49"
              },
              {
                "value": "50",
                "label": "50"
              },
              {
                "value": "51",
                "label": "51"
              },
              {
                "value": "52",
                "label": "52"
              },
              {
                "value": "53",
                "label": "53"
              },
              {
                "value": "54",
                "label": "54"
              },
              {
                "value": "55",
                "label": "55"
              },
              {
                "value": "56",
                "label": "56"
              },
              {
                "value": "57",
                "label": "57"
              },
              {
                "value": "58",
                "label": "58"
              },
              {
                "value": "59",
                "label": "59"
              }
            ]
          },
          {
            "type": "text",
            "id": "seconds_text",
            "label": "Seconds Text",
            "default": "Seconds"
          },
          {
            "type": "checkbox",
            "id": "hide_timer_on_completed",
            "label": "Hide timer on completed",
            "default": false
          },
          {
            "type": "range",
            "id": "timer_mt",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Timer Margin Top",
            "default": 16
          },
          {
            "type": "range",
            "id": "timer_gap",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Timer Gap",
            "default": 8
          },
          {
            "type": "range",
            "id": "timer_gap_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Timer Gap - Mobile",
            "default": 8
          },
          {
            "type": "header",
            "content": "Timer Item Settings"
          },
          {
            "type": "range",
            "id": "item_width",
            "min": 50,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Item Width",
            "default": 70
          },
          {
            "type": "range",
            "id": "item_width_mobile",
            "min": 50,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Item Width - Mobile",
            "default": 70
          },
          {
            "type": "range",
            "id": "item_padding_vertical",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Item Padding Vertical",
            "default": 8
          },
          {
            "type": "range",
            "id": "item_padding_horizontal",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Item Padding Horizontal",
            "default": 8
          },
          {
            "type": "range",
            "id": "item_radius",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Item Roundness",
            "default": 12
          },
          {
            "type": "header",
            "content": "Timer Number Settings"
          },
          {
            "type": "checkbox",
            "id": "number_custom",
            "label": "Use Custom Font",
            "default": false
          },
          {
            "type": "font_picker",
            "id": "number_font",
            "label": "Number Font Family",
            "default": "josefin_sans_n4"
          },
          {
            "type": "range",
            "id": "number_size",
            "min": 0,
            "max": 40,
            "step": 1,
            "unit": "px",
            "label": "Number Size",
            "default": 35
          },
          {
            "type": "range",
            "id": "number_size_mobile",
            "min": 0,
            "max": 40,
            "step": 1,
            "unit": "px",
            "label": "Number Size - Mobile",
            "default": 35
          },
          {
            "type": "range",
            "id": "number_height",
            "min": 50,
            "max": 200,
            "step": 10,
            "unit": "%",
            "label": "Number Line Height",
            "default": 100
          },
          {
            "type": "header",
            "content": "Timer Item Text Settings"
          },
          {
            "type": "checkbox",
            "id": "text_custom",
            "label": "Use Custom Font",
            "default": false
          },
          {
            "type": "font_picker",
            "id": "text_font",
            "label": "Text Font Family",
            "default": "josefin_sans_n4"
          },
          {
            "type": "range",
            "id": "text_size",
            "min": 0,
            "max": 40,
            "step": 1,
            "unit": "px",
            "label": "Text Size",
            "default": 11
          },
          {
            "type": "range",
            "id": "text_size_mobile",
            "min": 0,
            "max": 40,
            "step": 1,
            "unit": "px",
            "label": "Text Size - Mobile",
            "default": 11
          },
          {
            "type": "range",
            "id": "text_height",
            "min": 50,
            "max": 200,
            "step": 10,
            "unit": "%",
            "label": "Text Line Height",
            "default": 100
          },
          {
            "type": "header",
            "content": "Timer Completed Text Settings"
          },
          {
            "type": "richtext",
            "id": "timer_completed_text",
            "label": "Timer Completed Text"
          },
          {
            "type": "checkbox",
            "id": "completed_text_custom",
            "label": "Use Custom Font",
            "default": false
          },
          {
            "type": "font_picker",
            "id": "completed_text_font",
            "label": "Text Font Family",
            "default": "josefin_sans_n4"
          },
          {
            "type": "range",
            "id": "completed_text_size",
            "min": 0,
            "max": 40,
            "step": 1,
            "unit": "px",
            "label": "Text Size",
            "default": 16
          },
          {
            "type": "range",
            "id": "completed_text_size_mobile",
            "min": 0,
            "max": 40,
            "step": 1,
            "unit": "px",
            "label": "Text Size - Mobile",
            "default": 16
          },
          {
            "type": "range",
            "id": "completed_text_height",
            "min": 50,
            "max": 200,
            "step": 10,
            "unit": "%",
            "label": "Text Line Height",
            "default": 100
          },
          {
            "type": "header",
            "content": "Block Colors"
          },
          {
            "type": "color",
            "label": "Item Background Color",
            "id": "item_bg_color",
            "default": "#FFFFFF"
          },
          {
            "type": "color",
            "label": "Number Color",
            "id": "number_color",
            "default": "#000000"
          },
          {
            "type": "color",
            "label": "Text Color",
            "id": "text_color",
            "default": "#000000"
          },
          {
            "type": "color",
            "label": "Completed Text Color",
            "id": "completed_text_color",
            "default": "#000000"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Countdown Timer #4",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "text"
          },
          {
            "type": "timer"
          },
          {
            "type": "button"
          }
        ]
      }
    ]
  }
{% endschema %}