{% comment %}
---------------------------------------------------------
Copyright © 2023 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{%- liquid
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign padding_top_mobile = section.settings.padding_top_mobile
  assign padding_bottom_mobile = section.settings.padding_bottom_mobile
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign section_radius = section.settings.section_radius
  assign lazy = section.settings.lazy
  
  assign product_position = section.settings.product_position
  assign use_metafield = section.settings.use_metafield
  
  assign slider_gap = section.settings.slider_gap
  assign slider_gap_mobile = section.settings.slider_gap_mobile
  assign slider_view = section.settings.slider_view
  assign slider_view_mobile = section.settings.slider_view_mobile
  
  assign item_radius = section.settings.item_radius
  assign item_ratio = section.settings.item_ratio
  assign item_ratio_mobile = section.settings.item_ratio_mobile
  
  assign player_size = section.settings.player_size
  assign player_size_mobile = section.settings.player_size_mobile
  assign player_color = section.settings.player_color
  assign player_hover_color = section.settings.player_hover_color
  
  assign modal_width = section.settings.modal_width
  assign modal_padding_horizontal = section.settings.modal_padding_horizontal
  assign modal_padding_horizontal_mobile = section.settings.modal_padding_horizontal_mobile
  assign modal_padding_vertical = section.settings.modal_padding_vertical  
  assign modal_padding_vertical_mobile = section.settings.modal_padding_vertical_mobile	
  assign modal_border_thickness = section.settings.modal_border_thickness
  assign modal_border_color = section.settings.modal_border_color
  assign modal_radius = section.settings.modal_radius  
  assign modal_overlay_color = section.settings.modal_overlay_color
  assign modal_overlay = section.settings.modal_overlay
  
  assign modal_video_ratio = section.settings.modal_video_ratio
  assign modal_video_ratio_mobile = section.settings.modal_video_ratio_mobile
  assign modal_video_radius = section.settings.modal_video_radius
  
  assign modal_close_color = section.settings.modal_close_color
  assign modal_close_color_hover = section.settings.modal_close_color_hover
  assign modal_close_size = section.settings.modal_close_size
  assign modal_close_size_mobile = section.settings.modal_close_size_mobile
  assign modal_close_icon_color = section.settings.modal_close_icon_color
  assign modal_close_icon_color_hover = section.settings.modal_close_icon_color_hover
-%}

{%- style -%}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }

  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top_mobile }}rem;
    padding-bottom: {{ padding_bottom_mobile }}rem;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .product-video-item-{{ section.id }} {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: {{ item_radius }}px;
    overflow: hidden;
  }

  .product-video-item-{{ section.id }} video,
  .product-video-item-{{ section.id }} iframe {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    border: 0;
    box-shadow: none;
  }

  .product-video-player-{{ section.id }} {
    width: {{ player_size_mobile }}px;
    height: {{ player_size_mobile }}px;
    align-items: center;
    display: flex;
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50%;
    justify-content: center;
    padding: 0px;
    padding: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: all 0.25s ease 0s;
    border: none;  
    cursor: pointer;
    box-sizing: border-box !important;
  }

  .product-video-player-{{ section.id }} svg {
    margin-left: 4px;
    visibility: visible !important;
  }

  .product-video-player-{{ section.id }} svg path {
    fill: {{ player_color }};
    transition: all 0.25s ease 0s;
  }

  .product-video-player-{{ section.id }}:hover svg path {
    fill: {{ player_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .product-video-modal-{{ section.id }} {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0; 
    right: 0; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }

  .product-video-modal-{{ section.id }}.active {
    opacity: 1;
    z-index: 999;
    pointer-events: all;
    transition: all 250ms ease-in 0s;
  }

  .product-video-modal-inner-{{ section.id }} {
    position: relative;
    width: 100%;
    border-radius: {{ modal_radius }}px;
    border: {{ modal_border_thickness }}px solid {{ modal_border_color }};
    overflow: hidden;
    margin: 0;
    padding: {{ modal_padding_vertical_mobile }}px {{ modal_padding_horizontal_mobile }}px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }

  .product-video-modal-inner-video-{{ section.id }} {
    width: 100%;
  }

  .product-video-modal-inner-video-{{ section.id }} video,
  .product-video-modal-inner-video-{{ section.id }} iframe {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    border: 0;
    box-shadow: none;
    border-radius: {{ modal_video_radius }}px;
  }

  .product-video-close-{{ section.id }} {
    display: flex;
    aling-items: center;
    justify-content: center;
    max-width: fit-content;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    z-index: 2;
  }

  .product-video-close-{{ section.id }} svg {
    border-radius: 50%;
    padding: 10px;
    background-color: {{ modal_close_color }};
    display: block;
    width: {{ modal_close_size_mobile }}px;
    height: {{ modal_close_size_mobile }}px;
    transition: all 0.25s ease 0s;
  }

  .product-video-close-{{ section.id }} svg path {
    fill: {{ modal_close_icon_color }}   ;   
  }

  .product-video-close-{{ section.id }}:hover svg path {
    fill: {{ modal_close_icon_color_hover }};
    transition: all 0.25s ease 0s;
  }

  .product-video-close-{{ section.id }}:hover svg {
    background-color: {{ modal_close_color_hover }};
    transition: all 0.25s ease 0s;
  }

  @media(min-width: 768px) {

    .product-video-modal-{{ section.id }} {
      padding: 40px;
    }
    
    .product-video-modal-inner-{{ section.id }} {
      height: fit-content;
      width: {{ modal_width }}px;
    }
  }

  @media(min-width: 1024px) {
    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
    }

    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}rem;
      padding-bottom: {{ padding_bottom }}rem;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .product-video-player-{{ section.id }} {      
      width: {{ player_size }}px;
      height: {{ player_size }}px;
      padding: 8px;
    }

    .product-video-modal-{{ section.id }} {
      align-items: flex-end; 
      justify-content: flex-end;
      background: {{ modal_overlay_color | hex_to_rgba: modal_overlay }};
      backdrop-filter: unset;
      -webkit-backdrop-filter: unset;
    }

    .product-video-modal-inner-{{ section.id }} {
      width: {{ modal_width }}px;
      padding: {{ modal_padding_vertical }}px {{ modal_padding_horizontal }}px;
    }
    
    .product-video-close-{{ section.id }} svg {
      width: {{ modal_close_size }}px;
      height: {{ modal_close_size }}px;
      position: absolute;
      top: 40px;
      right: 40px;
      margin: 0px;
    }
}

{%- endstyle -%}

{% if item_ratio_mobile == "portrait" %}
  <style>
    .product-video-item-{{ section.id }} {
      aspect-ratio: 9.6/13;
    }
  </style>
{% elsif item_ratio_mobile == "landscape" %}
  <style>
  .product-video-item-{{ section.id }} {
    aspect-ratio: 12/8;
  }
  </style>
{% elsif item_ratio_mobile == "square" %}
  <style>
    .product-video-item-{{ section.id }} {
      aspect-ratio: 12/12;
    }
  </style>
{% else %}
  <style>
    .product-video-item-{{ section.id }} {
    aspect-ratio: auto;
    }
  </style>
{% endif %}

{% if item_ratio == "portrait" %}
  <style>
    @media (min-width: 1024px) {
      .product-video-item-{{ section.id }} {
        aspect-ratio: 9.6/13;
      }
    }
  </style>
{% elsif item_ratio == "landscape" %}
  <style>
    @media (min-width: 1024px) {
      .product-video-item-{{ section.id }} {
        aspect-ratio: 12/8;
      }
    }
  </style>
{% elsif item_ratio == "square" %}
  <style>
    @media (min-width: 1024px) {
      .product-video-item-{{ section.id }} {
        aspect-ratio: 12/12;
      }
    }
  </style>
{% else %}
  <style>
    @media (min-width: 1024px) {
      .product-video-item-{{ section.id }} {
        aspect-ratio: auto;
      }
    }
  </style>
{% endif %}

{% if modal_video_ratio_mobile == "portrait" %}
  <style>
    .product-video-modal-inner-video-{{ section.id }} {
      aspect-ratio: 9.6/13;
    }
  </style>
{% elsif modal_video_ratio_mobile == "landscape" %}
  <style>
    .product-video-modal-inner-video-{{ section.id }} {
      aspect-ratio: 12/8;
    }
  </style>
{% elsif modal_video_ratio_mobile == "square" %}
  <style>
    .product-video-modal-inner-video-{{ section.id }} {
      aspect-ratio: 12/12;
    }
  </style>
{% else %}
  <style>
    .product-video-modal-inner-video-{{ section.id }} {
      aspect-ratio: auto;
    }
  </style>
{% endif %}

{% if modal_video_ratio == "portrait" %}
  <style>
    @media (min-width: 1024px) {
      .product-video-modal-inner-video-{{ section.id }} {
        aspect-ratio: 9.6/13;
      }
    }
  </style>
{% elsif modal_video_ratio == "landscape" %}
  <style>
    @media (min-width: 1024px) {
      .product-video-modal-inner-video-{{ section.id }} {
        aspect-ratio: 12/8;
      }
    }
  </style>
{% elsif modal_video_ratio == "square" %}
  <style>
    @media (min-width: 1024px) {
      .product-video-modal-inner-video-{{ section.id }} {
        aspect-ratio: 12/12;
      }
    }
  </style>
{% else %}
  <style>
    @media (min-width: 1024px) {
      .product-video-modal-inner-video-{{ section.id }} {
        aspect-ratio: auto;
      }
    }
  </style>
{% endif %}

{% comment %} PREVIEW {% endcomment %}
<style>
  .product-video-wrapper-{{ section.id }}.preview .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }

  .product-video-wrapper-{{ section.id }}.preview .product-video-item-{{ section.id }} {
    width: 100%;
  }

  .product-video-wrapper-{{ section.id }}.preview .product-video-item-{{ section.id }}:not(:first-child) {
    margin-left: {{ slider_gap_mobile }}px;
  } 

  @media(min-width: 1024px) {
    .product-video-wrapper-{{ section.id }}.preview .product-video-item-{{ section.id }}:not(:first-child) {
      margin-left: {{ slider_gap }}px;
    } 

    .product-video-wrapper-{{ section.id }}.preview .product-video-item-{{ section.id }} {
      width: calc(100% / {{ slider_view }} - ({{ slider_gap }}px * {{ slider_view | minus: 1 }}));
    }
  }
</style>

<template id="ss-product-video-3-{{ section.id }}">
  {% assign has_valid_video = false %}
  
  {% if use_metafield %}
    {% if product.metafields.custom.ss_product_videos_3 != blank %}
      {% assign has_valid_video = true %}
    {% endif %}
  {% else %}
    {% for block in section.blocks %}
      {% assign video_id = block.settings.item_video.id | default: block.settings.item_video_url.id %}
      {% if block.settings.item_video != null or video_id != blank %}
        {% assign has_valid_video = true %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% if has_valid_video %}
  <div class="section-{{ section.id }} product-video-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="swiper product-video-wrapper-{{ section.id }} preview">
        <div class="swiper-wrapper">
            {% if use_metafield %}
              {% for video in product.metafields.custom.ss_product_videos_3.value %}
                <div class="swiper-slide product-video-item-{{ section.id }} product-video-item-{{ forloop.index }}" id="metafield-video-{{ section.id }}-{{ forloop.index }}">
                  {% if video.sources[1].url != null %}
                    <video {% if lazy %}data-{% endif %}src="{{ video.sources[1].url }}" muted autoplay playsinline preload="none" loop class="lazy"></video>
                  {% else %}
                    <video {% if lazy %}data-{% endif %}src="{{ video.sources[0].url }}" muted autoplay playsinline preload="none" loop class="lazy"></video>
                  {% endif %}
                  <button class="product-video-player-{{ section.id }} ">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20" fill="none">
                        <path d="M15.0543 10L0.94574 20V0L15.0543 10Z" fill="black"/>
                      </svg>
                    </button>
                </div>
              {% endfor %}
            {% else %}
              {% for block in section.blocks %}
                <div class="swiper-slide product-video-item-{{ section.id }} product-video-item-{{ block.id }}" id="{{ block.id }}">
                  {% assign video_id = block.settings.item_video.id | default: block.settings.item_video_url.id %}
                  {% assign loop = '&loop=1&playlist=' | append: video_id %}
                  {%- if block.settings.item_video == null and block.settings.item_video_url != null -%}
                  {%- if block.settings.item_video_url.type == 'youtube' -%}
                  <iframe
                    {% if lazy %}data-{% endif %}src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=0&controls=0&showinfo=0{{ loop }}"
                    data-src1="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1&controls=0&showinfo=0{{ loop }}"
                    data-src2="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=0&controls=0&showinfo=0{{ loop }}"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    class="lazy"
                  ></iframe>
                  {%- else -%}
                  <iframe
                    {% if lazy %}data-{% endif %}src="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&autoplay=0&controls=0&showinfo=0{{ loop }}"
                    data-src1="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&autoplay=1&controls=0&showinfo=0{{ loop }}"
                    data-src2="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&autoplay=0&controls=0&showinfo=0{{ loop }}"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    class="lazy"
                  ></iframe>
                  {% endif %}
                  {% else %}
                    {% if block.settings.item_video.sources[1].url != null %}
                      <video {% if lazy %}data-{% endif %}src="{{ block.settings.item_video.sources[1].url }}" muted autoplay playsinline preload="none" loop class="lazy"></video>
                    {% else %}
                      <video {% if lazy %}data-{% endif %}src="{{ block.settings.item_video.sources[1].url }}" muted autoplay playsinline preload="none" loop class="lazy"></video>
                    {% endif %}
                  {% endif %}
                  <button class="product-video-player-{{ section.id }} ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20" fill="none">
                      <path d="M15.0543 10L0.94574 20V0L15.0543 10Z" fill="black"/>
                    </svg>
                  </button>
                </div>
              {% endfor %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</template>

{% if use_metafield %}
  {% for video in product.metafields.custom.ss_product_videos_3.value %}
    <div class="product-video-modal-{{ section.id }}" data-id="metafield-video-{{ section.id }}-{{ forloop.index }}">
      <div class="product-video-modal-inner-{{ section.id }}">
        <div class="product-video-modal-inner-video-{{ section.id }}">
          {% if video.sources[1].url != null %}
            <video {% if lazy %}data-{% endif %}src="{{ video.sources[1].url }}" muted autoplay playsinline preload="none" loop class="lazy"></video>
          {% else %}
            <video {% if lazy %}data-{% endif %}src="{{ video.sources[0].url }}" muted autoplay playsinline preload="none" loop class="lazy"></video>
          {% endif %}
        </div>
        <button class="product-video-close-{{ section.id }}">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M12.0002 10.586L4.70718 3.29297L3.29297 4.70718L10.586 12.0002L3.29297 19.2933L4.70718 20.7075L12.0002 13.4145L19.2933 20.7075L20.7075 19.2933L13.4145 12.0002L20.7075 4.70723L19.2933 3.29302L12.0002 10.586Z"
              fill="white"></path>
            </svg>
        </button>
      </div>
    </div>
  {% endfor %}
{% else %}             
  {% for block in section.blocks %}
    <div class="product-video-modal-{{ section.id }}" data-id="{{ block.id }}">
      <div class="product-video-modal-inner-{{ section.id }}">
        <div class="product-video-modal-inner-video-{{ section.id }}">
          {% assign video_id = block.settings.modal_video.id | default: block.settings.modal_video_url.id %}
          {% assign loop = '&loop=1&playlist=' | append: video_id %}
          {%- if block.settings.modal_video == null and block.settings.modal_video_url != null -%}
          {%- if block.settings.modal_video_url.type == 'youtube' -%}
          <iframe
            {% if lazy %}data-{% endif %}src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=0&controls=1&showinfo=0{{ loop }}"
            data-src1="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1&controls=1&showinfo=0{{ loop }}"
            data-src2="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=0&controls=1&showinfo=0{{ loop }}"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            class="lazy"
          ></iframe>
          {%- else -%}
          <iframe
            {% if lazy %}data-{% endif %}src="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&autoplay=0&controls=1&showinfo=0{{ loop }}"
            data-src1="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&autoplay=1&controls=1&showinfo=0{{ loop }}"
            data-src2="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&autoplay=0&controls=1&showinfo=0{{ loop }}"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            class="lazy"
          ></iframe>
          {% endif %}
          {% else %}
            <video {% if lazy %}data-{% endif %}src="{{ block.settings.modal_video.sources[1].url }}" controls playsinline preload="none" loop class="lazy"></video>
          {% endif %}
        </div>
        <button class="product-video-close-{{ section.id }}">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M12.0002 10.586L4.70718 3.29297L3.29297 4.70718L10.586 12.0002L3.29297 19.2933L4.70718 20.7075L12.0002 13.4145L19.2933 20.7075L20.7075 19.2933L13.4145 12.0002L20.7075 4.70723L19.2933 3.29302L12.0002 10.586Z"
              fill="white"></path>
            </svg>
        </button>
      </div>
    </div>
  {% endfor %}
{% endif %}

{% if lazy %}
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@19.1.3/dist/lazyload.min.js"></script>
{% endif %}
                        
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  (function () {
    function loadProductForm() {
        var productForm = document.querySelector('#ss-product-video-3');

        if (!productForm){
          var productForm = document.querySelector('{% if product_position == "below_title" or product_position == "above_title" %}.product__title{% elsif product_position == "below_description" or product_position == "above_description" %}.product__description{% elsif product_position == "below_price" %}.price.price--large.price--show-badge{% else %}.button--add-to-cart, .product .product-form, .product-single__add-to-cart, .shopify-payment-button, .shopify-payment-button__button, .ProductForm__BuyButtons, .add-to-cart{% endif %}');
          if (!productForm) return;
        }
    
        let templateContent =  document.querySelector('#ss-product-video-3-{{ section.id }}');
         if (!templateContent || !templateContent.content.firstElementChild) {
            console.log('Template content missing or invalid');
            return;
        }

       const newElement = templateContent.content.firstElementChild.cloneNode(true);
      
        productForm.insertAdjacentElement('{% if product_position == "below_buy" or product_position == "below_title" or product_position == "below_description" or product_position == "below_price" %}afterend{% else %}beforebegin{% endif %}', newElement)
        
        productInit();
    }

    function productInit() {
      setTimeout(() => {

        {% if lazy %}
          let lazyLoadInstance = new LazyLoad();
  
          window.addEventListener(
            "LazyLoad::Initialized",
            function (event) {
              window.lazyLoadInstance = event.detail.instance;
            },
            false        
          );
        {% endif %}

        document.querySelector('.product-video-wrapper-{{ section.id }}').classList.remove('preview')
        
        const slider = new Swiper(".product-video-wrapper-{{ section.id }}", {          
          speed: 300,  
          breakpoints: {
            320: {
              spaceBetween: {{ slider_gap_mobile }},
              slidesPerView: {{ slider_view_mobile }}
            },
            768: {
              slidesPerView: {{ slider_view }}
            },
            1024: {
              spaceBetween: {{ slider_gap }},
              slidesPerView: {{ slider_view }}
            }
          },
        });
        
        let items = document.querySelectorAll('.product-video-item-{{ section.id }}');
        let modals = document.querySelectorAll('.product-video-modal-{{ section.id }}');

        if(items) {
          items.forEach(el => {
            el.addEventListener('click', () => {
              if(modals) {
                modals.forEach(element => {
                  let dataId = element.getAttribute('data-id');
                  let video = element.querySelector('video');
                  let frame = element.querySelector('iframe');
                  if(el.id == dataId) {
                    element.classList.add('active');
                    document.body.style.overflow = 'hidden';

                    if(video) {
                      video.play();
                    }
                    if (frame) {
                      frame.src = frame.getAttribute('data-src');
                    }
                  }
                })
              }
            })
          })
        }

        if(modals) {
          modals.forEach(el => {
          let video = el.querySelector('video');
          let frame = el.querySelector('iframe');
          let close = el.querySelector('.product-video-close-{{ section.id }}');
          let close_path = close.querySelector('path');
          let videoEleemnt = el.querySelector('.product-video-item-{{ section.id }}');

          if(close) {
            close.addEventListener('click', (e) => {
              document.body.style.overflow = '';
              el.classList.remove('active');

              if(video) {
                video.pause();
              }

              if(frame) {
                let dataSrc2 = frame.getAttribute('data-src2');
                frame.src = dataSrc2;
              }
            }); 
          }          
      
          document.addEventListener('click', (e) => {
            if (e.target == el) {
              document.body.style.overflow = '';
              el.classList.remove('active');

              if(video) {
                video.pause();
              }

              if(frame) {
                let dataSrc2 = frame.getAttribute('data-src2');
                frame.src = dataSrc2;
              }
            }
          });
      })
    }
      }, 400)
  }

    // ✅ Run when page loads
    document.addEventListener('DOMContentLoaded', loadProductForm);

    // ✅ Run when Shopify dynamically reloads a section
    document.addEventListener('shopify:section:load', function (event) {
        if (event.detail.sectionId === '{{ section.id }}') {
            loadProductForm();
        }
    });

    // ✅ Detect variant change and reload the section
    document.addEventListener('change', function (event) {
        if (event.target.matches('input[type="radio"][id^="product-form-main"]')) {
            console.log('Variant changed, reloading section...');
            loadProductForm();
        }
    });

  })();
</script>

{% schema %}
{
  "name": "SS - Product videos #3",
  "settings": [
    {
      "type": "header",
      "content": "⚠️ Save settings to view updates",
      "info":"Learn how to add snippet sections with [this tutorial](https://section-store.helpscoutdocs.com/article/10-adding-product-page-snippets)"
    },
    {
      "type": "paragraph",
      "content": "Learn how to include dynamic content per product with [this tutorial](https://section-store.helpscoutdocs.com/article/17-dynamic-content-settings-per-product)"
    },
    {
      "type": "header",
      "content": "Custom placement",
      "info": "Copy this code: <div id='ss-product-video-3'></div> - Click 'Add block' -> Custom Liquid/HTML -> Paste."
    },
    {
      "type": "select",
      "id": "product_position",
      "label": "Position",
      "default": "below_buy",
      "options": [
        {
          "label": "Above buy buttons",
          "value": "above_buy"
        },
        {
          "label": "Below buy buttons",
          "value": "below_buy"
        },
        {
          "label": "Above product title",
          "value": "above_title"
        },
        {
          "label": "Below product title",
          "value": "below_title"
        },
        {
          "label": "Above product description",
          "value": "above_description"
        },
        {
          "label": "Below product description",
          "value": "below_description"
        },
        {
          "label": "Below price",
          "value": "below_price"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "use_metafield",
      "label": "Use metafield"
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "range",
      "id": "slider_view",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "Slides to show",
      "default": 3
    },      
    {
      "type": "range",
      "id": "slider_view_mobile",
      "min": 1,
      "max": 3.5,
      "step": 0.1,
      "label": "Slides to show - mobile",
      "default": 3
    }, 
    {
      "type": "range",
      "id": "slider_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "label": "Gap",
      "default": 20
    },
    {
      "type": "range",
      "id": "slider_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "label": "Gap - mobile",
      "default": 20
    },    
    {
      "type": "header",
      "content": "Item settings"
    },
    {
      "type": "range",
      "id": "item_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 16
    },
    {
      "type": "select",
      "id": "item_ratio",
      "label": "Aspect ratio",
      "default": "portrait",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "select",
      "id": "item_ratio_mobile",
      "label": "Aspect ratio - mobile",
      "default": "portrait",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "header",
      "content": "Play button settings"
    },
    {
      "type": "range",
      "id": "player_size",
      "min": 30,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Size",
      "default": 56
    },
    {
      "type": "range",
      "id": "player_size_mobile",
      "min": 30,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Size - mobile",
      "default": 48
    },
    {
      "type": "header",
      "content": "Modal settings"
    },
    {
      "type": "range",
      "id": "modal_width",
      "min": 100,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "label": "Width",
      "default": 310
    }, 
    {
      "type": "range",
      "id": "modal_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 32
    },
    {
      "type": "range",
      "id": "modal_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 32
    },
    {
      "type": "range",
      "id": "modal_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding sides",
      "default": 32
    },
    {
      "type": "range",
      "id": "modal_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding sides - mobile",
      "default": 32
    },    
    {
      "type": "range",
      "id": "modal_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 16
    },  
    {
      "type": "range",
      "id": "modal_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },       
    {
      "type": "range",
      "id": "modal_overlay",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Modal Overlay",
      "default": 0.2
    },      
    {
      "type": "header",
      "content": "Modal video settings"
    }, 
    {
      "type": "select",
      "id": "modal_video_ratio",
      "label": "Aspect ratio",
      "default": "portrait",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "select",
      "id": "modal_video_ratio_mobile",
      "label": "Aspect ratio - mobile",
      "default": "portrait",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "range",
      "id": "modal_video_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 16
    },
    {
      "type": "header",
      "content": "Modal close settings"
    }, 
    {
      "type": "range",
      "id": "modal_close_size",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Size",
      "default": 40
    },
    {
      "type": "range",
      "id": "modal_close_size_mobile",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Size - mobile",
      "default": 40
    },     
    {
      "type": "header",
      "content": "Modal colors"
    },
    {
      "type": "color",
      "label": "Overlay",
      "id": "modal_overlay_color",
      "default": "#000000"
    }, 
    {
      "type": "color",
      "label": "Border",
      "id": "modal_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Close icon",
      "id": "modal_close_icon_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Close icon hover",
      "id": "modal_close_icon_color_hover",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Close background",
      "id": "modal_close_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Close background hover",
      "id": "modal_close_color_hover",
      "default": "#F3F3F3"
    },
    {
      "type": "header",
      "content": "Play button colors"
    },
    {
      "type": "color",
      "id": "player_color",
      "label": "Icon",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "player_hover_color",
      "label": "Icon hover",
      "default": "#F3F3F3"
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#F3F3F3"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding top",
      "default": 2
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding top - mobile",
      "default": 2
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding bottom",
      "default": 2
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding bottom - mobile",
      "default": 2
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 2
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides - mobile",
      "default": 2
    },
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 62
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load media for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
         {
          "type": "video",
          "id": "modal_video",
          "label": "Modal video from Shopify"
        },
        {
          "type": "video_url",
          "id": "modal_video_url",
          "label": "Modal video embed from URL",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "info": "Youtube or Vimeo. Shows when no Shopify-hosted video is selected."
        },
        {
          "type": "video",
          "id": "item_video",
          "label": "Thumbnail video from Shopify",
          "info":"This is helpful for preshowing a video & maintain a fast site speed with large video files."
        },
        {
          "type": "video_url",
          "id": "item_video_url",
          "label": "Thumbnail video embed from URL",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "info": "Youtube or Vimeo. Shows when no Shopify-hosted video is selected."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SS - Product videos #3",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}