{% comment %}
---------------------------------------------------------
Copyright © 2023 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign lazy = section.settings.lazy

  assign reviews_position = section.settings.reviews_position
  assign reviews_position_mobile = section.settings.reviews_position_mobile

  assign review_gap = section.settings.review_gap
  assign review_gap_mobile = section.settings.review_gap_mobile
  assign review_padding_horizontal = section.settings.review_padding_horizontal
  assign review_padding_horizontal_mobile = section.settings.review_padding_horizontal_mobile
  assign review_padding_vertical = section.settings.review_padding_vertical
  assign review_padding_vertical_mobile = section.settings.review_padding_vertical_mobile
  assign review_bg_color = section.settings.review_bg_color
  assign review_radius = section.settings.review_radius
  assign review_border_thickness = section.settings.review_border_thickness
  assign review_border_color = section.settings.review_border_color

  assign image_width = section.settings.image_width
  assign image_width_mobile = section.settings.image_width_mobile
  assign image_radius = section.settings.image_radius
  assign image_border_thickness = section.settings.image_border_thickness
  assign image_border_color = section.settings.image_border_color

  assign stars_icon = section.settings.stars_icon
  assign stars_color = section.settings.stars_color
  assign stars_size = section.settings.stars_size
  assign stars_size_mobile = section.settings.stars_size_mobile

  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_height = section.settings.text_height
  assign text_color = section.settings.text_color
  assign text_mt = section.settings.text_mt
  assign text_mt_mobile = section.settings.text_mt_mobile

  assign verification_icon_size = section.settings.verification_icon_size
  assign verification_icon_size_mobile = section.settings.verification_icon_size_mobile
  assign verification_icon_color = section.settings.verification_icon_color
  assign verification_icon_bg_color = section.settings.verification_icon_bg_color
  assign hide_icon = section.settings.hide_icon

  assign author_custom = section.settings.author_custom
  assign author_font = section.settings.author_font
  assign author_size = section.settings.author_size
  assign author_size_mobile = section.settings.author_size_mobile
  assign author_height = section.settings.author_height
  assign author_color = section.settings.author_color
  assign author_mt = section.settings.author_mt
  assign author_mt_mobile = section.settings.author_mt_mobile

  assign arrow_size = section.settings.arrow_size
  assign arrow_size_mobile = section.settings.arrow_size_mobile
  assign arrow_icon_size = section.settings.arrow_icon_size
  assign arrow_icon_size_mobile = section.settings.arrow_icon_size_mobile
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color
  assign arrow_bg_color = section.settings.arrow_bg_color
  assign arrow_bg_hover_color = section.settings.arrow_bg_hover_color
  assign arrow_radius = section.settings.arrow_radius
  assign arrow_border_thickness = section.settings.arrow_border_thickness
  assign arrow_border_color = section.settings.arrow_border_color
  assign arrow_border_hover_color = section.settings.arrow_border_hover_color
  assign arrow_show_desktop = section.settings.arrow_show_desktop
  assign arrow_show_mobile = section.settings.arrow_show_mobile
  assign arrow_hover_effect = section.settings.arrow_hover_effect

  assign dots_size = section.settings.dots_size
  assign dots_size_mobile = section.settings.dots_size_mobile
  assign dots_show_desktop = section.settings.dots_show_desktop
  assign dots_show_mobile = section.settings.dots_show_mobile
  assign dots_color = section.settings.dots_color
  assign dots_mt = section.settings.dots_mt

  assign hide_on_mobile = section.settings.hide_on_mobile

    assign loading_attribute = 'eager'
  if lazy
    assign loading_attribute = 'lazy'
  endif 
-%}

{%- style -%}
  {{  text_font | font_face: font_display: 'swap' }}
  {{  author_font | font_face: font_display: 'swap' }}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px !important;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px !important;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
    position: relative;
  }

  .reviews-slider-wrapper-{{ section.id }} {
    position: relative;
  }

  .reviews-slide-{{ section.id }} {
    display: flex;
    align-items: start;
    gap: {{ review_gap_mobile }}px;    
    background-color: {{ review_bg_color }};
    box-sizing: border-box !important;
    padding: {{ review_padding_vertical_mobile }}px {{ review_padding_horizontal_mobile }}px !important;
    border: {{ review_border_thickness }}px solid {{ review_border_color }} !important;
    border-radius: {{ review_radius }}px !important;
  }

  .reviews-image-{{ section.id }} {
    flex-shrink: 0;    
    width: {{ image_width_mobile }}px;
    border: {{ image_border_thickness }}px solid {{ image_border_color }};
    border-radius: {{ image_radius }}px;
    overflow: hidden;
  }

  .reviews-image-{{ section.id }} img,
  .reviews-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .reviews-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .reviews-stars-{{ section.id }} {
    display: flex;
    align-items: center;
    gap: 1px;
    max-width: fit-content;
  }

  .reviews-stars-{{ section.id }} svg,
  .reviews-stars-{{ section.id }} img {
    display: block;
    width: {{ stars_size_mobile }}px;
    height: {{ stars_size_mobile }}px;
    object-fit: cover;
  }

  .reviews-text-{{ section.id }} {
    margin-top: {{ text_mt_mobile }}px;
  }

  .reviews-text-{{ section.id }} * {
    margin: 0;  
    text-transform: unset;
    word-wrap: break-word;
    font-size: {{ text_size_mobile }}px;
    line-height: {{ text_height }}%;
    color: {{ text_color }};
  }

  .reviews-verification-{{ section.id }} {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: {{ author_mt_mobile }}px;
  }

  .reviews-verification-{{ section.id }} svg {
    display: block;
    flex-shrink: 0;
    width: {{ verification_icon_size_mobile }}px;
    height: {{ verification_icon_size_mobile }}px;
    object-fit: cover;
  }

  .reviews-verification-{{ section.id }} svg rect {
    fill: {{ verification_icon_bg_color }};
  }

  .reviews-verification-{{ section.id }} svg path {
    fill: {{ verification_icon_color }};
  }

  .reviews-author-{{ section.id }} {
    margin: 0;   
    text-transform: unset;
    word-wrap: break-word;
    font-size: {{ author_size_mobile }}px;
    line-height: {{ author_height }}%;
    color: {{ author_color }};
  }
  
  .reviews-btn-prev-{{ section.id }},
  .reviews-btn-next-{{ section.id }} {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-shrink: 0;
    z-index: 2;
    width: {{ arrow_size_mobile }}px;
    height: {{ arrow_size_mobile }}px;
    border: 0px;
    border: {{ arrow_border_thickness }}px solid {{ arrow_border_color }};
    border-radius: {{ arrow_radius }}px;
    background: transparent;
    background: {{ arrow_bg_color }};
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,.15); */
  }

  .reviews-btn-prev-{{ section.id }} {
    left: -{{ arrow_size_mobile | divided_by: 2 }}px;
  }

  .reviews-btn-next-{{ section.id }} {
    right: -{{ arrow_size_mobile | divided_by: 2 }}px;
  }

  .reviews-btn-prev-{{ section.id }} .animate-icon,
  .reviews-btn-next-{{ section.id }} .animate-icon {
    pointer-events: none;
    place-items: center;
    display: grid;
  }

  .reviews-btn-prev-{{ section.id }} .animate-icon:before,
  .reviews-btn-next-{{ section.id }} .animate-icon:before {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size_mobile }}px;
    height: {{ arrow_icon_size_mobile }}px;
    transform: rotate(calc(1 * 45deg));
    box-sizing: border-box;
    border-style: solid;
    border: 0px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    position: relative;
    left: -1px;
  }

  .reviews-btn-prev-{{ section.id }} .animate-icon:before {
    left: unset;
    right: -1px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid currentColor;
    border-left: 2px solid currentColor;
  }

  .reviews-btn-prev-{{ section.id }} .animate-icon:after,
  .reviews-btn-next-{{ section.id }} .animate-icon:after {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size_mobile | minus: 0.3 }}px;
    height: 1.6px;
    transform-origin: center;
    opacity: 0;
    background: currentColor;
    transform: scaleX(.5);
  }

  .reviews-btn-prev-{{ section.id }} span,
  .reviews-btn-next-{{ section.id }} span {
    color: {{ arrow_color }};
  }

  .reviews-btn-prev-{{ section.id }}.swiper-button-disabled,
  .reviews-btn-next-{{ section.id }}.swiper-button-disabled {
    opacity: 0.5;
  }

  .reviews-btn-prev-{{ section.id }}.swiper-button-lock,
  .reviews-btn-next-{{ section.id }}.swiper-button-lock {
    opacity: 0;
    pointer-events: none;
  }

  .review-pagination-{{ section.id }} {
    padding: {{ dots_mt }}px 0px;
    position: static !important;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .review-pagination-{{ section.id }} .swiper-pagination-bullet {
    width: {{ dots_size_mobile }}px;
    height: {{ dots_size_mobile }}px;
    border: 1px solid {{ dots_color }};
    background-color: transparent;
    opacity: 0.6;
  }

  .review-pagination-{{ section.id }} .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: {{ dots_color }}
  }

  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px !important;
      margin-bottom: {{ margin_bottom }}px !important;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .reviews-slide-{{ section.id }} {
      gap: {{ review_gap }}px;    
      padding: {{ review_padding_vertical }}px {{ review_padding_horizontal }}px !important;
    }

    .reviews-image-{{ section.id }} {
      width: {{ image_width }}px;
    }

    .reviews-stars-{{ section.id }} svg,
    .reviews-stars-{{ section.id }} img {
      width: {{ stars_size }}px;
      height: {{ stars_size }}px;
    }

    .reviews-text-{{ section.id }} {
      margin-top: {{ text_mt }}px;
    }

    .reviews-text-{{ section.id }} * {
      font-size: {{ text_size }}px;
    }

    .reviews-verification-{{ section.id }} {
      margin-top: {{ author_mt }}px;
    }

    .reviews-verification-{{ section.id }} svg {
      width: {{ verification_icon_size }}px;
      height: {{ verification_icon_size }}px;
    }

    .reviews-author-{{ section.id }} {
      font-size: {{ author_size }}px;
    }

    .reviews-btn-prev-{{ section.id }},
    .reviews-btn-next-{{ section.id }} {
      width: {{ arrow_size }}px;
      height: {{ arrow_size }}px;
      transition: all 0.25s ease 0s;
    }

    .reviews-btn-prev-{{ section.id }} .animate-icon:before,
    .reviews-btn-next-{{ section.id }} .animate-icon:before {
      width: {{ arrow_icon_size }}px;
      height: {{ arrow_icon_size }}px;
    }

    .reviews-btn-prev-{{ section.id }} .animate-icon:after,
    .reviews-btn-next-{{ section.id }} .animate-icon:after {
      width: {{ arrow_icon_size | minus: 0.3 }}px;
    }

    .reviews-btn-prev-{{ section.id }} {
      left: -{{ arrow_size | divided_by: 2 }}px;
    }

    .reviews-btn-next-{{ section.id }} {
      right: -{{ arrow_size | divided_by: 2 }}px;
    }

    .review-pagination-{{ section.id }} .swiper-pagination-bullet {
      width: {{ dots_size }}px;
      height: {{ dots_size }}px;
    }
  }
  
{%- endstyle -%}

{% if hide_on_mobile %}
<style>
  @media (max-width: 1023px) {
    .section-{{ section.id }} {
      display: none !important;
    }
  }
</style>
{% endif %}

{% if text_custom %}
  <style>
    .reviews-text-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if author_custom %}
  <style>
    .reviews-author-{{ section.id }} {
      font-family: {{ author_font.family }}, {{ author_font.fallback_families }};
      font-weight: {{ author_font.weight }};
      font-style: {{ author_font.style }};
    }
  </style>
{% endif %}

{% if arrow_hover_effect == "color" %}
  <style>
    .reviews-btn-prev-{{ section.id }}:hover,
    .reviews-btn-next-{{ section.id }}:hover {
      transition: all 0.3s ease 0s;
      border: {{ arrow_border_thickness }}px solid {{ arrow_border_hover_color }};
      background: {{ arrow_bg_hover_color }};
    }
  
    .reviews-btn-prev-{{ section.id }}:hover .animate-icon,
    .reviews-btn-next-{{ section.id }}:hover .animate-icon {
      color: {{ arrow_hover_color }};
    }
  </style>
{% elsif arrow_hover_effect == "scale" %}
  <style>
    .reviews-btn-prev-{{ section.id }}:hover,
    .reviews-btn-next-{{ section.id }}:hover {
      transform: scale(0.9) translateY(-50%);
    }

    @media(min-width: 1024px) {
      .reviews-btn-prev-{{ section.id }}:hover,
      .reviews-btn-next-{{ section.id }}:hover {
        transform: scale(0.9) translateY(-50%);
      }
    }
  </style>
{% elsif arrow_hover_effect == "arrow" %}
  <style>
    .reviews-btn-next-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
  
    .reviews-btn-prev-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(-1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
    
    .reviews-btn-prev-{{ section.id }}:hover .animate-icon:after,
    .reviews-btn-next-{{ section.id }}:hover .animate-icon:after {
      opacity: 1;
      transform: scaleX(1);
    }
  </style>
{% endif %}

{% if arrow_show_mobile %}
  <style>
    .reviews-btn-prev-{{ section.id }},
    .reviews-btn-next-{{ section.id }} {
      display: flex;
    }
  </style>
{% else %}
  <style>
    .reviews-btn-prev-{{ section.id }},
    .reviews-btn-next-{{ section.id }} {
      display: none;
    }
  </style>
{% endif %}

{% if arrow_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .reviews-btn-prev-{{ section.id }},
      .reviews-btn-next-{{ section.id }} {
        display: flex;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .reviews-btn-prev-{{ section.id }},
      .reviews-btn-next-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if dots_show_mobile %}
  <style>
    .review-pagination-{{ section.id }} {
      display: flex !important;
    }
  </style>
{% else %}
  <style>
    .review-pagination-{{ section.id }} {
      display: none !important;
    }
  </style>
{% endif %}

{% if dots_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .review-pagination-{{ section.id }} {
        display: flex !important;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .review-pagination-{{ section.id }} {
        display: none !important;
      }
    }
  </style>
{% endif %}

<script>
(function () {
  function moreLoadProductForm() {
    var productForm = document.querySelector('#ss-product-reviews-3');
    if (!productForm) { 
      var isMobile = window.innerWidth < 1024;
      
      // Don't insert on mobile if hide_on_mobile is true
      if (isMobile && {% if hide_on_mobile %}true{% else %}false{% endif %}) {
        return;
      }
      
      var positionSelector = isMobile ? 
        `{% if reviews_position_mobile == "below_title" or reviews_position_mobile == "above_title" %}.product__title{% elsif reviews_position_mobile == "below_description" or reviews_position_mobile == "above_description" %}.product__description{% elsif reviews_position_mobile == "below_price" %}.price.price--large.price--show-badge{% elsif reviews_position_mobile == 'below_image' %}.slider-mobile-gutter{% else %}.button--add-to-cart, .product .product-form, .product-single__add-to-cart, .shopify-payment-button, .shopify-payment-button__button, .ProductForm__BuyButtons, .add-to-cart{% endif %}`
        : `{% if reviews_position == "below_title" or reviews_position == "above_title" %}.product__title{% elsif reviews_position == "below_description" or reviews_position == "above_description" %}.product__description{% elsif reviews_position == "below_price" %}.price.price--large.price--show-badge{% elsif reviews_position == 'below_image' %}.slider-mobile-gutter{% else %}.button--add-to-cart, .product .product-form, .product-single__add-to-cart, .shopify-payment-button, .shopify-payment-button__button, .ProductForm__BuyButtons, .add-to-cart{% endif %}`;
      
      var productForm = document.querySelector(positionSelector);
      if (!productForm) return;
    }
    const templateContent = document.querySelector(
      '#ss-product-reviews-3-{{ section.id }}'
    ).content;
  
    var insertPosition = isMobile ? 
      `{% if reviews_position_mobile == "below_buy" or reviews_position_mobile == "below_title" or reviews_position_mobile == "below_description" or reviews_position_mobile == "below_price" or reviews_position_mobile == 'below_image' %}afterend{% else %}beforebegin{% endif %}`
      : `{% if reviews_position == "below_buy" or reviews_position == "below_title" or reviews_position == "below_description" or reviews_position == "below_price" or reviews_position == 'below_image' %}afterend{% else %}beforebegin{% endif %}`;
  
    productForm.insertAdjacentElement(insertPosition, templateContent.firstElementChild);
  }
  
  window.addEventListener('DOMContentLoaded', moreLoadProductForm);
  window.addEventListener('resize', moreLoadProductForm);
})();

</script>

<template id="ss-product-reviews-3-{{ section.id }}">
  <div class="section-{{ section.id }} reviews-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="reviews-slider-wrapper-{{ section.id }}">
        <div class="reviews-slider-{{ section.id }} swiper">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="reviews-slide-{{ section.id }} swiper-slide">
                <div class="reviews-image-{{ section.id }}">
                  {% if block.settings.image != blank %}
                    {%- liquid assign img_alt = block.settings.image.alt | escape -%}
                    {%- capture sizes -%}, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}
                      {{ block.settings.image | image_url: width: 1000 | image_tag:
                        loading: loading_attribute,
                        width: block.settings.image.width,
                        height: block.settings.image.height,
                        sizes: sizes,
                        widths: '450, 535, 750, 1070, 1500',
                        alt: img_alt
                      }}
                  {% else %}
                    {{ 'image' | placeholder_svg_tag }}
                  {% endif %}
                </div>
                <div class="reviews-content-{{ section.id }}">
                  {% if block.settings.stars_count %}
                    <div class="reviews-stars-{{ section.id }}">
                      {% if stars_icon != blank %}
                        {% assign stars_count_round = block.settings.stars_count | round: 0 %}
                        {% for item in (1..stars_count_round) %}
                            {%- liquid assign img_alt = stars_icon.alt | escape -%}
                            {%- capture sizes -%}, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}
                              {{ stars_icon | image_url: width: 1000 | image_tag:
                                loading: loading_attribute,
                                width: stars_icon.width,
                                height: stars_icon.height,
                                sizes: sizes,
                                widths: '450, 535, 750, 1070, 1500',
                                alt: img_alt
                              }}
                        {% endfor %}
                      {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                          {% if block.settings.stars_count > 0 and block.settings.stars_count < 1  %}
                            <defs>
                              <linearGradient id="grad{{ section.id }}6">
                                <stop offset="0%" stop-color="{{ stars_color }}" />
                                <stop offset="50%" stop-color="{{ stars_color }}" />
                                <stop offset="50%" stop-color="transparent" />
                                <stop offset="100%" stop-color="transparent" />
                              </linearGradient>
                            </defs>
                          {% endif %}
                          <path {% if block.settings.stars_count > 0 and block.settings.stars_count < 1 %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 0 and block.settings.stars_count < 1 %}url(#grad{{ section.id }}6){% elsif block.settings.stars_count > 0.5 %}{{ stars_color }}{% endif %}"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                          {% if block.settings.stars_count > 1 and block.settings.stars_count < 2  %}
                            <defs>
                              <linearGradient id="grad{{ section.id }}7">
                                <stop offset="0%" stop-color="{{ stars_color }}" />
                                <stop offset="50%" stop-color="{{ stars_color }}" />
                                <stop offset="50%" stop-color="transparent" />
                                <stop offset="100%" stop-color="transparent" />
                              </linearGradient>
                            </defs>
                          {% endif %}
                          <path {% if block.settings.stars_count > 1 and block.settings.stars_count < 2 %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 1 and block.settings.stars_count < 2 %}url(#grad{{ section.id }}7){% elsif block.settings.stars_count > 1.5 %}{{ stars_color }}{% endif %}"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                          {% if block.settings.stars_count > 2 and block.settings.stars_count < 3  %}
                            <defs>
                              <linearGradient id="grad{{ section.id }}8">
                                <stop offset="0%" stop-color="{{ stars_color }}" />
                                <stop offset="50%" stop-color="{{ stars_color }}" />
                                <stop offset="50%" stop-color="transparent" />
                                <stop offset="100%" stop-color="transparent" />
                              </linearGradient>
                            </defs>
                          {% endif %}
                          <path {% if block.settings.stars_count > 2 and block.settings.stars_count < 3 %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 2 and block.settings.stars_count < 3 %}url(#grad{{ section.id }}8){% elsif block.settings.stars_count > 2.5 %}{{ stars_color }}{% endif %}"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                          {% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}
                            <defs>
                              <linearGradient id="grad{{ section.id }}9">
                                <stop offset="0%" stop-color="{{ stars_color }}" />
                                <stop offset="50%" stop-color="{{ stars_color }}" />
                                <stop offset="50%" stop-color="transparent" />
                                <stop offset="100%" stop-color="transparent" />
                              </linearGradient>
                            </defs>
                          {% endif %}
                          <path {% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}url(#grad{{ section.id }}9){% elsif block.settings.stars_count > 3.5 %}{{ stars_color }}{% endif %}"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                          {% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}
                            <defs>
                              <linearGradient id="grad{{ section.id }}10">
                                <stop offset="0%" stop-color="{{ stars_color }}" />
                                <stop offset="50%" stop-color="{{ stars_color }}" />
                                <stop offset="50%" stop-color="transparent" />
                                <stop offset="100%" stop-color="transparent" />
                              </linearGradient>
                            </defs>
                          {% endif %}
                          <path {% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}url(#grad{{ section.id }}10){% elsif block.settings.stars_count > 4.5 %}{{ stars_color }}{% endif %}"></path>
                        </svg>
                      {% endif %}
                    </div>   
                  {% endif %}
                  {% if block.settings.text != blank %}
                    <div class="reviews-text-{{ section.id }}">{{ block.settings.text }}</div>
                  {% endif %}
                  {% if block.settings.author != blank %}
                    <div class="reviews-verification-{{ section.id }}">
                      {% unless hide_icon %}
                        <svg data-id="516935417300255894" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                          <rect width="21" height="21" rx="10.5" fill="#31B311"></rect>
                          <path d="M14.2133 6.71553C14.3894 6.5479 14.6237 6.45522 14.8668 6.45706C15.1099 6.4589 15.3428 6.55511 15.5164 6.72539C15.6899 6.89568 15.7905 7.12671 15.7969 7.36975C15.8033 7.61279 15.7151 7.84882 15.5508 8.02803L10.5633 14.2655C10.4775 14.3579 10.374 14.432 10.259 14.4835C10.1439 14.5349 10.0196 14.5627 9.89362 14.565C9.7676 14.5673 9.6424 14.5442 9.5255 14.4971C9.40861 14.4499 9.30243 14.3797 9.21331 14.2905L5.90581 10.983C5.8137 10.8972 5.73982 10.7937 5.68858 10.6787C5.63734 10.5637 5.60979 10.4396 5.60757 10.3137C5.60535 10.1878 5.6285 10.0628 5.67565 9.94604C5.72281 9.8293 5.79299 9.72326 5.88201 9.63424C5.97103 9.54521 6.07708 9.47503 6.19381 9.42788C6.31055 9.38073 6.43558 9.35757 6.56146 9.3598C6.68734 9.36202 6.81148 9.38957 6.92648 9.44081C7.04148 9.49205 7.14498 9.56593 7.23081 9.65803L9.84831 12.2743L14.1896 6.74304C14.1974 6.73341 14.2057 6.72423 14.2146 6.71553H14.2133Z" fill="white"></path>
                        </svg>
                      {% endunless %}                  
                      <p class="reviews-author-{{ section.id }}">{{ block.settings.author }}</p>
                    </div>
                  {% endif %}             
                </div>
              </div>
            {% endfor %}
          </div>         
        </div>
        <div class="review-pagination-{{ section.id }} swiper-pagination"></div>
        <button class="reviews-btn-prev-{{ section.id }}">
          <span class="animate-icon"></span>
        </button>
        <button class="reviews-btn-next-{{ section.id }}">
          <span class="animate-icon"></span>
        </button>  
      </div>    
    </div>
  </div>
</template>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  function initProductReviews3() {
    setTimeout(() => {
      const slider = new Swiper('.reviews-slider-{{ section.id }}', {
        speed: 300,
        slidesPerView: 1,
        spaceBetween: 20,
        navigation: {
          nextEl: '.reviews-btn-next-{{ section.id }}',
          prevEl: '.reviews-btn-prev-{{ section.id }}'
        },
        pagination: {
          el: '.review-pagination-{{ section.id }}',
          type: 'bullets',
          clickable: true,
        },
      })
    }, 400)
  }
  
  document.addEventListener('DOMContentLoaded', initProductReviews3);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initProductReviews3);
     document.addEventListener('shopify:section:load', initProductReviews3);
  }
</script>

{% schema %}
  {
    "name": "SS - Product reviews #3",
    "settings": [
      {
        "type": "header",
        "content": "⚠️ Save settings to view updates",
        "info":"Learn how to add snippet sections with [this tutorial](https://section-store.helpscoutdocs.com/article/10-adding-product-page-snippets)",
      },
      {
        "type": "header",
        "content": "Metafields",
        "info": "Learn how to include dynamic content per product with [this tutorial](https://section-store.helpscoutdocs.com/article/17-dynamic-content-settings-per-product)"
      },
      {
        "type": "header",
        "content": "Custom placement",
        "info": "Copy this code: <div id='ss-product-reviews-3'></div> - Click 'Add block' -> Custom Liquid/HTML -> Paste."
      },
      {
        "type": "select",
        "id": "reviews_position",
        "label": "Position",
        "default": "below_image",
        "options": [
          {
            "label": "Above buy buttons",
            "value": "above_buy"
          },
          {
            "label": "Below buy buttons",
            "value": "below_buy"
          },
          {
            "label": "Above product title",
            "value": "above_title"
          },
          {
            "label": "Below product title",
            "value": "below_title"
          },
          {
            "label": "Above product description",
            "value": "above_description"
          },
          {
            "label": "Below product description",
            "value": "below_description"
          },
          {
            "label": "Below price",
            "value": "below_price"
          },
          {
            "label": "Below image",
            "value": "below_image"
          }
        ]
      },
      {
        "type": "select",
        "id": "reviews_position_mobile",
        "label": "Position - mobile",
        "default": "below_image",
        "options": [
          {
            "label": "Above buy buttons",
            "value": "above_buy"
          },
          {
            "label": "Below buy buttons",
            "value": "below_buy"
          },
          {
            "label": "Above product title",
            "value": "above_title"
          },
          {
            "label": "Below product title",
            "value": "below_title"
          },
          {
            "label": "Above product description",
            "value": "above_description"
          },
          {
            "label": "Below product description",
            "value": "below_description"
          },
          {
            "label": "Below price",
            "value": "below_price"
          },
          {
            "label": "Below image",
            "value": "below_image"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "hide_on_mobile",
        "label": "Hide on mobile",
        "default": false,
        "info": "When checked, the reviews section will be hidden on mobile devices"
      },
      {
        "type": "header",
        "content": "Notice",
        "info": "Section position might show wrong in theme editor when changing from mobile/desktop. Please refresh."
      },
      {
        "type": "header",
        "content": "Layout"
      },    
      {
        "type": "range",
        "id": "review_padding_horizontal",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal",
        "default": 20
      },
      {
        "type": "range",
        "id": "review_padding_horizontal_mobile",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal - mobile",
        "default": 12
      },  
      {
        "type": "range",
        "id": "review_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 20
      },
      {
        "type": "range",
        "id": "review_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 16
      }, 
      {
        "type": "range",
        "id": "review_gap",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Gap",
        "default": 16
      },
      {
        "type": "range",
        "id": "review_gap_mobile",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Gap - mobile",
        "default": 10
      }, 
      {
        "type": "range",
        "id": "review_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 12
      },
      {
        "type": "range",
        "id": "review_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 1
      },
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "range",
        "id": "image_width",
        "min": 40,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Width",
        "default": 100
      },
      {
        "type": "range",
        "id": "image_width_mobile",
        "min": 40,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Width - mobile",
        "default": 60
      },
      {
        "type": "range",
        "id": "image_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 100
      },
      {
        "type": "range",
        "id": "image_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "header",
        "content": "Stars"
      },
      {
        "type": "image_picker",
        "label": "Stars icon",
        "id": "stars_icon",
        "info": "Replaces the default stars icon"
      },
      {
        "type": "range",
        "id": "stars_size",
        "min": 10,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Size",
        "default": 14
      },
      {
        "type": "range",
        "id": "stars_size_mobile",
        "min": 10,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Size - mobile",
        "default": 14
      },
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "checkbox",
        "id": "text_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "text_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 13
      },
      {
        "type": "range",
        "id": "text_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 12
      },    
      {
        "type": "range",
        "id": "text_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 150
      },   
      {
        "type": "range",
        "id": "text_mt",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Margin top",
        "default": 12
      },
      {
        "type": "range",
        "id": "text_mt_mobile",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 8
      },
      {
        "type": "header",
        "content": "Verification icon"
      },
      {
        "type": "range",
        "id": "verification_icon_size",
        "min": 10,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Size",
        "default": 18
      },
      {
        "type": "range",
        "id": "verification_icon_size_mobile",
        "min": 10,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Size - mobile",
        "default": 16
      },
      {
        "type": "checkbox",
        "id": "hide_icon",
        "label": "Hide icon"
      },
      {
        "type": "header",
        "content": "Author"
      },
      {
        "type": "checkbox",
        "id": "author_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "author_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "author_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 13
      },
      {
        "type": "range",
        "id": "author_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 12
      },    
      {
        "type": "range",
        "id": "author_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      },   
      {
        "type": "range",
        "id": "author_mt",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Margin top",
        "default": 16
      },
      {
        "type": "range",
        "id": "author_mt_mobile",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 12
      },
      {
        "type": "header",
        "content": "Arrows"
      },
      {
        "type": "range",
        "id": "arrow_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size",
        "default": 32
      },
      {
        "type": "range",
        "id": "arrow_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size - mobile",
        "default": 24
      },
      {
        "type": "range",
        "id": "arrow_icon_size",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Icon size",
        "default": 8
      },
      {
        "type": "range",
        "id": "arrow_icon_size_mobile",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Icon size - mobile",
        "default": 6
      },
      {
        "type": "range",
        "id": "arrow_border_thickness",
        "min": 0,
        "max": 10,
        "step": 0.5,
        "unit": "px",
        "label": "Border thickness",
        "default": 1
      },
      {
        "type": "range",
        "id": "arrow_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 100
      },
      {
        "type": "select",
        "id": "arrow_hover_effect",
        "label": "Hover effect",
        "default": "color",
        "options": [
          {
            "label": "Change color",
            "value": "color"
          },
          {
            "label": "Change size",
            "value": "scale"
          },
          {
            "label": "Change arrow",
            "value": "arrow"
          },
          {
            "label": "None",
            "value": "none"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "arrow_show_desktop",
        "label": "Show on desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "arrow_show_mobile",
        "label": "Show on mobile",
        "default": false
      },
      {
        "type": "header",
        "content": "Dots"
      },
      {
        "type": "range",
        "id": "dots_size",
        "min": 5,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Size",
        "default": 10
      },
      {
        "type": "range",
        "id": "dots_size_mobile",
        "min": 5,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Size - mobile",
        "default": 10
      },
      {
        "type": "range",
        "id": "dots_mt",
        "min": 5,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Margin top",
        "default": 12
      },
      {
        "type": "checkbox",
        "id": "dots_show_desktop",
        "label": "Show on desktop",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "dots_show_mobile",
        "label": "Show on mobile",
        "default": true
      },
      {
        "type": "header",
        "content": "Review colors"
      },
      {
        "type": "color",
        "label": "Stars",
        "id": "stars_color",
        "default": "#121212"
      }, 
      {
        "type": "color",
        "label": "Text",
        "id": "text_color",
        "default": "#121212"
      }, 
      {
        "type": "color",
        "label": "Verification icon background",
        "id": "verification_icon_bg_color",
        "default": "#31B211"
      }, 
      {
        "type": "color",
        "label": "Verification icon",
        "id": "verification_icon_color",
        "default": "#FFFFFF"
      }, 
      {
        "type": "color",
        "label": "Author",
        "id": "author_color",
        "default": "#121212"
      }, 
      {
        "type": "color",
        "label": "Image border",
        "id": "image_border_color",
        "default": "#121212"
      },     
      {
        "type": "color",
        "label": "Background",
        "id": "review_bg_color",
        "default": "#F7F7F7"
      }, 
      {
        "type": "color",
        "label": "Border",
        "id": "review_border_color",
        "default": "#E6E6E6"
      },    
      {
        "type": "header",
        "content": "Navigation colors"
      },
      {
        "type": "color",
        "label": "Arrow icon",
        "id": "arrow_color",
        "default": "#7B7B7B"
      },
      {
        "type": "color",
        "label": "Arrow icon hover",
        "id": "arrow_hover_color",
        "default": "#7B7B7B"
      },
      {
        "type": "color",
        "label": "Arrow background",
        "id": "arrow_bg_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Arrow background hover",
        "id": "arrow_bg_hover_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Arrow border",
        "id": "arrow_border_color",
        "default": "#EAEAEA"
      },
      {
        "type": "color",
        "label": "Arrow border hover",
        "id": "arrow_border_hover_color",
        "default": "#C7C7C7"
      },
      {
        "type": "color",
        "label": "Dots",
        "id": "dots_color",
        "default": "#121212"
      },
      {
        "type": "header",
        "content": "Section colors"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient",
        "info": "Remove gradient to replace with solid colors"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#121212"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": -20,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": -20,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 16
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 0
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 0
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section"
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "review",
        "name": "Review",
        "settings": [
          {
            "type": "range",
            "id": "stars_count",
            "min": 0,
            "max": 5,
            "step": 0.5,
            "label": "Stars rating",
            "default": 5
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "info": "For best results, keep the word count similar in each quote.",
            "default": "<p>Add customer reviews and testimonials to highlight the positive experiences they’ve had with your store.</p>"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }       
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Product reviews #3",
        "blocks": [
          {
            "type": "review"
          },
          {
            "type": "review"
          }
        ]
      }
    ]
  }
{% endschema %}