{% comment %}
---------------------------------------------------------
Copyright © 2023 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

{%- liquid 
  assign lazy = section.settings.lazy

  assign start_popup = section.settings.start_popup
  assign hide_message = section.settings.hide_message
  assign send_message = section.settings.send_message
  assign loop_messages = section.settings.loop_messages

  assign bar_horizontal_position = section.settings.bar_horizontal_position
  assign bar_vertical_position_mobile = section.settings.bar_vertical_position_mobile
  assign bar_vertical_position = section.settings.bar_vertical_position
  assign bar_horizontal_offset_mobile = section.settings.bar_horizontal_offset_mobile
  assign bar_horizontal_offset = section.settings.bar_horizontal_offset
  assign bar_vertical_offset_mobile = section.settings.bar_vertical_offset_mobile
  assign bar_vertical_offset = section.settings.bar_vertical_offset
  assign bar_width = section.settings.bar_width
  assign bar_space = section.settings.bar_space

  assign item_padding_vertical = section.settings.item_padding_vertical
  assign item_padding_vertical_mobile = section.settings.item_padding_vertical_mobile
  assign item_padding_horizontal = section.settings.item_padding_horizontal
  assign item_padding_horizontal_mobile = section.settings.item_padding_horizontal_mobile
  assign item_radius = section.settings.item_radius
  assign item_border_thickness = section.settings.item_border_thickness
  assign item_border_color = section.settings.item_border_color
  assign item_bg_color = section.settings.item_bg_color
  assign item_shadow = section.settings.item_shadow
  assign item_bg_gradient = section.settings.item_bg_gradient
  assign item_gap = section.settings.item_gap
  assign item_blur = section.settings.item_blur
  assign item_animation = section.settings.item_animation

  assign image_size_mobile = section.settings.image_size_mobile
  assign image_size = section.settings.image_size
  assign image_radius = section.settings.image_radius
  assign hide_image = section.settings.hide_image
  assign image_vertical_align_mobile = section.settings.image_vertical_align_mobile
  assign image_vertical_align = section.settings.image_vertical_align

  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_color = section.settings.title_color
  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_height = section.settings.title_height
  assign title_mt = section.settings.title_mt

  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_color = section.settings.text_color
  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_height = section.settings.text_height
  assign text_mt = section.settings.text_mt

  assign date_size = section.settings.date_size
  assign date_size_mobile = section.settings.date_size_mobile
  assign date_color = section.settings.date_color
  assign date_custom = section.settings.date_custom
  assign date_font = section.settings.date_font
  assign date_height = section.settings.date_height

  assign stars_icon = section.settings.stars_icon
  assign stars_size = section.settings.stars_size
  assign stars_color = section.settings.stars_color
  
-%}

{%- style -%}

  {{  title_font | font_face: font_display: 'swap' }}
  {{  text_font | font_face: font_display: 'swap' }}
  {{  date_font | font_face: font_display: 'swap' }}
  
  .notifications-body-{{ section.id }} {
    position: fixed;
    z-index: 999;
    width: 100%;
    max-width: calc(100% - {{ bar_horizontal_offset_mobile | times: 2 }}px);
    left: {{ bar_horizontal_offset_mobile }}px;
    right: {{ bar_horizontal_offset_mobile }}px;
    overflow: hidden;
    padding: 10px;
  }

  .notifications-item-{{ section.id }} {
    max-height: 0px;
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: {{ item_gap }}px;
    padding-left: {{ item_padding_horizontal_mobile }}px;
    padding-right: {{ item_padding_horizontal_mobile }}px;
    border-radius: {{ item_radius }}px;
    background-color: {{ item_bg_color }};
    box-sizing: border-box !important; 
    overflow: hidden;
  }

  .notifications-item-{{ section.id }}.active {
    transform: translateY(0px);
    border: {{ item_border_thickness }}px solid {{ item_border_color }};
    max-height: 100vh;
    padding-top: {{ item_padding_vertical_mobile }}px;
    padding-bottom: {{ item_padding_vertical_mobile }}px;
  }

  .notifications-image-{{ section.id }} {
    flex: 0 0 {{ image_size_mobile }}px;
    height: {{ image_size_mobile }}px;
    border-radius: {{ image_radius }}px;
    overflow: hidden;
    align-self: {{ image_vertical_align_mobile }};
  }

  .notifications-image-{{ section.id }} img,
  .notifications-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .notifications-title-{{ section.id }} {
    margin: 0;
    margin-top: {{ title_mt | times: 0.75 | round: 0 }}px;
    font-size: {{ title_size_mobile }}px;
    color: {{ title_color }};
    line-height: {{ title_height }}%;
    text-transform: unset;
    font-weight: 700;
  }

  .notifications-text-{{ section.id }} {
    margin: 0;
    margin-top: {{ text_mt | times: 0.75 | round: 0 }}px;
    font-size: {{ text_size_mobile }}px;
    color: {{ text_color }};
    line-height: {{ text_height }}%;
    text-transform: unset;
  }

  .notifications-date-{{ section.id }} {
    margin: 0;
    margin-left: auto;
    font-size: {{ date_size_mobile }}px;
    color: {{ date_color }};
    line-height: {{ date_height }}%;
    text-transform: unset;
    font-weight: 700;
  }

  .notifications-item-hide-mobile-{{ section.id }} {
    display: none !important;
  }

  .notifications-stars-{{ section.id }} {
    display: flex;
    align-items: center;
    gap: 1px;
  }

  .notifications-stars-{{ section.id }} svg,
  .notifications-stars-{{ section.id }} img {
    display: block;
    width: {{ stars_size }}px;
    height: {{ stars_size }}px;
    object-fit: cover;
  }
  
  @media(min-width: 1024px) {

    .notifications-body-{{ section.id }} {
      max-width: {{ bar_width }}px;
    }

    .notifications-item-{{ section.id }} {
      padding-left: {{ item_padding_horizontal }}px;
      padding-right: {{ item_padding_horizontal }}px;
    }

    .notifications-item-{{ section.id }}.active {
      padding-top: {{ item_padding_vertical }}px;
      padding-bottom: {{ item_padding_vertical }}px;
    }

    .notifications-image-{{ section.id }} {
      flex: 0 0 {{ image_size }}px;
      height: {{ image_size }}px;
      align-self: {{ image_vertical_align }};
    }

    .notifications-title-{{ section.id }} {
      margin-top: {{ title_mt }}px;
      font-size: {{ title_size }}px;
    }

    .notifications-text-{{ section.id }} {
      margin-top: {{ text_mt }}px;
      font-size: {{ text_size }}px;
    }

    .notifications-date-{{ section.id }} {
      font-size: {{ date_size }}px;
    }

    .notifications-item-hide-mobile-{{ section.id }} {
      display: flex !important;
    }
    
  }
  
{%- endstyle -%}

{% if title_custom %}
  <style>
    .notifications-title-{{ section.id }} {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .notifications-text-{{ section.id }} {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if date_custom %}
  <style>
    .notifications-date-{{ section.id }} {
      font-family: {{ date_font.family }}, {{ date_font.fallback_families }};
      font-weight: {{ date_font.weight }};
      font-style: {{ date_font.style }};
    }
  </style>
{% endif %}

{% if bar_horizontal_position == "left" %}
  <style>
    @media(min-width: 1024px) {
      .notifications-body-{{ section.id }} {
        left: {{ bar_horizontal_offset }}px;
        right: unset !important;
      } 
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .notifications-body-{{ section.id }} {
        left: unset !important;
        right: {{ bar_horizontal_offset }}px;
      } 
    }
  </style>
{% endif %}

{% if bar_vertical_position_mobile == "top" %}
  <style>
    .notifications-body-{{ section.id }} {
      top: {{ bar_vertical_offset_mobile }}px;
    }
    
    .notifications-item-{{ section.id }}.active:not(:last-child) {
      margin-bottom: {{ bar_space | times: 0.75 | round: 0 }}px;
    }
  </style>
{% else %}
  <style>
    .notifications-body-{{ section.id }} {
      bottom: {{ bar_vertical_offset_mobile }}px;
    }
    
    .notifications-item-{{ section.id }}.active:not(:first-child) {
      margin-top: {{ bar_space | times: 0.75 | round: 0 }}px;
    }
  </style>
{% endif %}

{% if bar_vertical_position == "top" %}
  <style>
    
    @media(min-width: 1024px) {
      .notifications-body-{{ section.id }} {
        top: {{ bar_vertical_offset }}px;
        bottom: unset;
      }

      .notifications-item-{{ section.id }}.active:not(:last-child) {
        margin-bottom: {{ bar_space }}px;
        margin-top: 0px;
      }
    }
  </style>
{% else %}
  <style>
    
    @media(min-width: 1024px) {
      .notifications-body-{{ section.id }} {
        top: unset;
        bottom: {{ bar_vertical_offset }}px;
      }

      .notifications-item-{{ section.id }}.active:not(:first-child) {
        margin-top: {{ bar_space }}px;
        margin-bottom: 0px;
      }
    }
  </style>
{% endif %}

{% if item_shadow %}
  <style>
    .notifications-item-{{ section.id }} {
      box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    }
  </style>
{% endif %}

{% if item_blur %}
  <style>
    .notifications-item-{{ section.id }} {
      opacity: 0.8;
    }
  </style>
{% endif %}

{% if item_bg_gradient != blank %}
  <style>
    .notifications-item-{{ section.id }} {
      background-image: {{ item_bg_gradient }};
      opacity: 0.8;
    }
  </style>
{% endif %}

{% if item_animation != blank %}
  <style>

    .notifications-item-{{ section.id }} {
      transition: all 0.3s linear 0s;
    }

    .notifications-item-{{ section.id }}.active {
      transition: all 0.3s linear 0s;
    }

    .notifications-item-{{ section.id }}.active {
      transform: translateY(0);
    }
  </style>

  {% if bar_vertical_position_mobile == "top" %}
    <style>
      .notifications-item-{{ section.id }} {
        transform: translateY(-100%);
      }
    </style>
  {% else %}
    <style>
      .notifications-item-{{ section.id }} {
        transform: translateY(100%);
      }
    </style>
  {% endif %}

  {% if bar_vertical_position == "top" %}
    <style>
      @media(min-width: 1024px) {
         .notifications-item-{{ section.id }} {
          transform: translateY(-100%);
        } 
      }
    </style>
  {% else %}
    <style>
      @media(min-width: 1024px) {
         .notifications-item-{{ section.id }} {
          transform: translateY(100%);
        } 
      }
    </style>
  {% endif %}
{% endif %}

{% capture svg_example_1 %}
 <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="60" height="60" viewBox="0 0 120 120"><polygon points="84,21 74,11 60,27.64 46,11 36,21 54.464,36.535 60,31 65.536,36.535" opacity=".35"></polygon><rect width="84" height="72" x="18" y="34" opacity=".35"></rect><polygon fill="#ffc400" points="65.536,32.535 58.464,25.465 74,7 84,17"></polygon><polygon fill="#ffc400" points="54.464,32.535 36,17 46,7 61.536,25.465"></polygon><rect width="84" height="72" x="18" y="30" fill="#ff1200"></rect><rect width="94" height="19" x="13" y="28" opacity=".35"></rect><rect width="94" height="19" x="13" y="24" fill="#ff7461"></rect><rect width="16" height="78" x="52" y="24" fill="#ffc400"></rect></svg>
  {% endcapture %}
{% capture svg_example_2 %}
<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="60" height="60" viewBox="0 0 120 120"><rect width="10" height="4" x="91" y="96" opacity=".35"></rect><circle cx="98" cy="52" r="14" fill="#0037ff"></circle><circle cx="98" cy="56" r="14" opacity=".35"></circle><circle cx="98" cy="52" r="14" fill="#0037ff"></circle><rect width="12" height="14" x="37" y="68" opacity=".35"></rect><rect width="12" height="14" x="37" y="64" fill="#ff1200"></rect><polygon points="46,106 30.775,111.8 21.775,67.8 38,71" opacity=".35"></polygon><polygon fill="#0037ff" points="46,102 30,108 21,64 38,67"></polygon><path d="M49,41H23c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h26l42,24V17L49,41z" opacity=".35"></path><path fill="#0075ff" d="M49,67H23c-8.284,0-15-6.716-15-15v0c0-8.284,6.716-15,15-15h26V67z"></path><polygon fill="#a4e2f1" points="91,91 49,67 49,37 91,13"></polygon><rect width="10" height="88" x="91" y="8" fill="#0075ff"></rect></svg>
  {% endcapture %}
{% capture svg_example_3 %}
 <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="60" height="60" viewBox="0 0 120 120"><polygon points="113,65 101.545,76.136 105.904,91.508 90.405,95.406 86.507,110.905 71.136,106.545 60,118 48.864,106.545 33.492,110.904 29.594,95.405 14.095,91.507 18.455,76.136 7,65 18.455,53.864 14.096,38.492 29.595,34.594 33.493,19.095 48.864,23.455 60,12 71.136,23.455 86.508,19.096 90.406,34.595 105.905,38.493 101.545,53.864" opacity=".35"></polygon><polygon fill="#ff1200" points="113,60 101.545,71.136 105.904,86.508 90.405,90.406 86.507,105.905 71.136,101.545 60,113 48.864,101.545 33.492,105.904 29.594,90.405 14.095,86.507 18.455,71.136 7,60 18.455,48.864 14.096,33.492 29.595,29.594 33.493,14.095 48.864,18.455 60,7 71.136,18.455 86.508,14.096 90.406,29.595 105.905,33.493 101.545,48.864"></polygon><path d="M44.746,39c6.986,0,12.372,5.13,12.372,12.63c0,7.37-5.386,12.563-12.372,12.563s-12.5-5.13-12.5-12.563 C32.246,44.13,37.76,39,44.746,39z M50.45,51.63c0-4.165-2.884-6.409-5.705-6.409c-2.884,0-5.77,2.244-5.77,6.409 c0,4.04,2.821,6.409,5.77,6.409C47.567,58.04,50.45,55.67,50.45,51.63z M71.859,40.153h7.821L48.206,87.909h-7.818L71.859,40.153z M75.385,63.744c6.986,0,12.37,5.125,12.37,12.625c0,7.437-5.384,12.63-12.37,12.63s-12.5-5.193-12.5-12.63 C62.885,68.87,68.399,63.744,75.385,63.744z M75.385,82.784c2.821,0,5.705-2.312,5.705-6.414c0-4.165-2.884-6.341-5.705-6.341 c-2.884,0-5.77,2.176-5.77,6.341C69.615,80.472,72.436,82.784,75.385,82.784z" opacity=".35"></path><path fill="#fff" d="M44.746,35c6.986,0,12.372,5.13,12.372,12.63c0,7.37-5.386,12.563-12.372,12.563 s-12.5-5.13-12.5-12.563C32.246,40.13,37.76,35,44.746,35z M50.45,47.63c0-4.165-2.884-6.409-5.705-6.409 c-2.884,0-5.77,2.244-5.77,6.409c0,4.04,2.821,6.409,5.77,6.409C47.567,54.04,50.45,51.67,50.45,47.63z M71.859,36.153h7.821 L48.206,83.909h-7.818L71.859,36.153z M75.385,59.744c6.986,0,12.37,5.125,12.37,12.625c0,7.437-5.384,12.63-12.37,12.63 s-12.5-5.193-12.5-12.63C62.885,64.87,68.399,59.744,75.385,59.744z M75.385,78.784c2.821,0,5.705-2.312,5.705-6.414 c0-4.165-2.884-6.341-5.705-6.341c-2.884,0-5.77,2.176-5.77,6.341C69.615,76.472,72.436,78.784,75.385,78.784z"></path></svg>
{% endcapture %}
{% capture svg_example_4 %}
  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="60" height="60" viewBox="0 0 120 120"><circle cx="50" cy="102.999" r="10" opacity=".35"></circle><circle cx="86" cy="102.999" r="10" opacity=".35"></circle><polygon points="101,93.999 36.5,93.999 24.5,24.999 8,24.999 8,14.999 32.205,14.999 44.205,83.999 101,83.999" opacity=".35"></polygon><polygon points="100.067,72.999 35,72.999 29,27.999 111.067,27.999" opacity=".35"></polygon><polygon fill="#44bf00" points="101,68.999 35,68.999 29,23.999 112,23.999"></polygon><polygon fill="#008d00" points="101,89.999 35.795,89.999 23.795,20.999 8,20.999 8,10.999 32.205,10.999 44.205,79.999 101,79.999"></polygon><circle cx="50" cy="99.999" r="10" fill="#0037ff"></circle><circle cx="86" cy="99.999" r="10" fill="#0037ff"></circle></svg>
{% endcapture %}

<div class="notifications-{{ section.id }}">
    <div class="notifications-body-{{ section.id }}">
      {% assign reversed_blocks = section.blocks | reverse %}
      {% for block in reversed_blocks %}
        <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% else %}div{% endif %} class="notifications-item-{{ section.id }} {% if block.settings.hide_mobile %}notifications-item-hide-mobile-{{ section.id }}{% endif %}">
          {% unless hide_image %}
            <div class="notifications-image-{{ section.id }}">
              {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
              {% else %}
                {% case forloop.index{{ section.id | replace: '-', '' }} %}
                  {% when 1 %}
                    {{ svg_example_1 }}
                  {% when 2 %}
                    {{ svg_example_2 }}
                  {% when 3 %}
                    {{ svg_example_3 }}
                  {% when 4 %}
                    {{ svg_example_4 }}
                  {% else %}
                    {{ svg_example_1 }}
                  {% endcase %}
              {% endif %}
            </div>
          {% endunless %}
          <div class="notifications-content-{{ section.id }}" style="align-content:center;">
            {% if block.settings.stars_count != 0 %}
              <div class="notifications-stars-{{ section.id }}">
                {% if stars_icon != blank %}
                  {% for item in (1..block.settings.stars_count) %}
                    <img src="{{ stars_icon | image_url }}" alt="{{ stars_icon.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                  {% endfor %}
                {% else %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 0 and block.settings.stars_count < 1  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}1">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="white" />
                          <stop offset="100%" stop-color="white" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 0 and block.settings.stars_count < 1 %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 0 and block.settings.stars_count < 1 %}url(#grad{{ section.id }}1){% elsif block.settings.stars_count > 0.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 1 and block.settings.stars_count < 2  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}2">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="white" />
                          <stop offset="100%" stop-color="white" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 1 and block.settings.stars_count < 2 %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 1 and block.settings.stars_count < 2 %}url(#grad{{ section.id }}2){% elsif block.settings.stars_count > 1.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 2 and block.settings.stars_count < 3  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}3">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="white" />
                          <stop offset="100%" stop-color="white" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 2 and block.settings.stars_count < 3 %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 2 and block.settings.stars_count < 3 %}url(#grad{{ section.id }}3){% elsif block.settings.stars_count > 2.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}4">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="white" />
                          <stop offset="100%" stop-color="white" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}url(#grad{{ section.id }}4){% elsif block.settings.stars_count > 3.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}5">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="white" />
                          <stop offset="100%" stop-color="white" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}url(#grad{{ section.id }}5){% elsif block.settings.stars_count > 4.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                {% endif %}
              </div>
            {% endif %}
            {% if block.settings.title != blank %}
              <p class="notifications-title-{{ section.id }}">
                {{ block.settings.title }}
              </p>
            {% endif %}
            {% if block.settings.text != blank %}
              <p class="notifications-text-{{ section.id }}">
                {{ block.settings.text }}
              </p>
            {% endif %}
          </div>
          {% if block.settings.date != blank %}
            <p class="notifications-date-{{ section.id }}">{{ block.settings.date }}</p>
          {% endif %}
        </{% if block.settings.url != blank %}a{% else %}div{% endif %}>
      {% endfor %}
    </div>
</div>

<script>
  function initPopupNotifications{{ section.id | replace: '-', '' }}() {
    function showNotificationItems{{ section.id | replace: '-', '' }}() {
      var items{{ section.id | replace: '-', '' }};
      if (window.innerWidth < 1024) {
        items{{ section.id | replace: '-', '' }} = document.querySelectorAll('.notifications-item-{{ section.id }}:not(.notifications-item-hide-mobile-{{ section.id }})');
      } else {
        items{{ section.id | replace: '-', '' }} = document.querySelectorAll('.notifications-item-{{ section.id }}');
      }
      var index{{ section.id | replace: '-', '' }} = items{{ section.id | replace: '-', '' }}.length - 1;
  
      function showNext{{ section.id | replace: '-', '' }}() {
        if (index{{ section.id | replace: '-', '' }} >= 0 && index{{ section.id | replace: '-', '' }} < items{{ section.id | replace: '-', '' }}.length) {
          var currentItem = items{{ section.id | replace: '-', '' }}[index{{ section.id | replace: '-', '' }}];
          if (currentItem) {
            currentItem.classList.add('active');
            setTimeout(function() {
              currentItem.classList.remove('active');
            }, {{ hide_message | times: 1000 }});
          }
          index{{ section.id | replace: '-', '' }}--;
          setTimeout(showNext{{ section.id | replace: '-', '' }}, {{ send_message | times: 1000 }});
        }
      }
  
      setTimeout(showNext{{ section.id | replace: '-', '' }}, {{ start_popup | times: 1000 }});
    }
  
    function hideNotificationItems{{ section.id | replace: '-', '' }}() {
      var items{{ section.id | replace: '-', '' }};
      if (window.innerWidth < 1024) {
        items{{ section.id | replace: '-', '' }} = document.querySelectorAll('.notifications-item-{{ section.id }}:not(.notifications-item-hide-mobile-{{ section.id }})');
      } else {
        items{{ section.id | replace: '-', '' }} = document.querySelectorAll('.notifications-item-{{ section.id }}');
      }
      var index{{ section.id | replace: '-', '' }} = items{{ section.id | replace: '-', '' }}.length - 1;
  
      function hideNext{{ section.id | replace: '-', '' }}() {
        if (index{{ section.id | replace: '-', '' }} >= 0 && index{{ section.id | replace: '-', '' }} < items{{ section.id | replace: '-', '' }}.length) {
          var currentItem = items{{ section.id | replace: '-', '' }}[index{{ section.id | replace: '-', '' }}];
          if (currentItem) {
            setTimeout(function() {
              currentItem.classList.remove('active');
            }, {{ hide_message | times: 1000 }});
          }
          index{{ section.id | replace: '-', '' }}--;
          setTimeout(hideNext{{ section.id | replace: '-', '' }}, {{ send_message | times: 1000 }});
        } else {
          {% if loop_messages %}
            setTimeout(function() {
              showNotificationItems{{ section.id | replace: '-', '' }}();
              hideNotificationItems{{ section.id | replace: '-', '' }}();
            }, {{ start_popup | times: 2000 }});
          {% endif %}
        }
      }
  
      setTimeout(hideNext{{ section.id | replace: '-', '' }}, {{ start_popup | times: 1000 }});
    }
  
    showNotificationItems{{ section.id | replace: '-', '' }}();
    hideNotificationItems{{ section.id | replace: '-', '' }}();
  }
  
  document.addEventListener("DOMContentLoaded", function() {
    initPopupNotifications{{ section.id | replace: '-', '' }}();
  
    if (Shopify && Shopify.designMode) {
      document.addEventListener('shopify:section:unload', initPopupNotifications{{ section.id | replace: '-', '' }});
      document.addEventListener('shopify:section:load', initPopupNotifications{{ section.id | replace: '-', '' }});
    }
  });
</script>

{% schema %}
  {
    "name": "SS - Popup Notifications",
    "settings": [
      {
        "type": "header",
        "content": "Notifications Settings"
      },
      {
        "type": "range",
        "id": "start_popup",
        "min": 0.5,
        "max": 10,
        "step": 0.1,
        "unit": "s",
        "label": "Start PopUp after (s)",
        "default": 5
      },
      {
        "type": "range",
        "id": "send_message",
        "min": 1,
        "max": 60,
        "step": 1,
        "unit": "s",
        "label": "Send message every (s)",
        "default": 12
      },
      {
        "type": "range",
        "id": "hide_message",
        "min": 2,
        "max": 200,
        "step": 2,
        "unit": "s",
        "label": "Hide message after (s)",
        "default": 6
      },
      {
        "type": "checkbox",
        "id": "loop_messages",
        "label": "Loop Notifications",
        "default": true
      },
      {
        "type": "header",
        "content": "Notifications Bar Settings"
      },
      {
        "type": "select",
        "id": "bar_vertical_position",
        "label": "Notifications Bar Vertical Position",
        "default": "bottom",
        "options": [
          {
            "label": "Top",
            "value": "top"
          },
          {
            "label": "Bottom",
            "value": "bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "bar_vertical_position_mobile",
        "label": "Notifications Bar Vertical Position - Mobile",
        "default": "bottom",
        "options": [
          {
            "label": "Top",
            "value": "top"
          },
          {
            "label": "Bottom",
            "value": "bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "bar_horizontal_position",
        "label": "Notifications Bar Horizontal Position",
        "default": "left",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "range",
        "id": "bar_width",
        "min": 100,
        "max": 1000,
        "step": 10,
        "unit": "px",
        "label": "Notifications Bar Width - Desktop",
        "default": 350
      },
      {
        "type": "range",
        "id": "bar_vertical_offset",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Notifications Bar Vertical Offset",
        "default": 20
      },
      {
        "type": "range",
        "id": "bar_vertical_offset_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Notifications Bar Vertical Offset - Mobile",
        "default": 20
      },
      {
        "type": "range",
        "id": "bar_horizontal_offset",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Notifications Bar Horizontal Offset",
        "default": 20
      },
      {
        "type": "range",
        "id": "bar_horizontal_offset_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Notifications Bar Horizontal Offset - Mobile",
        "default": 12
      },
       {
         "type": "range",
         "id": "bar_space",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Notifications Bar Space Between Items",
         "default": 12
      },
      {
        "type": "header",
        "content": "Notification Item Settings"
      },
      {
        "type": "range",
        "id": "item_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Item Padding Vertical",
        "default": 12
      },
      {
        "type": "range",
        "id": "item_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Item Padding Vertical - Mobile",
        "default": 12
      },
      {
         "type": "range",
         "id": "item_padding_horizontal",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Item Padding Horizontal",
         "default": 12
      },
      {
         "type": "range",
         "id": "item_padding_horizontal_mobile",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Item Padding Horizontal - Mobile",
         "default": 12
      },
      {
         "type": "range",
         "id": "item_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Item Roundness",
         "default": 12
      },
      {
         "type": "range",
         "id": "item_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Item Border Thickness",
         "default": 1
      },
      {
         "type": "range",
         "id": "item_gap",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Item Gap",
         "default": 12
      },
      {
        "type": "checkbox",
        "id": "item_shadow",
        "label": "Use Item Shadow",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "item_blur",
        "label": "Use Item Blur",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "item_animation",
        "label": "Use Item Animation",
        "default": true
      },
      {
        "type": "header",
        "content": "Notification Item Image Settings"
      },
      {
         "type": "range",
         "id": "image_size",
         "min": 20,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Item Image Size",
         "default": 48
      },
      {
         "type": "range",
         "id": "image_size_mobile",
         "min": 20,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Item Image Size - Mobile",
         "default": 48
      },
      {
         "type": "range",
         "id": "image_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Item Image Roundness",
         "default": 12
      },
      {
        "type": "select",
        "id": "image_vertical_align",
        "label": "Image Vertical Align",
        "default": "center",
        "options": [
          {
            "label": "Top",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Bottom",
            "value": "end"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_vertical_align_mobile",
        "label": "Image Vertical Align - Mobile",
        "default": "center",
        "options": [
          {
            "label": "Top",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Bottom",
            "value": "end"
          }
        ]
      },
      {
         "type": "checkbox",
         "id": "hide_image",
         "label": "Hide Item Image"
      },
      {
        "type": "header",
        "content": "Notification Stars Settings"
      },
      {
        "type": "image_picker",
        "label": "Stars Icon",
        "id": "stars_icon",
        "info": "Replaces the default stars icon"
      },
      {
        "type": "range",
        "id": "stars_size",
        "min": 5,
        "max": 50,
        "step": 1,
        "label": "Stars Size",
        "default": 12
      },
      {
        "type": "header",
        "content": "Notification Title Settings"
      },
      {
        "type": "checkbox",
        "id": "title_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "title_font",
        "label": "Notification Title Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Notification Title Size",
        "default": 12
      },
      {
        "type": "range",
        "id": "title_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Notification Title Size - Mobile",
        "default": 12
      },
      {
        "type": "range",
        "id": "title_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Notification Title Line Height",
        "default": 130
      },
      {
        "type": "range",
        "id": "title_mt",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Notification Title Margin Top",
        "default": 4
      },
      {
        "type": "header",
        "content": "Notification Text Settings"
      },
      {
        "type": "checkbox",
        "id": "text_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "text_font",
        "label": "Notification Text Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Notification Text Size",
        "default": 12
      },
      {
        "type": "range",
        "id": "text_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Notification Text Size - Mobile",
        "default": 12
      },
      {
        "type": "range",
        "id": "text_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Notification Text Line Height",
        "default": 130
      },
      {
        "type": "range",
        "id": "text_mt",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Notification Text Margin Top",
        "default": 0
      },
      {
        "type": "header",
        "content": "Notification Date Settings"
      },
      {
        "type": "checkbox",
        "id": "date_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "date_font",
        "label": "Notification Date Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "date_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Notification Date Size",
        "default": 12
      },
      {
        "type": "range",
        "id": "date_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Notification Date Size - Mobile",
        "default": 12
      },
      {
        "type": "range",
        "id": "date_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Notification Date Line Height",
        "default": 100
      },
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color",
        "label": "Item Background Color",
        "id": "item_bg_color",
        "default": "#EBEAE9"
      },
      {
        "type": "color_background",
        "label": "Item Background Gradient",
        "id": "item_bg_gradient"
      },
      {
        "type": "color",
        "label": "Item Border Color",
        "id": "item_border_color",
        "default": "#DCDCDC"
      },
      {
        "type": "color",
        "label": "Item Shadow Color",
        "id": "item_shadow_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Item Stars Color",
        "id": "stars_color",
        "default": "#EE921E"
      },
      {
        "type": "color",
        "label": "Item Title Color",
        "id": "title_color",
        "default": "#030712"
      },
      {
        "type": "color",
        "label": "Item Text Color",
        "id": "text_color",
        "default": "#374151"
      },
      {
        "type": "color",
        "label": "Item Date Color",
        "id": "date_color",
        "default": "#4B5563"
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Notification Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "stars_count",
            "min": 0,
            "max": 5,
            "step": 0.5,
            "label": "Stars Count",
            "default": 5
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Text"
          },
          {
            "type": "text",
            "id": "date",
            "label": "Date",
            "default": "now"
          },
          {
            "type": "url",
            "id": "url",
            "label": "URL"
          },
          {
            "type": "checkbox",
            "id": "hide_mobile",
            "label": "Hide on Mobile"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Popup Notifications",
        "blocks": [
          {
            "type": "item",
            "settings": {
              "title": "Vincent in Miami 🇺🇸",
              "text": "Added product to their basket"
            }
          },
          {
            "type": "item",
            "settings": {
              "title": "Get 10% OFF TODAY",
              "text": "Use code 10OFF at checkout"
            }
          },
          {
            "type": "item",
            "settings": {
              "title": "3741 Happy Customers",
              "text": "Shopped and received products from us last month"
            }
          },
          {
            "type": "item",
            "settings": {
              "title": "Wilfred in California 🇺🇸",
              "text": "Bought a product and got a free gift"
            }
          }
        ]
      }
    ]
  }
{% endschema %}