{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .ss-meta-pop-banner {
    background-color: {{section.settings.header-color}};
    border-radius: 16px 16px 0 0;
    text-align: center;
    padding: 6px;
    border:lightgrey 1px solid;
    border-bottom:none;
    color: {{ section.settings.header-text-color }}
  }
{%- endstyle -%}



<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const productInfo = document.querySelector('{% if section.settings.custom_class != blank %}.{{ section.settings.custom_class }}{% else %}.product__info-container, .product-single__meta, .form__wrapper{% endif %}')

        if (!productInfo) {
            return
        }
        productInfo.style.cssText +=  'display:block;background-color:{{section.settings.background-color}};padding:{{section.settings.padding}}px;border-radius:0 0 16px 16px;border:lightgrey 1px solid;box-shadow:0px 4.5px 2px rgb(0 0 0 / 2%), 0px 8.1px 4.7px rgb(0 0 0 / 2%), 0px 10.7px 8.5px rgb(0 0 0 / 3%), 0px 12.8px 14.1px rgb(0 0 0 / 3%), 0px 14.8px 23.3px rgb(0 0 0 / 4%), 0px 17.9px 40.7px rgb(0 0 0 / 5%), 0px 29px 88px rgb(0 0 0 / 6%);border-top:none;'

        const templateContent =  document.querySelector('#ss-product-meta-pop-{{ section.id }}').content
        
        productInfo.insertAdjacentElement('beforebegin', templateContent.firstElementChild)
        
    })
</script>
<template id="ss-product-meta-pop-{{ section.id }}">
  
  <div class="ss-meta-pop-banner">
    <span style="vertical-align: sub;margin-right:5px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="{{ section.settings.header-text-color }}" class="bi bi-heart-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
</svg></span>{{ section.settings.header-text }}</div>
</template>

{% schema %}
  {
    "name": "SS - Product Info Boxed",
	"tag": "section",
    "settings": [
        {
            "type": "paragraph",
            "content": "SAVE to update."
       },
       {
          "type": "header",
          "content": "Header"
       },
       {
          "type": "text",
		  "label": "Header text",
		  "id": "header-text",
		  "default": "9 out of 10 recommends us"
        },
		{
          "type": "header",
          "content": "Colors"
        },
	    {
		  "type": "color",
		  "label": "Section background color",
		  "id": "background-color",
		  "default": "#ffffff"
		},
        {
		  "type": "color",
		  "label": "Header background color",
		  "id": "header-color",
		  "default": "#000000"
		},
        {
		  "type": "color",
		  "label": "Header text color",
		  "id": "header-text-color",
		  "default": "#ffffff"
		},
        {
          "type": "header",
          "content": "Padding"
        },
        {
          "type": "range",
          "id": "padding",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding",
          "default": 20
        },
        {
          "type": "header",
          "content": "Other"
        },
        {
            "type": "text",
            "id": "custom_class",
            "label": "Custom Target Class",
            "info":"Without punctuation '.'"          
        }
       
	],
 	"presets": [
      {
        "name": "SS - Product Info Boxed"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
