{% comment %}
---------------------------------------------------------
Copyright © 2025 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign section_radius = section.settings.section_radius
  assign background_style = section.settings.background_style
  
  assign slider_view = section.settings.slider_view
  assign slider_view_mobile = section.settings.slider_view_mobile 
  assign slider_gap = section.settings.slider_gap
  assign slider_gap_mobile = section.settings.slider_gap_mobile

  assign slide_padding_horizontal = section.settings.slide_padding_horizontal
  assign slide_padding_horizontal_mobile = section.settings.slide_padding_horizontal_mobile
  assign slide_padding_vertical = section.settings.slide_padding_vertical
  assign slide_padding_vertical_mobile = section.settings.slide_padding_vertical_mobile
  assign slide_radius = section.settings.slide_radius  
  assign slide_border_thickness = section.settings.slide_border_thickness
  assign slide_align = section.settings.slide_align
  assign slide_align_mobile = section.settings.slide_align_mobile

  assign slide_horizontal_align = ""
  if slide_align == "center"
    assign slide_horizontal_align = "center"
  elsif slide_align == "right"
    assign slide_horizontal_align = "end"
  else
    assign slide_horizontal_align = "start"
  endif

  assign slide_horizontal_align_mobile = ""
  if slide_align_mobile == "center"
    assign slide_horizontal_align_mobile = "center"
  elsif slide_align_mobile == "right"
    assign slide_horizontal_align_mobile = "end"
  else
    assign slide_horizontal_align_mobile = "start"
  endif

  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_height = section.settings.text_height
  assign text_color = section.settings.text_color

  assign hover_text_custom = section.settings.hover_text_custom
  assign hover_text_font = section.settings.hover_text_font
  assign hover_text_size = section.settings.hover_text_size
  assign hover_text_height = section.settings.hover_text_height
  assign hover_text_color = section.settings.hover_text_color
  assign hover_text_bg_color = section.settings.hover_text_bg_color
  assign hover_text_border_color = section.settings.hover_text_border_color
  assign hover_text_align = section.settings.hover_text_align

  assign arrow_size = section.settings.arrow_size
  assign arrow_size_mobile = section.settings.arrow_size_mobile
  assign arrow_icon_size = section.settings.arrow_icon_size
  assign arrow_icon_size_mobile = section.settings.arrow_icon_size_mobile
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color
  assign arrow_bg_color = section.settings.arrow_bg_color
  assign arrow_bg_hover_color = section.settings.arrow_bg_hover_color
  assign arrow_radius = section.settings.arrow_radius
  assign arrow_border_thickness = section.settings.arrow_border_thickness
  assign arrow_border_color = section.settings.arrow_border_color
  assign arrow_border_hover_color = section.settings.arrow_border_hover_color
  assign arrow_show_desktop = section.settings.arrow_show_desktop
  assign arrow_show_mobile = section.settings.arrow_show_mobile
  assign arrow_hover_effect = section.settings.arrow_hover_effect
  assign arrow_shadow = section.settings.arrow_shadow

  assign new_tab = section.settings.new_tab
-%}

{%- style -%}
  {{ text_font | font_face: font_display: 'swap' }}
  {{ hover_text_font | font_face: font_display: 'swap' }}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
    position: relative;
  }

  .promo-slider-{{ section.id }} {
    display: flex !important;
    align-items: end !important;
    position: relative !important;
    margin-left: -{{ padding_horizontal_mobile }}rem !important;
    margin-right: -{{ padding_horizontal_mobile }}rem !important;
    padding-left: {{ padding_horizontal_mobile }}rem !important;
    padding-right: {{ padding_horizontal_mobile }}rem !important;
  }

  .promo-slide-{{ section.id }} {   
    z-index: 0 !important;
    text-decoration: none !important;
    position: inherit !important;
    box-sizing: border-box !important;
    padding: {{ slide_padding_vertical_mobile }}px {{ slide_padding_horizontal_mobile }}px; 
    border-radius: {{ slide_radius }}px !important;
  }
  .promo-slide-{{ section.id }}.swiper-slide-active {
    z-index: 1 !important;
  }

  .promo-slide-text-{{ section.id }} {
    text-align: {{ slide_align_mobile }};
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: {{ slide_horizontal_align_mobile }};
  }

  .promo-slide-text-{{ section.id }} * {    
    margin: 0;  
    font-size: {{ text_size_mobile }}px;
    color: {{ text_color }};
    line-height: {{ text_height }}%;
    text-transform: unset;
    text-decoration: none;
    word-break: break-word;
  }

  .promo-slide-text-{{ section.id }} svg {
    display: none;
    cursor: pointer;
    flex-shrink: 0;
    width: {{ text_size_mobile }}px;
    object-fit: cover;
  }

  .promo-slide-text-{{ section.id }} svg path {
    fill: {{ text_color }};
  }

  .slider-btn-prev-{{ section.id }},
  .slider-btn-next-{{ section.id }} {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    flex-shrink: 0;
    width: {{ arrow_size_mobile }}px;
    height: {{ arrow_size_mobile }}px;
    border: 0px;
    border: {{ arrow_border_thickness }}px solid {{ arrow_border_color }};
    border-radius: {{ arrow_radius }}px;
    background: transparent;
    background: {{ arrow_bg_color }};
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
  }

  .slider-btn-prev-{{ section.id }} {
    left: 2%;
  }

  .slider-btn-next-{{ section.id }} {
    right: 2%;
  }

  .slider-btn-prev-{{ section.id }} .animate-icon,
  .slider-btn-next-{{ section.id }} .animate-icon {
    pointer-events: none;
    place-items: center;
    display: grid;
  }

  .slider-btn-prev-{{ section.id }} .animate-icon:before,
  .slider-btn-next-{{ section.id }} .animate-icon:before {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size_mobile }}px;
    height: {{ arrow_icon_size_mobile }}px;
    transform: rotate(calc(1 * 45deg));
    box-sizing: border-box;
    border-style: solid;
    border: 0px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    position: relative;
    left: -1px;
  }

  .slider-btn-prev-{{ section.id }} .animate-icon:before {
    left: unset;
    right: -1px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid currentColor;
    border-left: 2px solid currentColor;
  }

  .slider-btn-prev-{{ section.id }} .animate-icon:after,
  .slider-btn-next-{{ section.id }} .animate-icon:after {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size_mobile | minus: 0.3 }}px;
    height: 1.6px;
    transform-origin: center;
    opacity: 0;
    background: currentColor;
    transform: scaleX(.5);
  }

  .slider-btn-prev-{{ section.id }} span,
  .slider-btn-next-{{ section.id }} span {
    color: {{ arrow_color }};
  }

  .slider-btn-prev-{{ section.id }}.swiper-button-disabled,
  .slider-btn-next-{{ section.id }}.swiper-button-disabled {
    opacity: 0;
    transition: all 0.25s ease 0s;
  }

  .slider-btn-prev-{{ section.id }}.swiper-button-lock,
  .slider-btn-next-{{ section.id }}.swiper-button-lock {
    opacity: 0;
    pointer-events: none;
  }

  .promo-slide-hover-text-{{ section.id }} {
    display: none;
  }

  .promo-slide-text-mobile-{{ section.id }} {
    display: flex;
  }

  .promo-slide-text-desktop-{{ section.id }} {
    display: none;
  }

  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .promo-slider-{{ section.id }} {
      margin-left: -{{ padding_horizontal }}rem !important;
      margin-right: -{{ padding_horizontal }}rem !important;
      padding-left: {{ padding_horizontal }}rem !important;
      padding-right: {{ padding_horizontal }}rem !important;
    }

    .promo-slide-{{ section.id }} {      
      padding: {{ slide_padding_vertical }}px {{ slide_padding_horizontal }}px; 
    }

    .promo-slide-text-mobile-{{ section.id }} {
      display: none;
    }

    .promo-slide-text-desktop-{{ section.id }} {
      display: flex;
    }

    .promo-slide-text-{{ section.id }} {
      text-align: {{ slide_align }};
      justify-content: {{ slide_horizontal_align }};
    }

    .promo-slide-text-{{ section.id }} * {  
      font-size: {{ text_size }}px;
    }

    .promo-slide-text-{{ section.id }} svg {
      display: block;
      width: {{ text_size }}px;
    }   

    .promo-slide-hover-text-{{ section.id }} {
      display: block;
      position: absolute;
      z-index: 3;
      top: 80%;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;
      margin: 0 auto;
      max-width: 75vw;
      width: 100%;
      opacity: 0;
      border-radius: {{ slide_radius }}px;
      border: {{ slide_border_thickness }}px solid {{ hover_text_border_color}};
      transition: all 0.25s ease 0s;
      padding: {{ slide_padding_vertical }}px {{ slide_padding_horizontal }}px;     
      text-align: {{ hover_text_align }};
      background-color: {{ hover_text_bg_color }};
    }

    .promo-slide-hover-text-{{ section.id }}.active {
      opacity: 1;
      transition: all 0.25s ease 0s;
    }

    .promo-slide-hover-text-{{ section.id }} * {
      margin: 0;  
      font-size: {{ hover_text_size}}px;
      color: {{ hover_text_color }};
      line-height: {{ hover_text_height }}%;
      text-transform: unset;
      text-decoration: none;
      word-break: break-word;
      text-wrap: wrap;
      text-align: {{ hover_text_align }};
    }

    .slider-btn-prev-{{ section.id }},
    .slider-btn-next-{{ section.id }} {
      width: {{ arrow_size }}px;
      height: {{ arrow_size }}px;
      transition: all 0.25s ease 0s;
    }

    .slider-btn-prev-{{ section.id }} .animate-icon:before,
    .slider-btn-next-{{ section.id }} .animate-icon:before {
      width: {{ arrow_icon_size }}px;
      height: {{ arrow_icon_size }}px;
    }

    .slider-btn-prev-{{ section.id }} .animate-icon:after,
    .slider-btn-next-{{ section.id }} .animate-icon:after {
      width: {{ arrow_icon_size | minus: 0.3 }}px;
    }   
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .promo-slide-text-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if hover_text_custom %}
  <style>
    .promo-slide-hover-text-{{ section.id }} * {
      font-family: {{ hover_text_font.family }}, {{ hover_text_font.fallback_families }};
      font-weight: {{ hover_text_font.weight }};
      font-style: {{ hover_text_font.style }};
    }
  </style>
{% endif %}

{% if arrow_hover_effect == "color" %}
  <style>
    .slider-btn-prev-{{ section.id }}:hover,
    .slider-btn-next-{{ section.id }}:hover {
      transition: all 0.3s ease 0s;
      border: {{ arrow_border_thickness }}px solid {{ arrow_border_hover_color }};
      background: {{ arrow_bg_hover_color }};
    }
  
    .slider-btn-prev-{{ section.id }}:hover .animate-icon,
    .slider-btn-next-{{ section.id }}:hover .animate-icon {
      color: {{ arrow_hover_color }};
    }
  </style>
{% elsif arrow_hover_effect == "scale" %}
  <style>
    .slider-btn-prev-{{ section.id }}:hover,
    .slider-btn-next-{{ section.id }}:hover {
      transform: scale(0.9) translateY(-50%);
    }

    @media(min-width: 1024px) {
      .slider-btn-prev-{{ section.id }}:hover,
      .slider-btn-next-{{ section.id }}:hover {
        transform: scale(0.9) translateY(-50%);
      }
    }
  </style>
{% elsif arrow_hover_effect == "arrow" %}
  <style>
    .slider-btn-next-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
  
    .slider-btn-prev-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(-1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
    
    .slider-btn-prev-{{ section.id }}:hover .animate-icon:after,
    .slider-btn-next-{{ section.id }}:hover .animate-icon:after {
      opacity: 1;
      transform: scaleX(1);
    }
  </style>
{% endif %}

{% if arrow_show_mobile %}
  <style>
    .slider-btn-prev-{{ section.id }},
    .slider-btn-next-{{ section.id }} {
      display: flex;
    }
  </style>
{% else %}
  <style>
    .slider-btn-prev-{{ section.id }},
    .slider-btn-next-{{ section.id }} {
      display: none;
    }
  </style>
{% endif %}

{% if arrow_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .slider-btn-prev-{{ section.id }},
      .slider-btn-next-{{ section.id }} {
        display: flex;
      }

      .promo-slider-{{ section.id }} {
        -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
        mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
      }

      
      .promo-slider-{{ section.id }}.is-beginning {
        -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
        mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
      }

      .promo-slider-{{ section.id }}.is-end {
        -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 100%, rgba(0,0,0,0) 100%);
        mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 100%, rgba(0,0,0,0) 100%);
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .slider-btn-prev-{{ section.id }},
      .slider-btn-next-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if arrow_shadow %}
  <style>
    .slider-btn-prev-{{ section.id }},
    .slider-btn-next-{{ section.id }} {
      box-shadow: 0px 0px 6px 0px rgba(0,0,0,.08);
    }
  </style>
{% endif %}

{% for block in section.blocks %}
  <style>
    .promo-slide-{{ block.id }} {
      background-color: {{ block.settings.slide_bg_color }};
      border: {{ slide_border_thickness }}px solid {{ block.settings.slide_border_color }};
    }
  </style>
{% endfor %}

{% comment %} PREVIEW {% endcomment %}
<style>
  .promo-slider-{{ section.id }}.preview .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 15px;    
  }

  .promo-slider-{{ section.id }}.preview .promo-slide-{{ section.id }} {
    width: 100%;
  }

  .promo-slider-{{ section.id }}.preview .promo-slide-{{ section.id }}:not(:first-child) {
    margin-left: 24px;
  } 

  @media(min-width: 1024px) {
    .promo-slider-{{ section.id }}.preview .promo-slide-{{ section.id }}:not(:first-child) {
      margin-left: 24px;
    } 

    .promo-slider-{{ section.id }}.preview .promo-slide-{{ section.id }} {
      width: calc((100% / {{ slider_view }}) - 24px);
    }
  }
</style>


<div class="section-{{ section.id }} promo-{{ section.id }}" {% if background_style == 'solid' %}style="background-color:{{ background_color }};"{% else %} style="background-image: {{ background_gradient }};"{% endif %}>
    <div class="section-{{ section.id }}-settings">
      <div class="promo-slider-{{ section.id }} preview swiper">
        <div class="swiper-wrapper">        
          {% for block in section.blocks %}               
            <{% if block.settings.url != blank %}a href="{{ block.settings.url }}" {% if new_tab %}target="_blank"{% endif %}{% else %}div{% endif %} class="promo-slide-{{ section.id }} promo-slide-{{ block.id }} swiper-slide">          
              {% if block.settings.text != blank %}
                <div class="promo-slide-text-{{ section.id }} {% if block.settings.use_mobile_text != blank and block.settings.mobile_text != blank %}promo-slide-text-desktop-{{ section.id }}{% endif %}">                  
                  {{ block.settings.text }}
                  {% if block.settings.hover_text != blank %}
                    <svg id="{{ block.id }}" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="disclaimer__StyledIcon-sc-u02bah-1 jxbHQy"><path d="M7.4 7.60244C7.4 7.27107 7.66863 7.00244 8 7.00244C8.33137 7.00244 8.6 7.27107 8.6 7.60244V10.9024C8.6 11.2338 8.33137 11.5024 8 11.5024C7.66863 11.5024 7.4 11.2338 7.4 10.9024V7.60244Z"></path><path d="M8 5.70244C8.33137 5.70244 8.6 5.43381 8.6 5.10244C8.6 4.77107 8.33137 4.50244 8 4.50244C7.66863 4.50244 7.4 4.77107 7.4 5.10244C7.4 5.43381 7.66863 5.70244 8 5.70244Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M7.99998 15.0024C11.866 15.0024 15 11.8684 15 8.00244C15 4.13645 11.866 1.00244 7.99998 1.00244C4.13398 1.00244 0.999977 4.13645 0.999977 8.00244C0.999977 11.8684 4.13398 15.0024 7.99998 15.0024ZM7.99998 13.8024C11.2032 13.8024 13.8 11.2057 13.8 8.00244C13.8 4.79919 11.2032 2.20244 7.99998 2.20244C4.79673 2.20244 2.19998 4.79919 2.19998 8.00244C2.19998 11.2057 4.79673 13.8024 7.99998 13.8024Z"></path></svg>
                  {% endif %}
                </div>
                {% if block.settings.use_mobile_text != blank and block.settings.mobile_text != blank %}
                  <div class="promo-slide-text-{{ section.id }} promo-slide-text-mobile-{{ section.id }}">                  
                    {{ block.settings.mobile_text }}
                    {% if block.settings.hover_text != blank %}
                      <svg id="{{ block.id }}" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="disclaimer__StyledIcon-sc-u02bah-1 jxbHQy"><path d="M7.4 7.60244C7.4 7.27107 7.66863 7.00244 8 7.00244C8.33137 7.00244 8.6 7.27107 8.6 7.60244V10.9024C8.6 11.2338 8.33137 11.5024 8 11.5024C7.66863 11.5024 7.4 11.2338 7.4 10.9024V7.60244Z"></path><path d="M8 5.70244C8.33137 5.70244 8.6 5.43381 8.6 5.10244C8.6 4.77107 8.33137 4.50244 8 4.50244C7.66863 4.50244 7.4 4.77107 7.4 5.10244C7.4 5.43381 7.66863 5.70244 8 5.70244Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M7.99998 15.0024C11.866 15.0024 15 11.8684 15 8.00244C15 4.13645 11.866 1.00244 7.99998 1.00244C4.13398 1.00244 0.999977 4.13645 0.999977 8.00244C0.999977 11.8684 4.13398 15.0024 7.99998 15.0024ZM7.99998 13.8024C11.2032 13.8024 13.8 11.2057 13.8 8.00244C13.8 4.79919 11.2032 2.20244 7.99998 2.20244C4.79673 2.20244 2.19998 4.79919 2.19998 8.00244C2.19998 11.2057 4.79673 13.8024 7.99998 13.8024Z"></path></svg>
                    {% endif %}
                  </div>
                {% endif %}
              {% endif %}                                        
            </{% if block.settings.url != blank %}a{% else %}div{% endif %}>
          {% endfor %}   
        </div>       
      </div>   
      {% for block in section.blocks %}
        {% if block.settings.hover_text != blank %}
          <div class="promo-slide-hover-text-{{ section.id }}" data-id="{{ block.id }}">{{ block.settings.hover_text }}</div>
        {% endif %}   
      {% endfor %} 
      <button class="slider-btn-prev-{{ section.id }}">
        <span class="animate-icon"></span>
      </button>
      <button class="slider-btn-next-{{ section.id }}">
        <span class="animate-icon"></span>
      </button>    
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script>
  function initSlider12() {
    document.querySelector('.promo-slider-{{ section.id }}').classList.remove('preview');    
    const slider = new Swiper(".promo-slider-{{ section.id }}", {
      speed: 500,
      navigation: {
        nextEl: '.slider-btn-next-{{ section.id }}',
        prevEl: '.slider-btn-prev-{{ section.id }}',
      },
      breakpoints: {
        320: {
            spaceBetween: {{ slider_gap_mobile }},
            slidesPerView: {{ slider_view_mobile }}
          },
          768: {
            spaceBetween: {{ slider_gap_mobile }},
            slidesPerView: {{ slider_view | times: 0.5 | round: 0 }}
          },
          1024: {
            spaceBetween: {{ slider_gap }},
            slidesPerView: {{ slider_view }}
          }
      }
    });

    const sliderContainer = document.querySelector('.promo-slider-{{ section.id }}');

    function updateSliderEffects() {
      if (slider.isBeginning) {
        sliderContainer.classList.add('is-beginning');
      } else {
        sliderContainer.classList.remove('is-beginning');
      }

      if (slider.isEnd) {
        sliderContainer.classList.add('is-end');
      } else {
        sliderContainer.classList.remove('is-end');
      }
    }

    updateSliderEffects();

    slider.on('slideChange', updateSliderEffects);

    const svgIcons = document.querySelectorAll('.promo-slide-text-{{ section.id }} svg');
    const hoverTexts = document.querySelectorAll('.promo-slide-hover-text-{{ section.id }}');

    function applyHoverOrClickEvents() {
      hoverTexts.forEach(text => text.classList.remove('active'));

      const isMobile = window.matchMedia("(max-width: 1024px)").matches;

      svgIcons.forEach(svg => {
        const hoverText = document.querySelector(`.promo-slide-hover-text-{{ section.id }}[data-id="${svg.id}"]`);

        if (!hoverText) return;

        svg.removeEventListener('mouseenter', handleMouseEnter);
        svg.removeEventListener('mouseleave', handleMouseLeave);
        svg.removeEventListener('click', handleClick);
        document.removeEventListener('click', handleDocumentClick);

        if (isMobile) {
          svg.addEventListener('click', handleClick);
          document.addEventListener('click', handleDocumentClick);
        } else {
          svg.addEventListener('mouseenter', handleMouseEnter);
          svg.addEventListener('mouseleave', handleMouseLeave);
        }

        function handleMouseEnter() {
          hoverText.classList.add('active');
        }

        function handleMouseLeave() {
          hoverText.classList.remove('active');
        }

        function handleClick(event) {
          event.stopPropagation(); 
          document.querySelectorAll('.promo-slide-hover-text-{{ section.id }}.active').forEach(openText => {
            if (openText !== hoverText) {
              openText.classList.remove('active');
            }
          });
          hoverText.classList.toggle('active');
        }

        function handleDocumentClick(event) {
          if (!svg.contains(event.target) && !hoverText.contains(event.target)) {
            hoverText.classList.remove('active');
          }
        }
      });
    }

    applyHoverOrClickEvents();

    let resizeTimeout;
    window.addEventListener('resize', () => {
      clearTimeout(resizeTimeout);
      resizeTimeout = setTimeout(() => {
        applyHoverOrClickEvents();
      }, 200);
    });
  }

  document.addEventListener('DOMContentLoaded', initSlider12);

  if (Shopify.designMode) {
    document.addEventListener('shopify:section:unload', initSlider12);
    document.addEventListener('shopify:section:load', initSlider12);
  }
</script>

{% schema %}
  {
    "name": "SS - Promo slider",
    "settings": [
      {
        "type": "paragraph",
        "content": "⚠️ Save settings to view updates"
      },   
      {
        "type": "header",
        "content": "Slider"
      },
      {
        "type": "range",
        "id": "slider_view",
        "min": 1,
        "max": 3,
        "step": 1,
        "label": "Slides to show",
        "default": 2
      },      
       {
        "type": "range",
        "id": "slider_view_mobile",
        "min": 1,
        "max": 2,
        "step": 0.1,
        "label": "Slides to show - mobile",
        "default": 1.3
      }, 
       {
        "type": "range",
        "id": "slider_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap",
        "default": 16
      },
      {
        "type": "range",
        "id": "slider_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap - mobile",
        "default": 12
      },
      {
        "type": "header",
        "content": "Slide"
      },     
      {
        "type": "range",
        "id": "slide_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 8
      },   
      {
        "type": "range",
        "id": "slide_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "slide_padding_advanced",
        "label": "Advanced padding settings",
        "default": false
      },    
      {
        "type": "range",
        "id": "slide_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal",
        "default": 16,
        "visible_if": "{{ section.settings.slide_padding_advanced }}"
      },
      {
        "type": "range",
        "id": "slide_padding_horizontal_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal - mobile",
        "default": 12,
        "visible_if": "{{ section.settings.slide_padding_advanced }}"
      },
      {
        "type": "range",
        "id": "slide_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 16,
        "visible_if": "{{ section.settings.slide_padding_advanced }}"
      },
      {
        "type": "range",
        "id": "slide_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 12,
        "visible_if": "{{ section.settings.slide_padding_advanced }}"
      },  
      {
        "type": "text_alignment",
        "id": "slide_align",
        "label": "Alignment",
        "default": "center"
      },
      {
        "type": "text_alignment",
        "id": "slide_align_mobile",
        "label": "Alignment - mobile",
        "default": "center"
      },  
      {
        "type": "header",
        "content": "Message"
      },
      {
        "type": "checkbox",
        "id": "text_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "text_font",
        "label": "Font family",
        "default": "josefin_sans_n4",
        "visible_if": "{{ section.settings.text_custom }}"
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 12
      },
      {
        "type": "range",
        "id": "text_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 12
      },
      {
        "type": "range",
        "id": "text_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 150
      },   
        {
        "type": "header",
        "content": "Additional information"
      },
      {
        "type": "checkbox",
        "id": "hover_text_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "hover_text_font",
        "label": "Font family",
        "default": "josefin_sans_n4",
        "visible_if": "{{ section.settings.hover_text_custom }}"
      },
      {
        "type": "range",
        "id": "hover_text_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 12
      },
      {
        "type": "range",
        "id": "hover_text_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 150
      },   
      {
        "type": "text_alignment",
        "id": "hover_text_align",
        "label": "Alignment",
        "default": "center"
      },
      {
        "type": "header",
        "content": "Arrows"
      },
      {
        "type": "checkbox",
        "id": "arrow_show_desktop",
        "label": "Show on desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "arrow_show_mobile",
        "label": "Show on mobile",
        "default": false
      },
      {
        "type": "range",
        "id": "arrow_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size",
        "default": 28,
        "visible_if": "{{ section.settings.arrow_show_desktop }}"
      },
      {
        "type": "range",
        "id": "arrow_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size - mobile",
        "default": 28,
        "visible_if": "{{ section.settings.arrow_show_mobile }}"
      },
      {
        "type": "range",
        "id": "arrow_icon_size",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Icon size",
        "default": 8,
        "visible_if": "{{ section.settings.arrow_show_desktop }}"
      },
      {
        "type": "range",
        "id": "arrow_icon_size_mobile",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Icon size - mobile",
        "default": 8,
        "visible_if": "{{ section.settings.arrow_show_mobile }}"
      },
      {
        "type": "range",
        "id": "arrow_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 100,
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "range",
        "id": "arrow_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0,
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "select",
        "id": "arrow_hover_effect",
        "label": "Hover effect",
        "default": "color",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}",
        "options": [
          {
            "label": "Change color",
            "value": "color"
          },
          {
            "label": "Change size",
            "value": "scale"
          },
          {
            "label": "Change arrow",
            "value": "arrow"
          },
          {
            "label": "None",
            "value": "none"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "arrow_shadow",
        "label": "Use shadow",
        "default": true,
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}",
      },
      {
        "type": "header",
        "content": "Store message colors"
      },
      {
        "type": "color",
        "label": "Text",
        "id": "text_color",
        "default": "#121212"
      },  
      {
        "type": "header",
        "content": "Additional information colors"
      },
      {
        "type": "color",
        "label": "Text",
        "id": "hover_text_color",
        "default": "#121212"
      },       
      {
        "type": "color",
        "label": "Background",
        "id": "hover_text_bg_color",
        "default": "#FFFFFF"
      },   
      {
        "type": "color",
        "label": "Border",
        "id": "hover_text_border_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.slide_border_thickness >= 1 }}"
      },   
      {
        "type": "header",
        "content": "Arrow colors",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Icon",
        "id": "arrow_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Icon hover",
        "id": "arrow_hover_color",
        "default": "#FFFFFF",
        "visible_if": "{{ section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_desktop or section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "arrow_bg_color",
        "default": "#FFFFFF",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Background hover",
        "id": "arrow_bg_hover_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_desktop or section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "arrow_border_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Border hover",
        "id": "arrow_border_hover_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_desktop or section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_mobile }}"
      },    
      {
        "type": "header",
        "content": "Section colors"
      },
      {
        "type": "select",
        "id": "background_style",
        "label": "Background style",
        "default": "solid",
        "options": [
          {
            "label": "Solid",
            "value": "solid"
          },
          {
            "label": "Gradient",
            "value": "gradient"
          }
        ]
      },
      {
        "type": "color",
        "label": "Background",
        "id": "background_color",
        "default": "#FFFFFF",
        "visible_if": "{{ section.settings.background_style == 'solid' }}"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Gradient",
        "default": "linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%)",
        "visible_if": "{{ section.settings.background_style == 'gradient' }}"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#121212"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Sides - mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Top",
        "default": 8
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Bottom",
         "default": 8
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Sides",
        "default": 5
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Sides - mobile",
        "default": 1.5
      },
      {
        "type": "header",
        "content": "Section"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": true
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 800,
        "max": 2000,
        "step": 100,
        "unit": "px",
        "label": "Content width",
        "default": 1200,
        "visible_if": "{{ section.settings.full_width == false }}"
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 0
      }
    ],
    "blocks": [
       {
        "type": "slide",
        "name": "Store message",
        "settings": [              
          {
            "type": "richtext",
            "id": "text", 
            "label": "Message",
            "default": "<p>Add important information here</p>"
          },         
          {
            "type": "richtext",
            "id": "hover_text", 
            "label": "Additional information"
          },
          {
            "type": "header",
            "content": "Mobile store message"
          },
          {
            "type": "checkbox",
            "id": "use_mobile_text",
            "label": "Enable"
          },
          {
            "type": "richtext",
            "id": "mobile_text", 
            "label": "Message",
            "default": "<p>Message</p>",
            "visible_if": "{{ block.settings.use_mobile_text }}" 
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "type": "color",
            "label": "Background",
            "id": "slide_bg_color",
            "default": "#F3F3F3"
          },
          {
            "type": "color",
            "label": "Border",
            "id": "slide_border_color",
            "default": "#121212"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Promo slider",
        "blocks": [
          {
            "type": "slide",
            "settings": {
              "text": "<p>Free shipping on orders over $100</p>",
              "hover_text": "<p>Additional information</p>"
            }
          },
          {
            "type": "slide",
            "settings": {
              "text": "<p>Free Click & Collect to US stores</p>",
              "hover_text": "<p>Additional information</p>"
            }
          },
          {
            "type": "slide",
            "settings": {
              "text": "<p>Free and easy domestic returns</p>"
            }
          }
        ]
      }
    ]
  }
{% endschema %}