{% comment %}
---------------------------------------------------------
Copyright © 2023 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign content_maxwidth = section.settings.content_maxwidth
  assign content_align = section.settings.content_align
  assign content_align_mobile = section.settings.content_align_mobile

  assign content_horizontal_align = ""
  if content_align == "center"
    assign content_horizontal_align = "center"
  elsif content_align == "right"
    assign content_horizontal_align = "end"
  else
    assign content_horizontal_align = "start"
  endif

  assign content_horizontal_align_mobile = ""
  if content_align_mobile == "center"
    assign content_horizontal_align_mobile = "center"
  elsif content_align_mobile == "right"
    assign content_horizontal_align_mobile = "end"
  else
    assign content_horizontal_align_mobile = "start"
  endif 

  assign heading = section.settings.heading
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_height = section.settings.heading_height
  assign heading_color = section.settings.heading_color

  assign sub_heading = section.settings.sub_heading
  assign sub_heading_custom = section.settings.sub_heading_custom
  assign sub_heading_font = section.settings.sub_heading_font
  assign sub_heading_size = section.settings.sub_heading_size
  assign sub_heading_size_mobile = section.settings.sub_heading_size_mobile
  assign sub_heading_height = section.settings.sub_heading_height
  assign sub_heading_color = section.settings.sub_heading_color
  assign sub_heading_mt = section.settings.sub_heading_mt
  assign sub_heading_mt_mobile = section.settings.sub_heading_mt_mobile
  
  assign slider_view = section.settings.slider_view
  assign slider_view_mobile = section.settings.slider_view_mobile 
  assign slider_mt = section.settings.slider_mt
  assign slider_mt_mobile = section.settings.slider_mt_mobile

  assign slide_padding_horizontal = section.settings.slide_padding_horizontal
  assign slide_padding_horizontal_mobile = section.settings.slide_padding_horizontal_mobile
  assign slide_padding_vertical = section.settings.slide_padding_vertical
  assign slide_padding_vertical_mobile = section.settings.slide_padding_vertical_mobile
  assign slide_radius = section.settings.slide_radius  
  assign slide_border_thickness = section.settings.slide_border_thickness
  assign slide_border_color = section.settings.slide_border_color
  assign slide_ratio = section.settings.slide_ratio
  assign slide_ratio_mobile = section.settings.slide_ratio_mobile
  assign slide_bg_active_color = section.settings.slide_bg_active_color

  assign slide_content_padding_horizontal = section.settings.slide_content_padding_horizontal
  assign slide_content_padding_horizontal_mobile = section.settings.slide_content_padding_horizontal_mobile
  assign slide_content_padding_vertical = section.settings.slide_content_padding_vertical
  assign slide_content_padding_vertical_mobile = section.settings.slide_content_padding_vertical_mobile
  assign slide_content_radius = section.settings.slide_content_radius  

  assign sub_title_custom = section.settings.sub_title_custom
  assign sub_title_font = section.settings.sub_title_font
  assign sub_title_size = section.settings.sub_title_size
  assign sub_title_size_mobile = section.settings.sub_title_size_mobile
  assign sub_title_height = section.settings.sub_title_height
  assign sub_title_color = section.settings.sub_title_color

  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_height = section.settings.title_height
  assign title_color = section.settings.title_color
  assign title_mt = section.settings.title_mt
  assign title_mt_mobile = section.settings.title_mt_mobile

  assign content_arrow_size = section.settings.content_arrow_size
  assign content_arrow_size_mobile = section.settings.content_arrow_size_mobile
  assign content_arrow_radius = section.settings.content_arrow_radius
  assign content_arrow_bg_color = section.settings.content_arrow_bg_color
  assign content_arrow_bg_hover_color = section.settings.content_arrow_bg_hover_color
  assign content_arrow_bg_active_color = section.settings.content_arrow_bg_active_color
  assign content_arrow_border_thickness = section.settings.content_arrow_border_thickness
  assign content_arrow_border_color = section.settings.content_arrow_border_color
  assign content_arrow_border_hover_color = section.settings.content_arrow_border_hover_color
  assign content_arrow_border_active_color = section.settings.content_arrow_border_active_color
  assign content_arrow_color = section.settings.content_arrow_color
  assign content_arrow_hover_color = section.settings.content_arrow_hover_color
  assign content_arrow_active_color = section.settings.content_arrow_active_color

  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_height = section.settings.text_height
  assign text_color = section.settings.text_color
  assign text_space = section.settings.text_space
  assign text_space_mobile = section.settings.text_space_mobile
  assign text_border_color = section.settings.text_border_color
  assign text_border_thickness = section.settings.text_border_thickness

  assign arrow_size = section.settings.arrow_size
  assign arrow_size_mobile = section.settings.arrow_size_mobile
  assign arrow_icon_size = section.settings.arrow_icon_size
  assign arrow_icon_size_mobile = section.settings.arrow_icon_size_mobile
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color
  assign arrow_bg_color = section.settings.arrow_bg_color
  assign arrow_bg_hover_color = section.settings.arrow_bg_hover_color
  assign arrow_radius = section.settings.arrow_radius
  assign arrow_border_thickness = section.settings.arrow_border_thickness
  assign arrow_border_color = section.settings.arrow_border_color
  assign arrow_border_hover_color = section.settings.arrow_border_hover_color
  assign arrow_show_desktop = section.settings.arrow_show_desktop
  assign arrow_show_mobile = section.settings.arrow_show_mobile
  assign arrow_hover_effect = section.settings.arrow_hover_effect

  assign button = section.settings.button
  assign button_width = section.settings.button_width
  assign button_width_mobile = section.settings.button_width_mobile
  assign button_size = section.settings.button_size
  assign button_size_mobile = section.settings.button_size_mobile
  assign button_color = section.settings.button_color
  assign button_hover_color = section.settings.button_hover_color
  assign button_custom = section.settings.button_custom
  assign button_font = section.settings.button_font
  assign button_height = section.settings.button_height
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_padding_vertical_mobile = section.settings.button_padding_vertical_mobile
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_padding_horizontal_mobile = section.settings.button_padding_horizontal_mobile
  assign button_radius = section.settings.button_radius
  assign button_border_thickness = section.settings.button_border_thickness
  assign button_border_color = section.settings.button_border_color
  assign button_border_hover_color = section.settings.button_border_hover_color
  assign button_bg_color = section.settings.button_bg_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color
  assign button_style = section.settings.button_style
  assign button_mt = section.settings.button_mt
  assign button_mt_mobile = section.settings.button_mt_mobile
  assign button_url = section.settings.button_url

-%}

{%- style -%}
  {{ heading_font | font_face: font_display: 'swap' }}
  {{ sub_heading_font | font_face: font_display: 'swap' }}
  {{ sub_title_font | font_face: font_display: 'swap' }}
  {{ title_font | font_face: font_display: 'swap' }}
  {{ text_font | font_face: font_display: 'swap' }}
  {{ button_font | font_face: font_display: 'swap' }}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .slider-heading-{{ section.id }} {
    text-align: {{ content_align_mobile }};
  }

  .slider-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
    text-decoration: none;
    word-break: break-word;
    font-weight: 700;
  }

  .slider-subheading-{{ section.id }} {
    text-align: {{ content_align_mobile }};
    margin-top: {{ sub_heading_mt_mobile }}px;
  }

  .slider-subheading-{{ section.id }} * {
    margin: 0;
    font-size: {{ sub_heading_size_mobile }}px;
    color: {{ sub_heading_color }};
    line-height: {{ sub_heading_height }}%;
    text-transform: unset;
    text-decoration: none;
    word-break: break-word;
  }

  .slider-slider-wrapper-{{ section.id }} {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .slider-slider-{{ section.id }} {
    flex: 1 1 100% !important;
    margin-top: {{ slider_mt_mobile }}px !important;
    margin-left: -{{ padding_horizontal_mobile }}rem !important;
    margin-right: -{{ padding_horizontal_mobile }}rem !important;
    padding-left: {{ padding_horizontal_mobile }}rem !important;
    padding-right: {{ padding_horizontal_mobile }}rem !important;
  }

  .slider-slide-{{ section.id }} {
    position: relative !important;
    box-sizing: border-box !important;
    overflow: hidden !important;
    border: {{ slide_border_thickness }}px solid {{ slide_border_color }} !important;
    border-radius: {{ slide_radius }}px !important;
    padding: {{ slide_padding_vertical_mobile }}px {{ slide_padding_horizontal_mobile }}px !important;
  }

  .slider-slide-{{ section.id }} > img,
  .slider-slide-{{ section.id }} > svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .slider-slide-{{ section.id }} > svg {
    background-color: #AFAFAF;
  }

  .slider-slide-content-{{ section.id }} {
    position: absolute;
    top: {{ slide_padding_vertical_mobile }}px;
    left: {{ slide_padding_horizontal_mobile }}px;
    width: calc(100% - {{ slide_padding_horizontal_mobile | times: 2 }}px);
    z-index: 2;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background-color:{{ slide_bg_active_color }} ;
    border-radius: {{ slide_content_radius }}px;
    overflow: hidden;
    padding: {{ slide_content_padding_vertical_mobile }}px {{ slide_content_padding_horizontal_mobile }}px;
    transition: all 0.25s ease 0s;
    opacity: 0;
    display: flex;
    flex-direction: column;
  }

  .slider-slide-{{ section.id }}.swiper-slide-active .slider-slide-content-{{ section.id }} {
    opacity: 1;
    transition: all 0.25s ease 0s;
  }

  .slider-slide-content-{{ section.id }}.active {
    transition: all 0.25s ease 0s;
    background-color: {{ slide_bg_active_color }};
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: {{ slide_content_padding_vertical_mobile | plus: slide_padding_vertical_mobile }}px {{ slide_content_padding_horizontal_mobile | plus: slide_padding_horizontal_mobile }}px;
    border-radius: 0px;
  }

  .slider-slide-content-top-{{ section.id }} {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  .slider-slide-content-left-{{ section.id }} {
    flex: 1 1 auto;
  }

  .slider-slide-subtitle-{{ section.id }} {    
    margin: 0;
    font-size: {{ sub_title_size_mobile }}px;
    color: {{ sub_title_color }};
    line-height: {{ sub_title_height }}%;
    text-transform: unset;
    text-decoration: none;
    word-break: break-word;
  }

  .slider-slide-title-{{ section.id }} {    
    margin: 0;
    margin-top: {{ title_mt_mobile }}px;
    font-size: {{ title_size_mobile }}px;
    color: {{ title_color }};
    line-height: {{ title_height }}%;
    text-transform: unset;
    text-decoration: none;
    word-break: break-word;
  }

  .slider-slide-arrow-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    width: {{ content_arrow_size_mobile }}px;
    height: {{ content_arrow_size_mobile }}px;
    background-color: {{ content_arrow_bg_color }};
    border: {{ content_arrow_border_thickness }}px solid {{ content_arrow_border_color }};
    border-radius: {{ content_arrow_radius }}px;
    transition: all 0.25s ease 0s;
    flex-shrink: 0;
  }

  .slider-slide-content-{{ section.id }}.active .slider-slide-arrow-{{ section.id }} {
    background-color:  {{ content_arrow_bg_active_color }};
    border-color: {{ content_arrow_border_active_color }};
    transition: all 0.25s ease 0s;
  }

  .slider-slide-arrow-{{ section.id }} svg {
    display: block;
    width: {{ content_arrow_size_mobile | times: 0.5 }}px;
    height: {{ content_arrow_size_mobile | times: 0.5 }}px;
  }

  .slider-slide-arrow-{{ section.id }} svg path {
    stroke: {{ content_arrow_color }};
    transition: all 0.25s ease 0s;
  }

  .slider-slide-content-{{ section.id }}.active .slider-slide-arrow-{{ section.id }} svg path {
    stroke: {{ content_arrow_active_color }};
    transition: all 0.25s ease 0s;
  }

  .slider-slide-arrow-{{ section.id }} svg:last-child {
    display: none !important;
  }

  .slider-slide-content-{{ section.id }}.active .slider-slide-arrow-{{ section.id }} svg:first-child {
    display: none !important;
  }

  .slider-slide-content-{{ section.id }}.active .slider-slide-arrow-{{ section.id }} svg:last-child {
    display: block !important;
  }

  .slider-slide-content-bottom-{{ section.id }} {
    flex: 0 0 0px;
    overflow-y: auto;
    scrollbar-width: none;
  }

  .slider-slide-content-bottom-{{ section.id }}::-webkit-scrollbar {
    display: none;
  }

  .slider-slide-content-{{ section.id }}.active .slider-slide-content-bottom-{{ section.id }} {
   flex: 1 1 auto;
  }

  .slider-slide-text-{{ section.id }} {
    border-top: {{ text_border_thickness }}px solid {{ text_border_color }};
    padding-top: 18px;
  }

  .slider-slide-text-{{ section.id }} * {    
    margin: 0;
    font-size: {{ text_size_mobile }}px;
    color: {{ text_color }};
    line-height: {{ text_height }}%;
    text-transform: unset;
    text-decoration: none;
    word-break: break-word;
  }

  .slider-slide-text-{{ section.id }}:first-child {
    margin-top: 20px;
  }

  .slider-slide-text-{{ section.id }}:last-child {
    margin-top: {{ text_space_mobile }}px;
  }
  
  .slider-button-wrap-{{ section.id }} {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: {{ content_horizontal_align_mobile }};
  }

  .slider-button-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: {{ button_width_mobile }}%;
    gap: 10px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-top: {{ button_mt_mobile }}px;
    font-size: {{ button_size_mobile }}px;
    color: {{ button_color }};
    line-height: {{ button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical_mobile }}px {{ button_padding_horizontal_mobile }}px;
    border-radius: {{ button_radius }}px;
    transition: all 0.25s ease 0s;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-weight: 700;
  }

  .slider-button-inner-{{ section.id }} {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .slider-button-{{ section.id }}:hover {
    color: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .slider-button-{{ section.id }} svg {
    width: 14px;
    height: 14px;
  }

  .slider-button-{{ section.id }} svg path {
    fill: {{ button_color }};
    transition: all 0.25s ease 0s;
  }

  .slider-button-{{ section.id }}:hover svg path {
    fill: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .slider-navigation-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }

  .slider-btn-prev-{{ section.id }},
  .slider-btn-next-{{ section.id }} {
    position: static;
    display: flex;
    flex-shrink: 0;
    width: {{ arrow_size_mobile }}px;
    height: {{ arrow_size_mobile }}px;
    border: 0px;
    border: {{ arrow_border_thickness }}px solid {{ arrow_border_color }};
    border-radius: {{ arrow_radius }}px;
    background: transparent;
    background: {{ arrow_bg_color }};
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,.15); */
  }

  .slider-btn-prev-{{ section.id }} .animate-icon,
  .slider-btn-next-{{ section.id }} .animate-icon {
    pointer-events: none;
    place-items: center;
    display: grid;
  }

  .slider-btn-prev-{{ section.id }} .animate-icon:before,
  .slider-btn-next-{{ section.id }} .animate-icon:before {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size_mobile }}px;
    height: {{ arrow_icon_size_mobile }}px;
    transform: rotate(calc(1 * 45deg));
    box-sizing: border-box;
    border-style: solid;
    border: 0px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    position: relative;
    left: -1px;
  }

  .slider-btn-prev-{{ section.id }} .animate-icon:before {
    left: unset;
    right: -1px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid currentColor;
    border-left: 2px solid currentColor;
  }

  .slider-btn-prev-{{ section.id }} .animate-icon:after,
  .slider-btn-next-{{ section.id }} .animate-icon:after {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size_mobile | minus: 0.3 }}px;
    height: 1.6px;
    transform-origin: center;
    opacity: 0;
    background: currentColor;
    transform: scaleX(.5);
  }

  .slider-btn-prev-{{ section.id }} span,
  .slider-btn-next-{{ section.id }} span {
    color: {{ arrow_color }};
  }

  .slider-btn-prev-{{ section.id }}.swiper-button-disabled,
  .slider-btn-next-{{ section.id }}.swiper-button-disabled {
    opacity: 0.5;
  }

  .slider-btn-prev-{{ section.id }}.swiper-button-lock,
  .slider-btn-next-{{ section.id }}.swiper-button-lock {
    opacity: 0;
    pointer-events: none;
  }

  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .slider-heading-{{ section.id }} {
      text-align: {{ content_align }};
      max-width: {{ content_maxwidth }}%;
    }
  
    .slider-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .slider-subheading-{{ section.id }} {
      text-align: {{ content_align }};
      margin-top: {{ sub_heading_mt }}px;
      max-width: {{ content_maxwidth }}%;
    }

    .slider-subheading-{{ section.id }} * {
      font-size: {{ sub_heading_size }}px;
    }

    .slider-slider-{{ section.id }} {
      margin-top: {{ slider_mt }}px !important;
      margin-left: -{{ padding_horizontal }}rem !important;
      margin-right: -{{ padding_horizontal }}rem !important;
      padding-left: {{ padding_horizontal }}rem !important;
      padding-right: {{ padding_horizontal }}rem !important;
    }

    .slider-slide-{{ section.id }} {
      padding: {{ slide_padding_vertical }}px {{ slide_padding_horizontal }}px !important;
    }

    .slider-slide-content-{{ section.id }} {
      padding: {{ slide_content_padding_vertical }}px {{ slide_content_padding_horizontal }}px;
      top: {{ slide_padding_vertical }}px;
      left: {{ slide_padding_horizontal }}px;
      width: calc(100% - {{ slide_padding_horizontal | times: 2 }}px);
      transition: all 0.25s ease 0s;
    }

    .slider-slide-content-{{ section.id }}.active {
      padding: {{ slide_content_padding_vertical | plus: slide_padding_vertical }}px {{ slide_content_padding_horizontal | plus: slide_padding_horizontal }}px;
    }

    .slider-slide-subtitle-{{ section.id }} {    
      font-size: {{ sub_title_size }}px;
    }
  
    .slider-slide-title-{{ section.id }} {    
      margin-top: {{ title_mt }}px;
      font-size: {{ title_size }}px;
    }

    .slider-slide-arrow-{{ section.id }} {
      width: {{ content_arrow_size }}px;
      height: {{ content_arrow_size }}px;
    }
  
    .slider-slide-arrow-{{ section.id }} svg {
      width: {{ content_arrow_size | times: 0.5 }}px;
      height: {{ content_arrow_size | times: 0.5 }}px;
    }

    .slider-slide-content-top-{{ section.id }}:hover .slider-slide-arrow-{{ section.id }} {
      background-color: {{ content_arrow_bg_hover_color }};
      border-color: {{ content_arrow_border_hover_color }};
      transition: all 0.25s ease 0s;
    }

    .slider-slide-content-top-{{ section.id }}:hover .slider-slide-arrow-{{ section.id }} svg path {
      stroke: {{ content_arrow_hover_color }};
      transition: all 0.25s ease 0s;
    }

    .slider-slide-content-{{ section.id }}.active .slider-slide-arrow-{{ section.id }} {
      background-color:  {{ content_arrow_bg_active_color }};
      border-color: {{ content_arrow_border_active_color }};
      transition: all 0.25s ease 0s;
    }
    
    .slider-slide-content-{{ section.id }}.active .slider-slide-arrow-{{ section.id }} svg path {
      stroke: {{ content_arrow_active_color }};
      transition: all 0.25s ease 0s;
    }

    .slider-slide-text-{{ section.id }} * {    
      font-size: {{ text_size }}px;
    }

    .slider-slide-text-{{ section.id }}:last-child {
      margin-top: {{ text_space }}px;
    }
    
    .slider-button-wrap-{{ section.id }} {
      justify-content: {{ content_horizontal_align }};
    }

    .slider-button-{{ section.id }} {
      margin-top: {{ button_mt }}px;
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
      font-size: {{ button_size }}px;
      max-width: {{ button_width }}%;
    }

    .slider-btn-prev-{{ section.id }},
    .slider-btn-next-{{ section.id }} {
      width: {{ arrow_size }}px;
      height: {{ arrow_size }}px;
      transition: all 0.25s ease 0s;
    }

    .slider-btn-prev-{{ section.id }} .animate-icon:before,
    .slider-btn-next-{{ section.id }} .animate-icon:before {
      width: {{ arrow_icon_size }}px;
      height: {{ arrow_icon_size }}px;
    }

    .slider-btn-prev-{{ section.id }} .animate-icon:after,
    .slider-btn-next-{{ section.id }} .animate-icon:after {
      width: {{ arrow_icon_size | minus: 0.3 }}px;
    }
    
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if heading_custom %}
  <style>
    .slider-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if sub_heading_custom %}
  <style>
    .slider-subheading-{{ section.id }} * {
      font-family: {{ sub_heading_font.family }}, {{ sub_heading_font.fallback_families }};
      font-weight: {{ sub_heading_font.weight }};
      font-style: {{ sub_heading_font.style }};
    }
  </style>
{% endif %}

{% if title_custom %}
  <style>
    .slider-slide-title-{{ section.id }} {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if sub_title_custom %}
  <style>
    .slider-slide-subtitle-{{ section.id }} {
      font-family: {{ sub_title_font.family }}, {{ sub_title_font.fallback_families }};
      font-weight: {{ sub_title_font.weight }};
      font-style: {{ sub_title_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .slider-slide-text-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if button_custom %}
  <style>
    .slider-button-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}

{% if content_align_mobile == "center" %}
  <style>
    .slider-heading-{{ section.id }},
    .slider-subheading-{{ section.id }} {
      margin-left: auto;
      margin-right: auto;
    }
  </style>
{% elsif content_align_mobile == "right" %}
  <style>
    .slider-heading-{{ section.id }},
    .slider-subheading-{{ section.id }} {
      margin-left: auto;
    }
  </style>
{% endif %}

{% if content_align == "center" %}
  <style>
    @media(min-width: 1024px) {
      .slider-heading-{{ section.id }},
      .slider-subheading-{{ section.id }} {
        margin-left: auto;
        margin-right: auto;
      }
    }
  </style>
{% elsif content_align == "right" %}
  <style>
    @media(min-width: 1024px) {
      .slider-heading-{{ section.id }},
      .slider-subheading-{{ section.id }} {
        margin-left: auto;
        margin-right: 0px;
      }
    }
  </style>
{% elsif content_align == "left" %}
  <style>
    @media(min-width: 1024px) {
      .slider-heading-{{ section.id }},
      .slider-subheading-{{ section.id }} {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  </style>
{% endif %}

{% if arrow_hover_effect == "color" %}
  <style>
    .slider-btn-prev-{{ section.id }}:hover,
    .slider-btn-next-{{ section.id }}:hover {
      transition: all 0.3s ease 0s;
      border: {{ arrow_border_thickness }}px solid {{ arrow_border_hover_color }};
      background: {{ arrow_bg_hover_color }};
    }
  
    .slider-btn-prev-{{ section.id }}:hover .animate-icon,
    .slider-btn-next-{{ section.id }}:hover .animate-icon {
      color: {{ arrow_hover_color }};
    }
  </style>
{% elsif arrow_hover_effect == "scale" %}
  <style>
    .slider-btn-prev-{{ section.id }}:hover,
    .slider-btn-next-{{ section.id }}:hover {
      transform: scale(0.9);
    }

    @media(min-width: 1024px) {
      .slider-btn-prev-{{ section.id }}:hover,
      .slider-btn-next-{{ section.id }}:hover {
        transform: scale(0.9);
      }
    }
  </style>
{% elsif arrow_hover_effect == "arrow" %}
  <style>
    .slider-btn-next-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
  
    .slider-btn-prev-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(-1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
    
    .slider-btn-prev-{{ section.id }}:hover .animate-icon:after,
    .slider-btn-next-{{ section.id }}:hover .animate-icon:after {
      opacity: 1;
      transform: scaleX(1);
    }
  </style>
{% endif %}

{% if arrow_show_mobile %}
  <style>
    .slider-navigation-{{ section.id }} {
      display: flex;
    }
  </style>
{% else %}
  <style>
    .slider-navigation-{{ section.id }} {
      display: none;
    }
  </style>
{% endif %}

{% if arrow_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .slider-navigation-{{ section.id }} {
        display: flex;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .slider-navigation-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}


{% if button_style == "non_outline" or button_style == "non_outline_arrow" %}
  <style>
    .slider-button-{{ section.id }} {
      transition: all 0.25s ease 0s;
      background-color: {{ button_bg_color }};
    }

    .slider-button-{{ section.id }}:hover {
      transition: all 0.25s ease 0s;
      background-color: {{ button_bg_hover_color }};
    }
  </style>
{% elsif button_style == "outline" or button_style == "outline_arrow" %}
  <style>
    .slider-button-{{ section.id }} {
      transition: all 0.25s ease 0s;
      background-color: {{ button_bg_color }};
      border: {{ button_border_thickness }}px solid {{ button_border_color }};
    }

    .slider-button-{{ section.id }}:hover {
      transition: all 0.25s ease 0s;
      background-color: {{ button_bg_hover_color }};
      border: {{ button_border_thickness }}px solid {{ button_border_hover_color }};
    }
  </style>
{% elsif button_style == "link" %}
  <style>
    .slider-button-{{ section.id }} {
      padding: 0px !important;
    }
  </style>
{% endif %}

{% if slide_ratio_mobile == "portrait" %}
  <style>
    .slider-slide-{{ section.id }} {
      aspect-ratio: 9.6/13;
    }
  </style>
{% elsif slide_ratio_mobile == "landscape" %}
  <style>
  .slider-slide-{{ section.id }} {
    aspect-ratio: 12/8;
  }
  </style>
{% elsif slide_ratio_mobile == "square" %}
  <style>
    .slider-slide-{{ section.id }} {
      aspect-ratio: 12/12;
    }
  </style>
{% else %}
  <style>
    .slider-slide-{{ section.id }} {
      aspect-ratio: auto;
    }
  </style>
{% endif %}

{% if slide_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
      .slider-slide-{{ section.id }} {
        aspect-ratio: 9.6/13;
      }
    }
    
  </style>
{% elsif slide_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .slider-slide-{{ section.id }} {
        aspect-ratio: 12/8;
      }
    }  
  </style>
{% elsif slide_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .slider-slide-{{ section.id }} {
        aspect-ratio: 12/12;
      }
    }    
  </style>
{% else %}
  <style>
     @media(min-width: 1024px) {
      .slider-slide-{{ section.id }} {
        aspect-ratio: auto;
      }
    }
  </style>
{% endif %}

{% comment %} PREVIEW {% endcomment %}
<style>
  .slider-slider-{{ section.id }}.preview .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 15px;    
  }

  .slider-slider-{{ section.id }}.preview .slider-slide-{{ section.id }} {
    width: 100%;
  }

  .slider-slider-{{ section.id }}.preview .slider-slide-{{ section.id }}:not(:first-child) {
    margin-left: 24px;
  } 

  @media(min-width: 1024px) {
    .slider-slider-{{ section.id }}.preview .slider-slide-{{ section.id }}:not(:first-child) {
      margin-left: {{ slider_gap | plus: 15 }}px;
    } 

    .slider-slider-{{ section.id }}.preview .slider-slide-{{ section.id }} {
      width: calc(100% / {{ slider_view }}) - 32px);
    }
  }
</style>


<div class="section-{{ section.id }} slider-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      {% if heading != blank %}
        <div class="slider-heading-{{ section.id }}">{{ heading }}</div> 
      {% endif %}
      {% if sub_heading != blank %}
        <div class="slider-subheading-{{ section.id }}">{{ sub_heading }}</div> 
      {% endif %}  
      <div class="slider-slider-{{ section.id }} preview swiper">
        <div class="swiper-wrapper">
          {% for item in (1..3) %}
            {% for block in section.blocks %}              
              <div class="slider-slide-{{ section.id }} swiper-slide">   
                {% if block.settings.image != blank %}          
                  <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>   
                {% else %}
                  {{ 'image' | placeholder_svg_tag }}
                {% endif %}    
  
                <div class="slider-slide-content-{{ section.id }}">
                  <div class="slider-slide-content-top-{{ section.id }}">
                    <div class="slider-slide-left-{{ section.id }}">
                      {% if block.settings.sub_title != blank %}
                        <p class="slider-slide-subtitle-{{ section.id }}">{{ block.settings.sub_title }}</p>
                      {% endif %}
                      {% if block.settings.title != blank %}
                        <p class="slider-slide-title-{{ section.id }}">{{ block.settings.title }}</p>
                      {% endif %}
                    </div>
                    <div class="slider-slide-arrow-{{ section.id }}">
                      <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="" style="touch-action: pan-y;">
                        <path d="M0.726562 20.3987L19.2747 1.85059" stroke="currentColor" stroke-width="2" style="touch-action: pan-y;"></path>
                        <path d="M4.72656 1.59961H19.5227V16.3957" stroke="currentColor" stroke-width="2" style="touch-action: pan-y;"></path>
                      </svg>
                      <svg width="26" height="26" viewBox="0 0 26 26" fill="none" class="" xmlns="http://www.w3.org/2000/svg" style="touch-action: pan-y;">
                        <path d="M1 1L24.5 24.5M24.5 1L1 24.5" stroke="currentColor" stroke-width="2" style="touch-action: pan-y;"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="slider-slide-content-bottom-{{ section.id }}">
                    {% if block.settings.text != blank %}
                      <div class="slider-slide-text-{{ section.id }}">
                        {{ block.settings.text }}
                      </div>
                    {% endif %}
  
                    {% if block.settings.bottom_text != blank %}
                      <div class="slider-slide-text-{{ section.id }}">
                        {{ block.settings.bottom_text }}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>  
      <div class="slider-navigation-{{ section.id }}">
        <button class="slider-btn-prev-{{ section.id }}">
          <span class="animate-icon"></span>
        </button>
        <button class="slider-btn-next-{{ section.id }}">
          <span class="animate-icon"></span>
        </button>
      </div>
      {% if button != blank %}
        <div class="slider-button-wrap-{{ section.id }}">
          <{% if button_url != blank %}a href="{{ button_url }}"{% else %}div{% endif %} class="slider-button-{{ section.id }}">    
            <p class="slider-button-inner-{{ section.id }}">
            {{ button }}
            {% if button_style == "non_outline_arrow" or button_style == "outline_arrow" %}
                <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                  <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                </svg>
              {% endif %}
            </p>
          </{% if button_url != blank %}a{% else %}div{% endif %}>
        </div>      
      {% endif %} 
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  function initSlider10() {
    document.querySelector('.slider-slider-{{ section.id }}').classList.remove('preview');
    const slider = new Swiper(".slider-slider-{{ section.id }}", {
      speed: 300,
      centeredSlides: true,
      loopAdditionalSlides: 4,
      loopedSlides: 4,
      loop: true,
      navigation: {
        nextEl: '.slider-btn-next-{{ section.id }}',
        prevEl: '.slider-btn-prev-{{ section.id }}',
      },
      effect: "creative",
      creativeEffect: {
        perspective: true,
        limitProgress: 3,
        prev: {
          translate: ['-100%', '0%', 0],
          rotate: [0, 0, 0],
          scale: 0.8,
          origin: "bottom",
        },
        next: {
          translate: ['100%', '0%', 0],
          rotate: [0, 0, 0],
          scale: 0.8,
          origin: "bottom",
        },
      },
      breakpoints: {
        320: {
          spaceBetween: 24,
          slidesPerView: {{ slider_view_mobile }}
        },
        768: {
          spaceBetween: 24,
          slidesPerView: {{ slider_view | times: 0.5 | round: 0 }}       
        },
        1024: {
          spaceBetween: 32,
          slidesPerView: {{ slider_view }}          
        }
      }
    });

    let slides = document.querySelectorAll('.slider-slide-{{ section.id }}');
    if(slides) {
      slides.forEach(el => {
        let content = el.querySelector('.slider-slide-content-{{ section.id }}');
        let toggle = el.querySelector('.slider-slide-content-top-{{ section.id }}');
        if(toggle) {
          toggle.addEventListener('click', () => {
            if(content) {
              content.classList.toggle('active');
            }
          })
        }
      })
    }

  }

  document.addEventListener('DOMContentLoaded', initSlider10);

  if (Shopify.designMode) {
    document.addEventListener('shopify:section:unload', initSlider10);
    document.addEventListener('shopify:section:load', initSlider10);
  }
</script>

{% schema %}
  {
    "name": "SS - Slider #10",
    "settings": [
      {
        "type": "paragraph",
        "content": "⚠️ Save settings to view updates"
      },
      {
        "type": "header",
        "content": "Content settings"
      },
      {
        "type": "range",
        "id": "content_maxwidth",
        "min": 30,
        "max": 100,
        "step": 2,
        "unit": "%",
        "label": "Width - desktop",
        "default": 50
      },
      {
        "type": "text_alignment",
        "id": "content_align",
        "label": "Alignment",
        "default": "center"
      },
      {
        "type": "text_alignment",
        "id": "content_align_mobile",
        "label": "Alignment - mobile",
        "default": "center"
      },
      {
        "type": "header",
        "content": "Heading settings"
      },
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<h2>Slider #10</h2>"
      },
      {
        "type": "checkbox",
        "id": "heading_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "heading_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Font size",
        "default": 48
      },
      {
        "type": "range",
        "id": "heading_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 32
      },
      {
        "type": "range",
        "id": "heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      },     
      {
        "type": "header",
        "content": "Subheading settings"
      },
      {
        "type": "richtext",
        "id": "sub_heading",
        "label": "Subheading",
        "default": "<p>Subheading</p>"
      },
      {
        "type": "checkbox",
        "id": "sub_heading_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "sub_heading_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "sub_heading_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
      },
      {
        "type": "range",
        "id": "sub_heading_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 16
      },
      {
        "type": "range",
        "id": "sub_heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 150
      },    
      {
        "type": "range",
        "id": "sub_heading_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 24
      },
      {
        "type": "range",
        "id": "sub_heading_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 16
      },    
      {
        "type": "header",
        "content": "Slider settings"
      },
      {
        "type": "range",
        "id": "slider_view",
        "min": 1,
        "max": 5,
        "step": 0.5,
        "label": "Slides to show",
        "default": 4
      },      
      {
        "type": "range",
        "id": "slider_view_mobile",
        "min": 1,
        "max": 2,
        "step": 0.1,
        "label": "Slides to show - mobile",
        "default": 1.2
      }, 
      {
        "type": "range",
        "id": "slider_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 52
      },
      {
        "type": "range",
        "id": "slider_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 40
      },
      {
        "type": "header",
        "content": "Slide settings"
      },
      {
        "type": "range",
        "id": "slide_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 20
      },   
      {
        "type": "range",
        "id": "slide_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "slide_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal",
        "default": 20
      },
      {
        "type": "range",
        "id": "slide_padding_horizontal_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal - mobile",
        "default": 16
      },
      {
        "type": "range",
        "id": "slide_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 20
      },
      {
        "type": "range",
        "id": "slide_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 16
      },
      {
        "type": "select",
        "id": "slide_ratio",
        "label": "Aspect ratio",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "select",
        "id": "slide_ratio_mobile",
        "label": "Aspect ratio - mobile",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },  
      {
        "type": "header",
        "content": "Slide content settings"
      },
      {
        "type": "range",
        "id": "slide_content_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal",
        "default": 12
      },
      {
        "type": "range",
        "id": "slide_content_padding_horizontal_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal - mobile",
        "default": 12
      },
      {
        "type": "range",
        "id": "slide_content_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 8
      },
      {
        "type": "range",
        "id": "slide_content_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 8
      },
      {
        "type": "range",
        "id": "slide_content_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 8
      }, 
      {
        "type": "header",
        "content": "Subtitle settings"
      },
      {
        "type": "checkbox",
        "id": "sub_title_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "sub_title_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "sub_title_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 18
      },
      {
        "type": "range",
        "id": "sub_title_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 18
      },
      {
        "type": "range",
        "id": "sub_title_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      },
      {
        "type": "header",
        "content": "Title settings"
      },
      {
        "type": "checkbox",
        "id": "title_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "title_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 18
      },
      {
        "type": "range",
        "id": "title_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 18
      },
      {
        "type": "range",
        "id": "title_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      },
      {
        "type": "range",
        "id": "title_mt",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 4
      },
      {
        "type": "range",
        "id": "title_mt_mobile",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 4
      },
      {
        "type": "header",
        "content": "Content arrow settings"
      },
      {
        "type": "range",
        "id": "content_arrow_size",
        "min": 20,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size",
        "default": 50
      },
      {
        "type": "range",
        "id": "content_arrow_size_mobile",
        "min": 20,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size - mobile",
        "default": 50
      },
      {
        "type": "range",
        "id": "content_arrow_radius",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 6
      },
      {
        "type": "range",
        "id": "content_arrow_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 1
      },
      {
        "type": "header",
        "content": "Text settings"
      },
      {
        "type": "checkbox",
        "id": "text_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "text_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 15
      },
      {
        "type": "range",
        "id": "text_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 15
      },
      {
        "type": "range",
        "id": "text_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 150
      }, 
      {
        "type": "range",
        "id": "text_space",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap",
        "default": 60
      },
      {
        "type": "range",
        "id": "text_space_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap - mobile",
        "default": 60
      },
      {
        "type": "range",
        "id": "text_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 1
      },
      {
        "type": "header",
        "content": "Arrow settings"
      },
      {
        "type": "range",
        "id": "arrow_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size",
        "default": 50
      },
      {
        "type": "range",
        "id": "arrow_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size - mobile",
        "default": 50
      },
      {
        "type": "range",
        "id": "arrow_icon_size",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Icon size",
        "default": 10
      },
      {
        "type": "range",
        "id": "arrow_icon_size_mobile",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Icon size - mobile",
        "default": 10
      },
      {
        "type": "range",
        "id": "arrow_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 6
      },
      {
        "type": "range",
        "id": "arrow_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 1
      },
      {
        "type": "select",
        "id": "arrow_hover_effect",
        "label": "Hover effect",
        "default": "color",
        "options": [
          {
            "label": "Change color",
            "value": "color"
          },
          {
            "label": "Change size",
            "value": "scale"
          },
          {
            "label": "Change arrow",
            "value": "arrow"
          },
          {
            "label": "None",
            "value": "none"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "arrow_show_desktop",
        "label": "Show on desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "arrow_show_mobile",
        "label": "Show on mobile",
        "default": false
      },
      {
        "type": "header",
        "content": "Button settings"
      },
      {
        "type": "text",
        "id": "button",
        "label": "Button label",
        "default": "Learn more",
        "info": "Leave the label blank to hide the button."
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button link"
      },
      {
        "type": "checkbox",
        "id": "button_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "button_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "button_size",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 18
      },
      {
        "type": "range",
        "id": "button_size_mobile",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 15
      },
      {
        "type": "range",
        "id": "button_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 100
      },
      {
        "type": "range",
        "id": "button_width",
        "min": 30,
        "max": 100,
        "step": 2,
        "unit": "%",
        "label": "Width",
        "default": 100
      },
      {
        "type": "range",
        "id": "button_width_mobile",
        "min": 30,
        "max": 100,
        "step": 2,
        "unit": "%",
        "label": "Width - mobile",
        "default": 100
      },
      {
        "type": "range",
        "id": "button_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 18
      },
      {
        "type": "range",
        "id": "button_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 18
      },
      {
         "type": "range",
         "id": "button_padding_horizontal",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Padding horizontal",
         "default": 24
      },
      {
         "type": "range",
         "id": "button_padding_horizontal_mobile",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Padding horizontal - mobile",
         "default": 24
      },
      {
         "type": "range",
         "id": "button_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Roundness",
         "default": 100
      },
      {
         "type": "range",
         "id": "button_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Border thickness",
         "default": 1
      },
      {
         "type": "range",
         "id": "button_mt",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Margin top",
         "default": 24
      },
      {
         "type": "range",
         "id": "button_mt_mobile",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Margin top - mobile",
         "default": 24
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Style",
        "default": "outline",
        "options": [
          {
            "label": "Link",
            "value": "link"
          },
          {
            "label": "Non-outline",
            "value": "non_outline"
          },
          {
            "label": "Non-outline & arrow",
            "value": "non_outline_arrow"
          },
          {
            "label": "Outline",
            "value": "outline"
          },
          {
            "label": "Outline & arrow",
            "value": "outline_arrow"
          }
        ]
      },
      {
        "type": "header",
        "content": "Content colors"
      },
      {
        "type": "color",
        "label": "Heading",
        "id": "heading_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Subheading",
        "id": "sub_heading_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Slide colors"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "slide_border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Slide content colors"
      },
      {
        "type": "color",
        "label": "Subtitle",
        "id": "sub_title_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Title",
        "id": "title_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Text",
        "id": "text_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "slide_bg_active_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "text_border_color",
        "default": "#FFFFFF"
      },
      {
        "type": "header",
        "content": "Content arrow colors"
      },
      {
        "type": "color",
        "label": "Icon",
        "id": "content_arrow_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Icon hover",
        "id": "content_arrow_hover_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Icon active",
        "id": "content_arrow_active_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "content_arrow_bg_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background hover",
        "id": "content_arrow_bg_hover_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Background active",
        "id": "content_arrow_bg_active_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "content_arrow_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Border hover",
        "id": "content_arrow_border_hover_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Border active",
        "id": "content_arrow_border_active_color",
        "default": "#FFFFFF"
      },
      {
        "type": "header",
        "content": "Arrow colors"
      },
      {
        "type": "color",
        "label": "Icon",
        "id": "arrow_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Icon hover",
        "id": "arrow_hover_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "arrow_bg_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background hover",
        "id": "arrow_bg_hover_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "arrow_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Border hover",
        "id": "arrow_border_hover_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Button colors"
      },
      {
        "type": "color",
        "label": "Text",
        "id": "button_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Hover text",
        "id": "button_hover_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "button_bg_color"
      },
      {
        "type": "color",
        "label": "Background hover",
        "id": "button_bg_hover_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Button border",
        "id": "button_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Border hover",
        "id": "button_border_hover_color",
        "default": "#000000"
      }, 
      {
        "type": "header",
        "content": "Section colors"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient",
        "info": "Remove gradient to replace with solid colors"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Margin sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Margin sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 36
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 5
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 1.5
      },
      {
        "type": "header",
        "content": "Section settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": true
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 800,
        "max": 2000,
        "step": 100,
        "unit": "px",
        "label": "Section content width",
        "default": 1200
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Section roundness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [          
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, 
          {
            "type": "text",
            "id": "sub_title", 
            "label": "Subtitle",
            "default": "Subtitle"
          }, 
          {
            "type": "text",
            "id": "title", 
            "label": "Title",
            "default": "Title"
          },  
          {
            "type": "richtext",
            "id": "text", 
            "label": "Text",
            "default": "<p>Text</p>"
          },  
          {
            "type": "richtext",
            "id": "bottom_text", 
            "label": "Caption",
            "default": "<p>Caption</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Slider #10",
        "blocks": [
          {
            "type": "slide"
          },
          {
            "type": "slide"
          },
          {
            "type": "slide"
          },
          {
            "type": "slide"
          },
          {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}