{% comment %}
---------------------------------------------------------
Copyright © 2023 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign images_position_mobile = section.settings.images_position_mobile
  assign images_position = section.settings.images_position
  
  assign image_ratio = section.settings.image_ratio
  assign image_ratio_mobile = section.settings.image_ratio_mobile
  assign image_radius = section.settings.image_radius
  assign image_border_thickness = section.settings.image_border_thickness
  assign image_border_color = section.settings.image_border_color

  assign content_padding_vertical = section.settings.content_padding_vertical
  assign content_padding_vertical_mobile = section.settings.content_padding_vertical_mobile
  assign content_padding_horizontal = section.settings.content_padding_horizontal
  assign content_padding_horizontal_mobile = section.settings.content_padding_horizontal_mobile

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_color = section.settings.heading_color
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign slider_mt_mobile = section.settings.slider_mt_mobile
  assign slider_mt = section.settings.slider_mt

  assign content_horizontal_align = section.settings.content_horizontal_align
  assign content_horizontal_align_mobile = section.settings.content_horizontal_align_mobile

  assign text_align = ""
  if content_horizontal_align == "start"
    assign text_align = "left"
  elsif content_horizontal_align == "center"
    assign text_align = "center"
  else
    assign text_align = "right"
  endif

  assign text_align_mobile = ""
  if content_horizontal_align_mobile == "start"
    assign text_align_mobile = "left"
  elsif content_horizontal_align_mobile == "center"
    assign text_align_mobile = "center"
  else
    assign text_align_mobile = "right"
  endif

  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_height = section.settings.title_height
  assign title_color = section.settings.title_color
  assign title_mt = section.settings.title_mt
  assign title_mt_mobile = section.settings.title_mt_mobile

  assign price_custom = section.settings.price_custom
  assign price_font = section.settings.price_font
  assign price_size = section.settings.price_size
  assign price_size_mobile = section.settings.price_size_mobile
  assign price_mt = section.settings.price_mt
  assign price_mt_mobile = section.settings.price_mt_mobile
  assign price_height = section.settings.price_height
  assign price_color = section.settings.price_color
  assign price_original_color = section.settings.price_original_color

  assign item_image_ratio = section.settings.item_image_ratio
  assign item_image_ratio_mobile = section.settings.item_image_ratio_mobile
  assign item_image_radius = section.settings.item_image_radius
  assign item_image_border_thickness = section.settings.item_image_border_thickness
  assign item_image_border_color = section.settings.item_image_border_color

  assign arrow_size = section.settings.arrow_size
  assign arrow_size_mobile = section.settings.arrow_size_mobile
  assign arrow_icon_size = section.settings.arrow_icon_size
  assign arrow_icon_size_mobile = section.settings.arrow_icon_size_mobile
  assign arrow_space = section.settings.arrow_space
  assign arrow_space_mobile = section.settings.arrow_space_mobile
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color
  assign arrow_bg_color = section.settings.arrow_bg_color
  assign arrow_bg_hover_color = section.settings.arrow_bg_hover_color
  assign arrow_border_thickness = section.settings.arrow_border_thickness
  assign arrow_border_color = section.settings.arrow_border_color
  assign arrow_border_hover_color = section.settings.arrow_border_hover_color
  assign arrow_show_desktop = section.settings.arrow_show_desktop
  assign arrow_show_mobile = section.settings.arrow_show_mobile

  assign dots_size = section.settings.dots_size
  assign dots_size_mobile = section.settings.dots_size_mobile
  assign dots_show_desktop = section.settings.dots_show_desktop
  assign dots_show_mobile = section.settings.dots_show_mobile
  assign dots_color = section.settings.dots_color
  
-%}

{%- style -%}

  {{  heading_font | font_face: font_display: 'swap' }}
  {{  title_font | font_face: font_display: 'swap' }}
  {{  price_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .shop-body-{{ section.id }} {
    display: grid;
    grid-template-columns: 1fr;
  }

  .shop-image-{{ section.id }} {
    display: none;
    border-radius: {{ image_radius }}px;
    border: {{ image_border_thickness }}px solid {{ image_border_color }};
    overflow: hidden;
  }

  .shop-image-{{ section.id }}.active {
    display: block;
  }

  .shop-image-{{ section.id }} img,
  .shop-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .shop-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .shop-content-{{ section.id }} {
    padding: {{ content_padding_vertical_mobile }}px {{ content_padding_horizontal_mobile }}px;
  }

  .shop-heading-{{ section.id }} {
    text-align: {{ heading_align_mobile }};
  }

  .shop-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
    word-break: break-word;
  }

  .shop-slider-wrapper-{{ section.id }} {
    display: grid;
    margin-top: {{ slider_mt_mobile }}px;
  }

  .shop-slider-inner-{{ section.id }} {
    min-width: 0px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .shop-slide-{{ section.id }} {
    text-decoration: none;
    box-sizing: border-box !important;
  }

  .shop-slide-image-{{ section.id }} {
    border-radius: {{ item_image_radius }}px;
    border: {{ item_image_border_thickness }}px solid {{ item_image_border_color }};
    overflow: hidden;
  }

  .shop-slide-image-{{ section.id }} img,
  .shop-slide-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .shop-slide-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .shop-slide-title-{{ section.id }} {
    margin: 0;
    margin-top: {{ title_mt_mobile }}px;
    width: 100%;
    text-align: {{ text_align_mobile }};
    font-size: {{ title_size_mobile }}px;
    color: {{ title_color }};
    line-height: {{ title_height }}%;
    text-transform: unset;
    word-break: break-word;
  }

  .shop-slide-price-{{ section.id }} {
    margin-top: {{ price_mt_mobile }}px;
    display: flex;
    align-items: center;
    justify-content: {{ content_horizontal_align_mobile }};
    gap: 5px;
  }

  .shop-slide-price-{{ section.id }} * {
    margin: 0;
    font-size: {{ price_size_mobile }}px;
    color: {{ price_color }};
    line-height: {{ price_height }}%;
    text-transform: unset;
    font-style: normal;
  }

  .shop-slide-compare-price-{{ section.id }} {
    opacity: 0.8;
    font-size: {{ price_size_mobile | times: 0.8 }}px;
    color: {{ price_original_color }};
    text-decoration: line-through !important;
  }

  .shop-btn-prev-{{ section.id }},
  .shop-btn-next-{{ section.id }} {
    position: absolute;
    z-index: 2;
    transform: translateY(-50%);
    top: 50% !important;
    width: {{ arrow_size_mobile }}px;
    height: {{ arrow_size_mobile }}px;
    border: 0px;
    border: {{ arrow_border_thickness }}px solid {{ arrow_border_color }};
    border-radius: 50%;
    background: transparent;
    background: {{ arrow_bg_color }};
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
  }

  .shop-btn-prev-{{ section.id }} {
    left: -{{ arrow_size_mobile | plus: arrow_space_mobile }}px !important;
  }

  .shop-btn-next-{{ section.id }} {
    right: -{{ arrow_size_mobile | plus: arrow_space_mobile }}px !important;
  }

  .shop-btn-prev-{{ section.id }} svg,
  .shop-btn-next-{{ section.id }} svg {
    height: {{ arrow_icon_size_mobile }}px;
    width: {{ arrow_icon_size_mobile }}px;
  }

  .shop-btn-next-{{ section.id }} svg {
    transform: rotate(180deg);
    margin-left: 2px;
  }

  .shop-btn-prev-{{ section.id }} svg {
    margin-left: -2px;
  }

  .shop-btn-prev-{{ section.id }} svg path,
  .shop-btn-next-{{ section.id }} svg path {
    fill: {{ arrow_color }};
    transition: all 0.3s ease 0s;
  }

  .shop-btn-prev-{{ section.id }}:hover,
  .shop-btn-next-{{ section.id }}:hover {
    transition: all 0.3s ease 0s;
    border: {{ arrow_border_thickness }}px solid {{ arrow_border_hover_color }};
    background: {{ arrow_bg_hover_color }};
  }

  .shop-btn-prev-{{ section.id }}:hover svg path,
  .shop-btn-next-{{ section.id }}:hover svg path {
    fill: {{ arrow_hover_color }};
    transition: all 0.3s ease 0s;
  }

  .shop-btn-prev-{{ section.id }}.swiper-button-disabled,
  .shop-btn-next-{{ section.id }}.swiper-button-disabled {
    opacity: 0;
  }

  .shop-pagination-{{ section.id }} {
    margin-top: 20px;
    position: static !important;
    width: 100% !important;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .shop-pagination-{{ section.id }} .swiper-pagination-bullet {
    margin: 0px !important;
    width: {{ dots_size_mobile }}px !important;
    height: {{ dots_size_mobile }}px !important;
    background-color: {{ dots_color }} !important;
    border-radius: 50% !important;
    opacity: 0.6 !important;
    transition: all 0.25s ease 0s;
  }

  .shop-pagination-{{ section.id }} .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1 !important;
    width: {{ dots_size_mobile }}px !important;
    height: {{ dots_size_mobile  }}px !important;
    transition: all 0.25s ease 0s !important;
  }

  @media(min-width: 768px) {
    .shop-slider-inner-{{ section.id }} {
      max-width: 60%;
    }
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .shop-body-{{ section.id }} {
      align-items: center;
    }

    .shop-slider-inner-{{ section.id }} {
      max-width: 50%;
    }

    .shop-content-{{ section.id }} {
      padding: {{ content_padding_vertical }}px {{ content_padding_horizontal }}px;
    }

    .shop-heading-{{ section.id }} {
      text-align: {{ heading_align }};
    }

    .shop-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .shop-slider-wrapper-{{ section.id }} {
      margin-top: {{ slider_mt }}px;
    }

    .shop-slide-title-{{ section.id }} {
      margin-top: {{ title_mt }}px;
      text-align: {{ text_align }};
      font-size: {{ title_size }}px;
    }

    .shop-slide-price-{{ section.id }} {
      margin-top: {{ price_mt }}px;
      justify-content: {{ content_horizontal_align }};
    }

    .shop-slide-price-{{ section.id }} * {
      font-size: {{ price_size }}px;
    }

    .shop-slide-compare-price-{{ section.id }} {
      font-size: {{ price_size | times: 0.8 }}px;
    }

    .shop-btn-prev-{{ section.id }},
    .shop-btn-next-{{ section.id }} {
      width: {{ arrow_size }}px;
      height: {{ arrow_size }}px;
      transition: all 0.25s ease 0s;
    }
    
    .shop-btn-prev-{{ section.id }}.swiper-button-disabled,
    .shop-btn-next-{{ section.id }}.swiper-button-disabled {
      opacity: 0 !important;
    }

    .shop-btn-prev-{{ section.id }} {
      left: -{{ arrow_size | plus: arrow_space }}px !important;
    }
  
    .shop-btn-next-{{ section.id }} {
      right: -{{ arrow_size | plus: arrow_space }}px !important;
    }

    .shop-btn-prev-{{ section.id }} svg,
    .shop-btn-next-{{ section.id }} svg {
      height: {{ arrow_icon_size }}px;
      width: {{ arrow_icon_size }}px;
    }

    .shop-pagination-{{ section.id }} .swiper-pagination-bullet {
      width: {{ dots_size }}px !important;
      height: {{ dots_size }}px !important;
    }

    .shop-pagination-{{ section.id }} .swiper-pagination-bullet.swiper-pagination-bullet-active {
      width: {{ dots_size }}px !important;
      height: {{ dots_size }}px !important;
    }

  }

  @media(min-width: 1400px) {
    .shop-slider-inner-{{ section.id }} {
      max-width: 40%;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if heading_custom %}
  <style>
    .shop-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if title_custom %}
  <style>
    .shop-slide-title-{{ section.id }} {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if price_custom %}
  <style>
    .shop-slide-price-{{ section.id }} * {
      font-family: {{ price_font.family }}, {{ price_font.fallback_families }};
      font-weight: {{ price_font.weight }};
      font-style: {{ price_font.style }};
    }
  </style>
{% endif %}

{% if images_position_mobile == "top" %}
  <style>
    .shop-images-{{ section.id }} {
      order: 1;
    }

    .shop-content-{{ section.id }} {
      order: 2;
    }
  </style>
{% else %}
  <style>
    .shop-images-{{ section.id }} {
      order: 2;
    }

    .shop-content-{{ section.id }} {
      order: 1;
    }
  </style>
{% endif %}

{% if images_position == "right" %}
  <style>
    @media(min-width: 1024px) {

      .shop-body-{{ section.id }} {
        grid-template-columns: 55% 45%;
      }
      
      .shop-images-{{ section.id }} {
        order: 2;
      }

      .shop-content-{{ section.id }} {
        order: 1;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {

      .shop-body-{{ section.id }} {
        grid-template-columns: 45% 55%;
      }
      
      .shop-images-{{ section.id }} {
        order: 1;
      }

      .shop-content-{{ section.id }} {
        order: 2;
      }
    }
  </style>
{% endif %}


{% if image_ratio_mobile == "portrait" %}
  <style>
    .shop-image-{{ section.id }} {
       aspect-ratio: 9.6/12; 
    }
  </style>
{% elsif image_ratio_mobile == "landscape" %}
  <style>
    .shop-image-{{ section.id }}{
     aspect-ratio: 12/10; 
    }
  </style>
{% elsif image_ratio_mobile == "square" %}
  <style>
    .shop-image-{{ section.id }} {
     aspect-ratio: 12/12; 
    }
  </style>
{% else %}
  <style>
    .shop-image-{{ section.id }} {
     aspect-ratio: auto; 
    }
  </style>
{% endif %}

{% if image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
     .shop-image-{{ section.id }} {
       aspect-ratio: 9.6/12; 
      } 
    }
  </style>
{% elsif image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .shop-image-{{ section.id }}{
       aspect-ratio: 12/10; 
      }
    }
  </style>
{% elsif image_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .shop-image-{{ section.id }} {
       aspect-ratio: 12/12; 
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .shop-image-{{ section.id }} {
       aspect-ratio: auto; 
      }
    }
  </style>
{% endif %}

{% if item_image_ratio_mobile == "portrait" %}
  <style>
    .shop-slide-image-{{ section.id }} {
       aspect-ratio: 9.6/12; 
    }
  </style>
{% elsif item_image_ratio_mobile == "landscape" %}
  <style>
    .shop-slide-image-{{ section.id }}{
     aspect-ratio: 12/10; 
    }
  </style>
{% elsif item_image_ratio_mobile == "square" %}
  <style>
    .shop-slide-image-{{ section.id }} {
     aspect-ratio: 12/12; 
    }
  </style>
{% else %}
  <style>
    .shop-slide-image-{{ section.id }} {
     aspect-ratio: auto; 
    }
  </style>
{% endif %}

{% if item_image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
     .shop-slide-image-{{ section.id }} {
       aspect-ratio: 9.6/12; 
      } 
    }
  </style>
{% elsif item_image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .shop-slide-image-{{ section.id }} {
       aspect-ratio: 12/10; 
      }
    }
  </style>
{% elsif item_image_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .shop-slide-image-{{ section.id }} {
       aspect-ratio: 12/12; 
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .shop-slide-image-{{ section.id }} {
       aspect-ratio: auto; 
      }
    }
  </style>
{% endif %}

{% if arrow_show_mobile %}
  <style>
    .shop-btn-prev-{{ section.id }},
    .shop-btn-next-{{ section.id }} {
      display: flex;
    }
  </style>
{% else %}
  <style>
    .shop-btn-prev-{{ section.id }},
    .shop-btn-next-{{ section.id }} {
      display: none;
    }
  </style>
{% endif %}

{% if arrow_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .shop-btn-prev-{{ section.id }},
      .shop-btn-next-{{ section.id }} {
        display: flex;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .shop-btn-prev-{{ section.id }},
      .shop-btn-next-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}

{% if dots_show_mobile %}
  <style>
    .shop-pagination-{{ section.id }} {
      display: flex !important;
    }
  </style>
{% else %}
  <style>
    .shop-pagination-{{ section.id }} {
      display: none !important;
    }
  </style>
{% endif %}

{% if dots_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .shop-pagination-{{ section.id }} {
        display: flex !important;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .shop-pagination-{{ section.id }} {
        display: none !important;
      }
    }
  </style>
{% endif %}

<div class="section-{{ section.id }} shop-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="shop-body-{{ section.id }}">
        <div class="shop-images-{{ section.id }}">
          {% for block in section.blocks %}
            <div class="shop-image-{{ section.id }} {% if forloop.first %}active{% endif %}" data-id="{{ block.id }}">
              {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
              {% else %}
                {{ 'image' | placeholder_svg_tag }}
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="shop-content-{{ section.id }}">
          {% if heading != blank %}
            <div class="shop-heading-{{ section.id }}">
              {{ heading }}
            </div>
          {% endif %}

          <div class="shop-slider-wrapper-{{ section.id }}">
            <div class="shop-slider-inner-{{ section.id }}">
              <div class="shop-slider-{{ section.id }} swiper">
                <div class="swiper-wrapper">
                  {% for block in section.blocks %}
                    <{% if block.settings.product != blank %}a href="{{ block.settings.product.url }}"{% else %}div{% endif %} class="shop-slide-{{ section.id }} swiper-slide" id="{{ block.id }}">
                      <div class="shop-slide-image-{{ section.id }}">
                        {% if block.settings.product.featured_image != blank %}
                          <img src="{{ block.settings.product.featured_image | image_url }}" alt="{{ block.settings.product.featured_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                        {% else %}
                          {{ 'image' | placeholder_svg_tag }}
                        {% endif %}
                      </div>
                      
                      <p class="shop-slide-title-{{ section.id }}">
                        {% if block.settings.product != blank %}
                        {{ block.settings.product.title }}
                        {% else %}
                          Product Title
                        {% endif %}
                      </p>
                      
                      {% if block.settings.product != blank %}
                        <div class="shop-slide-price-{{ section.id }}">
                          <p class="shop-slide-regular-price-{{ section.id }}">{{ block.settings.product.price | money }}</p>
                          {% if block.settings.product.compare_at_price != blank %}
                            <strong>-</strong> <p class="shop-slide-compare-price-{{ section.id }}">{{ block.settings.product.compare_at_price | money }}</p>
                          {% endif %}
                        </div>
                      {% endif %}
                    </{% if block.settings.product != blank %}a{% else %}div{% endif %}>
                  {% endfor %}
                </div>
                <div class="shop-pagination-{{ section.id }} swiper-pagination"></div>
              </div>
              <button class="shop-btn-prev-{{ section.id }}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g id="Left"><path d="M14,17a1,1,0,0,1-.707-.293l-4-4a1,1,0,0,1,0-1.414l4-4a1,1,0,1,1,1.414,1.414L11.414,12l3.293,3.293A1,1,0,0,1,14,17Z"/></g></svg>
              </button>
              <button class="shop-btn-next-{{ section.id }}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g id="Left"><path d="M14,17a1,1,0,0,1-.707-.293l-4-4a1,1,0,0,1,0-1.414l4-4a1,1,0,1,1,1.414,1.414L11.414,12l3.293,3.293A1,1,0,0,1,14,17Z"/></g></svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  function initShopTheLook3() {
    const slider = new Swiper(".shop-slider-{{ section.id }}", {
      speed: 300,
      spaceBetween: 20,
      slidesPerView: 1,
      loop: true,
      navigation: {
        nextEl: '.shop-btn-next-{{ section.id }}',
        prevEl: '.shop-btn-prev-{{ section.id }}',
      },
      pagination: {
        el: '.shop-pagination-{{ section.id }}',
        type: 'bullets',
        clickable: true,
      }
    });

    slider.on('slideChange', function () {
      const activeSlideId = slider.slides[slider.activeIndex].id;
      const collectionItems = document.querySelectorAll('.shop-image-{{ section.id }}');
    
      collectionItems.forEach(item => {
        item.classList.remove('active');
        if (item.getAttribute('data-id') === String(activeSlideId)) {
          item.classList.add('active');
        }
      });
    });
  }

  document.addEventListener('DOMContentLoaded', initShopTheLook3);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initShopTheLook3);
     document.addEventListener('shopify:section:load', initShopTheLook3);
  }
</script>

{% schema %}
  {
    "name": "SS - Shop The Look #3",
    "settings": [
      {
        "type": "header",
        "content": "Image Settings"
      },
      {
        "type": "select",
        "id": "images_position",
        "label": "Images Position - Desktop",
        "default": "left",
        "options": [
          {
              "label": "Left",
              "value": "left"
          },
          {
              "label": "Right",
              "value": "right"
          }
        ]
      },
      {
        "type": "select",
        "id": "images_position_mobile",
        "label": "Images Position - Mobile",
        "default": "top",
        "options": [
          {
              "label": "Top",
              "value": "top"
          },
          {
              "label": "Bottom",
              "value": "bottom"
          }
        ]
      },
      {
         "type": "range",
         "id": "image_radius",
         "min": 0,
         "max": 200,
         "step": 2,
         "unit": "px",
         "label": "Image Roundness",
         "default": 0
      },
      {
         "type": "range",
         "id": "image_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Image Border Thickness",
         "default": 0
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image Aspect Ratio",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_ratio_mobile",
        "label": "Image Aspect Ratio - Mobile",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "header",
        "content": "Content Settings"
      },
      {
          "type": "range",
          "id": "content_padding_vertical",
          "min": 0,
          "max": 200,
          "step": 2,
          "unit": "px",
          "label": "Content Padding Vertical",
          "default": 32
      },
      {
          "type": "range",
          "id": "content_padding_vertical_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Content Padding Vertical - Mobile",
          "default": 32
      },
      {
          "type": "range",
          "id": "content_padding_horizontal",
          "min": 0,
          "max": 200,
          "step": 2,
          "unit": "px",
          "label": "Content Padding Horizontal",
          "default": 64
      },
      {
          "type": "range",
          "id": "content_padding_horizontal_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Content Padding Horizontal - Mobile",
          "default": 44
      },
      {
        "type": "header",
        "content": "Heading Settings"
      },
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<h2>OUR PERSONAL FAVOURITES</h2>"
      },
      {
        "type": "checkbox",
        "id": "heading_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Heading Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "heading_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Heading Size",
        "default": 16
      },
      {
        "type": "range",
        "id": "heading_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Heading Size - Mobile",
        "default": 16
      },
      {
        "type": "range",
        "id": "heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Heading Line Height",
        "default": 150
      },
      {
        "type": "text_alignment",
        "id": "heading_align",
        "label": "Heading Text Align",
        "default": "center"
      },
      {
        "type": "text_alignment",
        "id": "heading_align_mobile",
        "label": "Heading Text Align - Mobile",
        "default": "center"
      },
      {
        "type": "header",
        "content": "Slider Settings"
      },
      {
        "type": "range",
        "id": "slider_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slider Margin Top",
        "default": 60
      },
      {
        "type": "range",
        "id": "slider_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Slider Margin Top - Mobile",
        "default": 24
      },
      {
        "type": "header",
        "content": "Slide Image Settings"
      },
      {
         "type": "range",
         "id": "item_image_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Slide Image Roundness",
         "default": 0
      },
      {
         "type": "range",
         "id": "item_image_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Slide Image Border Thickness",
         "default": 0
      },
      {
        "type": "select",
        "id": "item_image_ratio",
        "label": "Slide Image Aspect Ratio",
        "default": "portrait",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "select",
        "id": "item_image_ratio_mobile",
        "label": "Slide Image Aspect Ratio - Mobile",
        "default": "portrait",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "header",
        "content": "Slide Content Settings"
      },
      {
        "type": "select",
        "id": "content_horizontal_align",
        "label": "Content Horizontal Align",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "end"
          }
        ]
      },
      {
        "type": "select",
        "id": "content_horizontal_align_mobile",
        "label": "Content Horizontal Align - Mobile",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "end"
          }
        ]
      },
      {
        "type": "header",
        "content": "Slide Title Settings"
      },
      {
        "type": "checkbox",
        "id": "title_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "title_font",
        "label": "Slide Title Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Slide Title Size",
        "default": 16
      },
      {
        "type": "range",
        "id": "title_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Slide Title Size - Mobile",
        "default": 16
      },
      {
        "type": "range",
        "id": "title_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Slide Title Line Height",
        "default": 130
      },
      {
        "type": "range",
        "id": "title_mt",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Slide Title Margin Top",
        "default": 16
      },
      {
        "type": "range",
        "id": "title_mt_mobile",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Slide Title Margin Top - Mobile",
        "default": 16
      },
      {
        "type": "header",
        "content": "Slide Price Settings"
      },
      {
        "type": "checkbox",
        "id": "price_custom",
        "label": "Use Custom Font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "price_font",
        "label": "Slide Price Font Family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "price_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Slide Price Size",
        "default": 18
      },
      {
        "type": "range",
        "id": "price_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Slide Price Size - Mobile",
        "default": 18
      },
      {
        "type": "range",
        "id": "price_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Slide Price Line Height",
        "default": 130
      },
      {
        "type": "range",
        "id": "price_mt",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Slide Price Margin Top",
        "default": 10
      },
      {
        "type": "range",
        "id": "price_mt_mobile",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Slide Price Margin Top - Mobile",
        "default": 10
      },
      {
        "type": "header",
        "content": "Arrow Settings"
      },
      {
        "type": "range",
        "id": "arrow_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Arrow Size",
        "default": 48
      },
      {
        "type": "range",
        "id": "arrow_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Arrow Size - Mobile",
        "default": 48
      },
      {
        "type": "range",
        "id": "arrow_icon_size",
        "min": 10,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Arrow Icon Size",
        "default": 28
      },
      {
        "type": "range",
        "id": "arrow_icon_size_mobile",
        "min": 10,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Arrow Icon Size - Mobile",
        "default": 28
      },
      {
        "type": "range",
        "id": "arrow_space",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Space Between Arrow and Image",
        "default": 0
      },
      {
        "type": "range",
        "id": "arrow_space_mobile",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Space Between Arrow and Image - Mobile",
        "default": 0
      },
      {
        "type": "range",
        "id": "arrow_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Arrow Border Thickness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "arrow_show_desktop",
        "label": "Show on Desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "arrow_show_mobile",
        "label": "Show on Mobile",
        "default": true
      },
      {
        "type": "header",
        "content": "Dots Settings"
      },
      {
        "type": "range",
        "id": "dots_size",
        "min": 5,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Dots Size",
        "default": 10
      },
      {
        "type": "range",
        "id": "dots_size_mobile",
        "min": 5,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Dots Size - Mobile",
        "default": 10
      },
      {
        "type": "checkbox",
        "id": "dots_show_desktop",
        "label": "Show on Desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "dots_show_mobile",
        "label": "Show on Mobile",
        "default": true
      },
      {
        "type": "header",
        "content": "Navigation Colors"
      },
      {
        "type": "color",
        "label": "Arrow color",
        "id": "arrow_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Arrow Hover color",
        "id": "arrow_hover_color",
        "default": "#555555"
      },
      {
        "type": "color",
        "label": "Arrow Background color",
        "id": "arrow_bg_color"
      },
      {
        "type": "color",
        "label": "Arrow Background Hover color",
        "id": "arrow_bg_hover_color"
      },
      {
        "type": "color",
        "label": "Arrow Border color",
        "id": "arrow_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Arrow Border Hover color",
        "id": "arrow_border_hover_color",
        "default": "#555555"
      },
      {
        "type": "color",
        "label": "Dots Color",
        "id": "dots_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Slide Colors"
      },
      {
        "type": "color",
        "label": "Slide Title Color",
        "id": "title_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Slide Price Color",
        "id": "price_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Slide Price Original Color",
        "id": "price_original_color",
        "default": "#777777"
      },
      {
        "type": "color",
        "label": "Slide Image Border Color",
        "id": "item_image_border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Content Colors"
      },
      {
        "type": "color",
        "label": "Heading Color",
        "id": "heading_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Margin sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Margin sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 0
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 0
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": true
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 0,
        "max": 400,
        "step": 10,
        "unit": "rem",
        "label": "Section content width",
        "default": 120
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Section Roundness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Shop The Look #3",
        "blocks": [
          {
            "type": "product"
          },
          {
            "type": "product"
          },
          {
            "type": "product"
          },
          {
            "type": "product"
          }
        ]
      }
    ]
  }
{% endschema %}