{% comment %}
---------------------------------------------------------
Copyright © 2025 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius
  assign background_style = section.settings.background_style

  assign content_align = section.settings.content_align
  assign content_align_mobile = section.settings.content_align_mobile

  assign slider_view = section.settings.slider_view
  assign slider_view_mobile = section.settings.slider_view_mobile
  assign slider_gap = section.settings.slider_gap
  assign slider_gap_mobile = section.settings.slider_gap_mobile  
  assign slider_mt = section.settings.slider_mt
  assign slider_mt_mobile = section.settings.slider_mt_mobile

  assign slide_border_thickness = section.settings.slide_border_thickness
  assign slide_border_color = section.settings.slide_border_color
  assign slide_radius = section.settings.slide_radius
  assign slide_padding_horizontal = section.settings.slide_padding_horizontal
  assign slide_padding_horizontal_mobile = section.settings.slide_padding_horizontal_mobile
  assign slide_padding_vertical = section.settings.slide_padding_vertical
  assign slide_padding_vertical_mobile = section.settings.slide_padding_vertical_mobile
  assign slide_bg_color = section.settings.slide_bg_color
  assign slide_shadow = section.settings.slide_shadow
  assign slide_shadow_color = section.settings.slide_shadow_color
  assign slide_content_align = section.settings.slide_content_align
  assign slide_content_align_mobile = section.settings.slide_content_align_mobile

  assign slide_content_horizontal_align = ""
  if slide_content_align == "center"
    assign slide_content_horizontal_align = "center"
  elsif slide_content_align == "right"
    assign slide_content_horizontal_align = "end"
  else
    assign slide_content_horizontal_align = "start"
  endif

  assign slide_content_horizontal_align_mobile = ""
  if slide_content_align_mobile == "center"
    assign slide_content_horizontal_align_mobile = "center"
  elsif slide_content_align_mobile == "right"
    assign slide_content_horizontal_align_mobile = "end"
  else
    assign slide_content_horizontal_align_mobile = "start"
  endif

  assign image_ratio = section.settings.image_ratio
  assign image_ratio_mobile = section.settings.image_ratio_mobile
  assign image_radius = section.settings.image_radius
  assign image_border_thickness = section.settings.image_border_thickness
  assign image_border_color = section.settings.image_border_color

  assign verify = section.settings.verify
  assign verify_bg = section.settings.verify_bg
  assign verify_bg_color = section.settings.verify_bg_color
  assign verify_border_color = section.settings.verify_border_color
  assign verify_border_thickness = section.settings.verify_border_thickness
  assign verify_radius = section.settings.verify_radius
  assign verify_custom = section.settings.verify_custom
  assign verify_font = section.settings.verify_font
  assign verify_size = section.settings.verify_size
  assign verify_size_mobile = section.settings.verify_size_mobile
  assign verify_height = section.settings.verify_height
  assign verify_color = section.settings.verify_color
  assign verify_mt = section.settings.verify_mt
  assign verify_mt_mobile = section.settings.verify_mt_mobile

  assign verify_icon = section.settings.verify_icon
  assign verify_icon_size = section.settings.verify_icon_size
  assign verify_icon_size_mobile = section.settings.verify_icon_size_mobile
  assign verify_icon_color = section.settings.verify_icon_color
  assign verify_icon_checkmark_color = section.settings.verify_icon_checkmark_color

  assign slide_stars_icon = section.settings.slide_stars_icon
  assign slide_stars_color = section.settings.slide_stars_color 
  assign slide_stars_size = section.settings.slide_stars_size
  assign slide_stars_size_mobile = section.settings.slide_stars_size_mobile
  assign slide_stars_mt = section.settings.slide_stars_mt
  assign slide_stars_mt_mobile = section.settings.slide_stars_mt_mobile

  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_height = section.settings.text_height
  assign text_color = section.settings.text_color
  assign text_mt = section.settings.text_mt
  assign text_mt_mobile = section.settings.text_mt_mobile

  assign author_custom = section.settings.author_custom
  assign author_font = section.settings.author_font
  assign author_size = section.settings.author_size
  assign author_size_mobile = section.settings.author_size_mobile
  assign author_height = section.settings.author_height
  assign author_color = section.settings.author_color

  assign author_image_size = section.settings.author_image_size
  assign author_image_size_mobile = section.settings.author_image_size_mobile
  assign author_image_radius = section.settings.author_image_radius
  assign author_image_border_thickness = section.settings.author_image_border_thickness
  assign author_image_border_color = section.settings.author_image_border_color
  assign author_image_bg_color = section.settings.author_image_bg_color
  assign author_image_color = section.settings.author_image_color

  assign arrow_size = section.settings.arrow_size
  assign arrow_size_mobile = section.settings.arrow_size_mobile
  assign arrow_icon_size = section.settings.arrow_icon_size
  assign arrow_icon_size_mobile = section.settings.arrow_icon_size_mobile
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color
  assign arrow_bg_color = section.settings.arrow_bg_color
  assign arrow_bg_hover_color = section.settings.arrow_bg_hover_color
  assign arrow_radius = section.settings.arrow_radius
  assign arrow_border_thickness = section.settings.arrow_border_thickness
  assign arrow_border_color = section.settings.arrow_border_color
  assign arrow_border_hover_color = section.settings.arrow_border_hover_color
  assign arrow_show_desktop = section.settings.arrow_show_desktop
  assign arrow_show_mobile = section.settings.arrow_show_mobile
  assign arrow_hover_effect = section.settings.arrow_hover_effect
  assign arrow_mt = section.settings.arrow_mt
  assign arrow_mt_mobile = section.settings.arrow_mt_mobile

  assign lazy_load_setting = 'lazy'
  unless lazy
    assign lazy_load_setting = 'eiger'
  endunless
-%}

{%- style -%}
  {{ verify_font | font_face: font_display: 'swap' }}
  {{ text_font | font_face: font_display: 'swap' }} 
  {{ author_font | font_face: font_display: 'swap' }}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .testimonials-slider-wrap-{{ section.id }} {
    display: grid;
    position: relative;
  }

  .testimonials-slider-{{ section.id }} {
    min-width: 0px !important;
    width: 100% !important;
    position: relative !important;
    margin-top: {{ slider_mt_mobile }}px !important;
    overflow: visible !important;
  }

  .testimonials-slider-wrapper-{{ section.id }} {
    align-items: stretch !important;
  }

  .testimonials-slide-{{ section.id }} {
    height: auto !important;
    box-sizing: border-box !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: {{ slide_content_horizontal_align_mobile }};
    justify-content: space-between !important;
    padding: {{ slide_padding_vertical_mobile }}px {{ slide_padding_horizontal_mobile }}px !important; 
    border: {{ slide_border_thickness }}px solid {{ slide_border_color }} !important;
    border-radius: {{ slide_radius }}px !important;
    background-color: {{ slide_bg_color }} !important;
    overflow: hidden !important;
  }

  .testimonials-slide-top-wrapper-{{ section.id }} {
    display: flex !important;
    flex-direction: column !important;
    align-items: {{ slide_content_horizontal_align_mobile }};
  }

  .testimonials-image-{{ section.id }} {
    overflow: hidden;
    background-attachment: scroll !important;
    border-radius: {{ image_radius }}px;
    border: {{ image_border_thickness }}px solid {{ image_border_color }};
    flex-shrink: 0;
    width: 100%;
  }

  .testimonials-image-{{ section.id }} img,
  .testimonials-image-{{ section.id }} svg {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover
  }

  .testimonials-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .testimonials-slide-verify-{{ section.id }} {
    max-width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: {{ slide_content_horizontal_align_mobile }};
    margin-top: {{ verify_mt_mobile }}px;
  }

  .testimonials-slide-verify-icon-{{ section.id }} {
    width: {{ verify_icon_size_mobile }}px;
    height: {{ verify_icon_size_mobile }}px;
  }

  .testimonials-slide-verify-icon-{{ section.id }} img,
  .testimonials-slide-verify-icon-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .testimonials-slide-verify-icon-{{ section.id }} svg path {
    fill: {{ verify_icon_color }};
  }

  .testimonials-slide-verify-icon-{{ section.id }} svg .testimonials-slide-verify-icon-path-{{ section.id }} {
    fill: {{ verify_icon_checkmark_color }};
  }

  .testimonials-slide-verify-text-{{ section.id }} {
    margin: 0;
    text-align: {{ slide_content_align_mobile }};
    font-size: {{ verify_size_mobile }}px;
    color: {{ verify_color }};
    line-height: {{ verify_height }}%;
    text-transform: unset;
    text-decoration: none;
    word-break: break-word;
  }
  
  .testimonials-slide-stars-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: {{ slide_content_horizontal_align_mobile }};
    gap: 2px;
    margin-top: {{ slide_stars_mt_mobile }}px;
  }

  .testimonials-slide-stars-{{ section.id }} svg,
  .testimonials-slide-stars-{{ section.id }} img {
    display: block;
    width: {{ slide_stars_size_mobile }}px;
    height: {{ slide_stars_size_mobile }}px;
    object-fit: cover;
  }

  .testimonials-slide-text-{{ section.id }} {
    text-align: {{ slide_content_align_mobile }};
    margin-top: {{ text_mt_mobile }}px;  
  }

  .testimonials-slide-text-{{ section.id }} * {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: {{ slide_content_horizontal_align_mobile }};
    font-size: {{ text_size_mobile }}px;
    color: {{ text_color }};
    line-height: {{ text_height }}%;
    text-transform: unset;
    text-decoration: none;
    word-break: break-word;
  }

  .testimonials-slide-author-name-{{ section.id }} {
    margin: 0;
    font-size: {{ author_size_mobile }}px;
    color: {{ author_color }};
    line-height: {{ author_height }}%;
    text-transform: unset;
    text-decoration: none;
    word-break: break-word;
  }

  .testimonials-slide-verify-{{ section.id }} {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: {{ slide_content_horizontal_align_mobile }};
  }

  .testimonials-slide-author-name-{{ section.id }} {
    margin: 0;
    text-align: {{ slide_content_align_mobile }};
    font-size: {{ author_size_mobile }}px;
    color: {{ author_color }};
    line-height: {{ author_height }}%;
    text-transform: unset;
    text-decoration: none;
    word-break: break-word;
  }

  .testimonials-navigation-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: {{ content_align_mobile }};
    gap: 10px;
    margin-top: {{ arrow_mt_mobile }}px
  }

  .testimonials-btn-prev-{{ section.id }},
  .testimonials-btn-next-{{ section.id }} {
    display: flex;
    flex-shrink: 0;
    z-index: 2;
    width: {{ arrow_size_mobile }}px;
    height: {{ arrow_size_mobile }}px;
    border: 0px;
    border: {{ arrow_border_thickness }}px solid {{ arrow_border_color }};
    border-radius: {{ arrow_radius }}px;
    background: transparent;
    background: {{ arrow_bg_color }};
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
  }

  .testimonials-btn-prev-{{ section.id }} .animate-icon,
  .testimonials-btn-next-{{ section.id }} .animate-icon {
    pointer-events: none;
    place-items: center;
    display: grid;
  }

  .testimonials-btn-prev-{{ section.id }} .animate-icon:before,
  .testimonials-btn-next-{{ section.id }} .animate-icon:before {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size_mobile }}px;
    height: {{ arrow_icon_size_mobile }}px;
    transform: rotate(calc(1 * 45deg));
    box-sizing: border-box;
    border-style: solid;
    border: 0px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    position: relative;
    left: -1px;
  }

  .testimonials-btn-prev-{{ section.id }} .animate-icon:before {
    left: unset;
    right: -1px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid currentColor;
    border-left: 2px solid currentColor;
  }

  .testimonials-btn-prev-{{ section.id }} .animate-icon:after,
  .testimonials-btn-next-{{ section.id }} .animate-icon:after {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size_mobile | minus: 0.3 }}px;
    height: 1.6px;
    transform-origin: center;
    opacity: 0;
    background: currentColor;
    transform: scaleX(.5);
  }

  .testimonials-btn-prev-{{ section.id }} span,
  .testimonials-btn-next-{{ section.id }} span {
    color: {{ arrow_color }};
  }

  .testimonials-btn-prev-{{ section.id }}.swiper-button-disabled,
  .testimonials-btn-next-{{ section.id }}.swiper-button-disabled {
    opacity: 0.5;
  }

  .testimonials-btn-prev-{{ section.id }}.swiper-button-lock,
  .testimonials-btn-next-{{ section.id }}.swiper-button-lock {
    opacity: 0;
    pointer-events: none;
  }

  .testimonials-author-image-{{ section.id }} {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: {{ author_image_color }};
    background-color: {{ author_image_bg_color }};
    border: {{ author_image_border_thickness }}px solid {{ author_image_border_color }};
    border-radius: {{ author_image_radius }}px;
    overflow: hidden;
    aspect-ratio: 1/1;
    width: {{ author_image_size_mobile }}px;
  }

  .testimonials-author-image-{{ section.id }} img,
  .testimonials-author-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .testimonials-author-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .testimonials-slide-bottom-{{ section.id }} {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 12px;
    justify-content: space-between;
    width: 100%;
  }

  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .testimonials-slider-{{ section.id }} {
      margin-top: {{ slider_mt }}px !important;
    }

    .testimonials-slide-{{ section.id }} {
      align-items: {{ slide_content_horizontal_align }};
      padding: {{ slide_padding_vertical }}px {{ slide_padding_horizontal }}px !important; 
    }    

    .testimonials-slide-top-wrapper-{{ section.id }} {
      align-items: {{ slide_content_horizontal_align }};
    }

    .testimonials-slide-verify-{{ section.id }} {
      justify-content: {{ slide_content_horizontal_align }};
      margin-top: {{ verify_mt }}px;
    }

    .testimonials-slide-verify-icon-{{ section.id }} {
      width: {{ verify_icon_size }}px;
      height: {{ verify_icon_size }}px;
    }

    .testimonials-slide-verify-text-{{ section.id }} {
      text-align: {{ slide_content_align }};
      font-size: {{ verify_size }}px;
    }

    .testimonials-slide-stars-{{ section.id }} {
      justify-content: {{ slide_content_horizontal_align }};
      margin-top: {{ slide_stars_mt }}px;
    }

    .testimonials-slide-stars-{{ section.id }} svg,
    .testimonials-slide-stars-{{ section.id }} img {
      width: {{ slide_stars_size }}px;
      height: {{ slide_stars_size }}px;
    }

    .testimonials-slide-text-{{ section.id }} {
      margin-top: {{ text_mt }}px;
      text-align: {{ slide_content_align }};   
    }

    .testimonials-slide-text-{{ section.id }} * {
      align-items: {{ slide_content_horizontal_align }};
      font-size: {{ text_size }}px;
    }
      
    .testimonials-slide-author-name-{{ section.id }} {
      text-align: {{ slide_content_align }};
      font-size: {{ author_size }}px;
    }

    .testimonials-author-image-{{ section.id }} {
      width: {{ author_image_size }}px;
    }

    .testimonials-navigation-{{ section.id }} {
      margin-top: {{ arrow_mt }}px;
      justify-content: {{ content_align }};
    }

    .testimonials-btn-prev-{{ section.id }},
    .testimonials-btn-next-{{ section.id }} {
      width: {{ arrow_size }}px;
      height: {{ arrow_size }}px;
      transition: all 0.25s ease 0s;
    }

    .testimonials-btn-prev-{{ section.id }} .animate-icon:before,
    .testimonials-btn-next-{{ section.id }} .animate-icon:before {
      width: {{ arrow_icon_size }}px;
      height: {{ arrow_icon_size }}px;
    }

    .testimonials-btn-prev-{{ section.id }} .animate-icon:after,
    .testimonials-btn-next-{{ section.id }} .animate-icon:after {
      width: {{ arrow_icon_size | minus: 0.3 }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if verify_custom %}
  <style>
    .testimonials-slide-verify-text-{{ section.id }} {
      font-family: {{ verify_font.family }}, {{ verify_font.fallback_families }};
      font-weight: {{ verify_font.weight }};
      font-style: {{ verify_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .testimonials-slide-text-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if author_custom %}
  <style>
    .testimonials-slide-author-name-{{ section.id }} {
      font-family: {{ author_font.family }}, {{ author_font.fallback_families }};
      font-weight: {{ author_font.weight }};
      font-style: {{ author_font.style }};
    }
  </style>
{% endif %}

{% if slide_shadow %}
  <style>
    .testimonials-slide-{{ section.id }} {
      box-shadow: {{ slide_shadow_color }}33 0px 8px 24px;
    }
  </style>
{% endif %}

{% if slide_content_align_mobile == 'center' %}
  <style>
    .testimonials-slide-bottom-{{ section.id }} {
      flex-direction: column;
      align-items: center;
    }
  </style>
{% elsif slide_content_align_mobile == 'right' %}
  <style>
    .testimonials-slide-bottom-{{ section.id }} {
      flex-direction: row-reverse;
    }
  </style>
{% else %}
  <style>
    .testimonials-slide-bottom-{{ section.id }} {
      flex-direction: row;
    }
  </style>
{% endif %}

{% if slide_content_align == 'center' %}
  <style>
    @media(min-width: 1024px) {
      .testimonials-slide-bottom-{{ section.id }} {
        flex-direction: column;
        align-items: center;
      }
    }   
  </style>
{% elsif slide_content_align == 'right' %}
  <style>
    @media(min-width: 1024px) {
      .testimonials-slide-bottom-{{ section.id }} {
        flex-direction: row-reverse;
      }
    }   
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .testimonials-slide-bottom-{{ section.id }} {
        flex-direction: row;
      }
    }    
  </style>
{% endif %}

{% if arrow_hover_effect == "color" %}
  <style>
    .testimonials-btn-prev-{{ section.id }}:hover,
    .testimonials-btn-next-{{ section.id }}:hover {
      transition: all 0.3s ease 0s;
      border: {{ arrow_border_thickness }}px solid {{ arrow_border_hover_color }};
      background: {{ arrow_bg_hover_color }};
    }
  
    .testimonials-btn-prev-{{ section.id }}:hover .animate-icon,
    .testimonials-btn-next-{{ section.id }}:hover .animate-icon {
      color: {{ arrow_hover_color }};
    }
  </style>
{% elsif arrow_hover_effect == "scale" %}
  <style>
    .testimonials-btn-prev-{{ section.id }}:hover,
    .testimonials-btn-next-{{ section.id }}:hover {
      transform: scale(0.9);
    }

    @media(min-width: 1024px) {
      .testimonials-btn-prev-{{ section.id }}:hover,
      .testimonials-btn-next-{{ section.id }}:hover {
        transform: scale(0.9);
      }
    }
  </style>
{% elsif arrow_hover_effect == "arrow" %}
  <style>
    .testimonials-btn-next-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
  
    .testimonials-btn-prev-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(-1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
    
    .testimonials-btn-prev-{{ section.id }}:hover .animate-icon:after,
    .testimonials-btn-next-{{ section.id }}:hover .animate-icon:after {
      opacity: 1;
      transform: scaleX(1);
    }
  </style>
{% endif %}

{% if arrow_show_mobile %}
  <style>
    .testimonials-btn-prev-{{ section.id }},
    .testimonials-btn-next-{{ section.id }} {
      display: flex;
    }
  </style>
{% else %}
  <style>
    .testimonials-btn-prev-{{ section.id }},
    .testimonials-btn-next-{{ section.id }} {
      display: none;
    }
  </style>
{% endif %}

{% if arrow_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .testimonials-btn-prev-{{ section.id }},
      .testimonials-btn-next-{{ section.id }} {
        display: flex;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .testimonials-btn-prev-{{ section.id }},
      .testimonials-btn-next-{{ section.id }} {
        display: none;
      }
    }
  </style>
{% endif %}


{% if image_ratio_mobile == "portrait" %}
  <style>
    .testimonials-image-{{ section.id }} {
      aspect-ratio: 9.6/13;
    }
  </style>
{% elsif image_ratio_mobile == "landscape" %}
  <style>
  .testimonials-image-{{ section.id }} {
    aspect-ratio: 12/8;
  }
  </style>
{% elsif image_ratio_mobile == "square" %}
  <style>
    .testimonials-image-{{ section.id }} {
      aspect-ratio: 12/12;
    }
  </style>
{% else %}
  <style>
    .testimonials-image-{{ section.id }} {
      aspect-ratio: auto;
    }
  </style>
{% endif %}

{% if image_ratio == "portrait" %}
  <style>
    @media(min-width: 1024px) {
      .testimonials-image-{{ section.id }} {
        aspect-ratio: 9.6/13;
      }
    }
    
  </style>
{% elsif image_ratio == "landscape" %}
  <style>
    @media(min-width: 1024px) {
      .testimonials-image-{{ section.id }} {
        aspect-ratio: 12/8;
      }
    }  
  </style>
{% elsif image_ratio == "square" %}
  <style>
    @media(min-width: 1024px) {
      .testimonials-image-{{ section.id }} {
        aspect-ratio: 12/12;
      }
    }    
  </style>
{% else %}
  <style>
     @media(min-width: 1024px) {
      .testimonials-image-{{ section.id }} {
        aspect-ratio: auto;
      }
    }
  </style>
{% endif %}

{% if verify_bg %}
  <style>
    .testimonials-slide-verify-{{ section.id }} {
      padding: 9px 10px;
      border-radius: {{ verify_radius }}px;
      border: {{ verify_border_thickness }}px solid {{ verify_border_color }};
      background-color: {{ verify_bg_color }};
    }
  </style>
{% endif %}

{% for block in section.blocks %}
  {% case block.type %}
     {% when 'sub_heading' %}
      <style>
        {{ block.settings.sub_heading_font | font_face: font_display: 'swap' }}
 
        .testimonials-subheading-{{ block.id }} {
          max-width: fit-content;
          margin-top: {{ block.settings.sub_heading_mt_mobile }}px;
          text-align: {{ content_align_mobile }};
        }

        .testimonials-subheading-{{ block.id }} * {
          margin: 0;
          font-size: {{ block.settings.sub_heading_size_mobile }}px;
          color: {{ block.settings.sub_heading_color }};
          line-height: {{ block.settings.sub_heading_height }}%;
          text-transform: unset;
          text-decoration: none;
          word-break: break-word;
        }
        @media(min-width: 1024px) {
          .testimonials-subheading-{{ block.id }} {
            margin-top: {{ block.settings.sub_heading_mt }}px;
            text-align: {{ content_align }};
          }
        
          .testimonials-subheading-{{ block.id }} * {
            font-size: {{ block.settings.sub_heading_size }}px;
          }
        }
      </style>
      {% if block.settings.sub_heading_custom %}
        <style>
          .testimonials-subheading-{{ block.id }} * {
            font-family: {{ block.settings.sub_heading_font.family }}, {{ block.settings.sub_heading_font.fallback_families }};
            font-weight: {{ block.settings.sub_heading_font.weight }};
            font-style: {{ block.settings.sub_heading_font.style }};
          }
        </style>
      {% endif %}  

          
      {% if content_align_mobile == "center" %}
        <style>
         .testimonials-subheading-{{ block.id }} {
            margin-left: auto;
            margin-right: auto;
          } 
        </style>
      {% elsif content_align_mobile == "right" %}
        <style>
         .testimonials-subheading-{{ block.id }} {
            margin-left: auto;
          } 
        </style>
      {% endif %}
      
      {% if content_align == "center" %}
        <style>
          @media(min-width: 1024px) {
           .testimonials-subheading-{{ block.id }} {
              margin-left: auto !important;
              margin-right: auto !important;
            } 
          }
        </style>
      {% elsif content_align == "right" %}
        <style>
          @media(min-width: 1024px) {
           .testimonials-subheading-{{ block.id }} {
              margin-left: auto !important;
              margin-right: 0px !important;
            } 
          }
        </style>
      {% else %}
        <style>
          @media(min-width: 1024px) {
           .testimonials-subheading-{{ block.id }} {
              margin-left: 0px !important;
              margin-right: 0px !important;
            } 
          }
        </style>
      {% endif %}

      {% if block.settings.sub_heading_bg %}
        <style>
          .testimonials-subheading-{{ block.id }} {
            padding: {{ block.settings.sub_heading_padding_vertical_mobile }}px {{ block.settings.sub_heading_padding_horizontal_mobile }}px;
            border-radius: {{ block.settings.sub_heading_radius }}px;
            border: {{ block.settings.sub_heading_border_thickness }}px solid {{ block.settings.sub_heading_border_color }};
            background-color: {{ block.settings.sub_heading_bg_color }};
          }

          @media(min-width: 1024px) {
            .testimonials-subheading-{{ block.id }} {
              padding: {{ block.settings.sub_heading_padding_vertical }}px {{ block.settings.sub_heading_padding_horizontal }}px;
            }
          }
        </style>
      {%  endif %}
  
      
    {% when 'heading' %}
      <style>
        {{ block.settings.heading_font | font_face: font_display: 'swap' }}
 
        .testimonials-heading-{{ block.id }} {
          max-width: 100%;
          margin-top: {{ block.settings.heading_mt_mobile }}px;
          text-align: {{ content_align_mobile }};
        }

        .testimonials-heading-{{ block.id }} * {
          margin: 0;
          font-size: {{ block.settings.heading_size_mobile }}px;
          color: {{ block.settings.heading_color }};
          line-height: {{ block.settings.heading_height }}%;
          text-transform: unset;
          text-decoration: none;
          word-break: break-word;
          font-weight: 700;
        }
        @media(min-width: 1024px) {
          .testimonials-heading-{{ block.id }} {
            max-width: {{ block.settings.heading_max_width }}%;
            margin-top: {{ block.settings.heading_mt }}px;
            text-align: {{ content_align }};
          }
        
          .testimonials-heading-{{ block.id }} * {
            font-size: {{ block.settings.heading_size }}px;
          }
        }
      </style>
      {% if block.settings.heading_custom %}
        <style>
          .testimonials-heading-{{ block.id }} * {
            font-family: {{ block.settings.heading_font.family }}, {{ block.settings.heading_font.fallback_families }};
            font-weight: {{ block.settings.heading_font.weight }};
            font-style: {{ block.settings.heading_font.style }};
          }
        </style>
      {% endif %}  

      
      {% if content_align_mobile == "center" %}
        <style>
          .testimonials-heading-{{ block.id }} {
            margin-left: auto;
            margin-right: auto;
          } 
        </style>
      {% elsif content_align_mobile == "right" %}
        <style>
          .testimonials-heading-{{ block.id }} {
            margin-left: auto;
          } 
        </style>
      {% endif %}

      {% if content_align == "center" %}
        <style>
          @media(min-width: 1024px) {
            .testimonials-heading-{{ block.id }} {
              margin-left: auto;
              margin-right: auto;
            } 
          }
        </style>
      {% elsif content_align == "right" %}
        <style>
          @media(min-width: 1024px) {
            .testimonials-heading-{{ block.id }} {
              margin-left: auto;
              margin-right: 0px;
            } 
          }
        </style>
      {% else %}
        <style>
          @media(min-width: 1024px) {
            .testimonials-heading-{{ block.id }} {
              margin-left: 0px;
              margin-right: 0px;
            } 
          }
        </style>
      {% endif %}
    
    {% else %}      
  {% endcase %}
{% endfor %}

{% comment %} PREVIEW {% endcomment %}
<style>
  .testimonials-slider-{{ section.id }}.preview .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }

  .testimonials-slider-{{ section.id }}.preview .testimonials-slide-{{ section.id }} {
    width: 100%;
  }

  .testimonials-slider-{{ section.id }}.preview .testimonials-slide-{{ section.id }}:not(:first-child) {
    margin-left: {{ slider_gap_mobile }}px;
  } 

  @media(min-width: 1024px) {
    .testimonials-slider-{{ section.id }}.preview .testimonials-slide-{{ section.id }}:not(:first-child) {
      margin-left: {{ slider_gap }}px;
    } 

    .testimonials-slider-{{ section.id }}.preview .testimonials-slide-{{ section.id }} {
      width: calc(100% / {{ slider_view }} - ({{ slider_gap }}px));
    }
  }
</style>


<div class="section-{{ section.id }} testimonials-{{ section.id }}" {% if background_style == 'solid' %}style="background-color:{{ background_color }};"{% else %} style="background-image: {{ background_gradient }};"{% endif %}>
    <div class="section-{{ section.id }}-settings">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'sub_heading' %}
            {% if block.settings.sub_heading != blank %}
              <div class="testimonials-subheading-{{ block.id }}">{{ block.settings.sub_heading }}</div> 
            {% endif %}   
          {% when 'heading' %}
            {% if block.settings.heading != blank %}
              <div class="testimonials-heading-{{ block.id }}">{{ block.settings.heading }}</div> 
            {% endif %}    
          {% else %}
            
        {% endcase %}
      {% endfor %} 
      <div class="testimonials-slider-wrap-{{ section.id }}">
        <div class="testimonials-slider-{{ section.id }} swiper preview" 
          data-gap="{{ slider_gap }}"
          data-gap-mobile="{{ slider_gap_mobile }}"
          data-view="{{ slider_view }}"
          data-view-mobile="{{ slider_view_mobile }}">
          <div class="swiper-wrapper testimonials-slider-wrapper-{{ section.id }}">
            {% for block in section.blocks %}
              {% if block.type == 'testimonial' %}
                <div class="testimonials-slide-{{ section.id }} swiper-slide">    
                  <div class="testimonials-slide-top-wrapper-{{ section.id }}">
                    <div class="testimonials-image-{{ section.id }}">                 
                      {% if block.settings.image != blank %}
                        {%- capture sizes -%}(min-width: {{ content_width }}px) {{ content_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}
                          {{ block.settings.image | image_url: width: 750 | image_tag:
                            loading: lazy_load_setting,
                            width: block.settings.image.width,
                            height: block.settings.image.height,
                            sizes: sizes,
                            widths: '750, 1070'
                          }}             
                      {% else %}  
                        {{ 'image' | placeholder_svg_tag }}
                      {% endif %}
                    </div>                  
                    {% if verify != blank %}
                      <div class="testimonials-slide-verify-{{ section.id }}">
                      <p class="testimonials-slide-verify-text-{{ section.id }}">{{ verify }}</p>
                      {% if verify_icon %}
                        <div class="testimonials-slide-verify-icon-{{ section.id }}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                            <path d="M11.7246 1.1875L13.0835 3.28858L15.5828 3.41367L15.709 5.91256L17.8113 7.27027L16.6709 9.49802L17.8125 11.7246L15.7114 13.0835L15.5863 15.5828L13.0874 15.709L11.7297 17.8113L9.50198 16.6709L7.27542 17.8125L5.91652 15.7114L3.41723 15.5863L3.29096 13.0874L1.18869 11.7297L2.32908 9.50198L1.1875 7.27542L3.28858 5.91652L3.41367 3.41723L5.91256 3.29096L7.27027 1.18869L9.49802 2.32908L11.7246 1.1875Z" fill="#228A58"/>
                            <path class="testimonials-slide-verify-icon-path-{{ section.id }}" d="M8.46919 12.3718L5.89746 9.80087L6.73742 8.96131L8.48186 10.7057L12.2692 7.03479L13.0957 7.88742L8.46919 12.3718Z" fill="white"/>
                          </svg>
                        </div>
                      {% endif %}                   
                      </div>
                    {% endif %}                        
                    {% if block.settings.text != blank %}
                      <div class="testimonials-slide-text-{{ section.id }}">
                        {{ block.settings.text }}                  
                      </div>  
                    {% endif %} 
                  </div>                                     
                  <div class="testimonials-slide-bottom-{{ section.id }}">
                    <div class="testimonials-author-wrapper-{{ section.id }}">                     
                      {% if block.settings.author != blank %}
                        <p class="testimonials-slide-author-name-{{ section.id }}">{{ block.settings.author }}</p>
                      {% endif %}
                      <div class="testimonials-slide-stars-wrapper-{{ section.id }}">
                        <div class="testimonials-slide-stars-{{ section.id }}">
                          {% if slide_stars_icon != blank %}
                            {% assign slide_stars_count_round = block.settings.stars_count | round: 0 %}
                            {% for item in (1..slide_stars_count_round) %}
                              <img src="{{ slide_stars_icon | image_url }}" alt="{{ slide_stars_icon.alt }}">
                            {% endfor %}
                          {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">                          
                              <defs>
                                <linearGradient id="grad{{ block.id }}6">
                                  <stop offset="0%" stop-color="{{ slide_stars_color }}" />
                                  <stop offset="50%" stop-color="{{ slide_stars_color }}" />
                                  <stop offset="50%" stop-color="transparent" />
                                  <stop offset="100%" stop-color="transparent" />
                                </linearGradient>
                              </defs>                             
                              <path stroke="{{ slide_stars_color }}" d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 0 and block.settings.stars_count < 1 %}url(#grad{{ block.id }}6){% elsif block.settings.stars_count > 0.5 %}{{ slide_stars_color }}{% endif %}"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">                           
                                <defs>
                                  <linearGradient id="grad{{ block.id }}7">
                                    <stop offset="0%" stop-color="{{ slide_stars_color }}" />
                                    <stop offset="50%" stop-color="{{ slide_stars_color }}" />
                                    <stop offset="50%" stop-color="transparent" />
                                    <stop offset="100%" stop-color="transparent" />
                                  </linearGradient>
                                </defs>                            
                              <path stroke="{{ slide_stars_color }}" d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 1 and block.settings.stars_count < 2 %}url(#grad{{ block.id }}7){% elsif block.settings.stars_count > 1.5 %}{{ slide_stars_color }}{% endif %}"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">                            
                              <defs>
                                <linearGradient id="grad{{ block.id }}8">
                                  <stop offset="0%" stop-color="{{ slide_stars_color }}" />
                                  <stop offset="50%" stop-color="{{ slide_stars_color }}" />
                                  <stop offset="50%" stop-color="transparent" />
                                  <stop offset="100%" stop-color="transparent" />
                                </linearGradient>
                              </defs>                              
                              <path stroke="{{ slide_stars_color }}" d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 2 and block.settings.stars_count < 3 %}url(#grad{{ block.id }}8){% elsif block.settings.stars_count > 2.5 %}{{ slide_stars_color }}{% endif %}"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">                            
                              <defs>
                                <linearGradient id="grad{{ block.id }}9">
                                  <stop offset="0%" stop-color="{{ slide_stars_color }}" />
                                  <stop offset="50%" stop-color="{{ slide_stars_color }}" />
                                  <stop offset="50%" stop-color="transparent" />
                                  <stop offset="100%" stop-color="transparent" />
                                </linearGradient>
                              </defs>                           
                              <path stroke="{{ slide_stars_color }}" d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}url(#grad{{ block.id }}9){% elsif block.settings.stars_count > 3.5 %}{{ slide_stars_color }}{% endif %}"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">                        
                              <defs>
                                <linearGradient id="grad{{ block.id }}10">
                                  <stop offset="0%" stop-color="{{ slide_stars_color }}" />
                                  <stop offset="50%" stop-color="{{ slide_stars_color }}" />
                                  <stop offset="50%" stop-color="transparent" />
                                  <stop offset="100%" stop-color="transparent" />
                                </linearGradient>
                              </defs>                              
                              <path stroke="{{ slide_stars_color }}" d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}url(#grad{{ block.id }}10){% elsif block.settings.stars_count > 4.5 %}{{ slide_stars_color }}{% endif %}"></path>
                            </svg>
                          {% endif %}
                        </div>  
                      </div>   
                    </div>
                    <div class="testimonials-author-image-{{ section.id }}">
                      {% if block.settings.author_image != blank %}
                        <img src="{{ block.settings.author_image | img_url: "360x360" }}" alt="{{ block.settings.author_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                      {% elsif block.settings.author != blank %}
                        {{ block.settings.author | slice: 0, 1 }}
                      {% else %}
                        {{ 'image' | placeholder_svg_tag }}
                      {% endif %}   
                    </div>
                  </div>               
                </div>
              {% endif %}
            {% endfor %}
          </div>                 
        </div> 
        <div class="testimonials-navigation-{{ section.id }}">
          <button class="testimonials-btn-prev-{{ section.id }}">
            <span class="animate-icon"></span>
          </button>
          <button class="testimonials-btn-next-{{ section.id }}">
            <span class="animate-icon"></span>
          </button> 
        </div>       
      </div>    
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script>
  function initTestimonials42() {
    const slider = new Swiper(`.testimonials-slider-{{ section.id }}`, {
      speed: 300,
      centeredSlides: true,
      loop: true,
      navigation: {
        nextEl: `.testimonials-btn-next-{{ section.id }}`,
        prevEl: `.testimonials-btn-prev-{{ section.id }}`,
      },
      scrollbar: {
        el: '.testimonials-scrollbar-{{ section.id }}',
        draggable: true,
      },
      breakpoints: {
        320: {
          spaceBetween: parseInt(document.querySelector(`.testimonials-slider-{{ section.id }}`).dataset.gapMobile || 0),
          slidesPerView: parseFloat(document.querySelector(`.testimonials-slider-{{ section.id }}`).dataset.viewMobile || 1),
        },
        768: {
          spaceBetween: parseInt(document.querySelector(`.testimonials-slider-{{ section.id }}`).dataset.gap || 0),
          slidesPerView: parseFloat(document.querySelector(`.testimonials-slider-{{ section.id }}`).dataset.view || 3),
        },
        1024: {
          spaceBetween: parseInt(document.querySelector(`.testimonials-slider-{{ section.id }}`).dataset.gap || 0),
          slidesPerView: parseFloat(document.querySelector(`.testimonials-slider-{{ section.id }}`).dataset.view || 3),
        }
      }
    });

    document.querySelector('.testimonials-slider-{{ section.id }}').classList.remove('preview');
  }

  document.addEventListener('DOMContentLoaded', initTestimonials42);

  if (Shopify.designMode) {
    document.addEventListener('shopify:section:unload', initTestimonials42);
    document.addEventListener('shopify:section:load', initTestimonials42);
  }
</script>

{% schema %}
  {
    "name": "SS - Testimonials #42",
    "settings": [
      {
        "type": "paragraph",
        "content":"⚠️ Save settings to see section in action"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text_alignment",
        "id": "content_align",
        "label": "Alignment",
        "default": "center"
      },
      {
        "type": "text_alignment",
        "id": "content_align_mobile",
        "label": "Alignment - mobile",
        "default": "center"
      },       
      {
        "type": "header",
        "content": "Slider"
      },
      {
        "type": "range",
        "id": "slider_view",
        "min": 1,
        "max": 5,
        "step": 0.5,
        "label": "Slides to show",
        "default": 3.5
      },      
      {
        "type": "range",
        "id": "slider_view_mobile",
        "min": 1,
        "max": 2,
        "step": 0.1,
        "label": "Slides to show - mobile",
        "default": 1.2
      }, 
      {
        "type": "range",
        "id": "slider_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap",
        "default": 30
      },
      {
        "type": "range",
        "id": "slider_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap - mobile",
        "default": 24
      },
      {
        "type": "range",
        "id": "slider_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 52
      },
      {
        "type": "range",
        "id": "slider_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 32
      },
      {
        "type": "header",
        "content": "Slide"
      },
      {
        "type": "checkbox",
        "id": "slide_padding_advanced",
        "label": "Advanced padding settings",
        "default": false
      },
      {
        "type": "range",
        "id": "slide_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal",
        "default": 20,
        "visible_if": "{{ section.settings.slide_padding_advanced }}"
      },
      {
        "type": "range",
        "id": "slide_padding_horizontal_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal - mobile",
        "default": 20,
        "visible_if": "{{ section.settings.slide_padding_advanced }}"
      },
      {
        "type": "range",
        "id": "slide_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 20,
        "visible_if": "{{ section.settings.slide_padding_advanced }}"
      },
      {
        "type": "range",
        "id": "slide_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 20,
        "visible_if": "{{ section.settings.slide_padding_advanced }}"
      },
      {
        "type": "range",
        "id": "slide_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 30
      },   
      {
        "type": "range",
        "id": "slide_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },       
      {
        "type": "checkbox",
        "id": "slide_shadow",
        "label": "Use shadow",
        "default": false
      },
      {
        "type": "color",
        "id": "slide_shadow_color",
        "label": "Shadow color",
        "default": "#959DA5",
        "visible_if": "{{ section.settings.slide_shadow }}"
      },   
      {
        "type": "header",
        "content": "Slide content"
      },
      {
        "type": "text_alignment",
        "id": "slide_content_align",
        "label": "Alignment"
      },
      {
        "type": "text_alignment",
        "id": "slide_content_align_mobile",
        "label": "Alignment - mobile"
      },   
      {
        "type": "header",
        "content": "Image"
      },    
      {
        "type": "range",
        "id": "image_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 30
      },
      {
        "type": "range",
        "id": "image_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Aspect ratio",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_ratio_mobile",
        "label": "Aspect ratio - mobile",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },  
      {
        "type": "header",
        "content": "Verified customer badge"
      },  
      {
        "type": "checkbox",
        "id": "verify_icon",
        "label": "Use verified icon",
        "default": true
      },
      {
        "type": "range",
        "id": "verify_icon_size",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Size",
        "default": 18,
        "visible_if": "{{ section.settings.verify_icon }}"
      },
      {
        "type": "range",
        "id": "verify_icon_size_mobile",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Size - mobile",
        "default": 18,
        "visible_if": "{{ section.settings.verify_icon }}"
      },  
      {
        "type": "checkbox",
        "id": "verify_bg",
        "label": "Background",
        "default": true
      },
      {
        "type": "range",
        "id": "verify_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 100,
        "visible_if": "{{ section.settings.verify_bg }}"
      },
      {
        "type": "range",
        "id": "verify_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0,
        "visible_if": "{{ section.settings.verify_bg }}"
      },
      {
        "type": "range",
        "id": "verify_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 16
      },
      {
        "type": "range",
        "id": "verify_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 16
      },
      {
        "type": "header",
        "content": "Verified text"
      },
      {
        "type": "text",
        "id": "verify",
        "label": "Text",
        "default": "Verified customer"
      },
      {
        "type": "checkbox",
        "id": "verify_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "verify_font",
        "label": "Font family",
        "default": "josefin_sans_n4",        
        "visible_if": "{{ section.settings.verify_custom }}"
      },
      {
        "type": "range",
        "id": "verify_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 12
      },
      {
        "type": "range",
        "id": "verify_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 12
      },
      {
        "type": "range",
        "id": "verify_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      },     
      {
        "type": "header",
        "content": "Testimonial text"
      },
      {
        "type": "checkbox",
        "id": "text_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "text_font",
        "label": "Font family",
        "default": "josefin_sans_n4",
        "visible_if": "{{ section.settings.text_custom }}"
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
      },
      {
        "type": "range",
        "id": "text_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 14
      },
      {
        "type": "range",
        "id": "text_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 150
      }, 
      {
        "type": "range",
        "id": "text_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 16
      },
      {
        "type": "range",
        "id": "text_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 16
      },     
      {
        "type": "header",
        "content": "Author's name"
      },
      {
        "type": "checkbox",
        "id": "author_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "author_font",
        "label": "Font family",
        "default": "josefin_sans_n4",
        "visible_if": "{{ section.settings.author_custom }}"
      },
      {
        "type": "range",
        "id": "author_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 18
      },
      {
        "type": "range",
        "id": "author_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 16
      },
      {
        "type": "range",
        "id": "author_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      }, 
       {
        "type": "header",
        "content": "Stars"
      },
      {
        "type": "image_picker",
        "label": "Stars icon",
        "id": "slide_stars_icon",
        "info": "Replaces the default stars icon"
      },
      {
        "type": "range",
        "id": "slide_stars_size",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Size",
        "default": 20
      },
      {
        "type": "range",
        "id": "slide_stars_size_mobile",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Size - mobile",
        "default": 18
      },
      {
        "type": "range",
        "id": "slide_stars_mt",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 12
      },
      {
        "type": "range",
        "id": "slide_stars_mt_mobile",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 12
      },
      {
        "type": "header",
        "content": "Author's image"
      },
      {
        "type": "range",
        "id": "author_image_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size",
        "default": 60
      },
      {
        "type": "range",
        "id": "author_image_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size - mobile",
        "default": 56
      }, 
      {
        "type": "range",
        "id": "author_image_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 100
      },
      {
        "type": "range",
        "id": "author_image_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "header",
        "content": "Arrows"
      },
      {
        "type": "checkbox",
        "id": "arrow_show_desktop",
        "label": "Show on desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "arrow_show_mobile",
        "label": "Show on mobile",
        "default": false
      }, 
      {
        "type": "range",
        "id": "arrow_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size",
        "default": 48,
        "visible_if": "{{ section.settings.arrow_show_desktop }}"
      },
      {
        "type": "range",
        "id": "arrow_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size - mobile",
        "default": 38,
        "visible_if": "{{ section.settings.arrow_show_mobile }}"
      },
      {
        "type": "range",
        "id": "arrow_icon_size",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Icon size",
        "default": 10,
        "visible_if": "{{ section.settings.arrow_show_desktop }}"
      },
      {
        "type": "range",
        "id": "arrow_icon_size_mobile",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Icon size - mobile",
        "default": 8,
        "visible_if": "{{ section.settings.arrow_show_mobile }}"
      },
      {
        "type": "range",
        "id": "arrow_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 100,
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "range",
        "id": "arrow_border_thickness",
        "min": 0,
        "max": 10,
        "step": 0.5,
        "unit": "px",
        "label": "Border thickness",
        "default": 0,
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "select",
        "id": "arrow_hover_effect",
        "label": "Hover effect",
        "default": "color",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}",
        "options": [
          {
            "label": "Change color",
            "value": "color"
          },
          {
            "label": "Change size",
            "value": "scale"
          },
          {
            "label": "Change arrow",
            "value": "arrow"
          },
          {
            "label": "None",
            "value": "none"
          }
        ]
      }, 
      {
        "type": "range",
        "id": "arrow_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 40,
        "visible_if": "{{ section.settings.arrow_show_desktop }}"
      },
      {
        "type": "range",
        "id": "arrow_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 32,
        "visible_if": "{{ section.settings.arrow_show_mobile }}"
      },
      {
        "type": "header",
        "content": "Slide colors"
      },     
      {
        "type": "color",
        "label": "Image border",
        "id": "image_border_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.image_border_thickness >= 1 }}"
      }, 
      {
        "type": "color",
        "label": "Text",
        "id": "text_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Author's name",
        "id": "author_color",
        "default": "#121212"
      },     
      {
        "type": "color",
        "label": "Stars",
        "id": "slide_stars_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.slide_stars_icon == blank }}"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "slide_bg_color",
        "default": "#F3F3F3"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "slide_border_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.slide_border_thickness >= 1 }}"
      },    
      {
        "type": "header",
        "content": "Verified customer badge colors"
      },     
      {
        "type": "color",
        "label": "Text",
        "id": "verify_color",
        "default": "#121212"
      },      
      {
        "type": "color",
        "label": "Icon",
        "id": "verify_icon_checkmark_color",
        "default": "#FFFFFF",
        "visible_if": "{{ section.settings.verify_icon }}"
      },
      {
        "type": "color",
        "label": "Icon background",
        "id": "verify_icon_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.verify_icon }}"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "verify_bg_color",
        "default": "#FFFFFF",
        "visible_if": "{{ section.settings.verify_bg }}"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "verify_border_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.verify_bg }}"
      },
      {
        "type": "header",
        "content": "Default author's image colors"
      },  
      {
        "type": "color",
        "label": "Monogram",
        "id": "author_image_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "author_image_bg_color",
        "default": "#121212"
      },   
      {
        "type": "color",
        "label": "Border",
        "id": "author_image_border_color",
        "default": "#121212",
        "visible_if": "{{ section.settings.author_image_border_thickness >= 1 }}"
      },
      {
        "type": "header",
        "content": "Arrow colors",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Icon",
        "id": "arrow_color",
        "default": "#7B7B7B",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Icon hover",
        "id": "arrow_hover_color",
        "default": "#7B7B7B",
        "visible_if": "{{ section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_desktop or section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "arrow_bg_color",
        "default": "#F3F3F3",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Background hover",
        "id": "arrow_bg_hover_color",
        "default": "#F7F7F7",
        "visible_if": "{{ section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_desktop or section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "arrow_border_color",
        "default": "#C7C7C7",
        "visible_if": "{{ section.settings.arrow_show_desktop or section.settings.arrow_show_mobile }}"
      },
      {
        "type": "color",
        "label": "Border hover",
        "id": "arrow_border_hover_color",
        "default": "#C7C7C7",
        "visible_if": "{{ section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_desktop or section.settings.arrow_hover_effect == 'color' and section.settings.arrow_show_mobile }}"
      },
      {
        "type": "header",
        "content": "Section colors"
      },
       {
        "type": "select",
        "id": "background_style",
        "label": "Background style",
        "default": "solid",
        "options": [
          {
            "label": "Solid",
            "value": "solid"
          },
          {
            "label": "Gradient",
            "value": "gradient"
          }
        ]
      },
      {
        "type": "color",
        "label": "Background",
        "id": "background_color",
        "default": "#FFFFFF",
        "visible_if": "{{ section.settings.background_style == 'solid' }}"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Gradient",
        "default": "linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%)",
        "visible_if": "{{ section.settings.background_style == 'gradient' }}"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#121212"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Sides - mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Top",
        "default": 36
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Bottom",
         "default": 36
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Sides",
        "default": 5
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Sides - mobile",
        "default": 1.5
      },
      {
        "type": "header",
        "content": "Section"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": true
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 800,
        "max": 2000,
        "step": 100,
        "unit": "px",
        "label": "Content width",
        "default": 1200,
        "visible_if": "{{ section.settings.full_width == false }}"
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "sub_heading",
        "name": "Subheading",
        "settings": [
          {
            "type": "richtext",
            "id": "sub_heading",
            "label": "Subheading",
            "default": "<p>Subheading</p>"
          },
          {
            "type": "checkbox",
            "id": "sub_heading_custom",
            "label": "Use custom font",
            "default": false
          },
          {
            "type": "font_picker",
            "id": "sub_heading_font",
            "label": "Font family",
            "default": "josefin_sans_n4",
            "visible_if": "{{ block.settings.sub_heading_custom }}"
          },
          {
            "type": "range",
            "id": "sub_heading_size",
            "min": 0,
            "max": 40,
            "step": 1,
            "unit": "px",
            "label": "Font size",
            "default": 16
          },
          {
            "type": "range",
            "id": "sub_heading_size_mobile",
            "min": 0,
            "max": 40,
            "step": 1,
            "unit": "px",
            "label": "Font size - mobile",
            "default": 14
          },
          {
            "type": "range",
            "id": "sub_heading_height",
            "min": 50,
            "max": 200,
            "step": 10,
            "unit": "%",
            "label": "Line height",
            "default": 130
          },
          {
            "type": "header",
            "content": "Appearance"
          },
          {
            "type": "checkbox",
            "id": "sub_heading_bg",
            "label": "Background",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "sub_heading_padding_advanced",
            "label": "Advanced padding settings",
            "default": false,
            "visible_if": "{{ block.settings.sub_heading_bg }}"
          },
          {
            "type": "range",
            "id": "sub_heading_padding_horizontal",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "Padding horizontal",
            "default": 12,
            "visible_if": "{{ block.settings.sub_heading_padding_advanced and block.settings.sub_heading_bg }}"
          },
          {
            "type": "range",
            "id": "sub_heading_padding_horizontal_mobile",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "Padding horizontal - mobile",
            "default": 12,
            "visible_if": "{{ block.settings.sub_heading_padding_advanced and block.settings.sub_heading_bg }}"
          },
          {
            "type": "range",
            "id": "sub_heading_padding_vertical",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "Padding vertical",
            "default": 8,
            "visible_if": "{{ block.settings.sub_heading_padding_advanced and block.settings.sub_heading_bg }}"
          },
          {
            "type": "range",
            "id": "sub_heading_padding_vertical_mobile",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "Padding vertical - mobile",
            "default": 8,
            "visible_if": "{{ block.settings.sub_heading_padding_advanced and block.settings.sub_heading_bg }}"
          },
          {
             "type": "range",
             "id": "sub_heading_radius",
             "min": 0,
             "max": 100,
             "step": 2,
             "unit": "px",
             "label": "Roundness",
             "default": 10,
             "visible_if": "{{ block.settings.sub_heading_bg }}"
          },
          {
             "type": "range",
             "id": "sub_heading_border_thickness",
             "min": 0,
             "max": 10,
             "step": 1,
             "unit": "px",
             "label": "Border thickness",
             "default": 0,
             "visible_if": "{{ block.settings.sub_heading_bg }}"
          },
          {
            "type": "range",
            "id": "sub_heading_mt",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Margin top",
            "default": 0
          },
          {
            "type": "range",
            "id": "sub_heading_mt_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Margin top - mobile",
            "default": 0
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "type": "color",
            "label": "Text",
            "id": "sub_heading_color",
            "default": "#121212"
          },
          {
            "type": "color",
            "label": "Background",
            "id": "sub_heading_bg_color",
            "default": "#F3F3F3",
            "visible_if": "{{ block.settings.sub_heading_bg }}"
          },
          {
            "type": "color",
            "label": "Border",
            "id": "sub_heading_border_color",
            "default": "#121212",
            "visible_if": "{{ block.settings.sub_heading_bg }}"
          }
        ]
      },
      {
        "type": "heading",
        "name": "Heading",
        "settings": [
          {
            "type": "richtext",
            "id": "heading",
            "label": "Heading",
            "default": "<h2>Testimonials #42</h2>"
          },
          {
            "type": "checkbox",
            "id": "heading_custom",
            "label": "Use custom font",
            "default": false
          },
          {
            "type": "font_picker",
            "id": "heading_font",
            "label": "Font family",
            "default": "josefin_sans_n4",
            "visible_if": "{{ block.settings.heading_custom }}"
          },
          {
            "type": "range",
            "id": "heading_size",
            "min": 0,
            "max": 72,
            "step": 2,
            "unit": "px",
            "label": "Font size",
            "default": 48
          },
          {
            "type": "range",
            "id": "heading_size_mobile",
            "min": 0,
            "max": 72,
            "step": 2,
            "unit": "px",
            "label": "Font size - mobile",
            "default": 32
          },
          {
            "type": "range",
            "id": "heading_height",
            "min": 50,
            "max": 200,
            "step": 10,
            "unit": "%",
            "label": "Line height",
            "default": 130
          },
           {
            "type": "range",
            "id": "heading_max_width",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "%",
            "label": "Max width",
            "default": 50
          },
          {
            "type": "range",
            "id": "heading_mt",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Margin top",
            "default": 10
          },
          {
            "type": "range",
            "id": "heading_mt_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Margin top - mobile",
            "default": 10
          },
          {
            "type": "color",
            "label": "Color",
            "id": "heading_color",
            "default": "#121212"
          }
        ]
      },
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [    
          {
            "type": "image_picker",
            "label": "Image",
            "id": "image"
          },
          {
            "type": "range",
            "id": "stars_count",
            "min": 0,
            "max": 5,
            "step": 0.5,
            "label": "Stars count",
            "default": 5
          },             
          {
            "type": "richtext",
            "id": "text", 
            "label": "Testimonial",
            "info": "For best results, keep the word count similar in each quote.",
            "default": "<p>Add customer reviews and testimonials to highlight the positive experiences they’ve had with your store.</p>"
          },
          {
            "type": "text",
            "id": "author", 
            "label": "Author",
            "default": "Author's name"
          },
          {
            "type": "image_picker",
            "label": "Author's image",
            "id": "author_image"
          },
          
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Testimonials #42",
        "blocks": [
          {
            "type": "sub_heading"
          },
          {
            "type": "heading"
          },       
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}