{% comment %}
---------------------------------------------------------
Copyright © 2023 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign section_radius = section.settings.section_radius

  assign content_horizontal_align = section.settings.content_horizontal_align
  assign content_horizontal_align_mobile = section.settings.content_horizontal_align_mobile

  assign content_text_align = ""
  if content_horizontal_align == "start"
    assign content_text_align = "left"
  elsif content_horizontal_align == "center"
    assign content_text_align = "center"
  else
    assign content_text_align = "right"
  endif

  assign content_text_align_mobile = ""
  if content_horizontal_align_mobile == "start"
    assign content_text_align_mobile = "left"
  elsif content_horizontal_align_mobile == "center"
    assign content_text_align_mobile = "center"
  else
    assign content_text_align_mobile = "right"
  endif

  assign heading = section.settings.heading
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_height = section.settings.heading_height
  assign heading_color = section.settings.heading_color

  assign text = section.settings.text
  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_height = section.settings.text_height
  assign text_color = section.settings.text_color
  assign text_mt = section.settings.text_mt
  assign text_mt_mobile = section.settings.text_mt_mobile

  assign button_mt = section.settings.button_mt
  assign button_mt_mobile = section.settings.button_mt_mobile

  assign button = section.settings.button
  assign button_url = section.settings.button_url
  assign button_size = section.settings.button_size
  assign button_size_mobile = section.settings.button_size_mobile
  assign button_color = section.settings.button_color
  assign button_hover_color = section.settings.button_hover_color
  assign button_custom = section.settings.button_custom
  assign button_font = section.settings.button_font
  assign button_height = section.settings.button_height
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_padding_vertical_mobile = section.settings.button_padding_vertical_mobile
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_padding_horizontal_mobile = section.settings.button_padding_horizontal_mobile
  assign button_radius = section.settings.button_radius
  assign button_border_thickness = section.settings.button_border_thickness
  assign button_border_color = section.settings.button_border_color
  assign button_border_hover_color = section.settings.button_border_hover_color
  assign button_bg_color = section.settings.button_bg_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color
  assign button_style = section.settings.button_style

  assign second_button = section.settings.second_button
  assign second_button_url = section.settings.second_button_url
  assign second_button_bg_color = section.settings.second_button_bg_color
  assign second_button_bg_hover_color = section.settings.second_button_bg_hover_color
  assign second_button_color = section.settings.second_button_color
  assign second_button_hover_color = section.settings.second_button_hover_color
  assign second_button_border_color = section.settings.second_button_border_color
  assign second_button_border_hover_color = section.settings.second_button_border_hover_color

  assign items_gap = section.settings.items_gap
  assign items_gap_mobile = section.settings.items_gap_mobile
  assign items_mt = section.settings.items_mt
  assign items_mt_mobile = section.settings.items_mt_mobile

  assign item_padding_horizontal = section.settings.item_padding_horizontal
  assign item_padding_horizontal_mobile = section.settings.item_padding_horizontal_mobile
  assign item_padding_vertical = section.settings.item_padding_vertical
  assign item_padding_vertical_mobile = section.settings.item_padding_vertical_mobile
  assign item_width = section.settings.item_width
  assign item_width_mobile = section.settings.item_width_mobile
  assign item_border_thickness = section.settings.item_border_thickness
  assign item_border_color = section.settings.item_border_color
  assign item_radius = section.settings.item_radius
  assign item_background_color = section.settings.item_background_color

  assign title_align = section.settings.title_align
  assign title_align_mobile = section.settings.title_align_mobile
  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_height = section.settings.title_height
  assign title_color = section.settings.title_color

  assign item_text_align = section.settings.item_text_align
  assign item_text_align_mobile = section.settings.item_text_align_mobile
  assign item_text_custom = section.settings.item_text_custom
  assign item_text_font = section.settings.item_text_font
  assign item_text_size = section.settings.item_text_size
  assign item_text_size_mobile = section.settings.item_text_size_mobile
  assign item_text_height = section.settings.item_text_height
  assign item_text_color = section.settings.item_text_color
  assign item_text_mt = section.settings.item_text_mt
  assign item_text_mt_mobile = section.settings.item_text_mt_mobile  

  assign name_custom = section.settings.name_custom
  assign name_font = section.settings.name_font
  assign name_size = section.settings.name_size
  assign name_size_mobile = section.settings.name_size_mobile
  assign name_height = section.settings.name_height
  assign name_color = section.settings.name_color
  assign name_mt = section.settings.name_mt
  assign name_mt_mobile = section.settings.name_mt_mobile

  assign stars_icon = section.settings.stars_icon
  assign stars_color = section.settings.stars_color
  assign stars_size = section.settings.stars_size
  assign stars_size_mobile = section.settings.stars_size_mobile
-%}

{%- style -%}
  {{ heading_font | font_face: font_display: 'swap' }}
  {{ text_font | font_face: font_display: 'swap' }}
  {{ button_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .testimonials-content-{{ section.id }} {
    display: flex;
    flex-direction: column;
    align-items: {{ content_horizontal_align_mobile }};
    margin: 0 auto;
    max-width: 90%;
    position: sticky;
    top: 19%;
    z-index: 0;
  }

  .testimonials-heading-{{ section.id }} {
    word-wrap: break-word;
    text-align: {{ content_text_align_mobile }};    
  }

  .testimonials-heading-{{ section.id }} * {
    margin: 0;
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
    text-decoration: none;
  }

  .testimonials-text-{{ section.id }} {
    word-wrap: break-word;
    text-align: {{ content_text_align_mobile }};
    margin-top: {{ text_mt_mobile }}px;
  }

  .testimonials-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ text_size_mobile }}px;
    color: {{ text_color }};
    line-height: {{ text_height }}%;
    text-transform: unset;
  }

  .testimonials-buttons-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: {{ button_mt_mobile }}px;
  }

  .testimonials-first-button-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    gap: 10px;
    width: 100%;
    margin: 0; 
    font-size: {{ button_size_mobile }}px;
    color: {{ button_color }};
    line-height: {{ button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical_mobile }}px {{ button_padding_horizontal_mobile }}px;
    border-radius: {{ button_radius }}px;
    transition: all 1s ease 0s;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-weight: 700;
  }

  .testimonials-first-button-inner-{{ section.id }} {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .testimonials-first-button-{{ section.id }}:hover {
    color: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .testimonials-first-button-{{ section.id }} svg {
    width: 14px;
    height: 14px;
  }

  .testimonials-first-button-{{ section.id }} svg path {
    fill: {{ button_color }};
    transition: all 0.25s ease 0s;
  }

  .testimonials-first-button-{{ section.id }}:hover svg path {
    fill: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }
  
  .testimonials-second-button-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    gap: 10px;
    width: 100%;
    margin: 0;
    font-size: {{ button_size_mobile }}px;
    color: {{ second_button_color }};
    line-height: {{ button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical_mobile }}px {{ button_padding_horizontal_mobile }}px;
    border-radius: {{ button_radius }}px;
    transition: all 1s ease 0s;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-weight: 700;
  }

  .testimonials-second-button-inner-{{ section.id }} {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .testimonials-second-button-{{ section.id }}:hover {
    color: {{ second_button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .testimonials-second-button-{{ section.id }} svg {
    width: 14px;
    height: 14px;
  }

  .testimonials-second-button-{{ section.id }} svg path {
    fill: {{ second_button_color }};
    transition: all 0.25s ease 0s;
  }

  .testimonials-second-button-{{ section.id }}:hover svg path {
    fill: {{ second_button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .testimonials-list-{{ section.id }} {
    display: flex;
    flex-direction: column;
    margin-top: {{ items_mt_mobile }}px;
  }

  .testimonials-item-{{ section.id }} {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 50;
    border: {{ item_border_thickness }}px solid {{ item_border_color }};
    padding: {{ item_padding_vertical_mobile }}px {{ item_padding_horizontal_mobile }}px;
    width: {{ item_width_mobile }}px;
    border-radius: {{ item_radius }}px;
    background-color: {{ item_background_color }};
  }

  .testimonials-item-{{ section.id }}:nth-child(odd) {
    align-self: flex-start;
  }

  .testimonials-item-{{ section.id }}:nth-child(even) {
    align-self: flex-end;
  }

  .testimonials-item-{{ section.id }}:not(:last-child) {
    margin-bottom: {{ items_gap_mobile }}px;
  }

  .testimonials-title-{{ section.id }} {
    word-wrap: break-word;
    text-align: {{ title_align_mobile }};
  }

  .testimonials-title-{{ section.id }} * {
    margin: 0;
    font-size: {{ title_size_mobile }}px;
    color: {{ title_color }};
    line-height: {{ title_height }}%;
    text-transform: unset;
  }

  .testimonials-item-text-{{ section.id }} {
    word-wrap: break-word;
    text-align: {{ item_text_align_mobile }};
    margin-top: {{ item_text_mt_mobile }}px;
  }

  .testimonials-item-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ item_text_size_mobile }}px;
    color: {{ item_text_color }};
    line-height: {{ item_text_height }}%;
    text-transform: unset;
  }

  .testimonials-raiting-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: {{ name_mt_mobile }}px;
  }

  .testimonials-name-{{ section.id }} {
    word-wrap: break-word;
    margin: 0;
    font-size: {{ name_size_mobile }}px;
    color: {{ name_color }};
    line-height: {{ name_height }}%;
    text-transform: unset;
  }

  .testimonials-stars-{{ section.id }} {
    display: flex;
    align-items: center;
    gap: 1px;
    max-width: fit-content;
  }

  .testimonials-stars-{{ section.id }} svg,
  .testimonials-stars-{{ section.id }} img {
    display: block;
    width: {{ stars_size_mobile }}px;
    height: {{ stars_size_mobile }}px;
    object-fit: cover;
  }

  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .testimonials-content-{{ section.id }} {
      align-items: {{ content_horizontal_align }};
      text-align: {{ content_text_align }};
      max-width: 60%;
      top: 35%;
    }

    .testimonials-heading-{{ section.id }} {
      text-align: {{ content_text_align }};
    }
  
    .testimonials-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }
    
    .testimonials-text-{{ section.id }} {
      text-align: {{ content_text_align }};
      margin-top: {{ text_mt }}px;
    }

    .testimonials-text-{{ section.id }} * {
      font-size: {{ text_size }}px;
    }

    .testimonials-buttons-{{ section.id }} {
      margin-top: {{ button_mt }}px;
    }

    .testimonials-first-button-{{ section.id }} {
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
      font-size: {{ button_size }}px;
    }

    .testimonials-second-button-{{ section.id }} {
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
      font-size: {{ button_size }}px;
    }

    .testimonials-list-{{ section.id }} {
      margin-top: {{ items_mt }}px;
    }

    .testimonials-item-{{ section.id }} {
      padding: {{ item_padding_vertical }}px {{ item_padding_horizontal }}px;
      width: {{ item_width }}px;
    }

    .testimonials-item-{{ section.id }}:not(:last-child) {
      margin-bottom: {{ items_gap }}px;      
    }

    .testimonials-title-{{ section.id }} {
      text-align: {{ title_align }};
    }

    .testimonials-title-{{ section.id }} * {
      font-size: {{ title_size }}px;
    }

    .testimonials-item-text-{{ section.id }} {
      text-align: {{ item_text_align }};
      margin-top: {{ item_text_mt }}px;
    }

    .testimonials-item-text-{{ section.id }} * {
      font-size: {{ item_text_size }}px;
    }

    .testimonials-raiting-{{ section.id }} {
      margin-top: {{ name_mt }}px;
    }

    .testimonials-name-{{ section.id }} {
      font-size: {{ name_size }}px;
    }

    .testimonials-stars-{{ section.id }} svg,
    .testimonials-stars-{{ section.id }} img {
      width: {{ stars_size }}px;
      height: {{ stars_size }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% for block in section.blocks %} 
  <style>
    .testimonials-item-{{ block.id }}:nth-child(odd) {
      margin-left: {{ block.settings.margin_edge_mobile }}%;
    }

    .testimonials-item-{{ block.id }}:nth-child(even) {
      margin-right: {{ block.settings.margin_edge_mobile }}%;
    }

    @media(min-width: 1024px) {
      .testimonials-item-{{ block.id }}:nth-child(odd) {
        margin-left: {{ block.settings.margin_edge }}%;
      }
  
      .testimonials-item-{{ block.id }}:nth-child(even) {
        margin-right: {{ block.settings.margin_edge }}%;
      }
    }
  </style>
{% endfor %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if heading_custom %}
  <style>
    .testimonials-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .testimonials-text-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if button_custom %}
  <style>
    .testimonials-first-button-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}

{% if title_custom %}
  <style>
    .testimonials-title-{{ section.id }} * {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if item_text_custom %}
  <style>
    .testimonials-item-text-{{ section.id }} * {
      font-family: {{ item_text_font.family }}, {{ item_text_font.fallback_families }};
      font-weight: {{ item_text_font.weight }};
      font-style: {{ item_text_font.style }};
    }
  </style>
{% endif %}

{% if name_custom %}
  <style>
    .testimonials-name-{{ section.id }} {
      font-family: {{ name_font.family }}, {{ name_font.fallback_families }};
      font-weight: {{ name_font.weight }};
      font-style: {{ name_font.style }};
    }
  </style>
{% endif %}

{% if button_custom %}
  <style>
    .testimonials-second-button-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}

{% if button_style == "non_outline" or button_style == "non_outline_arrow" %}
  <style>
    .testimonials-first-button-{{ section.id }} {
      background-color: {{ button_bg_color }};
    }

    .testimonials-first-button-{{ section.id }}:hover {
      background-color: {{ button_bg_hover_color }};
    }

    .testimonials-second-button-{{ section.id }} {
      background-color: {{ second_button_bg_color }};
    }

    .testimonials-second-button-{{ section.id }}:hover {
      background-color: {{ second_button_bg_hover_color }};
    }
  </style>
{% elsif button_style == "outline" or button_style == "outline_arrow" %}
  <style>
    .testimonials-first-button-{{ section.id }} {
      background-color: {{ button_bg_color }};
      border: {{ button_border_thickness }}px solid {{ button_border_color }};
    }

    .testimonials-first-button-{{ section.id }}:hover {
      background-color: {{ button_bg_hover_color }};
      border: {{ button_border_thickness }}px solid {{ button_border_hover_color }};
    }

    .testimonials-second-button-{{ section.id }} {
      background-color: {{ second_button_bg_color }};
      border: {{ button_border_thickness }}px solid {{ second_button_border_color }};
    }

    .testimonials-second-button-{{ section.id }}:hover {
      background-color: {{ second_button_bg_hover_color }};
      border: {{ button_border_thickness }}px solid {{ second_button_border_hover_color }};
    }
  </style>
{% elsif button_style == "link" %}
  <style>
    .testimonials-first-button-{{ section.id }} {
      padding: 0px !important;
    }

    .testimonials-second-button-{{ section.id }} {
      padding: 0px !important;
    }
  </style>
{% endif %}



<div class="section-{{ section.id }} testimonials-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      <div class="testimonials-content-{{ section.id }}">
        {% if heading != blank %}
          <div class="testimonials-heading-{{ section.id }}">{{ heading }}</div>
        {% endif %}
        {% if text != blank %}
          <div class="testimonials-text-{{ section.id }}">{{ text }}</div>
        {% endif %}
        <div class="testimonials-buttons-{{ section.id }}">
          {% if button != blank %}
            <{% if button_url  != blank %}a href="{{ button_url }}"{% else %}div{% endif %} class="testimonials-first-button-{{ section.id }}"> 
              <p class="testimonials-first-button-inner-{{ section.id }}">
              {{ button }}
               {% if button_style == "non_outline_arrow" or button_style == "outline_arrow" %}
                  <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                    <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                  </svg>
                {% endif %}
              </p>
            </{% if button_url != blank %}a{% else %}div{% endif %}>       
          {% endif %}
          {% if second_button != blank %}
          <{% if second_button_url  != blank %}a href="{{ second_button_url }}"{% else %}div{% endif %} class="testimonials-second-button-{{ section.id }}"> 
              <p class="testimonials-second-button-inner-{{ section.id }}">
              {{ second_button }}
               {% if button_style == "non_outline_arrow" or button_style == "outline_arrow" %}
                  <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                    <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                  </svg>
                {% endif %}
              </p>
            </{% if second_button_url != blank %}a{% else %}div{% endif %}>  
          {% endif %}
        </div>
      </div>     
      <div class="testimonials-list-{{ section.id }}">
        {% for block in section.blocks %}
          <div class="testimonials-item-{{ section.id }} testimonials-item-{{ block.id }}">
            {% if block.settings.title != blank %} 
              <div class="testimonials-title-{{ section.id }}">{{ block.settings.title }}</div>
            {% endif %}
            {%if block.settings.text %}
              <div class="testimonials-item-text-{{ section.id }}">{{ block.settings.text }}</div>
            {% endif %}          
            <div class="testimonials-raiting-{{ section.id }}">
              {%if block.settings.name %}
                <div class="testimonials-name-{{ section.id }}">{{ block.settings.name }}</div>
              {% endif %}            
              {% if block.settings.stars_count != 0 %}
                <div class="testimonials-stars-{{ section.id }}">
                  {% if stars_icon != blank %}
                    {% assign stars_count_round = block.settings.stars_count | round: 0 %}
                    {% for item in (1..stars_count_round) %}
                      <img src="{{ stars_icon | image_url }}" alt="{{ stars_icon.alt }}">
                    {% endfor %}
                  {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                      {% if block.settings.stars_count > 0 and block.settings.stars_count < 1  %}
                        <defs>
                          <linearGradient id="grad{{ section.id }}6">
                            <stop offset="0%" stop-color="{{ stars_color }}" />
                            <stop offset="50%" stop-color="{{ stars_color }}" />
                            <stop offset="50%" stop-color="transparent" />
                            <stop offset="100%" stop-color="transparent" />
                          </linearGradient>
                        </defs>
                      {% endif %}
                      <path {% if block.settings.stars_count > 0 and block.settings.stars_count < 1 %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 0 and block.settings.stars_count < 1 %}url(#grad{{ section.id }}6){% elsif block.settings.stars_count > 0.5 %}{{ stars_color }}{% endif %}"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                      {% if block.settings.stars_count > 1 and block.settings.stars_count < 2  %}
                        <defs>
                          <linearGradient id="grad{{ section.id }}7">
                            <stop offset="0%" stop-color="{{ stars_color }}" />
                            <stop offset="50%" stop-color="{{ stars_color }}" />
                            <stop offset="50%" stop-color="transparent" />
                            <stop offset="100%" stop-color="transparent" />
                          </linearGradient>
                        </defs>
                      {% endif %}
                      <path {% if block.settings.stars_count > 1 and block.settings.stars_count < 2 %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 1 and block.settings.stars_count < 2 %}url(#grad{{ section.id }}7){% elsif block.settings.stars_count > 1.5 %}{{ stars_color }}{% endif %}"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                      {% if block.settings.stars_count > 2 and block.settings.stars_count < 3  %}
                        <defs>
                          <linearGradient id="grad{{ section.id }}8">
                            <stop offset="0%" stop-color="{{ stars_color }}" />
                            <stop offset="50%" stop-color="{{ stars_color }}" />
                            <stop offset="50%" stop-color="transparent" />
                            <stop offset="100%" stop-color="transparent" />
                          </linearGradient>
                        </defs>
                      {% endif %}
                      <path {% if block.settings.stars_count > 2 and block.settings.stars_count < 3 %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 2 and block.settings.stars_count < 3 %}url(#grad{{ section.id }}8){% elsif block.settings.stars_count > 2.5 %}{{ stars_color }}{% endif %}"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                      {% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}
                        <defs>
                          <linearGradient id="grad{{ section.id }}9">
                            <stop offset="0%" stop-color="{{ stars_color }}" />
                            <stop offset="50%" stop-color="{{ stars_color }}" />
                            <stop offset="50%" stop-color="transparent" />
                            <stop offset="100%" stop-color="transparent" />
                          </linearGradient>
                        </defs>
                      {% endif %}
                      <path {% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}url(#grad{{ section.id }}9){% elsif block.settings.stars_count > 3.5 %}{{ stars_color }}{% endif %}"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                      {% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}
                        <defs>
                          <linearGradient id="grad{{ section.id }}10">
                            <stop offset="0%" stop-color="{{ stars_color }}" />
                            <stop offset="50%" stop-color="{{ stars_color }}" />
                            <stop offset="50%" stop-color="transparent" />
                            <stop offset="100%" stop-color="transparent" />
                          </linearGradient>
                        </defs>
                      {% endif %}
                      <path {% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}url(#grad{{ section.id }}10){% elsif block.settings.stars_count > 4.5 %}{{ stars_color }}{% endif %}"></path>
                    </svg>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</div>


{% schema %}
  {
    "name": "SS - Testimonials #18",
    "settings": [      
      {
        "type": "header",
        "content": "Content settings"
      },
      {
        "type": "select",
        "id": "content_horizontal_align",
        "label": "Horizontal alignment",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "end"
          }
        ]
    },
    {
      "type": "select",
      "id": "content_horizontal_align_mobile",
      "label": "Horizontal alignment - mobile",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "end"
        }
      ]
    },
    {
      "type": "header",
      "content": "Heading settings"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Text",
      "default": "<h2>Testimonials #18</h2>"
    },
    {
      "type": "checkbox",
      "id": "heading_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 72
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 36
    },
    {
      "type": "range",
      "id": "heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },   
    {
      "type": "header",
      "content": "Subtext settings"
    },     
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Optional subtext</p>"
    },
    {
      "type": "checkbox",
      "id": "text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "text_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "text_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "text_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "range",
      "id": "text_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 16
    },
    {
      "type": "range",
      "id": "text_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 8
    },
    {
      "type": "header",
      "content": "Buttons settings"
    },
    {
      "type": "text",
      "id": "button",
      "label": "First button label",
      "default": "All Reviews",
      "info": "Leave the label blank to hide the button."
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "First button URL"
    },
    {
      "type": "text",
      "id": "second_button",
      "label": "Second button label",
      "default": "Shop",
      "info": "Leave the label blank to hide the button."
    },
    {
      "type": "url",
      "id": "second_button_url",
      "label": "Second button URL"
    },
    {
      "type": "checkbox",
      "id": "button_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "button_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "button_size",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 14
    },
    {
      "type": "range",
      "id": "button_size_mobile",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "button_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 100
    },
    {
      "type": "range",
      "id": "button_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 12
    },
    {
      "type": "range",
      "id": "button_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 12
    },
    {
        "type": "range",
        "id": "button_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal",
        "default": 16
    },
    {
        "type": "range",
        "id": "button_padding_horizontal_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal - mobile",
        "default": 16
    },
    {
        "type": "range",
        "id": "button_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 6
    },
    {
        "type": "range",
        "id": "button_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 1
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "default": "outline_arrow",
      "options": [
        {
          "label": "Link",
          "value": "link"
        },
        {
          "label": "Non-outline",
          "value": "non_outline"
        },
        {
          "label": "Non-outline & arrow",
          "value": "non_outline_arrow"
        },
        {
          "label": "Outline",
          "value": "outline"
        },
        {
          "label": "Outline & arrow",
          "value": "outline_arrow"
        }
      ]
    }, 
    {
      "type": "range",
      "id": "button_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 32
    },
    {
      "type": "range",
      "id": "button_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 32
    },
    {
      "type": "header",
      "content": "Reviews layout settings"
    },
    {
      "type": "range",
      "id": "items_gap",
      "min": -100,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Gap",
      "default": 0
    },
    {
      "type": "range",
      "id": "items_gap_mobile",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 48
    },
    {
      "type": "range",
      "id": "items_mt",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 24
    },
    {
      "type": "range",
      "id": "items_mt_mobile",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 40
    },
    {
      "type": "header",
      "content": "Review block settings"
    },
    {
      "type": "range",
      "id": "item_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 24
    },
    {
      "type": "range",
      "id": "item_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 24
    },
    {
      "type": "range",
      "id": "item_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 24
    },
    {
      "type": "range",
      "id": "item_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 24
    },
    {
      "type": "range",
      "id": "item_width",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "Width",
      "default": 360
    }, 
    {
      "type": "range",
      "id": "item_width_mobile",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "Width - mobile",
      "default": 280
    },
    {
      "type": "range",
      "id": "item_border_thickness",
      "min": 0,
      "max": 15,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 1
    },
    {
      "type": "range",
      "id": "item_radius",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Roundness",
      "default": 8
    },
    {
      "type": "header",
      "content": "Review title settings"
    },     
    {
      "type": "checkbox",
      "id": "title_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "title_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "title_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "title_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "text_alignment",
      "id": "title_align",
      "label": "Alignment"
    },
    {
      "type": "text_alignment",
      "id": "title_align_mobile",
      "label": "Alignment - mobile"
    },   
    {
      "type": "header",
      "content": "Review text settings"
    },     
    {
      "type": "checkbox",
      "id": "item_text_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "item_text_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "item_text_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 14
    },
    {
      "type": "range",
      "id": "item_text_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "item_text_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "range",
      "id": "item_text_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 10
    },
    {
      "type": "range",
      "id": "item_text_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 10
    },
    {
      "type": "text_alignment",
      "id": "item_text_align",
      "label": "Alignment"
    },
    {
      "type": "text_alignment",
      "id": "item_text_align_mobile",
      "label": "Alignment - mobile"
    },
    {
      "type": "header",
      "content": "Author settings"
    },     
    {
      "type": "checkbox",
      "id": "name_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "name_font",
      "label": "Font family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "name_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "name_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "name_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "range",
      "id": "name_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 28
    },
    {
      "type": "range",
      "id": "name_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 28
    },
    {
      "type": "header",
      "content": "Stars settings"
    },
    {
      "type": "image_picker",
      "label": "Stars icon",
      "id": "stars_icon",
      "info": "Replaces the default stars icon"
    },
    {
      "type": "range",
      "id": "stars_size",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Size",
      "default": 14
    },
    {
      "type": "range",
      "id": "stars_size_mobile",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Size - mobile",
      "default": 14
    },
    {
      "type": "header",
      "content": "Content colors"
    },
    {
      "type": "color",
      "label": "Heading",
      "id": "heading_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Subtext",
      "id": "text_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "First button colors"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "button_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Hover text",
      "id": "button_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "button_bg_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Background hover",
      "id": "button_bg_hover_color",
      "default": "#333333"
    },
    {
      "type": "color",
      "label": "Button border",
      "id": "button_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Border hover",
      "id": "button_border_hover_color",
      "default": "#333333"
    },
    {
      "type": "header",
      "content": "Second button colors"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "second_button_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Hover text",
      "id": "second_button_hover_color",
      "default": "#333333"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "second_button_bg_color"
    },
    {
      "type": "color",
      "label": "Background hover",
      "id": "second_button_bg_hover_color"
    },
    {
      "type": "color",
      "label": "Button border",
      "id": "second_button_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Border hover",
      "id": "second_button_border_hover_color",
      "default": "#333333"
    },
    {
      "type": "header",
      "content": "Review colors"
    },
    {
      "type": "color",
      "label": "Title",
      "id": "title_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Text",
      "id": "item_text_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Author",
      "id": "name_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Default stars",
      "id": "stars_color",
      "default": "#E7B414"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "item_background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "item_border_color",
      "default": "#E7E8E8"
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Margin sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Margin sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 64
    },
    {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding bottom",
        "default": 64
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 1000,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "label": "Section content width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Review",
      "settings": [
        {
          "type": "richtext",
          "label": "Title",
          "id": "title",
          "default": "<h3>Title</h3>"
        },
        {
          "type": "richtext",
          "label": "Text",
          "id": "text",
          "default": "<p>Text</p>"
        },
        {
          "type": "text",
          "label": "Author",
          "id": "name",
          "default": "Author"
        },
        {
          "type": "range",
          "id": "stars_count",
          "min": 0,
          "max": 5,
          "step": 0.5,
          "label": "Stars count",
          "default": 5
        },
        {
          "type": "range",
          "id": "margin_edge",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%",
          "label": "Margin edge",
          "default": 6
        },
        {
          "type": "range",
          "id": "margin_edge_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%",
          "label": "Margin edge - mobile",
          "default": 6
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SS - Testimonials #18",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}