{% comment %}
---------------------------------------------------------
Copyright © 2023 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign banner_radius = section.settings.banner_radius

  assign banner_height = section.settings.banner_height
  assign banner_fixed_height = section.settings.banner_fixed_height
  assign banner_fixed_height_mobile = section.settings.banner_fixed_height_mobile

  assign image = section.settings.image
  assign image_mobile = section.settings.image_mobile

  assign overlay = section.settings.overlay
  assign overlay_color = section.settings.overlay_color

  assign content_maxwidth = section.settings.content_maxwidth
  assign content_vertical_position_mobile = section.settings.content_vertical_position_mobile
  assign content_vertical_position = section.settings.content_vertical_position
  assign content_horizontal_position = section.settings.content_horizontal_position

  assign modal_radius = section.settings.modal_radius
  assign modal_border_thickness = section.settings.modal_border_thickness
  assign modal_width = section.settings.modal_width
  assign modal_overlay = section.settings.modal_overlay
  assign modal_border_color = section.settings.modal_border_color
  assign modal_overlay_color = section.settings.modal_overlay_color
  assign modal_overlay = modal_overlay | times: 0.01

  assign close_color = section.settings.close_color
  
-%}

{%- style -%}
  
  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    position: relative;
    overflow: hidden;
    border-radius: {{ banner_radius }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
    position: relative;
    z-index: 2;
    display: flex;
    height: 100%;
    align-items: {{ content_vertical_position_mobile }};
  }

  .banner-{{ section.id }}:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: {{ overlay_color | hex_to_rgba: overlay }};
    z-index: 1;
  }

  .banner-bg-{{ section.id }} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .banner-bg-{{ section.id }} img,
  .banner-bg-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner-bg-{{ section.id }} svg {
     background-color: #AFAFAF;
  }

  .banner-content-{{ section.id }} {
    width: 100%;
  }

  .banner-modal-{{ section.id }} {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    overflow-y: scroll;
    pointer-events: none;
    background: {{ modal_overlay_color | hex_to_rgba: modal_overlay }};
    padding: 10px;
  }

  .banner-modal-{{ section.id }}.active {
    opacity: 1;
    z-index: 100;
    pointer-events: all;
    transition: all 250ms ease-in 0s;
  }

  .banner-modal-inner-{{ section.id }} {
    position: relative;
    width: 100%;
    max-height: 96vh;
    border: {{ modal_border_thickness }}px solid {{ modal_border_color }};
    border-radius: {{ modal_radius }}px;
    overflow: hidden;
  }

  .banner-modal-inner-{{ section.id }} video,
  .banner-modal-inner-{{ section.id }} iframe {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: none;
    border: 0px;
  }

  .banner-modal-inner-{{ section.id }} iframe {
    min-height: 70vh;
  }

  .banner-close-{{ section.id }} {
    position: absolute;;
    top: 10px;
    right: 8px;
    box-shadow: none;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    z-index: 2;
  }

  .banner-close-{{ section.id }} svg {
    display: block;
    width: 30px;
    height: 30px;
  }

  .banner-close-{{ section.id }} svg path {
    fill: {{ close_color }};
  }

  .portrait-video-{{ section.id }} {
    max-width: 100%;
    margin: 0px auto;
  }
  
  .landspace-video-{{ section.id }} {
    max-width: 100%;
    margin: 0px auto;
  }

  .image-desktop-{{ section.id }} {
    display: none !important;
  }

  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
      align-items: {{ content_vertical_position }};
      justify-content: {{ content_horizontal_position }};
    }

    .banner-content-{{ section.id }} {
      max-width: {{ content_maxwidth }}%;
    }

    .banner-modal-inner-{{ section.id }} {
      max-width: {{ modal_width }}%;
    }

    .portrait-video-{{ section.id }} {
      max-width: 40%;
    }

    .landspace-video-{{ section.id }} {
      max-width: 80%;
    }

    .image-desktop-{{ section.id }} {
      display: block !important;
    }

    .image-mobile-{{ section.id }} {
      display: none !important;
    }
  }
  
{%- endstyle -%}

{% if banner_height == "adapt_first" %}
  <style>
    .banner-{{ section.id }} {
      height: 100vh;
    }
  </style>
{% elsif banner_height == "auto_height" %}
  <style>

   .banner-{{ section.id }} {
      height: auto;
    }

  </style>
{% else %}
  <style>
    .banner-{{ section.id }} {
      height: {{ banner_fixed_height_mobile }}px;
    }
  
    @media(min-width: 768px) {
      .banner-{{ section.id }} {
        height: {{ banner_fixed_height }}px;
      }
    }
  </style>
{% endif %}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}rem;
    }
  </style>
{% endunless %}

{% for block in section.blocks %}
  {% if block.type == "heading" %}
    <style>
      {{  block.settings.heading_font | font_face: font_display: 'swap' }}
      
      .banner-heading-{{ block.id }} {
        text-align: {{ block.settings.heading_align_mobile }};
        margin-top: {{ block.settings.heading_mt_mobile }}px;
      }

      .banner-heading-{{ block.id }} * {
        margin: 0;
        font-size: {{ block.settings.heading_size_mobile }}px;
        color: {{ block.settings.heading_color }};
        line-height: {{ block.settings.heading_height }}%;
        text-transform: unset;
      }

      @media(min-width: 1024px) {
        
        .banner-heading-{{ block.id }} {
          text-align: {{ block.settings.heading_align }};
          margin-top: {{ block.settings.heading_mt }}px;
        }
  
        .banner-heading-{{ block.id }} * {
          font-size: {{ block.settings.heading_size }}px;
        }
      }
    </style>

    {% if block.settings.heading_custom %}
      <style>
        .banner-heading-{{ block.id }} * {
          font-family: {{ block.settings.heading_font.family }}, {{ block.settings.heading_font.fallback_families }};
          font-weight: {{ block.settings.heading_font.weight }};
          font-style: {{ block.settings.heading_font.style }};
        }
      </style>
    {% endif %}

  {% elsif block.type == "text" %}
    <style>
      {{  block.settings.text_font | font_face: font_display: 'swap' }}
      
      .banner-text-{{ block.id }} {
        text-align: {{ block.settings.text_align_mobile }};
        margin-top: {{ block.settings.text_mt_mobile }}px;
      }

      .banner-text-{{ block.id }} * {
        margin: 0;
        font-size: {{ block.settings.text_size_mobile }}px;
        color: {{ block.settings.text_color }};
        line-height: {{ block.settings.text_height }}%;
        text-transform: unset;
      }

      @media(min-width: 1024px) {
        
        .banner-text-{{ block.id }} {
          text-align: {{ block.settings.text_align }};
          margin-top: {{ block.settings.text_mt }}px;
        }
  
        .banner-text-{{ block.id }} * {
          font-size: {{ block.settings.text_size }}px;
        }
      }
    </style>

    {% if block.settings.text_custom %}
      <style>
        .banner-text-{{ block.id }} {
          font-family: {{ block.settings.text_font.family }}, {{ block.settings.text_font.fallback_families }};
          font-weight: {{ block.settings.text_font.weight }};
          font-style: {{ block.settings.text_font.style }};
        }
      </style>
    {% endif %}

  {% elsif block.type == "button" %}

  <style>
    .banner-button-{{ block.id }} {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 100%;
      max-width: {{ block.settings.button_width_mobile }}px;
      margin: 0;
      margin-top: {{ block.settings.button_mt_mobile }}px;
      font-size: {{ block.settings.button_size_mobile }}px;
      color: {{ block.settings.button_color }};
      line-height: {{ block.settings.button_height }}%;
      text-align: center;
      text-transform: unset;
      text-decoration: none;
      padding: {{ block.settings.button_padding_vertical_mobile }}px {{ block.settings.button_padding_horizontal_mobile }}px;
      border-radius: {{ block.settings.button_radius }}px;
      transition: all 0.25s ease 0s;
      position: relative;
      font-weight: 700;
      z-index: 2;
    }
  
    .banner-button-{{ block.id }}:hover {
      color: {{ block.settings.button_hover_color }};
      transition: all 0.25s ease 0s;
    }
  
    .banner-button-{{ block.id }} svg {
      width: 14px;
      height: 14px;
    }
  
    .banner-button-{{ block.id }} svg path {
      fill: {{ block.settings.button_color }};
      transition: all 0.25s ease 0s;
    }
  
    .banner-button-{{ block.id }}:hover svg path {
      fill: {{ block.settings.button_hover_color }};
      transition: all 0.25s ease 0s;
    }

    @media(min-width: 1024px) {
      .banner-button-{{ block.id }} {
        margin-top: {{ block.settings.button_mt }}px;
        max-width: {{ block.settings.button_width }}px;
        padding: {{ block.settings.button_padding_vertical }}px {{ block.settings.button_padding_horizontal }}px;
        font-size: {{ block.settings.button_size }}px;
      }
    }
  </style>

  {% if block.settings.button_custom %}
    <style>
      .banner-button-{{ block.id }} {
        font-family: {{ block.settings.button_font.family }}, {{ block.settings.button_font.fallback_families }};
        font-weight: {{ block.settings.button_font.weight }};
        font-style: {{ block.settings.button_font.style }};
      }
    </style>
  {% endif %}

  {% if block.settings.button_align_mobile == "center" %}
    <style>
     .banner-button-{{ block.id }} {
        margin-left: auto;
        margin-right: auto;
      } 
    </style>
  {% elsif block.settings.button_align_mobile == "right" %}
    <style>
     .banner-button-{{ block.id }} {
        margin-left: auto;
      } 
    </style>
  {% endif %}
  
  {% if block.settings.button_align == "center" %}
    <style>
      @media(min-width: 1024px) {
       .banner-button-{{ block.id }} {
          margin-left: auto !important;
          margin-right: auto !important;
        } 
      }
    </style>
  {% elsif block.settings.button_align == "right" %}
    <style>
      @media(min-width: 1024px) {
       .banner-button-{{ block.id }} {
          margin-left: auto !important;
          margin-right: 0px !important;
        } 
      }
    </style>
  {% else %}
    <style>
      @media(min-width: 1024px) {
       .banner-button-{{ block.id }} {
          margin-left: 0px !important;
          margin-right: 0px !important;
        } 
      }
    </style>
  {% endif %}
  
  {% if block.settings.button_style == "non_outline" or block.settings.button_style == "non_outline_arrow" %}
    <style>
      .banner-button-{{ block.id }} {
        background-color: {{ block.settings.button_bg_color }};
      }
  
      .banner-button-{{ block.id }}:hover {
        background-color: {{ block.settings.button_bg_hover_color }};
      }
    </style>
  {% elsif block.settings.button_style == "outline" or block.settings.button_style == "outline_arrow" %}
    <style>
      .banner-button-{{ block.id }} {
        background-color: {{ block.settings.button_bg_color }};
        border: {{ block.settings.button_border_thickness }}px solid {{ block.settings.button_border_color }};
      }
  
      .banner-button-{{ block.id }}:hover {
        background-color: {{ block.settings.button_bg_hover_color }};
        border: {{ block.settings.button_border_thickness }}px solid {{ block.settings.button_border_hover_color }};
      }
    </style>
  {% endif %}

  {% elsif block.type == "video" %}

    <style>

      {{  block.settings.toggle_text_font | font_face: font_display: 'swap' }}
      
      .banner-toggle-{{ block.id }} {
        display: flex;
        margin-top: {{ block.settings.video_mt_mobile }}px;
        max-width: fit-content;
        align-items: center;
        gap: 28px;
        cursor: pointer;
      }

      .banner-play-{{ section.id }} {
        flex: 0 0 {{ block.settings.icon_size_mobile }}px;
        height: {{ block.settings.icon_size_mobile }}px;
      }

      .banner-play-{{ section.id }} svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
      
      .banner-toggle-{{ block.id }}:hover .banner-play-{{ section.id }} {
        animation: pulse 1s infinite;
      }

      .banner-toggle-text-{{ block.id }} {
        margin: 0px;
        font-size: {{ block.settings.toggle_text_size_mobile }}px;
        color: {{ block.settings.toggle_text_color }};
        line-height: {{ block.settings.toggle_text_height }}%;
        text-transform: unset;
      }

      .banner-toggle-{{ block.id }}:hover .banner-toggle-text-{{ block.id }} {
        text-decoration: underline;
      }

      @media(min-width: 1024px) {
        
        .banner-toggle-{{ block.id }} {
          margin-top: {{ block.settings.video_mt }}px;
        }

        .banner-play-{{ section.id }} {
          flex: 0 0 {{ block.settings.icon_size }}px;
          height: {{ block.settings.icon_size }}px;
        }

        .banner-toggle-text-{{ block.id }} {
          font-size: {{ block.settings.toggle_text_size }}px;
        }
      }
    </style>

    {% if block.settings.toggle_text_custom %}
      <style>
        .banner-toggle-text-{{ block.id }} {
          font-family: {{ block.settings.toggle_text_font.family }}, {{ block.settings.toggle_text_font.fallback_families }};
          font-weight: {{ block.settings.toggle_text_font.weight }};
          font-style: {{ block.settings.toggle_text_font.style }};
        }
      </style>
    {% endif %}

    {% if block.settings.toggle_align_mobile == "center" %}
      <style>
       .banner-toggle-{{ block.id }} {
          margin-left: auto;
          margin-right: auto;
        } 
      </style>
    {% elsif block.settings.toggle_align_mobile == "right" %}
      <style>
       .banner-toggle-{{ block.id }} {
          margin-left: auto;
        } 
      </style>
    {% endif %}
    
    {% if block.settings.toggle_align == "center" %}
      <style>
        @media(min-width: 1024px) {
         .banner-toggle-{{ block.id }} {
            margin-left: auto !important;
            margin-right: auto !important;
          } 
        }
      </style>
    {% elsif block.settings.toggle_align == "right" %}
      <style>
        @media(min-width: 1024px) {
         .banner-toggle-{{ block.id }} {
            margin-left: auto !important;
            margin-right: 0px !important;
          } 
        }
      </style>
    {% else %}
      <style>
        @media(min-width: 1024px) {
         .banner-toggle-{{ block.id }} {
            margin-left: 0px !important;
            margin-right: 0px !important;
          } 
        }
      </style>
    {% endif %}
    
  {% endif %}
  
{% endfor %}

<div class="section-{{ section.id }} banner-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">

    <div class="banner-bg-{{ section.id }}">
      {% if image != blank %}
        <img src="{{ image | image_url }}" alt="{{ image.alt }}" {% if lazy %}loading="lazy"{% endif %} {% if image_mobile != blank %}class="image-desktop-{{ section.id }}"{% endif %}>
      {% else %}
        {{ 'image' | placeholder_svg_tag }}
      {% endif %}

      {% if image_mobile != blank %}
        <img src="{{ image_mobile | image_url }}" alt="{{ image_mobile.alt }}" {% if lazy %}loading="lazy"{% endif %} class="image-mobile-{{ section.id }}">
      {% endif %}
      
    </div>
  
    <div class="section-{{ section.id }}-settings">
      <div class="banner-content-{{ section.id }}">
        {% for block in section.blocks %}
          {% if block.type == "heading" %}
            <div class="banner-heading-{{ block.id }}">
              {{ block.settings.heading }}
            </div>
          {% endif %}
          {% if block.type == "text" %}
            <div class="banner-text-{{ block.id }}">
              {{ block.settings.text }}
            </div>
          {% endif %}
  
          {% if block.type == "button" %}
            <a href="{{ block.settings.button_url }}" class="banner-button-{{ block.id }}">
              {{ block.settings.button }}
              {% if block.settings.button_style == "non_outline_arrow" or block.settings.button_style == "outline_arrow" %}
                <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                  <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                </svg>
              {% endif %}
            </a>
          {% elsif block.type == "video" %}
            <div class="banner-toggle-{{ section.id }} banner-toggle-{{ block.id }}" id="{{ block.id }}">
              <div class="banner-play-{{ section.id }}">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-play-circle" fill="none" viewBox="0 0 44 44">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22 44C34.1503 44 44 34.1503 44 22C44 9.84974 34.1503 0 22 0C9.84974 0 0 9.84974 0 22C0 34.1503 9.84974 44 22 44ZM29.9286 22.8659C30.5953 22.481 30.5953 21.5187 29.9286 21.1338L18.7857 14.7005C18.1191 14.3156 17.2857 14.7967 17.2857 15.5665V28.4332C17.2857 29.203 18.1191 29.6841 18.7857 29.2992L29.9286 22.8659Z" fill="{{ block.settings.toggle_icon_color }}"></path>
                </svg>
              </div>
              {% if block.settings.toggle_text != blank %}
                <p class="banner-toggle-text-{{ block.id }}">{{ block.settings.toggle_text }}</p>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
</div>

{% for block in section.blocks %}
  {% if block.type == "video" %}
    <div class="banner-modal-{{ section.id }}" data-id="{{ block.id }}">
      <button class="banner-close-{{ section.id }}">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.0002 10.586L4.70718 3.29297L3.29297 4.70718L10.586 12.0002L3.29297 19.2933L4.70718 20.7075L12.0002 13.4145L19.2933 20.7075L20.7075 19.2933L13.4145 12.0002L20.7075 4.70723L19.2933 3.29302L12.0002 10.586Z" fill="white"></path></svg>
      </button>
      <div class="banner-modal-inner-{{ section.id }}">
        {% assign video_id = block.settings.video.id | default: block.settings.video_url.id %}
        {%- if block.settings.video == null and block.settings.video_url != null -%}

          {% assign loop = "" %}
          
          {% if block.settings.loop %}
            {% assign loop = '&loop=1&playlist=' | append: video_id %}
          {% endif %}
          
          {% assign autoplay = '&autoplay=0' %}
          {% assign autoplay2 = '&autoplay=1' %}
          
          {%- if block.settings.video_url.type == 'youtube' -%}
            <iframe
              data-src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1{{ autoplay }}{{ loop }}"
              data-src1="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1{{ autoplay2 }}{{ loop }}"
              data-src2="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1{{ autoplay }}{{ loop }}"
              class="js-youtube"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="Fixed Video"
            ></iframe>
          {%- else -%}
            <iframe
              data-src="https://player.vimeo.com/video/{{ video_id }}{{ autoplay }}{{ loop }}"
              data-src1="https://player.vimeo.com/video/{{ video_id }}{{ autoplay2 }}{{ loop }}"
              data-src2="https://player.vimeo.com/video/{{ video_id }}{{ autoplay }}{{ loop }}"
              class="js-vimeo"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="Fixed Video"
            ></iframe>
          {% endif %}
        {% else %}
  
          {% assign width_video = block.settings.video.sources[0].width %}
          {% assign height_video = block.settings.video.sources[0].height %}
          <div class="banner-modal-inner-video-{{ section.id }} {% if height_video > width_video %}portrait-video-{{ section.id }}{% else %}landscape-video-{{ section.id }}{% endif %}">
            <video
              data-src="{{ block.settings.video.sources[1].url }}"
              playsinline
              preload="none"
              {% if block.settings.loop %}loop{% endif %}
              {% if block.settings.controls %}controls{% endif %}
              class="lazy"
            ></video>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@19.1.3/dist/lazyload.min.js"></script> 

<script>
  function initVideoBanner3() {

    var lazyLoadInstance = new LazyLoad();

    window.addEventListener(
      "LazyLoad::Initialized",
      function (event) {
        window.lazyLoadInstance = event.detail.instance;
      },
      false
    );
    
    let btns = document.querySelectorAll('.banner-toggle-{{ section.id }}');
    let modals = document.querySelectorAll('.banner-modal-{{ section.id }}');

    if(btns) {
      btns.forEach(el => {
        el.addEventListener('click', () => {
          if(modals) {
            modals.forEach(element => {
              let dataId = element.getAttribute('data-id');
              let video = element.querySelector('video');
              let frame = element.querySelector('iframe');
              if(el.id == dataId) {
                element.classList.add('active');
                document.body.style.overflow = 'hidden';

                if(video) {
                  setTimeout(() => {
                    video.play();
                  }, 300);
                }

                if(frame) {
                  let dataSrc = frame.getAttribute('data-src1');
                  setTimeout(() => {
                    frame.src = dataSrc;
                  }, 300);
                }
              }
            })
          }
        })
      })
    }

    if(modals) {
      modals.forEach(el => {
        let video = el.querySelector('video');
        let frame = el.querySelector('iframe');
        let close = el.querySelector('.banner-close-{{ section.id }}');
        
        if(close) {
           close.addEventListener('click', () => {
            document.body.style.overflow = '';
            el.classList.remove('active');

            if(video) {
              video.pause();
            }

            if(frame) {
              let dataSrc2 = frame.getAttribute('data-src2');
              frame.src = dataSrc2;
            }
          }); 
        }
    
        document.addEventListener('click', (e) => {
            if (e.target == el) {
              document.body.style.overflow = '';
              el.classList.remove('active');

              if(video) {
                video.pause();
              }
  
              if(frame) {
                let dataSrc2 = frame.getAttribute('data-src2');
                frame.src = dataSrc2;
              }
            }
        });
      })
    }
    
  }

  document.addEventListener('DOMContentLoaded', initVideoBanner3);
  
  if (Shopify.designMode) {
     document.addEventListener('shopify:section:unload', initVideoBanner3);
     document.addEventListener('shopify:section:load', initVideoBanner3);
  }
</script>

{% schema %}
  {
    "name": "SS - Video Banner #3",
    "settings": [
      {
        "type": "header",
        "content": "Banner Settings"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image - Mobile (Optional)"
      },
      {
        "type": "select",
        "id": "banner_height",
        "label": "Banner Height",
        "default": "fixed_height",
        "options": [
          {
            "label": "Adapt to first",
            "value": "adapt_first"
          },
          {
            "label": "Fixed Height",
            "value": "fixed_height"
          },
          {
            "label": "Auto Height",
            "value": "auto_height"
          }
        ]
      },
      {
        "type": "range",
        "id": "banner_fixed_height",
        "min": 200,
        "max": 1000,
        "step": 10,
        "unit": "px",
        "label": "Banner Fixed Height",
        "default": 650
      },
      {
        "type": "range",
        "id": "banner_fixed_height_mobile",
        "min": 100,
        "max": 1000,
        "step": 10,
        "unit": "px",
        "label": "Banner Fixed Height - Mobile",
        "default": 500
      },
      {
        "type": "range",
        "id": "banner_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Banner Roundness",
        "default": 0
      },
      {
        "type": "range",
        "id": "overlay",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Banner Overlay Opacity",
        "default": 0
      },
      {
        "type": "header",
        "content": "Content Settings"
      },
      {
         "type": "range",
         "id": "content_maxwidth",
         "min": 20,
         "max": 100,
         "step": 2,
         "unit": "%",
         "label": "Content Width - Desktop",
         "default": 60
      },
      {
        "type": "select",
        "id": "content_horizontal_position",
        "label": "Content Horizontal Position - Desktop",
        "default": "start",
        "options": [
          {
            "label": "Left",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "end"
          }
        ]
      },
      {
        "type": "select",
        "id": "content_vertical_position",
        "label": "Content Vertical Position",
        "default": "center",
        "options": [
          {
            "label": "Top",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Bottom",
            "value": "end"
          }
        ]
      },
      {
        "type": "select",
        "id": "content_vertical_position_mobile",
        "label": "Content Vertical Position - Mobile",
        "default": "end",
        "options": [
          {
            "label": "Top",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Bottom",
            "value": "end"
          }
        ]
      },
      {
        "type": "header",
        "content": "Modal Settings"
      },
      {
         "type": "range",
         "id": "modal_width",
         "min": 20,
         "max": 100,
         "step": 2,
         "unit": "%",
         "label": "Modal Width",
         "default": 70
      },
      {
         "type": "range",
         "id": "modal_radius",
         "min": 0,
         "max": 100,
         "step": 2,
         "unit": "px",
         "label": "Modal Border Radius",
         "default": 0
      },
      {
         "type": "range",
         "id": "modal_border_thickness",
         "min": 0,
         "max": 10,
         "step": 1,
         "unit": "px",
         "label": "Modal Border Thickness",
         "default": 0
      },
      {
        "type": "range",
        "id": "modal_overlay",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "Modal Overlay",
        "default": 80
      },
      {
        "type": "header",
        "content": "Modal Colors"
      },
      {
        "type": "color",
        "label": "Modal Overlay Color",
        "id": "modal_overlay_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "label": "Modal Border Color",
        "id": "modal_border_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Modal Close Icon Color",
        "id": "close_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color",
        "label": "Overlay Color",
        "id": "overlay_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Margin sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Margin sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 36
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 5
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 1.5
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": false
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 0,
        "max": 400,
        "step": 10,
        "unit": "rem",
        "label": "Section content width",
        "default": 140
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "limit": 1,
        "name": "Heading",
        "settings": [
          {
            "type": "richtext",
            "id": "heading",
            "label": "Heading",
            "default": "<h2>Olivia's journey to bringing you joy & longevity.</h2>"
          },
          {
            "type": "checkbox",
            "id": "heading_custom",
            "label": "Use Custom Font",
            "default": false
          },
          {
            "type": "font_picker",
            "id": "heading_font",
            "label": "Heading Font Family",
            "default": "josefin_sans_n4"
          },
          {
            "type": "range",
            "id": "heading_size",
            "min": 0,
            "max": 72,
            "step": 2,
            "unit": "px",
            "label": "Heading Size",
            "default": 40
          },
          {
            "type": "range",
            "id": "heading_size_mobile",
            "min": 0,
            "max": 72,
            "step": 2,
            "unit": "px",
            "label": "Heading Size - Mobile",
            "default": 28
          },
          {
            "type": "range",
            "id": "heading_height",
            "min": 50,
            "max": 200,
            "step": 10,
            "unit": "%",
            "label": "Heading Line Height",
            "default": 130
          },
          {
            "type": "range",
            "id": "heading_mt",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Heading Margin Top",
            "default": 0
          },
          {
            "type": "range",
            "id": "heading_mt_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Heading Margin Top - Mobile",
            "default": 0
          },
          {
            "type": "text_alignment",
            "id": "heading_align",
            "label": "Heading Align"
          },
          {
            "type": "text_alignment",
            "id": "heading_align_mobile",
            "label": "Heading Align - Mobile"
          },
          {
            "type": "color",
            "id": "heading_color",
            "label": "Heading Color",
            "default": "#FFFFFF"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>A small film on how the heart of the olives reaches your plate fresh, its generosity intact. </p>"
          },
          {
            "type": "checkbox",
            "id": "text_custom",
            "label": "Use Custom Font",
            "default": false
          },
          {
            "type": "font_picker",
            "id": "text_font",
            "label": "Text Font Family",
            "default": "josefin_sans_n4"
          },
          {
            "type": "range",
            "id": "text_size",
            "min": 0,
            "max": 72,
            "step": 2,
            "unit": "px",
            "label": "Text Size",
            "default": 20
          },
          {
            "type": "range",
            "id": "text_size_mobile",
            "min": 0,
            "max": 72,
            "step": 2,
            "unit": "px",
            "label": "Text Size - Mobile",
            "default": 18
          },
          {
            "type": "range",
            "id": "text_height",
            "min": 50,
            "max": 200,
            "step": 10,
            "unit": "%",
            "label": "Text Line Height",
            "default": 130
          },
          {
            "type": "range",
            "id": "text_mt",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Text Margin Top",
            "default": 16
          },
          {
            "type": "range",
            "id": "text_mt_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Text Margin Top - Mobile",
            "default": 16
          },
          {
            "type": "text_alignment",
            "id": "text_align",
            "label": "Text Align"
          },
          {
            "type": "text_alignment",
            "id": "text_align_mobile",
            "label": "Text Align - Mobile"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#FFFFFF"
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Button"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Button Text",
            "default":"Get it now"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          },
          {
            "type": "checkbox",
            "id": "button_custom",
            "label": "Use Custom Font",
            "default": false
          },
          {
            "type": "font_picker",
            "id": "button_font",
            "label": "Button Font Family",
            "default": "josefin_sans_n4"
          },
          {
            "type": "range",
            "id": "button_size",
            "min": 0,
            "max": 30,
            "step": 1,
            "unit": "px",
            "label": "Button Size",
            "default": 16
          },
          {
            "type": "range",
            "id": "button_size_mobile",
            "min": 0,
            "max": 30,
            "step": 1,
            "unit": "px",
            "label": "Button Size - Mobile",
            "default": 14
          },
          {
            "type": "range",
            "id": "button_height",
            "min": 50,
            "max": 200,
            "step": 10,
            "unit": "%",
            "label": "Button Line Height",
            "default": 100
          },
          {
            "type": "range",
            "id": "button_width",
            "min": 200,
            "max": 700,
            "step": 5,
            "unit": "px",
            "label": "Button Max-Width - Desktop",
            "default": 200
          },
          {
            "type": "range",
            "id": "button_width_mobile",
            "min": 200,
            "max": 700,
            "step": 5,
            "unit": "px",
            "label": "Button Max-Width - Mobile",
            "default": 200
          },
          {
            "type": "range",
            "id": "button_mt",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Button Margin Top",
            "default": 26
          },
          {
            "type": "range",
            "id": "button_mt_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Button Margin Top - Mobile",
            "default": 16
          },
          {
            "type": "range",
            "id": "button_padding_vertical",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Button Padding Vertical",
            "default": 16
          },
          {
            "type": "range",
            "id": "button_padding_vertical_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Button Padding Vertical - Mobile",
            "default": 12
          },
          {
             "type": "range",
             "id": "button_padding_horizontal",
             "min": 0,
             "max": 100,
             "step": 2,
             "unit": "px",
             "label": "Button Padding Horizontal",
             "default": 24
          },
          {
             "type": "range",
             "id": "button_padding_horizontal_mobile",
             "min": 0,
             "max": 100,
             "step": 2,
             "unit": "px",
             "label": "Button Padding Horizontal - Mobile",
             "default": 24
          },
          {
             "type": "range",
             "id": "button_radius",
             "min": 0,
             "max": 100,
             "step": 2,
             "unit": "px",
             "label": "Button Border Radius",
             "default": 100
          },
          {
             "type": "range",
             "id": "button_border_thickness",
             "min": 0,
             "max": 10,
             "step": 1,
             "unit": "px",
             "label": "Button Border Thickness",
             "default": 1
          },
          {
            "type": "select",
            "id": "button_align",
            "label": "Button Align",
            "default": "left",
            "options": [
              {
                "label": "Left",
                "value": "left"
              },
              {
                "label": "Center",
                "value": "center"
              },
              {
                "label": "Right",
                "value": "right"
              }
            ]
          },
          {
            "type": "select",
            "id": "button_align_mobile",
            "label": "Button Align - Mobile",
            "default": "left",
            "options": [
              {
                "label": "Left",
                "value": "left"
              },
              {
                "label": "Center",
                "value": "center"
              },
              {
                "label": "Right",
                "value": "right"
              }
            ]
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "Button Style",
            "default": "non_outline",
            "options": [
              {
                "label": "Link",
                "value": "link"
              },
              {
                "label": "Non-Outline",
                "value": "non_outline"
              },
              {
                "label": "Non-Outline & Arrow",
                "value": "non_outline_arrow"
              },
              {
                "label": "Outline",
                "value": "outline"
              },
              {
                "label": "Outline & Arrow",
                "value": "outline_arrow"
              }
            ]
          },
          {
            "type": "header",
            "content": "Button Colors"
          },
          {
            "type": "color",
            "label": "Button Text Color",
            "id": "button_color",
            "default": "#121212"
          },
          {
            "type": "color",
            "label": "Button Hover Text Color",
            "id": "button_hover_color",
            "default": "#121212"
          },
          {
            "type": "color",
            "label": "Button Background Color",
            "id": "button_bg_color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "label": "Button Background Hover Color",
            "id": "button_bg_hover_color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "label": "Button Border Color",
            "id": "button_border_color",
            "default": "#000000"
          },
          {
            "type": "color",
            "label": "Button Border Hover Color",
            "id": "button_border_hover_color",
            "default": "#000000"
          }
        ]
      },
      {
        "type": "video",
        "limit": 1,
        "name": "Video",
        "settings": [
          {
            "type": "video",
            "id": "video",
            "label": "Video from Shopify"
          },
          {
            "type": "video_url",
            "id": "video_url",
            "label": "Video Embed from Url",
            "accept": ["youtube", "vimeo"],
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
            "info": "Shows when no Shopify-hosted video is selected."
          },
          {
            "type": "checkbox",
            "id": "loop",
            "label": "Loop Video",
            "default":  true
          },
          {
            "type": "checkbox",
            "id": "controls",
            "label": "Video Controls",
            "default":  true
          },
          {
            "type": "header",
            "content": "Toggle Settings"
          },
          {
            "type": "range",
            "id": "video_mt",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Toggle Margin Top",
            "default": 32
          },
          {
            "type": "range",
            "id": "video_mt_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Toggle Margin Top - Mobile",
            "default": 32
          },
          {
            "type": "text_alignment",
            "id": "toggle_align",
            "label": "Toggle Align"
          },
          {
            "type": "text_alignment",
            "id": "toggle_align_mobile",
            "label": "Toggle Align - Mobile"
          },
          {
            "type": "header",
            "content": "Toggle Icon Settings"
          },
          {
            "type": "range",
            "id": "icon_size",
            "min": 20,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Toggle Icon Size",
            "default": 44
          },
          {
            "type": "range",
            "id": "icon_size_mobile",
            "min": 20,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Toggle Icon Size - Mobile",
            "default": 44
          },
          {
            "type": "header",
            "content": "Toggle Text Settings"
          },
          {
            "type": "text",
            "id": "toggle_text",
            "label": "Toggle Text",
            "default": "WATCH FILM"
          },
          {
            "type": "checkbox",
            "id": "toggle_text_custom",
            "label": "Use Custom Font",
            "default": false
          },
          {
            "type": "font_picker",
            "id": "toggle_text_font",
            "label": "Text Font Family",
            "default": "josefin_sans_n4"
          },
          {
            "type": "range",
            "id": "toggle_text_size",
            "min": 0,
            "max": 72,
            "step": 2,
            "unit": "px",
            "label": "Text Size",
            "default": 12
          },
          {
            "type": "range",
            "id": "toggle_text_size_mobile",
            "min": 0,
            "max": 72,
            "step": 2,
            "unit": "px",
            "label": "Text Size - Mobile",
            "default": 12
          },
          {
            "type": "range",
            "id": "toggle_text_height",
            "min": 50,
            "max": 200,
            "step": 10,
            "unit": "%",
            "label": "Text Line Height",
            "default": 150
          },
          {
            "type": "header",
            "content": "Block Colors"
          },
          {
            "type": "color",
            "label": "Toggle Icon Color",
            "id": "toggle_icon_color",
            "default": "#FFFFFF"
          },
          {
            "type": "color",
            "label": "Toggle Text Color",
            "id": "toggle_text_color",
            "default": "#FFFFFF"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Video Banner #3",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "text"
          },
          {
            "type": "video"
          }
        ]
      }
    ]
  }
{% endschema %}