{% comment %}
---------------------------------------------------------
Copyright © 2023 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign layout = section.settings.layout
  assign layout_mobile = section.settings.layout_mobile
  assign layout_gap = section.settings.layout_gap
  assign layout_gap_mobile = section.settings.layout_gap_mobile

  assign media_radius = section.settings.media_radius
  assign media_border_thickness = section.settings.media_border_thickness
  assign media_border_color = section.settings.media_border_color
  assign media_ratio = section.settings.media_ratio
  assign media_ratio_mobile = section.settings.media_ratio_mobile

  assign sm_media_radius = section.settings.sm_media_radius
  assign sm_media_border_thickness = section.settings.sm_media_border_thickness
  assign sm_media_border_color = section.settings.sm_media_border_color
  assign sm_media_ratio = section.settings.sm_media_ratio
  assign sm_media_ratio_mobile = section.settings.sm_media_ratio_mobile
  assign sm_media_mt = section.settings.sm_media_mt
  assign sm_media_mt_mobile = section.settings.sm_media_mt_mobile

  assign content_padding_horizontal = section.settings.content_padding_horizontal
  assign content_padding_horizontal_mobile = section.settings.content_padding_horizontal_mobile
  assign content_padding_vertical = section.settings.content_padding_vertical
  assign content_padding_vertical_mobile = section.settings.content_padding_vertical_mobile
  assign content_align = section.settings.content_align
  assign content_align_mobile = section.settings.content_align_mobile

  assign content_horizontal_align = ""
  if content_align == "center"
    assign content_horizontal_align = "center"
  elsif content_align == "right"
    assign content_horizontal_align = "end"
  else
    assign content_horizontal_align = "start"
  endif

  assign content_horizontal_align_mobile = ""
  if content_align_mobile == "center"
    assign content_horizontal_align_mobile = "center"
  elsif content_align_mobile == "right"
    assign content_horizontal_align_mobile = "end"
  else
    assign content_horizontal_align_mobile = "start"
  endif

  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_height = section.settings.heading_height
  assign heading_color = section.settings.heading_color   

  assign pagination_padding_horizontal = section.settings.pagination_padding_horizontal
  assign pagination_padding_horizontal_mobile = section.settings.pagination_padding_horizontal_mobile
  assign pagination_padding_vertical = section.settings.pagination_padding_vertical
  assign pagination_padding_vertical_mobile = section.settings.pagination_padding_vertical_mobile
  assign pagination_bg_color = section.settings.pagination_bg_color
  assign pagination_radius = section.settings.pagination_radius
  assign pagination_custom = section.settings.pagination_custom
  assign pagination_font = section.settings.pagination_font
  assign pagination_size = section.settings.pagination_size
  assign pagination_size_mobile = section.settings.pagination_size_mobile
  assign pagination_height = section.settings.pagination_height
  assign pagination_color = section.settings.pagination_color  
  assign pagination_mt = section.settings.pagination_mt
  assign pagination_mt_mobile = section.settings.pagination_mt_mobile

  assign sub_heading_custom = section.settings.sub_heading_custom
  assign sub_heading_font = section.settings.sub_heading_font
  assign sub_heading_size = section.settings.sub_heading_size
  assign sub_heading_size_mobile = section.settings.sub_heading_size_mobile
  assign sub_heading_height = section.settings.sub_heading_height
  assign sub_heading_color = section.settings.sub_heading_color  
  assign sub_heading_mt = section.settings.sub_heading_mt
  assign sub_heading_mt_mobile = section.settings.sub_heading_mt_mobile 

  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_height = section.settings.text_height
  assign text_color = section.settings.text_color   
  assign text_mt = section.settings.text_mt
  assign text_mt_mobile = section.settings.text_mt_mobile

  assign arrow_size = section.settings.arrow_size
  assign arrow_size_mobile = section.settings.arrow_size_mobile
  assign arrow_icon_size = section.settings.arrow_icon_size
  assign arrow_icon_size_mobile = section.settings.arrow_icon_size_mobile
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color
  assign arrow_bg_color = section.settings.arrow_bg_color
  assign arrow_bg_hover_color = section.settings.arrow_bg_hover_color
  assign arrow_radius = section.settings.arrow_radius
  assign arrow_border_thickness = section.settings.arrow_border_thickness
  assign arrow_border_color = section.settings.arrow_border_color
  assign arrow_border_hover_color = section.settings.arrow_border_hover_color
  assign arrow_hover_effect = section.settings.arrow_hover_effect
  assign arrow_mt = section.settings.arrow_mt
  assign arrow_mt_mobile = section.settings.arrow_mt_mobile
-%}

{%- style -%}
  {{ heading_font | font_face: font_display: 'swap' }}
  {{ sub_heading_font | font_face: font_display: 'swap' }}
  {{ text_font | font_face: font_display: 'swap' }}
  {{ pagination_font | font_face: font_display: 'swap' }}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .video-image-item-{{ section.id }} {
    display: none;
    grid-template-columns: 1fr;
    gap: {{ layout_gap_mobile }}px;
  }

  .video-image-item-{{ section.id }}.active {
    display: grid;
  }

  .video-image-content-{{ section.id }} {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: {{ content_padding_vertical_mobile }}px {{ content_padding_horizontal_mobile }}px;
  }

  .video-image-heading-{{ section.id }} {
    text-align: {{ content_align_mobile }};
  }

  .video-image-heading-{{ section.id }} * {
    margin: 0;   
    font-size: {{ heading_size_mobile }}px;
    color: {{ heading_color }};
    line-height: {{ heading_height }}%;
    text-transform: unset;
    word-break: break-word;
  }

  .video-image-content-wrapper-{{ section.id }} {
    display: flex;
    flex-direction: column;
    align-items: {{ content_horizontal_align_mobile }};
  }

  .video-image-pagination-{{ section.id }} {
    margin: 0;  
    max-width: fit-content;
    margin-top: {{ pagination_mt_mobile }}px;
    padding: {{ pagination_padding_vertical_mobile }}px {{ pagination_padding_horizontal_mobile }}px;
    border-radius: {{ pagination_radius }}px; 
    font-size: {{ pagination_size_mobile }}px;
    color: {{ pagination_color }};
    background-color: {{ pagination_bg_color }};
    line-height: {{ pagination_height }}%;
    text-transform: unset;
    word-break: break-word;
  }

  .video-image-subheading-{{ section.id }} {
    margin-top: {{ sub_heading_mt_mobile }}px;
    text-align: {{ content_align_mobile }};
  }

  .video-image-subheading-{{ section.id }} * {
    margin: 0;      
    font-size: {{ sub_heading_size_mobile }}px;
    color: {{ sub_heading_color }};
    line-height: {{ sub_heading_height }}%;  
    text-transform: unset;
    word-break: break-word;
  }
  
  .video-image-text-{{ section.id }} {
    text-align: {{ content_align_mobile }};
    margin-top: {{ text_mt_mobile }}px;
  }

  .video-image-text-{{ section.id }} * {
    margin: 0;   
    font-size: {{ text_size_mobile }}px;
    color: {{ text_color }};
    line-height: {{ text_height }}%;
    text-transform: unset;
    word-break: break-word;
  }

  .video-image-small-media-{{ section.id }} {
    width: 50%;
    margin-top: {{ sm_media_mt_mobile }}px;
    border: {{ sm_media_border_thickness }}px solid {{ sm_media_border_color }};
    border-radius: {{ sm_media_radius }}px;
    overflow: hidden;
  }

  .video-image-small-media-{{ section.id }} img,
  .video-image-small-media-{{ section.id }} svg,
  .video-image-small-media-{{ section.id }} video,
  .video-image-small-media-{{ section.id }} iframe {
    border: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video-image-media-{{ section.id }} {
    grid-area: media;
    border: {{ media_border_thickness }}px solid {{ media_border_color }};
    border-radius: {{ media_radius }}px;
    overflow: hidden;
    height: auto;
    align-self:center;
  }

  .video-image-media-{{ section.id }} img,
  .video-image-media-{{ section.id }} svg,
  .video-image-media-{{ section.id }} video,
  .video-image-media-{{ section.id }} iframe {
    display: block;
    border: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video-image-media-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .video-image-buttons-{{ section.id }} {
    display: flex;
    margin-top: {{ arrow_mt_mobile }}px;
    align-items: center;
    gap: 10px;
    justify-content: {{ content_horizontal_align_mobile }};
  }

  .video-image-btn-prev-{{ section.id }},
  .video-image-btn-next-{{ section.id }} {
    display: flex;
    width: {{ arrow_size_mobile }}px;
    height: {{ arrow_size_mobile }}px;
    border: 0px;
    border: {{ arrow_border_thickness }}px solid {{ arrow_border_color }};
    border-radius: {{ arrow_radius }}px;
    background: transparent;
    background: {{ arrow_bg_color }};
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,.15); */
  }

  .video-image-btn-prev-{{ section.id }} .animate-icon,
  .video-image-btn-next-{{ section.id }} .animate-icon {
    pointer-events: none;
    place-items: center;
    display: grid;
  }

  .video-image-btn-prev-{{ section.id }} .animate-icon:before,
  .video-image-btn-next-{{ section.id }} .animate-icon:before {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size_mobile }}px;
    height: {{ arrow_icon_size_mobile }}px;
    transform: rotate(calc(1 * 45deg));
    box-sizing: border-box;
    border-style: solid;
    border: 0px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    position: relative;
    left: -1px;
  }

  .video-image-btn-prev-{{ section.id }} .animate-icon:before {
    left: unset;
    right: -1px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid currentColor;
    border-left: 2px solid currentColor;
  }

  .video-image-btn-prev-{{ section.id }} .animate-icon:after,
  .video-image-btn-next-{{ section.id }} .animate-icon:after {
    content: "";
    grid-area: 1 / -1;
    transition: all .2s ease;
    width: {{ arrow_icon_size_mobile | minus: 0.3 }}px;
    height: 1.6px;
    transform-origin: center;
    opacity: 0;
    background: currentColor;
    transform: scaleX(.5);
  }

  .video-image-btn-prev-{{ section.id }} span,
  .video-image-btn-next-{{ section.id }} span {
    color: {{ arrow_color }};
  }

  .video-image-btn-prev-{{ section.id }}.swiper-button-disabled,
  .video-image-btn-next-{{ section.id }}.swiper-button-disabled {
    opacity: 0.5;
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .video-image-item-{{ section.id }} {
      grid-template-columns: 1fr 1fr;
      gap: {{ layout_gap }}px;
    }

    .video-image-content-{{ section.id }} {
      padding: {{ content_padding_vertical }}px {{ content_padding_horizontal }}px;
    }

    .video-image-heading-{{ section.id }} {
      text-align: {{ content_align }};
    }

    .video-image-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .video-image-content-wrapper-{{ section.id }} {
      align-items: {{ content_horizontal_align }};
    }

    .video-image-pagination-{{ section.id }} {
      margin-top: {{ pagination_mt }}px;
      padding: {{ pagination_padding_vertical }}px {{ pagination_padding_horizontal }}px;
      font-size: {{ pagination_size }}px;
    }

    .video-image-subheading-{{ section.id }} {
      margin-top: {{ sub_heading_mt }}px;
      text-align: {{ content_align }};
    }

    .video-image-subheading-{{ section.id }} * {
      font-size: {{ sub_heading_size }}px;
    }

    .video-image-text-{{ section.id }} {
      margin-top: {{ text_mt }}px;
      text-align: {{ content_align }};
    }

    .video-image-text-{{ section.id }} * {
      font-size: {{ text_size }}px;
    }

    .video-image-buttons-{{ section.id }} {
      margin-top: {{ arrow_mt }}px;
      justify-content: {{ content_horizontal_align }};
    }

    .video-image-btn-prev-{{ section.id }},
    .video-image-btn-next-{{ section.id }} {
      width: {{ arrow_size }}px;
      height: {{ arrow_size }}px;
      transition: all 0.25s ease 0s;
    }

    .video-image-btn-prev-{{ section.id }} .animate-icon:before,
    .video-image-btn-next-{{ section.id }} .animate-icon:before {
      width: {{ arrow_icon_size }}px;
      height: {{ arrow_icon_size }}px;
    }

    .video-image-btn-prev-{{ section.id }} .animate-icon:after,
    .video-image-btn-next-{{ section.id }} .animate-icon:after {
      width: {{ arrow_icon_size | minus: 0.3 }}px;
    }

    .video-image-small-media-{{ section.id }} {
      margin-top: {{ sm_media_mt }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if heading_custom %}
  <style>
    .video-image-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if pagination_custom %}
  <style>
    .video-image-pagination-{{ section.id }} {
      font-family: {{ pagination_font.family }}, {{ pagination_font.fallback_families }};
      font-weight: {{ pagination_font.weight }};
      font-style: {{ pagination_font.style }};
    }
  </style>
{% endif %}

{% if sub_heading_custom %}
  <style>
    .video-image-subheading-{{ section.id }} * {
      font-family: {{ sub_heading_font.family }}, {{ sub_heading_font.fallback_families }};
      font-weight: {{ sub_heading_font.weight }};
      font-style: {{ sub_heading_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .video-image-text-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}


{% if media_ratio_mobile == "portrait" %}
  <style>
    .video-image-media-{{ section.id }} {
      aspect-ratio: 9.6/13;
    }
  </style>
{% elsif media_ratio_mobile == "landscape" %}
  <style>
  .video-image-media-{{ section.id }} {
    aspect-ratio: 12/8;
  }
  </style>
{% elsif media_ratio_mobile == "square" %}
  <style>
    .video-image-media-{{ section.id }} {
      aspect-ratio: 12/12;
    }
  </style>
{% else %}
  <style>
    .video-image-media-{{ section.id }} {
      aspect-ratio: auto;
    }
  </style>
{% endif %}

{% if media_ratio == "portrait" %}
  <style>
    @media (min-width: 1024px) {
      .video-image-media-{{ section.id }} {
        aspect-ratio: 9.6/13;
      }
    }
  </style>
{% elsif media_ratio == "landscape" %}
  <style>
    @media (min-width: 1024px) {
      .video-image-media-{{ section.id }} {
        aspect-ratio: 12/8;
      }
    }
  </style>
{% elsif media_ratio == "square" %}
  <style>
    @media (min-width: 1024px) {
      .video-image-media-{{ section.id }} {
        aspect-ratio: 12/12;
      }
    }
  </style>
{% else %}
  <style>
    @media (min-width: 1024px) {
      .video-image-media-{{ section.id }} {
        aspect-ratio: auto;
      }
    }
  </style>
{% endif %}


{% if sm_media_ratio_mobile == "portrait" %}
  <style>
    .video-image-small-media-{{ section.id }} {
      aspect-ratio: 9.6/13;
    }
  </style>
{% elsif sm_media_ratio_mobile == "landscape" %}
  <style>
  .video-image-small-media-{{ section.id }} {
    aspect-ratio: 12/8;
  }
  </style>
{% elsif sm_media_ratio_mobile == "square" %}
  <style>
    .video-image-small-media-{{ section.id }} {
      aspect-ratio: 12/12;
    }
  </style>
{% else %}
  <style>
    .video-image-small-media-{{ section.id }} {
      aspect-ratio: auto;
    }
  </style>
{% endif %}

{% if sm_media_ratio == "portrait" %}
  <style>
    @media (min-width: 1024px) {
      .video-image-small-media-{{ section.id }} {
        aspect-ratio: 9.6/13;
      }
    }
  </style>
{% elsif sm_media_ratio == "landscape" %}
  <style>
    @media (min-width: 1024px) {
      .video-image-small-media-{{ section.id }} {
        aspect-ratio: 12/8;
      }
    }
  </style>
{% elsif sm_media_ratio == "square" %}
  <style>
    @media (min-width: 1024px) {
      .video-image-small-media-{{ section.id }} {
        aspect-ratio: 12/12;
      }
    }
  </style>
{% else %}
  <style>
    @media (min-width: 1024px) {
      .video-image-small-media-{{ section.id }} {
        aspect-ratio: auto;
      }
    }
  </style>
{% endif %}

{% if layout_mobile == 'content_media'%}
  <style>
    .video-image-item-{{ section.id }} {
      grid-template-areas: 
        "content"
        "media";     
    }
  </style>
{% elsif layout_mobile == 'media_content' %}
  <style>
    .video-image-item-{{ section.id }} {
      grid-template-areas: 
        "media"
        "content";     
    }
  </style>
{% endif %}

{% if layout == 'content_media'%}
  <style>
    @media(min-width: 1024px) {
      .video-image-item-{{ section.id }} {
        grid-template-areas: "content media";    
      }
    }    
  </style>
{% elsif layout == 'media_content' %}
  <style>
    @media(min-width: 1024px) {
      .video-image-item-{{ section.id }} {
        grid-template-areas: "media content";   
      }
    }   
  </style>
{% endif %}

{% if arrow_hover_effect == "color" %}
  <style>
    .video-image-btn-prev-{{ section.id }}:hover,
    .video-image-btn-next-{{ section.id }}:hover {
      transition: all 0.3s ease 0s;
      border: {{ arrow_border_thickness }}px solid {{ arrow_border_hover_color }};
      background: {{ arrow_bg_hover_color }};
    }
  
    .video-image-btn-prev-{{ section.id }}:hover .animate-icon,
    .video-image-btn-next-{{ section.id }}:hover .animate-icon {
      color: {{ arrow_hover_color }};
    }
  </style>
{% elsif arrow_hover_effect == "scale" %}
  <style>
    .video-image-btn-prev-{{ section.id }}:hover,
    .video-image-btn-next-{{ section.id }}:hover {
      transform: scale(0.9);
    }

    @media(min-width: 1024px) {
      .video-image-btn-prev-{{ section.id }}:hover,
      .video-image-btn-next-{{ section.id }}:hover {
        transform: scale(0.9);
      }
    }
  </style>
{% elsif arrow_hover_effect == "arrow" %}
  <style>
    .video-image-btn-next-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
  
    .video-image-btn-prev-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(-1 * 0.125rem)) rotate(calc(1 * 45deg));
    }
    
    .video-image-btn-prev-{{ section.id }}:hover .animate-icon:after,
    .video-image-btn-next-{{ section.id }}:hover .animate-icon:after {
      opacity: 1;
      transform: scaleX(1);
    }
  </style>
{% endif %}

<div class="section-{{ section.id }} video-image-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">     
      {% for block in section.blocks %}
        <div class="video-image-item-{{ section.id }} {% if forloop.first %}active{% endif %}" data-index="{{ forloop.index }}">
          <div class="video-image-content-{{ section.id }}">
            {% if block.settings.heading != blank %}
              <div class="video-image-heading-{{ section.id }}">{{ block.settings.heading }}</div>
            {% endif %}

            <div class="video-image-content-wrapper-{{ section.id }}">
              {% if section.blocks.size != 1 %}
                <p class="video-image-pagination-{{ section.id }}">{{ forloop.index }} / {{ section.blocks.size }}</p>
              {% endif %}            

              {% if block.settings.sub_heading != blank %}
                <div class="video-image-subheading-{{ section.id }}">{{ block.settings.sub_heading }}</div>
              {% endif %}

              {% if block.settings.text != blank %}
                <div class="video-image-text-{{ section.id }}">{{ block.settings.text }}</div>
              {% endif %}

              
              {% if section.blocks.size != 1 %}
                <div class="video-image-buttons-{{ section.id }}">
                  <button class="video-image-btn-prev-{{ section.id }}"
                    data-index="{{ forloop.index }}">
                    <span class="animate-icon"></span>
                  </button>
                  <button class="video-image-btn-next-{{ section.id }}"
                    data-index="{{ forloop.index }}">
                    <span class="animate-icon"></span>
                  </button>   
                </div>                  
              {% endif %}

              {% if block.settings.sm_media_type != 'none' %}
                <div class="video-image-small-media-{{ section.id }}">
                  {% if block.settings.sm_media_type == 'image' %}
                    {% if block.settings.sm_image != blank %}
                      <img src="{{ block.settings.sm_image | img_url: "800x800" }}" alt="{{ block.settings.sm_image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
                    {% else %}
                      {{ 'image' | placeholder_svg_tag }}
                    {% endif %}
                  {% elsif block.settings.sm_media_type == 'video' %}
                    {% assign video_id = block.settings.sm_video_url.id %}
                    {% assign loop = '&loop=1&playlist=' | append: video_id %}
                    {%- if block.settings.sm_video_url != null -%}
                      {%- if block.settings.sm_video_url.type == 'youtube' -%}
                        <iframe
                          data-src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&mute=1&autoplay=1&controls=0&showinfo=0{{ loop }}"            
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen
                          class="lazy"
                        ></iframe>
                      {%- else -%}
                        <iframe
                          data-src="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=1&controls=0&showinfo=0{{ loop }}"                 
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen
                          class="lazy"
                        ></iframe>
                      {% endif %}
                    {% else %}
                      {% assign placeholder_video = 'https://cdn.shopify.com/videos/c/o/v/fbb140fd46e3429eba459e1549dbbe38.mp4' %}
                      <video data-src="{% if block.settings.sm_video != blank %}{{ block.settings.sm_video.sources[1].url }}{% else %}{{ placeholder_video }}{% endif %}" muted autoplay playsinline preload="none" loop class="lazy"></video>
                    {% endif %}
                  {% endif %}
                </div>
              {% endif %}
              
            </div>
          </div>
          <div class="video-image-media-{{ section.id }}">
            {% if block.settings.media_type == 'image' %}
              {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | img_url: "1920x1920" }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>
              {% else %}
                {{ 'image' | placeholder_svg_tag }}
              {% endif %}
            {% elsif block.settings.media_type == 'video' %}
              {% assign video_id = block.settings.video_url.id %}
              {% assign loop = '&loop=1&playlist=' | append: video_id %}
              {%- if block.settings.video_url != null -%}
                {%- if block.settings.video_url.type == 'youtube' -%}
                  <iframe
                    data-src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&mute=1&autoplay=1&controls=0&showinfo=0{{ loop }}"            
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    class="lazy"
                  ></iframe>
                {%- else -%}
                  <iframe
                    data-src="https://player.vimeo.com/video/{{ video_id }}?enablejsapi=1&mute=1&muted=1&autoplay=1&controls=0&showinfo=0{{ loop }}"                 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    class="lazy"
                  ></iframe>
                {% endif %}
              {% else %}
                {% assign placeholder_video = 'https://cdn.shopify.com/videos/c/o/v/fbb140fd46e3429eba459e1549dbbe38.mp4' %}
                <video data-src="{% if block.settings.video != blank %}{{ block.settings.video.sources[1].url }}{% else %}{{ placeholder_video }}{% endif %}" muted autoplay playsinline preload="none" loop class="lazy"></video>
              {% endif %}
            {% endif %}
          </div>
        </div>        
      {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@19.1.3/dist/lazyload.min.js"></script>

<script>
  function initVideoImageWithText5() {
    let lazyLoadInstance = new LazyLoad();

    window.addEventListener(
      "LazyLoad::Initialized",
      function (event) {
        window.lazyLoadInstance = event.detail.instance;
      },
      false
    );

    function switchSlide(currentIndex, direction) {
      const slides = document.querySelectorAll(`.video-image-item-{{ section.id }}`);
      const totalSlides = slides.length;

      let newIndex;
      if (direction === 'next') {
        newIndex = (currentIndex % totalSlides) + 1;
      } else if (direction === 'prev') {
        newIndex = (currentIndex - 2 + totalSlides) % totalSlides + 1;
      }

      slides.forEach((slide, index) => {
        if (index + 1 === newIndex) {
          slide.classList.add('active');
        } else {
          slide.classList.remove('active');
        }
      });
    }

    document.querySelectorAll(`.video-image-btn-next-{{ section.id }}`).forEach(button => {
      button.addEventListener('click', () => {
        const currentIndex = parseInt(button.getAttribute('data-index'), 10);
        switchSlide(currentIndex, 'next');
      });
    });

    document.querySelectorAll(`.video-image-btn-prev-{{ section.id }}`).forEach(button => {
      button.addEventListener('click', () => {
        const currentIndex = parseInt(button.getAttribute('data-index'), 10);
        switchSlide(currentIndex, 'prev');
      });
    });
  }

  document.addEventListener('DOMContentLoaded', initVideoImageWithText5);

  if (Shopify.designMode) {
    document.addEventListener('shopify:section:unload', initVideoImageWithText5);
    document.addEventListener('shopify:section:load', initVideoImageWithText5);
  }
</script>



{% schema %}
  {
    "name": "SS - Video/image text #5",
    "settings": [
      {
        "type": "paragraph",
        "content": "⚠️ Save to display section correctly"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "content_media",
        "options": [
          {
            "label": "Content - media",
            "value": "content_media"
          },
          {
            "label": "Media - content",
            "value": "media_content"
          }
        ]
      },
      {
        "type": "select",
        "id": "layout_mobile",
        "label": "Layout - mobile",
        "default": "media_content",
        "options": [
          {
            "label": "Content - media",
            "value": "content_media"
          },
          {
            "label": "Media - content",
            "value": "media_content"
          }
        ]
      },   
      {
        "type": "range",
        "id": "layout_gap",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Gap",
        "default": 10
      },
      {
        "type": "range",
        "id": "layout_gap_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Gap - mobile",
        "default": 10
      },
      {
        "type": "header",
        "content": "Small media"
      },
      {
        "type": "range",
        "id": "sm_media_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 0
      },
      {
        "type": "range",
        "id": "sm_media_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },  
      {
        "type": "range",
        "id": "sm_media_mt",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 20
      },
      {
        "type": "range",
        "id": "sm_media_mt_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 20
      },
      {
        "type": "select",
        "id": "sm_media_ratio",
        "label": "Aspect ratio",
        "default": "landscape",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "select",
        "id": "sm_media_ratio_mobile",
        "label": "Aspect ratio - mobile",
        "default": "landscape",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      }, 
      {
        "type": "header",
        "content": "Main media"
      },
      {
        "type": "range",
        "id": "media_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 0
      },
      {
        "type": "range",
        "id": "media_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },   
      {
        "type": "select",
        "id": "media_ratio",
        "label": "Aspect ratio",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      },
      {
        "type": "select",
        "id": "media_ratio_mobile",
        "label": "Aspect ratio - mobile",
        "default": "square",
        "options": [
          {
            "label": "Portrait",
            "value": "portrait"
          },
          {
            "label": "Square",
            "value": "square"
          },
          {
            "label": "Landscape",
            "value": "landscape"
          },
          {
            "label": "Original",
            "value": "original"
          }
        ]
      }, 
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "range",
        "id": "content_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal",
        "default": 50
      },
      {
        "type": "range",
        "id": "content_padding_horizontal_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal - mobile",
        "default": 16
      },
      {
        "type": "range",
        "id": "content_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 50
      },
      {
        "type": "range",
        "id": "content_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 16
      },
      {
        "type": "text_alignment",
        "id": "content_align",
        "label": "Alignment"
      },
      {
        "type": "text_alignment",
        "id": "content_align_mobile",
        "label": "Alignment - mobile"
      },  
      {
        "type": "header",
        "content": "Heading"
      },
      {
        "type": "checkbox",
        "id": "heading_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "heading_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Font size",
        "default": 48
      },
      {
        "type": "range",
        "id": "heading_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 32
      },
      {
        "type": "range",
        "id": "heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      }, 
      {
        "type": "header",
        "content": "Pagination"
      },
      {
        "type": "range",
        "id": "pagination_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal",
        "default": 14
      },
      {
        "type": "range",
        "id": "pagination_padding_horizontal_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal - mobile",
        "default": 14
      },
      {
        "type": "range",
        "id": "pagination_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 10
      },
      {
        "type": "range",
        "id": "pagination_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 10
      },
      {
        "type": "range",
        "id": "pagination_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 8
      },
      {
        "type": "checkbox",
        "id": "pagination_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "pagination_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "pagination_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 12
      },
      {
        "type": "range",
        "id": "pagination_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 11
      },
      {
        "type": "range",
        "id": "pagination_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 100
      }, 
      {
        "type": "range",
        "id": "pagination_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 20
      },
      {
        "type": "range",
        "id": "pagination_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 30
      }, 
      {
        "type": "header",
        "content": "Subheading"
      },
      {
        "type": "checkbox",
        "id": "sub_heading_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "sub_heading_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "sub_heading_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 24
      },
      {
        "type": "range",
        "id": "sub_heading_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 24
      },
      {
        "type": "range",
        "id": "sub_heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      }, 
      {
        "type": "range",
        "id": "sub_heading_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 20
      },
      {
        "type": "range",
        "id": "sub_heading_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 20
      }, 
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "checkbox",
        "id": "text_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "text_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
      },
      {
        "type": "range",
        "id": "text_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 15
      },
      {
        "type": "range",
        "id": "text_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 150
      }, 
      {
        "type": "range",
        "id": "text_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 16
      },
      {
        "type": "range",
        "id": "text_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 16
      }, 
      {
        "type": "header",
        "content": "Arrows"
      },
      {
        "type": "range",
        "id": "arrow_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size",
        "default": 48
      },
      {
        "type": "range",
        "id": "arrow_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size - mobile",
        "default": 48
      },
      {
        "type": "range",
        "id": "arrow_icon_size",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Icon size",
        "default": 10
      },
      {
        "type": "range",
        "id": "arrow_icon_size_mobile",
        "min": 5,
        "max": 15,
        "step": 1,
        "unit": "px",
        "label": "Icon size - mobile",
        "default": 10
      },
      {
        "type": "range",
        "id": "arrow_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "arrow_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 100
      },
      {
        "type": "range",
        "id": "arrow_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 16
      },
      {
        "type": "range",
        "id": "arrow_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 16
      }, 
      {
        "type": "select",
        "id": "arrow_hover_effect",
        "label": "Hover effect",
        "default": "color",
        "options": [
          {
            "label": "Change color",
            "value": "color"
          },
          {
            "label": "Change size",
            "value": "scale"
          },
          {
            "label": "Change arrow",
            "value": "arrow"
          },
          {
            "label": "None",
            "value": "none"
          }
        ]
      },
      {
        "type": "header",
        "content": "Content colors"
      },
      {
        "type": "color",
        "label": "Heading",
        "id": "heading_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Subheading",
        "id": "sub_heading_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Text",
        "id": "text_color",
        "default": "#707070"
      }, 
      {
        "type": "header",
        "content": "Pagination colors"
      },    
      {
        "type": "color",
        "label": "Pagination",
        "id": "pagination_color",
        "default": "#121212"
      },  
      {
        "type": "color",
        "label": "Background",
        "id": "pagination_bg_color",
        "default": "#efefef"
      },  
      {
        "type": "header",
        "content": "Media colors"
      },   
      {
        "type": "color",
        "label": "Small media border",
        "id": "sm_media_border_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Media border",
        "id": "media_border_color",
        "default": "#121212"
      },
      {
        "type": "header",
        "content": "Arrow colors"
      },
      {
        "type": "color",
        "label": "Icon",
        "id": "arrow_color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "label": "Icon hover",
        "id": "arrow_hover_color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "arrow_bg_color",
        "default": "#323232"
      },
      {
        "type": "color",
        "label": "Background hover",
        "id": "arrow_bg_hover_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "arrow_border_color",
        "default": "#121212"
      },
      {
        "type": "color",
        "label": "Border hover",
        "id": "arrow_border_hover_color",
        "default": "#121212"
      },
      {
        "type": "header",
        "content": "Section colors"
      },      
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient",
        "info": "Remove gradient to replace with solid colors"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#121212"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Margin sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Margin sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 36
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": true
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 800,
        "max": 2000,
        "step": 100,
        "unit": "px",
        "label": "Section content width",
        "default": 1200
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Section roundness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [     
          {
            "type": "select",
            "id": "media_type",
            "label": "Media type",
            "default": "video",
            "options": [
              {
                "label": "Image",
                "value": "image"
              },
              {
                "label": "Video",
                "value": "video"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "video",
            "id": "video",
            "label": "Video from Shopify"
          },
          {
            "type": "video_url",
            "id": "video_url",
            "label": "Video embed from URL",
            "accept": [
              "youtube",
              "vimeo"
            ],
            "info": "Youtube or Vimeo. Shows when no Shopify-hosted video is selected."
          },  
          {
            "type": "select",
            "id": "sm_media_type",
            "label": "Media type",
            "default": "video",
            "options": [
              {
                "label": "Image",
                "value": "image"
              },
              {
                "label": "Video",
                "value": "video"
              },
              {
                "label": "None",
                "value": "none"
              }
            ]
          }, 
          {
            "type": "image_picker",
            "id": "sm_image",
            "label": "Image"
          },
          {
            "type": "video",
            "id": "sm_video",
            "label": "Video from Shopify"
          },
          {
            "type": "video_url",
            "id": "sm_video_url",
            "label": "Video embed from URL",
            "accept": [
              "youtube",
              "vimeo"
            ],
            "info": "Youtube or Vimeo. Shows when no Shopify-hosted video is selected."
          },  
          {
            "type": "richtext",
            "id": "heading",
            "label": "Heading",
            "default": "<p>Video/image with text #5</p>"
          },
          {
            "type": "richtext",
            "id": "sub_heading",
            "label": "Subheading",
            "default": "<p>Subheading</p>"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>"
          }        
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Video & image text #5",
        "blocks": [
          {
            "type": "slide"
          },
          {
            "type": "slide"
          },
          {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}