<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px!important;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px!important!;
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px!important;
      padding-bottom: {{ section.settings.padding_bottom }}px!important;
      padding: 0 5rem;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .ss-testimonial-info svg {
    width:75px;
    height:75px;
    border: 1px {{section.settings.border_color}} solid;
    border-radius:{{ section.settings.border_radius | times: 0.50 | round: 0 }}px;
    margin-right:20px;
  }

  .ss-testimonial-info img {
    width:75px;
    height:75px;
    border: 1px {{section.settings.border_color}} solid;
    border-radius:{{ section.settings.border_radius | times: 0.50 | round: 0 }}px;
    margin-right:20px;
  }

  .rating-item svg {
    width:14px;
    height:14px;
    border:none;
    margin-right:0px;
    line-height: 1.6;
  }

  .ss-testimonial-info {
    display:flex;
    align-items: center;
  }

  .ss-testimonial-info p {
    color: {{section.settings.text_color}};
    margin:0;
    line-height: 1.7;
  }

  .ss-testimonial-info a {
    text-decoration: none;
    color: {{section.settings.text_color}};
    font-weight: 600;
  }

  .ss-review-rating {
    display:flex;
  }

  .swiper-slide {
      box-sizing:border-box;
  }
  
  .ss-testimonial-item {
    border: 1px solid {{section.settings.border_color}};
    border-radius:{{section.settings.border_radius}}px;
    padding: 30px;
    width: calc(33% - 22px);
    margin: 0 15px;
    background: {{section.settings.review-background-color}}
  }

  .ss-testimonial-container {
    display:flex;
  }

  .ss-review-rating {
  }

  .ss-testimonial-header {
    text-align:center;
    font-size:{{ section.settings.header-font-size }}px;
    font-weight: {{section.settings.font_weight}};
    color: {{section.settings.header_color}};
    margin: 16px 0 50px 0;
    line-height: calc(1 + .3/max(1,var(--font-heading-scale)));
  }

  .ss-review-text p {
    margin:20px 0 0 0;
    color: {{section.settings.text_color}};
  }

   @media screen and (max-width: 1050px) {
     .ss-testimonial-item {
        width: calc(50% - 23px);
    }
   }

  @media screen and (max-width: 640px) {
     .ss-testimonial-item {
        width: calc(100% - 23px);
    }
    .ss-testimonial-header {
       font-size:calc({{ section.settings.header-font-size }}px * 0.8);
       margin: 16px 0 30px 0;
    }
   }

  .ss-testimonials-cont .swiper-pagination {
    position: static !important;
    display:block; 
    position:relative;
    margin-top: 15px!important;;
  }

  .ss-testimonials-cont .swiper-pagination-bullet-active {
    background: {{section.settings.pagination_color}};
  }

  .ss-testimonials-cont .swiper-pagination-bullet:last-child {
    display:none;  
  }
  
  {% if section.blocks.size == 3 %}
    @media screen and (min-width: 1050px) {
        .ss-testimonials-cont .swiper-pagination {
          display:none;
        }
     }
  {% endif %}



{%- endstyle -%}
<div style="background-color:{{section.settings.background-color}};">
  <div class="page-width section-{{ section.id }}-padding ss-testimonials-cont">
    <p class="ss-testimonial-header">{{ section.settings.heading }}</p>
    <div class="swiper">
      <div class="ss-testimonial-container swiper-wrapper">
        {%- for block in section.blocks -%}
          <div class="ss-testimonial-item swiper-slide">
              <div class="ss-testimonial-info">
                {%- if block.settings.review_image -%}
                     {{ block.settings.review_image | image_url: width: 500 | image_tag:  alt: section.settings.review_name }}
                {%- else -%}
                     {{ 'image' | placeholder_svg_tag }}
                {%- endif -%}
                  <div>
                    <p>{{ block.settings.review_name }}</p>
                    {% if block.settings.url_product %}<a href="{{ block.settings.url_product }}">{{ block.settings.review_product }}</a>{% else %}<p style="font-weight:600">{{ block.settings.review_product }}</p>{% endif %}
                    {% if block.settings.review_stars == '5' %}
                    <div class="ss-review-rating">
                          <div class="rating-item">
                            <svg class="svg-inline--fa fa-star" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="{{ section.settings.stars-color }}" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"></path></svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                          </div>
                          <div class="rating-item">
                            <svg class="svg-inline--fa fa-star" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="{{ section.settings.stars-color }}" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"></path></svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                          </div>
                          <div class="rating-item">
                            <svg class="svg-inline--fa fa-star" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="{{ section.settings.stars-color }}" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"></path></svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                          </div>
                          <div class="rating-item">
                            <svg class="svg-inline--fa fa-star" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="{{ section.settings.stars-color }}" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"></path></svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                          </div>
                          <div class="rating-item">
                            <svg class="svg-inline--fa fa-star" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="{{ section.settings.stars-color }}" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"></path></svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                          </div>
                    </div>
                    {%  elsif block.settings.review_stars == '4' %}
                       <div class="ss-review-rating">
                          <div class="rating-item">
                            <svg class="svg-inline--fa fa-star" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="{{ section.settings.stars-color }}" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"></path></svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                          </div>
                          <div class="rating-item">
                            <svg class="svg-inline--fa fa-star" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="{{ section.settings.stars-color }}" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"></path></svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                          </div>
                          <div class="rating-item">
                            <svg class="svg-inline--fa fa-star" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="{{ section.settings.stars-color }}" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"></path></svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                          </div>
                          <div class="rating-item">
                            <svg class="svg-inline--fa fa-star" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="{{ section.settings.stars-color }}" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"></path></svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                          </div>
                          <div class="rating-item">
                            <svg class="svg-inline--fa fa-star" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="#d3d3d3" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"></path></svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                          </div>
                      </div>
                      {%  elsif block.settings.review_stars == '3' %}
                      <div class="ss-review-rating">
                          <div class="rating-item">
                            <svg class="svg-inline--fa fa-star" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="{{ section.settings.stars-color }}" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"></path></svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                          </div>
                          <div class="rating-item">
                            <svg class="svg-inline--fa fa-star" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="{{ section.settings.stars-color }}" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"></path></svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                          </div>
                          <div class="rating-item">
                            <svg class="svg-inline--fa fa-star" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="{{ section.settings.stars-color }}" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"></path></svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                          </div>
                          <div class="rating-item">
                            <svg class="svg-inline--fa fa-star" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="#d3d3d3" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"></path></svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                          </div>
                          <div class="rating-item">
                            <svg class="svg-inline--fa fa-star" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="#d3d3d3" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"></path></svg><!-- <i class="fas fa-star"></i> Font Awesome fontawesome.com -->
                          </div>
                      </div>
                      {%  endif %}
                  </div>
              </div>
              <div class="ss-review-text">
                  {{ block.settings.review_text }}
              </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>




{% schema %}
  {
    "name": "SS - Testimonial",
	"tag": "section",
    "settings": [
		{
          "type": "header",
          "content": "Background color"
        },
	    {
		  "type": "color",
		  "label": "Section background color",
		  "id": "background-color",
		  "default": "#ffffff"
		},
        {
		  "type": "color",
		  "label": "Review background color",
		  "id": "review-background-color",
		  "default": "#ffffff"
		},
        {
          "type": "header",
          "content": "Header"
        },
        {
            "type":"text",
            "label":"Heading",
            "id":"heading",
            "default":"Real customer stories"
        },
        {
            "type":"range",
            "id":"header-font-size",
            "label":"Header font size",
            "default":32,
            "min":12,
            "max":60,
            "step":2
        },
        {
            "type":"color",
            "label":"Header color",
            "id":"header_color",
            "default":"#121212"
        },
        {
         "type": "select",
         "id": "font_weight",
         "label": "Font thickness",
         "options": [
            {
              "value": "700",
              "label": "Thick"
            },
            {
              "value": "300",
              "label": "Normal"
            }
          ],
          "default": "300"
        },
        {
          "type": "header",
          "content": "Review roundness"
        },
        {
          "type": "range",
          "id": "border_radius",
          "min": 0,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Border radius",
          "default": 12
        },
        {
          "type": "header",
          "content": "Other colors"
        },
        {
		  "type": "color",
		  "label": "Stars color",
		  "id": "stars-color",
		  "default": "#FFA500"
		},
        {
		  "type": "color",
		  "label": "Text color",
		  "id": "text_color",
		  "default": "#4B4B4B"
		},
        {
		  "type": "color",
		  "label": "Border color",
		  "id": "border_color",
		  "default": "#d3d3d3"
		},
        {
		  "type": "color",
		  "label": "Pagination color",
		  "id": "pagination_color",
		  "default": "#4B4B4B"
		},
        {
          "type": "header",
          "content": "Section padding"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Padding top",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Padding bottom",
          "default": 36
        }
	],
    "blocks": [
      {
        "type": "Review",
        "name": "Testimonial",
        "settings": [
          {
            "type": "image_picker",
            "id": "review_image",
            "label": "Customer image"
          },
          {
           "type": "select",
           "id": "review_stars",
           "label": "Review rating",
           "options": [
              {
                "value": "5",
                "label": "5"
              },
              {
                "value": "4",
                "label": "4"
              },
              {
                "value": "3",
                "label": "3"
              }
            ],
            "default": "5"
          },
          {
            "type": "richtext",
            "id": "review_text",
            "label": "Review text",
            "default": "<p>I will start by saying that i'm a huge fan of Section Store. I love that it both saves me a lot of time and money. I don't need to hire expensive developers and deal with them. Now i can just find a section i like and add it myself.</p>"
          },
           {
            "type": "text",
            "id": "review_name",
            "label": "Reviewer name",
            "default": "Micheal Laudrup"
          },
          {
            "type": "text",
            "id": "review_product",
            "label": "Review product",
            "default": "Cat socks"
          },
          {
            "type": "url",
            "id": "url_product",
            "label": "Product url"
          }
        ]
      }
    ],
 	"presets": [
      {
        "name": "SS - Testimonial",
         "blocks": [
          {
            "type": "Review"
          },
          {
            "type": "Review"
          },
          {
            "type": "Review"
          }
        ]
      }
	]
  }
{% endschema %}

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script>
    new Swiper('.ss-testimonials-cont .swiper', {
        
        slidesPerView: 'auto',
        simulateTouch: true,
        freeMode: false,
        

        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        }
      
           
    });
</script>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
